[SERVER]
11.11.11.11

[DOWNLOAD]
samtools https://github.com/samtools/samtools/releases/download/1.10/samtools-1.10.tar.bz2 samtools-1.10.tar.bz2

[DEPENDENCY]
set -e
set -x
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule


[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

[APP]
fake = 0
app_name = samtools
app_version = 1.10
compiler = bisheng
build_dir = ${JARVIS_APP}/samtools/1.10-%#MYKBSVER#%/project
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/samtools/1.10

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

if [ ! -f /usr/lib64/libz.so ] || [ ! -f /usr/include/zlib.h ]; then
        echo "ERROR: yum install zlib zlib-devel for /usr/lib64/libz.so"
        exit 1
fi

if [ ! -f /usr/lib64/libbz2.so ] || [ ! -f /usr/include/bzlib.h ]; then
        echo "ERROR: yum install bzip2 bzip2-devel for /usr/lib64/libbz2.so"
        exit 1
fi


if [ ! -f /usr/lib64/liblzma.so ] || [ ! -f /usr/include/lzma/version.h ]; then
        echo "ERROR: yum install xz xz-devel for /usr/lib64/liblzma.so"
        exit 1
fi

if [ ! -f /usr/lib64/libcurl.so ] || [ ! -f  /usr/include/curl/curl.h ]; then
        echo "ERROR: yum install libcurl libcurl-devel for /usr/lib64/libcurl.so"
        exit 1
fi

if [ ! -f /usr/lib64/libcrypto.so ] || [ ! -f /usr/include/openssl/ssl.h ]; then
        echo "ERROR: yum install openssl openssl-devel for /usr/lib64/libcrypto.so"
        exit 1
fi

if [ ! -f /usr/include/ncurses/curses.h ] || [ ! -f /usr/lib64/libncurses.so ]; then
        echo "ERROR: yum install ncurses ncurses-devel ncurses-base ncurses-libs for /usr/include/ncurses/curses.h,/usr/lib64/libncurses.so"
        exit 1
fi

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/samtools/1.10

set +x && build_mod_check "${PATH_INSTALL}/bin/samtools" "prompt" && set -x
####### build start
set +x && echo_info "build start" && set -x

install_path=$1
rm -rf samtools-1.10
tar -jxvf ${JARVIS_DOWNLOAD}/samtools-1.10.tar.bz2
cd samtools-1.10
export CC=clang
./configure --prefix=${PATH_INSTALL}
make CFLAGS="-Wall -O2 -fsigned-char" all all-htslib
make CFLAGS="-Wall -O2 -fsigned-char" install install-htslib
mkdir $1/include/bam -p
cp *.h ${PATH_INSTALL}/include/bam -ar
cp *.a ${PATH_INSTALL}/lib -ar

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load samtools/1.10-%#MYKBSVER#%" >> ${JOBDIR}/env.sh

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_bma
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'
source env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cp ${JARVIS_JOBSCRIPT}/caseshare/bwaoutput/bwa.sam ./ -ar
time -p samtools view -bS bwa.sam > bwa.bam
time -p samtools sort bwa.bam > bwa.sort
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source env.sh
cp ${JARVIS_JOBSCRIPT}/caseshare/bwaoutput/bwa.sam ./ -ar
time -p samtools view -bS bwa.sam > bwa.bam
time -p samtools sort bwa.bam > bwa.sort
EOF

cat > ${JOBDIR}/samtools-1.1-run.sh << EOF
#!/bin/bash
[ ! -f ${JARVIS_JOBSCRIPT}/caseshare/bwaoutput/bwa.sam ] && echo "do bma case firstly" && exit 1
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/samtools-1.1-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
