[SERVER]
11.11.11.11

[DOWNLOAD]
copasi/4.27.217 https://github.com/copasi/COPASI/archive/refs/tags/Build-217.tar.gz COPASI-Build-217.tar.gz
copasi-dependencies/4.26.213 https://github.com/copasi/copasi-dependencies/archive/refs/tags/v4.26.213.tar.gz copasi-dependencies-4.26.213.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules

./jarvis -install qt5/5.12.12 any
module load qt5/5.12.12

./jarvis -install python2/2.7.16 any

./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule

./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2

echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load cmake/3.28.2
module load qt5/5.12.12
module load python2/2.7.16

[APP]
fake = 0
app_name = copasi
app_version = 4.27.217
compiler = gcc
build_dir = ${JARVIS_DEV}/copasi-4.27.217
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/copasi/4.27.217

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

set +x && check_install_path "${PATH_INSTALL}" && set -x
set +x && build_mod_check "${PATH_INSTALL}/bin/CopasiSE" "prompt" && set -x
set +x && rm_file_from_base ${PATH_INSTALL}/bin CopasiSE  && set -x
####### build prepare
set +x && echo_info "build prepare!!!" && set -x

set +x && check_rpms_installed uuid-devel mesa-libGLU-devel

if [ -d "COPASI-Build-217" ]; then
rm -rf COPASI-Build-217
fi
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/COPASI-Build-217.tar.gz

if [ -d "copasi-dependencies-4.26.213" ]; then
rm -rf copasi-dependencies-4.26.213
fi
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/copasi-dependencies-4.26.213.tar.gz

####### build start
set +x && echo_info "build start" && set -x

cd copasi-dependencies-4.26.213
sed -i "13s|x86_64|aarch64|" createLinux.sh
set +x && ./createLinux.sh
cd ..

cd COPASI-Build-217
mkdir build
cd build
cmake .. -DBUILD_GUI=OFF \
      -DCMAKE_INSTALL_PREFIX=${PATH_INSTALL} \
      -DCOPASI_DEPENDENCY_DIR=${JARVIS_DEV}/copasi-4.27.217/copasi-dependencies-4.26.213/bin \
      -DBUILD_TESTS=ON
make
make install

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/copasi/4.27.217
mkdir -p ${JOBDIR}

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_bma
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'
source env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
module purge
module use $JARVIS_MODULES/modules
module load copasi/4.27.217-%#MYKGCCVER#%

cd ${JARVIS_DEV}/copasi-4.27.217/COPASI-Build-217/build
make test
EOF


cat > ${JOBDIR}/copasi-4.27.217-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/copasi-4.27.217-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
