[SERVER]
11.11.11.11

[DOWNLOAD]
qt/5.9.4 https://download.qt.io/archive/qt/5.9/5.9.4/single/qt-everywhere-opensource-src-5.9.4.tar.xz

[DEPENDENCY]
set -e
set -x
yum install -y mesa* libglvnd-opengl freeglut libGLEW
yum install -y xcb* libxcb*
yum install -y libX11-devel libXext-devel libXtst-devel libxkbcommon-devel libXrender libXrender-devel libgcrypt-devel libgcrypt pciutils-devel nss-devel cups-devel pulseaudio-libs-devel libgudev1-devel systemd-devel libcap-devel alsa-lib-devel ruby dbus libXrandr-devel libXcomposite-devel libXcursor-devel dbus-devel fontconfig-devel
yum install -y gperf bison flex
yum install -y libjpeg-devel
yum install -y expat-devel
yum install -y libevent-devel
yum install -y libxkbcommon-x11-devel
yum install -y libwebp-devel
module purge
./jarvis -install python2/2.7.16 any
module use ./software/modulefiles
module load python2/2.7.16
./jarvis -install hpckit/${HPCKIT_VERSION} any
module load hpckit${HPCKIT_VERSION}/gcc/compiler12.3.1/gccmodule python2/2.7.16
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
cd $JARVIS_ROOT
rm -rf qt-everywhere-opensource-src-5.9.4
tar -Jxvf ${JARVIS_DOWNLOAD}/qt-everywhere-opensource-src-5.9.4.tar.xz
rm -rf QT
mkdir -p QT

[ENV]
module purge
module use ./software/modulefiles
module load python2/2.7.16
module load hpckit${HPCKIT_VERSION}/gcc/compiler12.3.1/gccmodule python2/2.7.16
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
export QT_DIR=${JARVIS_ROOT}/QT
export PATH=$QT_DIR/bin:$PATH

[APP]
app_name = qt
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir =

[BUILD]
cd qt-everywhere-opensource-src-5.9.4
sed -i '42i\#include <limits>' ./qtbase/src/corelib/tools/qbytearraymatcher.h
./configure --prefix=${JARVIS_ROOT}/QT -nomake tests -nomake examples -confirm-license  -opensource -qt-xcb --no-openssl -skip qtwebengine
patch -p1 < ${JARVIS_ROOT}/templates/qt/5.9.3/qt-5.9.3.patch
sed -i '12i\#include <limits>' ./qtwebengine/src/3rdparty/chromium/v8/src/utils.h
sed -i '44i #include <linux/sockios.h>' /root/hpcrunner/qt-everywhere-opensource-src-5.9.4/qtserialbus/src/plugins/canbus/socketcan/socketcanbackend.cpp
export qtlocation=${JARVIS_ROOT}/qt-everywhere-opensource-src-5.9.4/qtlocation/src/3rdparty/mapbox-gl-native
sed -i '3i #include <stdexcept>' ${qtlocation}/platform/default/bidi.cpp
sed -i '2i #include <stdexcept>' ${qtlocation}/src/mbgl/util/convert.cpp

# 设置编译环境
export CPLUS_INCLUDE_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/latest/compiler/gcc/include/c++/12.3.1:$CPLUS_INCLUDE_PATH
export PKG_CONFIG_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/hmpi/gcc/release/hmpi/lib/pkgconfig:$PKG_CONFIG_PATH
make -j $(nproc) 
make install

[CLEAN]
make clean

[RUN]
run = qmake -v
binary = 
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all

