[SERVER]
11.11.11.11

[DOWNLOAD]
cdo/1.9.8 https://code.mpimet.mpg.de/attachments/download/20826/cdo-1.9.8.tar.gz

[DEPENDENCY]
./jarvis -install package/hpckit/24.0.0/ any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi

export CC=mpicc FC=mpifort CXX=mpicxx

./jarvis -install package/hdf5/1.12.0/clang bisheng+mpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.1.0-hmpi2.4.3/
module load hdf5-clang/1.12.0
./jarvis -install package/pnetcdf/1.11.2 bisheng+mpi
module load pnetcdf/1.11.2
./jarvis -install package/netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4
./jarvis -install package/grib_api/1.21.0 bisheng+mpi
module load grib_api/1.21.0


[ENV]
module use ${JARVIS_ROOT}/software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.1.0-hmpi2.4.3/
module load hdf5-clang/1.12.0
module load pnetcdf/1.11.2
module load netcdf-clang/4.7.4
module load grib_api/1.21.0

[APP]
app_name = cdo
build_dir = ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/cdo-1.9.8
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/cdo-1.9.8/bin
case_dir =

[BUILD]
set -x
cd ${JARVIS_TMP}
installdir=${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/cdo-1.9.8
mkdir -p ${installdir}
rm -rf cdo-1.9.8
tar xf ${JARVIS_ROOT}/downloads/cdo-1.9.8.tar.gz
cd cdo-1.9.8/
./configure --prefix=${installdir} --with-netcdf=${NETCDF_CLANG_PATH} --with-hdf5=${HDF5_CLANG_PATH} --with-grib_api=${GRIB_API_PATH} CC=mpicc CXX=mpicxx FC=mpifort
make -j
make install


[CLEAN]
rm -rf $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/cdo-1.9.8

[RUN]
run =   
binary = $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="cdo-proformance.log"

>"$LOG_FILE"

$RUN_TOOL "cdo" "mpirun --allow-run-as-root -np 64 cdo XXXX" $LOG_FILE
#mpirun --allow-run-as-root -np 64 cdo XXXXX

echo "All commands executed. Performance log saved to $LOG_FILE"

[JOB]
#!/bin/sh
#DSUB -n cdo_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo cdo.%J.out
#DSUB -oe cdo.%J.err

LOG_FILE="cdo-proformance.log"

>"$LOG_FILE"

$RUN_TOOL "cdo" "mpirun --allow-run-as-root -np 64 cdo XXXX" $LOG_FILE

echo "ALL commands executed. Performance log saved to $LOG_FILE"

