[SERVER]
11.11.11.11

[DOWNLOAD]
TopHat/2.1.1 https://ccb.jhu.edu/software/tophat/downloads/tophat-2.1.1.tar.gz
test_data/ https://ccb.jhu.edu/software/tophat/downloads/test_data.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1
./jarvis -install hmpi/2.4.2 gcc
module load hmpi/2.4.2
sed -i '/cd Python-2.7.16/a sed -i "s/-fp-model strict/-ffloat-store/" configure' ${JARVIS_ROOT}/package/python2/2.7.16/install.sh
./jarvis -install python2/2.7.16 gcc+mpi
module load python2/2.7.16
sed -i '/cd bowtie2-2.4.5/a sed -i "s/zlib.net/zlib.net\\/fossils/g" Makefile' ${JARVIS_ROOT}/package/bowtie2/2.4.5/install.sh
sed -i 's/-stdlib=libc++/-stdlib=libstdc++/g' ${JARVIS_ROOT}/package/bowtie2/2.4.5/install.sh
./jarvis -install bowtie2/2.4.5 gcc+mpi
export PATH=/opt/hpcrunner/software/libs/bisheng2.1.0/bowtie2/2.4.5/bin:$PATH
sed -i 's/python3/python2/g' ${JARVIS_ROOT}/package/boost-python/1.72.0/install.sh
sed -i 's/\.\/bootstrap.sh/\.\/bootstrap.sh --with-libraries=system,thread/' ${JARVIS_ROOT}/package/boost-python/1.72.0/install.sh
./jarvis -install boost-python/1.72.0 gcc+mpi
module load boost-python/1.72.0

mkdir -p ${JARVIS_ROOT}/software/apps/tophat
tar -zxvf ${JARVIS_DOWNLOAD}/tophat-2.1.1.tar.gz -C ${JARVIS_TMP_DOWNLOAD}
tar -zxvf ${JARVIS_DOWNLOAD}/test_data.tar.gz -C ${JARVIS_TMP_DOWNLOAD}/tophat-2.1.1/

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load hmpi/2.4.2
module load python2/2.7.16
export PATH=/opt/hpcrunner/software/libs/bisheng2.1.0/bowtie2/2.4.5/bin:$PATH
module load boost-python/1.72.0

[APP]
app_name = tophat
build_dir = ${JARVIS_TMP_DOWNLOAD}/tophat-2.1.1
binary_dir = ${JARVIS_ROOT}/software/apps/tophat/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/tophat-2.1.1/test_data

[BUILD]
sed -i 's/^CC=.*/CC=             mpicc/' src/samtools-0.1.18/Makefile
sed -i 's/^CC=.*/CC=             mpicc/' src/samtools-0.1.18/bcftools/Makefile
sed -i 's/<Junction, JunctionStats>//g' src/tophat_reports.cpp
PYTHON=`which python3` CC=`which mpicc` CXX=`which mpicxx` ./configure --prefix=${JARVIS_ROOT}/software/apps/tophat --with-boost=${JARVIS_LIBS}/kgcc10.3.1/hmpi2.4.2/boost-python/1.72.0
make
make install

[CLEAN]
make clean

[RUN]
run = 
binary = tophat -r 20 test_ref reads_1.fq reads_2.fq
nodes = 1
