[SERVER]
11.11.11.11

[DOWNLOAD]
obspy/RJOB_061005_072159 https://examples.obspy.org/RJOB_061005_072159.ehz.new RJOB_061005_072159.ehz.new

[DEPENDENCY]
set -e
module purge
module use $JARVIS_MODULES/modules
./jarvis -install anaconda3/2024.10 any
module load anaconda3/2024.10
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load anaconda3/2024.10


[APP]
fake = 1
app_name = obspy
app_version = 1.4.2
compiler = gcc
build_dir = ${JARVIS_APP}/obspy/1.4.2-gcc10.3.1/project
binary_dir = ${JARVIS_DEV}/obspy/1.4.2
case_dir = ${JARVIS_JOBSCRIPT}/obspy/1.4.2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

#set +x && build_mod_check "${BUILD_DIR}/phonopy-2.25.0/dist/phonopy-2.25.0-cp310-cp310-linux_aarch64.whl" "prompt" && set -x
set +x
echo "CONDA_SH:${CONDA_SH}"
source $CONDA_SH
set -x
conda config --add channels conda-forge
conda config --add channels https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main/
conda config --add channels https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free/
conda config --add channels https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge/
conda config --set show_channel_urls yes

OBSPY_ENV=${BUILD_DIR}/conda_env/myobspy
if [ "$(conda env list | grep  -w myobspy | awk '{print $1}')" != "myobspy" ]; then
conda create  --prefix=${OBSPY_ENV} python=3.10 obspy=1.4.2 cartopy pytest pytest-json pytest-json-report geographiclib certifi
fi
conda activate ${OBSPY_ENV}

if [ "$PY_CERTIFY_ENABLE" == "YES" ]; then
DST="${JARVIS_DOWNLOAD}/certificates/huawei_proxies/Huawei Web Secure Internet Gateway CA_proxy.huawei.com.crt"
set +e
CERT_STORE_PATH=$(python3 -c "import certifi;print(certifi.where())" | tail -n1)
set -e
[ "AB${CERT_STORE_PATH}BA" == "ABBA" ] && exit 1
NEW_CERTI_PATH_01="$(dirname ${CERT_STORE_PATH})/01_$(basename ${CERT_STORE_PATH})"
NEW_CERTI_PATH_02="$(dirname ${CERT_STORE_PATH})/02_$(basename ${CERT_STORE_PATH})"
if [ ! -f ${NEW_CERTI_PATH_01} ]; then
cp ${CERT_STORE_PATH} ${NEW_CERTI_PATH_01} -ar
cp ${CERT_STORE_PATH} ${NEW_CERTI_PATH_02} -ar
fi
if ! diff ${NEW_CERTI_PATH_01} ${CERT_STORE_PATH} > /dev/null ; then
cp ${CERT_STORE_PATH} ${NEW_CERTI_PATH_01} -ar
cp ${CERT_STORE_PATH} ${NEW_CERTI_PATH_02} -ar
fi
echo "CERT_STORE_PATH:${CERT_STORE_PATH}"
if ! echo $(file_contains  "${NEW_CERTI_PATH_02}" "${DST}") | grep -q "RES_CODE: 0" ; then
cat "${DST}" >> "${NEW_CERTI_PATH_02}"
fi

export REQUESTS_CA_BUNDLE="${NEW_CERTI_PATH_02}"
fi ### PY_CERTIFY_ENABLE

obspy-runtests


####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/obspy/1.4.2
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "source \$CONDA_SH" >> ${JOBDIR}/env.sh
cp ${JARVIS_ROOT}/dataconfig_patches/obspy/1.4.2/seismogram.py ${JOBDIR}/ -ar
cp ${JARVIS_DOWNLOAD}/RJOB_061005_072159.ehz.new  ${JOBDIR}/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
EOF

cat > ${JOBDIR}/local_run.sh << EOF
EOF

cat > ${JOBDIR}/obspy-1.4.2-run.sh << EOF
#!/bin/bash
source env.sh
conda activate ${OBSPY_ENV}
python3 seismogram.py
#obspy-runtests
pytest
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/obspy-1.4.2-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
