[SERVER]
11.11.11.11

[DOWNLOAD]
trinity/2.14.0 $JARVIS_PROXY/trinityrnaseq/trinityrnaseq/releases/download/Trinity-v2.14.0/trinityrnaseq-v2.14.0.FULL_with_extendedTestData.tar.gz

[DEPENDENCY]
set -e
set -x

yum install -y libatomic python3
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}

./jarvis -install zlib/1.2.11 bisheng
./jarvis -install boost/1.72.0/clang bisheng
./jarvis -install jellyfish/2.3.0 bisheng
./jarvis -install samtools/1.15 bisheng
module load boost-clang/1.72.0
./jarvis -install salmon/1.9.0/bisheng bisheng
./jarvis -install bowtie2/2.4.5 bisheng

cd ${JARVIS_ROOT}
rm -rf trinity_pyenv
python3 -m venv trinity_pyenv
source trinity_pyenv/bin/activate
pip install numpy

cd ${JARVIS_TMP}
rm -rf trinityrnaseq-v2.14.0
tar -xvf ${JARVIS_DOWNLOAD}/trinityrnaseq-v2.14.0.FULL_with_extendedTestData.tar.gz -C ${JARVIS_TMP}
cd trinityrnaseq-v2.14.0
sed -i 's/\-m64/\ /g' `grep -rl "\-m64" ./`
sed -i 's/autoconf/autoreconf -ivf/g' trinity-plugins/bamsifter/build_htslib.sh
sed -i 's#./configure --prefix=`pwd`/build/#./configure --prefix=`pwd`/build/  --host=aarch64-unknown-linux-gnu#g' trinity-plugins/bamsifter/build_htslib.sh

[ENV]
module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}

module load zlib/1.2.11
module load jellyfish/2.3.0
module load samtools/1.15
module load boost-clang/1.72.0
module load salmon-bisheng/1.9.0
module load bowtie2/2.4.5

[APP]
app_name = trinity
build_dir = ${JARVIS_TMP}/trinityrnaseq-v2.14.0
binary_dir = 
case_dir = ${JARVIS_TMP}/trinityrnaseq-v2.14.0

[BUILD]
make CC=`which clang` CXX=`which clang++` -j
mkdir -p ${JARVIS_LIBS}/bisheng2.1.0/trinity/bin
cp Trinity ${JARVIS_LIBS}/bisheng2.1.0/trinity/bin

[RUN]
run = make test_trinity
binary = 
nodes = 1
