[SERVER]
11.11.11.11

[DOWNLOAD]
true

[DEPENDENCY]
set -e

module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
./jarvis -install lapack/3.8.0/clang bisheng
module load lapack-clang/3.8.0-bisheng4.2.0  


[ENV]
module purge
module use $JARVIS_MODULES/modules
module load cmake/3.28.2
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
module load lapack-clang/3.8.0-bisheng4.2.0

[APP]
fake = 1
app_name = devlapack
app_version = 3.8.0
compiler = bisheng
build_dir = ${JARVIS_DEV}/devlapack/3.8.0
binary_dir = ${JARVIS_DEV}/devlapack/3.8.0
case_dir = ${JARVIS_JOBSCRIPT}/lapack/3.8.0

[BUILD]
set -e
set -x

####  build
echo "build start"
echo "build done!!!"

#### install jobsript for case test
echo "Install start"
JOB_DIR="${JARVIS_JOBSCRIPT}/lapack/3.8.0"
mkdir -p ${JOB_DIR}
${JARVIS_DEV}/devlapack/3.8.0/env.sh_gen.sh ${JARVIS_JOBSCRIPT}/lapack/3.8.0/env.sh
cat > ${JOB_DIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_cmake
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o cmake_out_%J.log
#DSUB -e cmake_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cmake
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited
cd fftw-3.3.8/tests
{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm make check ; } 2>&1 | tee tee_lapack.xlog
EOF


cat > ${JOB_DIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd lapack-3.8.0/build
echo -e "\033[0;32m=============================\033[0m"
{ time  -p  mpirun --allow-run-as-root -np 1 --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm make test ; } 2>&1 | tee tee_lapack.xlog
echo -e "\033[0;32m=============================\033[0m"
EOF

cat > ${JOB_DIR}/lapack-3.8.0-run.sh << EOF
#!/bin/bash
source ./env.sh
src_prj=\$(perl -ne 'print "\$1\n" if /"projectURL"\s*:\s*"([^"]*)"/' \${LAPACK_CLANG_PATH}/install_registry.json)
echo "Found test project:\${src_prj}"
cp \${src_prj} ./ -ar
./local_run.sh 2>&1 | tee tee_local_run.xlog
#dsub -s job_run.sh
EOF


chmod u+x ${JOB_DIR}/env.sh
chmod u+x ${JOB_DIR}/job_run.sh
chmod u+x ${JOB_DIR}/local_run.sh
chmod u+x ${JOB_DIR}/lapack-3.8.0-run.sh

echo "Install done!!!"

[CLEAN]
echo "make clean"

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1 cmake --version
binary = cmake --version 
nodes = 1

[BATCH]
mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1 cmake --version

[JOB]
#!/bin/bash
#DSUB -n case_cmake
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o cmake_out_%J.log
#DSUB -e cmake_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cmake
rm -f $HOSTFILE
touch $HOSTFILE
cat ${CCSCHEDULER_ALLOC_FILE} | sort > $HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm mpirun --version ; } 2>&1 | tee tee_mpirun.xlog
