[SERVER]
11.11.11.11

[DOWNLOAD]
specfem3d/4.1.1 https://github.com/SPECFEM/specfem3d/archive/refs/tags/v4.1.1.tar.gz specfem3d_v4.1.1.tar.gz

[DEPENDENCY]
set -e

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001

echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/kml25.1.0.SPC001/kml
module load bisheng/%#MYKMPIVER#%/release

[APP]
fake = 0
app_name = specfem3d
app_version = 4.1.1
compiler = bisheng+mpi
build_dir = ${JARVIS_DEV}/specfem3d/4.1.1-%#MYKBSVER#%-%#MYKMPIVER#%
binary_dir = ${JARVIS_DEV}/specfem3d/4.1.1-%#MYKBSVER#%-%#MYKMPIVER#%
case_dir = ${JARVIS_JOBSCRIPT}/specfem3d/4.1.1

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x
install_path=$1

build_mod_check "${PATH_INSTALL}/specfem3d-4.1.1/bin/xspecfem3D" "prompt"
cd $install_path

rm -rf specfem3d-4.1.1
if [ ! -d "specfem3d-4.1.1" ]; then
tar --no-same-owner -zxvf $JARVIS_DOWNLOAD/specfem3d_v4.1.1.tar.gz
fi
cd specfem3d-4.1.1

sed -i "582c\    K(i) = floor(int(z'100000000', kind=8) * dabs(dsin((i-1) + 1.d0)))" src/specfem3D/read_stations.f90

./configure FC=mpif90 CC=mpicc CXX=mpicxx CFLAGS="-O3" FCFLAGS="-O3"
make -j16 all


####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x

JOBDIR=${JARVIS_JOBSCRIPT}/specfem3d/4.1.1
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load specfem3d/4.1.1-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOBDIR}/env.sh
rm -rf ${JOBDIR}/specfem3d-4.1.1
cp ${PATH_INSTALL}/specfem3d-4.1.1 ${JOBDIR}/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_specfem3d
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=256"
#DSUB -o out_%J.log
#DSUB -e err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.wrf
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

cd specfem3d-4.1.1
sed -i 's/^NPROC                           =.*/NPROC                           = 256/' DATA/Par_file
sed -i '42c\mpirun -np \$NPROC   -bind-to core --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 -x UCX_TLS=self,sm  -x UCX_WARN_UNUSED_ENV_VARS=n  ./bin/xspecfem3D' ./run_this_example.sh
{ time ./run_this_example.sh ;} | tee tee_out.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd specfem3d-4.1.1
sed -i 's/^NPROC                           =.*/NPROC                           = 128/' DATA/Par_file
sed -i '42c\mpirun -np \$NPROC -np 128 -bind-to core --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 -x UCX_TLS=self,sm  -x UCX_WARN_UNUSED_ENV_VARS=n  ./bin/xspecfem3D' ./run_this_example.sh
{ time ./run_this_example.sh ;} | tee tee_out.xlog
EOF

cat > ${JOBDIR}/specfem3d-4.1.1-run.sh << EOF
#!/bin/bash
source ./env.sh

./local_run.sh
dsub -s ./job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/specfem3d-4.1.1-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
