[SERVER]
11.11.11.11

[DOWNLOAD]
hpcg/3.1

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.5.0 com
module load bisheng/2.5.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/1.2.0 clang
if [ ! -d "hpcg" ]; then
   git config --global http.sslVerify false
   git clone --depth=1 https://github.com/hpcg-benchmark/hpcg.git 
fi


[ENV]
module purge
module use software/modulefiles
module load bisheng/2.5.0
module load hmpi/1.2.0
export CC=mpicc CXX=mpic++ FC=mpifort
export HPCG_HOME=$JARVIS_ROOT/hpcg

[APP]
app_name = hpcg
build_dir = $HPCG_HOME
binary_dir = $HPCG_HOME/bin/
case_dir = $HPCG_HOME/bin/

[BUILD]
cat << \EOF > setup/Make.MPI_GCC_OMP
SHELL        = /bin/sh
CD           = cd
CP           = cp
LN_S         = ln -s -f
MKDIR        = mkdir -p
RM           = /bin/rm -f
TOUCH        = touch
TOPdir       = .
SRCdir       = $(TOPdir)/src
INCdir       = $(TOPdir)/src
BINdir       = $(TOPdir)/bin
HPCG_INCLUDES = -I$(INCdir) -I$(INCdir)/$(arch) $(MPinc)
HPCG_LIBS     =
HPCG_OPTS     =
HPCG_DEFS     = $(HPCG_OPTS) $(HPCG_INCLUDES)
CXX          = mpicxx
CXXFLAGS     = $(HPCG_DEFS) -O3 -ffast-math -ftree-vectorize -fopenmp
LINKER       = $(CXX)
LINKFLAGS    = $(CXXFLAGS)
ARCHIVER     = ar
ARFLAGS      = r
RANLIB       = echo
EOF
./configure MPI_GCC_OMP
make -j
echo "check if SVE exists"
objdump -d bin/xhpcg | grep p0

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -np 32 
binary = xhpcg 104 104 104
nodes = 1 
