[SERVER]
11.11.11.11

[DOWNLOAD]
hpcg/3.1

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1
export CC=gcc CXX=g++ FC=gfortran
./jarvis -install hmpi/1.2.0 gcc
if [ ! -d "hpcg" ]; then
   git config --global http.sslVerify false
   git clone --depth=1 https://github.com/hpcg-benchmark/hpcg.git
fi

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load hmpi/1.2.0
export CC=mpicc CXX=mpic++ FC=mpifort
export HPCG_HOME= $JARVIS_ROOT/hpcg

[APP]
app_name = hpcg
build_dir = $HPCG_HOME
binary_dir = $HPCG_HOME/bin/
case_dir = $HPCG_HOME/bin/

[BUILD]
make -j
echo "check if SVE exists"
objdump -d bin/xhpcg | grep p0

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -np 32 
binary = xhpcg 104 104 104
nodes = 1 
