[SERVER]
11.11.11.11

[DOWNLOAD]
qgis/3.34.7 https://github.com/qgis/QGIS/archive/refs/tags/final-3_34_7.zip QGIS-final-3_34_7.zip

[DEPENDENCY]
set -e
set -x

dnf install -y python3 python3-devel cmake

./jarvis -install bisheng/4.1.0 com
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

./jarvis -install hmpi/2.4.2 bisheng
module load hmpi/2.4.2

./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module load hdf5-clang/1.12.0

./jarvis -install gdal/3.4.1 bisheng+mpi
module load gdal/3.4.1
pip3 install GDAL==3.4.1

module load bisheng/4.1.0

./jarvis -install pdal/2.3.0 bisheng
module load pdal/2.3.0

./jarvis -install draco/1.5.2 bisheng
module load draco/1.5.2

./jarvis -install qwt/6.1.5 bisheng
module load qwt/6.1.5

./jarvis -install qtkeychain/0.13.2 bisheng
module load qtkeychain/0.13.2

./jarvis -install spatialindex/1.9.3 bisheng
module load spatialindex/1.9.3

pip3 install OWSLib==0.25.0

yum install -y qt5-qtbase-private-devel qt5-qtwebkit-devel qt5-qtlocation-devel qt5-qtmultimedia-devel qt5-qttools-static qca-qt5-devel qca-qt5-ossl qt5-qt3d-devel python3-qt5-devel python3-qscintilla-qt5-devel qscintilla-qt5-devel python3-qscintilla-qt5 clang flex bison geos-devel hdf5-devel sqlite-devel libspatialite-devel qt5-qtsvg-devel qt5-qtbase-odbc expat-devel proj-devel gsl-devel postgresql-devel python3-psycopg2 python3-PyYAML python3-pygments python3-jinja2 qca-qt5-ossl libzip-devel exiv2-devel python3-sip-devel protobuf-lite protobuf-lite-devel libzstd-devel qt5-qtserialport-devel

rm -rf QGIS-final-3_34_7
unzip ${JARVIS_DOWNLOAD}/QGIS-final-3_34_7.zip

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load hmpi/2.4.2
export CPATH=${HMPI_PATH}/include:$CPATH

module use ./software/moduledeps/bisheng4.1.0-hmpi2.4.2
module load hdf5-clang/1.12.0
module load gdal/3.4.1

module load pdal/2.3.0
module load draco/1.5.2
export CPATH=${DRACO_PATH}/include:$CPATH
module load qwt/6.1.5
module load qtkeychain/0.13.2
module load spatialindex/1.9.3

[APP]
app_name = qgis
build_dir = ${JARVIS_ROOT}/QGIS-final-3_34_7
binary_dir = 
case_dir = ${JARVIS_ROOT}/QGIS-final-3_34_7/build

[BUILD]
mkdir -p build
cd build
cmake -DENABLE_TESTS=TRUE -DDRACO_INCLUDE_DIR=${DRACO_PATH}/include -DDRACO_LIBRARY=${DRACO_PATH}/lib64/libdraco.so -DQWT_INCLUDE_DIR=${QWT_PATH}/include -DQWT_LIBRARY=${QWT_PATH}/lib/libqwt.so -DSPATIALINDEX_INCLUDE_PATH=${SPATIALINDEX_PATH}/include -DSPATIALINDEX_LIBRARY=${SPATIALINDEX_PATH}/lib/libspatialindex.so -DQTKEYCHAIN_INCLUDE_PATH=${QTKEYCHAIN_PATH}/include/qt5keychain -DQTKEYCHAIN_LIBRARY=${QTKEYCHAIN_PATH}/lib64/libqt5keychain.so ..
make -j
make install

[CLEAN]
make clean

[RUN]
run = make test
binary = 
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
