[SERVER]
11.11.11.11

[DOWNLOAD]
abyss/2.2.4 https://github.com/bcgsc/abyss/archive/2.2.4.tar.gz abyss-2.2.4.tar.gz
test-data https://www.bcgsc.ca/platform/bioinfo/software/abyss/releases/1.3.4/test-data.tar.gz test-data.tar.gz

[DEPENDENCY]
set -e
set -x
yum install -y vim tar git wget automake autoconf libtool make cmake
./jarvis -install bisheng/4.1.0 com
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/2.4.2 clang
module use ./software/moduledeps/bisheng4.1.0
module load hmpi/2.4.2
./jarvis -install boost/1.72.0/clang bisheng
module load boost-clang/1.72.0
yum install libomp  -y
tar -vzxf ${JARVIS_DOWNLOAD}/abyss-2.2.4.tar.gz
mkdir -p ABYSS
tar xvf ${JARVIS_DOWNLOAD}/test-data.tar.gz

[ENV]
yum install -y vim tar git wget automake autoconf libtool make cmake
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module use ./software/moduledeps/bisheng4.1.0
module load hmpi/2.4.2
yum install libomp  -y
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module use ./software/moduledeps/bisheng4.1.0
module load boost-clang/1.72.0

[APP]
app_name = abyss
build_dir = ${JARVIS_ROOT}/abyss-2.2.4/
binary_dir = ${JARVIS_ROOT}/ABYSS/bin
case_dir = ${JARVIS_ROOT}/test-data/

[BUILD]
./autogen.sh
export CURRENT_MPI_PATH=`which mpirun | sed 's/\/bin\/mpirun//g'`
./configure --prefix=${JARVIS_ROOT}/ABYSS --with-boost=${BOOST_PATH} --without-sparsehash --with-mpi=$CURRENT_MPI_PATH
make -j 32 AM_CXXFLAGS=-Wall
make install AM_CXXFLAGS=-Wall
sed -i '543s/\$(mpirun)/\$(mpirun) --allow-run-as-root -mca coll_hcoll_enable 0/' "${JARVIS_ROOT}/ABYSS/bin/abyss-pe"
sed -i '551s/\$(mpirun)/\$(mpirun) --allow-run-as-root -mca coll_hcoll_enable 0/' "${JARVIS_ROOT}/ABYSS/bin/abyss-pe"



[CLEAN]
make clean

[RUN]
run =
binary = abyss-pe k=25 name=test in="reads1.fastq reads2.fastq"
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
