[SERVER]
11.11.11.11

[DOWNLOAD]
CardinalOptimizer/6.5.4 https://pub.shanshu.ai/download/copt/6.5.4/aarch64/CardinalOptimizer-6.5.4-aarch64_lnx.tar.gz

[DEPENDENCY]
set -e
set -x
./jarvis -install prefetch/1.0 any
tar -xzvf ./downloads/CardinalOptimizer-6.5.4-aarch64_lnx.tar.gz

[ENV]
echo 3 > /sys/class/misc/prefetch/policy
export NUSP_HOME=$JARVIS_ROOT/copt60
export LD_LIBRARY_PATH=$NUSP_HOME/lib:$LD_LIBRARY_PATH
export PATH=$NUSP_HOME/bin:$PATH

[APP]
app_name = COPT
build_dir = ./copt60/lib/python
binary_dir = ./
case_dir = ./copt60/

[BUILD]
python setup.py install
copt_cmd

[CLEAN]
python uninstall copt

[RUN]
run = python
binary = testCOPTMPS.py
nodes = 1