[SERVER]
11.11.11.11


[DEPENDENCY]
./jarvis -install bisheng/2.1.0 com

[ENV]
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[APP]
app_name = blas
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =

[BUILD]
./jarvis -install blas/3.10.0/clang clang


[RUN]
run =
binary =
node = 1
