[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[APP]
app_name = blas
build_dir = $JARVIS_ROOT
binary_dir =
case_dir = ${JARVIS_TMP}/BLAS-3.10.0

[BUILD]
./jarvis -install blas/3.10.0/clang clang
sed -i '18c FC  = flang' ${JARVIS_TMP}/BLAS-3.10.0/make.inc

[RUN]
run = make blas_testing
binary =
nodes = 1

