[SERVER]
11.11.11.11

[DOWNLOAD]
code_aster/14.6.0 https://www.code-aster.org/FICHIERS/aster-full-src-14.6.0-1.noarch.tar.gz aster-full-src-14.6.0-1.noarch.tar.gz

[DEPENDENCY]
set -e
set -x

yum install -y vim tar git wget automake autoconf libtool make cmake
./jarvis -install hpckit/2024.12.30 any
source software/utils/hpckit/2024.12.30/HPCKit/latest/setvars.sh --use-bisheng --force
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
yum -y install zlib* lapack* blas* python3.aarch64 python3-devel.aarch64 cmake3 boost-python* boost boost-devel numpy* python-numpy flex bison tcl tk
yum install -y lapack lapack-devel
yum install -y openblas openblas-devel
yum install -y glibc-devel
pip install -i https://pypi.tuna.tsinghua.edu.cn/simple numpy==1.24.4
tar -xvf ${JARVIS_DOWNLOAD}/aster-full-src-14.6.0-1.noarch.tar.gz
mkdir -p CODE-ASTER

[ENV]
yum install -y vim tar git wget automake autoconf libtool make cmake
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
yum -y install zlib* lapack* blas* python3.aarch64 python3-devel.aarch64 cmake3 boost-python* boost boost-devel numpy* python-numpy flex bison tcl tk
yum install -y lapack lapack-devel
yum install -y openblas openblas-devel

[APP]
app_name = code_aster
build_dir = ${JARVIS_ROOT}/aster-full-src-14.6.0/
binary_dir = ${JARVIS_ROOT}/CODE-ASTER/bin/
case_dir = ${JARVIS_ROOT}/CODE-ASTER/bin/

[BUILD]
sed -i "354s/'ppc64'/'ppc64', 'aarch64'/" setup.py
sed -i "518c\    if cc is None and ftools.check_compiler_name(cc, 'GCC'):" setup.py
sed -i '1538i\      '\''aarch64'\'': '\''shell|script|aarch64'\'',' as_setup.py
sed -i "94i CC='$CC'\nCXX='$CXX'\nF90='$FC'\nLD=F90\nCXXFLAGS=\"-std=c++11\"\nF90FLAGS='-fallow-argument-mismatch'\nLIBDIR=['$HOME/anaconda3/envs/aster/lib', ]" setup.cfg
sed -i '187s|^.*$|   conf_cmd = ("export F77=$F90; "|' products.py
cd SRC
tar xvf aster-14.6.0.tgz
sed -i '103s|^.*$|        if self.env.DEST_CPU == '\''x86_64'\'' or self.env.DEST_CPU == '\''aarch64'\'':|' aster-14.6.0/bibfor/wscript
sed -i '224c\        curr_idmess = idmess.split("\\0")\n        x = curr_idmess.split("_")' aster-14.6.0/bibpyt/Utilitai/Utmess.py
tar cvzf aster-14.6.0.tgz aster-14.6.0
rm -rf aster-14.6.0
tar -xvf tfel-3.2.1-1.tar.gz
sed -i '19i #include <ostream>' tfel-3.2.1/mfront/src/NewtonRaphsonSolvers.cxx
sed -i '19i #include <ostream>' tfel-3.2.1/mfront/src/NewtonRaphsonSolvers.cxx
sed -i '18i #include <ostream>' tfel-3.2.1/mfront/src/BroydenSolvers.cxx
sed -i '18i #include <ostream>' tfel-3.2.1/mfront/src/SecondBroydenSolver.cxx
sed -i '18i #include <ostream>' tfel-3.2.1/mfront/src/LevenbergMarquardtSolvers.cxx
sed -i '21i #include <ostream>' tfel-3.2.1/mfront/include/MFront/MFrontLogStream.hxx
tar -czvf tfel-3.2.1.tar.gz tfel-3.2.1
export LD_LIBRARY_PATH=/usr/lib64:$LD_LIBRARY_PATH
export LIBRARY_PATH=/usr/lib64:$LIBRARY_PATH
sudo ln -sf /usr/lib64/libutil.so.1 /usr/lib64/libutil.so
sudo ln -sf /usr/lib64/libutil.a /usr/lib64/libutil.a
sudo ln -sf /usr/lib64/libdl.so.2 /usr/lib64/libdl.so  
sudo ldconfig        # 更新动态库缓存:ml-citation{ref="6,7" data="citationList"}  

cd ..
echo y | python3 setup.py --prefix=${JARVIS_ROOT}/CODE-ASTER

[CLEAN]
make clean

[RUN]
run =
binary = as_run --version
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
