[SERVER]
11.11.11.11

[DOWNLOAD]
true

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install anaconda3/2023.3 any
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load anaconda3/2023.3
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

[APP]
app_name = deepmd-kit
app_version = 3.0.1
compiler = bisheng+mpi
build_dir = ${JARVIS_DEV}/deepmd-kit/3.0.1
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/deepmd-kit/3.0.1

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/deepmd-kit/3.0.1
CONDA_DEEPMD_ENV=${PATH_INSTALL}/conda_env/deepmd_tf
source ${CONDA_SH}
conda create --prefix=${CONDA_DEEPMD_ENV} python=3.9
conda activate ${CONDA_DEEPMD_ENV}

pip install tensorflow-aarch64==2.9.3 -i https://mirrors.huaweicloud.com/repository/pypi/simple --trusted-host mirrors.huaweicloud.com

tar --no-same-owner -xvf ${JARVIS_DOWNLOAD}/deepmd_root.tar.gz -C $PATH_INSTALL
tar --no-same-owner -xvf ${JARVIS_DOWNLOAD}/DeepMD_TF_kblas.tar.gz -C $PATH_INSTALL
unzip -d $PATH_INSTALL ${JARVIS_DOWNLOAD}/water_lmp.zip

chmod +x $PATH_INSTALL/water_lmp/lmp_omp

echo "Install done!!!"
JOBDIR=${JARVIS_JOBSCRIPT}/deepmd-kit/3.0.1
echo "Creating job script directory: ${JARVIS_JOBSCRIPT}/deepmd-kit/3.0.1/"
mkdir -p ${JARVIS_JOBSCRIPT}/deepmd-kit/3.0.1

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_dpmd
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o job_out_%J.log
#DSUB -e job_err_%J.log
#DSUB -T '2h'

EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
module purge
module use $JARVIS_MODULES/modules
module load anaconda3/2023.3
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load deepmd-kit/3.0.1-%#MYKBSVER#%-%#MYKMPIVER#%
source ${CONDA_SH}
conda activate ${CONDA_DEEPMD_ENV}

cd $PATH_INSTALL/water_lmp
bash run_lmp.sh in.rep.medium.tf.lammps
EOF
cat > ${JOBDIR}/deepmd-3.0.1-run.sh << EOF
#!/bin/bash
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/deepmd-3.0.1-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]

