[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng


[ENV]
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng

export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = bedtools
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =

[BUILD]
./jarvis -install bedtools/2.28.0/clang clang+mpi

[RUN]
run =
binary =
nodes = 1
