[SERVER]
11.11.11.11

[DOWNLOAD]
octopus/10.3 https://octopus-code.org/down.php?file=10.3/octopus-10.3.tar.gz octopus-10.3.tar.gz

[DEPENDENCY]
module purge
./jarvis -install kgcc/9.3.1 com
module use ./software/modulefiles
module load kgcc/9.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install hmpi/1.1.1 gcc
./jarvis -install gsl/2.6 gcc
./jarvis -install lapack/3.8.0 gcc
./jarvis -install libxc/4.3.4 gcc
./jarvis -install blas/3.10.0  gcc

module load hmpi/1.1.1
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export OPAL_PREFIX=$JARVIS_MPI/hmpi1.1.1-kgcc9.3.1/1.1.1
./jarvis -install fftw/3.3.8 gcc+mpi
tar -xvf ${JARVIS_DOWNLOAD}/octopus-10.3.tar.gz

[ENV]
module use ./software/modulefiles
module purge
module load kgcc/9.3.1
module load hmpi/1.1.1
export OPAL_PREFIX=$JARVIS_MPI/hmpi1.1.1-kgcc9.3.1/1.1.1
module load blas/3.10.0
module load lapack/3.8.0
module load gsl/2.6
module load libxc/4.3.4

[APP]
app_name = octopus
build_dir = ${JARVIS_ROOT}/octopus-10.3
binary_dir = ./software/apps/kgcc9.3.1/octopus/10.3
case_dir =

[BUILD]
./configure  --prefix=${JARVIS_ROOT}/software/apps/kgcc9.3.1/octopus/10.3  CFLAGS='-O3 -march=armv8.2-a -mtune=tsv110'  FCFLAGS='-O3 -march=armv8.2-a -mtune=tsv110 ' LIBS="-Wl,-rpath=${JARVIS_ROOT}/software/compiler/kgcc/9.3.1/lib64/libhpc -L${JARVIS_ROOT}/software/compiler/kgcc/9.3.1/lib64/libhpc -lmathlib -lm " --with-gsl-prefix=${JARVIS_LIBS}/kgcc9.3.1/gsl/2.6 --with-libxc-prefix=${JARVIS_LIBS}/kgcc9.3.1/libxc/4.3.4 --with-fftw-prefix=${JARVIS_LIBS}/kgcc9.3.1/fftw/3.3.8 --with-blas=${JARVIS_LIBS}/kgcc9.3.1/lapack/3.8.0/lib/librefblas.a  --with-lapack=${JARVIS_LIBS}/kgcc9.3.1/lapack/3.8.0/lib/liblapack.a  --enable-mpi
sed -i '185c\      conf%share = &' src/basic/global.F90
sed -i '185a\SHARE_DIR' src/basic/global.F90
sed -i '191c\     conf%cc         = &' src/basic/global.F90
sed -i '191a\CC' src/basic/global.F90
sed -i '196c\     conf%cxx        = &' src/basic/global.F90
sed -i '196a\CXX' src/basic/global.F90
sed -i '200c\     conf%fc         = &' src/basic/global.F90
sed -i '200a\FC' src/basic/global.F90
make -j
make install

[RUN]
run =
binary =
node = 1

