[SERVER]
11.11.11.11

[DOWNLOAD]
gatk/4.0.0.0 https://github.com/broadinstitute/gatk/releases/download/4.0.0.0/gatk-4.0.0.0.zip
#GKL.tar.gz # Need to prepare on your own 
case/1 http://ftp.sra.ebi.ac.uk/vol1/fastq/SRR742/SRR742200/SRR742200_1.fastq.gz
case/2 http://ftp.sra.ebi.ac.uk/vol1/fastq/SRR742/SRR742200/SRR742200_2.fastq.gz
case/3 http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/human_g1k_v37.fasta.gz
case/4 http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/dbsnp132_20101103.vcf.gz
case/5 https://storage.googleapis.com/gcp-public-data--broad-references/Homo_sapiens_assembly19_1000genomes_decoy/Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf
case/6 https://storage.googleapis.com/gcp-public-data--broad-references/Homo_sapiens_assembly19_1000genomes_decoy/Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf.idx
case/7 http://hgdownload.soe.ucsc.edu/goldenPath/hg19/liftOver/hg19ToHg38.over.chain.gz

[DEPENDENCY]
set -e
set -x
#basic system components
#yum install gcc gcc-c++

#install samtools
./jarvis -install package/hpckit/2025.3.30 any
module use software/utils/hpckit/2025.3.30/HPCKit/latest/modulefiles
module load bisheng/compiler4.2.0/bishengmodule
./jarvis -install package/samtools/1.10 clang
./jarvis -install package/bsjdk/1.8.0 com
./jarvis -install package/bwa/0.7.17/clang clang
export CC=gcc CXX=g++
./jarvis -install package/R/3.6.3 com

module use software/modulefiles
module use software/moduledeps
module load bsjdk/1.8.0
module load R/3.6.3

#install R packages
Rscript -e 'install.packages(c("farver", "labeling", "munsell", "R6", "RColorBrewer", "viridisLite"))'
Rscript -e 'install.packages("https://cran.r-project.org/src/contrib/Archive/scales/scales_1.3.0.tar.gz",repos = NULL,type = "source")'
Rscript -e 'install.packages(c("ggplot2", "gplots", "reshape", "gsalib"))'

GATK_SRC=gatk-4.0.0.0
$CHECK_ROOT && yum install -y java
if [ ! -d "$GATK_SRC" ];then
     unzip $JARVIS_DOWNLOAD/$GATK_SRC.zip
fi

cd $GATK_SRC
if [ ! -d "com" ];then
    tar xf $JARVIS_DOWNLOAD/GKL.tar.gz
    jar uvf gatk-package-4.0.0.0-local.jar ./com/intel/gkl
    jar uvf gatk-package-4.0.0.0-spark.jar ./com/intel/gkl
fi

[ENV]
#!/bin/bash
export GATK_DIR=$JARVIS_ROOT/gatk-4.0.0.0
module use software/utils/hpckit/2025.3.30/HPCKit/latest/modulefiles
module load bisheng/compiler4.2.0/bishengmodule
module use software/modulefiles
module use software/moduledeps
module load bisheng4.2.0/samtools/1.10
module load bsjdk/1.8.0
module load bisheng4.2.0/bwa-clang/0.7.17
export PATH=$GATK_DIR/bin:$PATH
export JAVA_HOME=$BSJDK_PATH
export GATK_LOCAL_JAR=$GATK_DIR/gatk-package-4.0.0.0-local.jar
export GATK_SPARK_JAR=$GATK_DIR/gatk-package-4.0.0.0-spark.jar

[APP]
app_name = GATK
build_dir = ${GATK_DIR}
binary_dir =
case_dir = $JARVIS_ROOT/case/GATK

[BUILD]
mkdir -p bin
cp gatk bin/gatk

[CLEAN]

[RUN]
run = 
binary = 
nodes = 1

[BATCH]
> gatk-run.sh
> gatk-otherfunctionaltest.sh

cat << 'EOF' >> gatk-run.sh
#!/bin/bash
set -e
set -x
#校验算例
if [ ! -f "human_g1k_v37.fasta" ];then
    gzip -d $JARVIS_DOWNLOAD/SRR742200_1.fastq.gz
    gzip -d $JARVIS_DOWNLOAD/SRR742200_2.fastq.gz
    gzip -d $JARVIS_DOWNLOAD/human_g1k_v37.fasta.gz
    gzip -d $JARVIS_DOWNLOAD/dbsnp132_20101103.vcf.gz
fi

#运行测试
{ time -p bwa index -a bwtsw human_g1k_v37.fasta; } 2>&1 |tee index.log
#output:
#human_g1k_v37.fasta.amb
#human_g1k_v37.fasta.ann
#human_g1k_v37.fasta.bwt
#human_g1k_v37.fasta.pac
#human_g1k_v37.fasta.sa

{ time -p gatk CreateSequenceDictionary -R human_g1k_v37.fasta -O human_g1k_v37.dict; } 2>&1 |tee CreateSequenceDictionary.log
#output:
#human_g1k_v37.dict

{ time -p bwa mem -M -t 128 human_g1k_v37.fasta SRR742200_1.fastq SRR742200_2.fastq > SRR7.sam; } 2>&1 |tee mem.log
#output:
#SRR7.sam

{ time -p gatk ReorderSam -I SRR7.sam -O SRR7_reorder.bam -R human_g1k_v37.fasta; } 2>&1 |tee ReorderSam.log
#output
#SRR7_reorder.bam

{ time -p gatk SortSam -I SRR7_reorder.bam -O SRR7_sorted.bam --SORT_ORDER coordinate; } 2>&1 |tee SortSam.log
#output
#SRR7_sorted.bam

{ time -p gatk AddOrReplaceReadGroups -I SRR7_sorted.bam -O SRR7_addhead.bam -LB lib1 -PL illumina -PU unit1 -SM 20; } 2>&1 |tee AddOrReplaceReadGroups.log
#output
#SRR7_addhead.bam

{ time -p gatk MarkDuplicates -I SRR7_addhead.bam -M test.metric -O SRR7_markdup.bam; } 2>&1 |tee MarkDuplicates.log
#output
#test.metric
#SRR7_markdup.bam

{ time -p samtools faidx human_g1k_v37.fasta > human_g1k_v37.fai; } 2>&1 |tee faidx.log
#output
#human_g1k_v37.fai

{ time -p gatk IndexFeatureFile -F dbsnp132_20101103.vcf; } 2>&1 |tee IndexFeatureFile.log
#output
#dbsnp132_20101103.vcf.idx

{ time -p gatk BaseRecalibrator -I SRR7_markdup.bam --known-sites dbsnp132_20101103.vcf -O SRR7_bqsr.bam -R human_g1k_v37.fasta; } 2>&1 |tee BaseRecalibrator.log
#output
#SRR7_bqsr.bam

{ time -p gatk ApplyBQSR -bqsr SRR7_bqsr.bam -I SRR7_markdup.bam -O SRR7_aybqsr.bam; } 2>&1 |tee ApplyBQSR.log
#output
#SRR7_aybqsr.bai
#SRR7_aybqsr.bam

export OMP_PROC_BIND=true
export OMP_PLACES=cores
export OMP_NUM_THREADS=38
export SLICES=16
#export SLICES=4

{ time -p gatk --java-options "-Xmx4g" SplitIntervals -R human_g1k_v37.fasta -scatter $SLICES -O ./intervals --subdivision-mode BALANCING_WITHOUT_INTERVAL_SUBDIVISION; } 2>&1 |tee SplitIntervals.log
#output
#intervals

{ time -p seq 0 $(($SLICES-1)) | xargs -I {} -P $SLICES bash -c ' \
interval=$(printf "./intervals/%04d-scattered.intervals" $1) \
numactl --cpunodebind=$1 --localalloc gatk --java-options "-Dsamjdk.use_async_io_read_samtools=true -Xmx16G -XX:+UseParallelGC -XX:ParallelGCThreads=4" HaplotypeCaller -I SRR7_aybqsr.bam -L $interval -pairHMM AVX_LOGLESS_CACHING_OMP --native-pair-hmm-threads 16 -O SRR7_raw_$1.vcf -R human_g1k_v37.fasta \
' _ {}; } 2>&1 |tee HaplotypeCaller.log
#output
#SRR7_raw_0.vcf
#SRR7_raw_0.vcf.idx
#SRR7_raw_1.vcf
#SRR7_raw_1.vcf.idx
#SRR7_raw_2.vcf
#SRR7_raw_2.vcf.idx
#SRR7_raw_3.vcf
#SRR7_raw_3.vcf.idx

{ time -p gatk MergeVcfs $(for i in $(seq 0 $(($SLICES-1))); do echo "-I SRR7_raw_${i}.vcf"; done) -O SRR7_raw_final.vcf; } 2>&1 |tee MergeVcfs.log
#output
#SRR7_raw_final.vcf
#SRR7_raw_final.vcf.idx

EOF

chmod +x gatk-run.sh

./gatk-run.sh

#补充功能验证测试
cat << 'EOF' >> gatk-otherfunctionaltest.sh
#!/bin/bash
set -e
set -x

#校验算例

if [ ! -f "SRR7_aybqsr.bam" ];then
    echo "Please prioritize ensuring that gatk-run.sh can run successfully"
    exit 1
fi

if [ ! -f "Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf" ];then
    cp $JARVIS_DOWNLOAD/Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf .
    cp $JARVIS_DOWNLOAD/Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf.idx . 
    cp $JARVIS_DOWNLOAD/hg19ToHg38.over.chain.gz .
    gunzip hg19ToHg38.over.chain.gz
fi


export REF=human_g1k_v37.fasta
export BAM=SRR7_aybqsr.bam
export DBSNP=dbsnp132_20101103.vcf
export INDELS=Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf

#{ time -p gatk CreateSequenceDictionary -R human_g1k_v37.fasta -O human_g1k_v37.dict; } 2>&1 |tee CreateSequenceDictionary.log
#output:
#human_g1k_v37.dict

#{ time -p bwa mem -M -t 128 human_g1k_v37.fasta SRR742200_1.fastq SRR742200_2.fastq > SRR7.sam; } 2>&1 |tee mem.log
#output:
#SRR7.sam

#{ time -p gatk ReorderSam -I SRR7.sam -O SRR7_reorder.bam -R human_g1k_v37.fasta; } 2>&1 |tee ReorderSam.log
#output
#SRR7_reorder.bam

#{ time -p gatk SortSam -I SRR7_reorder.bam -O SRR7_sorted.bam --SORT_ORDER coordinate; } 2>&1 |tee SortSam.log
#output
#SRR7_sorted.bam

#{ time -p gatk AddOrReplaceReadGroups -I SRR7_sorted.bam -O SRR7_addhead.bam -LB lib1 -PL illumina -PU unit1 -SM 20; } 2>&1 |tee AddOrReplaceReadGroups.log
#output
#SRR7_addhead.bam

#{ time -p gatk MarkDuplicates -I SRR7_addhead.bam -M test.metric -O SRR7_markdup.bam; } 2>&1 |tee MarkDuplicates.log
#output
#test.metric
#SRR7_markdup.bam

#{ time -p samtools faidx human_g1k_v37.fasta > human_g1k_v37.fai; } 2>&1 |tee faidx.log
#output
#human_g1k_v37.fai

#{ time -p gatk IndexFeatureFile -F dbsnp132_20101103.vcf; } 2>&1 |tee IndexFeatureFile.log
#output
#dbsnp132_20101103.vcf.idx

#{ time -p gatk BaseRecalibrator -I SRR7_markdup.bam --known-sites dbsnp132_20101103.vcf -O SRR7_bqsr.bam -R human_g1k_v37.fasta; } 2>&1 |tee BaseRecalibrator.log
#output
#SRR7_bqsr.bam

#{ time -p gatk ApplyBQSR -bqsr SRR7_bqsr.bam -I SRR7_markdup.bam -O SRR7_aybqsr.bam; } 2>&1 |tee ApplyBQSR.log
#output
#SRR7_aybqsr.bai
#SRR7_aybqsr.bam

# 1. ValidateSamFile
gatk ValidateSamFile -I SRR7_aybqsr.bam --MODE SUMMARY
#no output

# 2. PrintReads (测试解码功能)
gatk PrintReads -I SRR7_aybqsr.bam -R human_g1k_v37.fasta -O tmp.printed.bam
#output
#tmp.printed.bam
#tmp.printed.bai

# 4. BuildBamIndex
gatk BuildBamIndex -I SRR7_markdup.bam
#output
#SRR7_markdup.bai

# 5. CollectAlignmentSummaryMetrics
gatk CollectAlignmentSummaryMetrics -R human_g1k_v37.fasta -I SRR7_markdup.bam -O alignment.metrics.txt
#output
#alignment.metrics.txt


# 6. CollectInsertSizeMetrics
gatk CollectInsertSizeMetrics -I SRR7_markdup.bam -O insert_metrics.txt -H insert_histogram.pdf
#output
#insert_histogram.pdf
#insert_metrics.txt
  
  
# 7. BaseRecalibrator
gatk BaseRecalibrator -R human_g1k_v37.fasta -I SRR7_markdup.bam  --known-sites $DBSNP --known-sites $INDELS -O recal_data.table
#output
#recal_data.table

# 8. AnalyzeCovariates (需要安装R语言和部分R包)
gatk AnalyzeCovariates  -before recal_data.table -after recal_data.table -plots recalibration_plots.pdf
#output
#recalibration_plots.pdf

# 9. ApplyBQSR
gatk ApplyBQSR -R $REF -I SRR7_markdup.bam --bqsr-recal-file recal_data.table -O recal.bam
#output
#recal.bam
#recal.bai


# 10. HaplotypeCaller - gVCF 模式
gatk HaplotypeCaller -R human_g1k_v37.fasta -I recal.bam -O raw_variants.g.vcf.gz -ERC GVCF
#output
#raw_variants.g.vcf.gz
#raw_variants.g.vcf.gz.tbi

# 11. GenotypeGVCFs
gatk GenotypeGVCFs -R human_g1k_v37.fasta -V raw_variants.g.vcf.gz -O raw_variants.vcf.gz
#output
#raw_variants.vcf.gz
#raw_variants.vcf.gz.tbi

# 12. VariantFiltration
gatk VariantFiltration -R human_g1k_v37.fasta -V raw_variants.vcf.gz -O filtered_variants.vcf.gz --filter-expression "QD < 2.0" --filter-name "LowQD"
#output
#filtered_variants.vcf.gz
#filtered_variants.vcf.gz.tbi

# 13. SelectVariants
gatk SelectVariants -R human_g1k_v37.fasta -V filtered_variants.vcf.gz --select-type-to-include SNP -O selected_snps.vcf
#output
#selected_snps.vcf
#selected_snps.vcf.idx

# 14. VariantsToTable
gatk VariantsToTable -V selected_snps.vcf -F CHROM -F POS -F TYPE -F QUAL -O variants_table.txt
#output
#variants_table.txt

# 15. LiftoverVcf (需要一个chain文件测试liftover功能)
gatk LiftoverVcf -R human_g1k_v37.fasta -I selected_snps.vcf -O lifted.vcf -CHAIN hg19ToHg38.over.chain --REJECT rejected.vcf
#output
#lifted.vcf
#lifted.vcf.idx


# SelectVariants
gatk SelectVariants -V raw_variants.vcf.gz -O snps.vcf --select-type-to-include SNP
#output
#snps.vcf
#snps.vcf.idx

gatk SelectVariants -V raw_variants.vcf.gz -O indels.vcf --select-type-to-include INDEL
#output
#indels.vcf
#indels.vcf.idx

# 19. ValidateVariants
gatk ValidateVariants -V snps.vcf -R human_g1k_v37.fasta
#output
#

# 20. SortVcf（模拟一个无序 VCF）
gatk SortVcf -I snps.vcf -O snps.sorted.vcf -SEQUENCE_DICTIONARY human_g1k_v37.dict
#output
#snps.sorted.vcf
#snps.sorted.vcf.idx

EOF

chmod +x gatk-otherfunctionaltest.sh

./gatk-otherfunctionaltest.sh

[JOB]
#!/bin/sh
#DSUB -n compile_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=608
#DSUB -oo gatk.%J.out
#DSUB -eo gatk.%J.err

