[SERVER]
11.11.11.11

[DOWNLOAD]
nvhpc/2021 https://developer.download.nvidia.com/hpc-sdk/21.9/nvhpc-2021-21.9-1.aarch64.rpm
nvhpc/21-9 https://developer.download.nvidia.com/hpc-sdk/21.9/nvhpc-21-9-21.9-1.aarch64.rpm
# Gaussian16.tar.gz

[DEPENDENCY]
set -e
set -x
rpm -ivh ${JARVIS_DOWNLOAD}/nvhpc-2021-21.9-1.aarch64.rpm ${JARVIS_DOWNLOAD}/nvhpc-21-9-21.9-1.aarch64.rpm
# tar -xzvf ${JARVIS_DOWNLOAD}/Gaussian16.tar.gz -C ${JARVIS_ROOT}/workloads
# mv ${JARVIS_ROOT}/workloads/Gaussian16 ${JARVIS_ROOT}/workloads/g16

[ENV]
export g16root=${JARVIS_ROOT}/workloads
export GAUSS_EXEDIR=$g16root/g16
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$g16root/g16/bsd
export PATH=$PATH:$g16root/g16/bsd
export GAUSS_SRCDIR=$g16root/g16/scratch
source $g16root/g16/bsd/g16.profile
#export OMP_THREAD_LIMIT=32
export GAUSS_PDEF=64

if [ ! -d $GAUSS_SRCDIR ];then
    mkdir $GAUSS_SRCDIR
else
    rm -rf $GAUSS_SRCDIR/*
fi


[APP]
app_name = Gaussian16
build_dir = ${JARVIS_ROOT}/workloads/g16
binary_dir = ${JARVIS_ROOT}/workloads/g16
case_dir = ${JARVIS_ROOT}/workloads/g16/tests/com

[BUILD]
module use /opt/nvidia/hpc_sdk/modulefiles/
module load nvhpc/21.9
if [ ! -d ${JARVIS_ROOT}/workloads/g16/bsd ];then
    echo "source code director[${JARVIS_ROOT}/workloads/g16] not exist."
    exit 1
fi
sed -i '215s/unknown/amd64/' bsd/machine.c
sed -i '129s/recog,//' bsd/i386.make
sed -i '146s/-lc/-lc -latomic -lgfortran/' bsd/i386.make
sed -i '83s/k8-64/host/' bsd/set-mflags
sed -i '222i\#define NEED_GSR48' bsd/mdutil.c
sed -i '324i\#include <unistd.h>' bsd/mdutil.c
sed -i '325s/.*/#include <errno.h>/' bsd/mdutil.c
sed -i '348s/rm/rm -f /' bsd/bldg16
sed -i '377s/rm/rm -f /' bsd/bldg16

\cp /usr/lib64/atlas/libatlas.a bsd/libatlas-amd64.a
\cp /usr/lib64/atlas/libf77blas.a bsd/libf77blas-amd64.a

csh bsd/bldg16 2>&1|tee make.log


[CLEAN]
make clean

[RUN]
run =
binary = g16 < test0706.com
nodes = 1

[BATCH]
case_path=${JARVIS_ROOT}/workloads/g16_case
mkdir ${case_path}
cd ${case_path}
cp ${JARVIS_ROOT}/workloads/g16/tests/com/test0706.com .
${JARVIS_ROOT}/workloads/g16/g16 < test0706.com

[PERF]
perf=
nsys=
ncu=

