[SERVER]
11.11.11.11

[DOWNLOAD]
cactus/2.9.2 ${JARVIS_PROXY}/ComparativeGenomicsToolkit/cactus/releases/download/v2.9.2/cactus-v2.9.2.tar.gz
mPanTro3_XY_1_5000000/ https://raw.githubusercontent.com/ComparativeGenomicsToolkit/cactusTestData/refs/heads/master/T2T_primate_PAR/mPanTro3_XY_1_5000000.fa
mPanPan1_XY_1_5000000/ https://raw.githubusercontent.com/ComparativeGenomicsToolkit/cactusTestData/refs/heads/master/T2T_primate_PAR/mPanPan1_XY_1_5000000.fa

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install python3/3.9.9 bisheng
module load python3/3.9.9
./jarvis -install hmpi/2.4.2 bisheng
module load hmpi/2.4.2
sed -i 's/--enable-parallel/--enable-cxx/g' ${JARVIS_ROOT}/package/hdf5/1.12.1/clang/install.sh
sed -i 's/--build-id//g' ${JARVIS_ROOT}/package/hdf5/1.12.1/clang/install.sh
./jarvis -install hdf5/1.12.1/clang bisheng+mpi
module load hdf5-clang/1.12.1
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1

tar -zxvf ${JARVIS_DOWNLOAD}/cactus-v2.9.2.tar.gz -C ${JARVIS_TMP_DOWNLOAD}
mkdir -p ${JARVIS_ROOT}/software/apps/cactus/bin

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load python3/3.9.9
module load hmpi/2.4.2
module load hdf5-clang/1.12.1
module load kgcc/10.3.1
export PATH=${JARVIS_ROOT}/software/apps/cactus/bin:$PATH

[APP]
app_name = cactus
build_dir = ${JARVIS_TMP_DOWNLOAD}/cactus-v2.9.2
binary_dir = 
case_dir = ${JARVIS_TMP_DOWNLOAD}/cactus-v2.9.2/cactus_test

[BUILD]
pip3 install -U -r ./toil-requirement.txt --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple
pip3 install -U . --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple
make -j4
cp -ar bin/* ${JARVIS_ROOT}/software/apps/cactus/bin/
cp -ar lib/ ${JARVIS_ROOT}/software/apps/cactus/
cp -ar include/ ${JARVIS_ROOT}/software/apps/cactus/

mkdir -p cactus_test
cd cactus_test/
cp -ar ${JARVIS_DOWNLOAD}/*_XY_1_5000000.fa .
cp -ar ../examples/par1_cb.txt .
sed -i 's%https://raw.githubusercontent.com/ComparativeGenomicsToolkit/cactusTestData/master/T2T_primate_PAR/%%g' par1_cb.txt

[CLEAN]

[RUN]
run = 
binary = cactus ./output ./par1_cb.txt ./par1_cb.hal
nodes = 1
