[SERVER]
11.11.11.11

[DOWNLOAD]
cactus/2.9.2 https://github.com/ComparativeGenomicsToolkit/cactus/releases/download/v2.9.2/cactus-v2.9.2.tar.gz
SSE2NONE.h/1.0 https://raw.githubusercontent.com/jratcliff63367/sse2neon/refs/heads/master/SSE2NEON.h
case1 https://raw.githubusercontent.com/ComparativeGenomicsToolkit/cactusTestData/master/T2T_primate_PAR/mPanTro3_XY_1_5000000.fa
case2 https://raw.githubusercontent.com/ComparativeGenomicsToolkit/cactusTestData/master/T2T_primate_PAR/mPanPan1_XY_1_5000000.fa
case3 https://raw.githubusercontent.com/ComparativeGenomicsToolkit/cactus/refs/heads/master/examples/par1_cb.txt

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install package/anaconda3/2023.3 any
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh
mkdir -p ${JARVIS_ROOT}/case

[APP]
app_name = cactus
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = ${JARVIS_ROOT}/case

[BUILD]
rm -rf ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/envs/cactus
conda create -n cactus -y
conda activate cactus
conda install python=3.8 -c conda-forge -y
cd ${JARVIS_TMP}
rm -rf cactus-v2.9.2
tar -xf ${JARVIS_DOWNLOAD}/cactus-v2.9.2.tar.gz
cd cactus-v2.9.2
git config --global --add safe.directory `pwd`
export C_INCLUDE_PATH=/usr/include
python3 -m pip install -U -r ./toil-requirement.txt --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple
python3 -m pip install -U . --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple
conda install libxml2 zlib hdf5 hdf5-static gxx_linux-aarch64=10.3.0 gcc_linux-aarch64=10.3.0 gfortran_linux-aarch64=10.3.0 libgomp=10.3.0 -c conda-forge -y
export C_INCLUDE_PATH=$CONDA_PREFIX/include:$CONDA_PREFIX/include/libxml2:$C_INCLUDE_PATH
export LIBRARY_PATH=$CONDA_PREFIX/lib:/usr/lib64
cp ${JARVIS_DOWNLOAD}/SSE2NEON.h submodules/abPOA/include
make
cp -a bin/* $CONDA_PREFIX/bin
cp -a lib/* $CONDA_PREFIX/lib
cp -a include/* $CONDA_PREFIX/include
conda deactivate
rm -rf ${JARVIS_TMP}/cactus-v2.9.2

[RUN]
run = 
binary = 
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="cactus-performance.log"

#清空日志文件
> "$LOG_FILE"

#执行命令并统计性能
#待补充

[JOB]
#!/bin/sh
#DSUB -n cactus_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu =128
#DSUB -oo cactus_$J.out
#DSUB -eo cactus.$J.err

conda activate cactus

#生成算例
cd ${JARVIS_ROOT}/case
if [ ! -f "par1_cb.txt" ];then
 cp ${JARVIS_DOWNLOAD}/mPanTro3_XY_1_5000000.fa .
 cp ${JARVIS_DOWNLOAD}/mPanPan1_XY_1_5000000.fa .
 cp ${JARVIS_DOWNLOAD}/par1_cb.txt .
 sed -i "s%https://raw.githubusercontent.com/ComparativeGenomicsToolkit/cactusTestData/master/T2T_primate_PAR/%%g" par1_cb.txt
fi

#运行
#待补充
#cactus ./output ./par1_cb.txt ./par1_cb.hal
