[SERVER]
11.11.11.11

[DOWNLOAD]
augustus/3.3.3 $JARVIS_PROXY/Gaius-Augustus/Augustus/archive/refs/tags/v3.3.3.tar.gz Augustus-3.3.3.tar.gz

[DEPENDENCY]
set -x
set -e
yum install gsl* mysql-devel sqlite* suitesparse* -y
pip3 install parallel_augustus -i https://mirrors.aliyun.com/pypi/simple mirrors.aliyun.com --trusted-host mirrors.aliyun.com
. ${DOWNLOAD_TOOL} -u https://rpmfind.net/linux/mageia/distrib/9/aarch64/media/core/release/lpsolve-5.5.2.5-5.mga9.aarch64.rpm
. ${DOWNLOAD_TOOL} -u https://www.rpmfind.net/linux/mageia/distrib/9/aarch64/media/core/release/lpsolve-devel-5.5.2.5-5.mga9.aarch64.rpm
. ${DOWNLOAD_TOOL} -u http://bioinf.uni-greifswald.de/augustus/datasets/sag178.fa.gz
rpm -q lpsolve-5.5.2.5-5.mga9.aarch64 &> /dev/null || rpm -ivh ${JARVIS_DOWNLOAD}/lpsolve-5.5.2.5-5.mga9.aarch64.rpm 
rpm -q lpsolve-devel-5.5.2.5-5.mga9.aarch64 &> /dev/null || rpm -ivh ${JARVIS_DOWNLOAD}/lpsolve-devel-5.5.2.5-5.mga9.aarch64.rpm

module purge
module use ./software/modulefiles

./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install mysql/3.3.0 clang
./jarvis -install boost/1.72.0/clang clang
./jarvis -install htslib/1.11 clang
./jarvis -install samtools/1.11 clang
./jarvis -install bamtools/2.5.0 clang

tar -zxvf $JARVIS_DOWNLOAD/Augustus-3.3.3.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load mysql/3.3.0
module load boost-clang/1.72.0
module load htslib/1.11
module load samtools/1.11
module load bamtools/2.5.0

[APP]
app_name = Augustus
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/Augustus-3.3.3/install-3.3.3/bin
case_dir = ${JARVIS_ROOT}/Augustus-3.3.3/run

[BUILD]
rm -rf Augustus-3.3.3
tar -zxvf ${JARVIS_DOWNLOAD}/Augustus-3.3.3.tar.gz
cd Augustus-3.3.3

AUGUSTUS_PATH=$(realpath ./install)
sed -i "s|\/opt\/augustus|$AUGUSTUS_PATH|g" Makefile
sed -i -e "18s|.*|SAMTOOLS=${SAMTOOLS_PATH}/lib|" \
       -e "19s|.*|HTSLIB=${HTSLIB_PATH}/lib|" \
       ./auxprogs/bam2wig/Makefile

make -j VERBOSE=1 CC=clang CXX=clang++ \
      CFLAGS="-g -lstdc++ -I${SAMTOOLS_PATH}/include -I${BAMTOOLS_PATH}/include/bamtools -I${BOOST_CLANG_PATH}/include -I${HTSLIB_PATH}/include -I${HTSLIB_PATH}/include/htslib -I${MYSQL_PATH}/include/mysql++ -L${BAMTOOLS_PATH}/lib64 -L${BOOST_CLANG_PATH}/lib -L${HTSLIB_PATH}/lib -L${MYSQL_PATH}/lib -L/usr/lib64/mysql" \
      CXXFLAGS="-g -std=c++17 -lstdc++ -I${SAMTOOLS_PATH}/include -I${BAMTOOLS_PATH}/include/bamtools -I${BOOST_CLANG_PATH}/include -I${HTSLIB_PATH}/include -I${HTSLIB_PATH}/include/htslib -I${MYSQL_PATH}/include/mysql++ -L${BAMTOOLS_PATH}/lib64 -L${BOOST_CLANG_PATH}/lib -L${HTSLIB_PATH}/lib -L${MYSQL_PATH}/lib -L/usr/lib64/mysql"
make install

mkdir run
cd ./run
cp ${JARVIS_DOWNLOAD}/sag178.fa.gz .
gzip -d sag178.fa.gz

[CLEAN]
make clean

[RUN]
run = time -p
binary = parallel_augustus -g sag178.fa -o sag178.res -c 1024 -p 128 --extra '--species=human -UTR=on'
nodes = 1
