[SERVER]
11.11.11.11

[DOWNLOAD]
phono3py/3.2.0 https://github.com/phonopy/phono3py/archive/refs/tags/v3.2.0.tar.gz phono3py_v3.2.0.tar.gz

[DEPENDENCY]
set -e

module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0

./jarvis --install eigen3/3.4.0 any
module load eigen3/3.4.0

./jarvis -install anaconda3/2024.10 any
module load anaconda3/2024.10

echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load cmake/3.28.2
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/kml25.0.0/kml
module load bisheng/kml25.0.0/kblas/multi
module load eigen3/3.4.0
export Eigen3_DIR=\${EIGEN3_PATH}
module load anaconda3/2024.10


[APP]
fake = 0
app_name = phono3py
app_version = 3.2.0
compiler = bisheng
build_dir = ${JARVIS_APP}/phono3py/3.2.0-bisheng4.2.0/project
binary_dir = ${JARVIS_APP}/phono3py/3.2.0-bisheng4.2.0/project
case_dir = ${JARVIS_JOBSCRIPT}/phono3py/3.2.0
mod_exc_dir = conda_env/phonopy

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x
set +x && build_mod_check "${BUILD_DIR}/phono3py-3.2.0/dist/phono3py-3.2.0-cp310-cp310-linux_aarch64.whl" "prompt" && set -x
rm -f ${BUILD_DIR}/phono3py-3.2.0/dist/phono3py-3.2.0-cp310-cp310-linux_aarch64.whl

echo "Eigen3_DIR:${Eigen3_DIR}"
echo "CONDA_SH:$CONDA_SH"
source ${CONDA_SH}
#if [ "$(conda env list | grep phonopy | awk '{print $1}' )" != "phonopy" ]; then
PHONOPY_ENV=${BUILD_DIR}/conda_env/phonopy
conda create  --prefix=${PHONOPY_ENV} python=3.10
#fi
conda activate ${PHONOPY_ENV}

pip install numpy==1.24.0 pyyaml matplotlib h5py spglib seekpath scipy symfc cp2k-input-tools pypolymlp==0.2.8 pytest \
--trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple
pip uninstall cmake

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/phono3py_v3.2.0.tar.gz -C ${BUILD_DIR}

cd ${BUILD_DIR}/phono3py-3.2.0

if [ -d "build" ]; then
rm -rf build
fi

if [ ! -d "cmake" ]; then
mkdir cmake
fi

KML_LIB=${HPCKIT_KML}/bisheng/lib

cat > cmake/FindBLAS.cmake << EOF
SET(BLAS_FOUND on)
SET(BLAS_LIB ${KML_LIB}/neon/kblas/multi)
SET(BLAS_LIBRARIES -L\${BLAS_LIB} -lkblas)
EOF

cat > cmake/FindLAPACK.cmake << EOF
SET(LAPACK_FOUND on)
SET(LAPACK_LIB ${KML_LIB}/neon)
SET(BLAS_LIB ${KML_LIB}/neon/kblas/multi)
SET(LAPACK_LIBRARIES -L\${LAPACK_LIB} -lklapack_full -L\${BLAS_LIB} -lkblas)
EOF

if [ -z "$(grep -o 'APPEND CMAKE_MODULE_PATH' CMakeLists.txt)" ]; then
sed -i '3a list(APPEND CMAKE_MODULE_PATH "\${CMAKE_SOURCE_DIR}/cmake")' CMakeLists.txt
fi

sed -i '23c\set(CMAKE_C_FLAGS_RELEASE "-Wall -O2 -ffp-contract=off")'  CMakeLists.txt
sed -i 's/libopenblas/kblas/g' CMakeLists.txt

python setup.py bdist_wheel

pip uninstall phono3py

pip install dist/*.whl
cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
prepend-path LD_LIBRARY_PATH ${HPCKIT_KML}/bisheng/lib/neon:${HPCKIT_KML}/bisheng/lib/neon/kblas/multi:${HPCKIT_KML}/bisheng/lib
EOF

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/phono3py/3.2.0
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load phono3py/3.2.0-bisheng4.2.0" >> ${JOBDIR}/env.sh
echo "source \$CONDA_SH" >> ${JOBDIR}/env.sh

cat > ${JOBDIR}/phono3py-3.2.0-run.sh << EOF
#!/bin/bash
source env.sh
echo "activate conda env:${PHONOPY_ENV}"
conda activate ${PHONOPY_ENV}

cd ${BUILD_DIR}/phono3py-3.2.0
export OMP_NUM_THREADS=16

pytest

EOF

chmod u+x ${JOBDIR}/env.sh
#chmod u+x ${JOBDIR}/job_run.sh
#chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/phono3py-3.2.0-run.sh

set +x && echo_info "Install done!!!" && set -x


[RUN]
