[SERVER]
11.11.11.11

[DOWNLOAD]
wannier_tools/2.7.1 ${JARVIS_PROXY}/quanshengwu/wannier_tools/archive/refs/tags/v2.7.1.tar.gz wannier_tools-2.7.1.tar.gz

[DEPENDENCY]
module purge
./jarvis -install hpckit/24.0.0 any
module use ./software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
module load bisheng/kml2.5.0/kml
module unload bisheng/kml2.5.0/kspblas/omp
module unload bisheng/kml2.5.0/kvml/serial

mkdir -p ${JARVIS_ROOT}/software/app/wannier_tools/bin
tar -zxvf ${JARVIS_DOWNLOAD}/wannier_tools-2.7.1.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
module load bisheng/kml2.5.0/kml
module unload bisheng/kml2.5.0/kspblas/omp
module unload bisheng/kml2.5.0/kvml/serial
export CC=mpicc
export CXX=mpicxx
export FC=mpifort
export F77=mpifort
export F90=mpifort

[APP]
app_name = wannier_tools
build_dir = ${JARVIS_TMP_DOWNLOAD}/wannier_tools-2.7.1/src
binary_dir = ${JARVIS_ROOT}/software/app/wannier_tools/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/wannier_tools-2.7.1/examples/Bi2Se3

[BUILD]
echo yes | cp Makefile.gfortran-mpi Makefile
sed -i 's/^F90  =.*/F90  = mpif90 -cpp -DMPI/' Makefile
sed -i 's/^LIBS =.*/LIBS = -L\${JARVIS_UTILS}\/hpckit\/24.0.0\/HPCKit\/24.12.30\/kml\/bisheng\/lib -lkml_rt/' Makefile
sed -i '1285,1289d' module.f90
sed -i "1285c character(10) , dimension(magnetic_number_max, angular_number) :: orb_sign = reshape([character(10) :: '','','','s','','','','','','py','pz','px','','','','dxy','dyz','dz2','dxz','dx2-y2','','fy(3x2-y2)','fxyz','fyz2','fz3','fxz2','fz(x2-y2)','fx(x2-3y2)'], [magnetic_number_max, angular_number])" module.f90
make
cp -ar ../bin/wt.x ${JARVIS_ROOT}/software/app/wannier_tools/bin/

[CLEAN]
make clean

[RUN]
run = tar -zxvf Bi2Se3_hr.tar.gz && mpirun --allow-run-as-root -np $(nproc)
binary = wt.x && cat WT.out | tail -n 40
nodes = 1
