[SERVER]
11.11.11.11

[DOWNLOAD]
wannier_tools/2.7.1 ${JARVIS_PROXY}/quanshengwu/wannier_tools/archive/refs/tags/v2.7.1.tar.gz wannier_tools-2.7.1.tar.gz

[DEPENDENCY]
yum install libatomic
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng
mkdir -p ${JARVIS_ROOT}/software/apps/wannier_tools/bin
tar -zxvf ${JARVIS_DOWNLOAD}/wannier_tools-2.7.1.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng
export CC=mpicc
export CXX=mpicxx
export FC=mpifort
export F77=mpifort
export F90=mpifort
export HPCKIT_VERSION=${HPCKIT_VERSION}
export PATH=${JARVIS_ROOT}/software/apps/wannier_tools/bin:$PATH

[APP]
app_name = wannier_tools
build_dir = ${JARVIS_TMP_DOWNLOAD}/wannier_tools-2.7.1/src
binary_dir = ${JARVIS_ROOT}/software/apps/wannier_tools/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/wannier_tools-2.7.1/examples/Bi2Se3

[BUILD]
set -x
echo yes | cp Makefile.gfortran-mpi Makefile
sed -i 's/^F90  =.*/F90  = mpif90 -cpp -DMPI /' Makefile
sed -i 's/^LIBS =.*/LIBS = -L\${JARVIS_UTILS}\/hpckit\/${HPCKIT_VERSION}\/HPCKit\/${HPCKIT_VERSION}\/kml\/bisheng\/lib -lkml_rt/' Makefile
sed -i '23c OFLAG = -O3 -g' Makefile
sed -i '1285,1289d' module.f90
sed -i "1285c character(10) , dimension(magnetic_number_max, angular_number) :: orb_sign = reshape([character(10) :: '','','','s','','','','','','py','pz','px','','','','dxy','dyz','dz2','dxz','dx2-y2','','fy(3x2-y2)','fxyz','fyz2','fz3','fxz2','fz(x2-y2)','fx(x2-3y2)'], [magnetic_number_max, angular_number])" module.f90
sed -i '234d' ham_bulk.f90
sed -i '237d' ham_bulk.f90
sed -i '237c\            pos_direct= irvec(:, iR)+ Origin_cell%wannier_centers_direct(:, i2) - Origin_cell%wannier_centers_direct(:, i1)' ham_bulk.f90
sed -i '239c\            pos_cart= pos_direct(1)*Origin_cell%lattice(:, 1)+ pos_direct(2)*Origin_cell%lattice(:, 2) + pos_direct(3)*Origin_cell%lattice(:, 3)' ham_bulk.f90
make
cp -ar ../bin/wt.x ${JARVIS_ROOT}/software/apps/wannier_tools/bin/

[CLEAN]
make clean

[RUN]
run = tar -zxvf Bi2Se3_hr.tar.gz && mpirun --allow-run-as-root -np $(nproc)
binary = wt.x && cat WT.out | tail -n 40
nodes = 1
