[SERVER]
11.11.11.11

[DOWNLOAD]
yambo/5.1.1 https://github.com/yambo-code/yambo/archive/refs/tags/5.1.1.tar.gz yambo-5.1.1.tar.gz
libxc/5.1.5 https://gitlab.com/libxc/libxc/-/archive/5.1.5/libxc-5.1.5.tar.gz libxc-5.1.5.tar.gz
fftw/3.3.6 https://github.com/yambo-code/yambo/files/838458/fftw-3.3.6-pl1.tar.gz fftw-3.3.6-pl1.tar.gz
hdf5/1.12.0 https://github.com/yambo-code/yambo/files/4574415/hdf5-1.12.0.tar.gz hdf5-1.12.0.tar.gz
iotk/y1.2.2 https://github.com/yambo-code/yambo/files/962173/iotk-y1.2.2.tar.gz iotk-y1.2.2.tar.gz
Ydriver/1.2.0 https://github.com/yambo-code/Ydriver/archive/refs/tags/1.2.0.tar.gz Ydriver-1.2.0.tar.gz
netcdf-fortran/4.5.3 https://github.com/yambo-code/yambo/files/5815675/netcdf-fortran-4.5.3.tar.gz netcdf-fortran-4.5.3.tar.gz
netcdf-c/4.7.4 https://github.com/yambo-code/yambo/files/4570415/netcdf-c-4.7.4.tar.gz netcdf-c-4.7.4.tar.gz
lapack/3.9.0 https://github.com/yambo-code/yambo/files/5815600/lacpack-3.9.0.tar.gz lacpack-3.9.0.tar.gz

[DEPENDENCY]
set -e
set -x

yum install -y cmake make gcc g++

./jarvis -install bisheng/4.1.0 com
module purge 
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

cd /home/liuqian/hpcrunner
CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/yambo-5.1.1/bin:$PATH

[APP]
app_name = YAMBO
build_dir = 
binary_dir = ${JARVIS_ROOT}/yambo-5.1.1/bin
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -zxvf ${JARVIS_DOWNLOAD}/yambo-5.1.1.tar.gz
cd yambo-5.1.1

sed -i '6530c\i?86linux* | ia64*linux* | *x86*64* | *86*cugwin | aarch64*linux* )' ./configure
sed -i '8340c\   *gfortran | *g95 | *flang)' ./configure

cp ${JARVIS_DOWNLOAD}/libxc-5.1.5.tar.gz ./lib/archive
cp ${JARVIS_DOWNLOAD}/fftw-3.3.6-pl1.tar.gz ./lib/archive
cp ${JARVIS_DOWNLOAD}/hdf5-1.12.0.tar.gz ./lib/archive
cp ${JARVIS_DOWNLOAD}/iotk-y1.2.2.tar.gz ./lib/archive
cp ${JARVIS_DOWNLOAD}/Ydriver-1.2.0.tar.gz ./lib/archive
cp ${JARVIS_DOWNLOAD}/netcdf-fortran-4.5.3.tar.gz ./lib/archive
cp ${JARVIS_DOWNLOAD}/netcdf-c-4.7.4.tar.gz ./lib/archive
cp ${JARVIS_DOWNLOAD}/lacpack-3.9.0.tar.gz ./lib/archive

./configure --prefix=${JARVIS_ROOT}/yambo-5.1.1 --enable-int-linalg CFLAGS="-Wno-implicit-function-declaration"

mkdir -p ${JARVIS_ROOT}/yambo-5.1.1/config
cp config/setup ${JARVIS_ROOT}/yambo-5.1.1/config

make core

[CLEAN]

[RUN]
run =
binary =
nodes = 1
