[SERVER]
11.11.11.11

[DOWNLOAD]
proteinmpnn/0.1.3 https://files.pythonhosted.org/packages/8c/5a/7451c7db78ae19ef856b47c286fadb17a84269ea727e120b91d05e44d840/proteinmpnn-0.1.3.tar.gz
ProteinMPNN/main ${JARVIS_PROXY}/dauparas/ProteinMPNN/archive/refs/tags/v1.0.1.tar.gz ProteinMPNN-1.0.1.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install python3/3.9.9 bisheng
module load python3/3.9.9

tar -zxvf ${JARVIS_DOWNLOAD}/proteinmpnn-0.1.3.tar.gz -C ${JARVIS_TMP_DOWNLOAD}
tar -zxvf ${JARVIS_DOWNLOAD}/ProteinMPNN-1.0.1.tar.gz -C ${JARVIS_TMP_DOWNLOAD}/proteinmpnn-0.1.3/ --transform='s/ProteinMPNN-1.0.1/test_files/'

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load python3/3.9.9

[APP]
app_name = proteinmpnn
build_dir = ${JARVIS_TMP_DOWNLOAD}/proteinmpnn-0.1.3
binary_dir =
case_dir = ${JARVIS_TMP_DOWNLOAD}/proteinmpnn-0.1.3/test_files

[BUILD]
python3 setup.py install

[CLEAN]
pip3 uninstall proteinmpnn -y

[RUN]
run = proteinmpnn
binary = --jsonl-path outputs/example_1_outputs/parsed_pdbs.jsonl --out-folder outputs/example_1_outputs/ --num-seq-per-target 2 --sampling-temp "0.1" --seed 3 --batch-size 1
nodes = 1
