[SERVER]
11.11.11.11

[DOWNLOAD]
roms/3.6 https://github.com/myroms/roms/archive/refs/tags/roms-3.6.tar.gz

[DEPENDENCY]
./jarvis -install package/hpckit/24.0.0/ any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi

export CC=mpicc FC=mpifort CXX=mpicxx

./jarvis -install package/hdf5/1.12.0/clang bisheng+mpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.1.0-hmpi2.4.3/
module load hdf5-clang/1.12.0
./jarvis -install package/pnetcdf/1.11.2 bisheng+mpi
module load pnetcdf/1.11.2
./jarvis -install package/netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4
module load bisheng/kml2.5.0/kml bisheng/kml2.5.0/kblas/pthread

[ENV]
module use ${JARVIS_ROOT}/software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.1.0-hmpi2.4.3/
module load hdf5-clang/1.12.0
module load pnetcdf/1.11.2
module load netcdf-clang/4.7.4
module load bisheng/kml2.5.0/kml bisheng/kml2.5.0/kblas/pthread
export PATH=$JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/roms-3.6/bin:$PATH

[APP]
app_name = roms
build_dir = $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/roms-3.6/bin
binary_dir = $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/roms-3.6/bin
case_dir = ${JARVIS_TMP}/roms-roms-3.6/ROMS/External

[BUILD]
set -x
cd ${JARVIS_TMP}
tar -xf ${JARVIS_DOWNLOAD}/roms-3.6.tar.gz
mkdir -p ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/roms-3.6/bin
export installdir=${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/roms-3.6/bin
export KML_LIB_PATH=${JARVIS_ROOT}/software/utils/hpckit/24.0.0/HPCKit/24.12.30/kml/bisheng/lib
cd ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/roms-3.6/bin
cp ${JARVIS_TMP}/roms-roms-3.6/ROMS/Bin/build.sh ./
cp ${JARVIS_TMP}/roms-roms-3.6/ROMS/Include/upwelling.h ./
sed -i '87s/^/#/' build.sh
sed -i "88s%.*% setenv MY_PROJECT_DIR        ${installdir}%" build.sh
sed -i "101s%.*% setenv MY_ROMS_SRC        ${JARVIS_TMP}/roms-roms-3.6%" build.sh
sed -i "142s/ifort/flang/" build.sh
sed -i '148s/^#/ /' build.sh
sed -i '149s/^#/ /' build.sh
sed -i '151s/^#/ /' build.sh
sed -i '188s/gfortran/flang/' build.sh
sed -i '192s/PATH .*/PATH $OPAL_PREFIX\/bin:$PATH/' build.sh
sed -i "330s/gfortran/flang/" build.sh
sed -i "332s/gfortran/flang/" build.sh
sed -i "334s/mpich/openmpi/" build.sh
sed -i '359s/NC_CONFIG      .*/NC_CONFIG      ${NETCDF_CLANG_PATH}\/bin\/nc-config/' build.sh
sed -i '360s/NETCDF_INCDIR  .*/NETCDF_INCDIR  ${NETCDF_CLANG_PATH}\/include/' build.sh
export CC=mpicc CXX=mpicxx FC=mpifort
cd ${JARVIS_TMP}/roms-roms-3.6/Compilers
cp Linux-gfortran.mk Linux-flang.mk
sed -i "25s/gfortran/flang/" Linux-flang.mk
sed -i "26s%-frepack-arrays%-frepack-arrays -L$KML_LIB_PATH/${kp}/kblas/pthread -lkblas -L$KML_LIB_PATH/${kp} -lklapack_full -L$KML_LIB_PATH/noarch -lkm%" Linux-flang.mk
sed -i "66s/mpif90/mpifort/" Linux-flang.mk
cd ../
sed -i "31s/3.82/3.82 4.3/" makefile
cd ${installdir}
./build.sh
rm -rf Build build.sh upwelling.h

[CLEAN]
rm -rf $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/roms-3.6/bin/*

[RUN]
run =   
binary = $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/roms-3.6/bin/oceanM 
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="roms-proformance.log"

>"$LOG_FILE"
sed -i "77s%ROMS\/External%.%" ocean_benchmark3.in
sed -i "101,102s/2/8/" ocean_benchmark3.in
$RUN_TOOL "roms oceanM" "mpirun --allow-run-as-root -np 64 oceanM ocean_benchmark3.in" $LOG_FILE
#mpirun --allow-run-as-root -np 64 oceanM ocean_benchmark3.in

echo "All commands executed. Performance log saved to $LOG_FILE"

[JOB]
#!/bin/sh
#DSUB -n roms_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo roms.%J.out
#DSUB -oe roms.%J.err

LOG_FILE="roms-proformance.log"

>"$LOG_FILE"
sed -i "77s%ROMS\/External%.%" ocean_benchmark3.in
sed -i "101,102s/2/8/" ocean_benchmark3.in
$RUN_TOOL "roms oceanM" "mpirun --allow-run-as-root -np 64 oceanM ocean_benchmark3.in" $LOG_FILE

echo "ALL commands executed. Performance log saved to $LOG_FILE"

