[SERVER]
11.11.11.11

[DOWNLOAD]
trams/3.02 https://github.com/jarviscanada/jarvis_data/releases/download/v0.0.1/trams_v3.02.tar.gz trams_v3.02.tar.gz




[DEPENDENCY]
module purge
if [[ $UseLatest -eq 1 ]]; then
    HPCKit_Version=latest
else
    HPCKit_Version=25.0.0
fi

./jarvis -install hpckit/${HPCKit_Version}/ any
BISHENG_VERSION=`ls software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles/bisheng|grep compiler|awk -F "compiler" '{print $2}'`
HMPI_VERSION=`ls software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles/bisheng|grep hmpi|awk -F "hmpi" '{print $2}'`
module use software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.13.0/clang bisheng+mpi
module load bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/hdf5-clang/1.13.0
./jarvis -install pnetcdf/1.14.0 bisheng+mpi
module load bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/pnetcdf/1.14.0
./jarvis -install netcdf/4.9.3/clang bisheng+mpi
module load bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/netcdf-clang/4.9.3


tar -zxvf $JARVIS_DOWNLOAD/trams_v3.02.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
module load hmpi/1.1.1
module load netcdf/4.7.0
export NETCDF=$JARVIS_ROOT/software/libs/bisheng2.1.0/hmpi1.1.1/netcdf/4.7.0

[APP]
app_name = Grapes
build_dir = $JARVIS_ROOT/trams_v3.02
binary_dir = $JARVIS_ROOT/trams_v3.02/run
case_dir = $JARVIS_ROOT/trams_v3.02/run

[BUILD]
./clean -a
sed -i "30c\FCBASEOPTS      =       -O1 -mcpu=tsv110 ${OPTION} -fveclib=MATHLIB -finline-functions -ftree-vectorize -falign-functions -mllvm -min-prefetch-stride=2 -ffree-form -finit-zero -freciprocal-math -mrecip=vec-div:1 -faarch64-pow-alt-precision -mllvm --aarch64-recip-alt-accuracy -fstack-arrays -mllvm -disable-sincos-opt" configure.grapes
./compile grapes

[CLEAN]
cd ..
sh run_plevchk.sh trams_v3.02/run/
cat chk/ab22062500

[RUN]
run = mpirun --allow-run-as-root -np 4 --map-by socket --rank-by core -x LD_LIBRARY_PATH -x PATH -x OMP_NUM_THREADS=1
binary = grapes.exe
nodes = 1