[SERVER]
11.11.11.11

[DEPENDENCY]
tar -zxvf $JARVIS_DOWNLOAD/trams_v3.02.tar.gz

[ENV]
module purge
source /share/app/intel/oneapi/setvars.sh

[APP]
app_name = Grapes
build_dir = $JARVIS_ROOT/trams_v3.02
binary_dir = 
case_dir = $JARVIS_ROOT/trams_v3.02/run

[BUILD]
./clean -a
rm -rf ./run/grapes.exe
sed -i "30c\FCBASEOPTS      =       -O3" configure.grapes
./compile grapes

[CLEAN]
cd ..
sh run_plevchk.sh trams_v3.02/run/
cat chk/ab22062500

[RUN]
#run = sed -i "10c\   time_step_max = 1440," namelist.input && dsub -s run_12n.sh
#run = dsub -n grapes_compile -q root.default -R "cpu=100;mem=256000" -o grapes_compile_%J.log -e grapes_compile_err_%J.log "./jarvis -b"
run = mpirun -n 4 ./grapes.exe
binary = 
nodes = 1