[SERVER]
11.11.11.11

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0
module load bisheng2/2.1.0
./jarvis -install hmpi/1.1.1
module load hmpi1/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 clang+mpi
./jarvis -install pnetcdf/1.11.2 clang+mpi
./jarvis -install netcdf/4.7.0 clang+mpi
tar -zxvf $JARVIS_DOWNLOAD/trams_v3.02.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
module load hmpi1/1.1.1
module load netcdf/4.7.0
export NETCDF=$JARVIS_ROOT/software/libs/bisheng2/hmpi1/netcdf/4.7.0

[APP]
app_name = Grapes
build_dir = $JARVIS_ROOT/trams_v3.02
binary_dir = $JARVIS_ROOT/trams_v3.02/run
case_dir = $JARVIS_ROOT/trams_v3.02/run

[BUILD]
./clean -a
sed -i "30c\FCBASEOPTS      =       -O1 -mcpu=tsv110 ${OPTION} -fveclib=MATHLIB -finline-functions -ftree-vectorize -falign-functions -mllvm -min-prefetch-stride=2 -ffree-form -finit-zero -freciprocal-math -mrecip=vec-div:1 -faarch64-pow-alt-precision -mllvm --aarch64-recip-alt-accuracy -fstack-arrays -mllvm -disable-sincos-opt" configure.grapes
./compile grapes

[CLEAN]
cd ..
sh run_plevchk.sh trams_v3.02/run/
cat chk/ab22062500

[RUN]
run = mpirun --allow-run-as-root -np 4 --map-by socket --rank-by core -x LD_LIBRARY_PATH -x PATH -x OMP_NUM_THREADS=1
binary = grapes.exe
nodes = 1