[SERVER]
11.11.11.11

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install kgcc/9.3.1
module load kgcc9/9.3.1
./jarvis -install openmpi/4.1.2
module load openmpi4/4.1.2
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 gcc+mpi
./jarvis -install pnetcdf/1.11.2 gcc+mpi
./jarvis -install netcdf/4.7.0 gcc+mpi
tar -zxvf $JARVIS_DOWNLOAD/trams_v3.02.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load kgcc9/9.3.1
module load openmpi4/4.1.2
module load netcdf/4.7.0
export NETCDF=$JARVIS_ROOT/software/libs/kgcc9/openmpi4/netcdf/4.7.0

[APP]
app_name = Grapes
build_dir = $JARVIS_ROOT/trams_v3.02
binary_dir = $JARVIS_ROOT/trams_v3.02/run
case_dir = $JARVIS_ROOT/trams_v3.02/run

[BUILD]
./clean -a
sed -i "30c\FCBASEOPTS      =  -O1 -ffree-line-length-none -std=legacy" configure.grapes
./compile grapes

[CLEAN]
cd ..
sh run_plevchk.sh trams_v3.02/run/
cat chk/ab22062500

[RUN]
run = mpirun --allow-run-as-root -np 120 --map-by socket --rank-by core -x LD_LIBRARY_PATH -x PATH -x OMP_NUM_THREADS=1
binary = grapes.exe
nodes = 1