[SERVER]
11.11.11.11

[DOWNLOAD]
FDS/6.7.4 https://github.com/firemodels/fds/archive/refs/tags/FDS6.7.4.tar.gz

[DEPENDENCY]

./jarvis -install package/hpckit/2024.12.30/ any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=mpicc FC=mpifort CXX=mpicxx


[ENV]

module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=mpicc FC=mpifort CXX=mpicxx

export CC=mpicc CXX=mpicxx FC=mpifort
export PATH=${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/fds-FDS6.7.4/Build/mpi_gnu_linux_64:$PATH

[APP]
app_name = fds
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/fds-FDS6.7.4/Build/mpi_gnu_linux_64
case_dir = ${JARVIS_ROOT}/case

[BUILD]
mkdir -p ${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/fds-FDS6.7.4
tar -xvf  ${JARVIS_DOWNLOAD}/FDS6.7.4.tar.gz --strip-components 1 -C ${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/fds-FDS6.7.4
cd ${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/fds-FDS6.7.4/Build
sed -i "s/-ffpe-summary=none//g" ./makefile
sed -i '58c\GNU_COMPINFO=-DCOMPVER_PP=\\"$(OPENMPI_COMPVERSION)\\"' ./makefile
export CFLAGS="-Wno-implicit-function-declaration -Wno-implicit-int -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true  "

sed -i '29c\clang -v | head -1> gfortran_version 2>&1' Scripts/gnu_compversion.sh
sed -i '30c\GFORTRANVERSION=clang' Scripts/gnu_compversion.sh
sed -i '32c\echo "\\"Gnu flang $GFORTRANVERSION\\""' Scripts/gnu_compversion.sh
cd mpi_gnu_linux_64



./make_fds.sh

[RUN]
run =
binary =
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="fds-proformance.log"

#清空日志文件
>"$LOG_FILE"


export OMP_NUM_THREADS=1
#执行每个命令并统计性能
#$RUN_TOOL "mpirun " "mpirun -np 128 --mca btl ^openib --allow-run-as-root fds_mpi_gnu_linux_64 ${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/fds-FDS6.7.4/Validation/MPI_Scaling_Tests/FDS_Input_Files/weak_scaling_test_128.fds" $LOG_FILE
 
{ time -p mpirun -np 128 --mca btl ^openib --allow-run-as-root fds_mpi_gnu_linux_64 ${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/fds-FDS6.7.4/Validation/MPI_Scaling_Tests/FDS_Input_Files/weak_scaling_test_128.fds ;} 2>&1 | tee fds_128.log

echo "All commands executed. Performance log saved to $LOG_FILE"




[JOB]
#!/bin/bash
#DSUB -n fds_test
#DSUB --mpi hmpi
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -o fds.%J.out
#DSUB -e fds.%J.err


#定义日志文件
LOG_FILE="fds-proformance.log"

#清空日志文件
>"$LOG_FILE"


export OMP_NUM_THREADS=1
#执行每个命令并统计性能
$RUN_TOOL "mpirun " "mpirun -np 128 --mca btl ^openib --allow-run-as-root fds_mpi_gnu_linux_64 ${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/fds-FDS6.7.4/Validation/MPI_Scaling_Tests/FDS_Input_Files/weak_scaling_test_128.fds" $LOG_FILE
echo "All commands executed. Performance log saved to $LOG_FILE"
