[SERVER]
11.11.11.11

[DOWNLOAD]
FDS/6.7.4 https://github.com/firemodels/fds/archive/refs/tags/FDS6.7.4.tar.gz

[DEPENDENCY]
export CC=mpicc CXX=mpicxx FC=mpifort


[ENV]
export CC=mpicc CXX=mpicxx FC=mpifort
export PATH=/hpcrunner/fds-FDS6.7.4/Build/mpi_gnu_linux_64:$PATH

[APP]
app_name = amg
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/fds/6.7.4/bin
case_dir =

[BUILD]
cd /hpcrunner/
tar -xvf  ${JARVIS_DOWNLOAD}/FDS6.7.4.tar.gz
cd fds-FDS6.7.4/Build
sed -i "s/-ffpe-summary=none//g" ./makefile
sed -i '58c\GNU_COMPINFO=-DCOMPVER_PP=\\"$(OPENMPI_COMPVERSION)\\"' ./makefile
export CFLAGS="-Wno-implicit-function-declaration -Wno-implicit-int -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true  "

sed -i '29c\clang -v | head -1> gfortran_version 2>&1' Scripts/gnu_compversion.sh
sed -i '30c\GFORTRANVERSION=clang' Scripts/gnu_compversion.sh
sed -i '32c\echo "\\"Gnu flang $GFORTRANVERSION\\""' Scripts/gnu_compversion.sh
cd mpi_gnu_linux_64



./make_fds.sh

[RUN]
run =
binary =
nodes = 1
