[SERVER]
11.11.11.11

[DOWNLOAD]
FDS/6.7.4 https://github.com/firemodels/fds/archive/refs/tags/FDS6.7.4.tar.gz

[DEPENDENCY]

module purge
./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
tar -xvf  ${JARVIS_DOWNLOAD}/FDS6.7.4.tar.gz


[ENV]
module purge
./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
export PATH=${JARVIS_ROOT}/fds-FDS6.7.4/Build/mpi_gnu_linux_64:$PATH
export OMP_NUM_THREADS=1

[APP]
app_name = amg
build_dir = ${JARVIS_ROOT}/fds-FDS6.7.4/Build
binary_dir = ${JARVIS_ROOT}/fds-FDS6.7.4/
case_dir =

[BUILD]
sed -i "s/-ffpe-summary=none//g" ./makefile
sed -i '58c\GNU_COMPINFO=-DCOMPVER_PP=\\"$(OPENMPI_COMPVERSION)\\"' ./makefile
export CFLAGS="-Wno-implicit-function-declaration -Wno-implicit-int"

sed -i '29c\clang -v | head -1> gfortran_version 2>&1' Scripts/gnu_compversion.sh
sed -i '30c\GFORTRANVERSION=clang' Scripts/gnu_compversion.sh
sed -i '32c\echo "\\"Gnu flang $GFORTRANVERSION\\""' Scripts/gnu_compversion.sh
cd mpi_gnu_linux_64
./make_fds.sh
export PATH=${JARVIS_ROOT}/fds-FDS6.7.4/Build/mpi_gnu_linux_64:$PATH
mkdir testcase
export OMP_NUM_THREADS=1


[RUN]
run =`which mpirun` -np 8 --mca btl ^openib --allow-run-as-root ${JARVIS_ROOT}/fds-FDS6.7.4/Build/mpi_gnu_linux_64/fds_mpi_gnu_linux_64 ${JARVIS_ROOT}/fds-FDS6.7.4/Validation/MPI_Scaling_Tests/FDS_Input_Files/weak_scaling_test_128.fds
binary =
nodes = 1
