[SERVER]
11.11.11.11

[DOWNLOAD]
vaspkit/0.52 https://sourceforge.net/projects/vaspkit/files/Src/vaspkit.0.52.tar.gz

[DEPENDENCY]
yum install make cmake gcc g++ -y

module purge
./jarvis -install bisheng/4.1.0 com
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=clang CXX=clang++ FC=flang

cd ${JARVIS_TMP_DOWNLOAD}
rm -rf vaspkit-0.52
tar -xzvf ${JARVIS_DOWNLOAD}/vaspkit.0.52.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

[APP]
app_name = vaspkit
build_dir = ${JARVIS_TMP_DOWNLOAD}/vaspkit.0.52/
binary_dir = ${JARVIS_TMP_DOWNLOAD}vaspkit.0.52/src/
case_dir = 

[BUILD]
sed -i "6c FC=flang" make.inc
sed -i "12c CC=clang" make.inc
cd src
make

[CLEAN]
cd src
make clean

[RUN]
run =
binary = vaspkit
nodes = 1

[PERF]
perf=
nsys=
ncu=

