[SERVER]
11.11.11.11

[DOWNLOAD]
vaspkit/0.52 https://sourceforge.net/projects/vaspkit/files/Src/vaspkit.0.52.tar.gz vaspkit.0.52.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

[APP]
fake = 0
app_name = vaspkit
app_version = 0.52
compiler = bisheng
build_dir = ${JARVIS_APP}/vaspkit/0.52-%#MYKBSVER#%/project
binary_dir = ${JARVIS_APP}/vaspkit/0.52-%#MYKBSVER#%
case_dir = ${JARVIS_JOBSCRIPT}/vaspkit/0.52

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
set +x && build_mod_check "${BUILD_DIR}/vaspkit.0.52/src/vaspkit" "prompt" && set -x
rm -rf vaspkit.0.52
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/vaspkit.0.52.tar.gz -C ${BUILD_DIR}

####### build start
set +x && echo_info "build start" && set -x
cd vaspkit.0.52

sed -i "6c\FC=flang" make.inc
sed -i "7c\FFLAGS= -O3 -mcpu=hip11 -mllvm -force-customized-pipeline=true" make.inc
sed -i "12c\CC=clang" make.inc
sed -i "13c\CFLAGS= -O3 -mcpu=hip11 -mllvm -force-customized-pipeline=true" make.inc

make -C src/spglib
make -C src

mkdir -p ${PATH_INSTALL}/bin
rm -f ${PATH_INSTALL}/bin/vaspkit
ln -s ${BUILD_DIR}/vaspkit.0.52/src/vaspkit ${PATH_INSTALL}/bin/vaspkit

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/vaspkit/0.52
mkdir -p ${JOBDIR}

${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load vaspkit/0.52-%#MYKBSVER#%" >> ${JOBDIR}/env.sh
cp ${BUILD_DIR}/vaspkit.0.52/examples/3D_band ${JOBDIR}/ -ar


cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_vaspkit
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cd job_work
{ echo -e "3\n1\n301" | time -p vaspkit ; } 2>&1 | tee tee_out.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd local_work
{ echo -e "3\n1\n301" | time -p vaspkit ; } 2>&1 | tee tee_out.xlog
EOF

cat > ${JOBDIR}/vaspkit-0.52-run.sh << EOF
mkdir -p local_work job_work
cp 3D_band/* ./local_work/ -ar
cp 3D_band/* ./job_work/ -ar

./local_run.sh
dsub -s job_run.sh

EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/vaspkit-0.52-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
