[SERVER]
11.11.11.11

[DOWNLOAD]
NCL/6.6.2 https://rpmfind.net/linux/epel/8/Everything/aarch64/Packages/n/ncl-6.6.2-12.el8.aarch64.rpm

[DEPENDENCY]
set -e
set -x
module purge
sed -i '1a export bisheng_ver='bisheng-compiler-2.3.0'' package/bisheng/2.3.0/install.sh
./jarvis -install kgcc/10.3.1 com
./jarvis -install bisheng/2.3.0 com
module use ./software/modulefiles
module load bisheng
CC=`which clang`
CXX=`which clang++`
FC=`which flang`
sed -i '9c ./configure --prefix=$1 CFLAGS="-fPIC"' package/libjpeg/v9b/install.sh 
./jarvis -install libjpeg/v9b bisheng
./jarvis -install hmpi/1.2.0 bisheng
module load libjpeg

module load hmpi/1.2.0





CC=`which mpicc`

./jarvis -install pnetcdf/1.12.1 bisheng
module load pnetcdf/1.12.1
sed -i '9c ./configure --prefix=$1 --enable-netcdf-4  --disable-shared' package/szip/2.1.1/install.sh


sed -i '11c CC=`which mpicc` FC=`which mpifort` ./configure --with-zlib=/usr/lib --prefix=$1 --enable-static=yes --enable-parallel --enable-shared --with-szlib=${JARVIS_LIBS}/bisheng2.3.0/szip/2.1.1/lib' package/hdf5/1.10.4/install.sh
sed -i 's/# sed/sed/g' package/hdf5/1.12.0/install.sh
./jarvis -install hdf5/1.12.0 bisheng

export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module load hdf5/1.12.0

sed -i '21c ./configure --prefix=$1 ${build_type} --enable-shared --enable-netcdf-4 --disable-dap --with-pic --disable-doxygen --enable-static --disable-pnetcdf --enable-largefile CPPFLAGS="-O3 -I${HMPI_PATH}/include -I${HDF5_DIR}/include -I${PNETCDF_DIR}/include" LDFLAGS="-L${HDF5_DIR}/lib -L${PNETCDF_DIR}/lib -Wl,-rpath=${HDF5_DIR}/lib -Wl,-rpath=${PNETCDF_DIR}/lib" CFLAGS="-O3 -L${HDF5_DIR}/lib -L${PNETCDF_DIR}/lib -I${HDF5_DIR}/include -I${PNETCDF_DIR}/include"' package/netcdf/4.7.4/install.sh
./jarvis -install netcdf/4.7.4 bisheng
module load netcdf/4.7.4
ln -s -f ${NETCDF_PATH}/lib/libnetcdf.so.18 ${NETCDF_PATH}/lib/libnetcdf.so.15
./jarvis -install hdf4/4.2.13 bisheng


module load hdf5/1.12.0
ln -s -f ${HDF5_PATH}/lib/libhdf5_hl.so.200.0.0 ${HDF5_PATH}/lib/libhdf5_hl.so.100
ln -s -f ${HDF5_PATH}/lib/libhdf5.so.200.0.0 ${HDF5_PATH}/lib/libhdf5.so.103
./jarvis -install jasper/1.900.1 bisheng
module load jasper
ln -s -f ${JASPER_PATH}/lib/libjasper.so.1.0.0 ${JASPER_PATH}/lib/libjasper.so.4

./jarvis -install proj/5.2.0 bisheng
./jarvis -install gdal/2.2.4 bisheng
module load gdal/2.2.4
module load proj/5.2.0
ln -s -f ${GDAL_PATH}/lib/libgdal.so.20.3.3 ${GDAL_PATH}/lib/libgdal.so.26
ln -s -f ${PROJ_PATH}/lib/libproj.so ${PROJ_PATH}/lib/libproj.so.15

export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

./jarvis -install udunits/2.2.28 bisheng 
./jarvis -install gsl/2.6 bisheng
module load gsl/2.6
ln -s -f ${GSL_PATH}/lib/libgsl.so.25.0.0 ${GSL_PATH}/lib/libgsl.so.23
./jarvis -install openblas/0.3.18 bisheng
module load openblas/0.3.18




[ENV]
module purge
module use ./software/modulefiles

module load bisheng/2.3.0
module load hmpi/1.2.0
module load libjpeg
module load hdf5/1.12.0
module load netcdf/4.7.4
module load hdf4-clang/4.2.15
module load hdf5/1.10.4
module load gsl/2.6
module load jasper/1.900.1
module load proj/5.2.0
module load gdal/2.2.4
module load udunits/2.2.28
module load openblas
module load kgcc
export CC=`which mpicc`
export F77=`which mpif77`
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:${JARVIS_LIBS}/bisheng2.3.0/szip/2.1.1/lib:${JARVIS_LIBS}/bisheng2.3.0/libjpeg/v9b/lib:${JARVIS_LIBS}/bisheng2.3.0/gsl/2.6/lib



[APP]
app_name = NCL
build_dir = ${JARVIS_TMP}/ncl_ncarg-6.6.2
binary_dir = ${JARVIS_LIBS}/bisheng2.3.0/ncl/bin
case_dir = ${JARVIS_LIBS}/bisheng2.3.0/ncl/bin

[BUILD]
cd ${JARVIS_TMP}
rm -rf ncl_ncarg_6.6.2
mkdir ncl_ncarg_6.6.2
cd ncl_ncarg_6.6.2
rpm2cpio ${JARVIS_DOWNLOAD}/ncl-6.6.2-12.el8.aarch64.rpm | cpio -div
cp -r usr/* ${JARVIS_LIBS}/bisheng2.3.0/ncl
export PATH=$PATH:${JARVIS_LIBS}/bisheng2.3.0/ncl/bin
export NCARG_ROOT=${binary_dir}

[RUN]
run =  export PATH=$PATH:${JARVIS_LIBS}/bisheng2.3.0/ncl/bin && export NCARG_ROOT=${JARVIS_LIBS}/bisheng2.3.0/ncl && export NCARG_COLORMAPS=$NCARG_ROOT/lib64/ncarg/colormaps && ncl -Q
binary = 
nodes = 1
