[SERVER]
11.11.11.11

[DOWNLOAD]
NCL/6.6.2 https://download-ib01.fedoraproject.org/pub/epel/8/Everything/SRPMS/Packages/n/ncl-6.6.2-12.el8.src.rpm

[DEPENDENCY]
set -e
set -x
module purge
cd /etc/yum.repos.d/
mkdir -p backup
cp *.repo backup/
sed -i -e 's|$releasever|8-stream|g' /etc/yum.repos.d/CentOS-*
sed -i '15 s/^/#/' /etc/yum.repos.d/CentOS-AppStream.repo
sed -i '16 s/^#//' /etc/yum.repos.d/CentOS-AppStream.repo
sed -i '15 s/^/#/' /etc/yum.repos.d/CentOS-Base.repo
sed -i '16 s/^#//' /etc/yum.repos.d/CentOS-Base.repo
sed -i '16 s/^/#/' /etc/yum.repos.d/CentOS-centosplus.repo
sed -i '17 s/^#//' /etc/yum.repos.d/CentOS-centosplus.repo
sed -i '19 s/^/#/' /etc/yum.repos.d/CentOS-CR.repo
sed -i '20 s/^#//' /etc/yum.repos.d/CentOS-CR.repo
sed -i '15 s/^/#/' /etc/yum.repos.d/CentOS-Devel.repo
sed -i '16 s/^#//' /etc/yum.repos.d/CentOS-Devel.repo
sed -i '16 s/^/#/' /etc/yum.repos.d/CentOS-Extras.repo
sed -i '17 s/^#//' /etc/yum.repos.d/CentOS-Extras.repo
sed -i '5 s/^/#/' /etc/yum.repos.d/CentOS-fasttrack.repo
sed -i '6 s/^#//' /etc/yum.repos.d/CentOS-fasttrack.repo
sed -i '15 s/^/#/' /etc/yum.repos.d/CentOS-HA.repo
sed -i '16 s/^#//' /etc/yum.repos.d/CentOS-HA.repo
sed -i '15 s/^/#/' /etc/yum.repos.d/CentOS-PowerTools.repo
sed -i '16 s/^#//' /etc/yum.repos.d/CentOS-PowerTools.repo
sed -i '18c enabled=1' /etc/yum.repos.d/CentOS-PowerTools.repo

yum clean all && yum makecache
yum remove epel-release -y
yum install -y epel-release
sed -i -e 's|$releasever|8|g' /etc/yum.repos.d/epel*
yum install -y netcdf-fortran-devel hdf-static hdf-devel g2clib-static gdal-devel proj-devel imake libXaw-devel flex-static udunits2-devel byacc cairo-devel flex gsl-devel openblas-devel

yum -y install xorg-x11-xauth xorg-x11-server-utils xorg-x11-server-Xnest libXtst

rpmdev-setuptree


[ENV]
module purge
export CPPFLAGS=" -g -fsigned-char "$CPPFLAGS
export CFLAGS=" -g -fsigned-char "$CFLAGS
export CXXFLAGS=" -g -fsigned-char "$CXXFLAGS


[APP]
app_name = NCL
build_dir = ${JARVIS_TMP}/ncl_6.6.2
binary_dir =
case_dir = 

[BUILD]
cd ${JARVIS_TMP}
rm -rf ncl_6.6.2
mkdir ncl_6.6.2
cd ncl_6.6.2
#unzip src.rpm PWD
rpm2cpio ${JARVIS_DOWNLOAD}/ncl-6.6.2-12.el8.src.rpm | cpio -div

cat << EOF > ~/.rpmmacros
$a%_topdir %(echo $PWD)
EOF
mkdir -p $PWD/{BUILD,RPMS,SOURCES,SPECS,SRPMS}

#fix tar.gz
tar zxvf ncl-6.6.2.tar.gz
sed -i '61c EXCSRCS = bcopyswap.c logic32.c' ncl-6.6.2/common/src/libncarg_c/yMakefile
sed -i '62c EXFSRCS = gbytes.f sbytes.f' ncl-6.6.2/common/src/libncarg_c/yMakefile
sed -i '62a EXOBJS  = bcopyswap.o sbytes.o gbytes.o logic32.o' ncl-6.6.2/common/src/libncarg_c/yMakefile

sed -i '32c #define LibSearchUser    -L/usr/X11R6/lib64 -L/usr/lib64' ncl-6.6.2/config/LINUX
sed -i '33c #define IncSearchUser    -I/usr/X11R6/include -I/usr/include' ncl-6.6.2/config/LINUX
sed -i '35c #define ArchRecLibSearch    -L/usr/X11R6/lib64 -L/usr/lib64' ncl-6.6.2/config/LINUX
sed -i '36c #define ArchRecIncSearch    -I/usr/X11R6/include -I/usr/include' ncl-6.6.2/config/LINUX

sed -i "9660c IF ((CEX1(1:1).EQ.' ') .AND. (LCX1 .EQ. 1)) LCX1=0" ncl-6.6.2/ncarg2d/src/libncarg/conpack/CodeIftran
sed -i "9662c IF ((CEX2(1:1).EQ.' ') .AND. (LCX2 .EQ. 1)) LCX2=0" ncl-6.6.2/ncarg2d/src/libncarg/conpack/CodeIftran
sed -i "9664c IF ((CEX3(1:1).EQ.' ') .AND. (LCX3 .EQ. 1)) LCX3=0" ncl-6.6.2/ncarg2d/src/libncarg/conpack/CodeIftran
sed -i "9669c DO (III=1,LBUF)" ncl-6.6.2/ncarg2d/src/libncarg/conpack/CodeIftran
sed -i "9669a CBUF(III:III)=' '" ncl-6.6.2/ncarg2d/src/libncarg/conpack/CodeIftran
sed -i "9670a END DO" ncl-6.6.2/ncarg2d/src/libncarg/conpack/CodeIftran
sed -i "9793c CBUF(1:1)='0'" ncl-6.6.2/ncarg2d/src/libncarg/conpack/CodeIftran

sed -i '46c EXTRA_CCOPTIONS = -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE -g -fsigned-char' ncl-6.6.2/ni/src/ncl/yMakefile

rm -rf ncl-6.6.2.tar.gz
tar zcvf ncl-6.6.2.tar.gz ncl-6.6.2
rm -rf ncl-6.6.2
#fix patch
sed -i "20a +        case    aarch64:" ncl-5.1.0-ppc64.patch
sed -i '21a +            set model   = $mach' ncl-5.1.0-ppc64.patch
sed -i '22a +            set arch    = $mach' ncl-5.1.0-ppc64.patch
sed -i "23a +            set sysincs = LINUX" ncl-5.1.0-ppc64.patch
sed -i "24a +            set vendor  = ARM" ncl-5.1.0-ppc64.patch
sed -i "25a +            breaksw" ncl-5.1.0-ppc64.patch
sed -i '3c @@ -372,19 +372,19 @@' ncl-5.1.0-ppc64.patch

sed -i "9,10d"	ncl-5.2.1-secondary.patch
sed -i '3c @@ -373,6 +373,8 @@' ncl-5.2.1-secondary.patch

#mv file
mv ncl-6.6.2.tar.gz SOURCES/
cp *.patch SOURCES/
mv Site.local.ncl SOURCES/
mv ncarg.csh SOURCES/
mv ncarg.sh SOURCES/
mv ncl.spec SPECS/
cd SPECS/
rpmbuild -ba ncl.spec

#install rpm
cd ../RPMS
cp noarch/* aarch64/
cd aarch64
yum localinstall ncl-6.6.2-12.el8.aarch64.rpm ncl-common-6.6.2-12.el8.noarch.rpm ncl-debuginfo-6.6.2-12.el8.aarch64.rpm  ncl-debugsource-6.6.2-12.el8.aarch64.rpm ncl-devel-debuginfo-6.6.2-12.el8.aarch64.rpm ncl-devel-6.6.2-12.el8.aarch64.rpm ncl-examples-6.6.2-12.el8.noarch.rpm -y
#add High resolution data
mkdir -p /usr/lib64/ncarg/database/rangs
cd /usr/lib64/ncarg/database/rangs
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs\(0\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs\(1\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs\(2\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs\(3\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs\(4\).zip --no-ch

wget https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs\(0\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs\(1\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs\(2\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs\(3\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs\(4\).zip --no-ch

unzip 'gshhs(0).zip'
unzip 'gshhs(1).zip'
unzip 'gshhs(2).zip'
unzip 'gshhs(3).zip'
unzip 'gshhs(4).zip'

unzip 'rangs(0).zip'
unzip 'rangs(1).zip'
unzip 'rangs(2).zip'
unzip 'rangs(3).zip'
unzip 'rangs(4).zip'
cd -


[RUN]
run =  export NCARG_FONTCAPS=/usr/lib64/ncarg/fontcaps && export NCARG_GRAPHCAPS=/usr/lib64/ncarg/graphcaps && export NCARG_ROOT=/usr && export NCARG_DATABASE=/usr/lib64/ncarg/database && export NCARG_LIB=/usr/lib64/ncarg && export NCARG_NCARG=/usr/share/ncarg && ncl -Q
binary = 
nodes = 1
