[SERVER]
11.11.11.11

[DOWNLOAD]
NCL/6.6.2 https://www.earthsystemgrid.org/dataset/ncl.662.src/file/ncl_ncarg-6.6.2.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install gcc/10.3.0 com
module use ./software/modulefiles
module load gcc/10.3.0
./jarvis -install libjpeg/v9b gcc
./jarvis -install openmpi/4.1.2 gcc
./jarvis -install libjpeg/v9b gcc
module load libjpeg/v9b


module load openmpi

./jarvis -install libpng/1.6.37 gcc
./jarvis -install pkg-config/0.29 gcc
module load libpng/1.6.37 
export LIBPNG_CFLAG=${LIBPNG_PATH}/include 
export LIBPNG_LDFLAG=${LIBPNG_PATH}/lib
./jarvis -install pixman/0.38.0 gcc
./jarvis -install szip/2.1.1 gcc
./jarvis -install freetype/2.5.1 gcc

module load pkg-config/0.29
module load pixman/0.38.0
module load freetype/2.5.1

export PATH=${JARVIS_LIBS}/gcc10.3.0/pkg-config/0.29/bin:$PATH
export png_REQUIRES="libpng16"
export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:${FREETYPE_PATH}/lib/pkgconfig/:${LIBPNG_PATH}/lib/pkgconfig:${JARVIS_LIBS}/gcc10.3.0/pixman/0.38.0/lib/pkgconfig/:${JARVIS_LIBS}/gcc10.3.0/pkg-config/0.29
export C_INCLUDE_PATH=$C_INCLUDE_PATH:${JARVIS_LIBS}/gcc10.3.0/libpng/1.6.37/include:${JARVIS_LIBS}/gcc10.3.0/hdf5/1.10.4/include:${JARVIS_LIBS}/gcc10.3.0/netcdf/4.7.4/include
export FREETYPE_CONFIG="-lfreetype2"
module load pixman/0.38.0



CC=`which gcc`
./jarvis -install cairo/1.16.0 gcc


sed -i '9c ./configure --prefix=$1 --enable-netcdf-4  --disable-shared' package/szip/2.1.1/install.sh
./jarvis -install szip/2.1.1 gcc

sed -i '11c CC=`which mpicc` ./configure --prefix=$1  --with-zlib=/usr/local --enable-fortran --enable-static=yes --enable-parallel --enable-shared --with-szlib=${JARVIS_LIBS}/gcc10.3.0/szip/2.1.1/lib' package/hdf5/1.10.4/install.sh
./jarvis -install hdf5/1.10.4 gcc
module load hdf5/1.10.4
./jarvis -install pnetcdf/1.11.2 gcc
module load pnetcdf/1.11.2
sed -i '21c ./configure --prefix=$1 ${build_type} --enable-shared --enable-netcdf-4 --disable-dap --with-pic --disable-doxygen --enable-static --enable-largefile CPPFLAGS="-O3 -I${OPENMPI_PATH}/include -I${HDF5_DIR}/include -I${PNETCDF_DIR}/include" LDFLAGS="-L${HDF5_DIR}/lib -L${PNETCDF_DIR}/lib -Wl,-rpath=${HDF5_DIR}/lib -Wl,-rpath=${PNETCDF_DIR}/lib" CFLAGS="-O3 -L${HDF5_DIR}/lib -L${PNETCDF_DIR}/lib -I${HDF5_DIR}/include -I${PNETCDF_DIR}/include" ' package/netcdf/4.7.4/install.sh
./jarvis -install netcdf/4.7.4 gcc

CFLAGS='-I/usr/include/tirpc' LDFLAGS='-ltirpc' ./jarvis -install hdf4/4.2.15 gcc
module load hdf4/4.2.15


./jarvis -install gsl/2.6 gcc
./jarvis -install jasper/1.900.2 gcc
module load jasper/1.900.2
./jarvis -install g2clib/1.6.0 gcc
module load g2clib/1.6.0
./jarvis -install proj/5.2.0 gcc
./jarvis -install gdal/2.2.4 gcc
./jarvis -install hdf-eos2/2.20 gcc
./jarvis -install hdf-eos5/1.16 gcc
./jarvis -install udunits/2.2.28 gcc
./jarvis -install mesa/3.1 gcc
module load mesa/3.1

./jarvis -install vis5dplus/1.3.0 gcc

mkdir ${JARVIS_LIBS}/gcc10.3.0/ncl

[ENV]
module purge
module use ./software/modulefiles

module load gcc/10.3.0
module load openmpi
module load libjpeg
module load hdf5/1.10.4
module load libpng/1.6.37 
module load pkg-config/0.29
module load pixman/0.38.0
module load netcdf/4.7.4
module load hdf4/4.2.15
module load hdf5/1.10.4
module load g2clib/1.6.0
module load gsl/2.6
module load hdf-eos2/2.20
module load hdf-eos5/1.16
module load jasper/1.900.2
module load proj/5.2.0
module load gdal/2.2.4
module load udunits/2.2.28
module load mesa/3.1 
module load vis5dplus/1.3.0 
export CC=`which mpicc`
export F77=`which mpif77`
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:${JARVIS_LIBS}/gcc10.3.0/szip/2.1.1/lib:${JARVIS_LIBS}/gcc10.3.0/libjpeg/v9b/lib:${JARVIS_LIBS}/gcc10.3.0/gsl/2.6/lib



[APP]
app_name = NCL
build_dir = ${JARVIS_TMP}/ncl_ncarg-6.6.2
binary_dir = ${JARVIS_LIBS}/gcc10.3.0/ncl/bin
case_dir = ${JARVIS_LIBS}/gcc10.3.0/ncl/bin

[BUILD]
cd ${JARVIS_TMP}
rm -rf ncl_ncarg-6.6.2

tar zxvf ${JARVIS_DOWNLOAD}/ncl_ncarg-6.6.2.tar.gz
cd ncl_ncarg-6.6.2
wget http://www.netlib.org/voronoi/triangle.zip
unzip triangle.zip 'triangle.*' -d ./ni/src/lib/hlu/
rm -f triangle.zip

cd config
export CC=`which mpicc`
export F77=`which mpif77`
make -f Makefile.ini
./ymake -config `pwd`

sed -i '/LibSearch/d' ./Site
sed -i '/IncSearch/d' ./Site
sed -i '/#define ManRoot/a \
#define YmakeRoot ${JARVIS_LIBS}/gcc10.3.0/ncl \
#define BinRoot ${JARVIS_LIBS}/gcc10.3.0/ncl/bin \
#define LibRoot ${JARVIS_LIBS}/gcc10.3.0/ncl/lib \
#define IncRoot ${JARVIS_LIBS}/gcc10.3.0/ncl/include \
#define ManRoot ${JARVIS_LIBS}/gcc10.3.0/ncl/man \
#define TmpRoot /tmp \
\
#define RootPath ${JARVIS_LIBS}/gcc10.3.0/ncl \
#define BinPath ${JARVIS_LIBS}/gcc10.3.0/ncl/bin \
#define LibPath ${JARVIS_LIBS}/gcc10.3.0/ncl/lib \
#define IncPath ${JARVIS_LIBS}/gcc10.3.0/ncl/include \
#define ManPath ${JARVIS_LIBS}/gcc10.3.0/ncl/man \
#define LibSearch -L/usr/lib64 -L/usr/local/lib -ltirpc -L${LIBJPEG_PATH}/lib -L${LIBPNG_PATH}/lib -L${JARVIS_LIBS}/gcc10.3.0/jasper/1.900.1/lib -L${JARVIS_LIBS}/gcc10.3.0/szip/2.1.1/lib -L${JARVIS_LIBS}/gcc10.3.0/cairo/1.16.0/lib -L${JARVIS_LIBS}/gcc10.3.0/pixman/0.38.0/lib -L${JARVIS_MPI}/openmpi4.1.2-gcc10.3.0/4.1.2/lib -L${JARVIS_LIBS}/gcc10.3.0/hdf5/1.10.4/lib -L${JARVIS_LIBS}/gcc10.3.0/gsl/2.6/lib -L${JARVIS_LIBS}/gcc10.3.0/netcdf/4.7.4/lib -L${JARVIS_LIBS}/gcc10.3.0/hdf4/4.2.15/lib -L${JARVIS_LIBS}/gcc10.3.0/cairo/1.16.0/lib -L${JARVIS_LIBS}/gcc10.3.0/udunits/2.2.28/lib -L${JARVIS_LIBS}/gcc10.3.0/g2clib/1.6.0/lib -L${JARVIS_LIBS}/gcc10.3.0/hdf-eos2/2.20/lib -L${JARVIS_LIBS}/gcc10.3.0/hdf-eos5/1.16/lib\
#define IncSearch -I/usr/local/include -I${LIBPNG_PATH}/include -I${JARVIS_MPI}/openmpi4.1.2-gcc10.3.0/4.1.2/include -I${JARVIS_LIBS}/gcc10.3.0/hdf5/1.10.4/include -I${JARVIS_LIBS}/gcc10.3.0/gsl/2.6/include -I${JARVIS_LIBS}/gcc10.3.0/netcdf/4.7.4/include -I${JARVIS_LIBS}/gcc10.3.0/hdf4/4.2.15/include -I${JARVIS_LIBS}/gcc10.3.0/cairo/1.16.0/include -I${JARVIS_LIBS}/gcc10.3.0/freetype/2.5.1/include -I${JARVIS_LIBS}/gcc10.3.0/udunits/2.2.28/include -I${JARVIS_LIBS}/gcc10.3.0/g2clib/1.6.0/include -I${JARVIS_LIBS}/gcc10.3.0/hdf-eos2/2.20/include -I${JARVIS_LIBS}/gcc10.3.0/hdf-eos5/1.16/include\
#define XdrLibrary -ltirpc' ./Site

sed -i '/#ifdef	hostshavano/a\ 
#define BuildNCL 1 \
#define BuildRasterHDF 1 ' ./Site


cd ..
sed -i '85c extern NclQuark possibleDimNames[NUMPOSDIMNAMES];' ni/src/ncl/NclNewHDF5.c
sed -i '143,145c extern FILE *thefptr;\
extern FILE *theoptr;\
extern int cmd_line;' ni/src/ncl/NclApi.c
pwd
ac_cv_func_malloc_0_nonnull=yes ac_cv_func_realloc_0_nonnull=yes ./Configure -ncar

sed -i "34c\          r = (iand(index, RMASK) / int(Z'0000FFFF')) / 255." ncarg2d/src/libncarg_gks/bwi/argb2ci.f
sed -i "35c\          g = (iand(index, GMASK) / int(Z'000000FF')) / 255." ncarg2d/src/libncarg_gks/bwi/argb2ci.f

C_INCLUDE_PATH=$C_INCLUDE_PATH:${LIBPNG_PATH}/include:${JARVIS_LIBS}/gcc10.3.0/g2clib/include:${JARVIS_LIBS}/gcc10.3.0/udunits/include:${JARVIS_LIBS}/gcc10.3.0/netcdf/4.7.4/include:${JARVIS_LIBS}/gcc10.3.0/hdf4/4.2.15/include
CC=gcc FC=`which gfortran` \
EXTRA_CCOPTIONS='-L/usr/lib64 -ltirpc -L${LIBPNG_PATH}/lib -I${JARVIS_LIBS}/gcc10.3.0/cairo/1.16.0/include -I${LIBPNG_PATH}/include -I${JARVIS_LIBS}/gcc10.3.0/freetype/2.5.1/include -L${JARVIS_LIBS}/gcc10.3.0/cairo/1.16.0/lib -L${JARVIS_LIBS}/gcc10.3.0/pixman/0.38.0/lib'
EXTRA_FCOPTIONS='-fallow-argument-mismatch -fallow-invalid-boz' \
make Everything >& make-output 
make install >& install-output
export PATH=$PATH:${JARVIS_LIBS}/gcc10.3.0/ncl/bin
export DISPLAY=:0.0
export DISPLAY=128.117.14.12:0
export DISPLAY=localhost:13.0

[RUN]
run =  export PATH=$PATH:${JARVIS_LIBS}/gcc10.3.0/ncl/bin && ncl -V && ng4ex gsun01n && ncl gsun01n.ncl
binary = 
nodes = 1
