[SERVER]
11.11.11.11

[DOWNLOAD]
apache-tvm-src/v0.16.0 https://github.com/apache/tvm/releases/download/v0.16.0/apache-tvm-src-v0.16.0.tar.gz apache-tvm-src-v0.16.0.tar.gz
true

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule


[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

[APP]
fake = 0
app_name = tvm
app_version = 0.16.0
compiler = bisheng
build_dir = ${JARVIS_APP}/tvm/0.16.0-%#MYKBSVER#%/project
binary_dir = ${JARVIS_APP}/tvm/0.16.0-%#MYKBSVER#%/tvm/build
case_dir = ${JARVIS_JOBSCRIPT}/tvm/0.16.0

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/tvm/0.16.0

build_mod_check "${PATH_INSTALL}/lib/libtvm.so" "prompt"
mkdir -p ${JOBDIR}

rm -rf ${BUILD_DIR}/tvm
mkdir -p ${BUILD_DIR}/tvm
cd ${BUILD_DIR}/tvm
tar -xf ${JARVIS_DOWNLOAD}/apache-tvm-src-v0.16.0.tar.gz  --strip-components=1

cp ${JARVIS_ROOT}/dataconfig_patches/apache-tvm/apache-tvm-src-v0.16.0/cmake ${BUILD_DIR}/tvm -ar
cp ${JARVIS_ROOT}/dataconfig_patches/apache-tvm/apache-tvm-src-v0.16.0/src ${BUILD_DIR}/tvm -ar
rm -rf ./tvm-0.16.0_patches
cp ${JARVIS_ROOT}/dataconfig_patches/apache-tvm/apache-tvm-src-v0.16.0 ./tvm-0.16.0_patches -ar
cp ${JARVIS_ROOT}/dataconfig_patches/apache-tvm/apache-tvm-src-v0.16.0/test_cblas.py ${JOBDIR}/ -ar

cd ${BUILD_DIR}/tvm
####  build
echo "build start"
rm -rf build
mkdir -p build
cd build
cp ../cmake/config.cmake ./ 

HPCKIT_KML_DIR=${HPCKIT_PATH}/HPCKit/latest/kml/bisheng
HPCKIT_BISHENG=${HPCKIT_PATH}/HPCKit/latest/compiler/bisheng
HPCKIT_KBLAS_DIR=${HPCKIT_KML_DIR}/lib/sme/kblas/multi

if [ "openblas" == "openblas" ] && false; then
echo "OPENBLAS_DIR:$OPENBLAS_PATH"
cmake ..  -DCMAKE_PREFIX_PATH="${OPENBLAS_PATH}" -DCMAKE_INSTALL_PREFIX=${PATH_INSTALL} -DUSE_GRAPH_EXECUTOR=ON -DUSE_PROFILER=ON -DUSE_LLVM=ON  -DOPENBLAS_DIR=${OPENBLAS_PATH}  -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DBISHENG_LIB_DIR=${HPCKIT_BISHENG}/lib -DCMAKE_SHARED_LINKER_FLAGS="-ltf_xla_runtime"  2>&1 | tee tee_cmake.xlog
make VERBOSE=1 -j128 2>&1 | tee tee_make_jx.xlog
make VERBOSE=1 -j1 2>&1 | tee tee_make_j1.xlog
make install 2>&1 | tee tee_make_install.xlog
else
#-DUSE_RELAY_DEBUG=ON
cmake .. -DCMAKE_INSTALL_PREFIX=${PATH_INSTALL} -DUSE_GRAPH_EXECUTOR=ON -DUSE_PROFILER=ON -DUSE_LLVM=ON -DUSE_KML=openblas_kml \
-DKML_KBLAS_LIB=${HPCKIT_KBLAS_DIR} -DKML_INCLUDE_DIR=${HPCKIT_KML_DIR}/include -DCMAKE_CXX_FLAGS="-DKML=1" \
-DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DBISHENG_LIB_DIR=${HPCKIT_BISHENG}/lib \
-DCMAKE_SHARED_LINKER_FLAGS="-ltf_xla_runtime"  2>&1 | tee tee_cmake.xlog
make VERBOSE=1 -j128 2>&1 | tee tee_make_jx.xlog
make VERBOSE=1 -j1 2>&1 | tee tee_make_j1.xlog
make install 2>&1 | tee tee_make_install.xlog
fi

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOB_DIR="${JARVIS_JOBSCRIPT}/tvm/0.16.0"
mkdir -p ${JOB_DIR}
${BUILD_DIR}/env.sh_gen.sh ${JOB_DIR}/env.sh

cp ${JARVIS_JOBSCRIPT_LIBSHELL} ${JOB_DIR}/
echo "module load tvm/0.16.0-%#MYKBSVER#%" >> ${JOB_DIR}/env.sh
cat > ${JOB_DIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_tvm
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o tvm_out_%J.log
#DSUB -e tvm_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.tvm
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
export OMP_NUM_THREADS=128

ulimit -s unlimited
source ./bash-com-kit.sh
cache_mod_ddr_size_start
{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm python3 test_cblas.py ; } 2>&1 | tee tee_hmpi.xlog
cache_mod_ddr_size_restore
EOF

cat > ${JOB_DIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
export OMP_NUM_THREADS=128
source ./bash-com-kit.sh
ulimit -s unlimited
cache_mod_ddr_size_start
echo -e "\033[0;32m=============================\033[0m"
{ time  -p  python3 test_cblas.py ; } 2>&1 | tee tee_kvm.xlog
echo -e "\033[0;32m=============================\033[0m"
cache_mod_ddr_size_restore
EOF

cat > ${JOB_DIR}/tvm-0.16.0-run.sh << EOF
#!/bin/bash
source ./env.sh
text="numpy\ndecorator\npsutil\ntyping_extensions\nattr\nattrs\npygments\npackaging\npytest\nscipy\n"
echo -e "\${text}" > requirements.txt
if [ -f myenv_v1.0/bin/activate ]; then
	source myenv_v1.0/bin/activate
        PIP_LIST=\$(pip list)
        for item in \$(echo -e "\${text}")
        do
        if ! echo "\${PIP_LIST}" | grep "\${item}" > /dev/null 2>&1; then
                pip install --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple -r requirements.txt
        fi
        done

else
	python3 -m venv myenv_v1.0
	source myenv_v1.0/bin/activate
	pip install --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple  -r requirements.txt
fi

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOB_DIR}/env.sh
chmod u+x ${JOB_DIR}/job_run.sh
chmod u+x ${JOB_DIR}/local_run.sh
chmod u+x ${JOB_DIR}/tvm-0.16.0-run.sh

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
prepend-path PYTHONPATH ${PATH_INSTALL}/project/tvm/python
prepend-path LD_LIBRARY_PATH ${HPCKIT_KBLAS_DIR}
if { [module-info mode load] } {
puts stderr "enable tvm python:${PATH_INSTALL}/project/tvm/python"
}
EOF
echo "Install done!!!"

[CLEAN]
echo "make clean"

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1 cmake --version
binary = cmake --version 
nodes = 1

[BATCH]
mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1 cmake --version

[JOB]
#!/bin/bash
#DSUB -n case_cmake
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o cmake_out_%J.log
#DSUB -e cmake_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cmake
rm -f $HOSTFILE
touch $HOSTFILE
cat ${CCSCHEDULER_ALLOC_FILE} | sort > $HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm mpirun --version ; } 2>&1 | tee tee_mpirun.xlog
