[SERVER]
11.11.11.11

[DOWNLOAD]
multiwfn/3.8_dev http://sobereva.com/multiwfn/misc/Multiwfn_3.8_dev_src_Linux.zip multiwfn-3.8_dev.zip

[DEPENDENCY]
yum install make cmake gcc g++ -y

module purge
./jarvis -install hpckit/2024.12.30 com
module use ./software/compiler/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
module load bisheng/kml2.5.0/kml

cd ${JARVIS_TMP_DOWNLOAD}
rm -rf Multiwfn_3.8_dev_src_Linux
unzip ${JARVIS_DOWNLOAD}/multiwfn-3.8_dev.zip

[ENV]
module purge
module use ./software/compiler/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
module load bisheng/kml2.5.0/kml

[APP]
app_name = multiwfn
build_dir = ${JARVIS_TMP_DOWNLOAD}/Multiwfn_3.8_dev_src_Linux
binary_dir = ${JARVIS_TMP_DOWNLOAD}/Multiwfn_3.8_dev_src_Linux
case_dir = 

[BUILD]
sed -i '1c SIMD =' Makefile 
sed -i '2c #DISDIAG = -diag-disable 8290,8291,6371,10316,6178,6916,7416,5268,7342,7373,5120,5144,5082,5112,2554,5183,6182,7352' Makefile
sed -i '3c OPT = -O2 -fGNU-compatibility -ffree-line-length-0 -ffixed-line-length-0 -fopenmp -std=f2008 -L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/hmpi/bisheng/hmpi/lib -lmpi_usempif08 -lmpi_usempi_ignore_tkr -lmpi_mpifh -lmpi -L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/kml/bisheng/lib/neon/kblas/omp -lkblas -L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/kml/bisheng/lib/sve -lklapack_full -cpp' Makefile
sed -i '4c OPT1 = -O1 -fGNU-compatibility -ffree-line-length-0 -ffixed-line-length-0 -fopenmp -std=f2008  -L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/hmpi/bisheng/hmpi/lib -lmpi_usempif08 -lmpi_usempi_ignore_tkr -lmpi_mpifh -lmpi -L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/kml/bisheng/lib/neon/kblas/omp -lkblas -L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/kml/bisheng/lib/sve -lklapack_full -cpp' Makefile

sed -i '12c FC = flang' Makefile
sed -i '13c CC = clang' Makefile
sed -i 's/6178,6843//g' Makefile
sed -i 's/6843//g' Makefile
sed -i '280s/-fpscomp logicals/-fIntel-compatibility/' Makefile
make clean
make noGUI

[CLEAN]
make clean

[RUN]
run = 
binary =./Multiwfn_noGUI 
nodes = 1

[PERF]
perf=
nsys=
ncu=
