[SERVER]
11.11.11.11

[DOWNLOAD]
uwincm/1.1 https://github.com/uwincm/uwincm-public/archive/refs/tags/v1.1.tar.gz uwincm-public-1.1.tar.gz
esmf/8.9.1 https://github.com/esmf-org/esmf/archive/refs/tags/v8.9.1.tar.gz esmf-8.9.1.tar.gz

[DEPENDENCY]
yum install libtirpc libtirpc-devel -y
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
GCC_VERSION=`ls ${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module load gcc/compiler${GCC_VERSION}/gccmodule gcc/hmpi${HMPI_VERSION}/release

./jarvis -install hdf5/1.10.1 gcc+mpi
module use ./software/moduledeps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}
module load hdf5/1.10.1 
./jarvis -install package/pnetcdf/1.11.2 gcc+mpi
module load pnetcdf/1.11.2
./jarvis -install package/netcdf/4.7.0 gcc+mpi
module load netcdf/4.7.0
./jarvis -install optimized-routines/20.02 gcc+mpi
module load optimized-routines/20.02
./jarvis -install jasper/1.900.2 gcc+mpi
module load jasper/1.900.2

mkdir ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}
cd ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}
rm -rf uwincm-public-1.1
tar -zxvf $JARVIS_DOWNLOAD/uwincm-public-1.1.tar.gz
cd uwincm-public-1.1
tar -zxvf $JARVIS_DOWNLOAD/esmf-8.9.1.tar.gz

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
GCC_VERSION=`ls ${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module load gcc/compiler${GCC_VERSION}/gccmodule gcc/hmpi${HMPI_VERSION}/release
module use ./software/moduledeps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}
module load hdf5/1.10.1
module load pnetcdf/1.11.2
module load netcdf/4.7.0
module load optimized-routines/20.02
module load jasper/1.900.2
export LD_LIBRARY_PATH=${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/compiler/gcc/lib64_public:$LD_LIBRARY_PATH

export HDF5=`which h5diff`
export HDF5=${HDF5%/*/*}
export NETCDF=`nc-config --prefix`
export PNETCDF=`pnetcdf-config --prefix`
export CPPFLAGS="-I$HDF5/include -I$PNETCDF/include -I$NETCDF/include"
export LDFLAGS="-L$HDF5/lib -L$PNETCDF/lib -L$NETCDF/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export WRFIO_NCD_LARGE_FILE_SUPPORT=1

export ESMF_DIR=${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}/uwincm-public-1.1/esmf-8.9.1
export ESMF_COMPILER=gfortran
export ESMF_ABI=64
export ESMF_BOPT=O
export ESMF_COMM=openmpi
export ESMF_PTHREADS=OFF
export ESMF_OPENMP=OFF

[APP]
app_name = uwincm
build_dir = ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}/uwincm-public-1.1
binary_dir = 
case_dir = 

[BUILD]
set -e
set -x
cp Makefile.MASTER Makefile
make esmf
cp ${JARVIS_ROOT}/templates/uwincm/configure.wrf src/components/WRFV3.9
make wrf
cp src/components/hycom/src_2.2.99/dimensions.h.MASTER src/components/hycom/src_2.2.99/dimensions.h
sed -i '24c FCFFLAGS      = -O3 -w -mcmodel=small -fallow-argument-mismatch'	src/components/hycom/src_2.2.99/intel
sed -i '25c CC            = gcc'						src/components/hycom/src_2.2.99/intel
sed -i '26c CCFLAGS       = -mcmodel=small -fallow-argument-mismatch' 		src/components/hycom/src_2.2.99/intel
sed -i '2116s%(time)%(real(time,8))%' 						src/components/hycom/src_2.2.99/mod_hycom.F
make hycom
make umwm
sed -i '37s%netcdff%netcdff -lgomp -ltirpc %' 					src/uwin/Makefile
sed -i '56s%-heap-arrays -nowarn -zero -fp-model source% %' 			src/uwin/Makefile
sed -i '40s%WRF 3.8.1%WRF 3.8.1   %' 						src/uwin/UWIN_global.F90
sed -i '40s%UMWM 2.0.0%UMWM 2.0.0  %' 						src/uwin/UWIN_global.F90
sed -i '469s%pu(ii,jj,1:kte+1),\&%real(pu(ii,jj,1:kte+1),8),\&%' 		src/uwin/UWIN_physics.F90
sed -i '480s%pv(ii,jj,1:kte+1),\&%real(pv(ii,jj,1:kte+1),8),\&%' 		src/uwin/UWIN_physics.F90
make uwincm

[CLEAN]
make clean

[RUN]
run = 
binary = ldd ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}/uwincm-public-1.1/uwincm
nodes = 1

