[SERVER]
11.11.11.11

[DOWNLOAD]
qmcpack/3.17.1 ${JARVIS_PROXY}/QMCPACK/qmcpack/archive/refs/tags/v3.17.1.tar.gz

[DEPENDENCY]
set -e
set -x
./jarvis -install package/hpckit/2024.12.30/ any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi

export CC=clang CXX=clang++ FC=flang

export CFLAGS="-Wno-implicit-function-declaration -Wno-enum-constexpr-conversion -Wno-int-conversion"
./jarvis -install openblas/0.3.14 clang
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.1.0
module add openblas/0.3.14
sed -i "8a sed -i '130c         struct hash_base : std::__unary_function<T, std::size_t> {};' ./boost/container_hash/hash.hpp" package/boost/1.72.0/clang/install.sh
sed -i '11c ./b2 toolset=clang cxxflags="-stdlib=libc++ -Wno-enum-constexpr-conversion" linkflags="-stdlib=libc++" install --prefix=\$1 ' package/boost/1.72.0/clang/install.sh
./jarvis -install boost/1.72.0/clang clang
module load boost-clang/1.72.0
./jarvis -install zlib/1.2.11 clang
module load zlib/1.2.11
./jarvis -install libxml2/2.10.1 clang
module load libxml2/2.10.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install fftw/3.3.8 clang+mpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.1.0-hmpi2.4.3
module load fftw/3.3.8
sed -i '10c ./configure --prefix=$1 --enable-fortran --enable-static=yes --enable-parallel --enable-shared CFLAGS="-O3 -fPIC -Wno-incompatible-pointer-types-discards-qualifiers -Wno-non-literal-null-conversion -Wno-int-conversion -Wno-implicit-function-declaration" FCFLAGS="-O3 -fPIC" LDFLAGS="-Wl,--build-id"' package/hdf5/1.10.1/clang/install.sh
./jarvis -install hdf5/1.10.1/clang clang+mpi
module load hdf5-clang/1.10.1

[ENV]
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
module use software/moduledeps/bisheng4.1.0
module add boost-clang/1.72.0 zlib/1.2.11 libxml2/2.10.1
module load openblas/0.3.14
module use software/moduledeps/bisheng4.1.0-hmpi2.4.3/
module load hdf5-clang/1.10.1 fftw/3.3.8
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
export PATH=${JARVIS_ROOT}/software/apps/bisheng4.1.0/hmpi2.4.3/qmcpack/3.17.1/bin:$PATH
export PYTHONPATH=${JARVIS_ROOT}/qmcpack-3.17.1/nexus/lib:$PYTHONPATH


[APP]
app_name = qmcpack
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng4.1.0/hmpi2.4.3/qmcpack/3.17.1/bin
case_dir = ${JARVIS_ROOT}/software/apps/bisheng4.1.0/hmpi2.4.3/qmcpack/3.17.1/examples/molecules/H2O/ 

[BUILD]
cd ${JARVIS_TMP}
rm qmcpack-3.17.1 -rf
tar -xvf ${JARVIS_DOWNLOAD}/v3.17.1.tar.gz

cd ${JARVIS_TMP}/qmcpack-3.17.1/build
export CC=mpicc FC=mpifort CXX=mpicxx
export BLAS="-L${JARVIS_ROOT}/software/libs/bisheng4.1.0/openblas/0.3.14/lib -lblas"
export CFLAGS="-Wno-implicit-function-declaration -Wno-enum-constexpr-conversion -Wno-int-conversion"
cmake \
-DCMAKE_BUILD_TYPE=Release                                              \
-DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/bisheng4.1.0/hmpi2.4.3/qmcpack/3.17.1                    \
-DLIBXML2_LIBRARY=${JARVIS_LIBS}/bisheng4.1.0/libxml2/2.10.1/lib/libxml2.so \
-DZLIB_LIBRARY=${JARVIS_LIBS}/bisheng4.1.0/zlib/1.2.11/lib/libz.so          \
-DFFTW_HOME=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.3/fftw/3.3.8                    \
-DBOOST_ROOT=${JARVIS_LIBS}/bisheng4.1.0/boost-clang/1.72.0                 \
../
sed -i '130c         struct hash_base : std::unary_function<T, std::size_t> {};' ${JARVIS_LIBS}/bisheng4.1.0/boost-clang/1.72.0/include/boost/container_hash/hash.hpp
make -j
make install
cp -r ${JARVIS_TMP}/qmcpack-3.17.1/examples/ ${JARVIS_ROOT}/software/apps/bisheng4.1.0/hmpi2.4.3/qmcpack/3.17.1

[RUN]
run =
binary =
nodes = 1


[BATCH]

LOG_FILE="qmcpack-proformance.log"

>"$LOG_FILE"
sed -i '81s/.*/<parameter name="steps"> 100 <\/parameter>/'  simple-H2O.xml
sed -i '81s|^|    |' simple-H2O.xml

#$RUN_TOOL "" ""

time -p mpirun  --allow-run-as-root -np 120 qmcpack simple-H2O.xml 2>&1 |tee $LOG_FILE
echo "ALL commands executed. Performance log saved to $LOG_FILE"


[JOB]
#!/bin/sh
#DSUB -n qmcpack_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo qmcpack.%J.out
#DSUB -oe qmcpack.%J.err

LOG_FILE="qmcpack-proformance.log"

>"$LOG_FILE"

#$RUN_TOOL "Run qmcpack" ""
sed -i '81s/.*/<parameter name="steps"> 100 <\/parameter>/'  simple-H2O.xml
sed -i '81s|^|    |' simple-H2O.xml

time -p mpirun  --allow-run-as-root -x $PATH -x $LD_LIBRARY_PATH -np 120 qmcpack simple-H2O.xml 2>&1 |tee $LOG_FILE

echo "ALL commands executed. Performance log saved to $LOG_FILE"
