[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
module purge
./jarvis -install kgcc9.3.1/9.3.1 com
module use ${JARVIS_ROOT}/software/modulefiles
module load kgcc/9.3.1
./jarvis -install hmpi/1.1.1 gcc
module use ./software/moduledeps/kgcc9.3.1
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 gcc+mpi
module use ./software/moduledeps/kgcc9.3.1-hmpi1.1.1
module load hdf5/1.10.1
./jarvis -install pnetcdf/1.11.2 gcc+mpi
module load pnetcdf/1.11.2
./jarvis -install netcdf/4.7.0 gcc+mpi
module load netcdf/4.7.0

[ENV]
module purge
./jarvis -install kgcc9.3.1/9.3.1 com
module use ${JARVIS_ROOT}/software/modulefiles
module load kgcc/9.3.1
./jarvis -install hmpi/1.1.1 gcc
module use ./software/moduledeps/kgcc9.3.1
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 gcc+mpi
module use ./software/moduledeps/kgcc9.3.1-hmpi1.1.1
module load hdf5/1.10.1
./jarvis -install pnetcdf/1.11.2 gcc+mpi
module load pnetcdf/1.11.2
./jarvis -install netcdf/4.7.0 gcc+mpi
module load netcdf/4.7.0

[APP]
app_name = ioapi
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
./jarvis -install ioapi/3.2/kgcc gcc+mpi

[RUN]
run = 
binary = 
nodes = 1


