[SERVER]
11.11.11.11

[DOWNLOAD]
roms/3.6 https://github.com/myroms/roms/archive/refs/tags/roms-3.6.tar.gz roms-3.6.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi

./jarvis -install hdf5/1.10.1/clang bisheng+mpi
module load hdf5-clang/1.10.1-bisheng4.2.0-hmpi25.0.0

./jarvis -install pnetcdf/1.11.2/clang bisheng+mpi
module load pnetcdf-clang/1.11.2-bisheng4.2.0-hmpi25.0.0

./jarvis -install netcdf/4.7.0/clang bisheng+mpi
module load netcdf-clang/4.7.0-bisheng4.2.0-hmpi25.0.0-hdf51.10.1-pnetcdf1.11.2

echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
module load bisheng/kml25.0.0/kml
module load hdf5-clang/1.10.1-bisheng4.2.0-hmpi25.0.0
module load pnetcdf-clang/1.11.2-bisheng4.2.0-hmpi25.0.0
module load netcdf-clang/4.7.0-bisheng4.2.0-hmpi25.0.0-hdf51.10.1-pnetcdf1.11.2

[APP]
fake = 0
app_name = roms
app_version = 3.6
compiler = bisheng+mpi
build_dir = ${JARVIS_DEV}/roms/3.6-bisheng4.2.0-hmpi25.0.0/project
binary_dir = ${JARVIS_APP}/roms/3.6-bisheng4.2.0-hmpi25.0.0/bin
case_dir = ${JARVIS_JOBSCRIPT}/roms/3.6

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
build_mod_check "${PATH_INSTALL}/bin/oceanM" "prompt"

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/roms-3.6.tar.gz -C ${BUILD_DIR}

####### build start
set +x && echo_info "build start" && set -x
install_path=$PATH_INSTALL

if true; then 
rm -f ${install_path}/bin/oceanM
mkdir -p ${install_path}/bin

export installdir=${install_path}/bin
export KML_LIB_PATH=${HPCKIT_KML}/bisheng/lib

cd ${install_path}/bin
cp ${BUILD_DIR}/roms-roms-3.6/ROMS/Bin/build.sh ./
cp ${BUILD_DIR}/roms-roms-3.6/ROMS/Include/upwelling.h ./
sed -i '87s/^/#/' build.sh
sed -i "88s%.*% setenv MY_PROJECT_DIR        ${installdir}%" build.sh
sed -i "101s%.*% setenv MY_ROMS_SRC        ${BUILD_DIR}/roms-roms-3.6%" build.sh
sed -i "142s/ifort/flang/" build.sh
sed -i '148s/^#/ /' build.sh
sed -i '149s/^#/ /' build.sh
sed -i '151s/^#/ /' build.sh
sed -i '188s/gfortran/flang/' build.sh
sed -i '192s/PATH .*/PATH $OPAL_PREFIX\/bin:$PATH/' build.sh
sed -i "330s/gfortran/flang/" build.sh
sed -i "332s/gfortran/flang/" build.sh
sed -i "334s/mpich/openmpi/" build.sh
sed -i '359s/NC_CONFIG      .*/NC_CONFIG      ${NETCDF_CLANG_PATH}\/bin\/nc-config/' build.sh
sed -i '360s/NETCDF_INCDIR  .*/NETCDF_INCDIR  ${NETCDF_CLANG_PATH}\/include/' build.sh

export CC=mpicc CXX=mpicxx FC=mpifort
cd ${BUILD_DIR}/roms-roms-3.6/Compilers
cp Linux-gfortran.mk Linux-flang.mk
sed -i "25s/gfortran/flang/" Linux-flang.mk
sed -i "26s%-frepack-arrays%-frepack-arrays -L$KML_LIB_PATH/sve/kblas/multi -lkblas -L$KML_LIB_PATH/sve -lklapack_full -L$KML_LIB_PATH/noarch -lkm%" Linux-flang.mk
sed -i "66s/mpif90/mpifort/" Linux-flang.mk
cd ../
sed -i "31s/3.82/3.82 4.3/" makefile
cd ${installdir}
./build.sh

rm -rf Build build.sh upwelling.h
fi

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
prepend-path LD_LIBRARY_PATH ${HPCKIT_KML}/bisheng/lib/sve:${HPCKIT_KML}/bisheng/lib/sve/kblas/multi:${HPCKIT_KML}/bisheng/lib/noarch
EOF

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/roms/3.6
mkdir -p ${JOBDIR}
mkdir -p ${JOBDIR}/External

${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load roms/3.6-bisheng4.2.0-hmpi25.0.0" >> ${JOBDIR}/env.sh

cp ${BUILD_DIR}/roms-roms-3.6/ROMS/External/ocean_benchmark3.in ${JOBDIR}/External/ -ar
cp ${BUILD_DIR}/roms-roms-3.6/ROMS/External/varinfo.dat ${JOBDIR}/External/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_roms
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o out_%J.log
#DSUB -e err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.wrf
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cd job_work
sed -i "77s%ROMS\/External%.%" ocean_benchmark3.in
sed -i '101c\      NtileI == 16                               ! I-direction partition' ocean_benchmark3.in
sed -i '102c\      NtileJ == 8                               ! J-direction partition' ocean_benchmark3.in

{ /usr/bin/time mpirun  --hostfile $HOSTFILE -np 128 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores
 -x OMP_NUM_THREADS=1 -x UCX_TLS=sm oceanM ocean_benchmark3.in ; } 2>&1 | tee tee_jax.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd local_work
sed -i "77s%ROMS\/External%.%" ocean_benchmark3.in
sed -i '101c\      NtileI == 16                               ! I-direction partition' ocean_benchmark3.in
sed -i '102c\      NtileJ == 8                               ! J-direction partition' ocean_benchmark3.in
sed -i '178c\       NTIMES == 600' ocean_benchmark3.in
sed -i '180c\      NDTFAST == 160' ocean_benchmark3.in

{ /usr/bin/time mpirun --allow-run-as-root -np 128 -x UCX_TLS=sm -mca pml ucx -mca btl ^vader,tcp,openib,uct oceanM ocean_benchmark3.in ; } 2>&1 | tee tee_out.xlog
EOF

cat > ${JOBDIR}/roms-3.6-run.sh << EOF
#!/bin/bash
source ./env.sh

if [ ! -d local_work ]; then
mkdir -p local_work
cp External/ocean_benchmark3.in ./local_work/ -ar
cp External/varinfo.dat ./local_work/ -ar
fi

if [ ! -d job_work ]; then
mkdir -p job_work
cp External/ocean_benchmark3.in ./job_work/ -ar
cp External/varinfo.dat ./job_work/ -ar
fi
./local_run.sh
dsub -s jobx_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/roms-3.6-run.sh

set +x && echo_info "Install done!!!" && set -x
echo "Install done!!!"

[RUN]
