[SERVER]
11.11.11.11

[DOWNLOAD]
must/1.8.0   https://hpc.rwth-aachen.de/must/files/MUST-v1.8.0-rc1.tar.gz MUST-v1.8.0-rc1.tar.gz

[DEPENDENCY]
set -e
set -x
yum install cmake make texinfo llvm llvm-devel -y
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module add gcc/compiler${GCC_VERSION}/gccmodule
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install openmpi/4.1.2 gcc
module use ${JARVIS_ROOT}/software/moduledeps/gcc${GCC_VERSION}
module load openmpi/4.1.2
./jarvis -install binutils/2.40 any
module use ${JARVIS_ROOT}/software/modulefiles
module load binutils/2.40
export PATH=$BINUTILS_PATH/bin:$PATH
export LD_LIBRARY_PATH=$BINUTILS_PATH/lib:$LD_LIBRARY_PATH
ld -version

mkdir -p ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/must/1.8.0/
cd  ${JARVIS_TMP}
rm -rf MUST-v1.8.0-rc1
tar -xvf ${JARVIS_DOWNLOAD}/MUST-v1.8.0-rc1.tar.gz

[ENV]
module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module add gcc/compiler${GCC_VERSION}/gccmodule
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
module use ${JARVIS_ROOT}/software/moduledeps/gcc${GCC_VERSION}
module load openmpi/4.1.2
module use ${JARVIS_ROOT}/software/modulefiles
module load binutils/2.40
export PATH=$BINUTILS_PATH/bin:$PATH
export LD_LIBRARY_PATH=$BINUTILS_PATH/lib:$LD_LIBRARY_PATH

[APP]
app_name = must
build_dir = ${JARVIS_TMP}/MUST-v1.8.0-rc1
binary_dir = ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/must/1.8.0/bin/
case_dir = ${JARVIS_TMP}/MUST-v1.8.0-rc1/build
#case_dir = ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/must/1.8.0/bin

[BUILD]
sed -i 's/start = (TRANSTYPE \*)va_alist;/start = (TRANSTYPE \*)\&va_alist;/g' externals/GTI/externals/PnMPI/src/pnmpi/wrapper.c
mkdir build && cd build
cmake .. -DENABLE_TESTS=ON -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/must/1.8.0/ -DCMAKE_BUILD_TYPE=Release
make install

[CLEAN]
make clean

[RUN]
run = 
binary = mustrun -help | cat
#binary = mustrun -np 4 application.exe
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all
