[SERVER]
11.11.11.11

[ENV]
# add gcc/mpi
export BLAS_LIBS="-L/usr/local/kml/lib/kblas/omp -lkblas"
export LAPACK_LIBS="-L/usr/local/kml/lib/ -lklapack_full"
unset FFT_LIBS

[APP]
app_name = QE
build_dir = /home/HPCRunner/q-e-qe-6.5/
binary_dir = /home/HPCRunner/QE-FFT/bin/
case_dir = /home/HPCRunner/qe_large/

[BUILD]
./configure --prefix=/home/HPCRunner/QE-FFT F90=gfortran F77=gfortran MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j 96 pwall
make install

[CLEAN]
make clean

[RUN]
#run = mpirun -mca btl ^vader -np 128 -x OMP_NUM_THREADS=1
run = hpctool -o ./output -l detail
binary = pw.x -input scf.in
nodes = 1