[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.4 $JARVIS_PROXY/QEF/q-e/archive/refs/tags/qe-6.4.1.tar.gz qe-6.4.1.tar.gz

[DEPENDENCY]
set -e
set -x
if [ ${UseLatest} -eq 0 ];then
    hpckit_ver=25.1.0
elif [ ${UseLatest} -eq 1 ];then
    hpckit_ver=latest
else
    echo "[ERROR] UseLatest=${UseLatest}, unsupported value."
    exit 1
fi
echo $hpckit_ver
exit 1
./jarvis -install hpckit/${hpckit_ver} any
module purge
module use ./software/modulefiles
cd ${JARVIS_ROOT}/tmp
rm -rf q-e-qe-6.4.1
tar -xzvf ${JARVIS_DOWNLOAD}/qe-6.4.1.tar.gz

[ENV]
if [ ${UseLatest} -eq 0 ];then
    hpckit_ver=25.1.0
elif [ ${UseLatest} -eq 1 ];then
    hpckit_ver=latest
else
    echo "[ERROR] UseLatest=${UseLatest}, unsupported value."
    exit 1
fi

BISHENG_VERSION=`ls software/utils/hpckit/${hpckit_ver}/HPCKit/${hpckit_ver}/modulefiles/bisheng|grep compiler|awk -F "compiler" '{print $2}'`
HMPI_VERSION=`ls software/utils/hpckit/${hpckit_ver}/HPCKit/${hpckit_ver}/modulefiles/bisheng|grep hmpi|awk -F "hmpi" '{print $2}'`
module purge
module use ./software/modulefiles
module load hpckit${HMPI_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load hpckit${HMPI_VERSION}/bisheng/hmpi${HMPI_VERSION}/release

[APP]
app_name = QE
build_dir = ${JARVIS_ROOT}/tmp/q-e-qe-6.4.1/
binary_dir = ${JARVIS_ROOT}/tmp/q-e-qe-6.4.1/bin/
case_dir = ${JARVIS_ROOT}/workloads/QE/qe-test

[BUILD]
./configure --prefix=${JARVIS_ROOT}/software/apps/QE/6.4.1 F90=flang F77=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j pw
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 64
binary = pw.x -input test_3.in
nodes = 1
