[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.4 $JARVIS_PROXY/QEF/q-e/archive/refs/tags/qe-6.4.1.tar.gz qe-6.4.1.tar.gz

[DEPENDENCY]
set -e
set -x
./jarvis -install hpckit/25.1.0 any
module purge
module use ./software/modulefiles
cd ${JARVIS_ROOT}/tmp
tar -xzvf ${JARVIS_DOWNLOAD}/qe-6.4.1.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load hpckit25.1.0/bisheng/compiler4.2.0.2/bishengmodule
module load hpckit25.1.0/bisheng/hmpi25.1.0/release

[APP]
app_name = QE
build_dir = ${JARVIS_ROOT}/tmp/q-e-qe-6.4.1/
binary_dir = ${JARVIS_ROOT}/tmp/q-e-qe-6.4.1/bin/
case_dir = ${JARVIS_ROOT}/workloads/QE/qe-test

[BUILD]
./configure --prefix=${JARVIS_ROOT}/software/apps/QE/6.4.1 F90=flang F77=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j pw
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 64
binary = pw.x -input test_3.in
nodes = 1