[SERVER]
11.11.11.11

[DEPENDENCY]
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng2
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1

[ENV]
# add gcc/mpi
source /home/Jarvis3-4/HPCRunner/opt-OpenFOAM/opt_codes/OpenFOAM-v1906/etc/bashrc
module use ./software/modulefiles
module load bisheng2
module load hmpi1/1.1.1

[APP]
app_name = OpenFOAM
build_dir = /home/Jarvis3-4/HPCRunner/opt-OpenFOAM/opt_codes/OpenFOAM-v1906/
binary_dir = 
case_dir = /home/Jarvis3-4/HPCRunner/case/openfoam/audi/

[BUILD]
source /home/Jarvis3-4/HPCRunner/opt-OpenFOAM/opt_codes/OpenFOAM-v1906/etc/bashrc
./Allwmake -j 64

[CLEAN]
rm -rf build

[RUN]
run = mpirun --allow-run-as-root -x PATH -x LD_LIBRARY_PATH -x WM_PROJECT_DIR -x WM_PROJECT_USER_DIR -np 128
binary = pisoFoam –parallel 2
nodes = 1
