[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
./jarvis -install hpckit/${HPCKIT_VERSION} any

[ENV]
module purge
module use software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}
module load bisheng/kml${HMPI_VERSION}/kml
export HPCKIT_PATH=${JARVIS_UTILS}/hpckit/${HMPI_VERSION}
export KML_LIB_PATH=${HPCKIT_PATH}/HPCKit/${HMPI_VERSION}/kml/bisheng/lib
export KML_PATH=${HPCKIT_PATH}/HPCKit/${HMPI_VERSION}/kml

[APP]
app_name =
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir =

[BUILD]

[CLEAN]
./jarvis -remove hpckit

[RUN]
run =
binary =
nodes = 1
