[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.5 $JARVIS_PROXY/QEF/q-e/archive/refs/tags/qe-6.5.tar.gz q-e-qe-6.5.tar.gz

[DEPENDENCY]
yum install -y libatomic
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release

export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
rm -rf q-e-qe-6.5
tar -xzvf ${JARVIS_DOWNLOAD}/q-e-qe-6.5.tar.gz

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release

[APP]
app_name = QE
build_dir = $JARVIS_ROOT/q-e-qe-6.5/
binary_dir = $JARVIS_ROOT/q-e-qe-6.5/bin/
case_dir = $JARVIS_ROOT/workloads/QE/qe-test/

[BUILD]
./configure F90=gfortran F77=gfortran MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j $(nproc) pwall
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -mca btl ^vader,tcp,openib,uct -np $(nproc)
binary = pw.x -nk $(nproc) -input scf.in
nodes = 1