[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.5 $JARVIS_PROXY/QEF/q-e/archive/refs/tags/qe-6.5.tar.gz q-e-qe-6.5.tar.gz

[DEPENDENCY]
yum install libatomic -y
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module purge
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
module load bisheng/kml${HPCKIT_VERSION}/kml
module load bisheng/kml${HPCKIT_VERSION}/kblas/multi
tar -xzvf ${JARVIS_DOWNLOAD}/q-e-qe-6.5.tar.gz

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module purge
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
module load bisheng/kml${HPCKIT_VERSION}/kml
module load bisheng/kml${HPCKIT_VERSION}/kblas/multi
export KML_LIB=$JARVIS_UTILS/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/bisheng/lib
export BLAS_PATH=$KML_LIB/${kp}/kblas/multi
export LAPACK_PATH=$KML_LIB/${kp}
export KM_LIB=$KML_LIB/noarch

export BLAS_LIBS="-L$BLAS_PATH -lkblas"
export LAPACK_LIBS="-L$LAPACK_PATH -L$KM_LIB -lkm -lkscalapack_full -lklapack_full"

export PATH=${JARVIS_LIBS}/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/qe/6.5/bin:$PATH
export LD_LIBRARY_PATH=$LAPACK_PATH:$KM_LIB:$BLAS_PATH:$LD_LIBRARY_PATH

[APP]
app_name = QE
build_dir = $JARVIS_ROOT/q-e-qe-6.5/
binary_dir = $JARVIS_ROOT/q-e-qe-6.5/bin/
case_dir = $JARVIS_ROOT/workloads/QE/qe-test/

[BUILD]
./configure F90=flang F77=flang FC=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true" CFLAGS="-O3 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true" --with-scalapack=yes --enable-openmp --prefix=$JARVIS_LIBS/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/qe/6.5
sed -i 's/gfortran/flang/g' make.inc
make -j pwall
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 8
binary = pw.x -input test_3.in
nodes = 1
