[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.5 https://github.com/QEF/q-e/archive/refs/tags/qe-6.5.tar.gz q-e-qe-6.5.tar.gz

[DEPENDENCY]
./jarvis -install bisheng/2.1.0 com
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/1.1.1 bisheng
module load hmpi1/1.1.1
tar -xzvf ${JARVIS_DOWNLOAD}/q-e-qe-6.5.tar.gz

[ENV]
./jarvis -install bisheng/2.1.0 com
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
module load hmpi1/1.1.1

[APP]
app_name = QE
build_dir = $JARVIS_ROOT/q-e-qe-6.5/
binary_dir = $JARVIS_ROOT/q-e-qe-6.5/bin/
case_dir = $JARVIS_ROOT/workloads/QE/qe-test/

[BUILD]
./configure F90=gfortran F77=gfortran MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j 96 pwall
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -mca btl ^vader,tcp,openib,uct -np 128
binary = pw.x -nk 8 -input scf.in
nodes = 1