[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.5 $JARVIS_PROXY/QEF/q-e/archive/refs/tags/qe-6.5.tar.gz q-e-qe-6.5.tar.gz

[DEPENDENCY]
./jarvis -install cmake/3.23.1 any
tar -xzvf ${JARVIS_DOWNLOAD}/q-e-qe-6.5.tar.gz

[ENV]
#add oneapi(include icc/mpi)
source /opt/intel/intel2021.4/setvars.sh
# add cmake
module purge
module use ./software/modulefiles
module add cmake/3.23.1
export LAPACK_LIBS="$MKLROOT/lib/intel64/libmkl_intel_lp64.a $MKLROOT/lib/intel64/libmkl_core.a"
export BLAS_LIBS="$MKLROOT/lib/intel64/libmkl_sequential.a $MKLROOT/lib/intel64/libmkl_blacs_intelmpi_lp64.a -Wl,--end-group"

[APP]
app_name = QE
build_dir = $JARVIS_ROOT/q-e-qe-6.5/
binary_dir = $JARVIS_ROOT/q-e-qe-6.5/bin/
case_dir = $JARVIS_ROOT/workloads/QE/qe_large/

[BUILD]
./configure F90=ifort F77=ifort MPIF90=mpiifort MPIF77=mpiifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no
make -j 40 pwall install

[CLEAN]
make clean

[RUN]
run = mpirun -n 40
binary = pw.x -nk 8 -input scf.in
nodes = 1