[SERVER]
11.11.11.11

[ENV]
source /etc/profile
module use /opt/modulefile/
module load gcc-9.3.1
module load openmpi-4.1.1
export BLAS_LIBS="-L/usr/local/kml/lib/kblas/omp -lkblas"
export LAPACK_LIBS="-L/usr/local/kml/lib/ -lklapack_full"

[APP]
app_name = QE
build_dir = /home/Jarvis3-4/HPCRunner/q-e-qe-6.5/
binary_dir = /home/Jarvis3-4/HPCRunner/q-e-qe-6.5/bin/
case_dir = /home/Jarvis3-4/HPCRunner/workload/QE/qe-large/

[BUILD]
./configure F90=gfortran F77=gfortran MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j 96 pwall
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -mca btl ^vader,tcp,openib,uct -np 128
binary = pw.x -nk 8 -input scf.in
nodes = 1