[SERVER]
11.11.11.11

[DOWNLOAD]
NOVOPlasty/4.3.1 ${JARVIS_PROXY}/ndierckx/NOVOPlasty/archive/refs/tags/NOVOPlasty4.3.1.tar.gz

[DEPENDENCY]
module purge
mkdir -p ${JARVIS_ROOT}/software/app
tar -zxvf ${JARVIS_DOWNLOAD}/NOVOPlasty4.3.1.tar.gz -C ${JARVIS_ROOT}/software/app --transform='s/NOVOPlasty-NOVOPlasty4.3.1/NOVOPlasty/'

[ENV]
module purge

[APP]
app_name = NOVOPlasty
build_dir = ${JARVIS_ROOT}/software/app/NOVOPlasty/
binary_dir = ${JARVIS_ROOT}/software/app/NOVOPlasty/
case_dir = ${JARVIS_ROOT}/software/app/NOVOPlasty/Test\ datasets/Chloroplast\ assembly/

[BUILD]
chmod +x NOVOPlasty4.3.1.pl

[CLEAN]

[RUN]
run = perl
binary = NOVOPlasty4.3.1.pl -c config_test_chloro.txt
nodes = 1
