[SERVER]
11.11.11.11

[DOWNLOAD]
wrf/4.7.1 https://github.com/wrf-model/WRF/releases/download/v4.7.1/v4.7.1.tar.gz WRFV4.7.1.tar.gz

[DEPENDENCY]
set -e
set -x
module purge

if [[ $UseLatest -eq 1 ]]; then
HPCKit_Version=latest
else
HPCKit_Version=25.1.RC1
fi

./jarvis -install hpckit/${HPCKit_Version}/ any
BISHENG_VERSION=`ls software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles/bisheng|grep compiler|awk -F "compiler" '{print $2}'`
HMPI_VERSION=`ls software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles/bisheng|grep hmpi|awk -F "hmpi" '{print $2}'`
module use software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}


# basic system components

export CC=clang CXX=clang++ FC=flang
export CFLAGS="-Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types"
./jarvis -install jasper/1.900.2 bisheng
module use software/moduledeps
module load bisheng${BISHENG_VERSION}/jasper/1.900.2

export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module load bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 bisheng+mpi
module load bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/pnetcdf/1.12.1
./jarvis -install netcdf/4.8.1/clang bisheng+mpi
module load bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/netcdf-clang/4.8.1

tar -xvf ${JARVIS_DOWNLOAD}/WRFV4.7.1.tar.gz


[ENV]
#!/bin/bash
module purge
source /hpcrunner/HPCKit.env

module use /hpcrunner/software/moduledeps
module load bisheng${BISHENG_VERSION}/jasper/1.900.2 bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/hdf5-clang/1.12.0 bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/pnetcdf/1.12.1 bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/netcdf-clang/4.8.1

export WRFIO_NCD_LARGE_FILE_SUPPORT=1
export NETCDF=${NETCDF_CLANG_PATH}
export HDF5=${HDF5_CLANG_PATH}
export PHDF5=${HDF5}
export PNETCDF=${PNETCDF_PATH}
export JASPER=${JASPER_PATH}
export JASPERLIB=${JASPER_PATH}/lib
export JASPREINC=${JASPER_PATH}/include
export CPPFLAGS="-I${HDF5}/include -I${PNETCDF}/include -I${NETCDF}/include"
export LDFLAGS="-L${HDF5}/lib -L${PNETCDF}/lib -L${NETCDF}/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90 F90=mpif90
export WRF_DIR=/hpcrunner/WRFV4.7.1
export MPI_LIB="-L${HMPI_PATH}/lib -lmpi -lomp"
export INCLUDE=${WRF_DIR}/include:$INCLUDE
export KML_LIB=${KML_BISHENG_PATH}/lib
export CASE_DIR=${WRF_DIR}/case/conus12km
export PATH=/hpcrunner/WRFV4.7.1/main:/hpcrunner/WRFV4.7.1/external/io_netcdf:$PATH

[APP]
app_name = WRF
build_dir = ${WRF_DIR}
binary_dir = ${WRF_DIR}/run
case_dir = ${CASE_DIR}

[BUILD]
set -x

cd ${JARVIS_ROOT}/WRFV4.7.1
sed -i "2181c\SFC             =      flang" arch/configure.defaults
sed -i "2182c\SCC             =      clang" arch/configure.defaults
sed -i "2183c\CCOMP           =      clang" arch/configure.defaults
echo -e "12\n1" | ./configure

./compile -j 16 em_real 2>&1 | tee -a compile.log

[CLEAN]
./clean -a

[RUN]
run = mpirun --allow-run-as-root -n 32 -x OMP_NUM_THREADS=1 -bind-to core ${WRF_DIR}/run/wrf.exe
binary = 
nodes = 1

