[SERVER]
11.11.11.11


#Due to dependency issues, it is recommended to use git clone to obtain the source code, which has been implemented in [DEPENDENCY].
[DOWNLOAD]


[DEPENDENCY]
set -e
set -x
module purge

echo "Check the tvm source code"
if [ ! -d "${JARVIS_ROOT}/tvm-0.16.0" ]; then
	echo "the tvm source code does not exist, please get it."
	mkdir -p ${JARVIS_ROOT}/tvm-0.16.0
	git clone --recursive https://github.com/apache/tvm.git -b v0.16.0 "${JARVIS_ROOT}/tvm-0.16.0"
fi

./jarvis -install hpckit/24.0.0 any
source software/utils/hpckit/24.0.0/HPCKit/latest/setvars.sh --use-bisheng --force
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

./jarvis -install cmake/3.28.2 any
module use software/modulefiles
module load cmake/3.28.2

./jarvis -install python3/3.9.9 clang
module use ./software/moduledeps/bisheng4.1.0
module load python3/3.9.9
pip3 install decorator -i https://mirrors.huaweicloud.com/repository/pypi/simple
pip3 install pytest -i https://mirrors.huaweicloud.com/repository/pypi/simple
pip3 install numpy -i https://mirrors.huaweicloud.com/repository/pypi/simple 
pip3 install psutil -i https://mirrors.huaweicloud.com/repository/pypi/simple
pip3 install typing_extensions -i https://mirrors.huaweicloud.com/repository/pypi/simple
pip3 install attr -i https://mirrors.huaweicloud.com/repository/pypi/simple
pip3 install attrs -i https://mirrors.huaweicloud.com/repository/pypi/simple
pip3 install Pygments -i https://mirrors.huaweicloud.com/repository/pypi/simple

mkdir -p ${JARVIS_ROOT}/tvm-0.16.0/build
mkdir -p ${JARVIS_ROOT}/tvm-0.16.0/install
mkdir -p ${JARVIS_ROOT}/workloads/tvm/tvm-test

cd ${JARVIS_ROOT}//workloads/tvm/tvm-test
echo "Check the tvm test case"
if [ -f quick_start.py ]; then
	echo "the quick_start.py exists and will be deleted and re-obtained."
	rm -f quick_start.py
fi
wget https://tvm.apache.org/docs/_downloads/baf675793174f2e9b3d5da483e35ef27/quick_start.py --no-check-certificate
sed -i '140s/ex = tvm.compile(mod, target)/ex = relax.build(mod, target)/' quick_start.py


[ENV]
module purge
source software/utils/hpckit/24.0.0/HPCKit/latest/setvars.sh --use-bisheng --force
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

module use ./software/modulefiles
module load cmake/3.28.2 

module use ./software/moduledeps/bisheng4.1.0
module load python3/3.9.9


[APP]
app_name = tvm
build_dir = ${JARVIS_ROOT}/tvm-0.16.0/build
binary_dir =
case_dir = ${JARVIS_ROOT}//workloads/tvm/tvm-test


[BUILD]
set -e
set -x
cmake .. -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/tvm-0.16.0/install -DCMAKE_SHARED_LINKER_FLAGS="-ltf_xla_runtime" -DUSE_LLVM=ON
make -j
make install


[CLEAN]
set -e
set -x
make clean
cd ${JARVIS_ROOT}/tvm-0.16.0
rm -rf build install


[RUN]
run = export PYTHONPATH=${JARVIS_ROOT}/tvm-0.16.0/python:${PYTHONPATH} && python3 -c "import tvm; print(tvm.__version__)" && python3 quick_start.py
binary = 
nodes = 1


[PERF]
perf= 
nsys=
ncu=--target-processes all
