[SERVER]
11.11.11.11

[DEPENDENCY]
set -e
set -x
module purge
gcc_version=$(gcc --version | awk 'NR==1{print $NF}')
./jarvis -install openmpi/4.1.2 gcc
module use ./software/moduledeps/gcc${gcc_version}
module load openmpi/4.1.2
./jarvis -install osu/7.2.0 gcc+mpi
#test if mpi is normal
./jarvis -bench mpi
mkdir -p osu

[ENV]
module purge
gcc_version=$(gcc --version | awk 'NR==1{print $NF}')
module use ./software/moduledeps/gcc${gcc_version}
module load openmpi/4.1.2
module load osu/7.2.0

[APP]
app_name = OSU
build_dir = ${OSU_PATH}/
binary_dir = ${OSU_PATH}/libexec/osu-micro-benchmarks/mpi/collective
case_dir = ./osu

[BUILD]

[CLEAN]
./jarvis -remove osu

[RUN]
run = mpirun --allow-run-as-root -np 16 --bind-to core -mca pml ucx -mca osc ^ucx -mca btl ^vader,tcp,openib -x UCX_TLS=self,rc_x
binary = osu_allgather -m 32:4096 --validation --type mpi_int
nodes = 1