[SERVER]
11.11.11.11

[DOWNLOAD]
#xla/test_653994136 https://github.com/openxla/xla/archive/refs/heads/test_653994136.zip xla-test_653994136.tar.gz
--no-check https://github.com/bazelbuild/rules_python/releases/download/0.26.0/rules_python-0.26.0.tar.gz rules_python-0.26.0.tar.gz
--no-check https://github.com/indygreg/python-build-standalone/releases/download/20231002/cpython-3.11.6+20231002-aarch64-unknown-linux-gnu-install_only.tar.gz
--no-check https://github.com/envoyproxy/data-plane-api/archive/c83ed7ea9eb5fb3b93d1ad52b59750f1958b8bde.tar.gz
--no-check https://github.com/bazelbuild/rules_cc/archive/624b5d59dfb45672d4239422fa1e3de1822ee110.tar.gz
--no-check https://github.com/bazelbuild/rules_java/archive/981f06c3d2bd10225e85209904090eb7b5fb26bd.zip
--no-check https://dl.google.com/go/go1.18.4.linux-arm64.tar.gz

[DEPENDENCY]
set -x
set -e
module purge
module use ./software/module*
./jarvis -install package/hpckit/2025.1.0.SPC001 any
module use ./software/utils/hpckit/2025.1.0.SPC001/HPCKit/latest/modulefiles
module load bisheng/compiler4.2.0.2/bishengmodule
./jarvis -install anaconda3/2024.10 any
module load anaconda3/2024.10
source ./software/utils/anaconda3/2024.10/etc/profile.d/conda.sh
echo y | conda create -n hpcrunner_xla bazel python=3.11
conda activate hpcrunner_xla

cd ${JARVIS_ROOT}
rm -rf xla-test_653994136
tar -xvf ${JARVIS_DOWNLOAD}/xla-test_653994136.tar.gz


[ENV]
module use ./software/modulefiles
module use ./software/utils/hpckit/2025.1.0.SPC001/HPCKit/latest/modulefiles
module purge
module load bisheng/compiler4.2.0.2/bishengmodule
source ./software/utils/anaconda3/2024.10/etc/profile.d/conda.sh
\cp templates/xla/test_653994136/versions.json ${JARVIS_DOWNLOAD}/
conda activate hpcrunner_xla

[APP]
app_name = xla
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir =

[BUILD]
set -x
conda activate hpcrunner_xla
cd ${JARVIS_ROOT}/xla-test_653994136
pip config set global.index-url https://mirrors.aliyun.com/pypi/simple
pip config set install.trusted-host mirrors.aliyun.com
pip install tensorflow==2.13.0
#pip install cpython
./configure.py --backend=cpu --host_compiler=clang
export HERMETIC_PYTHON_VERSION=3.11
bazel --output_user_root=$JARVIS_TMP_DOWNLOAD build --spawn_strategy=sandboxed //xla/... --distdir=${JARVIS_DOWNLOAD} --subcommands
file_path=`find ${JARVIS_TMP_DOWNLOAD} -name io_bazel_rules_go`  

# If the build fails, uncomment the following three lines
#sed -i "79c\        data = ctx.read(\"${JARVIS_DOWNLOAD}/versions.json\")" ${file_path}/go/private/sdk.bzl
#sed -i '71,77s/.*//' ${file_path}/go/private/sdk.bzl
#bazel --output_user_root=$JARVIS_TMP_DOWNLOAD build --spawn_strategy=sandboxed //xla/... --distdir=${JARVIS_DOWNLOAD} --subcommands
set +x

[RUN]
run =
binary =
nodes = 1
~
