[SERVER]
11.11.11.11

[DOWNLOAD]
NCO/5.2.6 https://sourceforge.net/projects/nco/files/nco-5.2.6.tar.gz

[DEPENDENCY]
yum install -y tar byacc bison expat-devel expat flex flex-devel libtirpc-devel pkgconf curl libcurl-devel zlib-devel patch tcsh
set -e
set -x
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}/hmpi/release

export CC=clang CXX=clang++ FC=flang
./jarvis -install libjpeg/v9b bisheng
module use software/moduledeps/bisheng${BISHENG_VERSION}
module load libjpeg/v9b

export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install hdf5/1.12.1/clang bisheng+mpi
module use software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load hdf5-clang/1.12.1

./jarvis -install pnetcdf/1.12.3 bisheng+mpi
module load pnetcdf/1.12.3

./jarvis -install netcdf/4.8.1/clang bisheng+mpi
module load netcdf-clang/4.8.1

./jarvis -install package/hdf4/4.2.15/bisheng bisheng+mpi
module load hdf4-bisheng/4.2.15

export CC=clang CXX=clang++ FC=flang
./jarvis -install gsl/2.6 bisheng
module load gsl/2.6

./jarvis -install antlr/2.7.7 bisheng
module load antlr/2.7.7

./jarvis -install udunits/2.2.28 bisheng
module load udunits/2.2.28

[ENV]
#!/bin/bash
module purge
module use software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}/hmpi/release
module use software/moduledeps/bisheng${BISHENG_VERSION}
module use software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load libjpeg/v9b
module load hdf5-clang/1.12.1
module load hdf4-bisheng/4.2.15
module load pnetcdf/1.12.3
module load netcdf-clang/4.8.1
module load gsl/2.6
module load antlr/2.7.7
module load udunits/2.2.28
export PATH=${JARVIS_ROOT}/software/apps/nco/bin/:$PATH
export BISHENG_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/utils/bisheng
export HMPI_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/hmpi/bisheng/hmpi/release
export CC=clang
export CXX=clang++
export FC=flang

[APP]
app_name = NCO
build_dir = ${JARVIS_TMP}
binary_dir = ${JARVIS_ROOT}/software/apps/nco/bin
case_dir = ${JARVIS_ROOT}/workloads/nco

[BUILD]
rm -rf nco-5.2.6
tar zxvf ${JARVIS_DOWNLOAD}/nco-5.2.6.tar.gz
cd nco-5.2.6
echo ${UDUNITS_PATH}
export NETCDF_INC=${NETCDF_CLANG_PATH}/include
export NETCDF_LIB=${NETCDF_CLANG_PATH}/lib
./configure CPPFLAGS="-L${BISHENG_PATH}/lib -L${BISHENG_PATH}/lib64 -I${BISHENG_PATH}/include -L${HMPI_PATH}/lib -I${HMPI_PATH}/include -I${ANTLR_PATH}/include -I${UDUNITS_PATH}/include" CFLAGS="-Wno-implicit-function-declaration -Wno-implicit-int -Wno-incompatible-function-pointer-types -L${BISHENG_PATH}/lib -L${BISHENG_PATH}/lib64 -I${BISHENG_PATH}/include -L${HMPI_PATH}/lib -I${HMPI_PATH}/include -L${ANTLR_PATH}/lib -I${NETCDF_CLANG_PATH}/include -I${UDUNITS_PATH}/include -L${UDUNITS_PATH}/lib" --prefix=${JARVIS_ROOT}/software/apps/nco CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort F90=mpifort
make
make install

[RUN]
run =  ./ncap2 -v
binary =
nodes = 1

[BATCH]
cp ${JARVIS_TMP}/nco-5.2.6/data/* .
rm *.nc -f
rm -f out.log error.log result.log
touch out.log error.log result.log

ncgen -k netCDF-4 -b -o in.nc in.cdl
ncgen -k netCDF-4 -b -o in_1.nc in_1.cdl
ncgen -k netCDF-4 -b -o in_2.nc in_2.cdl
ln -sf in.nc 85.nc
ln -sf in.nc 86.nc
ln -sf in.nc 87.nc
ln -sf in.nc 88.nc
ln -sf in.nc 89.nc

count=0

echo "============TEST ncks============" >> out.log
ncks -O -M -v one in.nc 1.nc  >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncks FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "1/14 TEST ncks PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncrename============" >> out.log
ncrename -O -v one,var 1.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncrename FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "2/14 TEST ncrename PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncap2============" >> out.log
ncap2 -O -s 'var=2' 1.nc 2.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncap2 FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "3/14 TEST ncap2 PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST nces============" >> out.log
nces -O 1.nc 2.nc 2.nc out_nces.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST nces FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "4/14 TEST nces PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncatted============" >> out.log
ncatted -t -o out_ncatted.nc -a _FillValue,,o,d,-9.99999979021476795361e+33 in.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncatted FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "5/14 TEST ncatted PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncbo============" >> out.log
ncbo --op_typ='-' in_1.nc in_2.nc out_ncbo.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncbo FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "6/14 TEST ncbo PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncecat============" >> out.log
ncecat --gag 85.nc 86.nc 87.nc 8587_ncecat.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncecat FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "7/14 TEST ncecat PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncflint============" >> out.log
ncflint -w 1,1 85.nc 86.nc 85p86_ncflint.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncflint FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "8/14 TEST ncflint PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncpdq============" >> out.log
ncpdq in.nc out_ncpdq.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncpdq FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "9/14 TEST ncpdq PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncra============" >> out.log
ncra 85.nc 86.nc 87.nc 88.nc 89.nc 8589_ncra.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncra FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "10/14 TEST ncra PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncrcat============" >> out.log
ncrcat 85.nc 86.nc 87.nc 88.nc 89.nc 8589_ncrcat.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncrcat FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "11/14 TEST ncrcat PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncwa============" >> out.log
ncwa in.nc out_ncwa.nc >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncwa FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "12/14 TEST ncwa PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncclimo============" >> out.log
ncclimo --version >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncclimo FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "13/14 TEST ncclimo PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo "============TEST ncremap============" >> out.log
ncremap --version >> out.log 2>> error.log
ret=$?
if [ "$ret" -ne 0 ]; then
        echo "ERROR: TEST ncremap FAILED! STOP TEST." 2>&1 | tee -a error.log
        exit 2
else
        echo "14/14 TEST ncremap PASSED." 2>&1 |tee -a result.log
        let count++
fi

echo -e "\033[1;32m$((count * 100 / 14))% TESTS PASSED\033[0m, $((14-count)) TESTS FAILED OUT OF 14" 2>&1 |tee -a result.log