[SERVER]
1.1.1.1

[DEPENDENCY]
yum install -y flex* bison* zlib* libzip* boost* bzip2*

./jarvis -install kgcc/9.3.1 com
module purge
module use ./software/modulefiles
module load kgcc9/9.3.1
module load openmpi4/4.1.2
#test if mpi is normal
./jarvis -bench mpi
tar -jxvf $JARVIS_DOWNLOAD/A20.tar.bz2
tar -jxvf $JARVIS_DOWNLOAD/AmberTools21.tar.bz2
tar -xzvf $JARVIS_DOWNLOAD/Amber20_Benchmark_Suite.tar.gz
cd $JARVIS_ROOT/PME/Cellulose_production_NPT_4fs/
cp ../Coordinates/Cellulose.inpcrd inpcrd
cp ../Topologies/Cellulose.prmtop prmtop

[ENV]
# add gcc ompi
module purge
module use ./software/modulefiles
module load kgcc9/9.3.1
module load openmpi4/4.1.2
# add cuda
export CUDA_INCLUDE_DIRS=/usr/local/cuda/include
export CUDA_CUDART_LIBRARY=/usr/local/cuda/lib64/libcudart.so
export CUDA_HOME=/usr/local/cuda
export PATH=$CUDA_HOME/bin:$PATH
export LD_LIBRARY_PATH=$CUDA_HOME/lib64:$LD_LIBRARY_PATH
export C_INCLUDE_PATH=$CUDA_HOME/include:$C_INCLUDE_PATH
export LIBRARY_PATH=$CUDA_HOME/lib64:$LIBRARY_PATH

[APP]
app_name = Amber
build_dir = $JARVIS_ROOT/amber20_src/build/
binary_dir = $JARVIS_ROOT/amber20/bin/
case_dir = $JARVIS_ROOT/PME/Cellulose_production_NPT_4fs/

[BUILD]
sed -i 's/-DMPI=FALSE/-DMPI=TRUE/g' run_cmake
sed -i 's/-DCUDA=FALSE/-DCUDA=TRUE/g' run_cmake
sed -i 's/-DINSTALL_TESTS=TRUE/-DINSTALL_TESTS=FALSE/g' run_cmake
sed -i 's/-DDOWNLOAD_MINICONDA=TRUE/-DDOWNLOAD_MINICONDA=FALSE/g' run_cmake
sed -i 's/-DMINICONDA_USE_PY3=TRUE/-DMINICONDA_USE_PY3=FALSE -DBUILD_PYTHON=FALSE/g' run_cmake
./run_cmake
make -j 96 install

[CLEAN]
./clean_build

[RUN]
run = 
binary = pmemd.cuda_SPFP.MPI -O -i mdinOPT.GPU -o mdout -p Cellulose.prmtop -c Cellulose.inpcrd && cat mdout
nodes = 1