[SERVER]
1.1.1.1

[DOWNLOAD]
kgcc/9.3.1 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/kunpeng_gcc/gcc-9.3.1-2021.03-aarch64-linux.tar.gz

[DEPENDENCY]
./jarvis -install kgcc/9.3.1 com
module purge
module use ./software/modulefiles
module load kgcc9/9.3.1
module load openmpi4/4.1.2
#test if mpi is normal
./jarvis -bench mpi

[ENV]
# add gcc ompi
module purge
module use ./software/modulefiles
module load kgcc9/9.3.1
module load openmpi4/4.1.2
# add cuda
export CUDA_INCLUDE_DIRS=/usr/local/cuda/include
export CUDA_CUDART_LIBRARY=/usr/local/cuda/lib64/libcudart.so
export CUDA_HOME=/usr/local/cuda
export PATH=$CUDA_HOME/bin:$PATH
export LD_LIBRARY_PATH=$CUDA_HOME/lib64:$LD_LIBRARY_PATH
export C_INCLUDE_PATH=$CUDA_HOME/include:$C_INCLUDE_PATH
export LIBRARY_PATH=$CUDA_HOME/lib64:$LIBRARY_PATH

[APP]
app_name = Amber
build_dir = /home/fang/HPCRunner-master/amber20_src/build/
binary_dir = /home/fang/HPCRunner-master/amber20/bin/
case_dir = /home/fang/HPCRunner-master/workloads/Amber/Cellulose/

[BUILD]
sed -i 's/-DMPI=FALSE/-DMPI=TRUE/g' run_cmake
sed -i 's/-DCUDA=FALSE/-DCUDA=TRUE/g' run_cmake
sed -i 's/-DINSTALL_TESTS=TRUE/-DINSTALL_TESTS=FALSE/g' run_cmake
sed -i 's/-DDOWNLOAD_MINICONDA=TRUE/-DDOWNLOAD_MINICONDA=FALSE/g' run_cmake
sed -i 's/-DMINICONDA_USE_PY3=TRUE/-DMINICONDA_USE_PY3=FALSE/g' run_cmake
./run_cmake
make -j 96 install

[CLEAN]
./clean_build

[RUN]
run = 
binary = pmemd.cuda_SPFP.MPI -O -i mdinOPT.GPU -o mdout -p Cellulose.prmtop -c Cellulose.inpcrd && cat mdout
nodes = 1