[SERVER]
11.11.11.11

[DOWNLOAD]
miniFE/2.2.0 $JARVIS_PROXY/Mantevo/miniFE/archive/2.2.0.tar.gz miniFE-2.2.0.tar.gz

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule  hpckit${HPCKIT_VERSION}/bisheng/hmpi${HMPI_VERSION}/release
mkdir -p ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule  hpckit${HPCKIT_VERSION}/bisheng/hmpi${HMPI_VERSION}/release

[APP]
app_name = miniFE
build_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/miniFE-2.2.0
case_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/miniFE-2.2.0/ref/src

[BUILD]
tar -xvf ${JARVIS_DOWNLOAD}/miniFE-2.2.0.tar.gz
cd miniFE-2.2.0/ref/src
make -j

[RUN]
run = ./run_test
binary =
nodes = 1

