[SERVER]
11.11.11.11

[DOWNLOAD]
miniFE/2.2.0 https://github.com/Mantevo/miniFE/archive/2.2.0.tar.gz miniFE-2.2.0.tar.gz

[DEPENDENCY]
module purge
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/2.1.0
module load hmpi/1.1.1
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = miniFE
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/bisheng/miniFE/2.2.0
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/miniFE-2.2.0.tar.gz
cd miniFE-2.2.0/ref/src
make -j

[RUN]
run =
binary =
node = 1

