[SERVER]
11.11.11.11

[DOWNLOAD]
gromacs/2021.3 http://ftp.gromacs.org/pub/gromacs/gromacs-2021.3.tar.gz
cuda/11.4.0 https://developer.download.nvidia.com/compute/cuda/11.4.0/local_installers/cuda_11.4.0_470.42.01_linux_sbsa.run

[DEPENDENCY]
set -e
set -x

module use ./software/modulefiles
module purge
./jarvis -install kgcc/9.3.1 com
module load kgcc/9.3.1
./jarvis -install openblas/0.3.18 gcc
./jarvis -install hmpi/1.1.1 gcc
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install fftw/3.3.8 gcc+mpi
tar -xvf ${JARVIS_DOWNLOAD}/gromacs-2021.3.tar.gz
# 1. 添加执行权限
sudo chmod +x ${JARVIS_DOWNLOAD}/cuda_11.4.0_470.42.01_linux_sbsa.run
# 2. 静默安装
sudo sh ${JARVIS_DOWNLOAD}/cuda_11.4.0_470.42.01_linux_sbsa.run \
  --silent \
  --toolkit \
  --override \
  --no-opengl-libs \
  --no-man-page \
  --no-drm \
  --installpath=/usr/local/cuda \
  --toolkitpath=/usr/local/cuda \
  --samplespath=/usr/local/cuda/samples 

[ENV]
module use ./software/modulefiles
module purge
module load kgcc/9.3.1
module load hmpi/1.1.1
module load fftw/3.3.8
module load openblas/0.3.18
export PATH=/usr/local/cuda/bin:$PATH
export CC=mpicc CXX=mpicxx FC=mpifort
export GMX_FORCE_UPDATE_DEFAULT_GPU=true
export GMX_GPU_PME_PP_COMMS=true
export GMX_GPU_DD_COMMS=true

[APP]
app_name = gromacs
build_dir = $JARVIS_ROOT/gromacs-2021.3
binary_dir = $JARVIS_ROOT/gromacs/bin
case_dir = $JARVIS_ROOT/workloads/gromacs/ADH/adh_dodec

[BUILD]
sed -i '216s/return fftw_version;/return 0;/g' src/gromacs/utility/binaryinformation.cpp
sed -i '218s/return fftwf_version;/return 0;/g' src/gromacs/utility/binaryinformation.cpp
sed -i '498s/int fftwflags = FFTW_DESTROY_INPUT;/int fftwflags = 0;/g' src/gromacs/fft/fft5d.cpp
rm -rf build
mkdir build
cd build
FLAGS="-mcpu=tsv110 -O3"; CFLAGS=$FLAGS CXXFLAGS="-mcpu=tsv110 -lgfortran -O3" CC=mpicc CXX=mpicxx FC=mpifort \
cmake \
-DCMAKE_INSTALL_PREFIX=$JARVIS_ROOT/gromacs \
-DBUILD_SHARED_LIBS=on \
-DBUILD_TESTING=on \
-DREGRESSIONTEST_DOWNLOAD=off \
-DGMX_BUILD_OWN_FFTW=off \
-DGMX_SIMD=ARM_NEON_ASIMD \
-DGMX_DOUBLE=off \
-DGMX_EXTERNAL_BLAS=on \
-DGMX_EXTERNAL_LAPACK=on \
-DGMX_FFT_LIBRARY=fftw3 \
-DGMX_BLAS_USER=$OPENBLAS_PATH/lib/libopenblas.a \
-DGMX_LAPACK_USER=$OPENBLAS_PATH/lib/libopenblas.a \
-DFFTWF_LIBRARY=$FFTW_PATH/lib/libfftw3f.so \
-DFFTWF_INCLUDE_DIR=$FFTW_PATH/include \
-DGMX_GPU=CUDA \
-DGMX_MPI=off \
-DGMX_OPENMP=on \
-DGMX_X11=off \
-DHWLOC_LIBRARIES=/usr/lib64 \
-DCUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda \
../

make -j40 V=1
make install

[CLEAN]
./clean_build

[RUN]
run = CUDA_VISIBLE_DEVICES=2,3
#run = CUDA_VISIBLE_DEVICES=2,3 && nsys profile --stats=true
#binary = gmx grompp -f pme_verlet.mdp
#binary = gmx mdrun -s ./topol.tpr  -ntomp 10 -nb gpu -bonded gpu -pme gpu -nstlist 400  -v -nsteps 100000 -resetstep 90000 -noconfout
binary = gmx mdrun  -s ./topol.tpr  -ntmpi 2  -ntomp 10 -nb gpu -bonded gpu -pme gpu -npme 1  -nstlist 400  -v -nsteps 100000 -resetstep 90000 -noconfout
#binary = gmx mdrun  -s ./topol.tpr  -ntmpi 4  -ntomp 10 -nb gpu -bonded gpu -pme gpu -npme 1  -nstlist 400  -v -nsteps 100000 -resetstep 90000 -noconfout
nodes = 1
