[SERVER]
11.11.11.11

[DOWNLOAD]
Meryl/1.3 ${JARVIS_PROXY}/marbl/meryl/releases/download/v1.3/meryl-1.3.tar.xz 
Meryl-case/human_g1k_v37 https://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/human_g1k_v37.fasta.gz

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/modulefiles/hpckit${HPCKIT_VERSION}
module load gcc/compiler12.3.1/gccmodule

mkdir ${JARVIS_ROOT}/software/apps/gcc12.3.1/meryl -p
cd ${JARVIS_ROOT}/software/apps/gcc12.3.1/meryl
rm -rf meryl-1.3
tar -xf ${JARVIS_DOWNLOAD}/meryl-1.3.tar.xz
gzip -d ${JARVIS_DOWNLOAD}/human_g1k_v37.fasta.gz
\cp ${JARVIS_DOWNLOAD}/human_g1k_v37.fasta ${JARVIS_ROOT}/software/apps/gcc12.3.1/meryl

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles/hpckit${HPCKIT_VERSION}
module load gcc/compiler12.3.1/gccmodule
export PATH=${JARVIS_ROOT}/software/apps/meryl-1.3/build/bin:$PATH

[APP]
app_name = meryl
build_dir = ${JARVIS_ROOT}/software/apps/gcc12.3.1/meryl/meryl-1.3/src
binary_dir =
case_dir = ${JARVIS_ROOT}/software/apps/gcc12.3.1/meryl/meryl-1.3

[BUILD]

make
mv ${JARVIS_ROOT}/software/apps/gcc12.3.1/meryl/human_g1k_v37.fasta ${JARVIS_ROOT}/software/apps/gcc12.3.1/meryl/meryl-1.3

[CLEAN]
make clean

[RUN]
run = export OMP_NUM_THREADS=1 && time -p meryl count k=21 memory=32G ./human_g1k_v37.fasta output human_g1k_v37.meryl_32g1pth
binary =
nodes = 1
