[SERVER]
11.11.11.11

[DOWNLOAD]
gromacs/2019.3 http://ftp.gromacs.org/pub/gromacs/gromacs-2019.3.tar.gz

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
./jarvis -install openblas/0.3.18 clang
./jarvis -install cmake/3.23.1 clang
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install fftw/3.3.8 clang+mpi

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/2.1.0
module load hmpi/1.1.1
module load fftw/3.3.8 cmake/3.23.1 openblas/0.3.18
export CC=mpicc CXX=mpicxx FC=mpifort

[APP]
app_name = gromacs
build_dir = $JARVIS_ROOT
binary_dir = $JARVIS_ROOT/software/apps/bisheng2.1.0/hmpi1.1.1/gromacs
case_dir = $JARVIS_ROOT/software/apps/bisheng2.1.0/hmpi1.1.1/gromacs

[BUILD]
cd ${JARVIS_TMP}
rm -rf gromacs-2019.3
tar -xvf ${JARVIS_DOWNLOAD}/gromacs-2019.3.tar.gz
cd gromacs-2019.3
mkdir build
cd build

openblas_path=$JARVIS_LIBS/bisheng/openblas/0.3.18
fftw_path=$JARVIS_LIBS/bisheng2.1.0/hmpi1.1.1/fftw/3.3.8

FLAGS="-mcpu=tsv110"; CFLAGS=$FLAGS CXXFLAGS=$FLAGS LDFLAGS="-lflang -fuse-ld=lld" CC=mpicc CXX=mpicxx \
cmake \
-DCMAKE_INSTALL_PREFIX=$JARVIS_ROOT/software/apps/bisheng2.1.0/hmpi1.1.1/gromacs \
-DBUILD_SHARED_LIBS=on \
-DBUILD_TESTING=on \
-DREGRESSIONTEST_DOWNLOAD=off \
-DGMX_BUILD_OWN_FFTW=off \
-DGMX_SIMD=ARM_NEON_ASIMD \
-DGMX_DOUBLE=off \
-DGMX_EXTERNAL_BLAS=on \
-DGMX_EXTERNAL_LAPACK=on \
-DGMX_FFT_LIBRARY=fftw3 \
-DGMX_BLAS_USER=$openblas_path/lib/libopenblas.a \
-DGMX_LAPACK_USER=$openblas_path/lib/libopenblas.a \
-DFFTWF_LIBRARY=$fftw_path/lib/libfftw3f.so \
-DFFTWF_INCLUDE_DIR=$fftw_path/include \
-DGMX_GPU=off \
-DGMX_MPI=on \
-DGMX_OPENMP=on \
-DGMX_X11=off \
../

make -j
make install



[CLEAN]
./clean_build

[RUN]
run =
binary =
nodes = 1
