[SERVER]
11.11.11.11

[DOWNLOAD]
duns/2.7.1 https://sourceforge.net/projects/duns/files/duns/duns-2.7.1/duns-2.7.1-src.tar.bz2
duns_test/2.7.1 https://sourceforge.net/projects/duns/files/duns/duns-2.7.1/duns-2.7.1-test.tar.bz2

[DEPENDENCY]
set -e
set -x
./jarvis -install bisheng/2.1.0 com
tar -xjf ${JARVIS_DOWNLOAD}/duns-2.7.1-src.tar.bz2 -C ${JARVIS_TMP}
tar -xjf ${JARVIS_DOWNLOAD}/duns-2.7.1-test.tar.bz2 -C ${JARVIS_TMP}

[ENV]
module use ./software/modulefiles
module load bisheng2/2.1.0
export DUNSARCH=linux
export DUNSPATH27=${JARVIS_TMP}/duns-2.7.1
export PATH=$DUNSPATH27/util:$PATH

[APP]
app_name = duns
build_dir = ${JARVIS_TMP}/duns-2.7.1
binary_dir =
case_dir = ${JARVIS_TMP}/duns-2.7.1/test/serial/cduct

[BUILD]
sed -i '10s/g77/flang/' makesystem/Makesystem_linux
sed -i '11s/gcc/clang/' makesystem/Makesystem_linux
sed -i '12s/g++/clang++/' makesystem/Makesystem_linux
sed -i '13s/gcc/clang/' makesystem/Makesystem_linux
sed -i '14s/gcc/clang/' makesystem/Makesystem_linux
sed -i "28s#.*#SYSLIBS   = -L${JARVIS_COMPILER}/bisheng/2.1.0/lib -Wl,-Bdynamic -lgcc_s -lm -lflang -lpgmath#" makesystem/Makesystem_linux
sed -i '29s#.*#GRAFLIBS  = -lmbgrafic -lgrafic -L/lib64 -Wl,-Bdynamic -lX11 -lflang#' makesystem/Makesystem_linux
sed -i '339s/help()/help(0)/' src/main.cpp
sed -i '345s/help()/help(0)/' src/main.cpp
sed -i '349s/help()/help(0)/' src/main.cpp
sed -i 's/getline/getline1/g' `grep getline -rl --include="*" ./`
cd lib; make && make install
cd ..; dunssource 3d all
cd duns-3d-all
make
mkdir -p ${JARVIS_LIBS}/bisheng2/duns/2.7.1/bin
cp duns.e dunsplot.e ${JARVIS_LIBS}/bisheng2/duns/2.7.1/bin

[RUN]
run = ./testscript run
binary = 
nodes = 1