[SERVER]
11.11.11.11

[DOWNLOAD]
duns/2.7.1 https://sourceforge.net/projects/duns/files/duns/duns-2.7.1/duns-2.7.1-src.tar.bz2

[DEPENDENCY]
set -e
set -x
./jarvis -install gcc/9.3.0 com
module purge
module use ./software/modulefiles
module load gcc9/9.3.0
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/duns-2.7.1-src.tar.bz2 -C ${JARVIS_TMP}
. ${DOWNLOAD_TOOL} -u https://sourceforge.net/projects/duns/files/duns/duns-2.7.1/duns-2.7.1-test.tar.bz2
tar -xvf ${JARVIS_DOWNLOAD}/duns-2.7.1-test.tar.bz2 -C ${JARVIS_TMP}
cd ${JARVIS_TMP}/duns-2.7.1
sed -i '10s/g77/gfortran/' makesystem/Makesystem_linux
sed -i "28s#.*#SYSLIBS   = -L${JARVIS_COMPILER}/gcc/9.3.0/lib64 -Wl,-Bdynamic -lgcc_s -lm -lgfortran#" makesystem/Makesystem_linux
sed -i '29s#.*#GRAFLIBS  = -lmbgrafic -lgrafic -L/usr/lib -Wl,-Bdynamic -lX11#' makesystem/Makesystem_linux
sed -i 's/getline/getline1/g' `grep getline -rl --include="*" src/*`

[ENV]
module use ./software/modulefiles
module load gcc9/9.3.0
export DUNSARCH=linux
export DUNSPATH27=${JARVIS_TMP}/duns-2.7.1
export PATH=$DUNSPATH27/util:$PATH

[APP]
app_name = duns
build_dir = ${JARVIS_TMP}/duns-2.7.1
binary_dir =
case_dir = ${JARVIS_TMP}/duns-2.7.1/test/serial/cduct

[BUILD]
cd lib; make && make install
cd ..; dunssource 3d all
cd duns-3d-all
line=`expr $(grep -n -m 1 "^c .*" assemble.f |awk -F: '{print $1}') - 1`
sed -i "1,${line}d" *.f *.c include/* 
make -j
mkdir -p ${JARVIS_LIBS}/bisheng2/duns/2.7.1/bin
cp duns.e dunsplot.e ${JARVIS_LIBS}/bisheng2/duns/2.7.1/bin

[RUN]
run = sed -i "/cd duns.*/a\        sed -i '1,42d' *.f include/*" testscript && ./testscript run
binary = 
nodes = 1