[SERVER]
11.11.11.11
[DOWNLOAD]

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[APP]
app_name = samtools
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =  ${JARVIS_TMP}/samtools-1.15

[BUILD]
./jarvis -install samtools/1.15 clang

[RUN]
run = make test
binary =
nodes = 1

