[SERVER]
11.11.11.11

[DOWNLOAD]
ROMS/4.0 $JARVIS_PROXY/myroms/roms/archive/refs/tags/roms-4.0.tar.gz

[DEPENDENCY]
set -x
set -e

./jarvis -install package/bisheng/3.2.0-mini com
module purge
module use ./software/modulefiles
module load bisheng/3.2.0-mini
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install package/hmpi/2.3.0 bisheng
module use software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install package/hdf5/1.12.0/clang bisheng+mpi
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.3 bisheng+mpi
module load pnetcdf/1.12.3
./jarvis -install netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4

[ENV]
module purge
module use software/modulefiles
module load bisheng/3.2.0-mini
module use software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.3
module load netcdf-clang/4.7.4

export NETCDF_PATH=${NETCDF_CLANG_PATH}
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
export PATH=$JARVIS_ROOT/ROMS/bin:$PATH

[APP]
app_name = ROMS
build_dir = $JARVIS_ROOT/ROMS/bin 
binary_dir = $JARVIS_ROOT/ROMS/bin
case_dir = $JARVIS_ROOT/ROMS/bin 

[BUILD]
set -e
set -x

#cp /mnt/src_roms_nesting.tar.gz $JARVIS_ROOT/

cd ${JARVIS_ROOT}
tar -xf $JARVIS_DOWNLOAD/roms-4.0.tar.gz 

if [ ! -d ROMS ] ; then
 mkdir -p ROMS/bin 
fi

cd ROMS/bin
cp $JARVIS_ROOT/templates/roms/4.0/build_roms.sh ./
cp $JARVIS_ROOT/templates/roms/4.0/my_build_paths.sh $JARVIS_ROOT/roms-roms-4.0/Compilers
cp $JARVIS_ROOT/templates/roms/4.0/Linux-flang.mk $JARVIS_ROOT/roms-roms-4.0/Compilers
cp $JARVIS_ROOT/roms-roms-4.0/ROMS/External/roms_upwelling.in .
cp $JARVIS_ROOT/roms-roms-4.0/ROMS/External/varinfo.dat .
cp $JARVIS_ROOT/roms-roms-4.0/ROMS/Include/upwelling.h .
sed -i "76s%ROMS/External/varinfo.dat%./varinfo.dat%" roms_upwelling.in

sed -i "s/-mcpu=tsv110/-mcpu=linxicore9100 -mllvm -force-customized-pipeline=true/g" $JARVIS_ROOT/roms-roms-4.0/Compilers/Linux-flang.mk
chmod +x build_roms.sh
./build_roms.sh -j 8

[RUN]
run = chmod +x submit_roms.sh && dsub -s submit_roms.sh
binary = romsM
nodes = 1

[BATCH]
#! /bin/bash
