[SERVER]
11.11.11.11

[DOWNLOAD]
ROMS/4.0 $JARVIS_PROXY/myroms/roms/archive/refs/tags/roms-4.0.tar.gz

[DEPENDENCY]
set -x
set -e

./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule  hpckit${HPCKIT_VERSION}/bisheng/hmpi${HMPI_VERSION}/release
./jarvis -install hdf5/1.12.0/clang clang+mpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load pnetcdf/1.12.1
#./jarvis -install package/darshan/3.4 any
if [ $HDF5_CLANG_PATH ];then
    echo $HDF5_CLANG_PATH
else
    echo "HDF5 is not exists"
    exit 1
fi
./jarvis -install netcdf/4.8.1/clang clang+mpi
module load netcdf-clang/4.8.1
./jarvis -install pio/2.5.10 clang+mpi

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule  hpckit${HPCKIT_VERSION}/bisheng/hmpi${HMPI_VERSION}/release
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.1
module load netcdf-clang/4.8.1
module load pio/2.5.10
#module load darshan/3.4
export NETCDF_PATH=${NETCDF_CLANG_PATH}
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
export DARSHAN_LOG_PATH=./
export DXT_ENABLE_IO_TRACE=1
export SRC_DIR=roms-roms-4.0

[APP]
app_name = ROMS
build_dir = ${JARVIS_TMP}
binary_dir = ${JARVIS_ROOT}/software/apps/ROMS/bin
case_dir = ${JARVIS_ROOT}/workloads/$SRC_DIR

[BUILD]
set -e
set -x
rm -fr $JARVIS_TMP/roms-roms-4.0
tar -xf $JARVIS_DOWNLOAD/roms-4.0.tar.gz

mkdir -p ${JARVIS_ROOT}/workloads/$SRC_DIR
mkdir -p ${JARVIS_ROOT}/software/apps
cd ${JARVIS_ROOT}/software/apps/
if [ ! -d ROMS ] ; then
 mkdir -p ROMS/bin
fi
cd ROMS/bin

cp $JARVIS_ROOT/templates/roms/4.0/build_roms.sh ./
sed -i '110c export                                             MY_ROOT_DIR=${JARVIS_TMP}' build_roms.sh
sed -i '111c export                                             MY_PROJECT_DIR=${JARVIS_ROOT}/software/apps/ROMS/bin' build_roms.sh
cp $JARVIS_ROOT/templates/roms/4.0/my_build_paths.sh            $JARVIS_TMP/roms-roms-4.0/Compilers
cp $JARVIS_ROOT/templates/roms/4.0/Linux-flang.mk               $JARVIS_TMP/roms-roms-4.0/Compilers
cp $JARVIS_TMP/roms-roms-4.0/ROMS/External/roms_upwelling.in    ${JARVIS_ROOT}/workloads/$SRC_DIR
cp $JARVIS_TMP/roms-roms-4.0/ROMS/External/varinfo.dat          ${JARVIS_ROOT}/workloads/$SRC_DIR
cp $JARVIS_TMP/roms-roms-4.0/ROMS/Include/upwelling.h           ${JARVIS_ROOT}/software/apps/ROMS/bin
sed -i "77s%ROMS/External/varinfo.dat%./varinfo.dat%"           ${JARVIS_ROOT}/workloads/$SRC_DIR/roms_upwelling.in
sed -i "110s%1%2%"                                              ${JARVIS_ROOT}/workloads/$SRC_DIR/roms_upwelling.in
sed -i "111s%1%4%"                                              ${JARVIS_ROOT}/workloads/$SRC_DIR/roms_upwelling.in

chmod +x build_roms.sh
./build_roms.sh -j 8

[CLEAN]
set -e
set -x
chmod +x build_roms.sh
./build_roms.sh -j 8

[RUN]
#run = chmod +x submit_roms.sh && dsub -s submit_roms.sh
run = mpirun --allow-run-as-root -np 8
binary = romsM roms_upwelling.in
nodes = 1

[BATCH]
#! /bin/bash
