[SERVER]
11.11.11.11

[DOWNLOAD]
abinit/9.8.4 https://github.com/abinit/abinit/archive/refs/tags/9.8.4.tar.gz abinit-9.8.4.tar.gz
atompaw/4.2.0.3 https://forge.abinit.org/atompaw-4.2.0.2.tar.gz atompaw-4.2.0.2.tar.gz
bigdft-abinit/1.7.1.30 https://forge.abinit.org/bigdft-abinit-1.7.1.30.tar.gz bigdft-abinit-1.7.1.30.tar.gz
libpsml/1.1.12	https://forge.abinit.org/libpsml-1.1.12.tar.gz libpsml-1.1.12.tar.gz
libxc/6.0.0	https://forge.abinit.org/libxc-6.0.0.tar.gz libxc-6.0.0.tar.gz
wannier90-3.1.0/3.1.0	https://forge.abinit.org/wannier90-3.1.0.tar.gz wannier90-3.1.0.tar.gz
xmlf90/1.5.6	https://forge.abinit.org/xmlf90-1.5.6.tar.gz xmlf90-1.5.6.tar.gz

[DEPENDENCY]
set -e
#set -x
module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule

./jarvis -install abinit_libxc/6.0.0 bisheng
module load abinit_libxc/6.0.0-bisheng4.2.0

module load bisheng/hmpi25.0.0/hmpi

./jarvis -install openblas/0.3.18/clang clang
module load openblas-clang/0.3.18-bisheng4.2.0

export LAPACK_CLANG_PATH=${OPENBLAS_CLANG_PATH}
./jarvis -install scalapack/2.1.0/openblas bisheng+mpi
module load scalapack-openblas/2.1.0-bisheng4.2.0-hmpi25.0.0-openblas0.3.18

./jarvis -install fftw/3.3.8 bisheng+mpi
module load fftw/3.3.8-bisheng4.2.0-hmpi25.0.0

./jarvis -install hdf5/1.10.8 bisheng+mpi
module load hdf5/1.10.8-bisheng4.2.0-hmpi25.0.0

./jarvis -install pnetcdf/1.12.1/clang bisheng+mpi
module load pnetcdf-clang/1.12.1-bisheng4.2.0-hmpi25.0.0

export HDF5_CLANG_PATH=${HDF5_PATH}
./jarvis -install netcdf/4.9.1/clang bisheng+mpi
module load netcdf-clang/4.9.1-bisheng4.2.0-hmpi25.0.0-hdf51.10.8-pnetcdf1.12.1


[ENV]
module purge
module use $JARVIS_MODULES/modules
module load cmake/3.28.2
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load abinit_libxc/6.0.0-bisheng4.2.0
module load bisheng/hmpi25.0.0/hmpi
module load openblas-clang/0.3.18-bisheng4.2.0
module load hdf5/1.10.8-bisheng4.2.0-hmpi25.0.0
module load pnetcdf-clang/1.12.1-bisheng4.2.0-hmpi25.0.0
module load netcdf-clang/4.9.1-bisheng4.2.0-hmpi25.0.0-hdf51.10.8-pnetcdf1.12.1
module load scalapack-openblas/2.1.0-bisheng4.2.0-hmpi25.0.0-openblas0.3.18

[APP]
app_name = abinit
app_version = 9.8.4
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/abinit/9.8.4-bisheng4.2.0-hmpi25.0.0/project
binary_dir =
mod_exc_dir = WRFV4.6.0 
case_dir = ${JARVIS_JOBSCRIPT}/abinit/9.8.4

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
LOG_FILE=tee_install_$(date +%Y%m%d%H%M%S).xlog
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

export HDF5_PATH=${HDF5_PATH}
export PNETCDF_PATH=${PNETCDF_CLANG_PATH}
export NETCDF_PATH=${NETCDF_CLANG_PATH}
MPI_HOME=${HPCKIT_HMPI}/bisheng/hmpi

export CPPFLAGS=" -fsigned-char -I${HDF5_PATH}/include -I${PNETCDF_PATH}/include -I${NETCDF_PATH}/include -I${MPI_HOME}/include"
export CFLAGS=" -fsigned-char -I${HDF5_PATH}/include -I${PNETCDF_PATH}/include -I${NETCDF_PATH}/include -I${MPI_HOME}/include "
export CXXFLAGS=" -fsigned-char -I${HDF5_PATH}/include -I${PNETCDF_PATH}/include -I${NETCDF_PATH}/include -I${MPI_HOME}/include "
export FCFLAGS=" -fsigned-char -I${HDF5_PATH}/include -I${PNETCDF_PATH}/include"
export FFLAGS=" -fsigned-char -I${HDF5_PATH}/include -I${PNETCDF_PATH}/include"
export LDFLAGS=" -L${HDF5_PATH}/lib -L${PNETCDF_PATH}/lib -lgomp"
export LINALG_LIBS="-L$OPENBLAS_CLANG_PATH/lib -lopenblas -L${SCALAPACK_OPENBLAS_PATH}/lib -lscalapack"
export LINALG_FCFLAGS="-I${OPENBLAS_CLANG_PATH}/include"
ABINIT_DIR=${BUILD_DIR}/abinit-9.8.4
####### build start
set +x && echo_info "build start" && set -x

mkdir -p extral && cd extral
cp ${JARVIS_DOWNLOAD}/libxc-6.0.0.tar.gz ./ -ar
cp ${JARVIS_DOWNLOAD}/atompaw-4.2.0.2.tar.gz ./ -ar
cp ${JARVIS_DOWNLOAD}/bigdft-abinit-1.7.1.30.tar.gz  ./ -ar
cp ${JARVIS_DOWNLOAD}/wannier90-3.1.0.tar.gz ./ -ar
cp ${JARVIS_DOWNLOAD}/libpsml-1.1.12.tar.gz ./ -ar
cp ${JARVIS_DOWNLOAD}/xmlf90-1.5.6.tar.gz ./ -ar
cd ${BUILD_DIR}

if true; then
{
if [  ! -d abinit-9.8.4 ] || false ; then
tar -zxvf ${JARVIS_DOWNLOAD}/abinit-9.8.4.tar.gz
fi

cd abinit-9.8.4
if true; then
bash autogen.sh
if ! grep -RHn --color 'aarch64*' configure >/dev/null 2>&1 ; then 
sed -n '/alpha\*)/i\aarch64*)\n    abi_cpu_vendor="unknown"\n    abi_cpu_model="kunpeng"\n    abi_cpu_64bits="yes"\n    abi_cpu_bits=64\n    ;;'   configure

sed -i '/alpha\*)/i\aarch64*)\n    abi_cpu_vendor="unknown"\n    abi_cpu_model="kunpeng"\n    abi_cpu_64bits="yes"\n    abi_cpu_bits=64\n    ;;'   configure
fi
sed -n 's|\^\[CcFf\]lang|\[CcFf\]lang|gp'   configure

sed -i 's|\^\[CcFf\]lang|\[CcFf\]lang|g'   configure
fi
rm -rf build
mkdir -p build && cd build

../configure CC=mpicc CXX=mpicxx FC=mpif90 --prefix=${PATH_INSTALL} \
	--exec-prefix=${PATH_INSTALL} \
	--with-mpi=${MPI_HOME} \
	--enable-openmp=yes \
        --with-mpi=yes \
        --enable-mpi-io=yes \
	--with-netcdf="$NETCDF_PATH" \
	--with-netcdf-fortran="$NETCDF_PATH" \
	--with-libxc=${ABINIT_LIBXC_PATH} \
	FCFLAGS="-g  -ffree-line-length-none ${FCFLAGS}" \
	CFLAGS=" ${CFLAGS}" \
	FFLAGS="-frecord-marker=4 -fconvert=big-endian ${FFLAGS}"
if [ $? -nq 0 ]; then
          echo "config 失败！file line=${LINENO}"
          exit 1
fi

cp ${JARVIS_ROOT}/dataconfig_patches/abinit/9.8.4/src/70_gw/m_gwrdm.F90 ../src/70_gw/m_gwrdm.F90 -ar
FC=mpif90 CC=mpicc CXX=mpicxx make abinit_moddir=../mods verbose=1 multi multi_nprocs=96


} 2>&1 | tee ${LOG_FILE}
res=${PIPESTATUS[0]}
[ $res -ne 0 ] && echo "compile Failed" && exit 1
fi

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
setenv ABINIT_DIR ${ABINIT_DIR}
EOF

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/abinit/9.8.4
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load abinit/9.8.4-bisheng4.2.0-hmpi25.0.0" >> ${JOBDIR}/env.sh
echo "export PATH=${ABINIT_DIR}/build/src/98_main/:\$PATH" >> ${JOBDIR}/env.sh
echo "export ABI_TESTS=\${ABINIT_DIR}/tests/" >> ${JOBDIR}/env.sh
echo "export ABI_TUTORIAL=\$ABI_TESTS/tutorial/" >> ${JOBDIR}/env.sh
echo "export ABI_TUTORESPFN=\$ABI_TESTS/tutorespfn/" >> ${JOBDIR}/env.sh
echo "export ABI_TUTOPARAL=\$ABI_TESTS/tutoparal/" >> ${JOBDIR}/env.sh
echo "export ABI_TUTOPLUGS=\$ABI_TESTS/tutoplugs/" >> ${JOBDIR}/env.sh
echo "export ABI_PSPDIR=\$ABI_TESTS/Psps_for_tests/" >> ${JOBDIR}/env.sh

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_wrf
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.wrf
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cd \${ABINIT_DIR}/tests/hpc
mkdir -p Work_paral
cd Work_paral
cp ../Input/t01.in ./ -ar
cp ../../Psps_for_tests/au.hpc.paw ./ -ar
cat > "hpc_x.files" << GOF
./t01.in
t01_au.out
t01_au.i
t01_au.o
t01_au
./au.hpc.paw
GOF
{ mpirun --hostfile $HOSTFILE --allow-run-as-root -np 32 --map-by ppr:32:node:pe=1  --bind-to core -mca pml ucx --mca btl ^openib,tcp,vader,uct -x UCX_TLS=sm,self -x UCX_NET_DEVICES=enp125s0f0   abinit < hpc_x.files ; } 2>&1 | tee tee_abinit.xlog
EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
echo "ABINIT_DIR:${ABINIT_DIR}"
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd \${ABINIT_DIR}/tests/hpc
mkdir -p Work_paral
cd Work_paral
cp ../Input/t01.in ./ -ar
cp ../../Psps_for_tests/au.hpc.paw ./ -ar
cat > "hpc_x.files" << GOF
./t01.in
t01_au.out
t01_au.i
t01_au.o
t01_au
./au.hpc.paw
GOF
{ mpirun --allow-run-as-root -np 32 --map-by ppr:32:node:pe=1  --bind-to core -mca pml ucx --mca btl ^openib,tcp,vader,uct -x UCX_TLS=sm,self -x UCX_NET_DEVICES=enp125s0f0   abinit < hpc_x.files ; } 2>&1 | tee tee_abinit.xlog
EOF

cat > ${JOBDIR}/abinit-9.8.4-run.sh << EOF
#!/bin/bash

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/abinit-9.8.4-run.sh

set +x && echo_info "Install done!!!" && set -x

[CLEAN]
./clean -a

[RUN]
run = mpirun --allow-run-as-root -n 32 -x OMP_NUM_THREADS=1 -bind-to core ${WRF_DIR}/run/wrf.exe
binary = 
nodes = 1

