[SERVER]
1.1.1.1

[DOWNLOAD]
https://www.ks.uiuc.edu/Development/Download/download.cgi?PackageName=NAMD

[DEPENDENCY]
yum install -y fftw-devel tcl-devel
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.4.0 com
module load bisheng/2.4.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
tar xzf $JARVIS_DOWNLOAD/NAMD_2.14_Source.tar.gz
cd NAMD_2.14_Source
tar xf $JARVIS_DOWNLOAD/charm-6.10.2.tar

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/2.4.0
module load hmpi/1.1.1
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = NAMD
build_dir = $JARVIS_ROOT/NAMD_2.14_Source/
binary_dir = $JARVIS_ROOT/NAMD_2.14_Source/Linux-ARM64-g++/
case_dir = ${JARVIS_ROOT}/workloads/namd/stmv

[BUILD]
set -x
set -e
cat > ./arch/Linux-ARM64.fftw <<\EOF
FFTDIR=/usr
FFTINCL=-I$(FFTDIR)/include
FFTLIB=-L$(FFTDIR)/lib -lfftw3f
FFTFLAGS=-DNAMD_FFTW -DNAMD_FFTW_3
FFT=$(FFTINCL) $(FFTFLAGS)
EOF

cat > ./arch/Linux-ARM64.tcl <<\EOF
TCLDIR=/usr
TCLINCL=-I$(TCLDIR)/include
TCLLIB=-L$(TCLDIR)/lib64 -ltcl8.6 -ldl -lpthread
TCLFLAGS=-DNAMD_TCL
TCL=$(TCLINCL) $(TCLFLAGS)
EOF
#compile charm
cd charm-6.10.2
./build charm++ multicore-arm8 -j32 clang flang --with-production
cd multicore-arm8-flang-clang/tests/charm++/megatest
make pgm
./pgm +p4
cd ../../../../..
#compile NAMD
rm -rf Linux-ARM64-g++
./config Linux-ARM64-g++ --charm-arch multicore-arm8-flang-clang --with-cuda --cxx clang++ --cc clang
cd Linux-ARM64-g++
make -j

[CLEAN]
make clean

[RUN]
run = 
binary = namd2 +p126 +setcpuaffinity +maffinity +isomalloc_sync +devices 0,2 stmv_nve_cuda.namd 2>&1 | tee namd.log && python $JARVIS_ROOT/templates/namd/2.14/ns_per_day.py namd.log
nodes = 1

[PERF]
kperf = --spe --uncore
perf = 
nsys = -y 5s -d 60s
ncu = --target-processes all --launch-skip 16 --launch-count 1

