[SERVER]
1.1.11.1

[DOWNLOAD]
https://www.ks.uiuc.edu/Development/Download/download.cgi?PackageName=NAMD

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.2.0 clang
tar -xzvf $JARVIS_DOWNLOAD/NAMD_2.14_Source.tar.gz
cd NAMD_2.14_Source
tar xvf charm-6.10.2.tar

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/2.1.0
module load hmpi/1.2.0
# add cuda
export CUDA_INCLUDE_DIRS=/usr/local/cuda/include
export CUDA_CUDART_LIBRARY=/usr/local/cuda/lib64/libcudart.so
export CUDA_HOME=/usr/local/cuda
export PATH=$CUDA_HOME/bin:$PATH
export LD_LIBRARY_PATH=$CUDA_HOME/lib64:$LD_LIBRARY_PATH
export C_INCLUDE_PATH=$CUDA_HOME/include:$C_INCLUDE_PATH
export LIBRARY_PATH=$CUDA_HOME/lib64:$LIBRARY_PATH

[APP]
app_name = NAMD
build_dir = $JARVIS_ROOT/NAMD_2.14_Source/
binary_dir = $JARVIS_ROOT/NAMD_2.14_Source/Linux-ARM64-g++/
case_dir = ${JARVIS_ROOT}/stmv

[BUILD]
set -x
set -e
cd charm-6.10.2
#charm_arch='netlrts-linux-arm8-flang-smp-clang'
#./build charm++ netlrts-linux-arm8 smp -j32 clang flang --with-production
charm_arch='multicore-arm8-flang-clang'
./build charm++ multicore-arm8 -j32 clang flang --with-production
cd $charm_arch/tests/charm++/megatest
make pgm
./pgm +p4
cd ../../../../..
rm -rf Linux-ARM64-g++
./config Linux-ARM64-g++ --charm-arch $charm_arch --with-cuda --cxx clang++ --cc clang
cd Linux-ARM64-g++
make -j

[CLEAN]
make clean

[RUN]
run =
binary = namd2 +p126 +setcpuaffinity +maffinity +isomalloc_sync +devices 0,1 stmv_nve_cuda.namd
nodes = 1

[PERF]
kperf = --spe --uncore
perf =
nsys = -y 5s -d 60s
ncu = --target-processes all --launch-skip 16 --launch-count 1