[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
module use ${JARVIS_ROOT}/software/modulefiles
module use ${JARVIS_ROOT}/software/moduledeps
module purge
./jarvis -install gcc/10.3.1 com
module load gcc/10.3.1
./jarvis -install hmpi/1.1.1 gcc
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[ENV]
module use ${JARVIS_ROOT}/software/modulefiles
module use ${JARVIS_ROOT}/software/moduledeps
module purge
module load gcc/10.3.1
module load gcc10.3.1/hmpi/1.1.1

[APP]
app_name = IPM
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir =

[BUILD]
./jarvis -install IPM/2.0.6 gcc+mpi

[RUN]
run =
binary =
nodes = 1
