[SERVER]
11.11.11.11

[DOWNLOAD] 
Seurat/5.1.0 https://cran.r-project.org/src/contrib/Archive/Seurat/Seurat_5.1.0.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install hmpi/2.4.2 bisheng
module load hmpi/2.4.2
./jarvis -install libpng/1.6.37 bisheng+mpi
module load libpng/1.6.37
./jarvis -install R/4.4.3 bisheng+mpi
module load R/4.4.3

tar -zxvf ${JARVIS_DOWNLOAD}/Seurat_5.1.0.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load hmpi/2.4.2
module load libpng/1.6.37
module load R/4.4.3

[APP]
app_name = Seurat
build_dir = ${JARVIS_TMP_DOWNLOAD}/Seurat
binary_dir =
case_dir = ${JARVIS_TMP_DOWNLOAD}/Seurat/tests

[BUILD]
R --vanilla -e 'install.packages(c("SeuratObject", "cowplot", "fastDummies", "fitdistrplus", "future", "future.apply", "generics", "ggplot2", "ggrepel", "ggridges", "httr", "ica", "igraph", "irlba", "jsonlite", "leiden", "lifecycle", "lmtest", "matrixStats", "miniUI", "patchwork", "pbapply", "plotly", "png", "progressr", "purrr", "RANN", "RColorBrewer", "Rcpp", "RcppAnnoy", "RcppHNSW", "reticulate", "rlang", "ROCR", "RSpectra", "Rtsne", "scales", "scattermore", "sctransform", "shiny", "spatstat.explore", "spatstat.geom", "tibble", "uwot", "RcppEigen", "RcppProgress", "testthat"), repos="https://cloud.r-project.org/"); q()'
R CMD INSTALL .

[CLEAN]
detach("package:Seurat", unload = T)
remove.packages("Seurat")

[RUN]
run = R --vanilla -e "testthat::test_file(\"testthat.R\"); q()"
binary =
nodes = 1
