[SERVER]
11.11.11.11

[DOWNLOAD]
grads/2.0.a4 https://sourceforge.net/projects/opengrads/files/grads2/2.0.a4-1/grads-2.0.a4.oga.1-src.tar.gz


[DEPENDENCY]
yum install libXmu-devel -y
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule


[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule
export CC=clang CXX=clang++ FC=flang
export CFLAGS="-Wno-implicit-function-declaration -Wno-implicit-int"

[APP]
app_name = grads
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir =

[BUILD]
./jarvis -install grads/2.0.a4 clang

[RUN]
run = echo -e "\n quit" | /root/hpcrunner/software/libs/bisheng4.2.0.2/grads/2.0.a4/bin/grads -b
binary =
nodes = 1

