[SERVER]
11.11.11.11

[DOWNLOAD]
diamond/2.0.4 $JARVIS_PROXY/bbuchfink/diamond/archive/v2.0.4.tar.gz diamond-2.0.4.tar.gz
swissprot http://ftp.ncbi.nlm.nih.gov/blast/db/FASTA/swissprot.gz swissprot.gz
human_g1k_v37 http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/human_g1k_v37.fasta.gz human_g1k_v37.fasta.gz

[DEPENDENCY]
set -e
set -x

module purge
./jarvis -install bisheng/4.1.0 com

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

[APP]
app_name = diamond
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/diamond-2.0.4/install/bin/
case_dir = ${JARVIS_ROOT}/diamond-2.0.4/examples

[BUILD]
rm -rf diamond-2.0.4
tar -xvzf ${JARVIS_DOWNLOAD}/diamond-2.0.4.tar.gz
cd diamond-2.0.4
mkdir build install examples
cd build
cmake -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/diamond-2.0.4/install \
	-DCMAKE_CXX_FLAGS="-O3 -g -mcpu=hip09" \
	../
make -j
make install

cd ../examples
gzip -dkcv ${JARVIS_DOWNLOAD}/human_g1k_v37.fasta.gz > human_g1k_v37.fasta
gzip -dkcv ${JARVIS_DOWNLOAD}/swissprot.gz > swissprot

[CLEAN]
cd build
make clean

[RUN]
run = time -p numactl -C 0-113
binary = diamond blastp -p 114 -q human_g1k_v37.fasta -d swissprot -o out.tsv --very-sensitive
nodes = 1
