[SERVER]
11.11.11.11

[DOWNLOAD]
diamond/2.0.4 https://github.com/bbuchfink/diamond/archive/v2.0.4.tar.gz diamond-2.0.4.tar.gz
swissprot http://ftp.ncbi.nlm.nih.gov/blast/db/FASTA/swissprot.gz swissprot.gz
human_g1k_v37 http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/human_g1k_v37.fasta.gz human_g1k_v37.fasta.gz

[DEPENDENCY]
set -e
set -x

yum install -y vim tar git wget make cmake
module purge
./jarvis -install bisheng/4.1.0 com
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/2.4.2 clang
module use ./software/moduledeps/bisheng4.1.0
module load hmpi/2.4.2
tar -vzxf ${JARVIS_DOWNLOAD}/diamond-2.0.4.tar.gz
mkdir -p DIAMOND
mkdir -p TESTCASE
cp -r ${JARVIS_DOWNLOAD}/swissprot.gz ./TESTCASE
cp -r ${JARVIS_DOWNLOAD}/human_g1k_v37.fasta.gz ./TESTCASE
cd ./TESTCASE
gzip -dk swissprot.gz
gzip -dk human_g1k_v37.fasta.gz || true
split -l 1000000 human_g1k_v37.fasta human_g1k_part_
cd ..

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module use ./software/moduledeps/bisheng4.1.0
module load hmpi/2.4.2

[APP]
app_name = diamond
build_dir = ${JARVIS_ROOT}/diamond-2.0.4/
binary_dir = ${JARVIS_ROOT}/DIAMOND/bin/
case_dir = ${JARVIS_ROOT}/TESTCASE/

[BUILD]
mkdir build
cd build
cmake -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/DIAMOND ../
make -j 16
make install

[CLEAN]
make clean

[RUN]
run =
binary = diamond blastp -p 16 -q human_g1k_part_aa -d swissprot -o out_part_aa.tsv --very-sensitive
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
