[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install hpckit/25.1.0 any
module use software/utils/hpckit/25.1.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.2.0.2/bishengmodule bisheng/hmpi25.1.0/release
export CC=clang CXX=clang++ FC=flang
./jarvis -install cmake/3.23.1 clang
module use software/moduledeps/bisheng4.2.0.2
module load cmake/3.23.1
./jarvis -install zlib/1.2.12 clang
module load zlib/1.2.12
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[ENV]
module purge
module use software/utils/hpckit/25.1.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.2.0.2/bishengmodule bisheng/hmpi25.1.0/release
export CC=clang CXX=clang++ FC=flang
module use software/moduledeps/bisheng4.2.0.2
module load cmake/3.23.1
module load  zlib/1.2.12
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = scotch
build_dir = ${JARVIS_TMP}/scotch-v7.0.1/build
binary_dir = ${JARVIS_LIBS}/bisheng4.2.0.2-hmpi25.1.0/scotch/7.0.1/bin
case_dir = ${JARVIS_TMP}/scotch-v7.0.1/build

[BUILD]
cd ${JARVIS_ROOT} && ./jarvis -install scotch/7.0.1 bisheng+mpi


[RUN]
run = make test OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
binary = 
nodes = 1
