[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.4.0 com
module load bisheng/2.4.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1
./jarvis -install cmake/3.23.1 clang
module load cmake/3.23.1
./jarvis -install openblas/0.3.18 clang
module load openblas/0.3.18
./jarvis -install zlib/1.2.12 clang
module load zlib/1.2.12
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load bisheng/2.4.0
export CC=clang CXX=clang++ FC=flang
module load hmpi/1.1.1
module load cmake/3.23.1
module load openblas/0.3.18 zlib/1.2.12
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = scotch
build_dir = ${JARVIS_TMP}/scotch-v7.0.1/build
binary_dir = ${JARVIS_LIBS}/bisheng2.4.0/hmpi1.1.1/scotch/7.0.1/bin
case_dir = ${JARVIS_TMP}/scotch-v7.0.1/build

[BUILD]
cd ${JARVIS_ROOT} && ./jarvis -install scotch/7.0.1 bisheng+mpi


[RUN]
run = make test OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
binary = 
nodes = 1