[SERVER]
11.11.11.11

[DOWNLOAD]
chaste/2019.1 $JARVIS_PROXY/Chaste/Chaste/archive/refs/tags/release_2019.1.tar.gz Chaste-release_2019.1.tar.gz

[DEPENDENCY]
set -x
set -e
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
./jarvis -install python2/2.7.16 com

module load bisheng/4.1.0
export CC=clang CXX=clang++ FC=flang

./jarvis -install kml/2.4.0/bisheng clang
./jarvis -install hmpi/2.4.2 clang
./jarvis -install boost/1.70.0/clang clang
./jarvis -install sundials/5.8.0 clang
./jarvis -install xerces/3.3.0 clang
./jarvis -install vtk/9.4.1 clang

module load xerces/3.3.0
./jarvis -install xsd/4.0.0 clang

module load hmpi/2.4.2
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install petsc/3.19.6 clang+mpi

module load python2/2.7.16
./jarvis -install amara/1.2.0.2/ clang
yum install libxml2-devel libxslt-devel -y
pip install rdflib lxml

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load kml-bisheng/2.4.0
module load hmpi/2.4.2
module load boost-clang/1.70.0
module load petsc/3.19.6
module load sundials/5.8.0
module load xerces/3.3.0
module load xsd/4.0.0
module load vtk/9.4.1
module load python2/2.7.16

[APP]
app_name = chaste
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/cp2k-7.1.0/exe/Linux-arm-clang/
case_dir = ${JARVIS_ROOT}/cp2k-7.1.0/benchmarks/QS/

[BUILD]
rm -rf Chaste-release_2019.1
tar -zxvf $JARVIS_DOWNLOAD/Chaste-release_2019.1.tar.gz
cd Chaste-release_2019.1
sed -i '452s|^|#|' CMakeLists.txt
sed -i -e 's/VecLockPush/VecLockReadPush/g' \
       -e 's/VecLockPop/VecLockReadPop/g' \
       ./global/test/TestDistributedVector.hpp ./linalg/test/TestPetscVecTools.hpp
sed -i '6s|\-Werror||g' ./cmake/Modules/ChasteCompilerFlags.cmake 
mkdir chaste_build chaste_install
cd chaste_build
cmake .. -DCMAKE_INSTALL_PREFIX=$(realpath ./chaste_install) \
         -DPYTHON_EXECUTABLE=${PYTHON2_PATH}/bin/python2 \
         -DBoost_INCLUDE_DIR=${BOOST_CLANG_PATH}/include \
         -DPETSC_DIR=${PETSC_PATH} \
         -DPETSC_INCLUDES=${PETSC_PATH}/include \
         -DPETSC_LIBRARIES=${PETSC_PATH}/lib \
         -DPARMETIS_LIBRARY=${PETSC_PATH}/lib/libparmetis.so \
         -DSUNDIALS_INCLUDE_DIRS=${SUNDIALS_PATH}/include \
         -DSUNDIALS_LIBRARIES=${SUNDIALS_PATH}/lib64 \
         -DSUNDIALS_sundials_cvode_LIBRARY=${SUNDIALS_PATH}/lib64/libsundials_cvode.so \
         -DSUNDIALS_sundials_nvecserial_LIBRARY=${SUNDIALS_PATH}/lib64/libsundials_nvecserial.so \
         -DChaste_SUNDIALS_VERSION=50800 -DSUNDIALS_VERSION_MAJOR=5 -DSUNDIALS_VERSION_MINOR=8 \
         -DXERCESC_LIBRARY=${XERCES_PATH}/lib/libxerces-c.so \
         -DCMAKE_C_FLAGS="-Wno-deprecated-declarations -Wno-unused-but-set-variable -Wno-unused-command-line-argument -lopenblas -I${VTK_PATH}/include/vtk-9.4 -L${BOOST_CLANG_PATH}/lib -lboost_serialization -lboost_system -lboost_filesystem" \
         -DCMAKE_CXX_FLAGS="-std=c++14 -stdlib=libc++ -Wno-deprecated-declarations -Wno-unused-but-set-variable -Wno-unused-command-line-argument -lopenblas -I${VTK_PATH}/include/vtk-9.4 -L${BOOST_CLANG_PATH}/lib -lboost_serialization -lboost_system -lboost_filesystem"
         -DX11_X11_INCLUDE_PATH=/usr/include/X11/ -DX11_X11_LIB=/usr/lib64

make VERBOSE=1 -j Continuous

[CLEAN]
make -j 128 ARCH=Linux-arm-clang VERSION=psmp clean

[RUN]
run = numactl -C 0-63  mpirun --allow-run-as-root -np 64 -x OMP_NUM_THREADS=1
binary = cp2k.psmp H2O-256.inp
nodes = 1
