[SERVER]
11.11.11.11

[DOWNLOAD]
chaste/2019.1 $JARVIS_PROXY/Chaste/Chaste/archive/refs/tags/release_2019.1.tar.gz Chaste-release_2019.1.tar.gz

[DEPENDENCY]
. ${DOWNLOAD_TOOL} -u https://chaste.github.io/old_releases/release_3.3/UserTutorials/CardiacExecutable/Propagation3d/Propagation3d.tgz
yum install libxml2-devel libxslt-devel libXt-devel libX11-devel libXext-devel openblas-devel -y

set -x
set -e
module purge
./jarvis -install hpckit/25.1.0 any
module use ./software/modulefiles
module use ./software/modulefiles/hpckit25.1.0
module use ./software/moduledeps/bisheng4.2.0.2
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/hmpi25.1.0/release

./jarvis -install python2/2.7.16 com
./jarvis -install boost/1.70.0/clang clang
./jarvis -install sundials/5.8.0 clang
./jarvis -install xerces/3.3.0 clang
./jarvis -install vtk/6.2.0 clang
module load xerces/3.3.0
./jarvis -install xsd/4.0.0 clang
module load python2/2.7.16
pip install --upgrade pip -i https://mirrors.aliyun.com/pypi/simple
./jarvis -install amara/1.2.0.2 clang
pip install rdflib lxml -i https://mirrors.aliyun.com/pypi/simple

export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install petsc/3.6.2 clang+mpi

[ENV]
module purge
module use ./software/modulefiles
module use ./software/modulefiles/hpckit25.1.0
module use ./software/moduledeps/bisheng4.2.0.2
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/hmpi25.1.0/release
module load python2/2.7.16
module load boost-clang/1.70.0
module load sundials/5.8.0
module load xerces/3.3.0
module load vtk/6.2.0
module load xsd/4.0.0
module use ./software/moduledeps/bisheng4.2.0.2-hmpi25.1.0
module load petsc/3.6.2

[APP]
app_name = chaste
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/Chaste-release_2019.1/chaste_build/apps
case_dir = ${JARVIS_ROOT}/Chaste-release_2019.1/examples/Propagation3d

[BUILD]
rm -rf Chaste-release_2019.1
tar -zxvf $JARVIS_DOWNLOAD/Chaste-release_2019.1.tar.gz
cd Chaste-release_2019.1
sed -i '452s|^|#|' CMakeLists.txt
sed -i '6s|\-Werror||g' ./cmake/Modules/ChasteCompilerFlags.cmake
sed -i '1830s|#||1' python/pycml/translators.py
sed -i '1831s|^\([[:space:]]*\)\([a-zA-Z]\)|\1#\2|' python/pycml/translators.py
sed -i '1838s|#||1' python/pycml/translators.py
sed -i '1839s|^\([[:space:]]*\)\([a-zA-Z]\)|\1#\2|' python/pycml/translators.py

mkdir chaste_build chaste_install examples
cd chaste_build
cmake .. -DCMAKE_INSTALL_PREFIX=$(realpath ../chaste_install) \
         -DPYTHON_EXECUTABLE=${PYTHON2_PATH}/bin/python2 \
         -DBoost_INCLUDE_DIR=${BOOST_CLANG_PATH}/include \
         -DPETSC_DIR=${JARVIS_TMP}/petsc-3.6.2 \
	 -DPETSC_ARCH=arch-linux-c-debug \
         -DPETSC_INCLUDES=${PETSC_PATH}/include \
         -DPETSC_LIBRARIES=${PETSC_PATH}/lib \
	 -DMETIS_LIBRARY=${PETSC_PATH}/lib/libmetis.a \
         -DPARMETIS_LIBRARY=${PETSC_PATH}/lib/libparmetis.a \
         -DSUNDIALS_INCLUDE_DIRS=${SUNDIALS_PATH}/include \
         -DSUNDIALS_LIBRARIES=${SUNDIALS_PATH}/lib64 \
         -DSUNDIALS_sundials_cvode_LIBRARY=${SUNDIALS_PATH}/lib64/libsundials_cvode.so \
         -DSUNDIALS_sundials_nvecserial_LIBRARY=${SUNDIALS_PATH}/lib64/libsundials_nvecserial.so \
         -DChaste_SUNDIALS_VERSION=50800 -DSUNDIALS_VERSION_MAJOR=5 -DSUNDIALS_VERSION_MINOR=8 \
         -DXERCESC_LIBRARY=${XERCES_PATH}/lib/libxerces-c.so \
         -DCMAKE_C_FLAGS="-Wno-deprecated-declarations -Wno-unused-but-set-variable -Wno-unused-command-line-argument -lopenblas -I${VTK_PATH}/include/vtk-6.2 -L${BOOST_CLANG_PATH}/lib -lboost_serialization -lboost_system -lboost_filesystem" \
         -DCMAKE_CXX_FLAGS="-std=c++14 -stdlib=libc++ -Wno-deprecated-declarations -Wno-unused-but-set-variable -Wno-unused-command-line-argument -lopenblas -I${VTK_PATH}/include/vtk-6.2 -L${BOOST_CLANG_PATH}/lib -lboost_serialization -lboost_system -lboost_filesystem" \
         -DX11_X11_INCLUDE_PATH=/usr/include/X11/ -DX11_X11_LIB=/usr/lib64

make VERBOSE=1 -j Continuous
make install -j

cd ../examples
tar -xvzf ${JARVIS_DOWNLOAD}/Propagation3d.tgz

[CLEAN]
make clean

[RUN]
run = time -p mpirun -np 32 --allow-run-as-root -x OMP_NUM_THREADS=1
binary = Chaste ChasteParameters.xml
nodes = 1
