[SERVER]
11.11.11.11

[DOWNLOAD]
qdk/2.3.12 https://github.com/qnap-dev/QDK/archive/refs/tags/v2.3.12.tar.gz qdk-v2.3.12.tar.gz

[DEPENDENCY]
set -e
set -x

yum install cmake make gcc g++ -y

./jarvis -install gcc/13.3.0 com
module purge 
module use ./software/modulefiles
module load gcc/13.3.0
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[ENV]
module purge
module use ./software/modulefiles
module load gcc/13.3.0

CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/qdk-2.3.12/bin:$PATH

[APP]
app_name = QDK
build_dir = 
binary_dir = ${JARVIS_ROOT}/qdk-2.3.12/bin
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -zxvf ${JARVIS_DOWNLOAD}/qdk-v2.3.12.tar.gz
cd QDK-2.3.12/src

sed -i '4q' Makefile
make
cd ..

# copy all files
mkdir -p ${JARVIS_ROOT}/qdk-2.3.12/bin
cp -rf ./shared/* ${JARVIS_ROOT}/qdk-2.3.12
ln -s ${JARVIS_ROOT}/qdk-2.3.12/qdk ${JARVIS_ROOT}/qdk-2.3.12/bin/qdk
cp -r ./src/qpkg_encrypt ${JARVIS_ROOT}/qdk-2.3.12/bin
mkdir -p ${JARVIS_ROOT}/qdk-2.3.12/config
cp ./shared/qdk.conf ${JARVIS_ROOT}/qdk-2.3.12/config/

# edit config file
sed -e '2d' ./shared/qdk.conf > ${JARVIS_ROOT}/qdk-2.3.12/config/qdk.conf
sed -i "2iQDK_PATH_P=${JARVIS_ROOT}/qdk-2.3.12" ${JARVIS_ROOT}/qdk-2.3.12/config/qdk.conf
sed -i "3cQDK_PATH=${JARVIS_ROOT}/qdk-2.3.12" ${JARVIS_ROOT}/qdk-2.3.12/config/qdk.conf

cd ${JARVIS_ROOT}/qdk-2.3.12
sed -i "s#/etc/config#${JARVIS_ROOT}/qdk-2.3.12/config#g" bin/qbuild
sed -i "s#/etc/config#${JARVIS_ROOT}/qdk-2.3.12/config#g" qdk
sed -i "s#/etc/config#${JARVIS_ROOT}/qdk-2.3.12/config#g" scripts/qinstall.sh
sed -i "s#/etc/config#${JARVIS_ROOT}/qdk-2.3.12/config#g" template/shared/init.sh
sed -i "s#/etc/config#${JARVIS_ROOT}/qdk-2.3.12/config#g" template/package_routines
sed -i "s#/etc/config#${JARVIS_ROOT}/qdk-2.3.12/config#g" template/qpkg.cfg

[CLEAN]
make clean

[RUN]
run = 
binary = qbuild --create-env MyQPKG
nodes = 1
