[SERVER]
11.11.11.11

[DOWNLOAD]
wrf/4.6.0 https://github.com/wrf-model/WRF/releases/download/v4.6.0/v4.6.0.tar.gz WRFV4.6.0.tar.gz
wrf_case/conus12km https://www2.mmm.ucar.edu/wrf/src/conus12km.tar.gz conus12km.tar.gz
wrf_case/conus2.5km https://tqi-public.s3.us-east-2.amazonaws.com/datasets/v2/conus2.5km.tar.gz conus2.5km.tar.gz

[DEPENDENCY]
set -e
#set -x
module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi

export CC=clang CXX=clang++ FC=flang
export CFLAGS="-Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types"
# basic system components
# yum install -y time zlib zlib-devel libtirpc libtirpc-devel patch
./jarvis -install jasper/1.900.2 bisheng
module load jasper/1.900.2-bisheng4.2.0

export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`

### wlj_check . $CHECK_ROOT && yum -y install zlib zlib-devel
./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module load hdf5-clang/1.12.0-bisheng4.2.0-hmpi25.0.0
./jarvis -install pnetcdf/1.12.1/clang bisheng+mpi
module load pnetcdf-clang/1.12.1-bisheng4.2.0-hmpi25.0.0
./jarvis -install netcdf/4.8.1/clang bisheng+mpi
module load netcdf-clang/4.8.1-bisheng4.2.0-hmpi25.0.0-hdf51.12.0-pnetcdf1.12.1

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load cmake/3.28.2
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
module load jasper/1.900.2-bisheng4.2.0
module load hdf5-clang/1.12.0-bisheng4.2.0-hmpi25.0.0
module load pnetcdf-clang/1.12.1-bisheng4.2.0-hmpi25.0.0
module load netcdf-clang/4.8.1-bisheng4.2.0-hmpi25.0.0-hdf51.12.0-pnetcdf1.12.1

[APP]
app_name = wrf
app_version = 4.6.0
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/wrf/4.6.0-bisheng4.2.0-hmpi25.0.0
binary_dir =
mod_exc_dir = WRFV4.6.0 
case_dir = ${JARVIS_JOBSCRIPT}/wrf/4.6.0

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

export WRFIO_NCD_LARGE_FILE_SUPPORT=1
export NETCDF=${NETCDF_CLANG_PATH}
export HDF5=${HDF5_CLANG_PATH}
export PHDF5=${HDF5}
export PNETCDF=${PNETCDF_CLANG_PATH}
export JASPER=${JASPER_PATH}
export JASPERLIB=${JASPER_PATH}/lib
export JASPERINC=${JASPER_PATH}/include
export CPPFLAGS="-I${HDF5}/include -I${PNETCDF}/include -I${NETCDF}/include"
export LDFLAGS="-L${HDF5}/lib -L${PNETCDF}/lib -L${NETCDF}/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90 F90=mpif90
export WRF_DIR=${PATH_INSTALL}/WRFV4.6.0
export HMPI_PATH=${OPAL_PREFIX}
export MPI_LIB="-L${HMPI_PATH}/lib -lmpi -lomp"
set +x
export INCLUDE=${WRF_DIR}/include:$INCLUDE
export PATH=${WRF_DIR}/main:${WRF_DIR}/external/io_netcdf:$PATH
set -x
export CASE_DIR=${WRF_DIR}/case/conus12km
JOBDIR=${JARVIS_JOBSCRIPT}/wrf/4.6.0

if true; then
if [ ! -f /usr/bin/time ]; then
set +x && echo_error "Need time,Please: yum install time" && set -x && exit 1
fi 

build_mod_check "${PATH_INSTALL}/WRFV4.6.0/main/wrf.exe" "prompt"
rm -rf ${PATH_INSTALL}/WRFV4.6.0
if [ ! -d ${PATH_INSTALL}/WRFV4.6.0 ]; then
tar -zxvf ${JARVIS_DOWNLOAD}/WRFV4.6.0.tar.gz -C ${PATH_INSTALL}
fi

####### build start
set +x && echo_info "build start" && set -x
cd ${WRF_DIR}

sed -i "2181c\SFC             =      flang" arch/configure.defaults
sed -i "2182c\SCC             =      clang" arch/configure.defaults
sed -i "2183c\CCOMP           =      clang" arch/configure.defaults
sed -i "2192c\CFLAGS_LOCAL    =      -w -O3 -c -Wno-implicit-function-declaration -Wno-int-conversion -Wno-implicit-int -mtune=native -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true" arch/configure.defaults
sed -i "2194c\FCOPTIM         =      -Ofast -mcpu=native -funroll-loops -mtune=native -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true" arch/configure.defaults
sed -i "2193c\LDFLAGS_LOCAL   =      -fopenmp -L${HPCKIT_PATH}/HPCKit/25.0.0/kml/bisheng/lib -lkml_rt" arch/configure.defaults

echo -e "12\n1" | ./configure

./compile -j 16 em_real 2>&1 | tee -a compile.log
res=${PIPESTATUS[0]}

[ $res -ne 0 ] && echo "compile Failed" && exit 1
fi

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
setenv WRF_DIR ${WRF_DIR}
prepend-path PATH ${WRF_DIR}/main:${WRF_DIR}/external/io_netcdf
prepend-path LD_LIBRARY_PATH ${HPCKIT_PATH}/HPCKit/25.0.0/kml/bisheng/lib:${HPCKIT_PATH}/HPCKit/25.0.0/kml/bisheng/lib/noarch
EOF

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
mkdir -p ${JOBDIR}
${JARVIS_APP}/wrf/4.6.0-bisheng4.2.0-hmpi25.0.0/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load wrf/4.6.0-bisheng4.2.0-hmpi25.0.0" >> ${JOBDIR}/env.sh
cp ${JARVIS_DOWNLOAD}/conus12km.tar.gz ${JOBDIR}/ -ar
cp ${JARVIS_DOWNLOAD}/conus2.5km.tar.gz ${JOBDIR}/ -ar


cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_wrf
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.wrf
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cd run2
{ time  -p mpirun  --hostfile $HOSTFILE -np 128 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores
 -x OMP_NUM_THREADS=1 -x UCX_TLS=sm ./wrf.exe ; } 2>&1 | tee tee_jax.xlog
EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd run2
{ time  -p mpirun -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 ./wrf.exe ; } 2>&1 | tee tee_wrf.xlog
EOF

cat > ${JOBDIR}/wrf-4.6.0-run.sh << EOF
#!/bin/bash

if [ ! -d run ]; then
tar --no-same-owner -zxvf ./conus12km.tar.gz -C ./
cp ${WRF_DIR}/run ./ -Lr
mv conus12km/* ./run/
cd run
rm *.exe -f
ln -s ${WRF_DIR}/main/*.exe .
ln -s ../local_run.sh .
ln -s ../job_run.sh .
cd -
fi

if [ ! -d run2 ]; then
tar --no-same-owner -zxvf ./conus2.5km.tar.gz -C ./
cp ${WRF_DIR}/run ./run2 -Lr
cd run2
rm *.exe -f
ln -s ${WRF_DIR}/main/*.exe .
ln -s ../local_run.sh .
ln -s ../job_run.sh .
ln -sf ../conus2.5km/freezeH2O.dat .
ln -sf ../conus2.5km/namelist.input .
ln -sf ../conus2.5km/qr_acr_qgV2.dat .
ln -sf ../conus2.5km/qr_acr_qgV3.dat .
ln -sf ../conus2.5km/qr_acr_qsV2.dat .
ln -sf ../conus2.5km/wrfbdy_d01 .
ln -sf ../conus2.5km/wrfinput_d01 .
cd -
fi

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/wrf-4.6.0-run.sh

set +x && echo_info "Install done!!!" && set -x

[CLEAN]
./clean -a

[RUN]
run = mpirun --allow-run-as-root -n 32 -x OMP_NUM_THREADS=1 -bind-to core ${WRF_DIR}/run/wrf.exe
binary = 
nodes = 1

