[SERVER]
11.11.11.11

[DOWNLOAD]
CMAQ/5.3.1 https://codeload.github.com/USEPA/CMAQ/tar.gz/CMAQv5.3.1_19Dec2019 CMAQ-CMAQv5.3.1_19Dec2019.tar.gz
ioapi/3.2 https://codeload.github.com/cjcoats/ioapi-3.2/tar.gz/2020111 ioapi-3.2-2020111.tar.gz

[DEPENDENCY]
set -x
set -e
yum install -y csh
module use ${JARVIS_ROOT}/software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.12.0/clang clang+mpi
module use ./software/moduledeps/bisheng2.1.0-hmpi1.1.1
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.3 clang+mpi
module load pnetcdf/1.12.3
./jarvis -install package/netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4
./jarvis -install optimized-routines/20.02 clang+mpi
module load optimized-routines/20.02
./jarvis -install ioapi/3.2/clang clang+mpi
module load ioapi-clang/3.2
cd ${JARVIS_TMP}
rm -rf CMAQ
mkdir -p CMAQ
cd CMAQ
mkdir -p CMAQ_Project
tar -xvf ${JARVIS_DOWNLOAD}/CMAQ-CMAQv5.3.1_19Dec2019.tar.gz
tar -xvf ${JARVIS_DOWNLOAD}/ioapi-3.2-2020111.tar.gz

[ENV]
module use ${JARVIS_ROOT}/software/modulefiles
module purge
module load bisheng/2.1.0
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
module use ./software/moduledeps/bisheng2.1.0-hmpi1.1.1
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.3
module load netcdf-clang/4.7.4
module load optimized-routines/20.02
module load ioapi-clang/3.2

[APP]
app_name = CMAQ
build_dir = ${JARVIS_TMP}/CMAQ
binary_dir = 
case_dir = 

[BUILD]
set -x
cd ${JARVIS_TMP}/CMAQ
mv ioapi-3.2-2020111 ioapi-3.2
cd ioapi-3.2
cp ioapi/Makeinclude.Linux2_ia64gfort ioapi/Makeinclude.Linux4_aarch64
sed -i '14s/gcc/mpicc/' ioapi/Makeinclude.Linux4_aarch64
sed -i '15s/g++/mpicxx/' ioapi/Makeinclude.Linux4_aarch64
sed -i '16s/gfortran/mpifort/' ioapi/Makeinclude.Linux4_aarch64
sed -i '21s/^/#/' ioapi/Makeinclude.Linux4_aarch64
sed -i '25s/^/#/' ioapi/Makeinclude.Linux4_aarch64
sed -i '26s/^/#/' ioapi/Makeinclude.Linux4_aarch64
sed -i '30s/^/#/' ioapi/Makeinclude.Linux4_aarch64
cp ioapi/Makefile.nocpl ioapi/Makefile
export HOME=${JARVIS_TMP}/CMAQ
cp m3tools/Makefile.nocpl m3tools/Makefile
sed -i "65c\LIBS = -L\${OBJDIR} -lioapi -L${NETCDF_CLANG_PATH}/lib -lnetcdff -lnetcdf -L${HDF5_CLANG_PATH}/lib -lhdf5_hl -lhdf5 -lz \$(OMPLIBS) \$(ARCHLIB) \$(ARCHLIBS)" m3tools/Makefile
cp Makefile.template Makefile
sed -i "146c\ NCFLIBS = -L$NETCDF_CLANG_PATH/lib -lnetcdff -lnetcdf -L$HDF5_CLANG_PATH/lib -lhdf5_hl -lhdf5 -lz" Makefile
sed -i '192i\BIN        = Linux4_aarch64' Makefile
sed -i '194i\INSTALL    = ${HOME}' Makefile
sed -i "195c\NCFLIBS    = -L$NETCDF_CLANG_PATH/lib -lnetcdff -lnetcdf -L$HDF5_CLANG_PATH/lib -lhdf5_hl -lhdf5 -lz" Makefile
sed -i '196i\LIBINST    = $(INSTALL)/$(BIN)' Makefile
sed -i '197i\BININST    = $(INSTALL)/$(BIN)' Makefile
sed -i '198i\CPLMODE    = nocpl' Makefile
sed -i '199i\IOAPIDEFS  = "-DIOAPI_NCF4"' Makefile
make BIN=Linux4_aarch64
sed -i '174,191s/&$//' ioapi/STATE3.EXT


cd ${JARVIS_TMP}/CMAQ
csh << 'EOF'
setenv HOME ${JARVIS_TMP}/CMAQ
setenv PATH $BISHENG_PATH/bin:$PATH
setenv INCLUDE $BISHENG_PATH/include
setenv LD_LIBRARY_PATH $BISHENG_PATH/lib
setenv PATH $HMPI_PATH/bin:$PATH
setenv INCLUDE $HMPI_PATH/include:$INCLUDE
setenv LD_LIBRARY_PATH $HMPI_PATH/lib:$LD_LIBRARY_PATH
cd CMAQ-CMAQv5.3.1_19Dec2019
sed -i "20s|.*| set CMAQ_HOME = ${JARVIS_TMP}/CMAQ/CMAQ_Project|" bldit_project.csh
./bldit_project.csh
cd ../CMAQ_Project/
sed -i '138s/gcc/bisheng/' config_cmaq.csh
sed -i '141,147d' config_cmaq.csh
sed -i "141i\        setenv IOAPI_INCL_DIR ${JARVIS_TMP}/CMAQ/ioapi-3.2/ioapi/" config_cmaq.csh
sed -i "142i\        setenv IOAPI_LIB_DIR ${JARVIS_TMP}/CMAQ/ioapi-3.2/Linux4_aarch64/" config_cmaq.csh
sed -i "143i\        setenv NETCDF_LIB_DIR $NETCDF_CLANG_PATH/lib/" config_cmaq.csh
sed -i "144i\        setenv NETCDF_INCL_DIR $NETCDF_CLANG_PATH/include/" config_cmaq.csh
sed -i "145i\        setenv MPI_LIB_DIR $HMPI_PATH/" config_cmaq.csh
sed -i "146i\        setenv NETCDFF_LIB_DIR $NETCDF_CLANG_PATH/lib/" config_cmaq.csh
sed -i "147i\        setenv NETCDFF_INCL_DIR $NETCDF_CLANG_PATH/include/" config_cmaq.csh
sed -i '152s/gcc/mpicc/' config_cmaq.csh
sed -i '153s/-Wsurprising[^"]*/-Wsurprising/' config_cmaq.csh
sed -i '223,226s/^/# /' config_cmaq.csh
chmod +x config_cmaq.csh
./config_cmaq.csh bisheng 2.1.0
cd CCTM/scripts/
./bldit_cctm.csh bisheng 2.1.0


exit
EOF




[RUN]
run = 
binary = 
nodes = 1
