[SERVER]
11.11.11.11

[DOWNLOAD]
CMAQ/5.3.1 https://codeload.github.com/USEPA/CMAQ/tar.gz/CMAQv5.3.1_19Dec2019 CMAQ-CMAQv5.3.1_19Dec2019.tar.gz

[DEPENDENCY]
yum install tcsh -y
module use ${JARVIS_ROOT}/software/modulefiles
module purge
./jarvis -install kgcc/9.3.1 com
module load kgcc/9.3.1
./jarvis -install hmpi/1.1.1 gcc
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 gcc+mpi
module use ./software/moduledeps/kgcc9.3.1-hmpi1.1.1
module load hdf5/1.10.1
./jarvis -install pnetcdf/1.11.2 gcc+mpi
module load pnetcdf/1.11.2
./jarvis -install netcdf/4.7.0 gcc+mpi
module load netcdf/4.7.0
./jarvis -install optimized-routines/20.02 gcc+mpi
module load optimized-routines/20.02
./jarvis -install ioapi/3.2/kgcc gcc+mpi
module load ioapi-kgcc/3.2
cd ${JARVIS_TMP}
rm -rf ioapi-3.2 CMAQ-CMAQv5.3.1_19Dec2019
tar -xvf ${JARVIS_DOWNLOAD}/CMAQ-CMAQv5.3.1_19Dec2019.tar.gz


[ENV]
module use ${JARVIS_ROOT}/software/modulefiles
module purge
module load kgcc/9.3.1
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
module use ./software/moduledeps/kgcc9.3.1-hmpi1.1.1
module load hdf5/1.10.1
module load pnetcdf/1.11.2
module load netcdf/4.7.0
module load optimized-routines/20.02
module load ioapi-kgcc/3.2

[APP]
app_name = CMAQ
build_dir = ${JARVIS_TMP}
binary_dir =
case_dir =

[BUILD]
set -x
cd ${JARVIS_TMP}
cd ${JARVIS_TMP}/CMAQ-CMAQv5.3.1_19Dec2019
setenv HOME $IOAPI_KGCC_PATH
setenv PATH $KGCC_PATH/bin:$PATH
setenv INCLUDE $KGCC_PATH/include
setenv LD_LIBRARY_PATH $KGCC_PATH/lib
setenv PATH $HMPI_PATH/bin:$PATH
setenv INCLUDE $HMPI_PATH/include:$INCLUDE
setenv LD_LIBRARY_PATH $HMPI_PATH/lib:$LD_LIBRARY_PATH
sed -i "20c\set CMAQ_HOME = ${JARVIS_TMP}/CMAQ_Project" bldit_project.csh
./bldit_project.csh
cd ../CMAQ_Project/
sed -i "138c\    case kgcc:" config_cmaq.csh
sed -i "141c\        setenv IOAPI_INCL_DIR $IOAPI_KGCC_PATH/ioapi/" config_cmaq.csh
sed -i "142c\        setenv IOAPI_LIB_DIR $IOAPI_KGCC_PATH/Linux4_aarch64/" config_cmaq.csh
sed -i "143c\        setenv NETCDF_LIB_DIR $NETCDF_PATH/lib/" config_cmaq.csh
sed -i "144c\        setenv NETCDF_INCL_DIR $NETCDF_PATH/include/" config_cmaq.csh
sed -i "145c\        setenv MPI_LIB_DIR $HMPI_PATH/" config_cmaq.csh
sed -i "146c\        setenv NETCDFF_LIB_DIR $NETCDF_PATH/lib/" config_cmaq.csh
sed -i "147c\        setenv NETCDFF_INCL_DIR $NETCDF_PATH/include/" config_cmaq.csh

sed -i '223s/^/#/' config_cmaq.csh
sed -i '224s/^/#/' config_cmaq.csh
sed -i '225s/^/#/' config_cmaq.csh
sed -i '226s/^/#/' config_cmaq.csh

./config_cmaq.csh kgcc 9.3.1
cd CCTM/scripts/
./bldit_cctm.csh kgcc 9.3.1


[RUN]
run =
binary =
nodes = 1
