[SERVER]
11.11.11.11

[DOWNLOAD]
CMAQ/5.3.1 https://codeload.github.com/USEPA/CMAQ/tar.gz/CMAQv5.3.1_19Dec2019 CMAQ-CMAQv5.3.1_19Dec2019.tar.gz
ioapi/3.2 https://codeload.github.com/cjcoats/ioapi-3.2/tar.gz/2020111 ioapi-3.2-2020111.tar.gz

[DEPENDENCY]
set -x
set -e
yum install -y csh
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.12.0/clang clang+mpi
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.3 clang+mpi
module load pnetcdf/1.12.3
./jarvis -install package/netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4
./jarvis -install optimized-routines/20.02 clang+mpi
module load optimized-routines/20.02
cd ${JARVIS_ROOT}
rm -rf CMAQ
mkdir -p CMAQ
cd CMAQ
mkdir -p CMAQ_Project
tar -xvf ${JARVIS_DOWNLOAD}/CMAQ-CMAQv5.3.1_19Dec2019.tar.gz
tar -xvf ${JARVIS_DOWNLOAD}/ioapi-3.2-2020111.tar.gz

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.3
module load netcdf-clang/4.7.4
module load optimized-routines/20.02
export HMPI_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/hmpi/bisheng/release/hmpi
export BISHENG_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/compiler/bisheng

[APP]
app_name = CMAQ
build_dir = ${JARVIS_ROOT}/CMAQ
binary_dir = 
case_dir = ${JARVIS_ROOT}/CMAQ

[BUILD]
set -x
cd ${JARVIS_ROOT}/CMAQ
mv ioapi-3.2-2020111 ioapi-3.2
cd ioapi-3.2
cp ioapi/Makeinclude.Linux2_ia64gfort ioapi/Makeinclude.Linux4_aarch64
sed -i '14s/gcc/mpicc/' ioapi/Makeinclude.Linux4_aarch64
sed -i '15s/g++/mpicxx/' ioapi/Makeinclude.Linux4_aarch64
sed -i '16s/gfortran/mpifort/' ioapi/Makeinclude.Linux4_aarch64
sed -i '21s/^/#/' ioapi/Makeinclude.Linux4_aarch64
sed -i '25s/^/#/' ioapi/Makeinclude.Linux4_aarch64
sed -i '26s/^/#/' ioapi/Makeinclude.Linux4_aarch64
sed -i '30s/^/#/' ioapi/Makeinclude.Linux4_aarch64
sed -i '1i#include <stdlib.h>' ioapi/sortic.c
cp ioapi/Makefile.nocpl ioapi/Makefile
export HOME=${JARVIS_ROOT}/CMAQ
cp m3tools/Makefile.nocpl m3tools/Makefile
sed -i "65c\LIBS = -L\${OBJDIR} -lioapi -L${NETCDF_CLANG_PATH}/lib -lnetcdff -lnetcdf -L${HDF5_CLANG_PATH}/lib -lhdf5_hl -lhdf5 -lz \$(OMPLIBS) \$(ARCHLIB) \$(ARCHLIBS)" m3tools/Makefile
cp Makefile.template Makefile
sed -i "146c\ NCFLIBS = -L$NETCDF_CLANG_PATH/lib -lnetcdff -lnetcdf -L$HDF5_CLANG_PATH/lib -lhdf5_hl -lhdf5 -lz" Makefile
sed -i '192i\BIN        = Linux4_aarch64' Makefile
sed -i '194i\INSTALL    = ${HOME}' Makefile
sed -i "195c\NCFLIBS    = -L$NETCDF_CLANG_PATH/lib -lnetcdff -lnetcdf -L$HDF5_CLANG_PATH/lib -lhdf5_hl -lhdf5 -lz" Makefile
sed -i '196i\LIBINST    = $(INSTALL)/$(BIN)' Makefile
sed -i '197i\BININST    = $(INSTALL)/$(BIN)' Makefile
sed -i '198i\CPLMODE    = nocpl' Makefile
sed -i '199i\IOAPIDEFS  = "-DIOAPI_NCF4"' Makefile
make BIN=Linux4_aarch64
sed -i '174,191s/&$//' ioapi/STATE3.EXT


cd ${JARVIS_ROOT}/CMAQ
csh << 'EOF'
setenv HOME ${JARVIS_ROOT}/CMAQ
setenv PATH $BISHENG_PATH/bin:$PATH
setenv INCLUDE $BISHENG_PATH/include
setenv LD_LIBRARY_PATH $BISHENG_PATH/lib
setenv PATH $HMPI_PATH/bin:$PATH
setenv INCLUDE $HMPI_PATH/include:$INCLUDE
setenv LD_LIBRARY_PATH $HMPI_PATH/lib:$LD_LIBRARY_PATH
cd CMAQ-CMAQv5.3.1_19Dec2019
sed -i "20s|.*| set CMAQ_HOME = ${JARVIS_ROOT}/CMAQ/CMAQ_Project|" bldit_project.csh
./bldit_project.csh
cd ../CMAQ_Project/
sed -i '138s/gcc/bisheng/' config_cmaq.csh
sed -i '141,147d' config_cmaq.csh
sed -i "141i\        setenv IOAPI_INCL_DIR ${JARVIS_ROOT}/CMAQ/ioapi-3.2/ioapi/" config_cmaq.csh
sed -i "142i\        setenv IOAPI_LIB_DIR ${JARVIS_ROOT}/CMAQ/ioapi-3.2/Linux4_aarch64/" config_cmaq.csh
sed -i "143i\        setenv NETCDF_LIB_DIR $NETCDF_CLANG_PATH/lib/" config_cmaq.csh
sed -i "144i\        setenv NETCDF_INCL_DIR $NETCDF_CLANG_PATH/include/" config_cmaq.csh
sed -i "145i\        setenv MPI_LIB_DIR $HMPI_PATH/" config_cmaq.csh
sed -i "146i\        setenv NETCDFF_LIB_DIR $NETCDF_CLANG_PATH/lib/" config_cmaq.csh
sed -i "147i\        setenv NETCDFF_INCL_DIR $NETCDF_CLANG_PATH/include/" config_cmaq.csh
sed -i '152s/gcc/mpicc/' config_cmaq.csh
sed -i '153s/-Wsurprising[^"]*/-Wsurprising/' config_cmaq.csh
sed -i '223,226s/^/# /' config_cmaq.csh
sed -i '153s/-finit-character=32\s*//g; 153s/-Wtabs\s*//g; 153s/-Wsurprising\s*//g' config_cmaq.csh
sed -i '155s/-finit-character=32\s*//g' ./config_cmaq.csh
sed -i '156s/-finit-character=32\s*//g' ./config_cmaq.csh
chmod +x config_cmaq.csh
./config_cmaq.csh bisheng 4.2.0.2
cd CCTM/scripts/
./bldit_cctm.csh bisheng 4.2.0.2

exit
EOF


[RUN]
run = ./CMAQ_Project/CCTM/scripts/BLD_CCTM_v531_bisheng4.2.0.2/CCTM_v531.exe
binary = 
nodes = 1

