[SERVER]
11.11.11.11

[DOWNLOAD]
CMAQ/5.3.1 https://codeload.github.com/USEPA/CMAQ/tar.gz/CMAQv5.3.1_19Dec2019 CMAQ-CMAQv5.3.1_19Dec2019.tar.gz

[DEPENDENCY]
set -x
set -e
module purge
source ./HPCKit.env
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install package/hdf5/1.12.0/clang clang+mpi
module use ./software/moduledeps/
module load bisheng4.0.0-hmpi2.4.1/hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load bisheng4.0.0-hmpi2.4.1/pnetcdf/1.12.1
./jarvis -install netcdf/4.8.1/clang clang+mpi
module load bisheng4.0.0-hmpi2.4.1/netcdf-clang/4.8.1
./jarvis -install ioapi/3.2/clang clang+mpi

[ENV]
module purge
source ./HPCKit.env

module use ./software/moduledeps/
module load bisheng4.0.0-hmpi2.4.1/hdf5-clang/1.12.0
module load bisheng4.0.0-hmpi2.4.1/pnetcdf/1.12.1
module load bisheng4.0.0-hmpi2.4.1/netcdf-clang/4.8.1
module load bisheng4.0.0-hmpi2.4.1/ioapi-clang/3.2


[APP]
app_name = CMAQ
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
set -x
cd ${JARVIS_ROOT}
rm -rf CMAQ-CMAQv5.3.1_19Dec2019
tar -zxf ${JARVIS_DOWNLOAD}/CMAQ-CMAQv5.3.1_19Dec2019.tar.gz
cd CMAQ-CMAQv5.3.1_19Dec2019
sed -i "20c\set CMAQ_HOME = ${JARVIS_ROOT}/workloads/CMAQ_Project" bldit_project.csh
./bldit_project.csh
cd ../CMAQ_Project/
sed -i "138c\    case clang:" config_cmaq.csh
sed -i "140c\        setenv IOAPI_MOD_DIR   ${IOAPI_CLANG_PATH}/bin" config_cmaq.csh
sed -i "141c\        setenv IOAPI_INCL_DIR  ${IOAPI_CLANG_PATH}/include" config_cmaq.csh
sed -i "142c\        setenv IOAPI_LIB_DIR   ${IOAPI_CLANG_PATH}/lib" config_cmaq.csh
sed -i "143c\        setenv NETCDF_LIB_DIR  ${NETCDF_CLANG_PATH}/lib" config_cmaq.csh
sed -i "144c\        setenv NETCDF_INCL_DIR ${NETCDF_CLANG_PATH}/include/" config_cmaq.csh
sed -i "147c\        setenv MPI_LIB_DIR     /hpcrunner/HPCKit/24.6.30/hmpi/bisheng/hmpi" config_cmaq.csh
sed -i "145c\        setenv NETCDFF_LIB_DIR  ${NETCDF_CLANG_PATH}/lib/ #> netCDF Fortran directory path" config_cmaq.csh
sed -i "146c\        setenv NETCDFF_INCL_DIR ${NETCDF_CLANG_PATH}/include/ #> netCDF Fortran directory path" config_cmaq.csh
sed -i "151c\        setenv myFC mpifort" config_cmaq.csh
sed -i "152c\        setenv myCC mpicc" config_cmaq.csh
sed -i '153c\        setenv myFSTD "-O3 -funroll-loops -finit-character=32 -Wtabs -Wsurprising"' config_cmaq.csh
sed -i '155c\        setenv myFFLAGS "-ffixed-form -ffixed-line-length-132 -funroll-loops -finit-character=32"' config_cmaq.csh
sed -i '156c\        setenv myFRFLAGS "-ffree-form -ffree-line-length-none -funroll-loops -finit-character=32"' config_cmaq.csh
sed -i '157c\        setenv myCFLAGS "-O2"' config_cmaq.csh
sed -i '158c\        setenv myLINK_FLAG  "-fopenmp"' config_cmaq.csh
sed -i '161c\        setenv mpi_lib "-lmpi"   #> -lmpich for mvapich or -lmpi for openmpi' config_cmaq.csh
sed -i '184c\ setenv netcdf_lib "-lnetcdf -lnetcdff -lgomp"  #> -lnetcdff -lnetcdf for netCDF v4.2.0 and later' config_cmaq.csh
./config_cmaq.csh clang 4.0.0
cd CCTM/scripts/
./bldit_cctm.csh clang 4.0.0

set +x

[RUN]
run = 
binary = 
nodes = 1
