[SERVER]
11.11.11.11

[DOWNLOAD]
CMAQ/5.3.1 https://codeload.github.com/USEPA/CMAQ/tar.gz/CMAQv5.3.1_19Dec2019 CMAQ-CMAQv5.3.1_19Dec2019.tar.gz

[DEPENDENCY]
module use ${JARVIS_ROOT}/software/modulefiles
module purge
./jarvis -install kgcc9.3.1/9.3.1 com
module load kgcc/9.3.1
./jarvis -install hmpi/1.1.1 gcc
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 gcc+mpi
module load hdf5/1.10.1
./jarvis -install pnetcdf/1.11.2 gcc+mpi
./jarvis -install netcdf/4.7.0 gcc+mpi
module add netcdf/4.7.0
./jarvis -install optimized-routines/20.02 gcc+mpi
module load optimized-routines/20.02
./jarvis -install package/ioapi/3.2 gcc+mpi
module load ioapi/3.2
cd ${JARVIS_TMP}
rm -rf ioapi-3.2 CMAQ-CMAQv5.3.1_19Dec2019
tar -xvf ${JARVIS_DOWNLOAD}/CMAQ-CMAQv5.3.1_19Dec2019.tar.gz


[ENV]
module use ${JARVIS_ROOT}/software/modulefiles
module purge
module load kgcc/9.3.1
module load hmpi/1.1.1
module load hdf5/1.10.1
module load netcdf/4.7.0
module load optimized-routines/20.02
module load ioapi/3.2

[APP]
app_name = CMAQ
build_dir = ${JARVIS_TMP}
binary_dir = 
case_dir = 

[BUILD]
set -x
cd ${JARVIS_TMP}
cd ${JARVIS_TMP}/CMAQ-CMAQv5.3.1_19Dec2019
sed -i "20c\set CMAQ_HOME = ${JARVIS_TMP}/CMAQ_Project" bldit_project.csh
./bldit_project.csh
cd ../CMAQ_Project/
sed -i "138c\    case kgcc:" config_cmaq.csh
sed -i "140c\        setenv IOAPI_MOD_DIR   ${JARVIS_ROOT}/tmp/ioapi-3.2/Linux4_aarch64/" config_cmaq.csh
sed -i "141c\        setenv IOAPI_INCL_DIR  ${JARVIS_ROOT}/tmp/ioapi-3.2/ioapi/" config_cmaq.csh
sed -i "142c\        setenv IOAPI_LIB_DIR   ${JARVIS_ROOT}/tmp/ioapi-3.2/Linux4_aarch64/" config_cmaq.csh
sed -i "143c\        setenv NETCDF_LIB_DIR  ${JARVIS_ROOT}/software/libs/kgcc9.3.1/hmpi/netcdf/4.7.0/lib/" config_cmaq.csh
sed -i "144c\        setenv NETCDF_INCL_DIR ${JARVIS_ROOT}/software/libs/kgcc9.3.1/hmpi/netcdf/4.7.0/include/" config_cmaq.csh
sed -i "147c\        setenv MPI_LIB_DIR     ${JARVIS_ROOT}/software/mpi/hmpi1.1.1-kgcc9.3.1/1.1.1/" config_cmaq.csh
sed -i "145c\        setenv NETCDFF_LIB_DIR  ${JARVIS_ROOT}/software/libs/kgcc9.3.1/hmpi/netcdf/4.7.0/lib/ #> netCDF Fortran directory path" config_cmaq.csh
sed -i "146c\        setenv NETCDFF_INCL_DIR ${JARVIS_ROOT}/software/libs/kgcc9.3.1/hmpi/netcdf/4.7.0/include/ #> netCDF Fortran directory path" config_cmaq.csh
sed -i "151c\        setenv myFC mpifort" config_cmaq.csh
sed -i "152c\        setenv myCC mpicc" config_cmaq.csh
sed -i '158c\        setenv myLINK_FLAG  "-fopenmp"' config_cmaq.csh
sed -i '161c\        setenv mpi_lib "-lmpi"   #> -lmpich for mvapich or -lmpi for openmpi' config_cmaq.csh
sed -i '184c\ setenv netcdf_lib "-lnetcdf -lnetcdff -lgomp"  #> -lnetcdff -lnetcdf for netCDF v4.2.0 and later' config_cmaq.csh
./config_cmaq.csh kgcc 9.3.1
cd CCTM/scripts/
./bldit_cctm.csh kgcc 9.3.1


[RUN]
run = 
binary = 
nodes = 1
