[SERVER]
11.11.11.11

[DOWNLOAD]
wrf/4.2.1 $JARVIS_PROXY/wrf-model/WRF/archive/refs/tags/v4.2.1.tar.gz wrf-4.2.1.tar.gz
case/conus12km https://www2.mmm.ucar.edu/wrf/src/conus12km.tar.gz

[DEPENDENCY]
set -e
set -x
# basic system components
yum install -y csh
module purge  
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release bisheng/kml${HPCKIT_VERSION}/kml
export CC=clang CXX=clang++ FC=flang
export CFLAGS="-Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types"
./jarvis -install jasper/1.900.2 bisheng
module use ./software/moduledeps/bisheng${BISHENG_VERSION}/
module load jasper/1.900.2
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 bisheng+mpi
module load pnetcdf/1.12.1
./jarvis -install netcdf/4.8.1/clang bisheng+mpi
module load netcdf-clang/4.8.1
rm -rf conus12km
tar -zxvf $JARVIS_DOWNLOAD/conus12km.tar.gz
rm -rf WRF-4.2.1
tar -zxvf $JARVIS_DOWNLOAD/wrf-4.2.1.tar.gz

[ENV]
#!/bin/bash
module purge  
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release bisheng/kml${HPCKIT_VERSION}/kml
export CC=clang CXX=clang++ FC=flang
export CFLAGS="-Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types"
module use ./software/moduledeps/bisheng${BISHENG_VERSION}/
module load jasper/1.900.2
export CC=mpicc CXX=mpicxx FC=mpifort
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.1
module load netcdf-clang/4.8.1
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
export NETCDF=$NETCDF_CLANG_PATH
export HDF5=$HDF5_CLANG_PATH
export PHDF5=$HDF5
export PNETCDF=$PNETCDF_PATH
export JASPER=$JASPER_PATH
export JASPERLIB=$JASPER_PATH/lib
export JASPREINC=$JASPER_PATH/include
export CPPFLAGS="-I$HDF5/include -I$PNETCDF/include -I$NETCDF/include"
export LDFLAGS="-L$HDF5/lib -L$PNETCDF/lib -L$NETCDF/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90 F90=mpif90
export WRF_DIR=$JARVIS_ROOT/WRF-4.2.1
export MPI_LIB="-L${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/hmpi/bisheng/release/xucg/lib -lmpi -lomp"
export INCLUDE=$WRF_DIR/include:$INCLUDE
export KML_LIB=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/lib/noarch
export CASE_DIR=${JARVIS_ROOT}/conus12km

[APP]
app_name = WRF
build_dir = ${WRF_DIR}
binary_dir =
case_dir = ${CASE_DIR}

[BUILD]
set -x

cd ${JARVIS_ROOT}
cd WRF-4.2.1
cat << \EOF > ./arch/configure.defaults
###########################################################
#ARCH   Linux   aarch64,clang HYPERMPI#serial smpar dmpar dm+sm
DESCRIPTION     =       CLANG ($SFC/$SCC)
DMPARALLEL      =       1
OMPCPP          =       -D_OPENMP
OMP             =       -fopenmp
OMPCC           =       -fopenmp
SFC             =       flang
SCC             =       clang -Wno-implicit-function-declaration -Wno-implicit-int -Wno-deprecated-non-prototype
CCOMP           =       clang
DM_FC           =       mpif90 -f90=$(SFC)
DM_CC           =       mpicc -cc=$(SCC) -DMPI2_SUPPORT -Wno-implicit-function-declaration -Wno-implicit-int
FC              =       CONFIGURE_FC
CC              =       CONFIGURE_CC
LD              =       $(FC) -L$(KML_LIB) -lkm
RWORDSIZE       =       CONFIGURE_RWORDSIZE
PROMOTION       =       #-fdefault-real-8
ARCH_LOCAL      =       -DNONSTANDARD_SYSTEM_SUBR  -DWRF_USE_CLM
CFLAGS_LOCAL    =      -mcpu=native -w -O3 -c -march=armv8.2-a
LDFLAGS_LOCAL   =
CPLUSPLUSLIB    =
ESMF_LDFLAG     =      $(CPLUSPLUSLIB)
FCOPTIM         =       -O3 -march=armv8.2-a
FCREDUCEDOPT    =       $(FCOPTIM)
FCNOOPT         =       -O0
FCDEBUG         =      -g # -fbacktrace -ggdb-fcheck=bounds,do,mem,pointer -ffpe-trap=invalid,zero,overflow
FORMAT_FIXED    =       -ffixed-form
FORMAT_FREE     =       -ffree-form -ffree-line-length-0
FCSUFFIX        =
BYTESWAPIO      =       -fconvert=big-endian
FCBASEOPTS_NO_G =       -w $(FORMAT_FREE) $(BYTESWAPIO)
FCBASEOPTS      =       -mcpu=native $(OMP) $(FCBASEOPTS_NO_G)
MODULE_SRCH_FLAG =
TRADFLAG        =      -traditional
CPP             =      /lib/cpp -P
AR              =      ar
ARFLAGS         =      ru
M4              =      m4 -G
RANLIB          =      ranlib
RLFLAGS         =
CC_TOOLS        =      $(SCC)

#insert new stanza before the Fujitsu block, keep Fujitsu at the end of the list
###########################################################
#ARCH  NULL
EOF
sed -i 's/derf/erf/g' ./phys/module_mp_SBM_polar_radar.F
echo 4 | ./configure
./compile -j 20 em_real 2>&1 | tee compile.log

cd $JARVIS_ROOT
rm -rf conus12km
tar -zxvf $JARVIS_DOWNLOAD/conus12km.tar.gz
rsync -av --exclude='namelist.input' $JARVIS_ROOT/WRF-4.2.1/run/* conus12km/
cd conus12km
ln -sf $JARVIS_ROOT/WRF-4.2.1/main/*.exe ./

[CLEAN]
./clean -a

[RUN]
run = mpirun --allow-run-as-root -n 16 -x OMP_NUM_THREADS=1 -bind-to core ./wrf.exe
binary = 
nodes = 1

[JOB]
#!/bin/sh
#DSUB -n wrf_test
#DSUB --job_type cosched:hmpi
#DSUB -A root.default
#DSUB -q root.default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo wrf.%J.out
#DSUB -eo wrf.%J.err

##set runtime environment variables

ulimit -s unlimited
ulimit -c unlimited
rm -rf rsl.*
echo "----HOSTFILE generated---"
cat $CCS_HOST_FILE
echo "-------------------------"
EXEC_CMD="time -p mpirun $CCS_MPI_OPTIONS -n 32 -x OMP_NUM_THREADS=1 -x UCX_NET_DEVICES=mlx5_0:1 -mca io romio321 -mca pml ucx -mca btl ^vader,tcp,openib,uct -x UCX_TLS=self,sm,rc -bind-to core -x PATH -x LD_LIBRARY_PATH $WRF_DIR/run/wrf.exe"
echo "$EXEC_CMD"
date
$EXEC_CMD
date

