[SERVER]
11.11.11.11

[DOWNLOAD]
elmer/8.4 https://github.com/ElmerCSC/elmerfem/archive/refs/tags/scc20.tar.gz elmerfem-scc20.tar.gz
elmer/test https://sources.debian.org/data/non-free/e/elmer-doc/2014.02.06-1~bpo70+1/ElmerTutorialsFiles_nonGUI.tar.gz

[DEPENDENCY]
set -e
set -x
./jarvis -install gcc/9.3.0 com
module purge
module use ./software/modulefiles
module load gcc9/9.3.0
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install hmpi/1.1.1 gcc
./jarvis -install openblas/0.3.6 gcc
./jarvis -install cmake/3.23.1 gcc
module load hmpi/1.1.1
rm -rf ${JARVIS_TMP}/elmerfem-scc20
tar -xvf ${JARVIS_DOWNLOAD}/elmerfem-scc20.tar.gz -C ${JARVIS_TMP}
rm -rf ${JARVIS_TMP}/elmerfem-scc20/tutorials_files
tar -xvf ${JARVIS_DOWNLOAD}/ElmerTutorialsFiles_nonGUI.tar.gz -C ${JARVIS_TMP}/elmerfem-scc20/

[ENV]
module use ./software/modulefiles
module purge
module load gcc9/9.3.0
module load hmpi/1.1.1
module load cmake/3.23.1
module load openblas/0.3.6
export CC=gcc CXX=g++ FC=gfortran

[APP]
app_name = elmer
build_dir = ${JARVIS_TMP}/elmerfem-scc20
binary_dir =
case_dir = ${JARVIS_TMP}/elmerfem-scc20/tutorials_files/FlowResistance

[BUILD]
mkdir build
cd build
cmake -DCMAKE_C_FLAGS="-O3" -DCMAKE_CXX_FLAGS="-O3" -DCMAKE_Fortran_FLAGS="-O3" ../
make -j
make install

[RUN]
run = ElmerGrid 1 2 hole.grd && mpirun --allow-run-as-root -mca btl ^openib -np 1 ElmerSolver
binary =
nodes = 1