[SERVER]
11.11.11.11

[DOWNLOAD]
elmer/8.4 https://github.com/ElmerCSC/elmerfem/archive/refs/tags/scc20.tar.gz elmerfem-scc20.tar.gz

[DEPENDENCY]
set -e
set -x
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
./jarvis -install openblas/0.3.6 clang
./jarvis -install cmake/3.23.1 clang
module load hmpi1/1.1.1
./jarvis -install package/elmer/8.4 clang
./jarvis -install package/elmer/test clang
rm -rf ${JARVIS_TMP}/elmerfem-scc20
tar -xvf ${JARVIS_DOWNLOAD}/elmerfem-scc20.tar.gz -C ${JARVIS_TMP}
rm -rf ${JARVIS_TMP}/tutorials_files
tar -xvf ${JARVIS_DOWNLOAD}/ElmerTutorialsFiles_nonGUI.tar.gz -C ${JARVIS_TMP}

[ENV]
module use ./software/modulefiles
module purge
module load bisheng2/2.1.0
module load hmpi1/1.1.1
module load cmake/3.23.1
module load openblas/0.3.6
export CC=mpicc CXX=mpicxx FC=mpifort

[APP]
app_name = elmer
build_dir = ${JARVIS_TMP}/elmerfem-scc20
binary_dir =
case_dir = ${JARVIS_TMP}/elmerfem-scc20

[BUILD]
cd ${JARVIS_TMP}
patch -p0 < ${JARVIS_ROOT}/tunning/elmer/Bisheng-elmer.patch
cd ${JARVIS_TMP}/elmerfem-scc20
mkdir build
cd build
cmake -DCMAKE_C_FLAGS="-O3 -march=armv8.2-a -mtune=tsv110" -DCMAKE_CXX_FLAGS="-O3 -march=armv8.2-a -mtune=tsv110" -DCMAKE_Fortran_FLAGS="-O3 -march=armv8.2-a -mtune=tsv110" ../
make -j
make install

[RUN]
run = cd ${case_dir}/tutorials_files/FlowResistance && ElmerGrid 1 2 hole.grd && time mpirun --allow-run-as-root -mca btl ^openib -np 1 ElmerSolver
binary =
nodes = 1