[SERVER]
11.11.11.11

[DOWNLOAD]
nwchem/6.8.1 https://codeload.github.com/NWChemgit/NWChem/tar.gz/6.8.1-release nwchem-6.8.1-release.tar.gz
ga/5.6.5 https://github.com/edoapra/ga/releases/download/v5.6.5/ga-5.6.5.tar.gz


[DEPENDENCY]
module purge
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1

[ENV]
module use ./software/modulefiles
module purge
module load bisheng2/2.1.0
module load hmpi1/1.1.1
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = nwchem
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/bisheng2/nwchem/6.4.0
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/nwchem-6.8.1-release.tar.gz
cd nwchem-6.8.1-release
cd src/tools
tar -zxvf ${JARVIS_DOWNLOAD}/ga-5.6.5.tar.gz
export NWCHEM_TOP=${JARVIS_TMP}/nwchem-6.8.1-release
export NWCHEM_TARGET=LINUX64
export NWCHEM_MODULES=all
export USE_MPI=y
export USE_INTERNALBLAS=y
export NWCHEM_LONG_PATHS=Y
cd ${JARVIS_TMP}/nwchem-6.8.1-release/src
make nwchem_config
make FC=flang

[RUN]
run =
binary =
node = 1

