[SERVER]
11.11.11.11

[DOWNLOAD]
nwchem/6.8.1 https://codeload.github.com/NWChemgit/NWChem/tar.gz/6.8.1-release nwchem-6.8.1-release.tar.gz
ga/5.6.5 $JARVIS_PROXY/edoapra/ga/releases/download/v5.6.5/ga-5.6.5.tar.gz


[DEPENDENCY]
module purge
./jarvis -install bisheng/3.2.0-mini com
module use ./software/modulefiles
module load bisheng/3.2.0-mini
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/2.3.0 clang
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0


[ENV]
module use ./software/modulefiles
module purge
module load bisheng/3.2.0-mini
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
export CC=clang CXX=clang++ FC=flang
export PMIX_INSTALL_PREFIX=${OPAL_PREFIX}
cd /hpcrunner
CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_TMP}/nwchem-6.8.1-release/bin/LINUX64:$PATH

[APP]
app_name = nwchem
build_dir = ${JARVIS_TMP}/nwchem-6.8.1-release
binary_dir = ${JARVIS_TMP}/nwchem-6.8.1-release/bin/LINUX64
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/nwchem-6.8.1-release.tar.gz
cd nwchem-6.8.1-release
cd src/tools
tar -zxvf ${JARVIS_DOWNLOAD}/ga-5.6.5.tar.gz
export NWCHEM_TOP=${JARVIS_TMP}/nwchem-6.8.1-release
export NWCHEM_TARGET=LINUX64
export NWCHEM_MODULES=all
export USE_MPI=y
export USE_INTERNALBLAS=y
export NWCHEM_LONG_PATHS=Y
cd ${JARVIS_TMP}/nwchem-6.8.1-release/src
make nwchem_config
make FC=flang CC=clang CFLAGS="-mcpu=linxicore9100 -mllvm -force-customized-pipeline=true" FFLAGS="-mcpu=linxicore9100 -mllvm -force-customized-pipeline=true"

[RUN]
run =  
binary =
nodes = 1

