[SERVER]
11.11.11.11

[DOWNLOAD]
nwchem/6.8.1 https://codeload.github.com/NWChemgit/NWChem/tar.gz/6.8.1-release nwchem-6.8.1-release.tar.gz
ga/5.6.5 https://github.com/edoapra/ga/releases/download/v5.6.5/ga-5.6.5.tar.gz 

[DEPENDENCY]
./jarvis -install package/hpckit/24.0.0/ any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi 
module load gcc/compiler12.3.1/gccmodule
export CC=mpicc FC=mpifort CXX=mpicxx

[ENV]
module use ${JARVIS_ROOT}/software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
module load gcc/compiler12.3.1/gccmodule
export PATH=$JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1/bin/LINUX64:$PATH

[APP]
app_name = nwchem
build_dir = $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1
binary_dir = $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1/bin/LINUX64
case_dir = $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1/web/benchmarks/dft

[BUILD]
set -x
mkdir -p $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1
rm -rf $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1/*
tar xf ${JARVIS_DOWNLOAD}/nwchem-6.8.1-release.tar.gz --strip-components 1 -C $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1
cd $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1
export NWCHEM_TOP=$JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1
export NWCHEM_TARGET=LINUX64
export NWCHEM_MODULES=all
export USE_MPI=y
export USE_INTERNALBLAS=y
export NWCHEM_LONG_PATHS=Y
cd src/tools
cp ${JARVIS_DOWNLOAD}/ga-5.6.5.tar.gz ./
tar -xf ga-5.6.5.tar.gz
cd ../
make nwchem_config
make FC=flang 

[CLEAN]
rm -rf $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1/*

[RUN]
run =
binary = $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/nwchem-6.8.1/bin/LINUX64/nwchem
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="nwchem-proformance.log"

>"$LOG_FILE"
$RUN_TOOL "nwchem nwchem" "mpirun --allow-run-as-root -np 64 nwchem siosi6.nw -v" $LOG_FILE
#mpirun --allow-run-as-root -np 64 nwchem siosi6.nw -v

echo "All commands executed. Performance log saved to $LOG_FILE"

[JOB]
#!/bin/sh
#DSUB -n nwchem_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo nwchem.%J.out
#DSUB -oe nwchem.%J.err

LOG_FILE="nwchem-proformance.log"

>"$LOG_FILE"
$RUN_TOOL "nwchem nwchem" "mpirun --allow-run-as-root -np 64 nwchem siosi6.nw -v" $LOG_FILE
#mpirun --allow-run-as-root -np 64 nwchem siosi6.nw -v

echo "ALL commands executed. Performance log saved to $LOG_FILE"
