[SERVER]
11.11.11.11

[DOWNLOAD]
go/1.18 https://go.dev/dl/go1.18.linux-arm64.tar.gz
singrarity/3.9.6 https://github.com/sylabs/singularity/archive/refs/tags/v3.9.6.tar.gz singrarity-3.9.6.tar.gz

[DEPENDENCY]
set -x
set -e
# Install RPM packages for dependencies
sudo yum install -y libseccomp-devel squashfs-tools cryptsetup
./jarvis -install go/1.18 gcc
export PATH=/usr/local/go/bin:$PATH
# Install singrarity from https://github.com/sylabs/singularity.git
tar -xzvf singrarity-3.9.6.tar.gz

[ENV]
export PATH=/usr/local/go/bin:$PATH

[APP]
app_name = singularity
build_dir = ./singularity-ce-3.9.6/
binary_dir = 
case_dir = 

[BUILD]
./mconfig
make -C builddir
sudo make -C builddir install

[CLEAN]
make clean

[RUN]
run = 
binary = singularity version
nodes = 1