[SERVER]
11.11.11.11

[DOWNLOAD]
case1 https://jaist.dl.sourceforge.net/project/bowtie-bio/bowtie2/2.4.1/bowtie2-2.4.1-source.zip
case2 http://hgdownload.cse.ucsc.edu/goldenPath/mm10/bigZips/chromFa.tar.gz

[DEPENDENCY]
set -e 
set -x
module purge
./jarvis -install package/hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.1.0/bishengmodule

[ENV]
module purge
module use software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.1.0/bishengmodule
mkdir -p ${JARVIS_ROOT}/case

[APP]
app_name = bowtie2
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = ${JARVIS_ROOT}/case

[BUILD]
./jarvis -install package/bowtie2/2.4.1 clang

[RUN]
run = 
binary = 
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="bowtie2-performance.log"

#清空日志文件
> "$LOG_FILE"

#执行命令并统计性能
#待补充

[JOB]
#!/bin/sh
#DSUB -n bowtie2_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu =128
#DSUB -oo bowtie2_$J.out
#DSUB -eo bowtie2.$J.err

module use software/moduledeps
module add bisheng4.1.0/bowtie2/2.4.1
 
#生成算例
cd ${JARVIS_ROOT}/case
if [ ! -f "mm10.fa" ];then
 unzip -q ${JARVIS_DOWNLOAD}/bowtie2-2.4.1-source.zip
 tar xf ${JARVIS_DOWNLOAD}/chromFa.tar.gz
 cat *.fa > mm10.fa 
fi

#运行
#待补充
#bowtie2-build mm10.fa mm10
#bowtie2 -p 6 -3 5 --local -x mm10 -1 bowtie2-2.4.1/example/reads/reads_1.fq -2 bowtie2-2.4.1/example/reads/reads_2.fq -S example.sam
