[SERVER]
11.11.11.11


[DOWNLOAD]
featurecounts/2.0.3 https://sourceforge.net/projects/subread/files/subread-2.0.3/subread-2.0.3-source.tar.gz


[DEPENDENCY]
set -e
set -x
./jarvis -install bisheng/4.1.0 com
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

echo "Check the source code"
if [ -d subread-2.0.3-source ];then
        rm -rf subread-2.0.3-source
fi

tar -xzvf ${JARVIS_DOWNLOAD}/subread-2.0.3-source.tar.gz


[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0 


[APP]
app_name = featurecounts
build_dir = ${JARVIS_ROOT}/subread-2.0.3-source/src/
binary_dir =
case_dir = ${JARVIS_ROOT}/subread-2.0.3-source/test/featureCounts/


[BUILD]
sed -i 's/^CC_EXEC = gcc$/CC_EXEC = clang/' Makefile.Linux longread-one/Makefile
sed -i "s/\(-mtune=core2\)/-march=native/" Makefile.Linux longread-one/Makefile
echo "The compiler has been changed to Bisheng."

# Output the first 14 lines of the Makefile.Linux for review.
echo "Output the first 14 lines of the Makefile.Linux for review."
head -n 14 Makefile.Linux

# Output the first 10 lines of the longread-one/Makefile for review.
echo "Output the first 10 lines of the longread-one/Makefile for review."
head -n 10 longread-one/Makefile

make -f Makefile.Linux


[CLEAN]
make -f Makefile.Linux clean


[RUN]
run = sh featureCounts-test.sh
binary = 
nodes = 1


[PERF]
perf= 
nsys=
ncu=--target-processes all
