[SERVER]
11.11.11.11

[DOWNLOAD]
CAMx/6.50 https://www.camx.com/getmedia/CAMx_v6.50.src.180430.tgz

[DEPENDENCY]
set -e
set -x

module purge

./jarvis -install hpckit/${HPCKIT_VERSION} any
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng
export CC=mpicc CXX=mpicxx FC=mpifort
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
./jarvis -install hdf5/1.12.0/clang clang+mpi
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load pnetcdf/1.12.1
./jarvis -install netcdf/4.7.4/clang clang+mpi
module load netcdf-clang/4.7.4

mkdir -p ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/CAMX_v6-50
tar -zxvf ${JARVIS_DOWNLOAD}/CAMx_v6.50.src.180430.tgz -C ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/CAMX_v6-50

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
# module load jasper/1.900.2
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.1
module load netcdf-clang/4.7.4
export MPI_PATH=$(dirname $(dirname $(which mpirun)))

[APP]
app_name = CAMx.v6.50.openMPI.NCF4.gfortranomp
build_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/CAMX_v6-50
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/CAMX_v6-50
case_dir = # ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/CAMX_v6-50

[BUILD]
sed -i "64c MPI_INST = \${MPI_PATH}" Makefile
sed -i "65c NCF_INST = \${NETCDF_CLANG_PATH}"  Makefile
sed -i "252c\\\     FC = flang " Makefile
sed -i "253c\\\     CC = clang " Makefile 
sed -i "254c\\\     FLGS=\$(INCLUDES) -O2 -J\${MOD_DIR} -fno-align-commons -fconvert=big-endian -frecord-marker=4 -ffixed-line-length-0  " Makefile

sed -i "3c MPI_INST = \${MPI_PATH}"  MPI/util/Makefile
sed -i "7c CC = clang" MPI/util/Makefile
sed -i "9c LIB = -L\$(MPI_INST)/lib -lmpi " MPI/util/Makefile
sed -i "14c CFLAGS = -mcmodel=small -O2 -I \$(INC) -Wno-format -Wno-implicit-function-declaration -Wno-int-conversion" MPI/util/Makefile

patch -p0 < ${JARVIS_ROOT}/templates/CMAx/6.50/camx.patch

make COMPILER=gfortranomp MPI=openmpi NCF=NCF4
[CLEAN]
make clean

[RUN]
run = time
binary = 
nodes = 1

[BATCH]


[PERF]
perf= 
nsys=

