[SERVER]
11.11.11.11

[DOWNLOAD]
lammps/2023.8.2 https://download.lammps.org/tars/lammps-2Aug2023.tar.gz lammps-2Aug2023.tar.gz

[DEPENDENCY]
set -e

module purge
module use $JARVIS_MODULES/modules

./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

[APP]
fake = 0
app_name = lammps
app_version = 2023.8.2
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/lammps/2023.8.2-%#MYKBSVER#%-%#MYKMPIVER#%/project
binary_dir = ${JARVIS_APP}/lammps/2023.8.2-%#MYKBSVER#%-%#MYKMPIVER#%
case_dir = ${JARVIS_JOBSCRIPT}/lammps/2023.8.2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

build_mod_check "${PATH_INSTALL}/project/lammps-2Aug2023/src/lmp_mpi" "prompt"
rm -rf ${BUILD_DIR}/lammps-2Aug2023
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/lammps-2Aug2023.tar.gz -C ${BUILD_DIR}
cd ${PATH_INSTALL}/project/lammps-2Aug2023/src

clang_path=$(which clang)
bs_path=${clang_path%/bin/clang}
hpckit_path=${clang_path%/compiler/bisheng/bin/clang}

sed -i "10c\CCFLAGS = -g -O3 -fopenmp -mcpu=hip11 -mllvm -force-customized-pipeline=true -I${bs_path}/include/c++/v1 -L{bs_path}/lib -std=c++11 -stdlib=libc++ -lc++ -lc++abi"   MAKE/Makefile.mpi
sed -i "15c\LINKFLAGS =  -g -O3 -fopenmp -mcpu=hip11 -mllvm -force-customized-pipeline=true -L${bs_path}/lib -std=c++11 -stdlib=libc++ -lc++ -lc++abi"   MAKE/Makefile.mpi
sed -i "53c\FFT_INC = -I${hpckit_path}/kml/bisheng/include" MAKE/Makefile.mpi
sed -i "54c\FFT_PATH = -L${hpckit_path}/kml/bisheng/lib/neon"  MAKE/Makefile.mpi
sed -i '55c\FFT_LIB = -lkfft' MAKE/Makefile.mpi

make yes-KSPACE
make yes-MPIIO
make yes-MOLECULE
make yes-MANYBODY
make yes-RIGID
make yes-OPENMP
make mpi -j

cd ${PATH_INSTALL}
mkdir -p bin
cd bin
rm -f lmp_mpi
ln -s ../project/lammps-2Aug2023/src/lmp_mpi .

####### build done
set +x && echo_info "build done!!!" && set -x

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
prepend-path LD_LIBRARY_PATH ${HPCKIT_KML}/bisheng/lib:${HPCKIT_KML}/bisheng/lib/neon:${HPCKIT_KML}/bisheng/lib/noarch
EOF

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/lammps/2023.8.2
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load lammps/2023.8.2-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOBDIR}/env.sh

mkdir -p ${JOBDIR}/test_case
cp ${BUILD_DIR}/lammps-2Aug2023/bench/in.lj ${JOBDIR}/test_case/ -ar
sed -i "30s|100|1000|" ${JOBDIR}/test_case/in.lj
cp ${BUILD_DIR}/lammps-2Aug2023/src/lmp_mpi ${JOBDIR}/test_case/ -ar
cp ${JARVIS_ROOT}/dataconfig_patches/lammps/2023.8.2/equi_bulk/* ${JOBDIR}/test_case/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_lammps
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o lammps_out_%J.log
#DSUB -e lammps_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.lammps
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh 
cd job_work/test_case
{ time  -p mpirun  --hostfile $HOSTFILE -np 128 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores -x OMP_NUM_THREADS=1 -x UCX_TLS=sm ./lmp_mpi -in in.spce-bulk-nvt ; } 2>&1 | tee tee_out.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd local_work/test_case
{ time  -p mpirun -mca pml ucx  -x UCX_TLS=sm,tcp  --mca btl ^openib,tcp,adver -np 128 ./lmp_mpi -in in.spce-bulk-nvt  ; } 2>&1 | tee tee_out.xlog
EOF

cat > ${JOBDIR}/lammps-2Aug2023-run.sh << EOF
#!/bin/bash
source ./env.sh

mkdir -p local_work
mkdir -p job_work
cp test_case ./local_work -ar
cp test_case ./job_work -ar
./local_run.sh
#mpirun --allow-run-as-root -np 96 --mca btl ^openib,tcp,adver ./lmp_mpi -in in.lj | tee -a out.log
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/lammps-2Aug2023-run.sh
set +x && echo_info "Install done!!!" && set -x

[RUN]
