[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules

./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load bisheng/kml25.1.0.SPC001/kml
module load bisheng/kupl25.1.0.SPC001/release

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load bisheng/kml25.1.0.SPC001/kml
module load bisheng/kupl25.1.0.SPC001/release

[APP]
fake = 0
app_name = lammps
app_version = 2023.8.2
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/lammps/2023.8.2-%#MYKBSVER#%-%#MYKMPIVER#%
binary_dir = ${JARVIS_APP}/lammps/2023.8.2-%#MYKBSVER#%-%#MYKMPIVER#%
case_dir = ${JARVIS_JOBSCRIPT}/lammps-2Aug2023

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
set -x

####  build
echo "build start"

if [ ! -f "${BUILD_DIR}/bin/lmp_kunpeng" ]; then
  if [ ! -d "${BUILD_DIR}/bin" ]; then
    mkdir ${BUILD_DIR}/bin
  fi

  cp ${JARVIS_DOWNLOAD}/lmp_kunpeng ${BUILD_DIR}/bin
  chmod +x ${BUILD_DIR}/bin/lmp_kunpeng
fi

if [ ! -f "${BUILD_DIR}/bin/lmp_kupl" ]; then
  if [ ! -d "${BUILD_DIR}/bin" ]; then
    mkdir ${BUILD_DIR}/bin
  fi

  cp ${JARVIS_DOWNLOAD}/split/lmp_kupl ${BUILD_DIR}/bin
  chmod +x ${BUILD_DIR}/bin/lmp_kupl
fi

echo "build done!!!"

#### install jobsript for case test
echo "Install start"
cat > ${JARVIS_JOBSCRIPT}/lammps-2Aug2023-run.sh << EOF
cd ${BUILD_DIR}
module use ${JARVIS_MODULES}/modules
module load lammps/2023.8.2-%#MYKBSVER#%-%#MYKMPIVER#%

if [ -d "test_case" ]; then
rm -rf test_case
fi
mkdir test_case
cp ${JARVIS_DOWNLOAD}/in-1000.lj_run ./test_case
cp ${JARVIS_DOWNLOAD}/my_rank_576procs_920F ./test_case
cp ${JARVIS_DOWNLOAD}/run_hbm_lj_8M_kunpeng.sh ./test_case

tar --no-same-owner -xvf ${JARVIS_DOWNLOAD}/Third_part.tar.gz -C ./test_case
cd test_case

chmod +x run_hbm_lj_8M_kunpeng.sh

export LD_LIBRARY_PATH=${BUILD_DIR}/test_case/Third_part:$LD_LIBRARY_PATH

ln -s in-1000.lj_run in.lj_run=1000

FLAT=$(numactl -H | grep "node 16 size: 4096 MB")
if [ -z "$FLAT" ]; then
mpirun -np 280 --rankfile my_rank_576procs_920F --allow-run-as-root -x OMP_NUM_THREADS=1 --mca opal_set_max_sys_limits 1 --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 --mca opal_common_ucx_tls any -x UCX_TLS=posix -x UCX_LOG_LEVEL=fatal lmp_kunpeng -sf kunpeng -pk kunpeng 0 omp 1 -var x 8 -var y 4 -var z 8 -in in.lj_run=1000
else
mpirun -np 280 --map-by rankfile:file=my_rank_576procs_920F --allow-run-as-root -x OMP_NUM_THREADS=1 --mca opal_set_max_sys_limits 1 --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 --mca opal_common_ucx_tls any -x UCX_TLS=posix -x UCX_LOG_LEVEL=fatal -x OMP_WAIT_POLICY=active -x OMP_PROC_BIND=close ./run_hbm_lj_8M_kunpeng.sh
fi

EOF

cat > ${JARVIS_JOBSCRIPT}/lammps-2Aug2023-split-run.sh << EOF
cd ${BUILD_DIR}
module use ${JARVIS_MODULES}/modules
module load lammps/2023.8.2-%#MYKBSVER#%-%#MYKMPIVER#%

if [ -d "test_case" ]; then
rm -rf test_case
fi
mkdir test_case

cp ${JARVIS_DOWNLOAD}/split/my_rank_576procs_920F ./test_case
cp ${JARVIS_DOWNLOAD}/split/in.spce-bulk-nvt.split ./test_case
cp ${JARVIS_DOWNLOAD}/split/equi_bulk.4000000.data ./test_case
cp ${JARVIS_DOWNLOAD}/split/in.spce-bulk-nvt ./test_case

tar --no-same-owner -xvf ${JARVIS_DOWNLOAD}/Third_part.tar.gz -C ./test_case

cd test_case

export LD_LIBRARY_PATH=${BUILD_DIR}/test_case/Third_part:$LD_LIBRARY_PATH

mpirun -np 576 --allow-run-as-root --rankfile my_rank_576procs_920F -x ENABLE_BAR=1 -x ENABLE_HYB=0 -x ENABLE_OPT=3 --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 --mca opal_common_ucx_tls any --mca coll_tuned_use_dynamic_rules true --mca coll_tuned_barrier_algorithm 6 -x UCX_TLS=posix -x UCX_LOG_LEVEL=fatal lmp_kupl -sf kunpeng -pk kunpeng 0 omp 1  -partition 432 144 -in in.spce-bulk-nvt.split

EOF
echo "Install done!!!"

[RUN]
