[SERVER]
11.11.11.11

[DOWNLOAD]
tophat2/2.1.1 https://ccb.jhu.edu/software/tophat/downloads/tophat-2.1.1.tar.gz
case1 http://opengene.org/data/R1.fq.gz
case2 http://opengene.org/data/R2.fq.gz
case3 http://ftp.ensembl.org/pub/release-84/fasta/drosophila_melanogaster/dna/Drosophila_melanogaster.BDGP6.dna.toplevel.fa.gz

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install package/anaconda3/2023.3 any
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh
./jarvis -install package/hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.1.0/bishengmodule
./jarvis -install package/boost/1.72.0/clang clang
module use software/moduledeps
module add bisheng4.1.0/boost-clang/1.72.0

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh
module use software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.1.0/bishengmodule
module use software/moduledeps
module add bisheng4.1.0/boost-clang/1.72.0
module add bisheng4.1.0/bowtie2/2.4.1
export PATH=${JARVIS_ROOT}/software/apps/bisheng/tophat2/2.1.1/bin:$PATH
mkdir -p ${JARVIS_ROOT}/case

[APP]
app_name = tophat2
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = ${JARVIS_ROOT}/case

[BUILD]
rm -rf ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/envs/tophat2
conda create -n tophat2 -y
conda activate tophat2
conda install python=2.7.15 -c conda-forge -y
cd ${JARVIS_TMP}
rm -rf tophat-2.1.1
tar -xf ${JARVIS_DOWNLOAD}/tophat-2.1.1.tar.gz
cd tophat-2.1.1
sed -i "341s/<Junction, JunctionStats>//g" src/juncs_db.cpp
sed -i "2708s/<Junction, JunctionStats>//g" src/tophat_reports.cpp
./configure --prefix=${JARVIS_ROOT}/software/apps/bisheng/tophat2/2.1.1 --with-boost=${JARVIS_LIBS}/bisheng4.1.0/boost-clang/1.72.0
sed -i "263s/CXXFLAGS = /CXXFLAGS = -std=c++14 /g" src/Makefile
sed -i "152s/CXXFLAGS = /CXXFLAGS = -std=c++14 /g" Makefile
sed -i "2s/-g/-g -fPIC/g" src/samtools-0.1.18/Makefile
sed -i "2s/-g/-g -fPIC/g" src/samtools-0.1.18/bcftools/Makefile
make -j
make install
conda deactivate
rm -rf ${JARVIS_TMP}/tophat-2.1.1

[RUN]
run = 
binary = 
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="tophat2-performance.log"

#清空日志文件
> "$LOG_FILE"

#执行命令并统计性能
#待补充

[JOB]
#!/bin/sh
#DSUB -n tophat2_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu =128
#DSUB -oo tophat2_$J.out
#DSUB -eo tophat2.$J.err

conda activate tophat2

#生成算例
cd ${JARVIS_ROOT}/case
if [ ! -f "R1.fa" ];then
 gzip -d ${JARVIS_DOWNLOAD}/R1.fq.gz
 gzip -d ${JARVIS_DOWNLOAD}/R2.fq.gz
 gzip -d ${JARVIS_DOWNLOAD}/Drosophila_melanogaster.BDGP6.dna.toplevel.fa.gz
 mv Drosophila_melanogaster.BDGP6.dna.toplevel.fa genome.fa
fi

#运行
#待补充
#bowtie2-build genome.fa genome
#tophat2 -p 128 genome R1.fq R2.fq
