[SERVER]
11.11.11.11

[DOWNLOAD]
openmpi/4.0.1 https://download.open-mpi.org/release/open-mpi/v4.0/openmpi-4.0.1.tar.gz openmpi-4.0.1.tar.gz

[DEPENDENCY]
set -e
#set -x
module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule



[ENV]
module purge
module use $JARVIS_MODULES/modules
module load cmake/3.28.2
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule

[APP]
app_name = geant4
app_version = 10.6.1
compiler = gcc
build_dir = ${JARVIS_APP}/geant4/10.6.1-kgcc12.3.1/project
binary_dir =
mod_exc_dir = share/Geant4-10.6.1
case_dir = ${JARVIS_JOBSCRIPT}/geant4/10.6.1-kgcc12.3.1

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
LOG_FILE=tee_install_$(date +%Y%m%d%H%M%S).xlog
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/geant4/10.6.1-kgcc12.3.1
PRJ_URL_GEANT4=${BUILD_DIR}/geant4-v10.6.1

####### build start
set +x && echo_info "build start" && set -x
set +x && build_mod_check "${BUILD_DIR}/geant4-v10.6.1/examples/extended/parallel/MPI/examples/exMPI01/build/exMPI01" "prompt" && set -x

DATA_DIR=geant4/DATA
DL_DIR=${JARVIS_DOWNLOAD}/${DATA_DIR}
mkdir -p ${DL_DIR}

if [ ! -f ${DL_DIR}/G4NDL.4.6.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4NDL.4.6.tar.gz -f geant4/DATA/G4NDL.4.6.tar.gz
fi

if [ ! -f ${DL_DIR}/G4EMLOW.7.9.1.tar.gz ]; then 
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4EMLOW.7.9.1.tar.gz -f ${DATA_DIR}/G4EMLOW.7.9.1.tar.gz
fi

if [ ! -f ${DL_DIR}/G4PhotonEvaporation.5.5.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4PhotonEvaporation.5.5.tar.gz -f ${DATA_DIR}/G4PhotonEvaporation.5.5.tar.gz
fi

if [ ! -f ${DL_DIR}/G4RadioactiveDecay.5.4.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4RadioactiveDecay.5.4.tar.gz -f ${DATA_DIR}/G4RadioactiveDecay.5.4.tar.gz
fi

if [ ! -f ${DL_DIR}/G4PARTICLEXS.2.1.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4PARTICLEXS.2.1.tar.gz -f ${DATA_DIR}/G4PARTICLEXS.2.1.tar.gz
fi

if [ ! -f ${DL_DIR}/G4PII.1.3.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4PII.1.3.tar.gz -f ${DATA_DIR}/G4PII.1.3.tar.gz
fi

if [ ! -f ${DL_DIR}/G4RealSurface.2.1.1.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4RealSurface.2.1.1.tar.gz -f ${DATA_DIR}/G4RealSurface.2.1.1.tar.gz
fi

if [ ! -f ${DL_DIR}/G4SAIDDATA.2.0.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4SAIDDATA.2.0.tar.gz -f ${DATA_DIR}/G4SAIDDATA.2.0.tar.gz
fi

if [ ! -f ${DL_DIR}/G4ABLA.3.1.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4ABLA.3.1.tar.gz -f ${DATA_DIR}/G4ABLA.3.1.tar.gz
fi

if [ ! -f ${DL_DIR}/G4INCL.1.0.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4INCL.1.0.tar.gz -f ${DATA_DIR}/G4INCL.1.0.tar.gz
fi

if [ ! -f ${DL_DIR}/G4ENSDFSTATE.2.2.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://cern.ch/geant4-data/datasets/G4ENSDFSTATE.2.2.tar.gz -f ${DATA_DIR}/G4ENSDFSTATE.2.2.tar.gz 
fi

if [ ! -f ${JARVIS_DOWNLOAD}/geant4/geant4-v10.6.1.tar.gz ]; then
${DOWNLOAD_TOOL} -u https://gitlab.cern.ch/geant4/geant4/-/archive/v10.6.1/geant4-v10.6.1.tar.gz -f geant4/geant4-v10.6.1.tar.gz
fi
mkdir -p DATA
cp ${JARVIS_DOWNLOAD}/${DATA_DIR}/*.tar.gz ./DATA/ -ar
cd ./DATA
[ -d G4SAIDDATA2.0 ] || tar -zxvf G4SAIDDATA.2.0.tar.gz || { rm -rf G4SAIDDATA2.0; exit 1; }
[ -d G4EMLOW7.9.1 ] || tar -zxvf G4EMLOW.7.9.1.tar.gz || { rm -rf G4EMLOW7.9.1; exit 1; }
[ -d PhotonEvaporation5.5 ] || tar -zxvf G4PhotonEvaporation.5.5.tar.gz || { rm -rf PhotonEvaporation5.5; exit 1;}
[ -d G4INCL1.0 ] || tar -zxvf G4INCL.1.0.tar.gz || rm -rf G4INCL1.0
[ -d G4PARTICLEXS2.1 ] || tar -zxvf G4PARTICLEXS.2.1.tar.gz || { rm -rf G4PARTICLEXS2.1; exit 1; }
[ -d G4PII1.3 ] || tar -zxvf G4PII.1.3.tar.gz || { rm -rf G4PII1.3; exit 1; }
[ -d RadioactiveDecay5.4 ] || tar -zxvf G4RadioactiveDecay.5.4.tar.gz || { rm -rf RadioactiveDecay5.4; exit 1;}
[ -d RealSurface2.1.1 ] || tar -zxvf G4RealSurface.2.1.1.tar.gz || { rm -rf RealSurface2.1.1; exit 1;}
[ -d G4ABLA3.1 ] || tar -zxvf G4ABLA.3.1.tar.gz || { rm -rf G4ABLA3.1; exit 1;}
[ -d G4NDL4.6 ] || tar -zxvf G4NDL.4.6.tar.gz || { rm -rf G4NDL4.6; exit 1;}
[ -d G4ENSDFSTATE2.2 ] || tar -zxvf G4ENSDFSTATE.2.2.tar.gz || { rm -rf G4ENSDFSTATE2.2; exit 1;}
[ -d G4TENDL1.3.2 ] || tar -zxvf G4TENDL.1.3.2.tar.gz || { rm -rf G4TENDL1.3.2; exit 1;}


### DEBUG
if true; then

if [ ! -f ${PATH_INSTALL}/openmpi/4.0.1/bin/opal_wrapper ]; then
tar -zxf ${JARVIS_DOWNLOAD}/openmpi-4.0.1.tar.gz
cd openmpi-4.0.1
./configure --prefix=${PATH_INSTALL}/openmpi/4.0.1 --enable-pretty-print-stacktrace --enable-orterun-prefix-by-default --enable-mpi-cxx --enable-mpi1-compatibility CC=gcc CXX=g++ FC=gfortran
make -j 16 2>&1 | tee ${BUILD_DIR}/tee_make_openmpi_j.xlog
make  install | tee ${BUILD_DIR}/tee_make_openmpi_install.xlog
fi

export PATH=${PATH_INSTALL}/openmpi/4.0.1/bin:$PATH
export LD_LIBRARY_PATH=${PATH_INSTALL}/openmpi/4.0.1/lib:$LD_LIBRARY_PATH
mpirun --version
cd ${BUILD_DIR}

cat > ./DATA/data_source << EOF
export G4SAIDXSDATA=${BUILD_DIR}/DATA/G4SAIDDATA2.0
export G4LEDATA=${BUILD_DIR}/DATA/G4EMLOW7.9.1
export G4LEVELGAMMADATA=${BUILD_DIR}/DATA/PhotonEvaporation5.5
export G4INCLDATA=${BUILD_DIR}/DATA/G4INCL1.0
export G4PARTICLEXSDATA=${BUILD_DIR}/DATA/G4PARTICLEXS2.1
export G4PIIDATA=${BUILD_DIR}/DATA/G4PII1.3
export G4RADIOACTIVEDATA=${BUILD_DIR}/DATA/RadioactiveDecay5.4
export G4REALSURFACEDATA=${BUILD_DIR}/DATA/RealSurface2.1.1
export G4ABLADATA=${BUILD_DIR}/DATA/G4ABLA3.1
export G4NEUTRONHPDATA=${BUILD_DIR}/DATA/G4NDL4.6
export G4ENSDFSTATEDATA=${BUILD_DIR}/DATA/G4ENSDFSTATE2.2
export G4TENDLDATA=${BUILD_DIR}/DATA/G4TENDL1.3.2
EOF
chmod 755 ./DATA/data_source

source ./DATA/data_source

if [ ! -d geant4-v10.6.1 ]; then
cp ${JARVIS_DOWNLOAD}/geant4/geant4-v10.6.1.tar.gz ./ -ar
tar -zxf geant4-v10.6.1.tar.gz
fi

rm -rf geant4-v10.6.1/build
mkdir geant4-v10.6.1/build -p
##################################################################
cd geant4-v10.6.1/build 
CC=mpicc CXX=mpicxx CFLAGS='-O3 -finline-functions -march=armv8.2-a -flto' cmake -DCMAKE_INSTALL_PREFIX=${PATH_INSTALL} -DGEANT4_USE_OPENGL_X11=ON -DGEANT4_BUILD_MULTITHREADED=ON ../
# VERBOSE=1
make  -j96 2>&1 | tee ${BUILD_DIR}/tee_geant4_make.xlog
make install 2>&1 |  tee ${BUILD_DIR}/tee_geant4_make_install.xlog

####################################################################
cd ${BUILD_DIR}/geant4-v10.6.1/examples/extended/parallel/MPI/source
rm -rf build
mkdir -p build
cd build
CC=mpicc CXX=mpicxx CFLAGS='-O3 -finline-functions -march=armv8.2-a -flto'  cmake -DCMAKE_INSTALL_PREFIX=${PATH_INSTALL}/lib64  ../
# VERBOSE=1
make  -j96 2>&1 | tee ${BUILD_DIR}/tee_geant4_mpi_make.xlog
make install | tee ${BUILD_DIR}/tee_geant4_mpi_make_install.xlog

################################################################
CASE_DIR=${BUILD_DIR}/geant4-v10.6.1/examples/extended/parallel/MPI/examples/exMPI01
cd ${BUILD_DIR}/geant4-v10.6.1/examples/extended/parallel/MPI/examples
if [ ! -d exMPI01_bak ]; then
cp -r exMPI01 exMPI01_bak -ar
fi

cd exMPI01
rm -rf build
mkdir build -p
cd build
CC=mpicc CXX=mpicxx CFLAGS='-O3 -finline-functions -march=armv8.2-a -flto' cmake -DCMAKE_INSTALL_PREFIX=${BUILD_DIR}/geant4-v10.6.1/examples/extended/parallel/MPI/examples/exMPI01-test -DGeant4_DIR=${PATH_INSTALL}/lib64/Geant4-10.6.1 -DG4mpi_DIR=${PATH_INSTALL}/lib64/lib64/G4mpi-10.6.1 ../
# VERBOSE=1
make -j16 2>&1 | tee ${BUILD_DIR}/tee_exMPI01_make.xlog
fi

####### build done
set +x && echo_info "build done!!!" && set -x

CASE_DIR=${BUILD_DIR}/geant4-v10.6.1/examples/extended/parallel/MPI/examples/exMPI01
cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
setenv PRJ_URL_GEANT4 		${PRJ_URL_GEANT4}
setenv G4SAIDXSDATA 		${BUILD_DIR}/DATA/G4SAIDDATA2.0
setenv G4LEDATA 		${BUILD_DIR}/DATA/G4EMLOW7.9.1
setenv G4LEVELGAMMADATA 	${BUILD_DIR}/DATA/PhotonEvaporation5.5
setenv G4INCLDATA 		${BUILD_DIR}/DATA/G4INCL1.0
setenv G4PARTICLEXSDATA 	${BUILD_DIR}/DATA/G4PARTICLEXS2.1
setenv G4PIIDATA 		${BUILD_DIR}/DATA/G4PII1.3
setenv G4RADIOACTIVEDATA 	${BUILD_DIR}/DATA/RadioactiveDecay5.4
setenv G4REALSURFACEDATA 	${BUILD_DIR}/DATA/RealSurface2.1.1
setenv G4ABLADATA 		${BUILD_DIR}/DATA/G4ABLA3.1
setenv G4NEUTRONHPDATA 		${BUILD_DIR}/DATA/G4NDL4.6
setenv G4ENSDFSTATEDATA		${BUILD_DIR}/DATA/G4ENSDFSTATE2.2
setenv G4TENDLDATA		${BUILD_DIR}/DATA/G4TENDL1.3.2
EOF

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load geant4/10.6.1-kgcc12.3.1" >> ${JOBDIR}/env.sh

cp ${CASE_DIR} ${JOBDIR}/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_wrf
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o job_out_%J.log
#DSUB -e job_err_%J.log
#DSUB -T '2h'

export HOSTFILE=myhostfile
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cd exMPI01/build
{ mpirun --allow-run-as-root --hostfile $HOSTFILE -np 96 -x  G4SAIDXSDATA -x  G4LEDATA -x  G4LEVELGAMMADATA  -x  G4INCLDATA -x  G4PARTICLEXSDATA -x  G4PIIDATA -x  G4RADIOACTIVEDATA -x  G4REALSURFACEDATA -x  G4ABLADATA -x  G4NEUTRONHPDATA -x  G4ENSDFSTATEDATA -x  G4TENDLDATA -mca btl ^openib ./exMPI01 run.mac  ; } 2>&1 | tee tee_geant4.log
EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd exMPI01/build
{ mpirun --allow-run-as-root -np 96 -x  G4SAIDXSDATA -x  G4LEDATA -x  G4LEVELGAMMADATA  -x  G4INCLDATA -x  G4PARTICLEXSDATA -x  G4PIIDATA -x  G4RADIOACTIVEDATA -x  G4REALSURFACEDATA -x  G4ABLADATA -x  G4NEUTRONHPDATA -x  G4ENSDFSTATEDATA -x  G4TENDLDATA -mca btl ^openib ./exMPI01 run.mac  ; } 2>&1 | tee tee_geant4.log
EOF

cat > ${JOBDIR}/geant4-10.6.1-run.sh << EOF
#!/bin/bash
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/geant4-10.6.1-run.sh

set +x && echo_info "Install done!!!" && set -x

[CLEAN]
./clean -a

[RUN]
run = mpirun --allow-run-as-root -n 32 -x OMP_NUM_THREADS=1 -bind-to core ${WRF_DIR}/run/wrf.exe
binary = 
nodes = 1

