[SERVER]
11.11.11.11

[DOWNLOAD]
MOM6-examples/patch ${JARVIS_PROXY}/chen-shaoheng/MOM6-patch/releases/download/v25/MOM6-examples.patch #github代理请选择[4]或[6],可在${JARVIS_ROOT}目录下执>行sh proxy.sh进行选择

[DEPENDENCY]
source /root/.bashrc
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install hdf5/1.12.0/clang  clang+mpi
./jarvis -install pnetcdf/1.12.3  clang+mpi
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0 pnetcdf/1.12.3
./jarvis -install netcdf/4.8.1/clang clang+mpi
module load netcdf-clang/4.8.1
\cp ${JARVIS_DOWNLOAD}/MOM6-examples.patch $JARVIS_ROOT/templates/MOM/6

[ENV]
export CC=mpicc CXX=mpicxx FC=mpifort
export PATH=/hpcrunner/MOM6-examples/build/bs/ocean_only/repro:$PATH
export CC=mpicc CXX=mpicxx FC=mpifort
export CFLAGS="-Wno-implicit-function-declaration -Wno-implicit-int"
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
export CC=mpicc CXX=mpicxx FC=mpifort
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0 pnetcdf/1.12.3
module load netcdf-clang/4.8.1
export HMPI_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/hmpi/bisheng/release/hmpi
export PKG_CONFIG_PATH=${HMPI_PATH}/lib/pkgconfig

[APP]
app_name = MOM6
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir =

[BUILD]
cd $JARVIS_ROOT
rm -rf MOM6-examples
git clone ${JARVIS_PROXY}/NOAA-GFDL/MOM6-examples.git MOM6-examples
git clone --recursive ${JARVIS_PROXY}/NOAA-GFDL/MOM6-examples.git MOM6-examples
#main
cd MOM6-examples
git reset --hard 5abb55d09
#submodule
sed -i "s/https\:\/\/github.com/${JARVIS_PROXY////\\/}/g" .git/config
sed -i "s/https\:\/\/github.com/${JARVIS_PROXY////\\/}/g" .gitmodules
git submodule init
git submodule update --recursive
git submodule update src/FMS
sed -i "s/https\:\/\/github.com/${JARVIS_PROXY////\\/}/g"  .git/modules/src/MOM6/config
sed -i "s/https\:\/\/github.com/${JARVIS_PROXY////\\/}/g"  src/MOM6/.gitmodules
git submodule update --init --recursive src/MOM6
git submodule update src/SIS2
git submodule update tools/matlab/gtools
git submodule update tools/python/MIDAS
cd src/MOM6
git submodule init
git submodule update

#submodule reset hard
cd $JARVIS_ROOT/MOM6-examples/src/MOM6
git reset --hard 39ab7d508
cd $JARVIS_ROOT/MOM6-examples/src/SIS2
git reset --hard 4cbe47c2e
cd $JARVIS_ROOT/MOM6-examples/tools/matlab/gtools
git reset --hard 370b1de16
cd $JARVIS_ROOT/MOM6-examples/tools/python/MIDAS
git reset --hard 446ea813e
cd $JARVIS_ROOT/MOM6-examples/src/icebergs
git reset --hard 8a346e418
cd $JARVIS_ROOT/MOM6-examples/src/coupler
git reset --hard 14578f09a
cd $JARVIS_ROOT/MOM6-examples/src/atmos_null
git reset --hard aeac506b9
cd $JARVIS_ROOT/MOM6-examples/src/land_null
git reset --hard 49b089ea8
cd $JARVIS_ROOT/MOM6-examples/src/mkmf
git reset --hard c87e743a5
cd $JARVIS_ROOT/MOM6-examples/tools/analysis/mpl-cmocean
git reset --hard 8196cfd25
cd $JARVIS_ROOT/MOM6-examples/src/ice_param
git reset --hard ddedca7d7
cd $JARVIS_ROOT/MOM6-examples/src/FMS1
git reset --hard f61416fef
cd $JARVIS_ROOT/MOM6-examples/src/FMS2
git reset --hard 0721d5969
cd $JARVIS_ROOT/MOM6-examples/tools/MRS/
git reset --hard 5abb55d09

cd $JARVIS_ROOT/MOM6-examples
patch -p1 < $JARVIS_ROOT/templates/MOM/6/MOM6-examples.patch

cd src/mkmf/templates/
cp linux-gnu.mk linux-bs.mk
sed -i '8c\ FC = mpifort' linux-bs.mk
sed -i '9c\ CC = mpicc' linux-bs.mk
sed -i '10c\ CXX = mpicxx' linux-bs.mk
sed -i '11c\ LD = mpifort \$\(MAIN\_PROGRAM\)' linux-bs.mk
sed -ri 's/mpich2/hmpi/g' linux-bs.mk
sed -i '95c\ FFLAGS :=  -I${HMPI_PATH}/include -ffree-form  -fdefault-double-8 -fdefault-real-8 -ffree-line-length-none  -fuse-ld=ld -Wl,--copy-dt-needed-entries -mcpu=linxicore9100  -mllvm -force-customized-pipeline=true' linux-bs.mk
sed -i '99c\ FFLAGS_REPRO = -O2' linux-bs.mk
sed -i '112c\ CPPFLAGS += ${HMPI_PATH}/include'  linux-bs.mk

cd $JARVIS_ROOT/MOM6-examples
mkdir -p build/bs/shared/repro/ && cd build/bs/shared/repro/
../../../../src/mkmf/bin/list_paths -l ../../../../src/FMS
../../../../src/mkmf/bin/mkmf -t ../../../../src/mkmf/templates/linux-bs.mk -p libfms.a -c "-Duse_libMPI -Duse_netCDF -DSPMD" path_names
make NETCDF=3 REPRO=1 libfms.a -j

cd $JARVIS_ROOT/MOM6-examples
mkdir -p build/bs/ocean_only/repro/  && cd build/bs/ocean_only/repro/
../../../../src/mkmf/bin/list_paths -l ./ ../../../../src/MOM6/{config_src/infra/FMS1,config_src/memory/dynamic_symmetric,config_src/drivers/solo_driver,config_src/external,src/{*,*/*}}/
../../../../src/mkmf/bin/mkmf -t ../../../../src/mkmf/templates/linux-bs.mk -o '-I../../shared/repro' -p 'MOM6 -L../../shared/repro -lfms' -c "-Duse_libMPI -Duse_netCDF -DSPMD" path_names
make NETCDF=3 REPRO=1 MOM6 -j



[RUN]
run =
binary =
nodes = 1


