[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
source /root/.bashrc
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install hdf5/1.12.0/clang  clang+mpi
./jarvis -install pnetcdf/1.12.3  clang+mpi
module use /hpcrunner/software/moduledeps/
module load  bisheng4.0.0-hmpi2.4.1/hdf5-clang/1.12.0
module load bisheng4.0.0-hmpi2.4.1/pnetcdf/1.12.3
./jarvis -install netcdf/4.8.1/clang clang+mpi
module load bisheng4.0.0-hmpi2.4.1/netcdf-clang/4.8.1


[ENV]
export CC=mpicc CXX=mpicxx FC=mpifort
export PATH=/hpcrunner/MOM6-examples/build/bs/ocean_only/repro:$PATH
export CC=mpicc CXX=mpicxx FC=mpifort
export CFLAGS="-Wno-implicit-function-declaration -Wno-implicit-int"
module use /hpcrunner/software/moduledeps/
module load  bisheng4.0.0-hmpi2.4.1/hdf5-clang/1.12.0
module load bisheng4.0.0-hmpi2.4.1/pnetcdf/1.12.3
module load bisheng4.0.0-hmpi2.4.1/netcdf-clang/4.8.1


[APP]
app_name = siesta
build_dir = ${JARVIS_ROOT}
binary_dir = /hpcrunner/siesta/
case_dir =

[BUILD]
cd /hpcrunner
git clone https://github.com/NOAA-GFDL/MOM6-examples.git MOM6-examples
cd MOM6-examples
git submodule init
git submodule update --recursive
git submodule update src/FMS
git submodule update --init --recursive src/MOM6
git submodule update src/SIS2
git submodule update tools/matlab/gtools
git submodule update tools/python/MIDAS
cd src/MOM6
git submodule init
git submodule update
cd /hpcrunner/MOM6-examples

sed -i '31c\pid_t gettid(void)' src/FMS/affinity/affinity.c

cd src/mkmf/templates/
cp linux-gnu.mk linux-bs.mk
export HMPI_PATH=/hpcrunner/HPCKit/24.6.30/hmpi/bisheng/hmpi/
sed -i '8c\ FC = mpifort' linux-bs.mk
sed -i '9c\ CC = mpicc' linux-bs.mk
sed -i '10c\ CXX = mpicxx' linux-bs.mk
sed -i '11c\ LD = mpifort \$\(MAIN\_PROGRAM\)' linux-bs.mk
sed -ri 's/mpich2/hmpi/g' linux-bs.mk
sed -i '95c\ FFLAGS :=  -I${HMPI_PATH}/include -ffree-form  -fdefault-double-8 -fdefault-real-8 -ffree-line-length-none  -fuse-ld=ld -Wl,--copy-dt-needed-entries ' linux-bs.mk
sed -i '99c\ FFLAGS_REPRO = -O2' linux-bs.mk
sed -i '112c\ CPPFLAGS += ${HMPI_PATH}/include'  linux-bs.mk

cd /hpcrunner/MOM6-examples
mkdir -p build/bs/shared/repro/ && cd build/bs/shared/repro/
../../../../src/mkmf/bin/list_paths -l ../../../../src/FMS
../../../../src/mkmf/bin/mkmf -t ../../../../src/mkmf/templates/linux-bs.mk -p libfms.a -c "-Duse_libMPI -Duse_netCDF -DSPMD" path_names
make NETCDF=3 REPRO=1 libfms.a -j

cd /hpcrunner/MOM6-examples
mkdir -p build/bs/ocean_only/repro/  && cd build/bs/ocean_only/repro/
../../../../src/mkmf/bin/list_paths -l ./ ../../../../src/MOM6/{config_src/infra/FMS1,config_src/memory/dynamic_symmetric,config_src/drivers/solo_driver,config_src/external,src/{*,*/*}}/
../../../../src/mkmf/bin/mkmf -t ../../../../src/mkmf/templates/linux-bs.mk -o '-I../../shared/repro' -p 'MOM6 -L../../shared/repro -lfms' -c "-Duse_libMPI -Duse_netCDF -DSPMD" path_names
make NETCDF=3 REPRO=1 MOM6 -j



[RUN]
run =
binary =
nodes = 1

