[SERVER]
11.11.11.11

[DOWNLOAD]
SPECFEM3D_GLOBE/7.0.0 https://github.com/geodynamics/specfem3d_globe/archive/v7.0.0.tar.gz specfem3d_globe-7.0.0.tar.gz

[DEPENDENCY]
module purge
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/2.1.0
module load hmpi/1.1.1
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = SPECFEM3D_GLOBE
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/bisheng/SPECFEM3D_GLOBE/7.0.0
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/specfem3d_globe-7.0.0.tar.gz
cd specfem3d_globe-7.0.0
sed -i '23c\NPROC_XI                        = 8'  DATA/Par_file
sed -i '24c\NPROC_ETA                         = 8'  DATA/Par_file
./configure --enable-openmp FC=mpif90 MPIFC=mpif90 CC=mpicc MPICC=mpicc
make -j

[RUN]
run =
binary =
node = 1

