[SERVER]
11.11.11.11

[DOWNLOAD]
specfem3d_globe/7.0.0 https://github.com/geodynamics/specfem3d_globe/archive/v7.0.0.tar.gz specfem3d_globe-7.0.0.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
tar -xzvf ${JARVIS_DOWNLOAD}/specfem3d_globe-7.0.0.tar.gz

[ENV]
module purge
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`


[APP]
app_name = QE
build_dir = ${JARVIS_ROOT}/specfem3d_globe-7.0.0/
binary_dir = 
case_dir = ${JARVIS_ROOT}/specfem3d_globe-7.0.0/

[BUILD]
./configure FC=mpif90 CC=mpicc CXX=mpicxx
sed -i '23s/NPROC_XI = 2/NPROC_XI = 8/' Par_file
sed -i '24s/NPROC_ETA = 2/NPROC_ETA = 8/' Par_file
make

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -np 4 --mca btl ^openib ${JARVIS_ROOT}/specfem3d_globe-7.0.0/bin/xmeshfem3D && mpirun --allow-run-as-root -np 4 --mca btl ^openib ${JARVIS_ROOT}/specfem3d_globe-7.0.0/bin/xspecfem3D && cat OUTPUT_FILES/output_solver.txt
binary =
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
