
[SERVER]
11.11.11.11

[DOWNLOAD]
lmod/8.7.15 https://github.com/TACC/Lmod/archive/refs/tags/8.7.15.tar.gz 8.7.15.tar.gz

[DEPENDENCY]
set -e
set -x
yum install lua-* tcl-devel make cmake -y
module purge
./jarvis -install hpckit/2024.12.30 any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule 
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
tar -xvf ${JARVIS_DOWNLOAD}/8.7.15.tar.gz
mkdir -p Lmod

[ENV]
module purge
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[APP]
app_name = lmod
build_dir = ${JARVIS_ROOT}/Lmod-8.7.15/
binary_dir = 
case_dir = ${JARVIS_ROOT}/Lmod/ 

[BUILD]
./configure -prefix=${JARVIS_ROOT}/Lmod
make install

[CLEAN]
make clean

[RUN]
run = chmod 775 -R ${JARVIS_ROOT}/Lmod && source ./lmod/8.7.15/init/bash && module -v && module list
binary = pw.x -input test_3.in
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all
