[SERVER]
11.11.11.11

[DOWNLOAD]
mfem/4.4 https://github.com/mfem/mfem/archive/refs/tags/v4.4.tar.gz mfem-4.4.tar.gz

[DEPENDENCY]
set -e
#set -x
module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0.2/bishengmodule

export CC=clang CXX=clang++ FC=flang
./jarvis -install metis/5.1.0p1 bisheng
module load metis/5.1.0p1-%#MYKBSVER#%

module load bisheng/%#MYKMPIVER#%/release
./jarvis -install hypre/2.27.0 bisheng+mpi
module load hypre/2.27.0-%#MYKBSVER#%-%#MYKMPIVER#% 

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load cmake/3.28.2
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load metis/5.1.0p1-%#MYKBSVER#%
module load hypre/2.27.0-%#MYKBSVER#%-%#MYKMPIVER#%

[APP]
app_name = mfem
app_version = 4.4
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/mfem/4.4-%#MYKBSVER#%-%#MYKMPIVER#%/project
binary_dir =
mod_exc_dir = 
case_dir = ${JARVIS_JOBSCRIPT}/mfem/4.4

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

set +x && build_mod_check "${BUILD_DIR}/mfem-4.4/libmfem.a" "prompt" && set -x
rm -rf mfem-4.4
tar -zxvf ${JARVIS_DOWNLOAD}/mfem-4.4.tar.gz

####### build start
set +x && echo_info "build start" && set -x
cd mfem-4.4
echo "patch..."
echo "METIS_PATH:$METIS_PATH"

sed -n "s|^INCFLAGS =|INCFLAGS = -I${HYPRE_PATH}/include -I${METIS_PATH}/include  |p" ./makefile
sed -i "s|^INCFLAGS =|INCFLAGS = -I${HYPRE_PATH}/include -I${METIS_PATH}/include |" ./makefile
sed -n "s|^ALL_LIBS =|ALL_LIBS =  -L${HYPRE_PATH}/lib -L${METIS_PATH}/lib |p" ./makefile
sed -i "s|^ALL_LIBS =|ALL_LIBS =  -L${HYPRE_PATH}/lib -L${METIS_PATH}/lib |" ./makefile
sed -i "s|static constexpr std::size_t sigStackSize = 32768 >= MINSIGSTKSZ ? 32768 : MINSIGSTKSZ;|static constexpr std::size_t sigStackSize = 32768;|g" ./tests/unit/catch.hpp

sed -i "s/-march=native/''/g" ./miniapps/performance/makefile

sed -i "s|^CXX = .*|CXX = clang++ |g"  ./config/defaults.mk
sed -i "s|^MPICXX = .*|MPICXX = mpicxx |g"  ./config/defaults.mk
sed -i "s|^MFEM_USE_MPI           = .*|MFEM_USE_MPI           = YES |g"  ./config/defaults.mk
sed -i "s|^MFEM_USE_METIS_5       = .*|MFEM_USE_METIS_5       = YES |g"  ./config/defaults.mk
sed -i "s|^MFEM_MPIEXEC    = mpirun.*|MFEM_MPIEXEC    = mpirun -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp --allow-run-as-root |"  ./config/defaults.mk

export  CPLUS_INCLUDE_PATH=${HYPRE_PATH}/include
make parallel -j 2>&1 | tee tee_make_parallel.xlog
make install PREFIX=${PATH_INSTALL}

JOBDIR=${JARVIS_JOBSCRIPT}/mfem/4.4


cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
EOF

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/mfem/4.4
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load mfem/4.4-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOBDIR}/env.sh

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_mfem
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=256"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.mfem
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
{ time  -p mpirun  --hostfile $HOSTFILE -np 256 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores
 -x OMP_NUM_THREADS=1 -x UCX_TLS=sm sleep 1 ; } 2>&1 | tee tee_mfem.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
set -x
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
CUR_DIR=\$(pwd)
cd ${BUILD_DIR}/mfem-4.4
make VERBOSE=1 test -j36 2>&1 | tee \${CUR_DIR}/tee_make_test.xlog
cd \${CUR_DIR}
echo "Summary:"
cat tee_make_test.xlog  | grep -o -E "OK  \(.*\)" | awk 'BEGIN { total = 0; min = 9999999.9; max = 0; } {match(\$0,/\((.*)s/,ar);total = total + ar[1]; if ( ar[1] > max ) max = ar[1]; fi; if ( ar[1] < min) min = ar[1]; fi; } END {printf "COUNT:%d, MAX:%f(s),AVG:%f(s),MIN:%f(s)\n", NR ,max, total / NR,min }' 
echo ""
EOF

cat > ${JOBDIR}/mfem-4.4-run.sh << EOF
#!/bin/bash
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/mfem-4.4-run.sh

set +x && echo_info "Install done!!!" && set -x

[CLEAN]
./clean -a

[RUN]
run = mpirun --allow-run-as-root -n 32 -x OMP_NUM_THREADS=1 -bind-to core ${WRF_DIR}/run/wrf.exe
binary = 
nodes = 1

