[SERVER]
11.11.11.11

[DOWNLOAD]
lapack/3.8.0 http://www.netlib.org/lapack/lapack-3.8.0.tar.gz lapack-3.8.0.tgz
bisheng/2.1.0 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_compiler/bisheng-compiler-2.1.0-aarch64-linux.tar.gz

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0

[ENV]
module use ./software/modulefiles
module purge
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = lacack
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =

[BUILD]
./jarvis -install lapack/3.8.0/bisheng clang

[RUN]
run =
binary =
node = 1 
