[SERVER]
11.11.11.11

[DOWNLOAD]


[DEPENDENCY]
module purge
module use $JARVIS_MODULES/modules
./jarvis -install go/1.18 com
module load go/1.18

./jarvis -install singularity/3.9.9 any
module load singularity/3.9.9



[ENV]
module purge
module use $JARVIS_MODULES/modules
module load go/1.18
module load singularity/3.9.9


[APP]
fake = 1
app_name = devsingularity
app_version = 3.9.9
compiler = gcc
build_dir = ${JARVIS_DEV}/devsingularity/3.9.9-gcc10.3.1
binary_dir =  
case_dir = ${JARVIS_JOBSCRIPT}/singularity/3.9.9

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x


#### install jobsript for case test
echo "Install start"
JOBDIR=${JARVIS_JOBSCRIPT}/singularity/3.9.9
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh

echo "Appending module load to env.sh..."
#echo "module load xxx" >> ${JOBDIR}/env.sh


cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_cmake
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o job_out_%J.log
#DSUB -e job_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cmake
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
singularity
EOF

cat > ${JOBDIR}/singularity-3.9.9-run.sh << EOF
#!/bin/bash
source ./env.sh
./local_run.sh 2>&1 | tee tee_localrun.xlog
#dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/singularity-3.9.9-run.sh

set +x && echo_info "Install done!!!" && set -x

[CLEAN]

[RUN]
run =   
binary = $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="cdo-proformance.log"

>"$LOG_FILE"

$RUN_TOOL "cdo" "mpirun --allow-run-as-root -np 64 cdo XXXX" $LOG_FILE
#mpirun --allow-run-as-root -np 64 cdo XXXXX

echo "All commands executed. Performance log saved to $LOG_FILE"

[JOB]
#!/bin/sh
#DSUB -n cdo_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo cdo.%J.out
#DSUB -oe cdo.%J.err

LOG_FILE="cdo-proformance.log"

>"$LOG_FILE"

$RUN_TOOL "cdo" "mpirun --allow-run-as-root -np 64 cdo XXXX" $LOG_FILE

echo "ALL commands executed. Performance log saved to $LOG_FILE"

