[SERVER]
11.11.11.11

[DOWNLOAD]
amg/1.2 https://github.com/LLNL/AMG/archive/refs/tags/1.2.zip 1.2.zip


[DEPENDENCY]
set -e
set -x
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}/release

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}/release
export PATH=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/amg/1.2/bin:$PATH

[APP]
app_name = amg
build_dir = ${JARVIS_ROOT}/tmp
binary_dir =
case_dir =

[BUILD]
rm -rf AMG-1.2
unzip ${JARVIS_DOWNLOAD}/1.2.zip
cd AMG-1.2
sed -i "46c INCLUDE_CFLAGS = -O2 -Wno-implicit-function-declaration -Wno-implicit-int -DTIMER_USE_MPI -DHYPRE_USING_OPENMP -fopenmp -DHYPRE_HOPSCOTCH -DHYPRE_USING_PERSISTENT_COMM -DHYPRE_BIGINT" Makefile.include
make -j

mkdir ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/amg/1.2/bin -p
cp ./test/* ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/amg/1.2/bin

mkdir ${JARVIS_MODULEDEPS}/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/amg -p
cat > ${JARVIS_MODULEDEPS}/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/amg/1.2 << EOF
#%Module1.0
set prefix ${JARVIS_ROOT}/software/libs/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/amg/1.2
set version 1.2
setenv AMG_PATH \$prefix
prepend-path PATH \$prefix/bin
EOF

[RUN]
run = amg  --version
binary =
nodes = 1

