[SERVER]
11.11.11.11

[DOWNLOAD]
amg/1.2 https://github.com/LLNL/AMG/archive/refs/tags/1.2.zip 1.2.zip


[DEPENDENCY]
export CC=mpicc CXX=mpicxx FC=mpifort


[ENV]
export CC=mpicc CXX=mpicxx FC=mpifort
module use /hpcrunner/software/moduledeps/bisheng3.2.0-hmpi2.4.0
module add amg/1.2


[APP]
app_name = amg
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/software/libs/bisheng3.2.0/hmpi2.4.0/amg/1.2/bin
case_dir =

[BUILD]
ls ${JARVIS_DOWNLOAD}/
unzip ${JARVIS_DOWNLOAD}/1.2.zip
cd AMG-1.2
sed -i "46c INCLUDE_CFLAGS = -O2 -DTIMER_USE_MPI -DHYPRE_USING_OPENMP -fopenmp -DHYPRE_HOPSCOTCH -DHYPRE_USING_PERSISTENT_COMM -DHYPRE_BIGINT -mcpu=linxicore9100  -mllvm -force-customized-pipeline=true" Makefile.include
make -j

mkdir /hpcrunner/software/libs/bisheng3.2.0/hmpi2.4.0/amg/1.2/bin -p
cp ./test/* /hpcrunner/software/libs/bisheng3.2.0/hmpi2.4.0/amg/1.2/bin
 
mkdir /hpcrunner/software/moduledeps/bisheng3.2.0-hmpi2.4.0/amg -p
cat >> /hpcrunner/software/moduledeps/bisheng3.2.0-hmpi2.4.0/amg/1.2 << EOF
#%Module1.0
set prefix /hpcrunner/software/libs/bisheng3.2.0/hmpi2.4.0/amg/1.2
set version 1.2
setenv AMG_PATH \$prefix
prepend-path PATH \$prefix/bin
EOF



[RUN]
run =  
binary =
nodes = 1
