[SERVER]
11.11.11.11

[DOWNLOAD]
bisheng/2.1.0 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_compiler/bisheng-compiler-2.1.0-aarch64-linux.tar.gz
openjepg/2.4.0 https://github.com/uclouvain/openjpeg/archive/refs/tags/v2.4.0.tar.gz openjpeg-2.4.0.tar.gz

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang

[ENV]
module use ./software/modulefiles
module purge
module load bisheng2/2.1.0
export CC=clang CXX=clang FC=flang

[APP]
app_name = openjpeg
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =

[BUILD]
./jarvis -install openjpeg/2.4.0 bisheng

[RUN]
run =
binary =
node = 1
