[SERVER]
11.11.11.11

[DOWNLOAD]
jax/0.4.30 https://github.com/jax-ml/jax/archive/refs/tags/jax-v0.4.30.tar.gz jax-v0.4.30.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install anaconda3/2023.3 any

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load anaconda3/2023.3

[APP]
app_name = jax
app_version = 0.4.30
build_dir = ${JARVIS_DEV}/jax/2.5.1-conda2023.3
binary_dir =
mod_exc_dir = jax-jax-v0.4.30;conda_env/jax
case_dir = ${JARVIS_JOBSCRIPT}/jax/2.5.1/

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x

key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
JOBDIR=${JARVIS_JOBSCRIPT}/jax/2.5.1
JOBRUN_FILE=${JOBDIR}/jax-0.4.30-run.sh

build_mod_check "${JOBRUN_FILE}" "${bmod}"
mkdir -p ${PATH_INSTALL}

#### prepare
if [ ! -d ${PATH_INSTALL}/jax-jax-v0.4.30 ]; then
tar -xvf ${JARVIS_DOWNLOAD}/jax-v0.4.30.tar.gz -C ${PATH_INSTALL}/
fi
cd ${PATH_INSTALL}

### build
echo "build start"
echo "build done!!!"

### install
source $CONDA_SH
JAX_ENV=${PATH_INSTALL}/conda_env/jax
conda create --prefix=${JAX_ENV} python=3.9

set +x
conda activate ${JAX_ENV}
set -x
set +e
python3 -c "import jax;print(jax.__version__)"
res=$?
set -e
echo $(which pip)
if [ $res -ne 0 ]; then
pip install --cache-dir ${PATH_INSTALL}/$USER/.cache/pip/ ./jax-jax-v0.4.30 -i https://repo.huaweicloud.com/repository/pypi/simple/
pip install absl_py
fi
python3 -c "import jax;print(jax.__version__)"


#### install jobsript for case test
mkdir -p ${JOBDIR}
${JARVIS_DEV}/jax/2.5.1-conda2023.3/env.sh_gen.sh ${JOBDIR}/env.sh
echo "source \$CONDA_SH" >> ${JOBDIR}/env.sh


cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_jax
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cmake/
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

echo "activate conda env:${JAX_ENV}"
conda activate ${JAX_ENV}
ulimit -s unlimited
thread=8
export OMP_NUM_THREADS=8
start_cpu_id=0
cd examples
{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm python3 examples_test.py ; } 2>&1 | tee tee_jax.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
echo "activate conda env:${JAX_ENV}"
conda activate ${JAX_ENV}
thread=8
export OMP_NUM_THREADS=8
start_cpu_id=0
cd examples
{ time  -p python3 examples_test.py ; } 2>&1 | tee tee_jax.xlog

EOF

cat > ${JOBDIR}/jax-0.4.30-run.sh << EOF
#!/bin/bash
cp ${PATH_INSTALL}/jax-jax-v0.4.30/examples ./ -ar
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/jax-0.4.30-run.sh

echo "Install done!!!"

[CLEAN]
echo "make clean"

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1  bash -c " conda init bash"
binary = 
nodes = 1

[BATCH]
conda init bash
source ~/.bashrc
conda activate base

[JOB]
#!/bin/bash
#DSUB -n case_cmake
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o cmake_out_%J.log
#DSUB -e cmake_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cmake
rm -f $HOSTFILE
touch $HOSTFILE
cat ${CCSCHEDULER_ALLOC_FILE} | sort > $HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm conda activate base ; } 2>&1 | tee tee_Anaconda3.xlog
