[SERVER]
11.11.11.11

[DOWNLOAD]
pytorch/1.11.0 https://github.com/pytorch/pytorch/archive/refs/tags/v1.11.0.zip pytorch-1.11.0.zip

[DEPENDENCY]
if [ ! -d "./pytorch" ];then
    #git clone --depth 1 -b release/1.11 https://github.com/pytorch/pytorch.git
    git clone --depth 1 -b v1.11.0 https://github.com/pytorch/pytorch.git pytorch-1.11
    bc2c6edaf163b1a1330e37a6e34caf8c553e4755
    #unzip $JARVIS_DOWNLOAD/pytorch-1.11.0.zip
    cd pytorch
    git submodule sync
    git submodule update --init --recursive --jobs 0 2>&1 | tee git-submodule.log
fi
conda create --name pytorch1.11 python=3.8
conda install -y pyyaml typing_extensions numpy ccache 

[ENV]
if ! type conda >/dev/null 2>&1;then
  echo -e "conda command does not exist, please execute following commands:\n"
  echo "module use /home/share/apps/modulefiles/"
  echo "module load anaconda/2021.11"
  echo -e "source activate pytorch1.11\n"
  exit 1
fi
module use /home/share/apps/modulefiles/
module load compilers/cuda/11.3.0
module load compilers/gcc/9.3.1
module load cudnn/8.2.1_cuda11.3
module load libs/nccl/2.17.1-1_cuda11.3
export GIT_SSL_NO_VERIFY=1
export BUILD_SPLIT_CUDA=ON
export CAFFE2_STATIC_LINK_CUDA=ON
export ATEN_STATIC_CUDA=ON
export USE_STATIC_CUDNN=ON
export LD_LIBRARY_PATH=$CONDA_PREFIX/lib:$LD_LIBRARY_PATH

[APP]
app_name = Pytorch
build_dir = $JARVIS_ROOT/pytorch-1.11
binary_dir = $JARVIS_ROOT/pytorch-1.11
case_dir = $JARVIS_ROOT/

[BUILD]
set -e
set -x
python3 setup.py install 2>&1 | tee compile.log
python3 setup.py sdist bdist_wheel 2>&1| tee gen-whl.log

[CLEAN]
python3 setup.py clean

[RUN]
run = python3 -c "import torch; print(torch.__version__)"
binary =  
nodes = 1

[BATCH]
cd build/lib
echo "check cutlass from--- libtorch_cuda_cpp.so --- library"
strings libtorch_cuda_cpp.so | grep "cutlass"
echo "check cutlass from--- libtorch_cuda_cu.so --- library"
strings libtorch_cuda_cu.so | grep "cutlass"