[SERVER]
11.11.11.11

[DOWNLOAD]
NCO/5.1.4 https://sourceforge.net/projects/nco/files/nco-5.1.4.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install bisheng/2.3.0 com
module use ./software/modulefiles
module load bisheng/2.3.0
sed -i '9c ./configure --prefix=$1 CFLAGS="-fPIC"' package/libjpeg/v9b/install.sh 
./jarvis -install libjpeg/v9b bisheng
./jarvis -install hmpi/1.2.0 bisheng
module load libjpeg/v9b


module load hmpi/1.2.0
sed -i '5c hdf5_version="${hdf5_big_version}.0"' package/hdf5/1.12.0/clang/install.sh
CC=`which mpicc` ./jarvis -install hdf5/1.12.0 bisheng
module load hdf5/1.12.0
./jarvis -install hdf4/4.2.13/ bisheng
module load hdf4/4.2.13
sed -i '21c ./configure --prefix=$1 ${build_type} --enable-shared --enable-netcdf-4 --disable-dap --with-pic --disable-doxygen --enable-static --disable-pnetcdf --enable-largefile CPPFLAGS="-O3 -I${HMPI_PATH}/include -I${HDF5_DIR}/include -I${PNETCDF_DIR}/include" LDFLAGS="-L${HDF5_DIR}/lib -L${PNETCDF_DIR}/lib -Wl,-rpath=${HDF5_DIR}/lib -Wl,-rpath=${PNETCDF_DIR}/lib" CFLAGS="-O3 -L${HDF5_DIR}/lib -L${PNETCDF_DIR}/lib -I${HDF5_DIR}/include -I${PNETCDF_DIR}/include"' package/netcdf/4.7.4/install.sh
./jarvis -install netcdf/4.7.4 bisheng
module load netcdf/4.7.4
./jarvis -install gsl/2.6 bisheng
sed -i '14c --disable-python --build=arm-linux' package/antlr/2.7.7/install.sh
./jarvis -install antlr/2.7.7 bisheng
./jarvis -install udunits/2.2.28 bisheng


[ENV]
module purge
module use ./software/modulefiles

module load bisheng/2.3.0
module load hmpi/1.2.0
module load hdf5/1.12.0
module load hdf4/4.2.13
module load netcdf/4.7.4
module load gsl/2.6
module load antlr/2.7.7 
module load udunits/2.2.28

export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`





[APP]
app_name = NCO
build_dir = ${JARVIS_TMP}/nco-5.1.4
binary_dir = ${JARVIS_LIBS}/bisheng2.3.0/nco/bin
case_dir = ${JARVIS_LIBS}/bisheng2.3.0/nco/bin

[BUILD]
cd ${JARVIS_TMP}
rm -rf nco-5.1.4

tar zxvf ${JARVIS_DOWNLOAD}/nco-5.1.4.tar.gz
cd nco-5.1.4
echo ${UDUNITS_PATH}
export NETCDF_INC=${NETCDF_PATH}/include 
export NETCDF_LIB=${NETCDF_PATH}/lib 
./configure CPPFLAGS="-I${ANTLR_PATH}/include -I${UDUNITS_PATH}/include" CFLAGS="-L${ANTLR_PATH}/lib -I${NETCDF_PATH}/include -I${UDUNITS_PATH}/include -L${UDUNITS_PATH}/lib " --prefix=${JARVIS_LIBS}/bisheng2.3.0/nco
make
make install





[RUN]
run =  ./ncap2 -v
binary = 
nodes = 1

