[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule


[APP]
app_name = libpng
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir = ${JARVIS_TMP}/libpng-1.6.37

[BUILD]
./jarvis -install libpng/1.6.37 clang

[RUN]
run = exec ./pngtest --strict ./pngtest.png
binary =
nodes = 1

