[SERVER]
11.11.11.11

[DOWNLOAD]
tensorflow/2.13.0 https://github.com/tensorflow/tensorflow/archive/refs/tags/v2.13.0.tar.gz tensorflow-2.13.0.tar.gz
case1 https://raw.githubusercontent.com/yejianbang/tensorflow-case/refs/heads/main/tensorflow-case.py
case2 https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz

[DEPENDENCY]
set -e
set -x

module purge
./jarvis -install package/anaconda3/2023.3 any
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/bin/activate
./jarvis -install package/bazel/5.3.0 any
module use ${JARVIS_ROOT}/software/modulefiles
module load bazel/5.3.0
./jarvis -install package/hpckit/2025.3.30 any
module use ${JARVIS_ROOT}/software/utils/hpckit/2025.3.30/HPCKit/latest/modulefiles
module load gcc/compiler12.3.1/gccmodule
module load gcc/kml25.0.0/kblas/multi
module load gcc/kml25.0.0/kspblas/omp
module load gcc/kml25.0.0/kvml/omp
module load gcc/kml25.0.0/kml


[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/bin/activate
module use ${JARVIS_ROOT}/software/modulefiles
module use ${JARVIS_ROOT}/software/utils/hpckit/2025.3.30/HPCKit/latest/modulefiles
module load bazel/5.3.0
module load gcc/compiler12.3.1/gccmodule
module load gcc/kml25.0.0/kblas/multi
module load gcc/kml25.0.0/kspblas/omp
module load gcc/kml25.0.0/kvml/omp
module load gcc/kml25.0.0/kml

[APP]
fake = 0
app_name = tensorflow
app_version = 2.13.0
compiler = gcc
build_dir = ${JARVIS_APP}/tensorflow/2.13.0-%#MYKGCCVER#%/project
binary_dir = ${JARVIS_APP}/tensorflow/2.13.0-%#MYKGCCVER#%
case_dir = ${JARVIS_JOBSCRIPT}/tensorflow/12.3.1


[BUILD]
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

echo "CONDA_SH:${CONDA_SH}"
####### build prepare
set +x && echo_info "build prepare!!!" && set -x
if [ ! -f /usr/bin/patchelf ]; then
	set +x && echo_error "ERROR: yum install patchelf for file: /usr/bin/patchelf" && set -x
	exit 1
fi

if [ ! -f ${CONDA_SH} ]; then
	echo "Invalid conda env:${CONDA_SH}"
	exit 1
fi
TF_ENV=${PATH_INSTALL}/project/conda_env/tf_021300_py39
source ${CONDA_SH}
set +x && echo_info "TF work dir:${BUILD_DIR}/tensorflow-2.13.0" && set -x
set +x && build_mod_check "${PATH_INSTALL}/tensorflow-2.13.0-cp39-cp39-linux_aarch64.whl" "prompt" && set -x
conda create --prefix=${TF_ENV} python=3.9 -y
conda activate ${TF_ENV}
conda install python=3.11.0 -c conda-forge -y
pip install packaging requests numpy==1.24.3

pip install ${JARVIS_DOWNLOAD}/tensorflow-2.13.0/tensorflow-2.13.0-cp311-cp311-linux_aarch64.whl
set -e
####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/tensorflow/12.3.1
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load tensorflow/2.13.0-%#MYKGCCVER#%" >> ${JOBDIR}/env.sh

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_xla
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 600
#DSUB -R "cpu=600"
#DSUB -o xla_out_%J.log
#DSUB -e xla_err_%J.log
#DSUB -T '2h'

EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
ulimit -s unlimited

source \${CONDA_SH}
conda activate ${TF_ENV}

EOF

mkdir ${JOBDIR}/tensorflow/ -p
cp ${JARVIS_DOWNLOAD}/tensorflow-case.py ${JARVIS_DOWNLOAD}/mnist.npz ${JOBDIR}/tensorflow/ -ar

cat > ${JOBDIR}/tensorflow-2.13.0-run.sh << EOF
#!/bin/bash
source env.sh
mkdir ${JOBDIR}/local_work -p
cp ./tensorflow/tensorflow-case.py ./local_work/ -ar
cp ./tensorflow/mnist.npz ./local_work/ -ar 

source \${CONDA_SH}
conda activate ${TF_ENV}

#pip install ${install_path}/tensorflow-2.13.0-cp39-cp39-linux_aarch64.whl

mkdir local_work -p
cd local_work
sed -i "7s%16%30%" tensorflow-case.py
sed -i "32s%()%('${JOBDIR}/local_work/mnist.npz')%" tensorflow-case.py
sed -i "35s%128%256%" tensorflow-case.py
sed -i "36s%128%256%" tensorflow-case.py
numactl -C 0-31 -m 0 python tensorflow-case.py

EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/tensorflow-2.13.0-run.sh

set +x && echo_info "Install done!!!" && set -x


[CLEAN]
conda clean --all --yes

[RUN]
run = 
binary =
nodes = 1

[JOB]
mkdir -p ${JARVIS_ROOT}/cases
cd ${JARVIS_ROOT}/cases
cp ${JARVIS_DOWNLOAD}/tensorflow-case.py ${JARVIS_DOWNLOAD}/mnist.npz .
sed -i "7s%16%30%" tensorflow-case.py
sed -i "32s%()%('${JARVIS_ROOT}/cases/mnist.npz')%" tensorflow-case.py
sed -i "35s%128%256%" tensorflow-case.py
sed -i "36s%128%256%" tensorflow-case.py
numactl -C 0-31 -m 0 python tensorflow-case.py

[PERF]
perf= 
nsys=
ncu=--target-processes all

