[SERVER]
11.11.11.11

[DOWNLOAD]
bcc-agcm/4.0 http://forecast.bcccsm.ncc-cma.net/web/?down_id=350 agcm.tar.gz

[DEPENDENCY]
set -x
set -e
./jarvis -install bisheng/2.1.0 com
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/1.1.1 bisheng
module load hmpi/1.1.1
./jarvis -bench mpi
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install fftw/3.3.10 bisheng+mpi
./jarvis -install hdf5/1.12.0/clang clang+mpi
./jarvis -install pnetcdf/1.12.1 clang+mpi
./jarvis -install netcdf/4.7.4 clang+mpi
tar -xzvf ${JARVIS_DOWNLOAD}/agcm.tar.gz

[ENV]
module purge
module use ./software/modulefiles/
module load bisheng/2.1.0
module load hmpi/1.1.1
module load fftw/3.3.10
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.1
module load netcdf/4.7.4
export NETCDF_DIR=${JARVIS_LIBS}/bisheng2.1.0/hmpi1.1.1/netcdf/4.7.4
export MPI_DIR=${JARVIS_MPI}/hmpi1.1.1-bisheng2.1.0/1.1.1
export PNETCDF_DIR=${JARVIS_LIBS}/bisheng2.1.0/hmpi1.1.1/pnetcdf/1.12.1
export FFTW_DIR=${JARVIS_LIBS}/bisheng2.1.0/hmpi1.1.1/fftw/3.3.10
export USER_CC=mpicc
export USER_FC=mpifort

[APP]
app_name = AGCM
build_dir = $JARVIS_ROOT/agcm/test/
binary_dir =
case_dir = $JARVIS_ROOT/agcm/test/out

[BUILD]
csh -f bld.csh

[CLEAN]
cd bld
gmake clean

[RUN]
#run = mpirun --allow-run-as-root  -x LD_LIBRARY_PATH -x PATH -x OMP_NUM_THREADS=1 -x UCX_BUILTIN_ALLTOALLV_ALGORITHM=1 -map-by ppr:128:node:pe=1 --bind-to core
#binary = ../bld/bccam < ./namelist
run = dsub -s dsub_aqcm_12n.sh
binary =
nodes = 1
