[SERVER]
11.11.11.11

[DOWNLOAD]
bcc-agcm/4.0 http://forecast.bcccsm.ncc-cma.net/web/?down_id=350 agcm.tar.gz

[DEPENDENCY]
set -x
set -e
module purge
source /share/app/intel/oneapi/setvars.sh --force
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 icc+mpi
./jarvis -install pnetcdf/1.11.2 icc+mpi
./jarvis -install netcdf/4.7.0 icc+mpi
tar -xzvf ${JARVIS_DOWNLOAD}/agcm.tar.gz

[ENV]
source /etc/profile
module purge
source /share/app/intel/oneapi/setvars.sh --force

export HDF5=./env/HDF5
export NETCDF=./env/NETCDF
export PNETCDF=./env/PNETCDF
export FFTW3=/home/huaweijishu/hwtest15/cn/bcc-agcm/libs/install/fftw-3.3.10
export NETCDF_DIR=./env/NETCDF
export PNETCDF_DIR=./env/PNETCDF
export FFTW3_DIR=./fftw-3.3.10
export LD_LIBRARY_PATH=$HDF5/lib:$NETCDF/lib:$PNETCDF/lib:$FFTW3/lib

export LIB_FFTW3=./fftw-3.3.10/lib
export USER_CC=mpicc
export USER_FC=mpiifort

[APP]
app_name = AGCM
build_dir = $JARVIS_ROOT/agcm/test/
binary_dir =
case_dir = $JARVIS_ROOT/agcm/test/out

[BUILD]
csh -f bld.csh

[CLEAN]
cd bld
gmake clean

[RUN]
#run = mpirun --allow-run-as-root  -x LD_LIBRARY_PATH -x PATH -x OMP_NUM_THREADS=1 -x UCX_BUILTIN_ALLTOALLV_ALGORITHM=1 -map-by ppr:128:node:pe=1 --bind-to core
#binary = ../bld/bccam < ./namelist
run = dsub -s dsub_aqcm_12n.sh
binary =
nodes = 1
