[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

./jarvis -install hdf5/1.12.0/clang clang+mpi
module load hdf5-clang/1.12.0-%#MYKBSVER#%-%#MYKMPIVER#%

./jarvis -install pnetcdf/1.12.1/clang clang+mpi
module load pnetcdf-clang/1.12.1-%#MYKBSVER#%-%#MYKMPIVER#%

export PNETCDF_PATH=${PNETCDF_CLANG_PATH}
./jarvis -install netcdf/4.7.4/clang clang+mpi
module load netcdf-clang/4.7.4-%#MYKBSVER#%-%#MYKMPIVER#%-hdf51.12.0-pnetcdf1.12.1

yum install tcsh -y
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load hdf5-clang/1.12.0-%#MYKBSVER#%-%#MYKMPIVER#%
module load pnetcdf-clang/1.12.1-%#MYKBSVER#%-%#MYKMPIVER#%
module load netcdf-clang/4.7.4-%#MYKBSVER#%-%#MYKMPIVER#%-hdf51.12.0-pnetcdf1.12.1

[APP]
fake = 0
app_name = camx
app_version = 7.31
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/camx/7.31-%#MYKBSVER#%-%#MYKMPIVER#%
binary_dir = ${JARVIS_APP}/camx/7.31-%#MYKBSVER#%-%#MYKMPIVER#%
case_dir = ${JARVIS_JOBSCRIPT}/src.v7.31

[BUILD]
set -e
set -x

####  build
echo "build start"
mkdir -p ${JARVIS_APP}/camx/7.31-%#MYKBSVER#%-%#MYKMPIVER#%/bin
cp ${JARVIS_DOWNLOAD}/CAMx.v7.30.MPICH3.NCF4.gfortranomp ${JARVIS_APP}/camx/7.31-%#MYKBSVER#%-%#MYKMPIVER#%/bin
chmod +x ${JARVIS_APP}/camx/7.31-%#MYKBSVER#%-%#MYKMPIVER#%/bin/CAMx.v7.30.MPICH3.NCF4.gfortranomp

echo "build done!!!"

#### install jobsript for case test
echo "Install start"
${DOWNLOAD_TOOL} -u https://www.camx.com/getmedia/CAMx7-30-test_run-inputs_met-240624.tgz -f CAMx7-30-test_run-inputs_met-240624.tgz
${DOWNLOAD_TOOL} -u https://www.camx.com/getmedia/CAMx7-30-test_run-inputs_emiss-240624.tgz -f CAMx7-30-test_run-inputs_emiss-240624.tgz
${DOWNLOAD_TOOL} -u https://www.camx.com/getmedia/CAMx7-30-test_run-inputs_other-240624.tgz -f CAMx7-30-test_run-inputs_other-240624.tgz
${DOWNLOAD_TOOL} -u https://www.camx.com/getmedia/v7.30.specific.inputs.240624.tgz -f v7.30.specific.inputs.240624.tgz

cat > ${JARVIS_JOBSCRIPT}/camx-7.31-run.sh << EOF
module use ${JARVIS_MODULES}/modules
module load camx/7.31-%#MYKBSVER#%-%#MYKMPIVER#%

if [ -d "${JARVIS_JOBSCRIPT}/src.v7.31" ]; then
rm -rf ${JARVIS_JOBSCRIPT}/src.v7.31
fi
mkdir ${JARVIS_JOBSCRIPT}/src.v7.31
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/CAMx7-30-test_run-inputs_met-240624.tgz -C ${JARVIS_JOBSCRIPT}/src.v7.31
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/CAMx7-30-test_run-inputs_emiss-240624.tgz -C ${JARVIS_JOBSCRIPT}/src.v7.31
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/CAMx7-30-test_run-inputs_other-240624.tgz -C ${JARVIS_JOBSCRIPT}/src.v7.31
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/v7.30.specific.inputs.240624.tgz -C ${JARVIS_JOBSCRIPT}/src.v7.31

cd ${JARVIS_JOBSCRIPT}/src.v7.31/runfiles

sed -i "11c\set EXEC      = CAMx.v7.30.MPICH3.NCF4.gfortranomp" CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i "31c\set NUMPROCS = 48" CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i "36c\foreach today (10.162)" CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i "s|End_Date_Hour    = 2016,06,\\\${CAL},2400|End_Date_Hour    = 2016,06,\\\${CAL},0600|" CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i "188c\if( ! { mpirun --allow-run-as-root -np \\\$NUMPROCS -x OMP_NUM_THREADS=12 -x OMP_PROC_BIND=true -mca pml ucx -mca btl tcp -x UCX_TLS=rc --bind-to core --rank-by core --map-by ppr:3:numa:pe=12 numactl --localalloc \\\$EXEC } ) then" CAMx_v7.30.36.12.20160610-11.MPICH3.job
time ./CAMx_v7.30.36.12.20160610-11.MPICH3.job
EOF
echo "Install done!!!"

[RUN]
