[SERVER]
11.11.11.11

[DOWNLOAD]
camx/7.31 https://www.camx.com/getmedia/CAMx_v7.31.src.240815.tgz CAMx_v7.31.src.240815.tgz
camx/test_run-inputs_met-24062 https://www.camx.com/getmedia/CAMx7-30-test_run-inputs_met-240624.tgz CAMx7-30-test_run-inputs_met-240624.tgz
camx/test_run-inputs_emiss-240624 https://www.camx.com/getmedia/CAMx7-30-test_run-inputs_emiss-240624.tgz CAMx7-30-test_run-inputs_emiss-240624.tgz
camx/test_run-inputs_other-240624 https://www.camx.com/getmedia/CAMx7-30-test_run-inputs_other-240624.tgz CAMx7-30-test_run-inputs_other-240624.tgz
camx/v7.30.specific.inputs.240624 https://www.camx.com/getmedia/v7.30.specific.inputs.240624.tgz v7.30.specific.inputs.240624.tgz

[DEPENDENCY]
set -e
source package/common/libshell.sh
#yum_install_system_rpms curl libcurl libcurl-devel
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

./jarvis -install hdf5/1.10.1/clang bisheng+mpi
module load hdf5-clang/1.10.1-%#MYKBSVER#%-%#MYKMPIVER#%

./jarvis -install pnetcdf/1.11.2/clang bisheng+mpi
module load pnetcdf-clang/1.11.2-%#MYKBSVER#%-%#MYKMPIVER#%

./jarvis -install netcdf/4.7.0/clang bisheng+mpi
module load netcdf-clang/4.7.0-%#MYKBSVER#%-%#MYKMPIVER#%-hdf51.10.1-pnetcdf1.11.2

#yum install tcsh -y
if [ ! -f /usr/bin/tcsh ]; then
	echo "ERROR: no tcsh, Please yum install tcsh"
	exit 1
fi
if [ ! -f /usr/bin/curl ] || [ ! -f  /usr/lib64/libcurl.so ] || [ ! -f  /usr/include/curl/curl.h ]; then
	echo "ERROR: no tcsh, Please yum install curl libcurl libcurl-devel"
	exit 1
fi

#tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/CAMx_v7.31.src.240815.tgz -C ${JARVIS_DEV}
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load hdf5-clang/1.10.1-%#MYKBSVER#%-%#MYKMPIVER#%
module load pnetcdf-clang/1.11.2-%#MYKBSVER#%-%#MYKMPIVER#%
module load netcdf-clang/4.7.0-%#MYKBSVER#%-%#MYKMPIVER#%-hdf51.10.1-pnetcdf1.11.2

[APP]
fake = 0
app_name = camx
app_version = 7.31
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/camx/7.31-%#MYKBSVER#%-%#MYKMPIVER#%/project
binary_dir = ${JARVIS_APP}/camx/7.31-%#MYKBSVER#%-%#MYKMPIVER#%
case_dir = ${JARVIS_JOBSCRIPT}/camx/7.31

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/camx/7.31

####### build start
set +x && echo_info "build start" && set -x

build_mod_check "${BUILD_DIR}/src.v7.31/CAMx.v7.30.MPICH3.NCF4.gfortran" "prompt"
if true; then 
rm -rf ${BUILD_DIR}/src.v7.31
tar --no-same-owner -zxvf  ${JARVIS_DOWNLOAD}/CAMx_v7.31.src.240815.tgz -C  ${BUILD_DIR}
cd ${BUILD_DIR}/project/src.v7.31

sed -i "60c MPI_INST = ${OPAL_PREFIX}" Makefile
sed -i "61c NCF_INST = ${NETCDF_CLANG_PATH}" Makefile
sed -i "248c\    FC = flang" Makefile
sed -i "249c\    CC = clang" Makefile
sed -i "250c FLGS=\$(INCLUDES) -O2 -Wno-unused-command-line-argument -mcmodel=small -J\${MOD_DIR} -fno-align-commons -fconvert=big-endian -ffixed-line-length-0 -Xlinker -zmuldefs"  Makefile
sed -i "4c MPI_INST = ${OPAL_PREFIX}" MPI/util/Makefile
sed -i "17c CFLAGS = -mcmodel=small -O2 -I \$(INC) -Wno-int-conversion" MPI/util/Makefile

make COMPILER=gfortran MPI=mpich3 NCF=NCF4_C -j 8

cd ${BUILD_DIR}/../
mkdir -p bin
cd bin
rm -rf CAMx.v7.30.MPICH3.NCF4.gfortran
ln -s ../project/src.v7.31/CAMx.v7.30.MPICH3.NCF4.gfortran .
cd ${BUILD_DIR}
fi

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/camx/7.31
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load camx/7.31-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOBDIR}/env.sh

if [ ! -f ${JOBDIR}/CAMx7-30-test_run-inputs_met-240624.tgz ]; then
cp ${JARVIS_DOWNLOAD}/CAMx7-30-test_run-inputs_met-240624.tgz ${JOBDIR}/ -ar
fi

if [ ! -f ${JOBDIR}/CAMx7-30-test_run-inputs_emiss-240624.tgz ]; then
cp ${JARVIS_DOWNLOAD}/CAMx7-30-test_run-inputs_emiss-240624.tgz ${JOBDIR}/ -ar
fi

if [ ! -f ${JOBDIR}/CAMx7-30-test_run-inputs_other-240624.tgz ]; then
cp ${JARVIS_DOWNLOAD}/CAMx7-30-test_run-inputs_other-240624.tgz ${JOBDIR}/ -ar
fi

if [ ! -f ${JOBDIR}/v7.30.specific.inputs.240624.tgz ]; then
cp ${JARVIS_DOWNLOAD}/v7.30.specific.inputs.240624.tgz ${JOBDIR}/ -ar
fi


cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_camx
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=256"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.camx
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

#{ time  -p mpirun  --hostfile $HOSTFILE -np 48 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores -x OMP_NUM_THREADS=1 -x UCX_TLS=sm CAMx.v7.30.MPICH3.NCF4.gfortran ; } 2>&1 | tee tee_jax.xlog
if [ -d "job_work/src.v7.31" ]; then
rm -rf job_work/src.v7.31
fi
mkdir job_work/src.v7.31 -p
tar --no-same-owner -zxvf ./CAMx7-30-test_run-inputs_met-240624.tgz -C job_work/src.v7.31
tar --no-same-owner -zxvf ./CAMx7-30-test_run-inputs_emiss-240624.tgz -C job_work/src.v7.31
tar --no-same-owner -zxvf ./CAMx7-30-test_run-inputs_other-240624.tgz -C job_work/src.v7.31
tar --no-same-owner -zxvf ./v7.30.specific.inputs.240624.tgz -C job_work/src.v7.31

cd local_work/src.v7.31/runfiles

sed -i "11c\set EXEC      = CAMx.v7.30.MPICH3.NCF4.gfortran " CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i "31c\set NUMPROCS = 48" CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i "36c\foreach today (10.162)" CAMx_v7.30.36.12.20160610-11.MPICH3.job
#sed -i "s|End_Date_Hour    = 2016,06,\\\${CAL},2400|End_Date_Hour    = 2016,06,\\\${CAL},0600|" CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i 's|End_Date_Hour    = 2016,06,\${CAL},2400|End_Date_Hour    = 2016,06,\\\${CAL},2400|' CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i 's|Output_Frequency    = 60|Output_Frequency    = 1440|' CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i "188c\if( ! { mpirun --allow-run-as-root -np \\\$NUMPROCS \\\$EXEC } ) then" CAMx_v7.30.36.12.20160610-11.MPICH3.job
time ./CAMx_v7.30.36.12.20160610-11.MPICH3.job

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

if [ -d "local_work/src.v7.31" ]; then
rm -rf local_work/src.v7.31
fi
mkdir local_work/src.v7.31 -p
tar --no-same-owner -zxvf ./CAMx7-30-test_run-inputs_met-240624.tgz -C local_work/src.v7.31
tar --no-same-owner -zxvf ./CAMx7-30-test_run-inputs_emiss-240624.tgz -C local_work/src.v7.31
tar --no-same-owner -zxvf ./CAMx7-30-test_run-inputs_other-240624.tgz -C local_work/src.v7.31
tar --no-same-owner -zxvf ./v7.30.specific.inputs.240624.tgz -C local_work/src.v7.31

cd local_work/src.v7.31/runfiles

sed -i "11c\set EXEC      = CAMx.v7.30.MPICH3.NCF4.gfortran " CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i "31c\set NUMPROCS = 48" CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i "36c\foreach today (10.162)" CAMx_v7.30.36.12.20160610-11.MPICH3.job
#sed -i "s|End_Date_Hour    = 2016,06,\\\${CAL},2400|End_Date_Hour    = 2016,06,\\\${CAL},0600|" CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i 's|End_Date_Hour    = 2016,06,\${CAL},2400|End_Date_Hour    = 2016,06,\\\${CAL},2400|' CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i 's|Output_Frequency    = 60|Output_Frequency    = 1440|' CAMx_v7.30.36.12.20160610-11.MPICH3.job
sed -i "188c\if( ! { mpirun --allow-run-as-root -np \\\$NUMPROCS \\\$EXEC } ) then" CAMx_v7.30.36.12.20160610-11.MPICH3.job


time ./CAMx_v7.30.36.12.20160610-11.MPICH3.job

EOF

cat > ${JOBDIR}/camx-7.31-run.sh << EOF
#!/bin/bash
source ./env.sh
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/camx-7.31-run.sh

set +x && echo_info "Install done!!!" && set -x


[RUN]
