[SERVER]
11.11.11.11


[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install gcc/10.3.0 com
module load gcc/10.3.0
./jarvis -install openmpi/4.1.2 gcc
module load openmpi/4.1.2
sed -i '11c CC=`which mpicc` FC=`which mpifort` ./configure --prefix=$1 --enable-static=yes --enable-parallel --enable-shared --with-szlib=${JARVIS_LIBS}/bisheng2.3.0/szip/2.1.1/lib' package/hdf5/1.10.4/install.sh
./jarvis -install hdf5/1.10.4 gcc
module load hdf5/1.10.4
export CC=`which mpicc` FC=`which mpifort`
sed -i '9c FFLAGS=-fallow-argument-mismatch ./configure --prefix=$1 --enable-shared --enable-fortran --enable-large-file-test' package/pnetcdf/1.12.1/install.sh
./jarvis -install pnetcdf/1.12.1 gcc
module load pnetcdf/1.12.1
./jarvis -install netcdf/4.7.4 gcc
./jarvis -install udunits/2.2.28 gcc

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load gcc/10.3.0
module add openmpi/4.1.2
module load hdf5/1.10.4
module load netcdf/4.7.4
module load udunits/2.2.28
export CC=`which mpicc`

[APP]
app_name = ncview
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
./jarvis -install netcdf/4.7.4 gcc
sed -i '13c NETCDF_DIR=${1%/*/*}/netcdf/4.7.4' package/ncview/2.1.7/install.sh
./jarvis -install ncview/2.1.7 gcc

[RUN]
run = 
binary = 
nodes = 1
