[SERVER]
11.11.11.11


[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1/clang clang+mpi
./jarvis -install pnetcdf/1.11.2 bisheng+mpi
module add hdf5-clang/1.10.1
module load pnetcdf/1.11.2
./jarvis -install netcdf/4.7.0/clang clang+mpi
sed -i '13c NETCDF_DIR=${1%/*/*}/netcdf-clang/4.7.0' package/ncview/2.1.7/install.sh



./jarvis -install hdf5/1.10.1 clang+mpi
module add hdf5/1.10.1
./jarvis -install pnetcdf/1.11.2 bisheng+mpi
module load pnetcdf/1.11.2
./jarvis -install netcdf/4.7.0 clang+mpi
./jarvis -install udunits/2.2.28 clang+mpi

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module add bisheng/2.1.0
module add hmpi/1.1.1
module add hdf5-clang/1.10.1
module add pnetcdf/1.11.2
module add netcdf-clang/4.7.0
module add hdf5/1.10.1
module add pnetcdf/1.11.2
module add netcdf/4.7.0
module add udunits/2.2.28
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = ncview
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = ${JARVIS_LIBS}/bisheng2.1.0/hmpi1.1.1/ncview/2.1.7/bin 

[BUILD]
./jarvis -install ncview/2.1.7 clang+mpi

[RUN]
run = export PATH=$PATH:${JARVIS_LIBS}/bisheng2.1.0/hmpi1.1.1/ncview/2.1.7/bin && ncview
binary = 
nodes = 1
