[SERVER]
11.11.11.11


[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 clang+mpi
./jarvis -install pnetcdf/1.11.2 bisheng+mpi
./jarvis -install netcdf/4.7.0 clang+mpi
./jarvis -install udunits/2.2.28 clang+mpi

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module add bisheng/2.1.0
module add hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = ncview
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
./jarvis -install ncview/2.1.7 clang+mpi

[RUN]
run = 
binary = 
node = 1
