[SERVER]
11.11.11.11

[DOWNLOAD]
cpmd/4.3 ${JARVIS_PROXY}/CPMD-code/CPMD/archive/refs/tags/4.3.tar.gz
cpmd/test ${JARVIS_PROXY}/CPMD-code/Tests/archive/refs/heads/main.zip cpmd-test.zip
[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load gcc/compiler12.3.1/gccmodule gcc/hmpi${HPCKIT_VERSION}/release
export CC=`which gcc`
export CXX=`which g++`
export FC=`which mpifort`
./jarvis -install openblas/0.3.6 gcc
module use ${JARVIS_ROOT}/software/moduledeps/gcc12.3.1
module load openblas/0.3.6
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
./jarvis -install fftw/3.3.10 gcc+mpi
module use ${JARVIS_ROOT}/software/moduledeps/gcc12.3.1-hmpi${HPCKIT_VERSION}
module load fftw/3.3.10
cd ${JARVIS_ROOT}/tmp
if [ -d 'CPMD-4.3' ];then
  rm -rf CPMD-4.3
fi
tar -xzvf ${JARVIS_DOWNLOAD}/4.3.tar.gz

[ENV]
module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load gcc/compiler12.3.1/gccmodule gcc/hmpi${HPCKIT_VERSION}/release
export CC=`which gcc`
export CXX=`which g++`
export FC=`which mpifort`
./jarvis -install openblas/0.3.6 gcc
module use ${JARVIS_ROOT}/software/moduledeps/gcc12.3.1
module load openblas/0.3.6
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
./jarvis -install fftw/3.3.10 gcc+mpi
module use ${JARVIS_ROOT}/software/moduledeps/gcc12.3.1-hmpi${HPCKIT_VERSION}
module load fftw/3.3.10

[APP]
app_name = CPMD
build_dir = ${JARVIS_ROOT}/tmp/CPMD-4.3/
binary_dir =${JARVIS_ROOT}/software/apps/CPMD-4.3/bin
case_dir =${JARVIS_ROOT}/workloads/CPMD-4.3/Tests-main/kpoints
[BUILD]
mkdir -p ${JARVIS_ROOT}/software/apps/CPMD-4.3
sed -i '21s/-O2/-O2 -ffixed-line-length-none -ffree-form -ffree-line-length-none -march=armv8.2-a -mtune=tsv110 -fallow-argument-mismatch/' configure/LINUX-GFORTRAN-SLES11-MPI-FFTW
sed -i '22s/-O2 -Wall/-O3 -Wall/' configure/LINUX-GFORTRAN-SLES11-MPI-FFTW
sed -i "26c\       LIBS='  -L${JARVIS_ROOT}/software/libs/gcc12.3.1-hmpi${HPCKIT_VERSION}/fftw/3.3.10/lib -lfftw3_threads -L${JARVIS_ROOT}/software/libs/gcc12.3.1/openblas/0.3.6/lib -lopenblas'" configure/LINUX-GFORTRAN-SLES11-MPI-FFTW
sed -i "28c\       LIBS='  -L${JARVIS_ROOT}/software/libs/gcc12.3.1-hmpi${HPCKIT_VERSION}/fftw/3.3.10/lib -lfftw3 -L${JARVIS_ROOT}/software/libs/gcc12.3.1/openblas/0.3.6/lib -lopenblas'" configure/LINUX-GFORTRAN-SLES11-MPI-FFTW
chmod +x configure.sh
./configure.sh LINUX-GFORTRAN-SLES11-MPI-FFTW
make -j $(($(nproc)/2))
cp -r bin ${JARVIS_ROOT}/software/apps/CPMD-4.3/
mkdir -p ${JARVIS_ROOT}/workloads/CPMD-4.3
cd ${JARVIS_ROOT}/workloads/CPMD-4.3
unzip ${JARVIS_DOWNLOAD}/cpmd-test.zip

[RUN]
run =mpirun --allow-run-as-root -np $(($(nproc)/2)) --mca btl ^openib --mca btl_vader_single_copy_mechanism none
binary=cpmd.x si8.inp 
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all

