[SERVER]
11.11.11.11

[DOWNLOAD]
cpmd/4.3 ${JARVIS_PROXY}/CPMD-code/CPMD/archive/refs/tags/4.3.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install hpckit/25.0.0 com
module use ./software/compiler/hpckit/25.0.0/HPCKit/25.0.0/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi25.0.0/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which mpifort`
./jarvis -install openblas/0.3.6 gcc
module use ./software/moduledeps/gcc12.3.1
module load openblas/0.3.6
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
./jarvis -install fftw/3.3.10 gcc+mpi
module use ./software/moduledeps/gcc12.3.1-hmpi25.0.0
module load fftw/3.3.10
rm -rf CPMD-4.3
tar -xzvf ${JARVIS_DOWNLOAD}/4.3.tar.gz

[ENV]
module purge
module use ./software/compiler/hpckit/25.0.0/HPCKit/25.0.0/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi25.0.0/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which mpifort`
module use ./software/moduledeps/gcc12.3.1
module load openblas/0.3.6
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
module use ./software/moduledeps/gcc12.3.1-hmpi25.0.0
module load fftw/3.3.10


[APP]
app_name = QE
build_dir = ${JARVIS_ROOT}/CPMD-4.3/
binary_dir = ${JARVIS_ROOT}/CPMD-4.3/bin/
case_dir = ${JARVIS_ROOT}/CPMD-4.3/bin/

[BUILD]
sed -i '21s/-O2/-O2 -ffixed-line-length-none -ffree-form -ffree-line-length-none -march=armv8.2-a -mtune=tsv110 -fallow-argument-mismatch/' configure/LINUX-GFORTRAN-SLES11-MPI-FFTW
sed -i '22s/-O2 -Wall/-O3 -Wall/' configure/LINUX-GFORTRAN-SLES11-MPI-FFTW
sed -i '26c\       LIBS="  -L${JARVIS_ROOT}/software/libs/gcc12.3.1/fftw/3.3.10/lib -lfftw3_threads -L${JARVIS_ROOT}/software/libs/gcc12.3.1/openblas/0.3.6/lib -lopenblas"' configure/LINUX-GFORTRAN-SLES11-MPI-FFTW
sed -i '28c\       LIBS="  -L${JARVIS_ROOT}/software/libs/gcc12.3.1/fftw/3.3.10/lib -lfftw3 -L${JARVIS_ROOT}/software/libs/gcc12.3.1/openblas/0.3.6/lib -lopenblas"' configure/LINUX-GFORTRAN-SLES11-MPI-FFTW
chmod +x configure.sh
./configure.sh LINUX-GFORTRAN-SLES11-MPI-FFTW
make -j16





[CLEAN]
make clean

[RUN]
run = ./cpmd.x --version
binary =
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all

