[SERVER]
11.11.11.11

[DOWNLOAD]
wrfda/3.9.1 https://www2.mmm.ucar.edu/wrf/src/WRFDA_V3.9.1.tar.gz wrfda-3.9.1.tar.gz
wrf/3.9.1 https://github.com/wrf-model/WRF/archive/refs/tags/V3.9.1.tar.gz wrf-3.9.1.tar.gz

[DEPENDENCY]
set -x
set -e
yum install tcsh -y
yum install libtirpc-devel -y
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} com
module use ./software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/hmpi
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module use ./software/moduledeps/bisheng4.2.0-hmpi25.0.0
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.3 bisheng+mpi
module load pnetcdf/1.12.3
./jarvis -install netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4
./jarvis -install jasper/1.900.2 bisheng+mpi
module load jasper/1.900.2

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/hmpi
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
module use ./software/moduledeps/bisheng4.2.0-hmpi25.0.0
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.3
module load netcdf-clang/4.7.4
module load jasper/1.900.2
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
export NETCDF=${NETCDF_CLANG_PATH}
export HDF5=${HDF5_CLANG_PATH}
export PHDF5=${HDF5}
export PNETCDF=${PNETCDF_PATH}
export CPPFLAGS="-I$HDF5/include -I$PNETCDF/include -I$NETCDF/include"
export LDFLAGS="-L$HDF5/lib -L$PNETCDF/lib -L$NETCDF/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export JASPERLIB=${JASPER_PATH}/lib
export JASPERINC=${JASPER_PATH}/include
export WRF_DIR=${WRF_DIR}
export MPI_LIB="-L$MPI_LIB -lmpi -lomp"

[APP]
app_name = wrfda
build_dir = $JARVIS_ROOT/
binary_dir =
case_dir = ${JARVIS_TMP}/wrfda-3.9.1/var/build

[BUILD]
./jarvis -e
source env.sh
cd ${JARVIS_TMP}
rm -rf wrf-3.9.1 wrfda-3.9.1

#install wrf
mkdir wrf-3.9.1
tar -xvf ${JARVIS_DOWNLOAD}/wrf-3.9.1.tar.gz --strip-components 1 -C wrf-3.9.1
cd wrf-3.9.1

patch arch/configure_new.defaults < $JARVIS_ROOT/templates/wrfda/3.9.1/configure_new.patch
patch arch/postamble_new < $JARVIS_ROOT/templates/wrfda/3.9.1/postamble_new.patch
patch phys/module_cu_gf_deep.F < $JARVIS_ROOT/templates/wrfda/3.9.1/module_cu_gf_deep.patch
patch phys/module_ra_goddard.F < $JARVIS_ROOT/templates/wrfda/3.9.1/module_ra_goddard.patch
patch phys/module_sf_noahmpdrv.F < $JARVIS_ROOT/templates/wrfda/3.9.1/module_sf_noahmpdrv.patch
echo 4 | ./configure

./compile -j 16 em_real 2>&1 | tee -a compile.log
#第一次编译会由于wrf多线程报错
./compile -j 1 em_real 2>&1 | tee -a compile.log

#install wrfda
cd $JARVIS_TMP
rm -rf wrfda-3.9.1
mkdir wrfda-3.9.1
tar -xvf ${JARVIS_DOWNLOAD}/wrfda-3.9.1.tar.gz --strip-components 1 -C wrfda-3.9.1
cd wrfda-3.9.1

patch arch/configure_new.defaults < $JARVIS_ROOT/templates/wrfda/3.9.1/wrfda/configure_new.patch
patch arch/postamble_new < $JARVIS_ROOT/templates/wrfda/3.9.1/wrfda/postamble_new.patch
patch compile < $JARVIS_ROOT/templates/wrfda/3.9.1/wrfda/compile.patch
patch Makefile < $JARVIS_ROOT/templates/wrfda/3.9.1/wrfda/Makefile.patch
patch configure < $JARVIS_ROOT/templates/wrfda/3.9.1/wrfda/configure.patch

echo 3 | ./configure -r8 wrfda
export -p
./compile all_wrfvar 2>&1 | tee -a compile- all_wrfvar.log


[CLEAN]
./clean

[RUN]
run = da_wrfvar.exe --help || true
binary =
nodes = 1
