[SERVER]
11.11.11.11

[DOWNLOAD]
wrfda/3.9.1 https://www2.mmm.ucar.edu/wrf/src/WRFDA_V3.9.1.tar.gz wrfda-3.9.1.tar.gz
wrf/3.9.1 https://github.com/wrf-model/WRF/archive/refs/tags/V3.9.1.tar.gz wrf-3.9.1.tar.gz

[DEPENDENCY]
set -x
set -e
yum install libtirpc libtirpc-devel patch time -y
module purge
module use ${JARVIS_ROOT}/HPCKit/latest/modulefiles
module use ${JARVIS_ROOT}/software/module*
module avail
module load bisheng/bisheng
module load bisheng/hmpi/hmpi

./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module load bisheng4.0.0-hmpi2.4.1/hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.3 bisheng+mpi
module load bisheng4.0.0-hmpi2.4.1/pnetcdf/1.12.3
./jarvis -install netcdf/4.7.4/clang bisheng+mpi
module load bisheng4.0.0-hmpi2.4.1/netcdf-clang/4.7.4
./jarvis -install jasper/1.900.2 bisheng+mpi
module load bisheng4.0.0-hmpi2.4.1/jasper/1.900.2
./jarvis -install rttov/11.3 bisheng+mpi
module load bisheng4.0.0-hmpi2.4.1/rttov/11.3


[ENV]
module purge
module use /hpcrunner/software/module*
module use /hpcunner/HPCKit/latest/modulefiles
module load bisheng/bisheng
module load bisheng/hmpi/hmpi
module load bisheng4.0.0-hmpi2.4.1/hdf5-clang/1.12.0
module load bisheng4.0.0-hmpi2.4.1/pnetcdf/1.12.3
module load bisheng4.0.0-hmpi2.4.1/netcdf-clang/4.7.4
module load bisheng4.0.0-hmpi2.4.1/jasper/1.900.2
module load bisheng4.0.0-hmpi2.4.1/rttov/11.3
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
export NETCDF=${NETCDF_CLANG_PATH}
export HDF5=${HDF5_CLANG_PATH}
export PHDF5=${HDF5}
export PNETCDF=${PNETCDF_PATH}
export CPPFLAGS="-I$HDF5/include -I$PNETCDF/include -I$NETCDF/include"
export LDFLAGS="-L$HDF5/lib -L$PNETCDF/lib -L$NETCDF/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export JASPERLIB=${JASPER_PATH}/lib
export JASPERINC=${JASPER_PATH}/include
export WRF_DIR=${WRF_DIR}
export RTTOV=${RTTOV_PATH}
export MPI_LIB="-L$MPI_LIB -lmpi -lomp"
export PATH=$PATH:$JARVIS_ROOT/software/libs/bisheng4.0.0/hmpi2.4.1/wrfda/3.9.1/var/da:$JARVIS_ROOT/software/libs/bisheng4.0.0/hmpi2.4.1/wrfda/3.9.1/run

[APP]
app_name = wrfda
build_dir = $JARVIS_ROOT/wrfda/test/
binary_dir =
case_dir = 

[BUILD]
./jarvis -e
source env.sh
cd ${JARVIS_TMP}
rm -rf wrf-3.9.1 wrfda-3.9.1

#install wrf
mkdir wrf-3.9.1
tar -xvf ${JARVIS_DOWNLOAD}/wrf-3.9.1.tar.gz --strip-components 1 -C wrf-3.9.1
cd wrf-3.9.1

patch arch/configure_new.defaults < $JARVIS_ROOT/templates/wrfda/3.9.1/configure_new.patch
patch arch/postamble_new < $JARVIS_ROOT/templates/wrfda/3.9.1/postamble_new.patch
patch phys/module_cu_gf_deep.F < $JARVIS_ROOT/templates/wrfda/3.9.1/module_cu_gf_deep.patch
patch phys/module_ra_goddard.F < $JARVIS_ROOT/templates/wrfda/3.9.1/module_ra_goddard.patch
patch phys/module_sf_noahmpdrv.F < $JARVIS_ROOT/templates/wrfda/3.9.1/module_sf_noahmpdrv.patch
echo 4 | ./configure

./compile -j 16 em_real 2>&1 | tee -a compile.log
#第一次编译会由于wrf多线程报错
./compile -j 1 em_real 2>&1 | tee -a compile.log

mkdir $JARVIS_ROOT/software/libs/bisheng4.0.0/hmpi2.4.1/wrf/3.9.1 -p
rm -rf $JARVIS_ROOT/software/libs/bisheng4.0.0/hmpi2.4.1/wrf/3.9.1/*
mv $JARVIS_TMP/wrf-3.9.1/* $JARVIS_ROOT/software/libs/bisheng4.0.0/hmpi2.4.1/wrf/3.9.1/

mkdir $JARVIS_ROOT/software/moduledeps/bisheng4.0.0-hmpi2.4.1/wrf -p
rm -rf $JARVIS_ROOT/software/moduledeps/bisheng4.0.0-hmpi2.4.1/wrf/*
cat >> $JARVIS_ROOT/software/moduledeps/bisheng4.0.0-hmpi2.4.1/wrf/3.9.1 << EOF
#%Module1.0
set prefix 	$JARVIS_ROOT/software/libs/bisheng4.0.0/hmpi2.4.1/wrf/3.9.1
set version	3.9.1
setenv WRF_DIR	\$prefix

prepend-path PATH \$prefix
EOF

#install wrfda
cd $JARVIS_TMP
mkdir wrfda-3.9.1
tar -xvf ${JARVIS_DOWNLOAD}/wrfda-3.9.1.tar.gz --strip-components 1 -C wrfda-3.9.1
cd wrfda-3.9.1

patch arch/configure_new.defaults < $JARVIS_ROOT/templates/wrfda/3.9.1/wrfda/configure_new.patch
patch arch/postamble_new < $JARVIS_ROOT/templates/wrfda/3.9.1/wrfda/postamble_new.patch
patch compile < $JARVIS_ROOT/templates/wrfda/3.9.1/wrfda/compile.patch
patch Makefile < $JARVIS_ROOT/templates/wrfda/3.9.1/wrfda/Makefile.patch
patch configure < $JARVIS_ROOT/templates/wrfda/3.9.1/wrfda/configure.patch

echo 3 | ./configure -r8 wrfda
export -p
./compile all_wrfvar 2>&1 | tee -a compile- all_wrfvar.log

mkdir $JARVIS_ROOT/software/libs/bisheng4.0.0/hmpi2.4.1/wrfda/3.9.1 -p
rm -rf $JARVIS_ROOT/software/libs/bisheng4.0.0/hmpi2.4.1/wrfda/3.9.1/*
mv $JARVIS_TMP/wrfda-3.9.1/* $JARVIS_ROOT/software/libs/bisheng4.0.0/hmpi2.4.1/wrfda/3.9.1/

mkdir $JARVIS_ROOT/software/moduledeps/bisheng4.0.0-hmpi2.4.1/wrfda -p
rm -rf $JARVIS_ROOT/software/moduledeps/bisheng4.0.0-hmpi2.4.1/wrfda/*
cat >> $JARVIS_ROOT/software/moduledeps/bisheng4.0.0-hmpi2.4.1/wrfda/3.9.1 << EOF
#%Module1.0
set prefix      $JARVIS_ROOT/software/libs/bisheng4.0.0/hmpi2.4.1/wrfda/3.9.1
set version     3.9.1

prepend-path PATH \$prefix/var/da
EOF

[CLEAN]
./clean

[RUN]
run = dsub -s dsub_aqcm_12n.sh
binary =
nodes = 1
