[SERVER]
11.11.11.11

[DOWNLOAD]
mpb/1.11.1 https://github.com/NanoComp/mpb/archive/v1.11.1.tar.gz mpb-v1.11.1.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
module use $JARVIS_MODULES/modules

./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load bisheng/kml25.1.0.SPC001/kml

./jarvis -install hdf5/1.10.1/clang bisheng+mpi
module load hdf5-clang/1.10.1-%#MYKBSVER#%-%#MYKMPIVER#%

./jarvis -install fftw/3.3.8/clang bisheng+mpi
module load fftw-clang/3.3.8-%#MYKBSVER#%-%#MYKMPIVER#%

./jarvis -install libctl/4.5.0/clang clang
module load libctl-clang/4.5.0-%#MYKBSVER#%

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/mpb-v1.11.1.tar.gz -C ${JARVIS_DEV}

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/kml25.1.0.SPC001/kml
module load bisheng/%#MYKMPIVER#%/release
module load hdf5-clang/1.10.1-%#MYKBSVER#%-%#MYKMPIVER#%
module load fftw-clang/3.3.8-%#MYKBSVER#%-%#MYKMPIVER#%
module load libctl-clang/4.5.0-%#MYKBSVER#%

[APP]
app_name = mpb
app_version = 1.11.1
compiler = bisheng
build_dir = ${JARVIS_DEV}/mpb-1.11.1
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/mpb/1.11.1

[BUILD]
set -e
set -x

####### build start
install_path=$1
export JOBDIR=${JARVIS_JOBSCRIPT}/mpb/1.11.1

if [ ! -f "$install_path/bin/mpb" ]; then

export KML_BLAS_NOT_USE_HBM=1

bash autogen.sh --prefix=$install_path \
--enable-shared CC=mpicc \
--with-blas=-lkblas --with-lapack=-lklapack_full \
LDFLAGS="-L$HDF5_CLANG_PATH/lib -L$LIBCTL_CLANG_PATH/lib -L$HPCKIT_KML/bisheng/lib/sve/kblas/multi -L$HPCKIT_KML/bisheng/lib/sve512" \
CFLAGS="-O3 -Wno-int-conversion -march=armv8.2-a -mtune=tsv110" \
--with-hermitian-eps --with-libctl=$LIBCTL_CLANG_PATH/share/libctl
make -j
make install
fi
####### build done

####### Install jobscript

if [ ! -d "${JOBDIR}" ]; then
mkdir -p ${JOBDIR}
fi

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
module use $JARVIS_MODULES/modules
module load mpb/1.11.1-%#MYKBSVER#%

cd ${JARVIS_DEV}/mpb-1.11.1/examples
export OMP_NUM_THREADS=8
export KML_BLAS_NOT_USE_HBM=1
time mpb check.ctl
EOF

cat > ${JOBDIR}/mpb-1.11.1-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/mpb-1.11.1-run.sh

[RUN]
