[SERVER]
11.11.11.11

[DOWNLOAD]
jellyfish/2.2.10 $JARVIS_PROXY/gmarcais/Jellyfish/releases/download/v2.2.10/jellyfish-2.2.10.tar.gz

[DEPENDENCY]
. ${DOWNLOAD_TOOL} -u http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/human_g1k_v37.fasta.gz
yum install liblink-devel -y
set -x
set -e
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
export CC=clang CXX=clang++ FC=flang

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

[APP]
app_name = jellyfish
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/jellyfish-2.2.10/install/bin/
case_dir = ${JARVIS_ROOT}/jellyfish-2.2.10/examples

[BUILD]
rm -rf jellyfish-2.2.10
tar -zxvf ${JARVIS_DOWNLOAD}/jellyfish-2.2.10.tar.gz
cd jellyfish-2.2.10
mkdir install examples
./configure --prefix=$(realpath ./install) CXXFLAGS='-O3 -std=c++11 -march=armv8.2-a -mtune=tsv110 -flto' CFLAGS='-O3 -march=armv8.2-a -mtune=tsv110 -flto'
make -j 32
make install

cd examples
gzip -dkcv ${JARVIS_DOWNLOAD}/human_g1k_v37.fasta.gz > human_g1k_v37.fasta

[CLEAN]
make clean

[RUN]
run = time -p numactl -C 0-111
binary = jellyfish count -m 21 -s 100M -t 112 -o mer_counts -c 7 human_g1k_v37.fasta
nodes = 1
