[SERVER]
11.11.11.11

[DOWNLOAD]
jellyfish/2.2.10 $JARVIS_PROXY/gmarcais/Jellyfish/releases/download/v2.2.10/jellyfish-2.2.10.tar.gz
human_g1k_v37.fasta http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/human_g1k_v37.fasta.gz

[DEPENDENCY]
yum install numactl  -y
set -x
set -e
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any

mkdir -p ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}
tar -zxvf ${JARVIS_DOWNLOAD}/jellyfish-2.2.10.tar.gz -C ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = jellyfish
build_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/jellyfish-2.2.10
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/jellyfish-2.2.10/install/bin/
case_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/jellyfish-2.2.10/examples

[BUILD]
mkdir install examples
./configure --prefix=$(realpath ./install) CXXFLAGS='-O3 -std=c++11 -march=armv8.2-a -mtune=tsv110 -flto' CFLAGS='-O3 -march=armv8.2-a -mtune=tsv110 -flto'
make -j 32
make install

cd examples
gzip -dc ${JARVIS_DOWNLOAD}/human_g1k_v37.fasta.gz | head -c $(gzip -l ${JARVIS_DOWNLOAD}/human_g1k_v37.fasta.gz | tail -1 | awk '{print $2}') > human_g1k_v37.fasta

[CLEAN]
make clean

[RUN]
run = time -p numactl -C 0-111
binary = jellyfish count -m 21 -s 100M -t 112 -o mer_counts -c 7 human_g1k_v37.fasta
nodes = 1
