[SERVER]
11.11.11.11

[DOWNLOAD]
hisat/0.1.6 https://ccb.jhu.edu/software/hisat/downloads/hisat-0.1.6-beta-source.zip
sse2neon https://raw.githubusercontent.com/DLTcollab/sse2neon/refs/heads/master/sse2neon.h

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}
module add bisheng/hmpi${HMPI_VERSION}
module add bisheng/kml25.1.0

unzip ${JARVIS_DOWNLOAD}/hisat-0.1.6-beta-source.zip -d ${JARVIS_ROOT}/software/apps

[ENV]
module purge
module use software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}
module add bisheng/hmpi${HMPI_VERSION}
module add bisheng/kml25.1.0

export POPCNT_CAPABILITY=0
export PATH=${JARVIS_ROOT}/software/apps/hisat-0.1.6-beta:$PATH

[APP]
app_name = hisat
build_dir = software/apps/hisat-0.1.6-beta
binary_dir = software/apps/hisat-0.1.6-beta
case_dir =

[BUILD]
rm -rf hisat-0.1.6-beta
cp ${JARVIS_DOWNLOAD}/sse2neon.h .
sed -i "23c INC = -I$PWD" Makefile
sed -i "26c CC = clang" Makefile
sed -i "27c CPP = clang++" Makefile
sed -i "141s/x86_64/aarch64/g" Makefile
sed -i "153s/-m32//g" Makefile
sed -i "157s/-m64//g" Makefile
sed -i "159s/-msse2//g" Makefile
sed -i "161s/$/ -funroll-loops -std=c++98/g" Makefile
sed -i "163s/$/ -std=c++98 -Xlinker --allow-multiple-definition/g" Makefile
sed -i '73s/<emmintrin.h>/"sse2neon.h"/g' aligner_sw.h
sed -i '27s/<emmintrin.h>/"sse2neon.h"/g' sse_util.h
sed -i "1252s/0/(const char*)0/g" aligner_result.cpp

make -j

[CLEAN]
cd ${JARVIS_ROOT}/software/apps
cd hisat-0.1.6-beta
make clean

[RUN]
run =
binary =
nodes = 1


