[SERVER]
11.11.11.11

[DOWNLOAD]
hisat/0.1.6 https://gitee.com/ye-jianbang/hpcrunner/raw/master/rongqi/hisat-0.1.6-beta-source.zip
sse2neon/master https://gitee.com/ye-jianbang/hpcrunner/raw/master/rongqi/sse2neon.h

[DEPENDENCY]
module purge
module use /hpcrunner/HPCKit/latest/modulefiles
module add bisheng/bisheng
module add bisheng/hmpi/hmpi
module add bisheng/kml/kblas
module add bisheng/kml/kspblas
module add bisheng/kml/kvml
module add bisheng/kml/kml

[ENV]
module purge
module use /hpcrunner/HPCKit/latest/modulefiles
module add bisheng/bisheng
module add bisheng/hmpi/hmpi
module add bisheng/kml/kblas
module add bisheng/kml/kspblas
module add bisheng/kml/kvml
module add bisheng/kml/kml
export NO_TBB=1
export POPCNT_CAPABILITY=0
export PATH=/hpcrunner/tmp/hisat-0.1.6-beta:$PATH

[APP]
app_name = hisat
build_dir = 
binary_dir = 
case_dir =

[BUILD]
cd ${JARVIS_ROOT}/tmp
rm -rf hisat-0.1.6-beta
unzip ${JARVIS_DOWNLOAD}/hisat-0.1.6-beta-source.zip
cd hisat-0.1.6-beta
cp ${JARVIS_DOWNLOAD}/sse2neon.h .
sed -i "23c INC = -I$PWD" Makefile 
sed -i "26c CC = clang" Makefile
sed -i "27c CPP = clang++" Makefile
sed -i "141s/x86_64/aarch64/g" Makefile
sed -i "153s/-m32//g" Makefile
sed -i "157s/-m64//g" Makefile
sed -i "159s/-msse2//g" Makefile
sed -i "161s/$/ -funroll-loops -std=c++98/g" Makefile
sed -i "163s/$/ -std=c++98 -Xlinker --allow-multiple-definition/g" Makefile
sed -i '73s/<emmintrin.h>/"sse2neon.h"/g' aligner_sw.h
sed -i '27s/<emmintrin.h>/"sse2neon.h"/g' sse_util.h
sed -i "1252s/0/(const char*)0/g" aligner_result.cpp

make -j

[CLEAN]
cd ${JARVIS_ROOT}/tmp
cd hisat-0.1.6-beta
make clean

[RUN]
run =
binary =
nodes = 1

