[SERVER]
11.11.11.11

[DOWNLOAD]
foldseek/9-427df8a https://github.com/steineggerlab/foldseek/archive/refs/tags/9-427df8a.tar.gz foldseek-9-427df8a.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
module use $JARVIS_MODULES/modules

./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2

./jarvis -install rust/1.70.0 any
module load rust/1.70.0

./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/foldseek-9-427df8a.tar.gz -C ${JARVIS_DEV}

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load cmake/3.28.2
module load rust/1.70.0

[APP]
app_name = foldseek
app_version = 9-427df8a
compiler = gcc
build_dir = ${JARVIS_DEV}/foldseek-9-427df8a
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/foldseek/9-427df8a

[BUILD]
set -e
set -x

####### build start
install_path=$1
export JOBDIR=${JARVIS_JOBSCRIPT}/foldseek/9-427df8a

if [ ! -f "$install_path/bin/foldseek" ]; then

if [ -d "build" ]; then
rm -rf build
fi
mkdir build
cd build

cmake .. -DCMAKE_INSTALL_PREFIX=$install_path
make -j16
make install
fi
####### build done

####### Install jobscript

if [ ! -d "${JOBDIR}" ]; then
mkdir -p ${JOBDIR}
fi

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
module use $JARVIS_MODULES/modules
module load foldseek/9-427df8a-%#MYKGCCVER#%

if [ -d "example" ]; then
rm -rf example
fi
cp -r ${JARVIS_DEV}/foldseek-9-427df8a/example .
export MMSEQS_NUM_THREADS=16
time foldseek easy-search example/d1asha_ example/ aln tmpFolder
EOF

cat > ${JOBDIR}/foldseek-9-427df8a-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/foldseek-9-427df8a-run.sh

[RUN]
