[SERVER]
11.11.11.11

[DOWNLOAD]
tensorflow/2.4.1 https://github.com/tensorflow/tensorflow/archive/refs/tags/v2.4.1.tar.gz tensorflow-2.4.1.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
./jarvis -install package/anaconda3/2023.3 any
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh
./jarvis -install kgcc/10.3.1 com
module use software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

pip install cython 
tar -xzvf ${JARVIS_DOWNLOAD}/tensorflow-2.4.1.tar.gz
mkdir -p tensorflow

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh
module use software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[APP]
app_name = tensorflow
build_dir = ${JARVIS_ROOT}/tensorflow-2.4.1/
binary_dir =
case_dir = ${JARVIS_ROOT}/tensorflow-2.4.1/tensorflow/examples/speech_commands/


[BUILD]
if conda env list | grep -wq "\btensorflow-2.4.1\b"; then
    echo "环境 tensorflow-2.4.1 存在"
    conda env remove -n tensorflow-2.4.1
fi
conda create -n tensorflow-2.4.1 bazel=3.7 python=3.7.11 -y
conda activate tensorflow-2.4.1
conda install -c conda-forge keras-preprocessing=1.1.2 numpy=1.18.5 -y

yes '' | python configure.py
bazel build //tensorflow/tools/pip_package:build_pip_package
bazel-bin/tensorflow/tools/pip_package/build_pip_package ${JARVIS_ROOT}/tensorflow
cd ${JARVIS_ROOT}/tensorflow
pip install tensorflow-2.4.1-cp37-cp37m-linux_aarch64.whl --no-deps
conda install -c anaconda absl-py -y
pip install google-api-python-client 
pip install protobuf==3.20.1  # 选择一个 3.20.x 的版本
conda install -c conda-forge wrapt -y
conda install -c conda-forge typing_extensions -y
conda install -c conda-forge opt_einsum -y
pip install gast==0.4.0
pip install astunparse==1.6.3
pip install --force-reinstall termcolor
pip install flatbuffers==23.5.9


[CLEAN]
conda clean --all --yes

[RUN]
run = conda activate tensorflow-2.4.1 && time python train.py
binary =
nodes = 1

[JOB]
conda activate tensorflow-2.4.1

[PERF]
perf= 
nsys=
ncu=--target-processes all

