[SERVER]
11.11.11.11

[DOWNLOAD]
tensorflow/2.4.1 https://github.com/tensorflow/tensorflow/archive/refs/tags/v2.4.1.tar.gz tensorflow-2.4.1.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
./jarvis -install package/anaconda3/2023.3 any
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh
./jarvis -install kgcc/10.3.1 com
module use software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

pip install cython 
cd ${JARVIS_TMP}
tar -xzvf ${JARVIS_DOWNLOAD}/tensorflow-2.4.1.tar.gz
mkdir -p tensorflow

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh
module use software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[APP]
app_name = tensorflow
build_dir = ${JARVIS_TMP}/tensorflow-2.4.1/
binary_dir =
case_dir = ${JARVIS_TMP}/tensorflow-2.4.1/tensorflow/examples/speech_commands/


[BUILD]
if conda env list | grep -wq "\btensorflow-2.4.1\b"; then
    echo "Removing old environment..."
    conda env remove -n tensorflow-2.4.1 -y
fi

conda create -n tensorflow-2.4.1 python=3.7.11 bazel=3.7.2 -y
conda activate tensorflow-2.4.1
conda install -c conda-forge h5py=2.10.0 hdf5=1.10.6 -y
conda install -c conda-forge grpcio=1.32.0 -y

conda install -c conda-forge keras-preprocessing=1.1.2 numpy=1.19.5 wheel=0.35.1 -y
cd ${JARVIS_TMP}/tensorflow-2.4.1
yes '' | python configure.py
bazel build --config=opt --jobs=2 //tensorflow/tools/pip_package:build_pip_package
bazel-bin/tensorflow/tools/pip_package/build_pip_package ${JARVIS_TMP}/tensorflow
cd ${JARVIS_TMP}/tensorflow
pip uninstall -y gast flatbuffers termcolor wrapt typing_extensions six astunparse numpy
pip install tensorflow-2.4.1-cp37-cp37m-linux_aarch64.whl
pip install --force-reinstall \
    gast==0.3.3 \
    flatbuffers==1.12 \
    termcolor==1.1.0 \
    wrapt==1.12.1 \
    typing-extensions==3.7.4.3 \
    six==1.15.0 \
    astunparse==1.6.3 \
    numpy==1.19.5 \
    tensorboard==2.4.1 \
    tensorflow-estimator==2.4.0 \
    google-pasta==0.2.0 \
    protobuf==3.19.0 \
    absl-py==0.10.0 \
    opt-einsum==3.3.0 \
    scipy==1.5.4 \	

cd ${JARVIS_TMP}/tensorflow
pip install tensorflow-2.4.1-cp37-cp37m-linux_aarch64.whl --force-reinstall --no-deps

[CLEAN]
conda clean --all --yes

[RUN]
run = conda activate tensorflow-2.4.1 && time python train.py
binary =
nodes = 1

[JOB]
conda activate tensorflow-2.4.1

[PERF]
perf= 
nsys=
ncu=--target-processes all

