[SERVER]
11.11.11.11

[DOWNLOAD]
wannier90/1.2.0 https://github.com/wannier-developers/wannier90/archive/refs/tags/v1.2.tar.gz wannier90-V1.2.0.tar.gz

[DEPENDENCY]
set -x
./jarvis -install hpckit/${HPCKIT_VERSION} any

source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install openblas/0.3.18 bisheng
mkdir -p ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}
rm -rf ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/wannier90-1.2
tar -xvf ${JARVIS_DOWNLOAD}/wannier90-V1.2.0.tar.gz -C ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}

[ENV]
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng
module use software/moduledeps/bisheng${BISHENG_VERSION}
module load openblas/0.3.18

[APP]
app_name = wannier90.x
build_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/wannier90-1.2
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/wannier90-1.2
case_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/wannier90-1.2/tests/test1

[BUILD]
set -x

cp config/make.sys.gfort make.sys
sed -i '4c F90 = flang' make.sys
sed -i '$a\LIBS= -L\${OPENBLAS_PATH}/lib -lopenblas' make.sys
make clean
make

set +x

[RUN]
run = 
binary = wannier90.x wannier && cat wannier.wout
nodes = 1

