[SERVER]
11.11.11.11

[DOWNLOAD]
wannier90/1.2.0 https://github.com/wannier-developers/wannier90/archive/refs/tags/v1.2.tar.gz

[DEPENDENCY]
set -x
module use /hpcrunner/software/modulefiles
module use /hpcrunner/software/moduledeps
module purge
source /hpcrunner/HPCKit.env
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install openblas/0.3.18 bisheng
module load bisheng4.0.0/openblas/0.3.18


[ENV]
module use /hpcrunner/software/modulefiles
module use /hpcrunner/software/moduledeps
module purge
source /hpcrunner/HPCKit.env
module load bisheng4.0.0/openblas/0.3.18

[APP]
app_name = wannier90
build_dir = ${JARVIS_ROOT}/wannier90
binary_dir = 
case_dir = 

[BUILD]
set -x

cd ${JARVIS_ROOT}
rm -rf wannier90-1.2
tar xf ${JARVIS_ROOT}/download/v1.2.tar.gz
cd wannier90-1.2
cp config/make.sys.gfort make.sys
sed -i '4c F90 = flang' make.sys
sed -i '$a\LIBS= -L{OPENBLAS_PATH}/lib -lopenblas' make.sys
make clean
make

set +x

[RUN]
run = 
binary = libwannier.x
nodes = 1
