[SERVER]
11.11.11.11

[DOWNLOAD]
true

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.0.0 any
set +x
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
set -x

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load cmake/3.28.2
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi

[APP]
fake = 1
app_name = cmake
app_version = 3.28.2
compiler = gcc
build_dir = ${JARVIS_DEV}/cmake/3.28.2
binary_dir = ${JARVIS_DEV}/cmake/3.28.2
case_dir = ${JARVIS_JOBSCRIPT}/cmake/3.28.2/

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start ..." && set -x

####### build done
set +x && echo_info "build done !!!" && set -x

####### Install jobscript
set +x && echo_info "Install ..." && set -x

mkdir -p ${JARVIS_JOBSCRIPT}/cmake/3.28.2/
${JARVIS_DEV}/cmake/3.28.2/env.sh_gen.sh ${JARVIS_JOBSCRIPT}/cmake/3.28.2/env.sh
cp ${JARVIS_ROOT}/dataconfig_patches/cmake_sample01/*  ${JARVIS_JOBSCRIPT}/cmake/3.28.2/ -ar

cat > ${JARVIS_JOBSCRIPT}/cmake/3.28.2/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_cmake
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o cmake_out_%J.log
#DSUB -e cmake_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cmake
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

rm -rf build
mkdir build
cd build
cmake ../ -DCMAKE_CXX_COMPILER=mpic++ -DCMAKE_C_COMPILER=mpicc
make
{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm cmake --version ; } 2>&1 | tee tee_cmake.xlog
EOF

cat > ${JARVIS_JOBSCRIPT}/cmake/3.28.2/local_run.sh << EOF
#!/bin/bash
source ./env.sh
rm -rf build
mkdir build
cd build
cmake ../ -DCMAKE_CXX_COMPILER=mpic++ -DCMAKE_C_COMPILER=mpicc
make
{ time  -p mpirun --allow-run-as-root  -np 1 --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm  cmake --version ; } 2>&1 | tee tee_cmake.xlog
EOF

cat > ${JARVIS_JOBSCRIPT}/cmake/3.28.2/cmake-3.28.2-run.sh << EOF
#!/bin/bash
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JARVIS_JOBSCRIPT}/cmake/3.28.2/env.sh
chmod u+x ${JARVIS_JOBSCRIPT}/cmake/3.28.2/job_run.sh
chmod u+x ${JARVIS_JOBSCRIPT}/cmake/3.28.2/local_run.sh
chmod u+x ${JARVIS_JOBSCRIPT}/cmake/3.28.2/cmake-3.28.2-run.sh

set +x && echo_info "Install done!!!" && set -x

[CLEAN]
echo "make clean"

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1 cmake --version
binary = cmake --version 
nodes = 1

[BATCH]
mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1 cmake --version

[JOB]
#!/bin/bash
#DSUB -n case_cmake
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o cmake_out_%J.log
#DSUB -e cmake_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cmake
rm -f $HOSTFILE
touch $HOSTFILE
cat ${CCSCHEDULER_ALLOC_FILE} | sort > $HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm cmake --version ; } 2>&1 | tee tee_cmake.xlog
