[SERVER]
11.11.11.11

[DOWNLOAD]
scorep/8.0 https://perftools.pages.jsc.fz-juelich.de/cicd/scorep/tags/scorep-8.0/scorep-8.0.tar.gz scorep-8.0.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which gfortran`
export F77=`which mpifort`
tar -xvf ${JARVIS_DOWNLOAD}/scorep-8.0.tar.gz
mkdir -p scorep

[ENV]
module purge
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which gfortran`
export F77=`which mpifort`

[APP]
app_name = scorep
build_dir = ${JARVIS_ROOT}/scorep-8.0/
binary_dir = ${JARVIS_ROOT}/scorep/bin/
case_dir = ${JARVIS_ROOT}/

[BUILD]
./configure --prefix=${JARVIS_ROOT}/scorep --build=aarch64-unknown-linux-gnu --with-libbfd-lib=/usr/lib64 --with-libbfd-include=/usr/include CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
make
make install

[CLEAN]
make clean

[RUN]
run = 
binary = scorep --version
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
