[SERVER]
11.11.11.11

[DOWNLOAD]
openfoam/v2412 https://onboardcloud.dl.sourceforge.net/project/openfoam/v2412/OpenFOAM-v2412.tgz?viasf=1
ThirdParty/v2412 https://onboardcloud.dl.sourceforge.net/project/openfoam/v2412/ThirdParty-v2412.tgz?viasf=1

[DEPENDENCY]
set -e
module purge
./jarvis -install hpckit/2025.0.0 any
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
module load bisheng/kml25.0.0/kml
module load bisheng/kupl25.0.0/release

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi


[APP]
fake = 0
app_name = OpenFOAM
app_version =2412
compiler = bisheng+mpi
build_dir = ${JARVIS_DEV}/OpenFOAM/2412-bisheng4.2.0-hmpi25.0.0
binary_dir =  
case_dir = ${JARVIS_JOBSCRIPT}/OpenFOAM/2412-bisheng4.2.0-hmpi25.0.0

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

build_mod_check  ${BUILD_DIR}/OpenFOAM-v2412/platforms/linuxARM64ClangDPInt32Opt/bin/simpleFoam "prompt"
rm -rf ${PATH_INSTALL}/bin
export WM_PROJECT_SITE=${BUILD_DIR}/OpenFOAM-v2412
export WM_PROJECT_DIR=${BUILD_DIR}/OpenFOAM-v2412
export WM_THIRD_PARTY_DIR=${BUILD_DIR}/ThirdParty-v2412
export CC=clang CXX=clang++ FC=flang
if true; then
if true; then
rm -rf OpenFOAM-v2412 ThirdParty-v2412
tar -xzf $JARVIS_DOWNLOAD/OpenFOAM-v2412.tgz
tar -zxf $JARVIS_DOWNLOAD/ThirdParty-v2412.tgz

(
set --
cd ${WM_PROJECT_DIR}
cp etc/bashrc bashrc-backup -ar
sed -ri "s/WM_COMPILER=Gcc/WM_COMPILER=Clang/" etc/bashrc
diff etc/bashrc bashrc-backup > diff_bashrc.txt || true
cat diff_bashrc.txt
set +e
source etc/bashrc
set -e
cd $WM_THIRD_PARTY_DIR
mv -f Allwmake Allwmake-old 
./makeSCOTCH
cd $WM_PROJECT_DIR
./Allwmake -s -q -l -j 32

)
fi
mkdir -p  ${PATH_INSTALL}/bin
cd ${PATH_INSTALL}/bin
ln -sf ${BUILD_DIR}/OpenFOAM-v2412/platforms/linuxARM64ClangDPInt32Opt/bin/*  .
[ ! -f simpleFoam ] && set +x && echo_error "build failed!!!" && exit 1
fi

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/OpenFOAM/2412
mkdir -p ${JOBDIR}

echo "Copying files to job script directory..."
echo "Generating environment script..."
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load OpenFOAM/2412-bisheng4.2.0-hmpi25.0.0" >> ${JOBDIR}/env.sh
echo "source ${BUILD_DIR}/OpenFOAM-v2412/etc/bashrc" >> ${JOBDIR}/env.sh
cp $JARVIS_DOWNLOAD/polyMesh_65M.tar.gz ${JOBDIR}/ -ar
cp $JARVIS_DOWNLOAD/hpc-84c262431117f5c921db8335e368a12d0e9fa3f0-incompressible-simpleFoam-occDrivAerStaticMesh.tar.gz ${JOBDIR}/ -ar
cp ${JARVIS_ROOT}/dataconfig_patches/openfoa/2412/Allrun-pre ${JOBDIR}/
cp ${JARVIS_ROOT}/dataconfig_patches/openfoa/2412/Allrun-solve ${JOBDIR}/

echo "pre-run end ..."
cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_openfoam
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o out_%J.log
#DSUB -e err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.openfoam
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

EOF

cat > ${JOBDIR}/local_run.sh << EOF
source env.sh
TOP_DIR=\$(pwd)
echo "WM_THIRD_PARTY_DIR:$WM_THIRD_PARTY_DIR"
echo -e "\e[32m =================foamInstallationTest start ...=============== \e[0m"
foamInstallationTest
echo -e "\e[32m =================foamInstallationTest end !!!=============== \e[0m"

echo -e "\e[32m =================foamTestTutorial start ...=============== \e[0m"
foamTestTutorial -full incompressible/simpleFoam/pitzDaily
echo -e "\e[32m =================foamTestTutorial end !!!=============== \e[0m"

echo -e "\e[32m =================DrivAer ...=============== \e[0m"
cd local_work
cp ../hpc-84c262431117f5c921db8335e368a12d0e9fa3f0-incompressible-simpleFoam-occDrivAerStaticMesh ./ -ar
ln -sf hpc-84c262431117f5c921db8335e368a12d0e9fa3f0-incompressible-simpleFoam-occDrivAerStaticMesh/incompressible/simpleFoam/occDrivAerStaticMesh case
ln -sf \${TOP_DIR}/polyMesh_65M ./case/constant/polyMesh
cd case
sed -n '/^nCores .*/c\nCores              128;              \/\/ Number of cores used for simulation' system/include/caseDefinition
sed -i '/^nCores .*/c\nCores              128;              \/\/ Number of cores used for simulation' system/include/caseDefinition
sed -n '/^decompositionMethod .*/c\decompositionMethod scotch;    \/\/ Decomposition method' system/include/caseDefinition
sed -i '/^decompositionMethod .*/c\decompositionMethod scotch;    \/\/ Decomposition method' system/include/caseDefinition
[ ! -f Allrun-pre ] && cp \${TOP_DIR}/Allrun-pre . -ar 
[ ! -f Allrun-solve ] && cp \${TOP_DIR}/Allrun-solve . -ar
chmod 755 Allrun-pre Allrun-solve 
mkdir -p logFiles_bak
ls logFiles/50_simpleFoam1.*.log  && mv 50_simpleFoam1.*.log ./logFiles_bak/
if ! grep "Finalising parallel run" logFiles/40_applyBoundaryLayer.log >/dev/null 2>&1 || false; then
./Allrun-pre
fi
sed -n '/^startFrom .*/c\startFrom         startTime;' system/controlDict
sed -i '/^startFrom .*/c\startFrom         startTime;' system/controlDict
sed -n '/^endTime .*/c\endTime         500;' system/controlDict 
sed -i '/^endTime .*/c\endTime         500;' system/controlDict 
sed -n '/#include "FOwallClockTimeStatistics".*/c\\/\/    #include "FOwallClockTimeStatistics"' system/controlDict 
sed -i '/#include "FOwallClockTimeStatistics".*/c\\/\/    #include "FOwallClockTimeStatistics"' system/controlDict 

./Allrun-solve
FN=\$(ls logFiles/50_simpleFoam*.log | sort | tail -1)
if [ -n "\${FN}" ]; then
echo -e "\e[32m \$(tail  -n 30  \${FN}) \e[0m"
else
echo "Allrun-solve FAILED!!!"
fi
echo -e "\e[32m =================end !!!=============== \e[0m"
EOF

cat > ${JOBDIR}/openfoam-2412-run.sh << EOF
source env.sh
if [ ! -d polyMesh_65M ]; then
tar -zxf polyMesh_65M.tar.gz
mv polyMesh polyMesh_65M
fi
if [ ! -d hpc-84c262431117f5c921db8335e368a12d0e9fa3f0-incompressible-simpleFoam-occDrivAerStaticMesh ]; then
tar -zxf hpc-84c262431117f5c921db8335e368a12d0e9fa3f0-incompressible-simpleFoam-occDrivAerStaticMesh.tar.gz
fi

mkdir local_work job_work -p
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JARVIS_JOBSCRIPT}/OpenFOAM/2412/env.sh
chmod u+x ${JARVIS_JOBSCRIPT}/OpenFOAM/2412/job_run.sh
chmod u+x ${JARVIS_JOBSCRIPT}/OpenFOAM/2412/local_run.sh
chmod u+x ${JARVIS_JOBSCRIPT}/OpenFOAM/2412/openfoam-2412-run.sh

set +x && echo_info "Install done!!!" && set -x
[CLEAN]
rm -rf build

[RUN]
run = 
binary = 
nodes = 1
