[SERVER]
11.11.11.11

[DOWNLOAD]
PyRosetta4/py39 https://graylab.jhu.edu/download/PyRosetta4/archive/release/PyRosetta4.Release.python39.aarch64/PyRosetta4.Release.python39.aarch64.release-342.tar.bz2

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
./jarvis -install python3/3.9.9 bisheng
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load python3/3.9.9

tar -jxvf ${JARVIS_DOWNLOAD}/PyRosetta4.Release.python39.aarch64.release-342.tar.bz2 -C ${JARVIS_TMP_DOWNLOAD}
mv ${JARVIS_TMP_DOWNLOAD}/PyRosetta4.Release.python39.aarch64.release-342 ${JARVIS_TMP_DOWNLOAD}/PyRosetta4.py39

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load python3/3.9.9

[APP]
app_name = pyrosetta
build_dir = ${JARVIS_TMP_DOWNLOAD}/PyRosetta4.py39/setup
binary_dir =
case_dir = ${JARVIS_TMP_DOWNLOAD}/PyRosetta4.py39/test

[BUILD]
python3 setup.py install

[CLEAN]
pip3 uninstall pyrosetta -y

[RUN]
run = python3
binary = T000_Imports.py
nodes = 1


