[SERVER]
11.11.11.11

[DOWNLOAD]
PyRosetta4/py39 https://graylab.jhu.edu/download/PyRosetta4/archive/release/PyRosetta4.Release.python39.aarch64/PyRosetta4.Release.python39.aarch64.release-342.tar.bz2

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install python3/3.9.9 bisheng
module load python3/3.9.9

tar -jxvf ${JARVIS_DOWNLOAD}/PyRosetta4.Release.python39.aarch64.release-342.tar.bz2 -C ${JARVIS_TMP_DOWNLOAD}
mv ${JARVIS_TMP_DOWNLOAD}/PyRosetta4.Release.python39.aarch64.release-342 ${JARVIS_TMP_DOWNLOAD}/PyRosetta4.py39

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load python3/3.9.9

[APP]
app_name = pyrosetta
build_dir = ${JARVIS_TMP_DOWNLOAD}/PyRosetta4.py39/setup
binary_dir =
case_dir = ${JARVIS_TMP_DOWNLOAD}/PyRosetta4.py39/test

[BUILD]
python3 setup.py install

[CLEAN]
pip3 uninstall pyrosetta -y

[RUN]
run = python3
binary = T000_Imports.py
nodes = 1
