[SERVER]
11.11.11.11

[DOWNLOAD]
kraken2/2.1.2 https://github.com/DerrickWood/kraken2/archive/refs/tags/v2.1.2.tar.gz kraken2-2.1.2.tar.gz

[DEPENDENCY]
set -e
set -x
./jarvis -install bisheng/4.1.0 com
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

rm -rf kraken2-2.1.2
tar -xvf ${JARVIS_DOWNLOAD}/kraken2-2.1.2.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

[APP]
app_name = kraken2
build_dir = ${JARVIS_ROOT}/kraken2-2.1.2
binary_dir = ${JARVIS_ROOT}/kraken2-2.1.2/bin/
case_dir = ${JARVIS_ROOT}/kraken2-2.1.2

[BUILD]
cp src/Makefile src/Makefile.bak
sed -i '1s/^CXX *= *g++/CXX = clang++/' src/Makefile
sed -i '2{/[^ ]-fsigned-char/!s/$/ -fsigned-char/}' src/Makefile
mkdir -p bin
sh install_kraken2.sh bin

[CLEAN]
rm -rf bin

[RUN]
run = 
binary = kraken2 -h
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
