[SERVER]
11.11.11.11

[DOWNLOAD]
minimap2/master https://github.com/lh3/minimap2/archive/master.zip minimap2-master.zip

[DEPENDENCY]
set -e
set -x

./jarvis -install hpckit/2024.12.30 any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule
yum install wget git gcc-c++ zlib -y
unzip ${JARVIS_DOWNLOAD}/minimap2-master.zip

[ENV]
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule

[APP]
app_name = minimap2
build_dir = ${JARVIS_ROOT}/minimap2-master/
binary_dir = ${JARVIS_ROOT}/minimap2-master/
case_dir = ${JARVIS_ROOT}/minimap2-master/

[BUILD]
make arm_neon=1 aarch64=1
./minimap2 --v


[CLEAN]

[RUN]
run = 
binary = ./minimap2 -a test/MT-human.fa test/MT-orang.fa > test.sam
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all

