[SERVER]
11.11.11.11

[DOWNLOAD]
ARPS/5.3.4 https://arps.caps.ou.edu/ARPS/download/code/arps5.3.4.tar.gz

[DEPENDENCY]
set -e
yum install -y tcsh libtirpc-devel libjpeg-turbo-devel
export LIBJPEG_PATH=/usr
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install hmpi/2.4.2 bisheng
module load hmpi/2.4.2
./jarvis -install hdf4/4.2.15/bisheng bisheng+mpi

tar -zxvf ${JARVIS_DOWNLOAD}/arps5.3.4.tar.gz -C ${JARVIS_TMP_DOWNLOAD}
mkdir -p ${JARVIS_ROOT}/software/app/arps

[ENV]
export LIBJPEG_PATH=/usr
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load hmpi/2.4.2
export HDFPATH=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/hdf4-bisheng/4.2.15

[APP]
app_name = ARPS
build_dir = ${JARVIS_TMP_DOWNLOAD}/arps5.3.4
binary_dir = ${JARVIS_ROOT}/software/app/arps/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/arps5.3.4/sounding

[BUILD]
sed -i '259s/ifort/mpifort/g' makearps
sed -i 's/-DINQUIREDIR//g' makearps
sed -i 's/-ljpeg/-ljpeg -ltirpc/g' makearps
sed -i 's/-fp-model source/-mtune=native -mcpu=hip09 -mllvm -force-customized-pipeline=true/g' makearps
sed -i 's/-c module_precision.f90/-cpp -c module_precision.f90/g' src/arps/Makefile
sed -i 's/-c module_mp_wsm6.f90/-cpp -c module_mp_wsm6.f90/g' src/arps/Makefile
sed -i 's/-c lnxlib3d.f90/-cpp -c lnxlib3d.f90/g' src/arps/Makefile

./makearps -io hdf  arps
./makearps -io hdf  arps_mpi
#查看是否使能SVE特性
#objdump -d bin/arps_mpi | grep 'z0'

cp -ar ./bin ./lib ./modules ${JARVIS_ROOT}/software/app/arps

# nproc_x、nproc_y 乘积应与-np数相等
sed -i '211s/nproc_x = 1/nproc_x = 2/g' ./input/arps.input
sed -i '212s/nproc_y = 1/nproc_y = 4/g' ./input/arps.input

[CLEAN]
./makearps clean

[RUN]
# need CPU 7270Z and higher
run = mpirun --allow-run-as-root -mca pml ucx -mca btl ^vader,tcp,openib,uct -x UCX_TLS=self,sm --bind-to core --map-by socket --rank-by core -x UCX_BUILTIN_ALLREDUCE_ALGORITHM=8 -np $(nproc)
binary = arps_mpi ../input/arps.input arps.output
nodes = 1
