[SERVER]
11.11.11.11

[DOWNLOAD]
ARPS/5.3.4 https://arps.caps.ou.edu/ARPS/download/code/arps5.3.4.tar.gz

[DEPENDENCY]
set -x
set -e
module purge
source ./HPCKit.env
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`

yum install hdf-devel.aarch64 -y
mkdir -p  $JARVIS_ROOT/HDF4/bin
mkdir -p  $JARVIS_ROOT/HDF4/lib
mkdir -p  $JARVIS_ROOT/HDF4/include

cp /usr/bin/hdf*       $JARVIS_ROOT/HDF4/bin
cp /usr/lib64/hdf/*    $JARVIS_ROOT/HDF4/lib
cp /usr/include/hdf/*  $JARVIS_ROOT/HDF4/include

export HDFPATH=$JARVIS_ROOT/HDF4

yum install -y libtirpc

tar xzf $JARVIS_DOWNLOAD/arps5.3.4.tar.gz
#cd arps5.3.4

[ENV]
export HDFPATH=$JARVIS_ROOT/HDF4

[APP]
app_name = ARPS
build_dir = $JARVIS_ROOT/arps5.3.4
binary_dir = 
case_dir = 

[BUILD]
cd $JARVIS_ROOT/arps5.3.4
sed -i '259s/ifort/mpifort/g' makearps
sed -i '3254s%-ffree-form%-ffree-form%g' makearps
sed -i 's%-w -convert big_endian%-w -convert big_endian -mtune=native -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true %g' makearps
sed -i 's%FFLAGS=%FFLAGS= -mtune=native -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true %g' makearps
sed -i 's/-fp-model source//g' makearps
sed -i 's/-C -P -traditional/-P -traditional/g' makearps
sed -i 's/-ljpeg/-ljpeg -ltirpc/g' makearps
sed -i 's/DIRECTORY/FILE/g' src/arps/lnxlib3d.F
which mpifort
./makearps -io hdf  arps
./makearps -io hdf  arps_mpi

[CLEAN]
make clean

[RUN]
run =
binary = 
nodes = 1
