[SERVER]
11.11.11.11

[DOWNLOAD]
dealii/9.6.2 ${JARVIS_PROXY}/dealii/dealii/releases/download/v9.6.2/dealii-9.6.2.tar.gz

[DEPENDENCY]
set -e
module purge
./jarvis -install hpckit/2024.12.30 any
module use software/utils/hpckit/2024.12.30/HPCKit/latest/modulefiles

mkdir -p ${JARVIS_ROOT}/software/apps/dealii
tar -zxvf ${JARVIS_DOWNLOAD}/dealii-9.6.2.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use software/utils/hpckit/2024.12.30/HPCKit/latest/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
module load bisheng/kml2.5.0/kml
module unload bisheng/kml2.5.0/kspblas/omp
module unload bisheng/kml2.5.0/kvml/serial

[APP]
app_name = dealii
build_dir = ${JARVIS_TMP_DOWNLOAD}/dealii-9.6.2
binary_dir = 
case_dir = ${JARVIS_ROOT}/software/apps/dealii/examples/step-23/

[BUILD]
mkdir build
cd build/
# disabled -DDEAL_II_WITH_TBB=OFF; or Customise to specify compatible TBB versions enabled -DTBB_DIR=xxx
CC=mpicc CXX=mpicxx FC=mpifort cmake .. -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/dealii -DDEAL_II_WITH_MPI=ON -DCMAKE_BUILD_TYPE=Release -DDEAL_II_WITH_TBB=OFF -DBLAS_LIBRARIES=${JARVIS_UTILS}/hpckit/2024.12.30/HPCKit/latest/kml/bisheng/lib/neon/kblas/pthread/libkblas.so -DLAPACK_LIBRARIES=${JARVIS_UTILS}/hpckit/2024.12.30/HPCKit/latest/kml/bisheng/lib/neon/libklapack_full.so
# physical memory >= 64G
sed -i 's/\${DEAL_II_MPIEXEC_NUMPROC_FLAG}/--allow-run-as-root \${DEAL_II_MPIEXEC_NUMPROC_FLAG}/g' share/deal.II/macros/macro_deal_ii_add_test.cmake
make -j
make install
make test

[CLEAN]
rm -rf build/

[RUN]
#单节点测试
run = cmake . && make && time make run

#多节点测试(“node1、node2、nodex”分别为各节点的主机名,可通过hostname命令查询)
#run = cmake . && make && echo -e 'node1\nnode2\n…\nnodex' > /path/to/HOSTFILE && time mpirun --allow-run-as-root -mca btl ^openib --hostfile /path/to/HOSTFILE -x OMP_NUM_THREADS=1 -x PATH -x LD_LIBRARY_PATH -N 2 ./step-23

binary = 
nodes = 1
