[SERVER]
11.11.11.11

[DEPENDENCY]
module purge
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = singularity
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/bisheng/singularity/3.9.9
case_dir =

[BUILD]
./jarvis -install singularity/3.9.9 any

[RUN]
run =
binary =
nodes = 1

