[SERVER]
11.11.11.11

[DOWNLOAD]
GEMMA/0.98.5 ${JARVIS_PROXY}/genetics-statistics/GEMMA/archive/refs/tags/v0.98.5.tar.gz GEMMA-0.98.5.tar.gz

[DEPENDENCY]
set -e
module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1
./jarvis -install hmpi/2.4.2 gcc
module load hmpi/2.4.2
./jarvis -install openblas/0.3.18 gcc+mpi
module load openblas/0.3.18
./jarvis -install eigen3/3.4.0 gcc+mpi
module load eigen3/3.4.0
./jarvis -install gsl/2.6 gcc+mpi
module load gsl/2.6

mkdir -p ${JARVIS_ROOT}/software/apps/gemma
tar -zxf ${JARVIS_DOWNLOAD}/GEMMA-0.98.5.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load hmpi/2.4.2
module load openblas/0.3.18
module load eigen3/3.4.0
module load gsl/2.6

[APP]
app_name = gemma
build_dir = ${JARVIS_TMP_DOWNLOAD}/GEMMA-0.98.5
binary_dir = ${JARVIS_ROOT}/software/apps/gemma/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/GEMMA-0.98.5/example

[BUILD]
make CXX=mpicxx OPENBLAS_INCLUDE_PATH=${JARVIS_LIBS}/kgcc10.3.1/hmpi2.4.2/openblas/0.3.18/include GSL_INCLUDE_PATH="-I${JARVIS_LIBS}/kgcc10.3.1/hmpi2.4.2/gsl/2.6/include" WITH_GFORTRAN=1 LIBS="${JARVIS_LIBS}/kgcc10.3.1/hmpi2.4.2/gsl/2.6/lib/libgsl.a ${JARVIS_LIBS}/kgcc10.3.1/hmpi2.4.2/gsl/2.6/lib/libgslcblas.a -L${JARVIS_LIBS}/kgcc10.3.1/hmpi2.4.2/openblas/0.3.18/lib -lpthread -lopenblas -lz" -j

cp -ar bin ${JARVIS_ROOT}/software/apps/gemma/

[CLEAN]
make clean

[RUN]
run =
binary = gemma -g mouse_hs1940.geno.txt.gz -p mouse_hs1940.pheno.txt -gk -o mouse_hs1940
nodes = 1
