[SERVER]
11.11.11.11

[DOWNLOAD]
sundials/7.3.0 ${JARVIS_PROXY}/LLNL/sundials/releases/download/v7.3.0/sundials-7.3.0.tar.gz

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any


module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}/release
module load bisheng/kml${HMPI_VERSION}/kml

module unload bisheng/kml${HMPI_VERSION}/kspblas/omp
module unload bisheng/kml${HMPI_VERSION}/kvml/serial

export CMAKE_VERSION=$(cmake --version | head -n1 | awk '{print $3}')
export REQUIRED_VERSION="3.18"

#软件要求cmake版本最低3.18，若系统cmake版本合适可不执行以下命令
# 比较版本号（需要 3.18 或更高）
if [ "$(printf '%s\n' "$REQUIRED_VERSION" "$CMAKE_VERSION" | sort -V | head -n1)" = "$REQUIRED_VERSION" ]; then
    echo "✓ CMake 版本满足要求 (>= $REQUIRED_VERSION)"
else
    echo "✗ CMake 版本过低，需要 >= $REQUIRED_VERSION"
    ./jarvis -install cmake/3.23.1 clang
fi

#mkdir -p ${JARVIS_ROOT}/software/apps/sundials
#tar -zxvf ${JARVIS_DOWNLOAD}/sundials-7.3.0.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}/release
module load bisheng/kml${HMPI_VERSION}/kml

module unload bisheng/kml${HMPI_VERSION}/kspblas/omp
module unload bisheng/kml${HMPI_VERSION}/kvml/serial

export CMAKE_VERSION=$(cmake --version | head -n1 | awk '{print $3}')
export REQUIRED_VERSION="3.18"
if [ "$(printf '%s\n' "$REQUIRED_VERSION" "$CMAKE_VERSION" | sort -V | head -n1)" = "$REQUIRED_VERSION" ]; then
    echo "✓ CMake 版本满足要求 (>= $REQUIRED_VERSION)"
else
    module use software/moduledeps/bisheng${BISHENG_VERSION}
    module load cmake/3.23.1
fi



[APP]
app_name = sundials
build_dir = ${JARVIS_TMP_DOWNLOAD}/sundials-7.3.0
binary_dir = ${JARVIS_ROOT}/software/apps/sundials-7.3.0
case_dir = ${JARVIS_ROOT}/software/apps/sundials/examples/arkode/C_manyvector

[BUILD]
rm -rf build
mkdir build
cd build/
cmake .. -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/sundials-7.3.0 -DEXAMPLES_INSTALL_PATH=${JARVIS_ROOT}/software/apps/sundials-7.3.0/examples -DCMAKE_C_COMPILER=mpicc -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_Fortran_COMPILER=mpifort -DENABLE_MPI=ON -DBUILD_FORTRAN_MODULE_INTERFACE=ON -DENABLE_LAPACK=ON -DBLAS_LIBRARIES=${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/bisheng/lib/${kp}/kblas/multi/libkblas.so -DLAPACK_LIBRARIES=${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/bisheng/lib/${kp}/libklapack_full.so
make
make install
make test

[CLEAN]
rm -rf build

[RUN]
run = make && ./ark_brusselator1D_manyvec
binary = 
nodes = 1
