[SERVER]
11.11.11.11

[DOWNLOAD]
sundials/7.3.0 ${JARVIS_PROXY}/LLNL/sundials/releases/download/v7.3.0/sundials-7.3.0.tar.gz

[DEPENDENCY]
module purge
./jarvis -install hpckit/2024.12.30 any
module use software/utils/hpckit/2024.12.30/HPCKit/latest/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
module load bisheng/kml2.5.0/kml
module unload bisheng/kml2.5.0/kspblas/omp
module unload bisheng/kml2.5.0/kvml/serial

mkdir -p ${JARVIS_ROOT}/software/apps/sundials
tar -zxvf ${JARVIS_DOWNLOAD}/sundials-7.3.0.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use software/utils/hpckit/2024.12.30/HPCKit/latest/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
module load bisheng/kml2.5.0/kml
module unload bisheng/kml2.5.0/kspblas/omp
module unload bisheng/kml2.5.0/kvml/serial

[APP]
app_name = sundials
build_dir = ${JARVIS_TMP_DOWNLOAD}/sundials-7.3.0
binary_dir = 
case_dir = ${JARVIS_ROOT}/software/apps/sundials/examples/arkode/C_manyvector

[BUILD]
rm -rf build
mkdir build
cd build/
cmake .. -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/sundials -DEXAMPLES_INSTALL_PATH=${JARVIS_ROOT}/software/apps/sundials/examples -DCMAKE_C_COMPILER=mpicc -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_Fortran_COMPILER=mpifort -DENABLE_MPI=ON -DBUILD_FORTRAN_MODULE_INTERFACE=ON -DENABLE_LAPACK=ON -DBLAS_LIBRARIES=${JARVIS_UTILS}/hpckit/2024.12.30/HPCKit/24.12.30/kml/bisheng/lib/neon/kblas/pthread/libkblas.so -DLAPACK_LIBRARIES=${JARVIS_UTILS}/hpckit/2024.12.30/HPCKit/24.12.30/kml/bisheng/lib/neon/libklapack_full.so
make
make install
make test

[CLEAN]
rm -rf build

[RUN]
run = make && ./ark_brusselator1D_manyvec
binary = 
nodes = 1
