[SERVER]
11.11.11.11

[DOWNLOAD]
canu/1.8 https://github.com/marbl/canu/archive/refs/tags/v1.8.tar.gz canu-1.8.tar.gz
case1 http://gembox.cbcb.umd.edu/mhap/raw/ecoli_p6_25x.filtered.fastq

[DEPENDENCY]
set -e
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

./jarvis -install boost/1.72.0/clang bisheng
module load boost-clang/1.72.0-%#MYKBSVER#%

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/canu-1.8.tar.gz -C ${JARVIS_DEV}
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load boost-clang/1.72.0-%#MYKBSVER#%

[APP]
fake = 0
app_name = canu
app_version = 1.8
compiler = bisheng
build_dir = ${JARVIS_DEV}/canu-1.8
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/canu/1.8

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

set +x && check_install_path "${PATH_INSTALL}" && set -x
set +x && build_mod_check "${PATH_INSTALL}/bin/canu" "prompt" && set -x
set +x && rm_file_from_base ${PATH_INSTALL}/bin canu  && set -x
####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

cd src

if [ ! -f "/usr/include/sys/sysctl.h" ];then
  if [ -f "/usr/include/linux/sysctl.h" ];then
    sed -i '37c\#include <linux/sysctl.h>' utility/system.C
  fi
fi

sed -i '383c\    CXXFLAGS  += -D_GLIBCXX_PARALLEL -pthread -fopenmp -fPIC -stdlib=libc++ -std=c++14' Makefile
sed -i '384c\    LDFLAGS   += -D_GLIBCXX_PARALLEL -pthread -fopenmp -lm -stdlib=libc++ -std=c++14' Makefile
sed -i '397c\    CXXFLAGS += -O3 -funroll-loops -finline-functions -fomit-frame-pointer' Makefile

sed -i "152s|utgcns/libboost|${BOOST_CLANG_PATH}/include|" main.mk
sed -i "13s|libboost|${BOOST_CLANG_PATH}/include|" utgcns/utgcns.mk

make PREFIX=$PATH_INSTALL -j8

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/canu/1.8
mkdir -p ${JOBDIR}

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_bma
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'
source env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
module purge
module use $JARVIS_MODULES/modules
module load canu/1.8-%#MYKBSVER#%

if [ -d "test" ]; then
rm -rf test
fi
mkdir test
cd test
cp ${JARVIS_DOWNLOAD}/ecoli_p6_25x.filtered.fastq oxford.fastq
{ time canu -p ecoli -d ecoli-pacbio genomeSize=4.8m corPartitions=384 corMemory=3  corPartitionMin=1000 corThreads=1 useGrid=false obtovlThreads=96 obtOvlHashBlockLength=682496000 utgOvlHashBlockLength=682496000 utgovlThreads=96  gridEngineMemoryOption="-l vf=MEMORY" -nanopore-raw oxford.fastq ; } 2>&1 |tee -a canu.log
EOF

cat > ${JOBDIR}/canu-1.8-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/canu-1.8-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
