[SERVER]
11.11.11.11

[DOWNLOAD]
croco/2.1.0 https://gitlab.inria.fr/croco-ocean/croco/-/archive/v2.1.0/croco-v2.1.0.tar.gz
[DEPENDENCY]
set -e
set -x

yum install -y make python3
module purge
module use ./software/modulefiles

./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module purge
module load gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi

module use ./software/moduledeps/gcc12.3.1-hmpi2.4.3
./jarvis -install pnetcdf/1.12.3 gcc+mpi
./jarvis -install hdf5/1.12.1    gcc+mpi

module load pnetcdf/1.12.3 hdf5/1.12.1
./jarvis -install netcdf/4.7.4   gcc+mpi

# compilers
export CC=gcc
export FC=gfortran
export F90=gfortran
export F77=gfortran
export MPIF90=mpifort

# netcdf library
export NETCDF=$NETCDF_PATH
export PATH=$NETCDF/bin:${PATH}
export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${NETCDF}/lib


[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module use ./software/modulefiles
module use ./software/moduledeps
module use ./software/moduledeps/gcc12.3.1-hmpi2.4.3
export CC=mpicc CXX=mpicxx FC=mpifort

module load gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
module load hdf5/1.12.1
module load pnetcdf/1.12.3
module load netcdf/4.7.4
export HDF5_DIR=$HDF5_PATH
export NETCDF_DIR=$NETCDF_PATH
export PNETCDF_DIR=$PNETCDF_PATH

[APP]
app_name =   croco
build_dir =  ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/
case_dir =

[BUILD]
set -e
set -x
cd ${JARVIS_ROOT}
echo "need ./jarvis -e"
source ./env.sh
rm -rf croco-v2.1.0/
tar -xvf ${JARVIS_DOWNLOAD}/croco-v2.1.0.tar.gz

cd croco-v2.1.0/
#test need requirements.txt
#python3 install requirements.txt

echo -e "Y\nY\nY\n" | ./create_config.bash
cd OCEAN/
sed -i "s%-mcmodel=medium% %g" 							jobcomp
sed -i "34c  SOURCE1=../OCEAN"							jobcomp
sed -i '51c  MPIDIR=$(dirname $(dirname $(which $MPIF90) ))'   			jobcomp
sed -i '52c  MPILIB="-L$MPIDIR/lib -lmpi  -lm"' 	    			jobcomp
sed -i '53c  MPIINC="-I$MPIDIR/include -I$NETCDF_PATH/include"'          	jobcomp
sed -i '234c LDFLAGS1="${CROCO_NETCDFLIB-$NETCDFLIB} -lnetcdf -lnetcdff"' 	jobcomp
sed -i '75c  # define  MPI' 							cppdefs.h
./jobcomp --mpif90 mpif90 --netcdf-inc -I$NETCDF_PATH/include --netcdf-lib -L$NETCDF_PATH/lib 2>&1 | tee build.log

cd ../Run/
sed -i "s%-mcmodel=medium% %g"                                                  jobcomp
sed -i '51c  MPIDIR=$(dirname $(dirname $(which $MPIF90) ))'                    jobcomp
sed -i '52c  MPILIB="-L$MPIDIR/lib -lmpi  -lm"'                                 jobcomp
sed -i '53c  MPIINC="-I$MPIDIR/include -I$NETCDF_PATH/include"'                 jobcomp
sed -i '234c LDFLAGS1="${CROCO_NETCDFLIB-$NETCDFLIB} -lnetcdf -lnetcdff"'       jobcomp
sed -i '75c  # define  MPI'                                                     cppdefs.h
./jobcomp --mpif90 mpif90 --netcdf-inc -I$NETCDF_PATH/include --netcdf-lib -L$NETCDF_PATH/lib 2>&1 | tee build.log


[RUN]
run =
binary =
nodes = 1

