[SERVER]
11.11.11.11
 
[DOWNLOAD]
gromacs/2023.3 http://ftp.gromacs.org/pub/gromacs/gromacs-2024.2.tar.gz
Testcase https://repository.prace-ri.eu/ueabs/GROMACS/2.2/GROMACS_TestCaseC.tar.xz
 
[DEPENDENCY]
set -e
module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

./jarvis -install openblas/0.3.18/clang bisheng
module load openblas-clang/0.3.18-%#MYKBSVER#%

module load bisheng/%#MYKMPIVER#%/release

#export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install fftw/3.3.10 bisheng+mpi
module load fftw/3.3.10-%#MYKBSVER#%-%#MYKMPIVER#%


[ENV]
module purge
module use $JARVIS_MODULES/modules
#module load cmake/3.28.2
module load hpckit/2025.1.0.SPC001
#低版本GCC会报错
module add gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load openblas-clang/0.3.18-%#MYKBSVER#%
module load fftw/3.3.10-%#MYKBSVER#%-%#MYKMPIVER#%

#module load fftw/3.3.10-%#MYKBSVER#%-%#MYKMPIVER#%
compile_dir=$(dirname $(dirname $(which clang)))
export gcc_compile_dir=$(dirname $(dirname $(which gcc)))
export gromacs_dir=$JARVIS_DEV/gromacs/2024.2-%#MYKBSVER#%-%#MYKMPIVER#%

[APP]
app_name = gromacs
app_version = 2024.2
compiler = bisheng+mpi
build_dir = $JARVIS_DEV/gromacs/2024.2-%#MYKBSVER#%-%#MYKMPIVER#%
binary_dir = $JARVIS_DEV/gromacs/2024.2-%#MYKBSVER#%-%#MYKMPIVER#%/build/bin
case_dir = ${JARVIS_JOBSCRIPT}/gromacs/2024.2
 
[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

build_mod_check "${PATH_INSTALL}/bin/gmx_mpi" "prompt"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

#解压源码
rm -rf gromacs-2024.2
if [ ! -d gromacs-2024.2 ]; then
tar -xvf ${JARVIS_DOWNLOAD}/gromacs-2024.2.tar.gz
fi


####### build start
set +x && echo_info "build start" && set -x

cd gromacs-2024.2
cmake --version

mkdir -p build
cd build
echo $(pwd)
KML_LIB_PATH=${HPCKIT_KML}/bisheng/lib
# -DFFTWF_LIBRARY=${FFTW_PATH}/lib/libfftw3f.so -DFFTWF_INCLUDE_DIR=$FFTW_PATH/include
# -DFFTWF_LIBRARY=$KML_LIB_PATH/noarch/libfftw3f.so 缺少接口
# -DFFTWF_LIBRARY=$KML_LIB_PATH/noarch/libfftw3f.so 

if true; then
# $KML_LIB_PATH/libkml_rt.so
cmake ../ -DCMAKE_INSTALL_PREFIX=${PATH_INSTALL}  -DCMAKE_BUILD_TYPE=Release -DGMX_MPI=ON -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DMPI_C_COMPILER=mpicc -DMPI_CXX_COMPILER=mpicxx -DGMX_INSTALL_LEGACY_API=ON -DGMX_HWLOC=ON -DGMX_EXTERNAL_LAPACK=ON -DGMX_LAPACK_USER=$KML_LIB_PATH/sve512/libklapack_full.so  -DGMX_EXTERNAL_BLAS=ON -DGMX_BLAS_USER=$KML_LIB_PATH/sve/kblas/multi/libkblas.so -DGMX_SIMD=ARM_SVE -DGMX_OPENMP=ON -DGMX_FFT_LIBRARY=fftw3 -DFFTWF_LIBRARY="$KML_LIB_PATH/noarch/libfftw3f.so;$KML_LIB_PATH/libkml_rt.so" -DCMAKE_CXX_FLAGS="-L$KML_LIB_PATH/noarch -lfftw3f -L$KML_LIB_PATH/ -lkml_rt" -DGMX_SIMD_ARM_SVE_LENGTH=512

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
prepend-path LD_LIBRARY_PATH ${KML_LIB_PATH}/noarch:${KML_LIB_PATH}/:${KML_LIB_PATH}/sve:${KML_LIB_PATH}
EOF        

else

#### openblas,OK
# -DCMAKE_CXX_FLAGS="-L$KML_LIB_PATH/noarch -lkm"
# --debug-trycompile --debug-output
# -DCMAKE_TRY_COMPILE_KEEP_FILES=ON --debug-trycompile --debug-output
 cmake ../  -DCMAKE_INSTALL_PREFIX=${PATH_INSTALL} \
-DCMAKE_BUILD_TYPE=Release -DGMX_MPI=ON -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DMPI_C_COMPILER=mpicc -DMPI_CXX_COMPILER=mpicxx \ 
-DGMX_INSTALL_LEGACY_API=ON -DGMX_HWLOC=ON -DGMX_EXTERNAL_LAPACK=ON -DGMX_LAPACK_USER=$OPENBLAS_CLANG_PATH/lib/libopenblas.so -DGMX_EXTERNAL_BLAS=ON \
-DGMX_BLAS_USER=$OPENBLAS_CLANG_PATH/lib/libopenblas.so -DGMX_SIMD=ARM_SVE -DGMX_OPENMP=ON -DGMX_FFT_LIBRARY=fftw3 \
-DFFTWF_LIBRARY=$FFTW_PATH/lib/libfftw3f.so -DFFTWF_INCLUDE_DIR=$FFTW_PATH/include  -DGMX_SIMD_ARM_SVE_LENGTH=256

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF

EOF
fi
       
make -j64  VERBOSE=1
make install

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x

JOB_DIR="${JARVIS_JOBSCRIPT}/gromacs/2024.2"
mkdir -p ${JOB_DIR}
${BUILD_DIR}/env.sh_gen.sh ${JOB_DIR}/env.sh
echo "module load gromacs/2024.2-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOB_DIR}/env.sh

#解压算例
if [ ! -d ${JOB_DIR}/GROMACS_TestCaseC ]; then
    tar -xvf ${JARVIS_DOWNLOAD}/GROMACS_TestCaseC.tar.xz -C ${JOB_DIR}/
fi

cp ${JARVIS_JOBSCRIPT_LIBSHELL} ${JOB_DIR}/
cat > ${JOB_DIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_gromacs
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 128
#DSUB -R "cpu=600"
#DSUB -o gromacs_out_%J.log
#DSUB -e gromacs_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cmake
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited
source ./bash-com-kit.sh
cache_mod_ddr_size_start
{ 
time -p mpirun -np 600 --hostfile $HOSTFILE -x UCX_TLS=sm,self,ud --bind-to cpulist:ordered --cpu-set 2-607 --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 --mca opal_common_ucx_tls any --mca coll_tuned_use_dynamic_rules true gmx_mpi mdrun -dlb yes -v -nsteps 1000 -nstlist 40 -noconfout -pin on -pinoffset 0 -npme 100 -ntomp 1 -s ./GROMACS_TestCaseC/stmv.28M.tpr -g test_1_stmv28M_600_100_1000.log
 ; 
} 2>&1 | tee tee_gromacs.xlog
cache_mod_ddr_size_restore
EOF

cat > ${JOB_DIR}/local_run.sh << EOF
#!/bin/bash
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
ulimit -s unlimited
source ./bash-com-kit.sh
cache_mod_ddr_size_start
{
time -p mpirun -np 600 --allow-run-as-root -x UCX_TLS=sm --bind-to cpulist:ordered --cpu-set 2-607 --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 --mca opal_common_ucx_tls any --mca coll_tuned_use_dynamic_rules true gmx_mpi mdrun -dlb yes -v -nsteps 1000 -nstlist 40 -noconfout -pin on -pinoffset 0 -npme 100 -ntomp 1 -s stmv.28M.tpr -g test_1_stmv28M_600_100_1000.log ;
} 2>&1 | tee tee_local_gromacs.xlog
cache_mod_ddr_size_restore
EOF

cat > ${JOB_DIR}/gromacs-2024.2-run.sh << EOF
#!/bin/bash
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOB_DIR}/env.sh
chmod u+x ${JOB_DIR}/job_run.sh
chmod u+x ${JOB_DIR}/local_run.sh
chmod u+x ${JOB_DIR}/gromacs-2024.2-run.sh
chmod u+x ${JOB_DIR}/*.sh

set +x && echo_info "Install done!!!" && set -x

[CLEAN]
rm -rf build
 
[RUN]
run = mpirun -np 574 --allow-run-as-root -x UCX_TLS=sm --bind-to cpulist:ordered -mca pml ucx -mca btl ^vader,tcp,openib,uct
binary = gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 112 -g md_sve_0229-ucpg-bisheng-2P.log -s stmv.28M.tpr
nodes = 1

[JOB]
#!/bin/bash
#DSUB -n gmx
#DSUB --job_type cosched
#DSUB -N 1
#DSUB -R "cpu=128"
#DSUB -o gmx_%J.log
#DSUB -e gmx_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.gmx
rm -f $HOSTFILE
touch $HOSTFILE
cat ${CCSCHEDULER_ALLOC_FILE} | sort > $HOSTFILE
mpirun -np 128 --hostfile $HOSTFILE -x UCX_TLS=sm --bind-to cpulist:ordered -mca pml ucx -mca btl ^vader,tcp,openib,uct ${gromacs_dir}/build/bin/gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 8 -g 3-5-pme8-128C.log -s stmv.28M.tpr

