[SERVER]
11.11.11.11

[DOWNLOAD]
ww3/6.07.1 https://github.com/NOAA-EMC/WW3/archive/refs/tags/6.07.1.tar.gz  WW3-6.07.1.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release


export CC=mpicc FC=mpifort CXX=mpicxx

./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module load hdf5-clang/1.12.0-%#MYKBSVER#%-%#MYKMPIVER#%

./jarvis -install pnetcdf/1.11.2/clang bisheng+mpi
module load pnetcdf-clang/1.11.2-%#MYKBSVER#%-%#MYKMPIVER#%
./jarvis -install package/netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4-%#MYKBSVER#%-%#MYKMPIVER#%-hdf51.12.0-pnetcdf1.11.2

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load hdf5-clang/1.12.0-%#MYKBSVER#%-%#MYKMPIVER#%
module load pnetcdf-clang/1.11.2-%#MYKBSVER#%-%#MYKMPIVER#%
module load netcdf-clang/4.7.4-%#MYKBSVER#%-%#MYKMPIVER#%-hdf51.12.0-pnetcdf1.11.2


[APP]
fake = 0
app_name = ww3
app_version = 6.07.1
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/ww3/6.07.1-%#MYKBSVER#%-%#MYKMPIVER#%/project
binary_dir = ${JARVIS_APP}/ww3/6.07.1-%#MYKBSVER#%-%#MYKMPIVER#%/project/WW3-6.07.1/model/exe
case_dir = ${JARVIS_JOBSCRIPT}/ww3/6.07.1

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
build_mod_check_dir "${BUILD_DIR}/project/WW3-6.07.1" "prompt"

cd ${BUILD_DIR}
tar -xf ${JARVIS_DOWNLOAD}/WW3-6.07.1.tar.gz 
cd WW3-6.07.1 

####### build start
set +x && echo_info "build start" && set -x

export WWATCH3_NETCDF=NC4
export NETCDF_CONFIG=${NETCDF_CLANG_PATH}/bin/nc-config
export NETCDF_INCDIR=${NETCDF_CLANG_PATH}/include
export NETCDF_LIBDIR=${NETCDF_CLANG_PATH}/lib

echo -e "y\n\nflang\nclang\n\n\n\ny" | ./model/bin/w3_setup  model/
cd ./model/bin
cp link.Intel link
cp comp.Intel comp
sed -i '34s/$1/"$1"/' ./link
sed -i "89s%-ip%-mcpu=hip11 -ffast-math -fuse-ld=lld -ljemalloc -L${HPCKIT_KML}/bisheng/lib/noarch -lkm -L${HPCKIT_KML}/bisheng/lib/sme/kblas/multi -lkblas%" ./link
sed -i 's/mpiifort/mpifort/' ./link
sed -i '101,$s/ifort/flang/' ./link
sed -i 's/-openmp/-fopenmp/' ./link
sed -i "s%-assume byterecl -ip%-mcpu=hip11 -ffast-math -fuse-ld=lld -ljemalloc -L${HPCKIT_KML}/bisheng/lib/noarch -lkm -L${HPCKIT_KML}/bisheng/lib/sme/kblas/multi -lkblas%g" comp
sed -i 's/-convert big_endian/-fconvert=big-endian/g' comp
sed -i 's/mpiifort/mpifort/' comp
sed -i '98,$s/ifort/flang/' comp
sed -i 's/-openmp/-fopenmp/' comp
cat << EOF > switch
F90 NC4 NOGRB NOPA LRB4 MPI DIST PR3 UQ FLX2 LN1 ST2 STAB2 NL1 BT1 DB1 MLIM TR0 BS0 IC0 IS0 REF0 XX0 WNT1 WNX1 CRT1 CRX1 O0 O1 O2 O3 O4 O5 O6 O7 O11 O14
EOF
./w3_clean
./w3_new
./w3_make

####### build done
set +x && echo_info "build done!!!" && set -x

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
setenv WW3_DIR ${BUILD_DIR}/WW3-6.07.1
EOF

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/ww3/6.07.1
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load ww3/6.07.1-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOBDIR}/env.sh
cp ${JARVIS_DOWNLOAD}/ww3_from_ftp.v6.07.tar.gz ${JOBDIR}/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_wrf
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=608"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.ww3
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

sed -i '138c\    proc=600' ww3_from_ftp.v6.07/cases/mww3_case_01
sed -i  '72c\    compstr="Gnu"' ww3_from_ftp.v6.07/cases/mww3_case_01
sed -i  "421c\    mpirun --hostfile --allow-run-as-root -np \\\$proc --bind-to core -x UCX_TLS=sm \\\$path_e/ww3_multi" ww3_from_ftp.v6.07/cases/mww3_case_01
cd ww3_from_ftp.v6.07/cases
chmod 755 mww3_case_01
./mww3_case_01 2>&1 | tee tee_mww3_case_01.xlog

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

sed -i '138c\    proc=600' ww3_from_ftp.v6.07/cases/mww3_case_01
sed -i  '72c\    compstr="Gnu"' ww3_from_ftp.v6.07/cases/mww3_case_01
sed -i  "421c\    mpirun --allow-run-as-root -np \\\$proc --bind-to core -x UCX_TLS=sm \\\$path_e/ww3_multi" ww3_from_ftp.v6.07/cases/mww3_case_01
cd ww3_from_ftp.v6.07/cases
chmod 755 mww3_case_01
./mww3_case_01 2>&1 | tee tee_mww3_case_01.xlog

EOF

cat > ${JOBDIR}/ww3-6.07.1-run.sh << EOF
#!/bin/bash
if [ ! -d ww3_from_ftp.v6.07 ]; then
tar -zxvf ww3_from_ftp.v6.07.tar.gz 
fi
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/ww3-6.07.1-run.sh

set +x && echo_info "Install done!!!" && set -x

[CLEAN]
./w3_clean

[RUN]
run =   
binary = 
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="ww3-proformance.log"

>"$LOG_FILE"
$RUN_TOOL "WW3 ww3_multi" "mpirun --allow-run-as-root -np 64 ww3_multi" $LOG_FILE
#mpirun --allow-run-as-root -np 2 ww3_multi 

echo "All commands executed. Performance log saved to $LOG_FILE"

[JOB]
#!/bin/sh
#DSUB -n ww3_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo ww3.%J.out
#DSUB -oe ww3.%J.err

LOG_FILE="ww3-proformance.log"

>"$LOG_FILE"
$RUN_TOOL "WW3 ww3_multi" "mpirun --allow-run-as-root -np 2 ww3_multi" $LOG_FILE

echo "ALL commands executed. Performance log saved to $LOG_FILE"

