[SERVER]
11.11.11.11

[DOWNLOAD]
hisat2/2.1.0 https://github.com/infphilo/hisat2/archive/refs/tags/v2.1.0.tar.gz hisat2-2.1.0.tar.gz
case1 http://opengene.org/data/R1.fq.gz
case2 http://opengene.org/data/R2.fq.gz
case3 https://ftp.ensembl.org/pub/release-84/fasta/drosophila_melanogaster/dna/Drosophila_melanogaster.BDGP6.dna.toplevel.fa.gz
case4 ftp://ftp.ensembl.org/pub/release-86/gtf/homo_sapiens/Homo_sapiens.GRCh38.86.chr.gtf.gz
case5 ftp://ftp.ccb.jhu.edu/pub/infphilo/hisat2/data/bdgp6.tar.gz

[DEPENDENCY]
set -e
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/hisat2-2.1.0.tar.gz -C ${JARVIS_DEV}
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

[APP]
fake = 0
app_name = hisat2
app_version = 2.1.0
compiler = bisheng
build_dir = ${JARVIS_DEV}/hisat2-2.1.0
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/hisat2/2.1.0

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

set +x && check_install_path "${PATH_INSTALL}" && set -x
set +x && build_mod_check "${PATH_INSTALL}/bin/hisat2" "prompt" && set -x
set +x && rm_file_from_base ${PATH_INSTALL}/bin hisat2  && set -x
####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

export NO_TBB=1
export POPCNT_CAPABILITY=0

sed -i "138s|x86_64|aarch64|" Makefile
sed -i "154s|-m64|-mabi=lp64|" Makefile
sed -i "156s|-msse2||" Makefile

sed -i "58s| -DPOPCNT_CAPABILITY||" Makefile
sed -i '158c\DEBUG_FLAGS    = -O0 -g3 $(BIToS_FLAG) $(SSE_FLAG) -funroll-loops -std=c++98' Makefile
sed -i '160c\RELEASE_FLAGS  = -O3 $(BITS_FLAG) $(SSE_FLAG) -funroll-loops -g3 -std=c++98 -Xlinker --allow-multiple-definition' Makefile
sed -i '23c\INC = -I.' Makefile

sed -i '73c\#include "sse2neon.h"' aligner_sw.h
sed -i '27c\#include "sse2neon.h"' sse_util.h

cp ${JARVIS_ROOT}/templates/top50/hisat2/2.1.0/sse2neon.h sse2neon.h

sed -i '1267c\         if(flag > (char *)0) {' aligner_result.cpp

make CC=clang CPP=clang++ CXX=clang++ -j16

if [ ! -d "${PATH_INSTALL}/bin" ]; then
mkdir -p ${PATH_INSTALL}/bin
fi
cp hisat2-build ${PATH_INSTALL}/bin
cp hisat2-build-s ${PATH_INSTALL}/bin
cp hisat2 ${PATH_INSTALL}/bin
cp hisat2-align-s ${PATH_INSTALL}/bin

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/hisat2/2.1.0
mkdir -p ${JOBDIR}

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_bma
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'
source env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
module purge
module use $JARVIS_MODULES/modules
module load hisat2/2.1.0-%#MYKBSVER#%

if [ -d "test" ]; then
rm -rf test
fi
mkdir test
cd test

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/bdgp6.tar.gz
cd bdgp6
sed -i '19 s/^/#/' make_bdgp6.sh

gzip -dck ${JARVIS_DOWNLOAD}/Homo_sapiens.GRCh38.86.chr.gtf.gz > Homo_sapiens.GRCh38.86.chr.gtf
gzip -dck ${JARVIS_DOWNLOAD}/Drosophila_melanogaster.BDGP6.dna.toplevel.fa.gz > Drosophila_melanogaster.BDGP6.dna.toplevel.fa
gzip -dck ${JARVIS_DOWNLOAD}/R1.fq.gz > R1.fq
gzip -dck ${JARVIS_DOWNLOAD}/R2.fq.gz > R2.fq

cp Drosophila_melanogaster.BDGP6.dna.toplevel.fa genome.fa
sed -i '46 s/^/#/' make_bdgp6.sh

sed -i '36 s/.*/HISAT2_BUILD_EXE=hisat2-build/' make_bdgp6.sh
./make_bdgp6.sh

${JARVIS_DEV}/hisat2-2.1.0/extract_exons.py Homo_sapiens.GRCh38.86.chr.gtf > genome.exon
${JARVIS_DEV}/hisat2-2.1.0/extract_splice_sites.py Homo_sapiens.GRCh38.86.chr.gtf > genome.ss
hisat2-build -p96 genome.fa --ss genome.ss --exon genome.exon genome_tran

time hisat2 -t -p 96 -x genome_tran -1 R1.fq -2 R2.fq -S Test.sam
EOF

cat > ${JOBDIR}/hisat2-2.1.0-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/hisat2-2.1.0-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
