[SERVER]
11.11.11.11

[DOWNLOAD]
cp2k/7.1.0 $JARVIS_PROXY/cp2k/cp2k/archive/v7.1.0.tar.gz cp2k-7.1.0.tar.gz
dbcsr/2.0.1 $JARVIS_PROXY/cp2k/dbcsr/releases/download/v2.0.1/dbcsr-2.0.1.tar.gz

[DEPENDENCY]
set -x
set -e
./jarvis -install hpckit/2025.1.0.SPC001 any
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
source ${HPCKIT_BASEDIR}/hmpi/bisheng/env/setvars.sh
source ${HPCKIT_BASEDIR}/compiler/bisheng/env/setvars.sh
export CC=clang CXX=clang++ FC=flang


./jarvis -install kplblas/920FSVE any
module load kplblas/920FSVE 
./jarvis -install fftw/3.3.10/cp2k bisheng+mpi
./jarvis -install lapack/3.11.0 bisheng
module load lapack/3.11.0-%#MYKBSVER#% 
./jarvis -install scalapack/2.2.0  bisheng+mpi
module load scalapack/2.2.0-%#MYKBSVER#%-%#MYKMPIVER#%
./jarvis -install boost/1.72.0/clang bisheng 
module load boost-clang/1.72.0-%#MYKBSVER#%

./jarvis -install gmp/6.2.0 bisheng
module load gmp/6.2.0-%#MYKBSVER#%
./jarvis -install libint/2.6.0 bisheng
 ./jarvis -install elpa/2019.05.001 bisheng+mpi
 
./jarvis -install spglib/1.16.0 bisheng
./jarvis -install libxc/4.3.4 bisheng
./jarvis -install gsl/2.6 bisheng
module load gsl/2.6-%#MYKBSVER#%
./jarvis -install libvori/21.04.12 bisheng
./jarvis -install plumed/2.6.2 clang+mpi





[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
source ${HPCKIT_BASEDIR}/hmpi/bisheng/env/setvars.sh
source ${HPCKIT_BASEDIR}/compiler/bisheng/env/setvars.sh
module load kplblas/920FSVE
module load lapack/3.11.0-%#MYKBSVER#%
module load fftw/3.3.10-%#MYKBSVER#%-%#MYKMPIVER#%
module load scalapack/2.2.0-%#MYKBSVER#%-%#MYKMPIVER#%
module load boost-clang/1.72.0-%#MYKBSVER#%
module load gmp/6.2.0-%#MYKBSVER#%
module load libint/2.6.0-%#MYKBSVER#%
module load elpa/2019.05.001-%#MYKBSVER#%-%#MYKMPIVER#%
module load spglib/1.16.0-%#MYKBSVER#%
module load libxc/4.3.4-%#MYKBSVER#%
module load gsl/2.6-%#MYKBSVER#%
module load libvori/21.04.12-%#MYKBSVER#%
module load plumed/2.6.2-%#MYKBSVER#%-%#MYKMPIVER#%

[APP]
app_name = cp2k
app_version = 7.1.0
build_dir = ${JARVIS_DEV}/cp2k/7.1.0-%#MYKBSVER#%-%#MYKMPIVER#%
binary_dir = ${JARVIS_DEV}/cp2k/7.1.0-%#MYKBSVER#%-%#MYKMPIVER#%
case_dir = ${JARVIS_DEV}/cp2k/7.1.0/7.1/benchmarks/QS/
compiler = bisheng+mpi


[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"
export BUILD_TYPE=Linux-aarch64-flang-optimization-new

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

build_mod_check "${BUILD_DIR}/cp2k-7.1.0/exe/$BUILD_TYPE/cp2k.psmp" "prompt"
####### build start
set +x && echo_info "build start" && set -x
if false; then
if [ ! -d "autogemm"   ]; then
   tar -zxvf $JARVIS_DOWNLOAD/autogemm.tar.gz
fi
export LD_LIBRARY_PATH=${BUILD_DIR}/autogemm/0620/dependency:$LD_LIBRARY_PATH
rm -rf cp2k-7.1.0
if [ ! -d cp2k-7.1.0 ]; then
tar -zxvf $JARVIS_DOWNLOAD/cp2k-7.1.0.tar.gz
fi

if [ ! -f ./cp2k-7.1.0/exts/dbcsr/CMakeLists.txt ]; then
tar -zxvf $JARVIS_DOWNLOAD/dbcsr-2.0.1.tar.gz -C ./cp2k-7.1.0/exts/dbcsr --strip-components=1
fi
rm -rf  ./cp2k-7.1.0/exts/dbcsr/src/mm/dbcsr_mm_hostdrv.F
cp ./autogemm/dbcsr_mm_hostdrv.F ./cp2k-7.1.0/exts/dbcsr/src/mm/

cd ./cp2k-7.1.0/exts/dbcsr
make -j128 FCFLAGS="-O3" CFLAGS="-O3" LDFLAGS="-L ${BUILD_DIR}/autogemm/0620 -lmlir_dgemm"
##build cp2k
cd ../../arch
cp ${JARVIS_ROOT}/dataconfig_patches/cp2k-7.1/${BUILD_TYPE}.psmp ./

#sed -i "9s%path1%${HMPI_PATH}%g" $BUILD_TYPE.psmp
#sed -i "10s%path2%${BISHENG_PATH}%g" $BUILD_TYPE.psmp
sed -i "73s%path1%${BUILD_DIR}/autogemm/0620%g" $BUILD_TYPE.psmp
cd ..

make -j 128 ARCH=Linux-aarch64-flang-optimization-new VERSION=psmp 
mkdir -p ${PATH_INSTALL}/bin
cp -rf ${BUILD_DIR}/cp2k-7.1.0/exe/$BUILD_TYPE/* ${PATH_INSTALL}/bin
fi
 
####### build done
set +x && echo_info "build done!!!" && set -x

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
prepend-path LD_LIBRARY_PATH ${HPCKIT_KML}/bisheng/lib:${HPCKIT_KML}/bisheng/lib/noarch:${HPCKIT_KML}/bisheng/lib/sve:${HPCKIT_KML}/bisheng/lib/sve/kblas/multi
EOF

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x

JOBDIR=${JARVIS_JOBSCRIPT}/cp2k/7.1.0
mkdir -p ${JOBDIR}

${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load cp2k/7.1.0-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOBDIR}/env.sh
cp ${BUILD_DIR}/cp2k-7.1.0/benchmarks ${JOBDIR}/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_cp2k
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 128
#DSUB -R "cpu=128"
#DSUB -o cp2k_out_%J.log
#DSUB -e cp2k_err_%J.log
#DSUB -T '2h'

export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited
cd benchmarks/QS
{ time  mpirun \$CCS_MPI_OPTIONS -np 128 -x OMP_NUM_THREADS=1 cp2k.psmp H2O-256.inp  ; } 2>&1 | tee tee_cp2k.xlog
EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source env.sh
export OMP_NUM_THREADS=1
export OMP_PROC_BIND=close
export OMP_PLACES=cores

export TCMALLOC_MEMFS_MAP_PRIVATE="true"
export TCMALLOC_MEMFS_MALLOC_PATH="/dev/hugepages/tcmalloc"
export TSAN_OPTIONS='ignore_noninstrumented_modules=1'
export UCX_WARN_UNUSED_ENV_VARS=n
echo 3 > /proc/sys/vm/drop_caches 
echo 64 > /proc/sys/abi/sme_default_vector_length


for i in $(seq 0 15);
do
        echo 8192 > /sys/devices/system/node/node${i}/hugepages/hugepages-2048kB/nr_hugepages
done

ulimit -s unlimited
cd benchmarks/QS
{ time -p mpirun -np 576 --allow-run-as-root --map-by ppr:36:numa:pe=1  -x OMP_NUM_THREADS=1    cp2k.psmp  H2O-1024.inp ; } 2>&1 | tee tee_cp2k.xlog


for i in $(seq 0 15);
do
        echo 0  > /sys/devices/system/node/node${i}/hugepages/hugepages-2048kB/nr_hugepages
done
EOF

cat > ${JOBDIR}/cp2k-7.1.0-run.sh << EOF
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/cp2k-7.1.0-run.sh

set +x && echo_info "Install done!!!" && set -x

[CLEAN]
make -j 128 ARCH=Linux-arm-clang VERSION=psmp clean

[RUN]
run = numactl -C 0-63  mpirun --allow-run-as-root -np 64 -x OMP_NUM_THREADS=1
binary = cp2k.psmp H2O-256.inp
nodes = 1
