[SERVER]
11.11.11.11

[DOWNLOAD]
ecFlow/5.5.2 https://confluence.ecmwf.int/download/attachments/8650755/ecFlow-5.5.2-Source.tar.gz

[DEPENDENCY]
set -e
set -x
./jarvis -install kgcc/10.3.1 com
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`


yum install -y qt5 qt5-devel

./jarvis -install boost-python/1.72.0 gcc

rm -rf ecFlow-5.5.2-Source
tar -xzvf ${JARVIS_DOWNLOAD}/ecFlow-5.5.2-Source.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
#module load boost-python/1.72.0

[APP]
app_name = ecFlow
build_dir = 
binary_dir = 
case_dir = 

[BUILD]
export BOOST_ROOT=${JARVIS_TMP}/boost_1_72_0
export WK=${JARVIS_ROOT}/ecFlow-5.5.2-Source
export BOOST_PATH=${JARVIS_ROOT}/software/libs/kgcc10.3.1/boost-python/1.72.0

cd ${JARVIS_TMP}/boost_1_72_0
$WK/build_scripts/boost_build.sh

cd ${WK}
mkdir build
cd build
cmake .. -DENABLE_UI=ON -DENABLE_PYTHON=ON -DBoost_INCLUDE_DIR=${BOOST_PATH}/include -DCMAKE_CXX_FLAGS="-Wno-enum-constexpr-conversion -fPIC" -DBoost_PYTHON3_LIBRARY_RELEASE=${BOOST_PATH}/lib/libboost_python39.a -DBoost_PYTHON_LIBRARY_RELEASE=${BOOST_PATH}/lib/libboost_python39.a
make
make install

[CLEAN]
make clean

[RUN]
run =
binary = 
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all
