[SERVER]
11.11.11.11

[DOWNLOAD]
wrf/4.6.0 https://github.com/wrf-model/WRF/releases/download/v4.6.0/v4.6.0.tar.gz WRFV4.6.0.tar.gz
case/conus12km https://www2.mmm.ucar.edu/wrf/src/conus12km.tar.gz

[DEPENDENCY]
set -e
set -x
yum install -y csh
module purge  
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release bisheng/kml${HPCKIT_VERSION}/kml
export CC=clang CXX=clang++ FC=flang
export CFLAGS="-Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types"
./jarvis -install jasper/1.900.2 bisheng
module use ./software/moduledeps/bisheng${BISHENG_VERSION}/
module load jasper/1.900.2
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 bisheng+mpi
module load pnetcdf/1.12.1
./jarvis -install netcdf/4.8.1/clang bisheng+mpi
module load netcdf-clang/4.8.1
rm -rf WRFV4.6.0
tar -xvf ${JARVIS_DOWNLOAD}/WRFV4.6.0.tar.gz
rm -rf conus12km
tar -vzxf ${JARVIS_DOWNLOAD}/conus12km.tar.gz

[ENV]
#!/bin/bash
module purge  
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release bisheng/kml${HPCKIT_VERSION}/kml
export CC=clang CXX=clang++ FC=flang
export CFLAGS="-Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types"
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load jasper/1.900.2
export CC=mpicc CXX=mpicxx FC=mpifort
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.1
module load netcdf-clang/4.8.1

export WRFIO_NCD_LARGE_FILE_SUPPORT=1
export NETCDF=${NETCDF_CLANG_PATH}
export HDF5=${HDF5_CLANG_PATH}
export PHDF5=${HDF5}
export PNETCDF=${PNETCDF_PATH}
export JASPER=${JASPER_PATH}
export JASPERLIB=${JASPER_PATH}/lib
export JASPREINC=${JASPER_PATH}/include
export CPPFLAGS="-I${HDF5}/include -I${PNETCDF}/include -I${NETCDF}/include"
export LDFLAGS="-L${HDF5}/lib -L${PNETCDF}/lib -L${NETCDF}/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90 F90=mpif90
export WRF_DIR=${JARVIS_ROOT}/WRFV4.6.0
export MPI_LIB="-L${JARVIS_ROOT}/software/utils/hpckit/25.1.0/HPCKit/25.1.0/hmpi/bisheng/release/xucg/lib -lmpi -lomp"
export INCLUDE=${WRF_DIR}/include:$INCLUDE
export KML_LIB=${JARVIS_ROOT}/software/utils/hpckit/25.1.0/HPCKit/25.1.0/kml/bisheng/lib
export CASE_DIR=${WRF_DIR}/case/conus12km
export PATH=${JARVIS_ROOT}/WRFV4.6.0/main:${JARVIS_ROOT}/WRFV4.6.0/external/io_netcdf:$PATH

[APP]
app_name = WRF
build_dir = ${WRF_DIR}
binary_dir =
case_dir = $JARVIS_ROOT/conus12km

[BUILD]
set -x

cd ${JARVIS_ROOT}/WRFV4.6.0
sed -i "2181c\SFC             =      flang" arch/configure.defaults
sed -i "2182c\SCC             =      clang" arch/configure.defaults
sed -i "2183c\CCOMP           =      clang" arch/configure.defaults
echo -e "12\n1" | ./configure
./compile -j 16 em_real 2>&1 | tee -a compile.log

cd $JARVIS_ROOT
rm -rf conus12km
tar -zxvf $JARVIS_DOWNLOAD/conus12km.tar.gz
rsync -av --exclude='namelist.input' $JARVIS_ROOT/WRFV4.6.0/run/* conus12km/
cd conus12km
ln -sf $JARVIS_ROOT/WRFV4.6.0/main/*.exe ./

[CLEAN]
./clean -a

[RUN]
run = time mpirun --allow-run-as-root -np $(nproc) ./wrf.exe
binary = 
nodes = 1


