[SERVER]
11.11.11.11

[DOWNLOAD]
wrf/4.6.0 https://github.com/wrf-model/WRF/releases/download/v4.6.0/v4.6.0.tar.gz
conus12km https://www2.mmm.ucar.edu/wrf/src/conus12km.tar.gz

[DEPENDENCY]
set -e
set -x
yum install csh -y
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release bisheng/kml${HPCKIT_VERSION}/kml
export CC="clang -Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types" CXX=clang++ FC=flang
./jarvis -install jasper/1.900.2 clang
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load jasper/1.900.2
export CC=mpicc CXX=mpicxx FC=mpifort
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
./jarvis -install hdf5/1.12.0/clang clang+mpi
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load pnetcdf/1.12.1
./jarvis -install netcdf/4.7.4/clang clang+mpi
module load netcdf-clang/4.7.4
rm -rf WRFV4.6.0
tar -zxvf $JARVIS_DOWNLOAD/v4.6.0.tar.gz

[ENV]
#!/bin/bash
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release bisheng/kml${HPCKIT_VERSION}/kml
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load jasper/1.900.2
export CC=mpicc CXX=mpicxx FC=mpifort
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.1
module load netcdf-clang/4.7.4
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
export NETCDF=$NETCDF_CLANG_PATH
export HDF5=$HDF5_CLANG_PATH
export PHDF5=$HDF5
export PNETCDF=$PNETCDF_PATH
export JASPER=$JASPER_PATH
export JASPERLIB=$JASPER_PATH/lib
export JASPERINC=$JASPER_PATH/include
export CPPFLAGS="-I$HDF5/include -I$PNETCDF/include -I$NETCDF/include"
export LDFLAGS="-L$HDF5/lib -L$PNETCDF/lib -L$NETCDF/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90 F90=mpif90
export WRF_DIR=$JARVIS_ROOT/WRF-4.6
export MPI_LIB="-L${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/hmpi/bisheng/release/xucg/lib -lmpi -lomp"
export INCLUDE=$WRF_DIR/include:$INCLUDE
export KML_LIB=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/lib/noarch

[APP]
app_name = WRF
build_dir = $JARVIS_ROOT/WRFV4.6.0
binary_dir =
case_dir = $JARVIS_ROOT/conus12km

[BUILD]
cat << \EOF > ./arch/configure.defaults
###########################################################
#ARCH   Linux   aarch64,clang HYPERMPI#serial smpar dmpar dm+sm
DESCRIPTION     =       CLANG ($SFC/$SCC)
DMPARALLEL      =       1
OMPCPP          =       -D_OPENMP
OMP             =       -fopenmp
OMPCC           =       -fopenmp
SFC             =       flang
SCC             =       clang -Wno-implicit-function-declaration -Wno-implicit-int -Wno-deprecated-non-prototype
CCOMP           =       clang
DM_FC           =       mpif90 -f90=$(SFC)
DM_CC           =       mpicc -cc=$(SCC) -DMPI2_SUPPORT -Wno-implicit-function-declaration -Wno-implicit-int
FC              =       CONFIGURE_FC
CC              =       CONFIGURE_CC
LD              =       $(FC) -L$(KML_LIB) -lkm
RWORDSIZE       =       CONFIGURE_RWORDSIZE
PROMOTION       =       #-fdefault-real-8
ARCH_LOCAL      =       -DNONSTANDARD_SYSTEM_SUBR  -DWRF_USE_CLM
CFLAGS_LOCAL    =      -mcpu=native -w -O3 -c -march=armv8.2-a
LDFLAGS_LOCAL   =
CPLUSPLUSLIB    =
ESMF_LDFLAG     =      $(CPLUSPLUSLIB)
FCOPTIM         =       -O3 -march=armv8.2-a
FCREDUCEDOPT    =       $(FCOPTIM)
FCNOOPT         =       -O0
FCDEBUG         =      -g # -fbacktrace -ggdb-fcheck=bounds,do,mem,pointer -ffpe-trap=invalid,zero,overflow
FORMAT_FIXED    =       -ffixed-form
FORMAT_FREE     =       -ffree-form -ffree-line-length-0
FCSUFFIX        =
BYTESWAPIO      =       -fconvert=big-endian
FCBASEOPTS_NO_G =       -w $(FORMAT_FREE) $(BYTESWAPIO)
FCBASEOPTS      =       -mcpu=native $(OMP) $(FCBASEOPTS_NO_G)
MODULE_SRCH_FLAG =
TRADFLAG        =      -traditional
CPP             =      /lib/cpp -P
AR              =      ar
ARFLAGS         =      ru
M4              =      m4 -G
RANLIB          =      ranlib
RLFLAGS         =
CC_TOOLS        =      $(SCC)

#insert new stanza before the Fujitsu block, keep Fujitsu at the end of the list
###########################################################
#ARCH  NULL
EOF
sed -i 's/derf/erf/g' ./phys/module_mp_SBM_polar_radar.F
echo 4 | ./configure
./compile -j 20 em_real 2>&1 | tee compile.log


cd $JARVIS_ROOT
rm -rf conus12km
tar -zxvf $JARVIS_DOWNLOAD/conus12km.tar.gz
#yes no | cp -r $JARVIS_ROOT/WRFV4.6.0/run/* conus12km
rsync -av --exclude='namelist.input' $JARVIS_ROOT/WRFV4.6.0/run/* conus12km/
cd conus12km
ln -sf $JARVIS_ROOT/WRFV4.6.0/main/*.exe ./

[CLEAN]
./clean -a

[RUN]
run = time mpirun --allow-run-as-root -np 16 ./wrf.exe
binary =
nodes = 1


[BATCH]
#定义日志文件
LOG_FILE="ww3-proformance.log"

#清空日志文件
>"$LOG_FILE"

#复制run目录到运行目录
mv namelist.input namelist.input-bak
cp -rf $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/WRFV4.6.0/run/* ./
ln -sf CAMtr_volume_mixing_ratio  CAMtr_volume_mixing_ratio.SSP245
ln -sf MPTABLE.TBL   $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/WRFV4.6.0/phys/noahmp/parameters/MPTABLE.TBL
mv namelist.input-bak namelist.input
trdnum=4
mynp=32

#执行每个命令并统计性能
#$ROOT_TOOL "mpirun" "time -p mpirun --allow-run-as-root -x PATH -x LD_LIBRARY_PATH --map-by ppr:${mynp}:node:pe=${trdnum} -x OMP_NUM_THREADS=${trdnum} --rank-by core --bind-to core --mca pml ucx -mca btl ^vader,tcp,openib  wrf.exe" $LOG_FILE

mpirun --allow-run-as-root -x PATH -x LD_LIBRARY_PATH --map-by ppr:${mynp}:node:pe=${trdnum} -x OMP_NUM_THREADS=${trdnum} --rank-by core --bind-to core --mca pml ucx -mca btl ^vader,tcp,openib  wrf.exe

echo "ALL commands executed. Performance log saved to $LOG_FILE"


[JOB]
#!/bin/sh
#DSUB -n wrf_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo wrf.%J.out
#DSUB -oe wrf.%J.err


#定义日志文件
LOG_FILE="wrf-proformance.log"

#清空日志文件
>"$LOG_FILE"

#执行每个命令并统计性能
$ROOT_TOOL "mpirun" "mpirun  -x PATH -x LD_LIBRARY_PATH --map-by ppr:${mynp}:node:pe=${trdnum} -x OMP_NUM_THREADS=${trdnum} --rank-by core --bind-to core --mca pml ucx -mca btl ^vader,tcp,openib  wrf.exe" $LOG_FILE
echo "ALL commands executed. Performance log saved to $LOG_FILE"


