[SERVER]
11.11.11.11

[DOWNLOAD]
scanpy/1.10.3 https://files.pythonhosted.org/packages/09/b0/fa244677155c5535ea1458214e9ab6e2d571ba0f64f2cca00ad0ef0d03fe/scanpy-1.10.3.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install python3/3.9.9 bisheng
module load python3/3.9.9

tar -zxvf ${JARVIS_DOWNLOAD}/scanpy-1.10.3.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load python3/3.9.9

[APP]
app_name = scanpy
build_dir = ${JARVIS_TMP_DOWNLOAD}/scanpy-1.10.3
binary_dir =
case_dir = ${JARVIS_TMP_DOWNLOAD}/scanpy-1.10.3

[BUILD]
# pip>=21.3
python3.9 -m pip install --upgrade pip==22.2.2 setuptools==68.2.2 setuptools-scm==8.0.4
pip3 install '.[dev,test]' --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple

[CLEAN]
pip3 uninstall scanpy -y

[RUN]
run = pytest
binary = tests/test_datasets.py
nodes = 1
