[SERVER]
11.11.11.11

[DOWNLOAD]
stream_mpi.c/2014.10.21 https://www.cs.virginia.edu/stream/FTP/Code/Versions/stream_mpi.c
stream_mpi.f/2014.2.14 https://www.cs.virginia.edu/stream/FTP/Code/Versions/stream_mpi.f
mysecond.c/2009.2.19 https://www.cs.virginia.edu/stream/FTP/Code/mysecond.c

[DEPENDENCY]
set -x
set -e
module purge
./jarvis -install gcc/10.3.0 com
module use ./software/modulefiles
module load gcc/10.3.0
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install oneapi/2021.1.0 gcc
source /opt/intel/oneapi/setvars.sh
mkdir -p ${JARVIS_TMP}/stream-1.8
cd ${JARVIS_TMP}
mv ${JARVIS_DOWNLOAD}/stream_mpi.c ${JARVIS_TMP}/stream-1.8
mv ${JARVIS_DOWNLOAD}/stream_mpi.f ${JARVIS_TMP}/stream-1.8
mv ${JARVIS_DOWNLOAD}/mysecond.c ${JARVIS_TMP}/stream-1.8

[ENV]
module purge
source /opt/intel/oneapi/setvars.sh
export CC=mpiicc FC=mpiifort F77=mpiifort

[APP]
app_name = stream
build_dir = ${JARVIS_TMP}/stream-1.8
binary_dir = ${JARVIS_LIBS}/stream-1.8
case_dir = 

[BUILD]
mpiicc -O3 -ffreestanding -qopenmp -qopt-streaming-stores=always          \
-DSTREAM_ARRAY_SIZE=8650752 -DNTIMES=20 -DVERBOSE                         \
stream_mpi.c -o stream_mpi_c      
icc -c mysecond.c
mpiifort -c stream_mpi.f
mpiifort -O3 -qopenmp -qopt-streaming-stores=always stream_mpi.o mysecond.o -o stream_mpi_f   
mkdir -p ${JARVIS_LIBS}/stream-1.8
cp -r stream_mpi_* ${JARVIS_LIBS}/stream-1.8

[RUN]
run = ${JARVIS_LIBS}/stream-1.8/stream_mpi_c && ${JARVIS_LIBS}/stream-1.8/stream_mpi_f
binary = 
nodes = 1