[SERVER]
11.11.11.11
 
[DOWNLOAD]
gromacs/2025.3 http://ftp.gromacs.org/gromacs/gromacs-2025.3.tar.gz
Testcase https://repository.prace-ri.eu/ueabs/GROMACS/2.2/GROMACS_TestCaseC.tar.xz
 
[DEPENDENCY]
module purge
if [[ $UseLatest -eq 1 ]]; then
    HPCKit_Version=latest
else
    HPCKit_Version=25.0.0
fi
./jarvis -install hpckit/${HPCKit_Version}/ any
./jarvis -install cmake/3.28.2 any
module load ./software/modulefiles/cmake/3.28.2

 
[ENV]
module purge
if [[ $UseLatest -eq 1 ]]; then
    HPCKit_Version=latest
else
    HPCKit_Version=25.0.0
fi
BISHENG_VERSION=`ls software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles/bisheng|grep compiler|awk -F "compiler" '{print $2}'`
HMPI_VERSION=`ls software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles/bisheng|grep hmpi|awk -F "hmpi" '{print $2}'`
module use software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}
module load bisheng/kml${HMPI_VERSION}/kml
module load bisheng/kml${HMPI_VERSION}/kblas/multi

export PATH=$JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/gromacs-2025.3/bin:$PATH
module load ./software/modulefiles/cmake/3.28.2
[APP]
app_name = gromacs
build_dir = $JARVIS_TMP 
binary_dir = $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/gromacs-2025.3/bin
case_dir = $JARVIS_TMP 
 
[BUILD]
cd $JARVIS_TMP
tar -xf ${JARVIS_DOWNLOAD}/gromacs-2025.3.tar.gz
cd gromacs-2025.3
mkdir -p build
cd build
export KML_LIB_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKit_Version}/HPCKit/${HPCKit_Version}/kml/bisheng/lib

cmake ../ -DCMAKE_INSTALL_PREFIX=$JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/gromacs-2025.3 -DCMAKE_BUILD_TYPE=Release -DGMX_MPI=ON -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DMPI_C_COMPILER=mpicc -DMPI_CXX_COMPILER=mpicxx -DGMX_INSTALL_LEGACY_API=ON -DGMX_HWLOC=ON -DGMX_EXTERNAL_LAPACK=ON -DGMX_LAPACK_USER=$KML_LIB_PATH/${kp}/libklapack_full.so -DGMX_EXTERNAL_BLAS=ON -DGMX_BLAS_USER=$KML_LIB_PATH/${kp}/kblas/pthread/libkblas.so -DGMX_SIMD=ARM_SVE -DGMX_OPENMP=ON -DGMX_FFT_LIBRARY=fftw3 -DFFTWF_LIBRARY=$KML_LIB_PATH/noarch/libfftw3f.so -DCMAKE_CXX_FLAGS="-L$KML_LIB_PATH/noarch -lkm" -DGMX_SIMD_ARM_SVE_LENGTH=256
make -j
make install
 
[CLEAN]
rm -rf $JARVIS_TMP/gromacs-2025.3/build/*
 
[RUN]
run =
binary = mpirun -np 128 --allow-run-as-root -x UCX_TLS=sm --bind-to cpulist:ordered -mca pml ucx -mca btl ^vader,tcp,openib,uct $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/gromacs-2025.3/bin/gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 40 -g md_sve_0229-ucpg-bisheng.log -s stmv.28M.tpr
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="gromacs-proformance.log"
tar -xf  ${JARVIS_DOWNLOAD}/GROMACS_TestCaseC.tar.xz
cd GROMACS_TestCaseC
>"$LOG_FILE"
#$RUN_TOOL "gromacs gmx_mpi" "mpirun --allow-run-as-root -np 128 gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 40 -g md_sve_0229-ucpg-bisheng.log -s stmv.28M.tpr" $LOG_FILE
mpirun --allow-run-as-root -np 128 gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 40 -g md_sve_0229-ucpg-bisheng.log -s stmv.28M.tpr

echo "All commands executed. Performance log saved to $LOG_FILE"

[JOB]
#!/bin/bash
#DSUB -n gmx
#DSUB --job_type cosched
#DSUB -N 1
#DSUB -R "cpu=128"
#DSUB -o gmx_%J.log
#DSUB -e gmx_err_%J.log

LOG_FILE="grpmacs-proformance.log"
tar -xf  ${JARVIS_DOWNLOAD}/GROMACS_TestCaseC.tar.xz
cd GROMACS_TestCaseC

>"$LOG_FILE"
$RUN_TOOL "gromacs gmx_mpi" "mpirun --allow-run-as-root -np 128 gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 40 -g md_sve_0229-ucpg-bisheng.log -s stmv.28M.tpr" $LOG_FILE

echo "ALL commands executed. Performance log saved to $LOG_FILE"

#mpirun -np 128 -x UCX_TLS=sm --bind-to cpulist:ordered -mca pml ucx -mca btl ^vader,tcp,openib,uct $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/gromacs-2025.3/bin/gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 8 -g 3-5-pme8-128C.log -s stmv.28M.tpr


