[SERVER]
11.11.11.11

[DOWNLOAD]
OpenBabel/3.1.1 https://github.com/openbabel/openbabel/archive/refs/tags/openbabel-3-1-1.tar.gz
eigen/3.4.0 https://gitlab.com/libeigen/eigen/-/archive/3.4.0/eigen-3.4.0.tar.gz

[DEPENDENCY]
set -e
set -x

yum install zlib-devel git cmake make git vim tar time glibc-headers gcc-c++ python3-devel -y
./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install boost/1.72.0/clang clang
module use software/moduledeps/bisheng4.1.0
module load boost-clang/1.72.0
export Boost_INCLUDE_PATH=${BOOST_CLANG_PATH}/include
tar -vzxf ${JARVIS_DOWNLOAD}/openbabel-3-1-1.tar.gz
tar xvf ${JARVIS_DOWNLOAD}/eigen-3.4.0.tar.gz
mv eigen-3.4.0 ${JARVIS_ROOT}/openbabel-openbabel-3-1-1/

[ENV]
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module use software/moduledeps/bisheng4.1.0
module load boost-clang/1.72.0
export Boost_INCLUDE_PATH=${BOOST_CLANG_PATH}/include

[APP]
app_name = OpenBabel
build_dir = ${JARVIS_ROOT}/openbabel-openbabel-3-1-1/
binary_dir = ${JARVIS_ROOT}/openbabel-3.1.1-install/bin/
case_dir = ${JARVIS_ROOT}/openbabel-openbabel-3-1-1/test/files

[BUILD]
mkdir build
cd build
cmake .. -DEIGEN3_INCLUDE_DIR=${JARVIS_ROOT}/openbabel-openbabel-3-1-1/eigen-3.4.0 -DBoost_INCLUDE_DIR=${Boost_INCLUDE_PATH} -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/openbabel-3.1.1-install
make -j
make install
export LD_LIBRARY_PATH=${JARVIS_ROOT}/openbabel-3.1.1-install/lib64:$LD_LIBRARY_PATH

[CLEAN]
make clean

[RUN]
run = time -p
binary = obabel -i cif *.cif -o cif
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all
