[SERVER]
11.11.11.11

[DOWNLOAD]
blat/35.1 https://codeload.github.com/djhshih/blat/tar.gz/v35.1 blat-35.1.tar.gz

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install kgcc/9.3.1 com
module load kgcc/9.3.1



[ENV]
module use ./software/modulefiles
module purge
module load kgcc/9.3.1

[APP]
app_name = blat
build_dir = $JARVIS_ROOT
binary_dir = ${JARVIS_TMP}/blat-35.1/bin
case_dir = 



[BUILD]
set -x
set -e

module use ./software/modulefiles
module purge
module load kgcc/9.3.1
yum -y install libpng-devel

cd ${JARVIS_TMP}
rm -rf blat-35.1
tar -zxvf $JARVIS_DOWNLOAD/blat-35.1.tar.gz
cd ${JARVIS_TMP}/blat-35.1/
sed -i 's/jmp_buf htmlRecover/\/\/jmp_buf htmlRecover/g' src/inc/htmshell.h
export MACHTYPE=aarch64
make



[CLEAN]
./clean_build

[RUN]
run =
binary =
nodes = 1
