[SERVER]
11.11.11.11

[DOWNLOAD]
openfoam/v11  https://github.com/OpenFOAM/OpenFOAM-11/archive/refs/tags/version-11.tar.gz  OpenFOAM-11.tar.gz
ThirdParty/v11 https://github.com/OpenFOAM/ThirdParty-11/archive/refs/tags/version-11.tar.gz  ThirdParty-11.tar.gz

[DEPENDENCY]
set -x
set -e

./jarvis -install package/hpckit/2024.12.30/ any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=mpicc FC=mpifort CXX=mpicxx

[ENV]
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=mpicc FC=mpifort CXX=mpicxx

source ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/OpenFOAM-11/etc/bashrc


[APP]
app_name = OpenFOAM
build_dir = ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/OpenFOAM-11
binary_dir = 
case_dir = ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/OpenFOAM-11/tutorials/incompressibleFluid/motorBike/motorBike

[BUILD]
tar -xvf   ${JARVIS_DOWNLOAD}/OpenFOAM-11.tar.gz -C  ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/
tar -xvf  ${JARVIS_DOWNLOAD}/ThirdParty-11.tar.gz -C ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/

cd ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/

rm -rf OpenFOAM-11 ThirdParty-11

mv OpenFOAM-11-version-11 OpenFOAM-11
mv ThirdParty-11-version-11 ThirdParty-11

cd OpenFOAM-11

sed -i "s|export WM_COMPILER=Gcc|export WM_COMPILER=Clang|g" ./etc/bashrc

cp -rf ./wmake/rules/linux64Clang wmake/rules/linuxArm64Clang
sed -i '2c cOPT        = -O3 -lm -mllvm -unroll-indirect-loads-threshold=2 -mllvm -unroll-indirect-loads-default-runtime-unroll-count=8 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true -fno-range-check -fveclib=MATHLIB -lmathlib -finline-functions -ftree-vectorize -falign-functions -march=armv8-a -mllvm -min-prefetch-stride=2' ./wmake/rules/linuxArm64Clang/cOpt
sed -i '2c c++OPT        = -O3 -lm -mllvm -unroll-indirect-loads-threshold=2 -mllvm -unroll-indirect-loads-default-runtime-unroll-count=8 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true -fno-range-check -fveclib=MATHLIB -lmathlib -finline-functions -ftree-vectorize -falign-functions -march=armv8-a -mllvm -min-prefetch-stride=2' ./wmake/rules/linuxArm64Clang/c++Opt
source ./etc/bashrc
./Allwmake -j -k

[CLEAN]
rm -rf build

[RUN]
run = 
binary = 
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="openfoam-proformance.log"

#清空日志文件
>"$LOG_FILE"


#执行每个命令并统计性能
#$RUN_TOOL "Allrun " "./Allrun" $LOG_FILE


sed -i "149s     ( mpirun --allow-run-as-root -np $nProcs $APP_RUN -parallel "$@" < /dev/null > log.$LOG_SUFFIX 2>&1 ) " ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/OpenFOAM-11/bin/tools/RunFunctions
 sed -i '149s/^/            /' ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/OpenFOAM-11/bin/tools/RunFunctions

./Allclean

./Allrun

echo "All commands executed. Performance log saved to $LOG_FILE"




[JOB]
#!/bin/bash
#DSUB -n openfoam_test
#DSUB --mpi hmpi
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -o openfoam.%J.out
#DSUB -e openfoam.%J.err


#定义日志文件
LOG_FILE="openfoam-proformance.log"

#清空日志文件
>"$LOG_FILE"


#执行每个命令并统计性能

sed -i "149s             ( mpirun --allow-run-as-root -np \$nProcs \$APP_RUN -parallel "\$@" < /dev/null > log.\$LOG_SUFFIX 2>&1 ) " ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/OpenFOAM-11/bin/tools/RunFunctions

 sed -i '149s/^/            /' ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/OpenFOAM-11/bin/tools/RunFunctions
#$RUN_TOOL "Allrun " "./Allrun" $LOG_FILE
echo "All commands executed. Performance log saved to $LOG_FILE"
