[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x

module purge
./jarvis -install package/anaconda3/2023.3 any
module use ./software/modulefiles
module load anaconda3/2023.3
source ${ANACONDA3_PATH}/etc/profile.d/conda.sh
./jarvis -install hpckit/2024.12.30 any
module use ./software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
yum install -y cmake
mkdir -p deepmdkit_install
git clone -b v2.2.10 https://github.com/deepmodeling/deepmd-kit
cd deepmd-kit
pip install .
cd source
mkdir build

[ENV]
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[APP]
app_name = deepmd-kit 
build_dir = ${JARVIS_ROOT}/deepmd-kit/source/build/
binary_dir = ${ANACONDA3_PATH}/envs/deepmd-kit-tensorflow/bin/
case_dir = ${JARVIS_ROOT}/deepmd-kit/examples/water/se_e2_a/

[BUILD]
conda create -n deepmd-kit-tensorflow python=3.9 -y
conda activate deepmd-kit-tensorflow
conda install tensorflow -y
cmake -DTENSORFLOW_ROOT=${ANACONDA3_PATH}/envs/deepmd-kit-tensorflow/lib/python3.9/site-packages/tensorflow -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/deepmdkit_install ..
make -j
make install

[CLEAN]
make clean

[RUN]
run = time
binary = dp train input.json
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
