[SERVER]
11.11.11.11

[DOWNLOAD]
namd/3.0b6 https://www.ks.uiuc.edu/Research/namd/3.0b6/download/120834/NAMD_3.0b6_Source.tar.gz NAMD_3.0b6_Source.tar.gz
tcl/8.5   http://www.ks.uiuc.edu/Research/namd/libraries/tcl8.5.9-linux-arm64-threaded.tar.gz tcl8.5.9-linux-arm64-threaded.tar.gz
charm/7.0.0 https://charm.cs.illinois.edu/distrib/charm-7.0.0.tar.gz charm-7.0.0.tar.gz
namd/stmv_sc14	https://www.ks.uiuc.edu/Research/namd/utilities/stmv_sc14.tar.gz stmv_sc14.tar.gz

[DEPENDENCY]
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

export CC=mpicc FC=mpifort CXX=mpicxx

./jarvis -install package/fftw/3.3.8 bisheng+mpi
module load fftw/3.3.8-%#MYKBSVER#%-%#MYKMPIVER#%



[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load fftw/3.3.8-%#MYKBSVER#%-%#MYKMPIVER#%

[APP]
app_name = namd
app_version =3.0b6
compiler = bisheng+mpi
build_dir = $JARVIS_APP/namd/3.0b6-%#MYKBSVER#%-%#MYKMPIVER#%/project
binary_dir = $JARVIS_APP/namd/3.0b6-%#MYKBSVER#%-%#MYKMPIVER#%/Linux-ARM64-mpicxx
mod_exc_dir = project/NAMD_3.0b6_Source;project/tcl_install
case_dir = ${JARVIS_JOBSCRIPT}/namd/3.0b6

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"
log_file=tee_install_$(date +%Y%m%d%H%M%S).xlog
build_mod_check "${BUILD_DIR}/NAMD_3.0b6_Source/Linux-ARM64-mpicxx/namd3" "prompt"
{
####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

if true; then
rm -rf ${BUILD_DIR}/NAMD_3.0b6_Source
rm -rf ${BUILD_DIR}/tcl_install
export CC=mpicc FC=mpifort CXX=mpicxx
cd ${BUILD_DIR}
tar -xf ${JARVIS_DOWNLOAD}/NAMD_3.0b6_Source.tar.gz
export installdir=${PATH_INSTALL}
export sourcedir=${BUILD_DIR}/NAMD_3.0b6_Source
cd ${BUILD_DIR}/NAMD_3.0b6_Source

#安装charm-6.10.2.tar
tar -xvf ${JARVIS_DOWNLOAD}/charm-7.0.0.tar.gz
cd charm-v7.0.0

sed -i '8a CMK_CC_FLAGS="-Wno-unused-command-line-argument"'  src/arch/common/cc-clang.sh
sed -i '9a CMK_CXX_FLAGS="-Wno-unused-command-line-argument"' src/arch/common/cc-clang.sh
cp src/arch/mpi-linux-x86_64 src/arch/mpi-linux-arm8 -rf
grep -rl 'm64' src/arch/mpi-linux-arm8 | xargs sed -i 's/\-m64//g'
./build charm++ mpi-linux-arm8 smp --with-production

#装tcl
mkdir -p ${installdir}/tcl_install
cd ${installdir}/tcl_install
tar -xf ${JARVIS_DOWNLOAD}/tcl8.5.9-linux-arm64-threaded.tar.gz
echo "Install is success install_dir: $installdir/tcl_install"

set +x
export PATH=$PATH:$installdir/tcl_install/tcl8.5.9-linux-arm64-threaded/bin
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$installdir/tcl8.5.9-linux-arm64-threaded/lib
export INCLUDE=$INCLUDE:$installdir/tcl8.5.9-linux-arm64-threaded/include
export TCL_DIR=$installdir/tcl_install/tcl8.5.9-linux-arm64-threaded
set -x

#安装NAMD
cd $sourcedir

#修改配置文件
rm -rf ./arch/Linux-ARM64.tcl ./arch/Linux-ARM64.fftw3

#func_fftw3_info
cat > ./arch/Linux-ARM64.fftw3 <<EOF
FFTDIR=$FFTW_PATH
FFTINCL=-I\$(FFTDIR)/include
FFTLIB=-L\$(FFTDIR)/lib -lfftw3f
FFTFLAGS=-DNAMD_FFTW -DNAMD_FFTW_3
FFT=\$(FFTINCL) \$(FFTFLAGS)

EOF

cat ./arch/Linux-ARM64.fftw3

#func_tcl_info
cat > ./arch/Linux-ARM64.tcl <<EOF

TCLDIR=$TCL_DIR
TCLINCL=-I\$(TCLDIR)/include
#TCLLIB=-L\$(TCLDIR)/lib -ltcl8.5 -ldl
TCLLIB=-L\$(TCLDIR)/lib -ltcl8.5 -ldl -lpthread
TCLFLAGS=-DNAMD_TCL
TCL=\$(TCLINCL) \$(TCLFLAGS)
EOF

cat ./arch/Linux-ARM64.tcl

echo "Linux-ARM64:Linux-ARM64-${CXX}.arch"
cat > ./arch/Linux-ARM64-${CXX}.arch <<EOF
NAMD_ARCH = Linux-ARM64
CHARMARCH = mpi-linux-arm8

#FLOATOPTS = -O2 -ffast-math -funsafe-math-optimizations -fomit-frame-pointer -march=armv7-a -mcpu=cortex-a9 -mtune=cortex-a9
FLOATOPTS = -O2 -ffast-math -funsafe-math-optimizations -fomit-frame-pointer -march=armv8-a -Wno-implicit-function-declaration -Wno-implicit-int

CXX = $CXX -std=c++11 -Wno-implicit-function-declaration -Wno-implicit-int
CXXOPTS = \$(FLOATOPTS)
CXXNOALIASOPTS = \$(FLOATOPTS) -fno-strict-aliasing

CC = $CC
COPTS = \$(FLOATOPTS)
EOF

cat ./arch/Linux-ARM64-${CXX}.arch
./config Linux-ARM64-${CXX} --with-memopt  --with-fftw --fftw-prefix ${FFTW_PATH} --with-tcl --tcl-prefix ${TCL_DIR} --charm-arch mpi-linux-arm8-smp
cd Linux-ARM64-${CXX}
make -j 4


cd ${PATH_INSTALL}
mkdir -p bin
cd bin
rm -rf namd3
ln -s ../project/NAMD_3.0b6_Source/Linux-ARM64-mpicxx/namd3 .

fi

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/namd/3.0b6 
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load namd/3.0b6-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOBDIR}/env.sh
cp ${JARVIS_DOWNLOAD}/stmv_sc14.tar.gz ${JOBDIR}/ -ar
cp ${JARVIS_DOWNLOAD}/20stmv2fs.tar.gz ${JOBDIR}/ -ar
cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_namd
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o out_%J.log
#DSUB -e err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.namd
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cd 20stmv2fs
{ time  -p mpirun --hostfile $HOSTFILE -np 2 -N 2  --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x UCX_TLS=sm namd3 +ppn 64 20stmv2fs.namd +setcpuaffinity ; } 2>&1 | tee tee_jax.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd 20stmv2fs
{ time  -p mpirun -mca pml ucx -mca btl tcp -x UCX_TLS=sm -np 2 -N 2 namd3 +ppn 64 20stmv2fs.namd +setcpuaffinity ; } 2>&1 | tee tee_namd2.xlog
EOF

cat > ${JOBDIR}/namd-3.0b6-run.sh << EOF
#!/bin/bash
if [ ! -d stmv_sc14 ]; then
tar -zxvf stmv_sc14.tar.gz
fi

if [ ! -d 20stmv2fs ]; then
tar -zxvf 20stmv2fs.tar.gz
fi

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/namd-3.0b6-run.sh

set +x && echo_info "Install done!!!" && set -x
} 2>&1 | tee ${log_file}
res=${PIPESTATUS[0]}
exit ${res}
[CLEAN]
rm -rf $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/namd

[RUN]
run =   
binary = 
nodes = 

[BATCH]
#定义日志文件
LOG_FILE="namd-run.log"

>"$LOG_FILE"
$RUN_TOOL "namd " "time -p mpirun --allow-run-as-root -np 1 namd2 +ppn 127 ${test_name}.namd +setcpuaffinity" $LOG_FILE
#time -p mpirun --allow-run-as-root -np 1 namd2 +ppn 127 ${test_name}.namd +setcpuaffinity)

echo "All commands executed. Performance log saved to $LOG_FILE"

[JOB]
#!/bin/sh
#DSUB -n namd_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo roms.%J.out
#DSUB -oe roms.%J.err

LOG_FILE="namd-run.log"

>"$LOG_FILE"
$RUN_TOOL "namd" "time -p mpirun --allow-run-as-root -np 1 namd2 +ppn 127 ${test_name}.namd +setcpuaffinity" $LOG_FILE

echo "ALL commands executed. Performance log saved to $LOG_FILE"

