[SERVER]
11.11.11.11

[DOWNLOAD]
bishengjdk/11.0.23 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_jdk/bisheng-jdk-11.0.23-linux-aarch64.tar.gz

[DEPENDENCY]

[ENV]
#!/bin/bash
export BISHENGJDK_PATH=$JARVIS_ROOT/software/compiler/bishengjdk/11.0.23
export JAVA_HOME=$BISHENGJDK_PATH
export PATH=$BISHENGJDK_PATH/bin:$BISHENGJDK_PATH/jre/bin:$PATH
mkdir -p $JARVIS_ROOT/case/BISHENGJDK

[APP]
app_name =BISHENGJDK 
build_dir =
binary_dir =
case_dir = $JARVIS_ROOT/case/BISHENGJDK

[BUILD]
mkdir -p $BISHENGJDK_PATH
cd $JARVIS_ROOT
tar xzvf ${JARVIS_DOWNLOAD}/bisheng-jdk-8u412-linux-aarch64.tar.gz -C $BISHENGJDK_PATH  --strip-components=1

[CLEAN]
rm -rf $BISHENGJDK_PATH

[RUN]
run = 
binary = 
nodes = 1

[BATCH]
cd $JARVIS_ROOT/case/BISHENGJDK
> HelloWorld.java

cat << 'EOF' >> HelloWorld.java
public class HelloWorld {
public static void main(String[] args) {
System.out.println("Hello, World!");
}
}
EOF
if [ ! -f "HelloWorld.class" ];then
 javac HelloWorld.java
fi
java HelloWorld

[JOB]
#!/bin/sh
#DSUB -n compile_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=608
#DSUB -oo bishengjdk.%J.out
#DSUB -eo bishengjdk.%J.err
