[SERVER]
11.11.11.11

[DOWNLOAD]
multiwfn/3.8_dev http://sobereva.com/multiwfn/misc/Multiwfn_3.8_dev_src_Linux.zip Multiwfn_3.8_dev_src_Linux.zip 
gMultiwfn/samples https://github.com/stecue/gMultiwfn/archive/refs/tags/v3.4.1-0.tar.gz gMultiwfn_v3.4.1-0.tar.gz

[DEPENDENCY]
module purge
./jarvis -install hpckit/2025.1.0.SPC001 any
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load bisheng/kml25.1.0.SPC001/kml

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load bisheng/kml25.1.0.SPC001/kml


[APP]
app_name = multiwfn
app_version=3.8
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/multiwfn/3.8-%#MYKBSVER#%-%#MYKMPIVER#%
binary_dir = ${JARVIS_APP}/multiwfn/3.8-%#MYKBSVER#%-%#MYKMPIVER#%
case_dir = 

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

build_mod_check "${PATH_INSTALL}/bin/Multiwfn_noGUI" "prompt"

if [ ! -f /usr/lib64/libXm.so ]; then
set +x && echo_error "ERROR: yum install openmotif-devel openmotif for file /usr/lib64/libXm.so" && set -x
exit 1
fi

if [ ! -f /usr/lib64/libXt.so ]; then
set +x && echo_error "ERROR: yum install libXt-devel libXt for file /usr/lib64/libXt.so" && set -x
exit 1
fi

if [ ! -f /usr/lib64/libX11.so ]; then
set +x && echo_error "ERROR: yum install libX11-devel libX11 for file /usr/lib64/libX11.so" && set -x
exit 1
fi

if [ ! -f /usr/lib64/libGL.so ]; then
set +x && echo_error "ERROR: yum install libglvnd-devel libglvnd for file /usr/lib64/libGL.so" && set -x
exit 1
fi

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
if [ "$(md5sum ${JARVIS_DOWNLOAD}/multiwfn-3.8_dev.zip | awk '{print $1}')" != "8a10dd2f0a153426a7015d27d0e14d6a" ]; then
set +x && echo_error "ERROR: Require special zip:multiwfn-3.8_dev.zip,md5: 8a10dd2f0a153426a7015d27d0e14d6a" && set -x
exit 1
fi

if true; then
rm -rf Multiwfn_3.8_dev_src_Linux
unzip ${JARVIS_DOWNLOAD}/multiwfn-3.8_dev.zip

####### build start
set +x && echo_info "build start" && set -x

cd Multiwfn_3.8_dev_src_Linux
sed -i '1c SIMD =' Makefile 
sed -i '2c #DISDIAG = -diag-disable 8290,8291,6371,10316,6178,6916,7416,5268,7342,7373,5120,5144,5082,5112,2554,5183,6182,7352' Makefile
sed -i '3c OPT = -O2 -fGNU-compatibility -ffree-line-length-0 -ffixed-line-length-0 -fopenmp -std=f2008 -L\${HPCKIT_HMPI}/bisheng/release/hmpi/lib -lmpi_usempif08 -lmpi_usempi_ignore_tkr -lmpi_mpifh -lmpi -L\${HPCKIT_KML}/bisheng/lib/neon/kblas/multi -lkblas -L\${HPCKIT_KML}/bisheng/lib/sve -lklapack_full -cpp' Makefile
sed -i '4c OPT1 = -O1 -fGNU-compatibility -ffree-line-length-0 -ffixed-line-length-0 -fopenmp -std=f2008  -L\${HPCKIT_HMPI}/bisheng/release/hmpi/lib -lmpi_usempif08 -lmpi_usempi_ignore_tkr -lmpi_mpifh -lmpi -L\${HPCKIT_KML}/bisheng/lib/neon/kblas/multi -lkblas -L\${HPCKIT_KML}/bisheng/lib/sve -lklapack_full -cpp' Makefile

sed -i '12c FC = flang' Makefile
sed -i '13c CC = clang' Makefile
sed -i 's/6178,6843//g' Makefile
sed -i 's/6843//g' Makefile
sed -i '280s/-fpscomp logicals/-fIntel-compatibility/' Makefile
make clean
make noGUI
fi

mkdir -p ${PATH_INSTALL}/bin
rm -f ${PATH_INSTALL}/bin/Multiwfn_noGUI
ln -s ${BUILD_DIR}/Multiwfn_3.8_dev_src_Linux/Multiwfn_noGUI ${PATH_INSTALL}/bin/Multiwfn_noGUI 
cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
prepend-path LD_LIBRARY_PATH ${HPCKIT_KML}/bisheng/lib/neon/kblas/multi:${KML_LIB_PATH}/:${HPCKIT_KML}/bisheng/lib/sve
EOF

####### build done
set +x && echo_info "build done!!!" && set -x
####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/multiwfn/3.8
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load multiwfn/3.8-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOBDIR}/env.sh
cp ${JARVIS_DOWNLOAD}/gMultiwfn_v3.4.1-0.tar.gz  ${JOBDIR}/ -ar
echo -e "1\n3.3,2.0,-0.3\n1\nq\nq\n" >${JOBDIR}/ans.txt

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_Multiwfn
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=256"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.wrf
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cp job_work
cp ../gMultiwfn_v3.4.1-0.tar.gz . -ar
tar -zxf gMultiwfn_v3.4.1-0.tar.gz
{ time echo -e "1\n3.3,2.0,-0.3\n1\nq\nq\n" | Multiwfn_noGUI gMultiwfn-3.4.1-0/examples/2-pyridoxine_2-aminopyridine.wfn ; } 2>&1 | tee tee_multiwfn.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd local_work
cp ../gMultiwfn_v3.4.1-0.tar.gz . -ar
tar -zxf gMultiwfn_v3.4.1-0.tar.gz
{ time echo -e "1\n3.3,2.0,-0.3\n1\nq\nq\n" | Multiwfn_noGUI gMultiwfn-3.4.1-0/examples/2-pyridoxine_2-aminopyridine.wfn ; } 2>&1 | tee tee_multiwfn.xlog
EOF

cat > ${JOBDIR}/multiwfn-3.8-run.sh << EOF
#!/bin/bash
mkdir -p local_work
mkdir -p job_work
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/multiwfn-3.8-run.sh

set +x && echo_info "Install done!!!" && set -x
[CLEAN]
make clean

[RUN]
run = 
binary =./Multiwfn_noGUI 
nodes = 1

[PERF]
perf=
nsys=
ncu=
