[SERVER]
11.11.11.11

[DOWNLOAD]
interproscan/5.53-87.0 http://ftp.ebi.ac.uk/pub/software/unix/iprscan/5/5.73-104.0/interproscan-5.73-104.0-64-bit.tar.gz
bisheng-jdk/11.0.25 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_jdk/bisheng-jdk-11.0.25-linux-aarch64.tar.gz bisheng-jdk-11-aarch64.tar.gz
bisheng-jre/11.0.25 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_jdk/bisheng-jre-11.0.25-linux-aarch64.tar.gz bisheng-jre-11-aarch64.tar.gz

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
#module load gcc/compiler12.3.1/gccmodule

./jarvis -install python3/3.9.9 bisheng
module use software/moduledeps/bisheng${BISHENG_VERSION}
module load python3/3.9.9
tar -zxvf ${JARVIS_DOWNLOAD}/bisheng-jdk-11-aarch64.tar.gz -C ${JARVIS_COMPILER}
tar -zxvf ${JARVIS_DOWNLOAD}/bisheng-jre-11-aarch64.tar.gz -C ${JARVIS_COMPILER}/bisheng-jdk-11.0.25/ --transform='s/bisheng-jre-11.0.25/jre/'

./jarvis -install hmmer/3.1 bisheng

mkdir -p ${JARVIS_ROOT}/software/apps
tar -zxvf ${JARVIS_DOWNLOAD}/interproscan-5.73-104.0-64-bit.tar.gz -C ${JARVIS_ROOT}/software/apps/ --transform='s/interproscan-5.73-104.0/interproscan/'

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule

module use software/moduledeps/bisheng${BISHENG_VERSION}
module load python3/3.9.9
export PATH=${JARVIS_COMPILER}/bisheng-jdk-11.0.25/bin:${JARVIS_COMPILER}/bisheng-jdk-11.0.25/jre/bin:$PATH
export CC=clang

[APP]
app_name = interproscan
build_dir = ${JARVIS_ROOT}/software/apps/interproscan
binary_dir = ${JARVIS_ROOT}/software/apps/interproscan
case_dir = ${JARVIS_ROOT}/software/apps/interproscan

[BUILD]
mkdir -p bin/hmmer/hmmer3/3.1/
yes | cp -ar ${JARVIS_LIBS}/bisheng${BISHENG_VERSION}/hmmer/3.1/bin/* bin/hmmer/hmmer3/3.1/
sed -i "17c binary.hmmer3.path=\${bin.directory}/hmmer/hmmer3/3.1"  interproscan.properties
sed -i "17a binary.hmmer3.hmmsearch.path=\${bin.directory}/hmmer/hmmer3/3.1/hmmsearch" interproscan.properties
sed -i "17a binary.hmmer3.hmmscan.path=\${bin.directory}/hmmer/hmmer3/3.1/hmmscan" interproscan.properties

#重新生成bin/sfld/sfld_postprocess
cd src/sfld/1
make clean
sed -i "6c EASEL_DIR=${JARVIS_TMP}/hmmer-3.1b2/easel" Makefile  #为hmmer的源码目录，如已安装hmmer但无源码路径请先下载hmmer源码
make 

cp sfld_postprocess ${JARVIS_ROOT}/software/apps/interproscan/bin/sfld/sfld_postprocess

cd ${JARVIS_ROOT}/software/apps/interproscan/
python3 setup.py -f interproscan.properties

echo -e "\033[0;32mExample: Testing the \"sfld\" module\033[0m"
if file -b bin/sfld/sfld_postprocess | grep -qi 'ARM\|aarch64'; then
  echo -e "\033[0;32mAlready \"sfld\" module aarch64 platform binary\033[0m"
  echo -e "\033[0;32mNext command ./jarvis -r\033[0m"
else
  echo -e "\033[0;31mTo be compiled and replaced with \"bin/sfld/sfld_postprocess\" binaries for aarch64 platforms!\033[0m"
  exit 1
fi

[CLEAN]

[RUN]
run = bash interproscan.sh -i 
binary = test_all_appl.fasta -f tsv -dp -appl sfld
nodes = 1
