[SERVER]
11.11.11.11

[DOWNLOAD]
interproscan/5.53-87.0 http://ftp.ebi.ac.uk/pub/software/unix/iprscan/5/5.73-104.0/interproscan-5.73-104.0-64-bit.tar.gz
bisheng-jdk/11.0.25 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_jdk/bisheng-jdk-11.0.25-linux-aarch64.tar.gz bisheng-jdk-11-aarch64.tar.gz
bisheng-jre/11.0.25 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_jdk/bisheng-jre-11.0.25-linux-aarch64.tar.gz bisheng-jre-11-aarch64.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install python3/3.9.9 bisheng
module load python3/3.9.9
tar -zxvf ${JARVIS_DOWNLOAD}/bisheng-jdk-11-aarch64.tar.gz -C ${JARVIS_COMPILER}
tar -zxvf ${JARVIS_DOWNLOAD}/bisheng-jre-11-aarch64.tar.gz -C ${JARVIS_COMPILER}/bisheng-jdk-11.0.25/ --transform='s/bisheng-jre-11.0.25/jre/'
echo -e "\033[0;32mCheck the execution dependency \"hmmer\" ...\033[0m"
file1="${JARVIS_ROOT}/hmmer/bin/hmmscan"
file2="${JARVIS_ROOT}/hmmer/bin/hmmsearch"
if [[ $( file -b --mime-encoding ${file1} ) = "binary" ]];then
  if [[ $( file -b --mime-encoding ${file2} ) = "binary" ]];then
    echo -e "\033[0;32mAlready installed the execution dependency \"hmmer\"\033[0m"
  fi
else
  echo -e "\033[0;31mPlease install the execution dependency \"hmmer\" in ${JARVIS_ROOT} or configuer the hmmer executabla file environment variables after installation.\033[0m"
  exit 1
fi

mkdir -p ${JARVIS_ROOT}/software/apps
tar -zxvf ${JARVIS_DOWNLOAD}/interproscan-5.73-104.0-64-bit.tar.gz -C ${JARVIS_ROOT}/software/apps/ --transform='s/interproscan-5.73-104.0/interproscan/'

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load python3/3.9.9
export PATH=${JARVIS_COMPILER}/bisheng-jdk-11.0.25/bin:${JARVIS_COMPILER}/bisheng-jdk-11.0.25/jre/bin:$PATH

[APP]
app_name = interproscan
build_dir = ${JARVIS_ROOT}/software/apps/interproscan
binary_dir = ${JARVIS_ROOT}/software/apps/interproscan
case_dir = ${JARVIS_ROOT}/software/apps/interproscan

[BUILD]
yes | cp -ar ${JARVIS_ROOT}/hmmer/bin/* bin/hmmer/hmmer3/3.3/
python3 setup.py -f interproscan.properties

echo -e "\033[0;32mExample: Testing the \"sfld\" module\033[0m"
file -b bin/sfld/sfld_postprocess | grep -qi 'ARM\|aarch64'
if [ $? -eq 0 ];then
  echo -e "\033[0;32mAlready \"sfld\" module aarch64 platform binary\033[0m"
  echo -e "\033[0;32mNext command ./jarvis -r\033[0m"
else
  echo -e "\033[0;31mTo be compiled and replaced with \"bin/sfld/sfld_postprocess\" binaries for aarch64 platforms!\033[0m"
  exit 1
fi

[CLEAN]

[RUN]
run = bash interproscan.sh -i 
binary = test_all_appl.fasta -f tsv -dp -appl sfld
nodes = 1
