[SERVER]
11.11.11.11

[DOWNLOAD]
CESM/2.1.5 https://github.com/ESCOMP/CESM/archive/refs/tags/release-cesm2.1.5.tar.gz

[DEPENDENCY]
set -x
set -e
. $CHECK_ROOT && yum install -y perl-XML-LibXML

./jarvis -install package/hpckit/2024.12.30/ any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi

export CC=clang CXX=clang++ FC=flang
./jarvis -install openblas/0.3.18 clang


export CC=mpicc FC=mpifort CXX=mpicxx

./jarvis -install package/hdf5/1.12.0/clang bisheng+mpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.1.0-hmpi2.4.3/
module load hdf5-clang/1.12.0
./jarvis -install package/pnetcdf/1.11.2 bisheng+mpi
module load pnetcdf/1.11.2
./jarvis -install package/netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4
module load bisheng/kml2.5.0/kml bisheng/kml2.5.0/kblas/pthread


[ENV]
module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module load bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.1.0-hmpi2.4.3/
module load hdf5-clang/1.12.0
module load pnetcdf/1.11.2
module load netcdf-clang/4.7.4
module load bisheng/kml2.5.0/kml bisheng/kml2.5.0/kblas/pthread

export NETCDF_PATH=${NETCDF_CLANG_PATH}
export CESM_PATH=$JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/CESM-release-cesm2.1.5
export CIMEROOT=$CESM_PATH/cime
export PYTHONPATH=$CIMEROOT/scripts/lib:$CIMEROOT/scripts/Tools:$PYTHONPATH
export case_name=mycase

[APP]
app_name = CESM
build_dir = $CESM_PATH
binary_dir = 
case_dir = $CESM_PATH/

[BUILD]
set -e
set -x
mkdir -p $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/CESM-release-cesm2.1.5
tar -xvf  ${JARVIS_DOWNLOAD}/release-cesm2.1.5.tar.gz  --strip-components 1 -C $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/CESM-release-cesm2.1.5
cd $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/CESM-release-cesm2.1.5

./manage_externals/checkout_externals
./manage_externals/checkout_externals -S


sed -i '462s|.*|   <NODENAME_REGEX>n2</NODENAME_REGEX>|' cime/config/cesm/machines/config_machines.xml
sed -i  '465s|.*|  <COMPILERS>gnu</COMPILERS>  |' cime/config/cesm/machines/config_machines.xml
sed -i  '466s|.*|  <MPILIBS>openmpi</MPILIBS> |' cime/config/cesm/machines/config_machines.xml
sed -i  "469,474s|\$ENV%{HOME}|$TEST_DIR|g" cime/config/cesm/machines/config_machines.xml


export module_line1="    <command name=\"use\">${JARVIS_ROOT}/software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles</command>"
export module_line2="    <command name=\"load\">bisheng/compiler4.1.0/bishengmodule</command>"
export module_line3="    <command name=\"load\">bisheng/hmpi2.4.3/hmpi</command>"
export module_line4="    <command name="use">/home/drh/hpcrunner-bak/software/moduledeps/bisheng4.1.0-hmpi2.4.3</command>"
export module_line5="    <command name="load">hdf5-clang/1.12.0</command>"
export module_line6="    <command name="load">pnetcdf/1.11.2</command> "
export module_line7="    <command name="load">netcdf-clang/4.7.4</command> "
sed -i '498a\'"$module_line1"'\n'"$module_line2"'\n'"$module_line3"'\n'"$module_line4"'\n'"$module_line5"'\n'"$module_line6"'\n'"$module_line7"'' cime/config/cesm/machines/config_machines.xml 


env_line1="     <env name=\"NETCDF_PATH\">$NETCDF_CLANG_PATH</env>    "
env_line2="     <env name=\"NETCDF_FORTRAN_PATH\">$NETCDF_CLANG_PATH</env>    "
env_line3="     <env name=\"NETCDF_C_PATH\">$NETCDF_CLANG_PATH</env>    "
MPI_DIR=`dirname $(dirname $(which mpirun))`
env_line4="     <env name=\"MPI_PATH\">${MPI_DIR}</env>    "
sed -i '509a\ '"$env_line1"'\n'"$env_line2"'\n'"$env_line3"'\n'"$env_line4"'' cime/config/cesm/machines/config_machines.xml 

sed -i "479,480s|8|128|g" cime/config/cesm/machines/config_machines.xml 
sed -i "479,480s|mpiexec|mpirun|g" cime/config/cesm/machines/config_machines.xml 



#修改config_compilers.xml
NETCDF_PATH=$NETCDF_CLANG_PATH
HDF5_PATH=$HDF5_CLANG_PATH

sed -i '109s|.*|     <base> -O3 -march=armv8.2-a -mcpu=tsv110 </base>|' cime/config/cesm/machines/config_compilers.xml
sed -i '125s|.*|           <base>  -fconvert=big-endian -O3 -march=armv8.2-a -mcpu=tsv110 -I${NETCDF_PATH}/include -L${HDF5_PATH}/include -I${PNETCDF_PATH}/include </base> |' cime/config/cesm/machines/config_compilers.xml
sed -i '146s|.*|           <append compile_threaded="true"> -fopenmp -L${NETCDF_PATH}/lib -L${HDF5_PATH}/lib -L${PNETCDF_PATH}/lib -lopenblas -lnetcdff -lnetcdf -lpnetcdf -lhdf5_hl -lhdf5 -lm -lz </append> |' cime/config/cesm/machines/config_compilers.xml

sed -i '151s|.*|   <SCC> clang </SCC> |' cime/config/cesm/machines/config_compilers.xml
sed -i '152s|.*|   <SCXX> clang++ </SCXX> |' cime/config/cesm/machines/config_compilers.xml
sed -i '153s|.*|   <SFC> flang </SFC> |' cime/config/cesm/machines/config_compilers.xml

alib_line1="  <SLIBS>"
alib_line2="  <append> -L${NETCDF_PATH}/lib -L${HDF5_PATH}/lib -L${PNETCDF_PATH}/lib -lopenblas -lnetcdff -lnetcdf -lpnetcdf -lhdf5_hl -lhdf5 -lm -lz </append>"
alib_line3="  </SLIBS>"
sed -i '154a\'"$alib_line1"'\n'"$alib_line2"'\n'"$alib_line3"'' cime/config/cesm/machines/config_compilers.xml



[CLEAN]
cd cime/scripts/$case_name
#如果修改env_build.xml
#./case.build --clean
#如果修改config_machines/config_compilers
./case.build --clean-all

[RUN]
#run = rm -rf cesm_* && chmod +x run.sh && dsub -s run.sh
run = ./case.submit
binary =
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="cesm-proformance.log"

>"$LOG_FILE"

sed -i '469s|.*|     <CIME_OUTPUT_ROOT>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/scratch</CIME_OUTPUT_ROOT> |' cime/config/cesm/machines/config_machines.xml
sed -i '470s|.*|     <DIN_LOC_ROOT>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/inputdata</DIN_LOC_ROOT> |' cime/config/cesm/machines/config_machines.xml
sed -i '471s|.*|     <DIN_LOC_ROOT_CLMFORC>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/inputdata/lmwg</DIN_LOC_ROOT_CLMFORC> |' cime/config/cesm/machines/config_machines.xml
sed -i '472s|.*|     <DOUT_S_ROOT>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/archive/$CASE</DOUT_S_ROOT> |' cime/config/cesm/machines/config_machines.xml
sed -i '473s|.*|     <BASELINE_ROOT>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/cesm_baselines</BASELINE_ROOT> |' cime/config/cesm/machines/config_machines.xml
sed -i '474s|.*|     <CCSM_CPRNC>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/tools/cime/tools/cprnc/cprnc</CCSM_CPRNC> |' cime/config/cesm/machines/config_machines.xml

cd cime/scripts
if [ ! -d $case_name ]; then
    ./create_newcase --case mycase --compset X --res f19_g16 --mach=centos7-linux
fi
cd $case_name
#./xmlchange NTASKS=128
./case.setup
./check_case

sed -i '70s|!defined CPRGNU|defined CPRGNU|'  ../..//src/share/util/shr_sys_mod.F90
sed -i '115s|!defined CPRGNU|defined CPRGNU|' ../../src/share/util/shr_sys_mod.F90

MPI_DIR=`dirname $(dirname $(which mpirun))`
COMPLER_PATH=`dirname $(dirname $(which clang))`
LIB_MPI=$MPI_DIR/lib
sed -i "543s|.*|     SLIBS += -L${LIB_MPI}/ -lmpi -lopen-pal -L${COMPLER_PATH}/lib -lflang|" Tools/Makefile

#不加download表示查看所有缺失文件
#./check_input_data --download
./xmlchange STOP_OPTION=nhours,STOP_N=1
./xmlchange DOUT_S=FALSE
#./xmlchange NTASKS_ATM=208,NTASKS_CPL=208,NTASKS_OCN=208,NTASKS_WAV=208,NTASKS_GLC=208,NTASKS_ICE=208,NTASKS_ROF=208,NTASKS_LND=208,NTASKS_ESP=1
#./case.setup --reset
./case.build 

export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
./xmlchange STOP_N=300
./case.submit
