[SERVER]
11.11.11.11

[DOWNLOAD]
htslib/1.15 https://github.com/samtools/htslib/releases/download/1.15/htslib-1.15.tar.bz2
bisheng/2.1.0 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_compiler/bisheng-compiler-2.1.0-aarch64-linux.tar.gz

[DEPENDENCY]
./jarvis -install bisheng/2.1.0 com

[ENV]
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[APP]
app_name = htslib
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =

[BUILD]
./jarvis -install htslib/1.15 clang


[RUN]
run =
binary =
node = 1
