[SERVER]
11.11.11.11

[DEPENDENCY]
./jarvis -install bisheng/2.1.0 com

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[APP]
app_name = htslib
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =

[BUILD]
./jarvis -install htslib/1.15 clang


[RUN]
run =
binary =
nodes = 1
