[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/module*
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module purge
module load hpckit${HPCKIT_VERSION}/gcc/compiler${GCC_VERSION}/gccmodule  hpckit${HPCKIT_VERSION}/gcc/hmpi${HMPI_VERSION}/release

./jarvis -install cmake/3.23.1 gcc
module load gcc${GCC_VERSION}/cmake/3.23.1

[ENV]
module purge
module use ${JARVIS_ROOT}/software/module*
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module purge
module load hpckit${HPCKIT_VERSION}/gcc/compiler${GCC_VERSION}/gccmodule  hpckit${HPCKIT_VERSION}/gcc/hmpi${HMPI_VERSION}/release
module load gcc${GCC_VERSION}/cmake/3.23.1

[APP]
app_name = opencoarrays
build_dir = ${JARVIS_TMP}/OpenCoarrays-2.10.1
binary_dir = ${JARVIS_LIBS}/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}/OpenCoarrays/bin
case_dir = ${JARVIS_TMP}/OpenCoarrays-2.10.1/opencoarrays-build

[BUILD]
cd ${JARVIS_ROOT} && ./jarvis -install opencoarrays/2.10.1 gcc+mpi

[RUN]
run = export OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 && ctest --output-on-failure --repeat-until-fail 1 --timeout 200

binary =
nodes = 1
