[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install gcc/9.3.0 com
module use ./software/modulefiles
module load gcc/9.3.0
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install openmpi/4.1.2 gcc
module load openmpi/4.1.2
./jarvis -install cmake/3.23.1 gcc
module load cmake/3.23.1

[ENV]
module purge
module use ./software/modulefiles
module load gcc/9.3.0
module load openmpi/4.1.2
# module load hmpi/1.1.1
module load cmake/3.23.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = opencoarrays
build_dir = ${JARVIS_TMP}/OpenCoarrays-2.10.1
binary_dir = ${JARVIS_LIBS}/gcc9.3.0/hmpi1.1.1/OpenCoarrays/bin
case_dir = ${JARVIS_TMP}/OpenCoarrays-2.10.1/opencoarrays-build

[BUILD]
cd ${JARVIS_ROOT} && ./jarvis -install opencoarrays/2.10.1 gcc+mpi

[RUN]
run = export OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 && ctest --output-on-failure --repeat-until-fail 1 --timeout 200
# mpiexec -n 2 --hostfile /root/hpcrunner/tmp/OpenCoarrays-2.10.0/opencoarrays-build/hostfile --allow-run-as-root /root/hpcrunner/tmp/OpenCoarrays-2.10.0/opencoarrays-build/bin/OpenCoarrays-2.10.0-tests/alloc_comp_get_convert_nums
# /root/hpcrunner/software/mpi/openmpi4-gcc9/4.1.2/bin/mpiexec -n 2 --hostfile /root/hpcrunner/tmp/OpenCoarrays-2.10.0/opencoarrays-build/hostfile --allow-run-as-root xterm -e gdb /root/hpcrunner/tmp/OpenCoarrays-2.10.0/opencoarrays-build/bin/OpenCoarrays-2.10.0-tests/alloc_comp_get_convert_nums
#ctest --output-on-failure --repeat-until-fail 1 --timeout 200 || /root/hpcrunner/software/mpi/openmpi4-gcc9/4.1.2/bin/mpiexec -n 2 --hostfile /root/hpcrunner/tmp/OpenCoarrays-2.10.0/opencoarrays-build/hostfile --allow-run-as-root /root/hpcrunner/tmp/OpenCoarrays-2.10.0/opencoarrays-build/bin/OpenCoarrays-2.10.0-tests/alloc_comp_get_convert_nums
# ctest --output-on-failure --repeat-until-fail 1 --timeout 200
binary = 
nodes = 1