[SERVER]
11.11.11.11

[DOWNLOAD]
ctffind/4.1.14 https://grigoriefflab.umassmed.edu/system/tdf?path=ctffind-4.1.14.tar.gz\&file=1\&type=node\&id=26 ctffind-4.1.14.tar.gz 

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule
./jarvis -install wxWidgets/3.0.5 clang

[ENV]
module purge
module use ${JARVIS_ROOT}/software/module*
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule
module add bisheng${BISHENG_VERSION}/wxWidgets/3.0.5

[APP]
app_name = ctffind
build_dir = ${JARVIS_ROO}
binary_dir = 
case_dir = 

[BUILD]
./jarvis -install ctffind/4.1.14/clang clang

[RUN]
run = 
binary = 
nodes = 1
