[SERVER]
11.11.11.11

[DOWNLOAD]
ctffind/4.1.14 https://grigoriefflab.umassmed.edu/system/tdf?path=ctffind-4.1.14.tar.gz\&file=1\&type=node\&id=26 ctffind-4.1.14.tar.gz 


[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module add bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install wxWidgets/3.0.5 clang


[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module add bisheng/2.1.0
module add wxWidgets/3.0.5
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = ctffind
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
./jarvis -install ctffind/4.1.14/clang clang

[RUN]
run = 
binary = 
node = 1
