[SERVER]
11.11.11.11

[DOWNLOAD]
GSEA/4.3.2 https://data.broadinstitute.org/gsea-msigdb/gsea/software/desktop/4.3/GSEA_4.3.2.zip GSEA_4.3.2.zip

[DOWNLOADORI]
GSEA/4.3.2 https://data.broadinstitute.org/gsea-msigdb/gsea/software/desktop/4.3/GSEA_4.3.2.zip GSEA_4.3.2.zip

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install kgcc/9.3.1 com
module load kgcc/9.3.1



[ENV]
module use ./software/modulefiles
module purge
module load kgcc/9.3.1

[APP]
app_name = STAR
build_dir = $JARVIS_ROOT
binary_dir = 
case_dir = 



[BUILD]
set -x
set -e
module use ./software/modulefiles
module purge
module load kgcc/9.3.1


cd ${JARVIS_TMP}
rm -rf GSEA_4.3.2
uinzip $JARVIS_DOWNLOAD/GSEA_4.3.2.zip
cd ${JARVIS_TMP}/GSEA_4.3.2


[CLEAN]
./clean_build

[RUN]
run =
binary =
nodes = 1