[SERVER]
11.11.11.11

[DOWNLOAD]
GSEA/4.3.2 https://data.broadinstitute.org/gsea-msigdb/gsea/software/desktop/4.3/GSEA_4.3.2.zip GSEA_4.3.2.zip

[DOWNLOADORI]
GSEA/4.3.2 https://data.broadinstitute.org/gsea-msigdb/gsea/software/desktop/4.3/GSEA_4.3.2.zip GSEA_4.3.2.zip

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh


[ENV]
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh


[APP]
app_name = STAR
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =



[BUILD]
set -x
set -e

cd ${JARVIS_TMP}
rm -rf GSEA_4.3.2
unzip $JARVIS_DOWNLOAD/GSEA_4.3.2.zip -d ${JARVIS_ROOT}/software/apps/
cd ${JARVIS_ROOT}/software/apps/GSEA_4.3.2


[CLEAN]
./clean_build

[RUN]
run =
binary =
nodes = 1
