[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.8 https://github.com/QEF/q-e/archive/refs/tags/qe-6.8.tar.gz

[DEPENDENCY]
./jarvis -install kgcc/9.3.1 com
module use ./software/modulefiles
module load kgcc/9.3.1
./jarvis -install hmpi/1.1.1 gcc
module load hmpi/1.1.1
./jarvis -install kml/1.4.0/gcc gcc
tar -xzvf $JARVIS_DOWNLOAD/qe-6.8.tar.gz

[ENV]
source /etc/profile
module use ./software/modulefiles
module load kgcc/9.3.1
module load hmpi/1.1.1
export BLAS_LIBS="-L/usr/local/kml/lib/kblas/omp -lkblas"
export LAPACK_LIBS="-L/usr/local/kml/lib/ -lklapack_full"

[APP]
app_name = QE
build_dir = $JARVIS_ROOT/q-e-qe-6.8/
binary_dir = $JARVIS_ROOT/q-e-qe-6.8/bin/
case_dir = $JARVIS_ROOT/workloads/QE/qe-test/

[BUILD]
./configure F90=gfortran F77=gfortran MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j 96 pwall
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -mca btl ^openib -np 128
binary = pw.x -nk 8 -input test_3.in
nodes = 1