[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.8 https://github.com/QEF/q-e/archive/refs/tags/qe-6.8.tar.gz

[DEPENDENCY]
set -x
set -e
tar -xzvf $JARVIS_DOWNLOAD/qe-6.8.tar.gz

[ENV]
module purge
module use /opt/nvidia/hpc_sdk/modulefiles/
module load nvhpc/21.9

[APP]
app_name = QE
build_dir = ${JARVIS_ROOT}/q-e-qe-6.8/
binary_dir = ${JARVIS_ROOT}/q-e-qe-6.8/bin/
case_dir = ${JARVIS_ROOT}/workloads/QE/qe-large/

[BUILD]
set -x
set -e
# install devicexlib
cd external
rm -rf devxlib/*
tar xzf devicexlib-master.tar.gz -C devxlib --strip-components=1
cd devxlib
./configure FC=pgf90 CC=pgcc --with-cuda=no --with-cuda-cc=80 --with-cuda-runtime= --disable-parallel --enable-cuda-env-check=no
make all
cd ../../
./configure FCFLAGS="-O3" CFLAGS="-O3" --with-cuda=/usr/local/cuda --with-cuda-runtime=11.4 --with-cuda-cc=80  --enable-openmp --with-scalapack=no LIBS="-L/opt/nvidia/hpc_sdk/Linux_x86_64/21.9/math_libs/lib64 -L$CUDA_HOME/lib64/stubs"
echo DFLAGS += -D__GPU_MPI >> make.inc
echo LD_LIBS += -lcurand >> make.inc
make pw -j

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -n 1
binary = pw.x -input scf.in
nodes = 1