[SERVER]
11.11.11.11

[DEPENDENCY]
./jarvis -install kgcc/9.3.1 com
module use ./software/modulefiles
module load kgcc9
./jarvis -install hmpi/1.1.0/gcc gcc
module load hmpi1/1.1.0
./jarvis -install kml/1.4.0/gcc gcc

[ENV]
source /etc/profile
module use ./software/modulefiles
module load kgcc9
module load hmpi1/1.1.0
export BLAS_LIBS="-L/usr/local/kml/lib/kblas/omp -lkblas"
export LAPACK_LIBS="-L/usr/local/kml/lib/ -lklapack_full"

[APP]
app_name = QE
build_dir = /tmp/q-e-qe-6.8/
binary_dir = /tmp/q-e-qe-6.8/bin/
case_dir = /tmp/qe-large/

[BUILD]
./configure F90=gfortran F77=gfortran MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j 96 pwall
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -mca btl ^vader,tcp,openib,uct -np 128
binary = pw.x -nk 8 -input scf.in
nodes = 1