[SERVER]
11.11.11.11

[DOWNLOAD]
tensorflow/2.13.0 https://github.com/tensorflow/tensorflow/archive/refs/tags/v2.13.0.tar.gz tensorflow-2.13.0.tar.gz
case1 https://raw.githubusercontent.com/yejianbang/tensorflow-case/refs/heads/main/tensorflow-case.py
case2 https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz


[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.0.0 any

./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2

./jarvis -install anaconda3/2024.10 any

./jarvis -install bazel/5.3.0 any
module load bazel/5.3.0

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load cmake/3.28.2
module load bazel/5.3.0
module load anaconda3/2024.10

[APP]
fake = 0
app_name = tensorflow
app_version = 2.13.0
compiler = gcc
build_dir = ${JARVIS_APP}/tensorflow/2.13.0-kgcc12.3.1/project
binary_dir = ${JARVIS_APP}/tensorflow/2.13.0-kgcc12.3.1
case_dir = ${JARVIS_JOBSCRIPT}/tensorflow/12.3.1

[BUILD]
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

echo "CONDA_SH:${CONDA_SH}"
####### build prepare
set +x && echo_info "build prepare!!!" && set -x
if [ ! -f /usr/bin/patchelf ]; then
	set +x && echo_error "ERROR: yum install patchelf for file: /usr/bin/patchelf" && set -x
	exit 1
fi

if [ ! -f ${CONDA_SH} ]; then
	echo "Invalid conda env:${CONDA_SH}"
	exit 1
fi
TF_ENV=${PATH_INSTALL}/project/conda_env/tf_021300_py39
source ${CONDA_SH}

set +x && echo_info "TF work dir:${BUILD_DIR}/tensorflow-2.13.0" && set -x
set +x && build_mod_check "${PATH_INSTALL}/tensorflow-2.13.0-cp39-cp39-linux_aarch64.whl" "prompt" && set -x
conda create --prefix=${TF_ENV} python=3.9 -y
conda activate ${TF_ENV}
pip config set global.index-url https://mirrors.aliyun.com/pypi/simple
pip config set global.trusted-host mirrors.aliyun.com

rm -f ${PATH_INSTALL}/tensorflow-2.13.0-cp39-cp39-linux_aarch64.whl
#rm -rf ${BUILD_DIR}/tensorflow-2.13.0
if [ ! -d ${BUILD_DIR}/tensorflow-2.13.0 ]; then
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/tensorflow-2.13.0.tar.gz -C ${BUILD_DIR}
fi

####### build start
set +x && echo_info "build start" && set -x

install_path=$1
if true; then
pip install packaging requests numpy==1.24.3 --trusted-host mirrors.aliyun.com -i https://mirrors.aliyun.com/pypi/simple

cd ${BUILD_DIR}/tensorflow-2.13.0

COUNT=$(wc -l ${BUILD_DIR}/tensorflow-2.13.0/tensorflow/tensorflow.bzl | awk '{print $1}')
if [ $COUNT -eq 3503 ]; then
sed -i "1284a    use_default_shell_env = True," ${BUILD_DIR}/tensorflow-2.13.0/tensorflow/tensorflow.bzl
fi

echo -e "\n\n\n\n\n\n\n" | ./configure

bazel --output_base=${BUILD_DIR}/tensorflow-2.13.0/output build --verbose_failures --copt="-Wno-gnu-offsetof-extensions" //tensorflow/tools/pip_package:build_pip_package

${DOWNLOAD_TOOL} -u https://github.com/bazelbuild/rules_jvm_external/archive/4.3.zip -f 4.3.zip
sed -i "45s|https://github.com/bazelbuild/rules_jvm_external/archive|file://${JARVIS_DOWNLOAD}|" ${BUILD_DIR}/tensorflow-2.13.0/tensorflow/workspace3.bzl

${DOWNLOAD_TOOL} -u  https://github.com/llvm/llvm-project/archive/dc275fd03254d67d29cc70a5a0569acf24d2280d.tar.gz -f dc275fd03254d67d29cc70a5a0569acf24d2280d.tar.gz
sed -i "16s|https://github.com/llvm/llvm-project/archive|file://${JARVIS_DOWNLOAD}|"  ${BUILD_DIR}/tensorflow-2.13.0/third_party/llvm/workspace.bzl

${DOWNLOAD_TOOL} -u https://github.com/tensorflow/runtime/archive/7d879c8b161085a4374ea481b93a52adb19c0529.tar.gz -f 7d879c8b161085a4374ea481b93a52adb19c0529.tar.gz
sed -i "16c\         urls = [\"https://storage.googleapis.com/mirror.tensorflow.org/github.com/tensorflow/runtime/archive/7d879c8b161085a4374ea481b93a52adb19c0529.tar.gz\",\"file://${JARVIS_DOWNLOAD}/7d879c8b161085a4374ea481b93a52adb19c0529.tar.gz\"]," ${BUILD_DIR}/tensorflow-2.13.0/third_party/tf_runtime/workspace.bzl

${DOWNLOAD_TOOL} -u https://github.com/bazelbuild/rules_foreign_cc/archive/0.7.1.tar.gz -f 0.7.1.tar.gz
sed -i "22s|https://github.com/bazelbuild/rules_foreign_cc/archive|file://${JARVIS_DOWNLOAD}|" ${BUILD_DIR}/tensorflow-2.13.0/output/external/com_google_benchmark/bazel/benchmark_deps.bzl

${DOWNLOAD_TOOL} -u https://github.com/envoyproxy/data-plane-api/archive/c83ed7ea9eb5fb3b93d1ad52b59750f1958b8bde.tar.gz -f c83ed7ea9eb5fb3b93d1ad52b59750f1958b8bde.tar.gz
sed -i "239s|https://github.com/envoyproxy/data-plane-api/archive|file://${JARVIS_DOWNLOAD}|" ${BUILD_DIR}/tensorflow-2.13.0/output/external/com_github_grpc_grpc/bazel/grpc_deps.bzl

${DOWNLOAD_TOOL} -u https://github.com/bazelbuild/rules_cc/archive/081771d4a0e9d7d3aa0eed2ef389fa4700dfb23e.tar.gz -f 081771d4a0e9d7d3aa0eed2ef389fa4700dfb23e.tar.gz
sed -i "42s|https://github.com/bazelbuild/rules_cc/archive|file://${JARVIS_DOWNLOAD}|" ${BUILD_DIR}/tensorflow-2.13.0/output/external/rules_cuda/cuda/dependencies.bzl

${DOWNLOAD_TOOL} -u https://github.com/google/flatbuffers/archive/v23.1.21.tar.gz -f v23.1.21.tar.gz
sed -i "10c\         urls = [\"https://storage.googleapis.com/github.com/google/flatbuffers/archive/v23.1.21.tar.gz\",\"file://${JARVIS_DOWNLOAD}/v23.1.21.tar.gz\"]," ${BUILD_DIR}/tensorflow-2.13.0/third_party/flatbuffers/workspace.bzl

if [ ! -d "${JARVIS_DOWNLOAD}/rules_java/archive" ]; then
mkdir -p ${JARVIS_DOWNLOAD}/rules_java/archive
fi

${DOWNLOAD_TOOL} -u https://github.com/bazelbuild/rules_java/archive/981f06c3d2bd10225e85209904090eb7b5fb26bd.zip -f rules_java/archive/981f06c3d2bd10225e85209904090eb7b5fb26bd.zip
sed -i "70s|https://github.com/bazelbuild/rules_java|file://${JARVIS_DOWNLOAD}/rules_java|" ${BUILD_DIR}/tensorflow-2.13.0/output/external/com_google_protobuf/protobuf_deps.bzl

${DOWNLOAD_TOOL} -u https://github.com/openxla/stablehlo/archive/43d81c6883ade82052920bd367c61f9e52f09954.zip -f 43d81c6883ade82052920bd367c61f9e52f09954.zip
sed -i "15c\        urls = [\"https://storage.googleapis.com/github.com/openxla/stablehlo/archive/43d81c6883ade82052920bd367c61f9e52f09954.zip\", \"file://${JARVIS_DOWNLOAD}/43d81c6883ade82052920bd367c61f9e52f09954.zip\"]," ${BUILD_DIR}/tensorflow-2.13.0/third_party/stablehlo/workspace.bzl  

${DOWNLOAD_TOOL} -u https://github.com/google/XNNPACK/archive/b9d4073a6913891ce9cbd8965c8d506075d2a45a.zip -f b9d4073a6913891ce9cbd8965c8d506075d2a45a.zip
sed -i "148c\         urls =[\"https://storage.googleapis.com/mirror.tensorflow.org/github.com/google/XNNPACK/archive/b9d4073a6913891ce9cbd8965c8d506075d2a45a.zip\", \"file://${JARVIS_DOWNLOAD}/b9d4073a6913891ce9cbd8965c8d506075d2a45a.zip\"]," ${BUILD_DIR}/tensorflow-2.13.0/tensorflow/workspace2.bzl

${DOWNLOAD_TOOL} -u "https://golang.org/dl/?mode=json&include=all" -f versions.json
sed -i "73s|https://golang.org/dl/?mode=json&include=all|file://${JARVIS_DOWNLOAD}/versions.json|"  ${BUILD_DIR}/tensorflow-2.13.0/output/external/io_bazel_rules_go/go/private/sdk.bzl

${DOWNLOAD_TOOL} -u https://dl.google.com/go/go1.18.4.linux-arm64.tar.gz -f go1.18.4.linux-arm64.tar.gz
sed -i "123s|https://dl.google.com/go|file://${JARVIS_DOWNLOAD}|" ${BUILD_DIR}/tensorflow-2.13.0/output/external/io_bazel_rules_go/go/private/sdk.bzl

bazel --output_base=${BUILD_DIR}/tensorflow-2.13.0/output build --verbose_failures --copt="-Wno-gnu-offsetof-extensions"  //tensorflow/tools/pip_package:build_pip_package

bazel-bin/tensorflow/tools/pip_package/build_pip_package ${install_path}
pip install ${install_path}/tensorflow-2.13.0-cp39-cp39-linux_aarch64.whl
fi

set -e
####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/tensorflow/12.3.1
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load tensorflow/2.13.0-kgcc12.3.1" >> ${JOBDIR}/env.sh

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_xla
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 600
#DSUB -R "cpu=600"
#DSUB -o xla_out_%J.log
#DSUB -e xla_err_%J.log
#DSUB -T '2h'

EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
ulimit -s unlimited

source \${CONDA_SH}
conda activate ${TF_ENV}

EOF

mkdir ${JOBDIR}/tensorflow/ -p
cp ${JARVIS_DOWNLOAD}/tensorflow-case.py ${JARVIS_DOWNLOAD}/mnist.npz ${JOBDIR}/tensorflow/ -ar

cat > ${JOBDIR}/tensorflow-2.13.0-run.sh << EOF
#!/bin/bash
source env.sh
mkdir ${JOBDIR}/local_work -p
cp ./tensorflow/tensorflow-case.py ./local_work/ -ar
cp ./tensorflow/mnist.npz ./local_work/ -ar 

source \${CONDA_SH}
conda activate ${TF_ENV}

#pip install ${install_path}/tensorflow-2.13.0-cp39-cp39-linux_aarch64.whl

mkdir local_work -p
cd local_work
sed -i "7s%16%30%" tensorflow-case.py
sed -i "32s%()%('${JOBDIR}/local_work/mnist.npz')%" tensorflow-case.py
sed -i "35s%128%256%" tensorflow-case.py
sed -i "36s%128%256%" tensorflow-case.py
python tensorflow-case.py
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/tensorflow-2.13.0-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
