[SERVER]
11.11.11.11

[DOWNLOAD]
python3/3.7.10 https://repo.huaweicloud.com/python/3.7.10/Python-3.7.10.tgz
bisheng/2.1.0 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_compiler/bisheng-compiler-2.1.0-aarch64-linux.tar.gz

[DEPENDENCY]
./jarvis -install bisheng/2.1.0 com

[ENV]
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[APP]
app_name = python3
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =

[BUILD]
./jarvis -install python3/3.7.10 clang


[RUN]
run =
binary =
node = 1
