[SERVER]
11.11.11.11

[DOWNLOAD]
swan41.51 https://swanmodel.sourceforge.io/download/zip/swan4151.tar.gz
refrac http://swanmodel.sourceforge.net/download/zip/refrac.tar.gz

[DEPENDENCY]
set -x
set -e

module purge
./jarvis -install hpckit/${HPCKIT_VERSION} com
module use ./software/compiler/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler4.2.0/bishengmodule bisheng/hmpi25.0.0/hmpi
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module use ./software/moduledeps/bisheng4.2.0-hmpi25.0.0
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.3 bisheng+mpi
module load pnetcdf/1.12.3
./jarvis -install netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4
export NETCDFROOT=$NETCDF_CLANG_PATH
rm -rf SWAN
mkdir -p SWAN
cd SWAN
tar -vzxf ${JARVIS_DOWNLOAD}/swan4151.tar.gz
tar -vzxf ${JARVIS_DOWNLOAD}/refrac.tar.gz

[ENV]
module purge
module use ./software/compiler/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler4.2.0/bishengmodule bisheng/hmpi25.0.0/hmpi
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
module use ./software/moduledeps/bisheng4.2.0-hmpi25.0.0
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.3
module load netcdf-clang/4.7.4
export NETCDFROOT=$NETCDF_CLANG_PATH

[APP]
app_name = swan
build_dir = ${JARVIS_ROOT}/SWAN/swan4151/
binary_dir =
case_dir = ${JARVIS_ROOT}/SWAN/refrac

[BUILD]
set -e
set -x


sed -i '943s/\$_/"gfortran"/' platform.pl
export FC=gfortran
export F77=gfortran
make config
sed -i '145s/FFLAGS="[^"]*"/FFLAGS="-O -w -fno-second-underscore"/' Makefile
sed -i '146s/FFLAGS90="[^"]*"/FFLAGS90="-O -w -fno-second-underscore -ffree-line-length-none"/' Makefile
make mpi

cd ${JARVIS_ROOT}/SWAN/refrac
cp a11refr.swn INPUT


[RUN]
run = mpirun --allow-run-as-root -np 8 ${JARVIS_ROOT}/SWAN/swan4151/swan.exe && time mpirun --allow-run-as-root -np 8 ${JARVIS_ROOT}/SWAN/swan4151/swan.exe
binary =
nodes = 1

[BATCH]
#! /bin/bash

