[SERVER]
11.11.11.11

[DOWNLOAD]
sqlite/3.46.0 https://github.com/sqlite/sqlite/archive/refs/tags/version-3.16.0.zip sqlite-3.16.0.zip

[DEPENDENCY]
set -e
set -x
./jarvis -install gcc/13.3.0 com
module purge 
module use ./software/modulefiles
module load gcc/13.3.0
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[ENV]
module purge
module use ./software/modulefiles
module load gcc/13.3.0

cd /home/liuqian/hpcrunner
CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/sqlite-3.16.0/bin:$PATH

[APP]
app_name = SQLITE
build_dir = 
binary_dir = ${JARVIS_ROOT}/sqlite-3.16.0/bin
case_dir =

[BUILD]
cd ${JARVIS_TMP}
unzip ${JARVIS_DOWNLOAD}/sqlite-3.16.0.zip
wget http://savannah.gnu.org/cgi-bin/viewcvs/*checkout*/config/config/config.guess
wget http://savannah.gnu.org/cgi-bin/viewcvs/*checkout*/config/config/config.sub
mv config.guess sqlite-version-3.16.0
mv config.sub sqlite-version-3.16.0
cd sqlite-version-3.16.0 
./configure --prefix=${JARVIS_ROOT}/sqlite-3.16.0
make -j32
make install

[CLEAN]
make clean

[RUN]
run =
binary =
nodes = 1
