[SERVER]
11.11.11.11

[DOWNLOAD]
BLAS-Tester/1.0 https://github.com/xianyi/BLAS-Tester/archive/refs/heads/master.zip BLAS-Tester.zip 

[DEPENDENCY]
set -x
set -e
./jarvis -install kml/1.6.0/gcc any
if [  ! -d BLAS-Tester-master ]; then
   unzip ./downloads/BLAS-Tester.zip
fi

[APP]
app_name = DGEMM
build_dir = $JARVIS_ROOT/BLAS-Tester-master
binary_dir = ./
case_dir = $JARVIS_ROOT/BLAS-Tester-master/bin

[ENV]
module purge
module use software/modulefiles
module load kml-gcc/1.6.0
export OMP_NUM_THREADS=1
export LD_LIBRARY_PATH=$KML_GCC_PATH/lib/kblas/omp:$LD_LIBRARY_PATH

[BUILD]
make ARCH=ARM64 L2SIZE=524288 TEST_BLAS=$KML_GCC_PATH/lib/kblas/omp/libkblas.so

[CLEAN]
make clean

[RUN]
run = 
#run = taskset -c 0-63
binary = xdl3blastst -R gemm -A 1 N -B 1 N -m 100 -n 100 -k 100
nodes = 1

[BATCH]
#! /bin/bash
