[SERVER]
11.11.11.11

[DOWNLOAD]
BLAS-Tester/1.0 $JARVIS_PROXY/xianyi/BLAS-Tester/archive/refs/heads/master.zip BLAS-Tester.zip

[DEPENDENCY]
set -x
set -e
./jarvis -install hpckit/${HPCKIT_VERSION} com
module use ./software/compiler/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}
module load bisheng/kml${HMPI_VERSION}/kml

export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
if [  ! -d BLAS-Tester-master ]; then
   unzip ./downloads/BLAS-Tester.zip
fi

[APP]
app_name = DGEMM
build_dir = $JARVIS_ROOT/BLAS-Tester-master
binary_dir = $JARVIS_ROOT/BLAS-Tester-master/bin
case_dir = $JARVIS_ROOT/BLAS-Tester-master/bin

[ENV]
module use ./software/compiler/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}
module load bisheng/kml${HMPI_VERSION}/kml

export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

export OMP_NUM_THREADS=1
export LD_LIBRARY_PATH=$KML_GCC_PATH/lib/kblas/omp:$LD_LIBRARY_PATH

[BUILD]
make ARCH=ARM64 L2SIZE=524288 TEST_BLAS=$JARVIS_ROOT/software/compiler/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/kml/gcc/lib/${kp}/kblas/multi/libkblas.so

[CLEAN]
make clean

[RUN]
run =
#run = taskset -c 0-63
binary = xdl3blastst -R gemm -A 1 N -B 1 N -m 100 -n 100 -k 100
nodes = 1

[BATCH]
#! /bin/bash

