[SERVER]
11.11.11.11

[DOWNLOAD]
BLAS-Tester/1.0 $JARVIS_PROXY/xianyi/BLAS-Tester/archive/refs/heads/master.zip BLAS-Tester.zip

[DEPENDENCY]
set -x
set -e
./jarvis -install hpckit/${HPCKIT_VERSION} any
#module use ./software/compiler/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
export KML_BLAS_THREAD_TYPE=pthread
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}
module load bisheng/kml${HMPI_VERSION}/kml


export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
mkdir -p ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
cd ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
rm -rf BLAS-Tester-master
if [  ! -d BLAS-Tester-master ]; then
   unzip ${JARVIS_ROOT}/downloads/BLAS-Tester.zip
fi

[APP]
app_name = DGEMM
build_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/BLAS-Tester-master
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/BLAS-Tester-master/bin
case_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/BLAS-Tester-master/bin

[ENV]
module use $JARVIS_ROOT/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}
module load bisheng/kml${HMPI_VERSION}/kml

export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
export OMP_NUM_THREADS=1

[BUILD]
sed -i "24c LIBS            =       -lm -lgfortran -L$JARVIS_ROOT/software/utils/hpckit/25.1.0/HPCKit/25.1.0/compiler/bisheng/lib -lbsmath" Makefile.system
sed -i s/gfortran/flang/g Makefile.rule
sed -i "s/gcc/clang -Wno-implicit-function-declaration -Wno-implicit-int/g" Makefile.rule
make -j ARCH=ARM64 L2SIZE=524288 TEST_BLAS=$JARVIS_ROOT/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/lib/${kp}/kblas/multi/libkblas.so

[CLEAN]
make clean

[RUN]
run =
#run = taskset -c 0-63
binary = xdl3blastst -R gemm -A 1 N -B 1 N -m 100 -n 100 -k 100
nodes = 1

[BATCH]
#! /bin/bash

