[SERVER]
11.11.11.11

[DOWNLOAD]
NCL/6.6.2 https://github.com/chen-shaoheng/NCL-SOURCE/releases/download/ncl-6.6.2/ncl-6.6.2.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
cd /etc/yum.repos.d/
mkdir -p backup
cp *.repo backup/
sed -i -e 's|$releasever|8-stream|g' /etc/yum.repos.d/CentOS-*
sed -i '15 s/^/#/' /etc/yum.repos.d/CentOS-AppStream.repo
sed -i '16 s/^#//' /etc/yum.repos.d/CentOS-AppStream.repo
sed -i '15 s/^/#/' /etc/yum.repos.d/CentOS-Base.repo
sed -i '16 s/^#//' /etc/yum.repos.d/CentOS-Base.repo
sed -i '16 s/^/#/' /etc/yum.repos.d/CentOS-centosplus.repo
sed -i '17 s/^#//' /etc/yum.repos.d/CentOS-centosplus.repo
sed -i '19 s/^/#/' /etc/yum.repos.d/CentOS-CR.repo
sed -i '20 s/^#//' /etc/yum.repos.d/CentOS-CR.repo
sed -i '15 s/^/#/' /etc/yum.repos.d/CentOS-Devel.repo
sed -i '16 s/^#//' /etc/yum.repos.d/CentOS-Devel.repo
sed -i '16 s/^/#/' /etc/yum.repos.d/CentOS-Extras.repo
sed -i '17 s/^#//' /etc/yum.repos.d/CentOS-Extras.repo
sed -i '5 s/^/#/' /etc/yum.repos.d/CentOS-fasttrack.repo
sed -i '6 s/^#//' /etc/yum.repos.d/CentOS-fasttrack.repo
sed -i '15 s/^/#/' /etc/yum.repos.d/CentOS-HA.repo
sed -i '16 s/^#//' /etc/yum.repos.d/CentOS-HA.repo
sed -i '15 s/^/#/' /etc/yum.repos.d/CentOS-PowerTools.repo
sed -i '16 s/^#//' /etc/yum.repos.d/CentOS-PowerTools.repo
sed -i '18c enabled=1' /etc/yum.repos.d/CentOS-PowerTools.repo

yum clean all && yum makecache
yum remove epel-release -y
yum install -y epel-release
sed -i -e 's|$releasever|8|g' /etc/yum.repos.d/epel*
yum install -y netcdf-fortran-devel hdf-static hdf-devel g2clib-static gdal-devel proj-devel imake libXaw-devel flex-static udunits2-devel byacc cairo-devel flex gsl-devel openblas-devel

yum -y install xorg-x11-xauth xorg-x11-server-utils xorg-x11-server-Xnest libXtst
yum install -y rpmbuild
yum install rpmdevtools -y
rpmdev-setuptree


[ENV]
module purge
#!/bin/bash
module use ./software/modulefiles/
module add bisheng/2.5.0 hmpi/1.2.0 jasper/1.900.2
export CC=clang
export CXX=clang++ 
export FC=flang

module add hdf5-clang/1.10.1 netcdf-clang/4.7.4
export HDF5=${HDF5_CLANG_PATH}
export NETCDF_PATH=${NETCDF_CLANG_PATH}
export NETCDF=${NETCDF_PATH}

module add pnetcdf/1.11.2

module add proj/5.2.0
module add libpng/1.6.37
module add gdal/2.2.4
module add libjpeg/v9b
module add g2clib/1.6.0
module add udunits/2.2.28
module add gsl/2.6
module add hdf-eos2/2.20
module add hdf-eos5/1.16
module add mesa/3.1
module add vis5dplus/1.3.0
module add szip/2.1.1


[APP]
app_name = NCL
build_dir = ${JARVIS_TMP}/ncl_6.6.2
binary_dir =
case_dir = 

[BUILD]
cd ${JARVIS_TMP}
tar -xvf ncl-6.6.2.tar.gz
cd ncl-6.6.2
#add linux_aarch64 branch
sed -i '380a case    aarch64:' config/ymake
sed -i '381a set model   = $mach' config/ymake
sed -i '382a set arch    = $mach' config/ymake
sed -i '383a set sysincs = LINUX' config/ymake
sed -i '384a set vendor  = ARM' config/ymake
sed -i '385a breaksw' config/ymake

./Configure -v

make Everything
make all install

[RUN]
run =  export NCARG_FONTCAPS=/usr/lib64/ncarg/fontcaps && export NCARG_GRAPHCAPS=/usr/lib64/ncarg/graphcaps && export NCARG_ROOT=/usr && export NCARG_DATABASE=/usr/lib64/ncarg/database && export NCARG_LIB=/usr/lib64/ncarg && export NCARG_NCARG=/usr/share/ncarg && ncl -Q
binary = 
nodes = 1
