[SERVER]
11.11.11.11

[DOWNLOAD]
gemma/0.98.1  https://github.com/genetics-statistics/GEMMA/archive/0.98.1.tar.gz GEMMA-0.98.1.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules

./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2

./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

./jarvis -install openblas/0.3.9/clang clang
module load openblas-clang/0.3.9-%#MYKBSVER#%

./jarvis -install lapack/3.8.0/clang clang
module load lapack-clang/3.8.0-%#MYKBSVER#%

./jarvis -install eigen3/3.4.0 any
module load eigen3/3.4.0

./jarvis -install gsl/2.5/clang clang
module load gsl-clang/2.5-%#MYKBSVER#%

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load openblas-clang/0.3.9-%#MYKBSVER#%
module load lapack-clang/3.8.0-%#MYKBSVER#%
module load eigen3/3.4.0
module load gsl-clang/2.5-%#MYKBSVER#%

[APP]
app_name = gemma
app_version = 0.98.1
compiler = bisheng
build_dir = ${JARVIS_APP}/gemma/0.98.1-%#MYKBSVER#%
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/gemma/0.98.1

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
install_path=$1
JOBDIR=${JARVIS_JOBSCRIPT}/gemma/0.98.1

####### build start

if [ ! -d "GEMMA-0.98.1" ]; then
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/GEMMA-0.98.1.tar.gz
fi
cd GEMMA-0.98.1

if [ ! -f "bin/gemma" ]; then
make EIGEN_INCLUDE_PATH=$EIGEN3_PATH/include/eigen3 \
OPENBLAS_INCLUDE_PATH=-isystem$OPENBLAS_CLANG_PATH/include \
GSL_INCLUDE_PATH=$GSL_CLANG_PATH/include \
WITH_OPENBLAS=1 \
GCC_FLAGS="-Wall" \
LIBS="$GSL_CLANG_PATH/lib/libgsl.a $GSL_CLANG_PATH/lib/libgslcblas.a -L$OPENBLAS_CLANG_PATH/lib $LAPACK_CLANG_PATH/lib -pthread -lopenblas -llapack -lblas -lz" \
 -j 16
fi
####### build done

####### Install jobscript

if [ ! -d "${JOBDIR}" ]; then
mkdir -p ${JOBDIR}
fi

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_abyss
#DSUB --mpi hmpi
#DSUB -N 96
#DSUB -nn 1
#DSUB -rpn 96
#DSUB -o abyss_out_%J.log
#DSUB -e abyss_err_%J.log

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
module use $JARVIS_MODULES/modules
module load gemma/0.98.1-%#MYKBSVER#%

cd ${BUILD_DIR}/GEMMA-0.98.1/example

time gemma -g mouse_hs1940.geno.txt.gz -p mouse_hs1940.pheno.txt -gk -o mouse_hs1940
EOF

cat > ${JOBDIR}/gemma-0.98.1-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/gemma-0.98.1-run.sh

[RUN]
