[SERVER]
11.11.11.11

[DOWNLOAD]
qe/7.3 https://gitlab.com/QEF/q-e/-/archive/qe-7.3/q-e-qe-7.3.tar
qe/benchmarks	https://codeload.github.com/QEF/benchmarks/zip/refs/heads/master  qe-7.3-benchmarks.zip

[DEPENDENCY]
set -e
module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi


[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi

[APP]
app_name = qe
app_version = 7.3
compiler = bisheng+mpi
build_dir = $JARVIS_DEV/qe/7.3-bisheng4.2.0-hmpi25.0.0
binary_dir = $JARVIS_DEV/qe/7.3-bisheng4.2.0-hmpi25.0.0/build/bin
case_dir = ${JARVIS_JOBSCRIPT}/qe/7.3

[BUILD]
set -e
set -x
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1

#### prepare
set +x && echo_info "build prepare!!!" && set -x

cd $JARVIS_DEV/qe/7.3-bisheng4.2.0-hmpi25.0.0

if true; then
build_mod_check "${PATH_INSTALL}/bin/pw.x" "prompt"
rm -rf q-e-qe-7.3
tar -xf ${JARVIS_DOWNLOAD}/q-e-qe-7.3.tar
cd q-e-qe-7.3

#### build
set +x && echo_info "build start..." && set -x
#export DEFS="__PGI"
#export BLAS_LIBS="-L${HPCKIT_KML}/bisheng/lib -lkml_rt"
sed -i "3743c f90=flang" install/configure
#sed -i 's|^# Checking for FFT...|set -x \&\& echo "Checking for FFT..."|g' install/configure
# fftw methold1:enable FFT_LIBS,example:export FFT_LIBS="-L${HPCKIT_KML}/bisheng/lib/noarch -lfftw3"
# fftw methold2: force enable "checking FFT... using internal copy of FFTW"
#sed -i '6188c\   if test "$have_fft" -eq 0 && false' install/configure


export BLAS_LIBS="-L${HPCKIT_KML}/bisheng/lib/sve/kblas/multi -lkblas"
export LAPACK_LIBS="-L${HPCKIT_KML}/bisheng/lib/sve -lklapack_full"

./configure F90=flang F77=flang FC=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3 -mcpu=linxicore9100 -mllvm \
-force-customized-pipeline=true" CFLAGS="-O3 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true" --with-scalapack=no --enable-openmp --prefix=${PATH_INSTALL}
sed -i 's/gfortran/flang/g' make.inc

make -j64 pwall
make install
fi

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
prepend-path LD_LIBRARY_PATH ${HPCKIT_KML}/bisheng/lib/sve:${HPCKIT_KML}/bisheng/lib/sve/kblas/multi:${HPCKIT_KML}/bisheng/lib/noarch
EOF

set +x && echo_info "build done!!!" && set -x

### install
set +x && echo_info "install..." && set -x
JOB_DIR="${JARVIS_JOBSCRIPT}/qe/7.3"
mkdir -p ${JOB_DIR}
$JARVIS_DEV/qe/7.3-bisheng4.2.0-hmpi25.0.0/env.sh_gen.sh ${JOB_DIR}/env.sh
echo "module load qe/7.3-bisheng4.2.0-hmpi25.0.0" >> ${JOB_DIR}/env.sh

cp ${JARVIS_JOBSCRIPT_LIBSHELL} ${JOB_DIR}/ -ar
cp ${JARVIS_DOWNLOAD}/qe-7.3-benchmarks.zip ${JOB_DIR}/ -ar
cat > ${JOB_DIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_qe
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 600
#DSUB -R "cpu=600"
#DSUB -o qe_out_%J.log
#DSUB -e qe_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cmake
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited
source ./bash-com-kit.sh
CURRENT=\$(pwd)
cd benchmarks-master/GRIR443
{
time -p mpirun -np 128 --hostfile $HOSTFILE -x UCX_TLS=sm,self,ud --bind-to cpulist:ordered --cpu-set 0-127 --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 --mca opal_common_ucx_tls any --mca coll_tuned_use_dynamic_rules true -x OMP_NUM_THREADS=1  -x UCX_WARN_UNUSED_ENV_VARS=n pw.x -input ./grir443.in ;
} 2>&1 | tee tee_qe.xlog

cd \${CURRENT}
cd benchmarks-master/PSIWAT
{
time -p mpirun -np 128 --hostfile $HOSTFILE -x UCX_TLS=sm,self,ud --bind-to cpulist:ordered --cpu-set 0-127 --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 --mca opal_common_ucx_tls any --mca coll_tuned_use_dynamic_rules true -x OMP_NUM_THREADS=1  -x UCX_WARN_UNUSED_ENV_VARS=n pw.x -input ./psiwat.in ;
} 2>&1 | tee tee_qe.xlog
EOF

cat > ${JOB_DIR}/local_run.sh << EOF
#!/bin/bash
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
ulimit -s unlimited
source ./bash-com-kit.sh
CURRENT=\$(pwd)
cd benchmarks-master/GRIR443
{
time -p mpirun --allow-run-as-root -np 128 --allow-run-as-root -x UCX_TLS=sm  --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 --mca opal_common_ucx_tls any --mca coll_tuned_use_dynamic_rules true -x OMP_NUM_THREADS=1  -x UCX_WARN_UNUSED_ENV_VARS=n pw.x -input ./grir443.in ;
} 2>&1 | tee tee_local_qe.xlog

cd \${CURRENT}
cd benchmarks-master/PSIWAT
{
time -p mpirun --allow-run-as-root -np 128 --allow-run-as-root -x UCX_TLS=sm  --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 --mca opal_common_ucx_tls any --mca coll_tuned_use_dynamic_rules true -x OMP_NUM_THREADS=1  -x UCX_WARN_UNUSED_ENV_VARS=n pw.x -input ./psiwat.in ;
} 2>&1 | tee tee_local_qe.xlog

EOF

cat > ${JOB_DIR}/qe-7.3-run.sh << EOF
#!/bin/bash
[ -d benchmarks-master ] || unzip qe-7.3-benchmarks.zip
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOB_DIR}/env.sh
chmod u+x ${JOB_DIR}/job_run.sh
chmod u+x ${JOB_DIR}/local_run.sh
chmod u+x ${JOB_DIR}/qe-7.3-run.sh
chmod u+x ${JOB_DIR}/*.sh


set +x && echo_info "install done!!!" && set -x
exit 0

[CLEAN]
make clean

[RUN]
run =
binary =
nodes = 1
