[SERVER]
11.11.11.11

[DOWNLOAD]
cp2k/2023.2 https://github.com/cp2k/cp2k/releases/download/v2023.2/cp2k-2023.2.tar.bz2
cmake/3.26.3 https://www.cp2k.org/static/downloads/cmake-3.26.3-linux-aarch64.sh
COSMA/v2.6.6 https://www.cp2k.org/static/downloads/COSMA-v2.6.6.tar.gz
COSTA/v2.2.2 https://www.cp2k.org/static/downloads/COSTA-v2.2.2.tar.gz
elpa/2022.11.001 https://www.cp2k.org/static/downloads/elpa-2022.11.001.tar.gz
fftw/3.3.10 https://www.cp2k.org/static/downloads/fftw-3.3.10.tar.gz
gsl/2.7 https://www.cp2k.org/static/downloads/gsl-2.7.tar.gz
hdf5/1.12.0 https://www.cp2k.org/static/downloads/hdf5-1.12.0.tar.bz2
libint/v2.6.0 https://www.cp2k.org/static/downloads/libint-v2.6.0-cp2k-lmax-5.tgz
libvdwxc/0.4.0 https://www.cp2k.org/static/downloads/libvdwxc-0.4.0.tar.gz
libvori/220621 https://www.cp2k.org/static/downloads/libvori-220621.tar.gz
libxc/6.2.2 https://www.cp2k.org/static/downloads/libxc-6.2.2.tar.gz
libxsmm/1.17 https://www.cp2k.org/static/downloads/libxsmm-1.17.tar.gz
OpenBLAS/0.3.23 https://www.cp2k.org/static/downloads/OpenBLAS-0.3.23.tar.gz
openmpi/4.1.5 https://www.cp2k.org/static/downloads/openmpi-4.1.5.tar.gz
plumed/2.8.2 https://www.cp2k.org/static/downloads/plumed-src-2.8.2.tgz
scalapack/2.2.1 https://www.cp2k.org/static/downloads/scalapack-2.2.1.tgz
SIRIUS/7.4.3 https://www.cp2k.org/static/downloads/SIRIUS-7.4.3.tar.gz
SpFFT/1.0.6 https://www.cp2k.org/static/downloads/SpFFT-1.0.6.tar.gz
spglib/1.16.2 https://www.cp2k.org/static/downloads/spglib-1.16.2.tar.gz
SpLA/1.5.5 https://www.cp2k.org/static/downloads/SpLA-1.5.5.tar.gz
Tiled-MM/v2.2 https://www.cp2k.org/static/downloads/Tiled-MM-v2.2.tar.gz

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any


module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load gcc/compiler12.3.1/gccmodule
module load gcc/hmpi2.4.3/hmpi
module load gcc/kml2.5.0/kml
module unload gcc/kml2.5.0/kblas/pthread 
module load gcc/kml2.5.0/kblas/omp 

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load gcc/compiler12.3.1/gccmodule
module load gcc/hmpi2.4.3/hmpi
module load gcc/kml2.5.0/kml
module unload gcc/kml2.5.0/kblas/pthread
module load gcc/kml2.5.0/kblas/omp
export PATH=${JARVIS_ROOT}/cp2k-2023.2/exe/local:$PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/openblas-0.3.23/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/fftw-3.3.10/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/libint-v2.6.0-cp2k-lmax-5/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/libxc-6.2.2/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/scalapack-2.2.1/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/COSMA-2.6.6/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/elpa-2022.11.001/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/gsl-2.7/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/plumed-2.8.2/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/hdf5-1.12.0/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/libvdwxc-0.4.0/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/spglib-1.16.2/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/libvori-220621/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/SpFFT-1.0.6/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/SpLA-1.5.5/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/sirius-7.4.3/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/sirius-7.4.3/lib/cuda:$LD_LIBRARY_PATH

[APP]
app_name = CP2K
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/cp2k-2023.2/exe/local
case_dir = ${JARVIS_ROOT}/cp2k-2023.2/benchmarks/QS_mp2_rpa/32-H2O

[BUILD]
cd ${JARVIS_ROOT}
rm -rf cp2k-2023.2
tar xf ${JARVIS_DOWNLOAD}/cp2k-2023.2.tar.bz2
cd cp2k-2023.2/tools/toolchain
mkdir build
cp ${JARVIS_DOWNLOAD}/cmake-3.26.3-linux-aarch64.sh build
cp ${JARVIS_DOWNLOAD}/COSMA-v2.6.6.tar.gz build
cp ${JARVIS_DOWNLOAD}/COSTA-v2.2.2.tar.gz build
cp ${JARVIS_DOWNLOAD}/elpa-2022.11.001.tar.gz build
cp ${JARVIS_DOWNLOAD}/fftw-3.3.10.tar.gz build
cp ${JARVIS_DOWNLOAD}/gsl-2.7.tar.gz build
cp ${JARVIS_DOWNLOAD}/hdf5-1.12.0.tar.bz2 build
cp ${JARVIS_DOWNLOAD}/libint-v2.6.0-cp2k-lmax-5.tgz build
cp ${JARVIS_DOWNLOAD}/libvdwxc-0.4.0.tar.gz build
cp ${JARVIS_DOWNLOAD}/libvori-220621.tar.gz build
cp ${JARVIS_DOWNLOAD}/libxc-6.2.2.tar.gz build
cp ${JARVIS_DOWNLOAD}/libxsmm-1.17.tar.gz build
cp ${JARVIS_DOWNLOAD}/OpenBLAS-0.3.23.tar.gz build
cp ${JARVIS_DOWNLOAD}/openmpi-4.1.5.tar.gz build
cp ${JARVIS_DOWNLOAD}/plumed-src-2.8.2.tgz build
cp ${JARVIS_DOWNLOAD}/scalapack-2.2.1.tgz build
cp ${JARVIS_DOWNLOAD}/SIRIUS-7.4.3.tar.gz build
cp ${JARVIS_DOWNLOAD}/SpFFT-1.0.6.tar.gz build
cp ${JARVIS_DOWNLOAD}/spglib-1.16.2.tar.gz build
cp ${JARVIS_DOWNLOAD}/SpLA-1.5.5.tar.gz build
cp ${JARVIS_DOWNLOAD}/Tiled-MM-v2.2.tar.gz build
sed -i "49a sed -i 's%(int,long)%int%g' python/plumed.pyx" scripts/stage6/install_plumed.sh
./install_cp2k_toolchain.sh --math-mode=openblas --with-openmpi=system --with-plumed=install --with-libxsmm=no
cp ${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/arch/* ${JARVIS_ROOT}/cp2k-2023.2/arch/
cd ${JARVIS_ROOT}/cp2k-2023.2
source tools/toolchain/install/setup
sed -i "s%-g%%g" arch/local.psmp
sed -i "s%PROFOPT)%PROFOPT) -L${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/fftw-3.3.10/lib -L${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/gcc/lib/sve -L${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/gcc/lib/noarch -lkm -lkm_l9 -lklapack_full -lkscalapack_full -lkfft -lkfft_omp -lkfft_omp_mpi -L${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/gcc/lib/${kp}/kblas/omp -lkblas%g" arch/local.psmp
sed -i "s%\$(FCFLAGS)%\$(FCFLAGS) -L${JARVIS_ROOT}/cp2k-2023.2/tools/toolchain/install/fftw-3.3.10/lib -L${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/gcc/lib/sve -L${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/gcc/lib/noarch -lkm -lkm_l9 -lklapack_full -lkscalapack_full -lkfft -lkfft_omp -lkfft_omp_mpi -L${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/gcc/lib/${kp}/kblas/omp -lkblas%g" arch/local.psmp
make -j 128 ARCH=local VERSION=psmp

[CLEAN]
rm -rf ${JARVIS_ROOT}/cp2k-2023.2

[RUN]
run = mpirun --allow-run-as-root -np 128 -map-by ppr:128:node:pe=1 -bind-to core -x OMP_NUM_THREADS=1
binary = cp2k.psmp RI-MP2.inp
nodes = 1

[BATCH]
#!/bin/bash


cd ${JARVIS_ROOT}/cp2k-2023.2/benchmarks/QS_mp2_rpa/32-H2O

echo 3 > /proc/sys/vm/drop_caches

time -p mpirun --allow-run-as-root -np 128 -map-by ppr:128:node:pe=1 -bind-to core -x OMP_NUM_THREADS=1 cp2k.psmp RI-MP2.inp
