[SERVER]
11.11.11.11

[DOWNLOAD]
wrf/4.2 https://github.com/wrf-model/WRF/archive/refs/tags/v4.2.tar.gz wrf-4.2.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
module use ./software/modulefiles
./jarvis -install package/go/1.18 com
module load go/1.18
./jarvis -install package/singularity/3.9.9 any
module load singularity/3.9.9
./jarvis -install bisheng/2.5.0 com
module load bisheng/2.5.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install jasper/1.900.2 clang
module load jasper/1.900.2
./jarvis -install hmpi/1.2.0 clang
module load hmpi/1.2.0
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install hdf5/1.12.0/clang clang+mpi
module load hdf5-clang/1.12.0
./jarvis -install netcdf/4.7.4/clang clang+mpi
module load netcdf-clang/4.7.4
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load pnetcdf/1.12.1
./jarvis -install kgcc/9.3.1 com
module load kgcc/9.3.1
./jarvis -install kml/1.6.0/gcc gcc
#./jarvis -install osu/1.0.0 clang+mpi
#tar -zxvf $JARVIS_DOWNLOAD/wrf-4.2.tar.gz -C wrf-4.2-ori
#tar -zxvf $JARVIS_DOWNLOAD/BJ-WRF-4.2.1.tar.gz -C wrf-4.2-ori

[ENV]
#!/bin/bash
module purge
module use ./software/modulefiles
module load go/1.18
module load singularity/3.9.9
module load bisheng/2.5.0
module load jasper/1.900.2
module load hmpi/1.2.0
module load hdf5-clang/1.12.0 netcdf-clang/4.7.4 pnetcdf/1.12.1
module load kgcc/9.3.1
module load kml-gcc/1.6.0
module unload kgcc/9.3.1
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
export NETCDF=$NETCDF_CLANG_PATH
export HDF5=$HDF5_CLANG_PATH
export PHDF5=$HDF5
export PNETCDF=$PNETCDF_PATH
export JASPER=$JASPER_PATH
export JASPERLIB=$JASPER_PATH/lib
export JASPREINC=$$JASPER_PATH/include
export CPPFLAGS="-I$HDF5/include -I$PNETCDF/include -I$NETCDF/include"
export LDFLAGS="-L$HDF5/lib -L$PNETCDF/lib -L$NETCDF/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90 F90=mpif90
export WRF_DIR=$JARVIS_ROOT/wrf-4.2-ori/WRF-4.2.1.920B/WRF-4.2.1
export MPI_LIB="-L$MPI_LIB -lmpi -lomp"
export INCLUDE=$WRF_DIR/include:$INCLUDE
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
#移动run/目录下的初始场数据

[APP]
app_name = WRF
build_dir = ${WRF_DIR}
binary_dir = 
case_dir = ${JARVIS_ROOT}/workloads/WRF/conus12km/

[BUILD]
echo 4 | ./configure
./compile -j 64 em_real 2>&1 | tee compile.log 

[CLEAN]
./clean

[RUN]
run = dsub -s run.sh
binary = 
nodes = 1

