[SERVER]
11.11.11.11

# Go: https://berkeleygw.org/download/
# Download: BerkeleyGW-3.0.1.tar.gz
# Manually-upload: ../hpcrunner/downloads/
[DOWNLOAD]
BerkeleyGW/3.0.1

[DEPENDENCY]
module purge
./jarvis -install hpckit/24.0.0 any
module use ./software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module use ./software/moduledeps
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
export CC=mpicc
export CXX=mpicxx
export FC=mpifort
export F77=mpifort
export F90=mpifort
./jarvis -install fftw/3.3.8 bisheng+mpi
module load bisheng4.1.0-hmpi2.4.3/fftw/3.3.8
module load bisheng/kml2.5.0/kml

tar -zxvf ${JARVIS_DOWNLOAD}/BerkeleyGW-3.0.1.tar.gz -C ${JARVIS_TMP_DOWNLOAD}
mkdir -p ${JARVIS_ROOT}/software/apps/berkeleygw

[ENV]
module purge
module use ./software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module use ./software/moduledeps
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
module load bisheng/kml2.5.0/kml
module load bisheng4.1.0-hmpi2.4.3/fftw/3.3.8

[APP]
app_name = BerkeleyGW
build_dir = ${JARVIS_TMP_DOWNLOAD}/BerkeleyGW-3.0.1
binary_dir = ${JARVIS_ROOT}/software/apps/berkeleygw/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/BerkeleyGW-3.0.1/testsuite/CUBE

[BUILD]
touch arch.mk

cat << EOF > arch.mk
COMPFLAG     = -DGNU
PARAFLAG     = -DMPI
MATHFLAG     = -DUSESCALAPACK -DUSEFFTW3
FCPP         = cpp -C -nostdinc
F90free      = mpif90 -ffree-form -ffree-line-length-none -Wall -pedantic-errors -fopenmp
LINK         = mpif90
FOPTS        = -O3
FNOOPTS      = \$(FOPTS)
MOD_OPT      = -J
INCFLAG      = -I
C_PARAFLAG   = -DPARA
CC_COMP      = mpicxx -Wall
C_COMP       = mpicc -Wall
C_LINK       = mpicxx
C_OPTS       = -O3
C_DEBUGFLAG  =
REMOVE       = /bin/rm -f
FFTWLIB      = \${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.3/fftw/3.3.8/lib/libfftw3.a
FFTWINCLUDE  = \${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.3/fftw/3.3.8/include
LAPACKLIB    = -L\${JARVIS_UTILS}/hpckit/24.0.0/HPCKit/24.12.30/kml/bisheng/lib/neon -lklapack_full -L\${JARVIS_UTILS}/hpckit/24.0.0/HPCKit/24.12.30/kml/bisheng/lib/neon/kblas/pthread -lkblas
SCALAPACKLIB = -L\${JARVIS_UTILS}/hpckit/24.0.0/HPCKit/24.12.30/kml/bisheng/lib/neon -lkscalapack_full \$(LAPACKLIB)
TESTSCRIPT   = make check-parallel
EOF

make all-flavors
make install INSTDIR=${JARVIS_ROOT}/software/apps/berkeleygw

cd ${JARVIS_TMP_DOWNLOAD}/BerkeleyGW-3.0.1/testsuite/CUBE/
tar -zxvf homo.cube.tgz

[CLEAN]
make clean

[RUN]
run = time mpirun --allow-run-as-root -np $(nproc)
binary = surface.x surface.inp
nodes = 1
