[SERVER]
11.11.11.11

[DOWNLOAD]
gperftools/2.15 https://github.com/gperftools/gperftools/archive/refs/tags/gperftools-2.15.tar.gz gperftools-2.15.tar.gz


[DEPENDENCY]
set -e
set -x
./jarvis -install gcc/13.3.0 com
module purge 
module use ./software/modulefiles
module load gcc/13.3.0
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
yum install -y cmake make

[ENV]
module purge
module use ./software/modulefiles
module load gcc/13.3.0

CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/gperftools-2.15/bin:$PATH

[APP]
app_name = GPERFTOOLS
build_dir = 
binary_dir = ${JARVIS_ROOT}/gperftools-2.15/bin
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -zxvf ${JARVIS_DOWNLOAD}/gperftools-2.15.tar.gz
cd gperftools-gperftools-2.15 

mkdir build
cd build
cmake .. -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/gperftools-2.15 -DCMAKE_CXX_FLAGS="-Wno-register"
make -j32
make install

[CLEAN]
make clean

[RUN]
run =
binary =
nodes = 1
