[SERVER]
11.11.11.11

[DOWNLOAD]
gperftools/2.15 https://github.com/gperftools/gperftools/archive/refs/tags/gperftools-2.15.tar.gz gperftools-2.15.tar.gz


[DEPENDENCY]
set -e
set -x

yum install make cmake -y

./jarvis -install hpckit/${HPCKIT_VERSION} any

source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh

tar -xvf ${JARVIS_DOWNLOAD}/gperftools-2.15.tar.gz -C ${JARVIS_ROOT}/tmp

[ENV]
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh
export PATH=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/gperftools/2.15/bin:$PATH
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[APP]
app_name = pprof
build_dir = ${JARVIS_ROOT}/tmp/gperftools-gperftools-2.15
binary_dir = 
case_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/gperftools/2.15/bin

[BUILD]
./autogen.sh
./configure --prefix=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/gperftools/2.15
make -j
make -j install

[CLEAN]
make clean

[RUN]
run = pprof --version
binary =
nodes = 1

