[SERVER]
11.11.11.11


[DOWNLOAD]
ParaFEM/5.0.3 https://github.com/ParaFEM/ParaFEM/releases/download/5.0.3/parafem.5.0.3.tar.gz


[DEPENDENCY]
set -e
set -x
module purge 

./jarvis -install hpckit/2024.12.30 any
source software/utils/hpckit/2024.12.30/HPCKit/latest/setvars.sh --use-bisheng --force
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module load bisheng/hmpi2.4.3/hmpi

echo "Check the source code"
if [ -d parafem ];then
        rm -rf parafem
fi

tar -xvzf ${JARVIS_DOWNLOAD}/parafem.5.0.3.tar.gz


[ENV]
set -e
set -x
module purge
./jarvis -install hpckit/2024.12.30 any
source software/utils/hpckit/2024.12.30/HPCKit/latest/setvars.sh --use-bisheng --force
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module load bisheng/hmpi2.4.3/hmpi


[APP]
app_name = ParaFEM
build_dir = ${JARVIS_ROOT}/parafem
binary_dir = ${JARVIS_ROOT}/parafem/bin
case_dir = ${JARVIS_ROOT}/parafem/examples/5th_ed/p121/demo


[BUILD]
set -e
set -x
./make-parafem MACHINE=linuxdesktop


[CLEAN]


[RUN]
run = 
binary = p121 p121_demo
nodes = 1 


[PERF]
perf=
nsys=
ncu=--target-processes all

