[SERVER]
11.11.11.11

[DOWNLOAD]
ParaFEM/5.0.3 https://github.com/ParaFEM/ParaFEM/releases/download/5.0.3/parafem.5.0.3.tar.gz

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load hpckit${HPCKIT_VERSION}/bisheng/hmpi${HMPI_VERSION}/release
module list

[APP]
app_name = ParaFEM
build_dir = ${JARVIS_ROOT}/tmp
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/parafem/5.0.3/bin
case_dir = ${JARVIS_ROOT}/workloads/parafem/examples/5th_ed/p121/demo

[BUILD]
rm -rf parafem
tar -xvzf ${JARVIS_DOWNLOAD}/parafem.5.0.3.tar.gz
cd parafem
./make-parafem MACHINE=linuxdesktop

mkdir -p ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/parafem/5.0.3 ${JARVIS_ROOT}/workloads/parafem
cp -r ./bin ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/parafem/5.0.3/bin
cp -r examples ${JARVIS_ROOT}/workloads/parafem

[CLEAN]

[RUN]
run =
binary = p121 p121_demo
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all
