[SERVER]
11.11.11.11

[DOWNLOAD]
gadget2/2.3.5 https://github.com/gadget-framework/gadget2/archive/refs/tags/v2.3.5.tar.gz gadget2-v2.3.5.tar.gz

[DEPENDENCY]
set -e
set -x
yum install -y libX11 libX11-devel
./jarvis -install hpckit/2024.12.30 any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
tar -xzvf ${JARVIS_DOWNLOAD}/gadget2-v2.3.5.tar.gz

[ENV]
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[APP]
app_name = gadget2
build_dir = ${JARVIS_ROOT}/gadget2-2.3.5/
binary_dir =
case_dir = ${JARVIS_ROOT}/gadget2-2.3.5/

[BUILD]
make 
make install

[CLEAN]
make clean

[RUN]
run = gadget -v
binary = 
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
