[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
module purge
module use $JARVIS_MODULES/modules
./jarvis -install kregistry/1.1.0 any
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.1.0.SPC001 any
set +x
module load hpckit/2025.1.0.SPC001

module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
set -x
export CC=clang CXX=clang++ FC=flang

./jarvis -install zlib/1.2.11 bisheng
set +x
module  load zlib/1.2.11-%#MYKBSVER#%
set -x

./jarvis -install szip/2.1.1 bisheng
set +x
module load szip/2.1.1-%#MYKBSVER#%
set -x

./jarvis -install hdf5/1.12.3/clang bisheng+mpi
set +x
module load hdf5-clang/1.12.3-%#MYKBSVER#%-%#MYKMPIVER#%
set -x

./jarvis -install pnetcdf/1.14.0/clang bisheng+mpi
set +x
module load pnetcdf-clang/1.14.0-%#MYKBSVER#%-%#MYKMPIVER#%
set -x

./jarvis -install netcdf/4.9.1/clang bisheng+mpi
set +x
module load netcdf-clang/4.9.1-%#MYKBSVER#%-%#MYKMPIVER#%-hdf51.12.3-pnetcdf1.14.0
set -x

export CC=gcc CXX=g++ FC=gfortran
./jarvis -install curl/7.70.0 gcc
set +x
module load curl/7.70.0-%#MYKGCCVER#%
set -x

export CC=clang CXX=clang++ FC=flang
./jarvis -install openblas/0.3.9/clang bisheng
set +x
module load openblas-clang/0.3.9-%#MYKBSVER#%
set -x
exit 0

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load kregistry/1.1.0 
module load cmake/3.28.2
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load zlib/1.2.11-%#MYKBSVER#%
module load szip/2.1.1-%#MYKBSVER#%
module load hdf5-clang/1.12.3-%#MYKBSVER#%-%#MYKMPIVER#%
module load pnetcdf-clang/1.14.0-%#MYKBSVER#%-%#MYKMPIVER#%
module load netcdf-clang/4.9.1-%#MYKBSVER#%-%#MYKMPIVER#%-hdf51.12.3-pnetcdf1.14.0
module load curl/7.70.0-%#MYKGCCVER#%
module load openblas-clang/0.3.9-%#MYKBSVER#%

[APP]
app_name = cesm
app_version = 2.2.2
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/cesm/2.2.2-%#MYKBSVER#%-%#MYKMPIVER#%/project
binary_dir =
mod_exc_dir = project 
case_dir = ${JARVIS_JOBSCRIPT}/cesm/2.2.2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
JOBDIR=${JARVIS_JOBSCRIPT}/cesm/2.2.2
mkdir -p ${JOBDIR}

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
mkdir -p source
rm -rf source/cesm1_2_2
tar -zxf ${JARVIS_DOWNLOAD}/cesm-2.2.2_sandbox.tar.gz -C source/ 
cp source ${JOBDIR}/ -ar

####### build
set +x && echo_info "build start" && set -x

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
EOF

set +x && echo_info "build done!!!" && set -x


####### install start
set +x && echo_info "install start" && set -x

set +x && echo_info "install done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "export INC_NETCDF=\$NETCDF_CLANG_PATH/include" >> ${JOBDIR}/env.sh
echo "export LIB_NETCDF=\$NETCDF_CLANG_PATH/lib" >> ${JOBDIR}/env.sh
echo "export MOD_NETCDF=\$NETCDF_CLANG_PATH/include" >> ${JOBDIR}/env.sh
echo "export NETCDF_PATH=\$NETCDF_CLANG_PATH" >> ${JOBDIR}/env.sh

cp ${JARVIS_DOWNLOAD}/cesm-2.2.2_F09_G17_B1850_inputdata.tar.gz ${JOBDIR}/ -ar
cp ${JARVIS_ROOT}/dataconfig_patches/cesm/2.2.2/scripts ${JOBDIR}/ -ar
chmod 755 ${JOBDIR}/scripts/*.sh

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_cesm
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=256"
#DSUB -o job_out_%J.log
#DSUB -e job_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.cesm
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
WORK_DIR=\$(pwd)

EOF

cat >${JOBDIR}/local_run.sh << 'EOF'
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
if [ ! -d F09_G17_B1850 ]; then
tar -zxvf cesm-2.2.2_F09_G17_B1850_inputdata.tar.gz
fi
cd scripts
./mycesm_build.sh 2>&1 | tee ../tee_mycesm_build.xlog
./mycesm_run.sh 2>&1 | tee ../tee_mycesm_run.xlog
EOF

cat > ${JOBDIR}/cesm-2.2.2-run.sh << EOF
#!/bin/bash
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/cesm-2.2.2-run.sh

set +x && echo_info "Install script done!!!" && set -x

[CLEAN]
./clean -a

[RUN]
run = mpirun --allow-run-as-root -n 32 -x OMP_NUM_THREADS=1 -bind-to core ${WRF_DIR}/run/wrf.exe
binary = 
nodes = 1

