[SERVER]
11.11.11.11

[DOWNLOAD]
octave/6.4.0 https://mirrors.tuna.tsinghua.edu.cn/gnu/octave/octave-6.4.0.tar.gz 

[DEPENDENCY]
module purge
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1
./jarvis -install lapack/3.8.0/clang clang
./jarvis -install blas/3.10.0/clang clang


[ENV]
module use ./software/modulefiles
module purge
module load bisheng/2.1.0
module load hmpi/1.1.1
export CC=clang CXX=clang++ FC=flang
module load blas-clang/3.10.0
module load lapack-clang/3.8.0

[APP]
app_name = octave
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/bisheng/octave/6.4.0
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/octave-6.4.0.tar.gz
cd octave-6.4.0
./configure --prefix=${JARVIS_ROOT}/software/apps/bisheng/octave/6.4.0/ --disable-readline
make -j
make install

[RUN]
run =
binary =
nodes = 1

