[SERVER]
11.11.11.11

[DOWNLOAD]
duns/2.7.1 https://sourceforge.net/projects/duns/files/duns/duns-2.7.1/duns-2.7.1-src.tar.bz2
duns_test/2.7.1 https://sourceforge.net/projects/duns/files/duns/duns-2.7.1/duns-2.7.1-test.tar.bz2

[DEPENDENCY]


[ENV]
export CC=mpicc CXX=mpicxx FC=mpifort
module use /hpcrunner/software/moduledeps
module use /hpcrunner/software/modulefiles
cd /hpcrunner
git pull
module use /hpcrunner/software/moduledeps/bisheng4.0.0-hmpi2.4.1
./jarvis -install bisheng/4.0.0-mini com
export CC=clang CXX=clang++ FC=flang
./jarvis -install package/hmpi/2.4.1 bisheng
#export CC=mpicc CXX=mpicxx FC=mpifort
module load bisheng/4.0.0-mini
module load bisheng4.0.0/hmpi/2.4.1

[APP]
app_name = duns
build_dir = ${JARVIS_DOWNLOAD}/duns-2.7.1
binary_dir =
case_dir = ${JARVIS_DOWNLOAD}/duns-2.7.1/test/serial/cduct

[BUILD]
cd ${JARVIS_DOWNLOAD}/
tar -xf ${JARVIS_DOWNLOAD}/duns-2.7.1-src.tar.bz2
tar -xf ${JARVIS_DOWNLOAD}/duns-2.7.1-test.tar.bz2
cd duns-2.7.1 
export COPTIONS="-mcpu=linxicore9100 -mllvm -force-customized-pipeline=true"
export FOPTIONS="-mcpu=linxicore9100 -mllvm -force-customized-pipeline=true"
sed -i '10s/g77/flang/' makesystem/Makesystem_linux
sed -i '11s/gcc/clang/' makesystem/Makesystem_linux
sed -i '12s/g++/clang++/' makesystem/Makesystem_linux
sed -i '13s/gcc/clang -std=c90/' makesystem/Makesystem_linux
sed -i '14s/gcc/clang/' makesystem/Makesystem_linux
sed -i "28s#.*#SYSLIBS   = -L${JARVIS_COMPILER}/bisheng/4.0.0-mini/lib -Wl,-Bdynamic -lgcc_s -lm -lflang -lpgmath#" makesystem/Makesystem_linux
sed -i '29s#.*#GRAFLIBS  = -lmbgrafic -lgrafic -L/lib64 -Wl,-Bdynamic -lX11 -lflang#' makesystem/Makesystem_linux
sed -i '339s/help()/help(0)/' src/main.cpp
sed -i '345s/help()/help(0)/' src/main.cpp
sed -i '349s/help()/help(0)/' src/main.cpp
sed -i 's/getline1111111111/getline1111111111/g' `grep getline -rl --include="*" ./`
sed -i '275s/tzp/*tzp/' lib/Xunderscore.c
#sed -i "69a%\tsed -i '1a#define _POSIX_C_SOURCE 199309L' dunsc.c" src/Makefile
#sed -i 70s/\%// src/Makefile
export DUNSARCH=linux
export DUNSPATH27=`pwd`
export PATH=$DUNSPATH27/util:$PATH
cd lib 
make && make install
cd .. 
dunssource 3d all
sed -i '20a#define _POSIX_C_SOURCE 199309L' duns-3d-all/setsignals.c
sed -i '13s/clang/clang -ansi' duns-3d-all/Makesystem
cd duns-3d-all
make
mkdir -p ${JARVIS_LIBS}/bisheng4.0.0-mini/duns/2.7.1/bin
cp duns.e dunsplot.e ${JARVIS_LIBS}/bisheng4.0.0-mini/duns/2.7.1/bin
[RUN]
run =
binary =
nodes = 1


mkdir /hpcrunner/software/moduledeps/bisheng4.0.0-mini/duns -p
cat >> /hpcrunner/software/moduledeps/bisheng4.0.0-mini/duns/2.7.1 << EOF
#%Module1.0
set prefix ${JARVIS_LIBS}/bisheng4.0.0-mini/duns/2.7.1
set version 2.7.1
setenv DUNS_PATH $prefix
prepend-path PATH $prefix/bin

EOF
