[SERVER]
11.11.11.11

[DOWNLOAD]
Elk_code/8.4.30 https://nchc.dl.sourceforge.net/project/elk/elk-8.4.30.tgz

[DEPENDENCY]
module purge
yum install patch -y
./jarvis -install package/hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/modulefiles/hpckit${HPCKIT_VERSION}
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule
module add bisheng/hmpi${HMPI_VERSION}/release
./jarvis -install package/fftw/3.3.10 bisheng+mpi
module use software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module add fftw/3.3.10

mkdir ${JARVIS_ROOT}/software/apps -p
cd ${JARVIS_ROOT}/software/apps
rm -rf ${JARVIS_ROOT}/software/apps/elk-8.4.30
tar -xvf ${JARVIS_DOWNLOAD}/elk-8.4.30.tgz

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles/hpckit${HPCKIT_VERSION}
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule
module add bisheng/hmpi${HMPI_VERSION}/release
module use software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module add fftw/3.3.10
export FFTW_LIB=${FFTW_PATH}/lib

[APP]
app_name = Elk_code
build_dir = ${JARVIS_ROOT}/software/apps/elk-8.4.30
binary_dir =
case_dir = ${JARVIS_ROOT}/software/apps/elk-8.4.30/tests/test_004

[BUILD]
sed -i "35c SYS=2" ./setup
./setup
patch -p0 < ${JARVIS_ROOT}/templates/Elk_code/8.4.30/make.inc_bisheng.patch 
make all

[CLEAN]
make clean

[RUN]
run =   rm -f *.OUT gmon.out fort.* && OMP_NUM_THREADS=8 OMP_STACKSIZE=20M   time -p ../../src/elk 
binary = 
nodes = 1
