[SERVER]
11.11.11.11

[DOWNLOAD]
harminv/1.4.1 https://codeload.github.com/NanoComp/harminv/tar.gz/v1.4.1 harminv-1.4.1.tar.gz
libctl/4.5.0 https://codeload.github.com/NanoComp/libctl/tar.gz/v4.5.0 libctl-4.5.0.tar.gz
MPB/1.11.1 https://github.com/NanoComp/mpb/archive/v1.11.1.tar.gz mpb-1.11.1.tar.gz
libGDSII/0.21 https://codeload.github.com/HomerReid/libGDSII/tar.gz/v0.21 libGDSII-0.21.tar.gz
meep/1.17.1 https://codeload.github.com/NanoComp/meep/tar.gz/v1.17.1 meep-1.17.1.tar.gz

[DEPENDENCY]
./jarvis -install hpckit/2024.12.30 any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi


[ENV]
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=clang CXX=clang++ FC=flang 
export PATH=/hpcrunner/DEPENDENCIES/bin:$PATH
export LD_LIBRARY_PATH=/hpcrunner/DEPENDENCIES/lib:$LD_LIBRARY_PATH

[APP]
app_name = meep
build_dir = 
binary_dir = 
case_dir =

[BUILD]
yum install -y guile-devel python3-devel gsl-devel latex2html swig patch hostname
yum install -y hdf5-devel lapack-devel blas-devel fftw-devel

#install harminv
cd ${JARVIS_ROOT}/tmp
rm -rf harminv-1.4.1
tar xvf ${JARVIS_DOWNLOAD}/harminv-1.4.1.tar.gz
cd harminv-1.4.1
sh autogen.sh --prefix=${JARVIS_ROOT}/DEPENDENCIES CC=clang CXX=clang++ FC=flang --enable-shared LDFLAGS="-L${JARVIS_ROOT}/DEPENDENCIES/lib"
make -j
make install
export PATH=${JARVIS_ROOT}/DEPENDENCIES/bin:$PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/DEPENDENCIES/lib:$LD_LIBRARY_PATH
export LIBRARY_PATH=${JARVIS_ROOT}/DEPENDENCIES/lib:$LIBRARY_PATH
export INCLUDE=${JARVIS_ROOT}/DEPENDENCIES/include:$INCLUDE
export C_INCLUDE_PATH=${JARVIS_ROOT}/DEPENDENCIES/include:$C_INCLUDE_PATH
export CPLUS_INCLUDE_PATH=${JARVIS_ROOT}/DEPENDENCIES/include:$CPLUS_INCLUDE_PATH

#install libctl
cd ${JARVIS_ROOT}/tmp
rm -rf libctl-4.5.0
tar xf ${JARVIS_DOWNLOAD}/libctl-4.5.0.tar.gz
cd libctl-4.5.0
sh autogen.sh --enable-shared CC=clang CXX=clang++ FC=flang --prefix=${JARVIS_ROOT}/DEPENDENCIES LDFLAGS="-L${JARVIS_ROOT}/DEPENDENCIES/lib" CPPFLAGS="-I${JARVIS_ROOT}/DEPENDENCIES/include"
make -j
make -j install

#install MPB
cd ${JARVIS_ROOT}/tmp
rm -rf mpb-1.11.1
tar xvf ${JARVIS_DOWNLOAD}/mpb-1.11.1.tar.gz
cd mpb-1.11.1
sh autogen.sh --prefix=${JARVIS_ROOT}/DEPENDENCIES --enable-shared CC=mpicc LDFLAGS="-L${JARVIS_ROOT}/DEPENDENCIES/lib" CPPFLAGS="-I${JARVIS_ROOT}/DEPENDENCIES/include" CFLAGS="-O3 -march=armv8.2-a -mtune=tsv110" --with-hermitian-eps --with-libctl=${JARVIS_ROOT}/DEPENDENCIES/share/libctl/
sed -i "43s/scm/(SCM) scm/g" mpb/my-smob.h
sed -i "42d" mpb/my-smob.h
make -j
make -j install

#install libGDSII
cd ${JARVIS_ROOT}/tmp
rm -rf libGDSII-0.21
tar xvf ${JARVIS_DOWNLOAD}/libGDSII-0.21.tar.gz
cd libGDSII-0.21
sh autogen.sh CC=clang CXX=clang++ FC=flang --prefix=${JARVIS_ROOT}/DEPENDENCIES
make -j
make -j install

#install meep
cd ${JARVIS_ROOT}/tmp
rm -rf meep-1.17.1
tar xvf ${JARVIS_DOWNLOAD}/meep-1.17.1.tar.gz
cd meep-1.17.1
sh autogen.sh --prefix=${JARVIS_ROOT}/DEPENDENCIES --enable-shared --with-mpi --with-openmp PYTHON=python3 MPICC=`which mpicc` MPICXX=`which mpic++` LDFLAGS="-L${JARVIS_ROOT}/DEPENDENCIES/lib -L/usr/lib64" CPPFLAGS="-I${JARVIS_ROOT}/DEPENDENCIES/include -I/usr/include" CFLAGS="-O3 -march=armv8.2-a -mtune=tsv110" --with-libctl=${JARVIS_ROOT}/DEPENDENCIES/share/libctl/
make -j
make install

[CLEAN]

[RUN]
run =
binary =
nodes = 1

