[SERVER]
11.11.11.11

[DOWNLOAD]
ESPResSo/4.1.4 https://github.com/espressomd/espresso/releases/download/4.1.4/espresso-4.1.4.tar.gz
boost/1.72.0 https://nchc.dl.sourceforge.net/project/boost/boost/1.72.0/boost_1_72_0.tar.bz2

[DEPENDENCY]
set -e
set -x

yum install glibc-headers -y 
./jarvis -install fftw/yum com
yum install libxml2-devel libxslt-devel cmake -y
pip3 install numpy --upgrade --force-reinstall
pip3 install cython
sudo dnf install python3-devel -y




module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/hmpi${HPCKIT_VERSION}/release
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install fftw/3.3.8 clang+mpi
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load fftw/3.3.8
tar -vzxf ${JARVIS_DOWNLOAD}/espresso-4.1.4.tar.gz
tar -xf ${JARVIS_DOWNLOAD}/boost_1_72_0.tar.bz2
mkdir -p boost/1_72_0
cd boost_1_72_0/
sed -i "60c #ifdef PTHREAD_STACK_MIN" boost/thread/pthread/thread_data.hpp
sed -i "61c \\\tif (size<static_cast<std::size_t>(PTHREAD_STACK_MIN)) size=PTHREAD_STACK_MIN;" boost/thread/pthread/thread_data.hpp
sed -i "59c #if 1" boost/mpl/aux_/integral_wrapper.hpp
./bootstrap.sh --with-toolset=clang --prefix=${JARVIS_ROOT}/boost/1_72_0
sed -i '$ a\using mpi : mpicxx ;' project-config.jam
./b2 install --prefix=${JARVIS_ROOT}/boost/1_72_0 toolset=clang
export Boost_INCLUDE_PATH=${JARVIS_ROOT}/boost/1_72_0/include


[ENV]
module use /root/hpcrunner/software/modulefiles/hpckit${HPCKIT_VERSION}
module purge
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HPCKIT_VERSION}/debug bisheng/hmpi${HPCKIT_VERSION}/release
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load fftw/3.3.8

[APP]
app_name = espresso
build_dir = ${JARVIS_ROOT}/espresso/
binary_dir =
case_dir = ${JARVIS_ROOT}/espresso/build/

[BUILD]
sed -i "25i\SET(CMAKE_INCLUDE_PATH ${CMAKE_INCLUDE_PATH} \"${JARVIS_ROOT}/software/libs/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/fftw/3.3.8/include\")" cmake/FindFFTW3.cmake
sed -i "26i\SET(CMAKE_LIBRARY_PATH ${CMAKE_LIBRARY_PATH} \"${JARVIS_ROOT}/software/libs/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/fftw/3.3.8/lib\")" cmake/FindFFTW3.cmake
sed -i '873s/long/int/' src/python/espressomd/particle_data.pyx
sed -i '883s/long/int/' src/python/espressomd/particle_data.pyx
rm -rf build
mkdir build
cd build
cmake .. -DBOOST_ROOT=${JARVIS_ROOT}/boost/1_72_0 -DBoost_INCLUDE_DIR=${JARVIS_ROOT}/boost/1_72_0/include
make

[CLEAN]
make clean

[RUN]
run = { time -p mpirun --allow-run-as-root -np 8 -mca pml ucx -mca btl ^vader,tcp,openib,uct -x UCX_TLS=self,sm --bind-to core --map-by socket --rank-by core -x UCX_BUILTIN_ALLREDUCE_ALGORITHM=8 ./pypresso ../samples/constraints.py > run.log ;} 2>>run.log && cat run.log
binary =
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all

