[SERVER]
11.11.11.11

[DOWNLOAD]
prottest/3.4.2 https://github.com/ddarriba/prottest3/archive/refs/tags/3.4.2-release.tar.gz prottest3-3.4.2-release.tar.gz

[DEPENDENCY]
set -e
set -x
yum install -y ant
module purge
./jarvis -install hpckit/2024.12.30 com
module use ./software/compiler/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
export CC=mpicc CXX=mpicxx FC=mpifort
module use ./software/moduledeps/bisheng4.1.0-hmpi2.4.3
./jarvis -install phyml/3.3 bisheng+mpi
module load phyml/3.3

rm -rf prottest3-3.4.2-release
tar -xzvf ${JARVIS_DOWNLOAD}/prottest3-3.4.2-release.tar.gz

[ENV]
module purge
module use ${JARVIS_ROOT}/software/compiler/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.1.0-hmpi2.4.3
module load phyml/3.3

[APP]
app_name = prottest
build_dir = ${JARVIS_ROOT}/prottest3-3.4.2-release
binary_dir = ${JARVIS_ROOT}/prottest3-3.4.2-release/dist
case_dir = ${JARVIS_ROOT}/prottest3-3.4.2-release/dist

[BUILD]
ant jar
cp ${PHYML_PATH}/bin/phyml-mpi dist/bin/

[CLEAN]
ant clean

[RUN]
run = sh runXProtTestHPC.sh
binary = 
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
