[SERVER]
11.11.11.11

[DOWNLOAD]
wtdbg2/2.5 ${JARVIS_PROXY}/ruanjue/wtdbg2/archive/refs/tags/v2.5.tar.gz wtdbg2-2.5.tar.gz
sse2neon/ ${JARVIS_PROXY}/jratcliff63367/sse2neon/archive/master.zip sse2neon-master.zip
case/E.coli http://www.cbcb.umd.edu/software/PBcR/data/selfSampleData.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1
./jarvis -install hmpi/2.4.2 gcc
module load hmpi/2.4.2

mkdir -p ${JARVIS_ROOT}/software/apps/wtdbg2/bin
tar -zxvf ${JARVIS_DOWNLOAD}/wtdbg2-2.5.tar.gz -C ${JARVIS_TMP_DOWNLOAD}
unzip -j ${JARVIS_DOWNLOAD}/sse2neon-master.zip 'sse2neon-master/SSE2NEON.h' -d ${JARVIS_TMP_DOWNLOAD}/wtdbg2-2.5/

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load hmpi/2.4.2

[APP]
app_name = wtdbg2
build_dir = ${JARVIS_TMP_DOWNLOAD}/wtdbg2-2.5
binary_dir = ${JARVIS_ROOT}/software/apps/wtdbg2/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/wtdbg2-2.5/wtdbg2_test

[BUILD]
mv SSE2NEON.h sse2neon.h
sed -i 's/^CC  :=.*/CC  := mpicc/' Makefile
sed -i 's/^BIN :=.*/BIN := \${JARVIS_ROOT}\/software\/apps\/wtdbg2\/bin/' Makefile
sed -i 's/\-mpopcnt \-msse4.2/\-march=armv8-a/' Makefile
sed -i '/^GENERIC_SRC=.*/s/$/\ sse2neon.h/' Makefile
sed -i '/^#include <emmintrin.h>/a #include \"sse2neon.h\"' ksw.c
sed -i '/^#include <emmintrin.h>/s/^/\/\//' ksw.c
sed -i '/^#include <tmmintrin.h>/a #include \"sse2neon.h\"' poacns.h
sed -i '/^#include <emmintrin.h>/s/^/\/\//' poacns.h
sed -i '/^#include <tmmintrin.h>/s/^/\/\//' poacns.h
sed -i '/SMASK =.*/s/^/\/\//' poacns.h
make
make install
cp -ar wtdbg2.pl ${JARVIS_ROOT}/software/apps/wtdbg2/bin

mkdir -p wtdbg2_test
cd wtdbg2_test/
cp -ar ${JARVIS_DOWNLOAD}/selfSampleData.tar.gz .

[CLEAN]
make clean

[RUN]
run = ${JARVIS_ROOT}/software/apps/wtdbg2/bin/wtdbg2 -x rs -g 4.6m -t $(nproc) -i selfSampleData.tar.gz -fo ecoli &&
binary = wtpoa-cns -t $(nproc) -i ecoli.ctg.lay.gz -fo ecoli.ctg.fa
nodes = 1
