[SERVER]
11.11.11.11

[DOWNLOAD]
wannier90/1.2.0 https://github.com/wannier-developers/wannier90/archive/refs/tags/v1.2.tar.gz

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any

./jarvis -install fftw/yum com

cd ${JARVIS_TMP}
rm -rf wannier90-1.2 vasp.5.4.4
tar zxvf ${JARVIS_DOWNLOAD}/v1.2.tar.gz
tar zxvf ${JARVIS_DOWNLOAD}/vasp.5.4.4.tar.gz

[ENV]
module purge
module use ${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}/release
module load bisheng/kml${HMPI_VERSION}/kml
module load bisheng/kml${HMPI_VERSION}/kblas/multi
export HPCKIT_PATH=${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}
export KML_LIB=${HPCKIT_PATH}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/lib
export KML_PATH=${HPCKIT_PATH}/HPCKit/${HPCKIT_VERSION}/kml
export LD_LIBRARY_PATH=${KML_LIB}/noarch:${KML_LIB}/${kp}:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${KML_LIB}/${kp}/kblas/multi:$LD_LIBRARY_PATH

kml_path="-L${HPCKIT_PATH}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/lib/noarch -lkm -lkm_l9"
kml_inc=${HPCKIT_PATH}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/include
blas_path="-L${HPCKIT_PATH}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/lib/${kp}/kblas/multi -lkblas"
fftw_path="-L${HPCKIT_PATH}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/lib/${kp} -lkfft -lfftw3"
scalapack_path="-L${HPCKIT_PATH}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/lib/${kp}/ -lkscalapack_full -lklapack_full -lkservice"

[APP]
app_name = VASP
build_dir = ${JARVIS_TMP}
binary_dir = ${JARVIS_TMP}/vasp/5.4.4/bin
case_dir = your_case_dir

[BUILD]
cd wannier90-1.2
cp config/make.sys.gfort make.sys
sed -i "4c F90 = flang" make.sys
sed -i '$a LIBS = -L${HPCKIT_PATH}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/lib/${kp}/ -lkscalapack_full -lklapack_full -lkservice -L${HPCKIT_PATH}/HPCKit/${HPCKIT_VERSION}/kml/bisheng/lib/${kp}/kblas/multi -lkblas' make.sys
make clean
make wannier lib test

cd ${JARVIS_TMP}/vasp.5.4.4

cat > makefile.include << EOF
# Default precompiler options
CPP_OPTIONS = -DHOST=\"LinuxGNU\" \\
              -DMPI -DMPI_BLOCK=8000 \\
              -Duse_collective \\
              -DscaLAPACK \\
              -DCACHE_SIZE=5000 \\
              -Davoidalloc \\
              -Duse_bse_te \\
              -Dtbdyn \\
              -DVASP2WANNIER90

CPP         = flang -E -C -w \$*\$(FUFFIX) >\$*\$(SUFFIX) \$(CPP_OPTIONS)

FC          = mpif90
FCL         = mpif90

FREE        = -ffree-form -ffree-line-length-none

FFLAGS      = -w

OFLAG       = -O3 -ffp-contract=fast -ffpe-trap=invalid,zero,overflow
OFLAG_IN    = \$(OFLAG)
DEBUG       = -O0

LLIBS      = -L\${KML_LIB}/${kp} -lkfftf -L\${KML_LIB}/${kp}/kblas/omp -lkscalapack_full -lklapack_full -L\${KML_LIB}/${kp}/kblas/multi -lkblas -L\${KML_LIB}/noarch -lkfft -lkm -Xlinker -zmuldefs
FFTW       ?= \${KML_LIB}/noarch
LLIBS      += ${JARVIS_TMP}/wannier90-1.2/libwannier.a -L\$(FFTW) -lfftw3f -lfftw3
INCS       = -I\${KML_PATH}/bisheng/include
OBJECTS     = fftmpiw.o fftmpi_map.o fftw3d.o fft3dlib.o
OBJECTS_O1 += fftw3d.o fftmpi.o fftmpiw.o
OBJECTS_O2 += fft3dlib.o

# For what used to be vasp.5.lib
CPP_LIB     = \$(CPP)
FC_LIB      = \$(FC)
CC_LIB      = clang
CFLAGS_LIB  = -O
FFLAGS_LIB  = -O3
FREE_LIB    = \$(FREE)
OBJECTS_LIB = linpack_double.o getshmem.o
# For the parser library
CXX_PARS    = clang++ -std=c++11
LIBS       += parser
LLIBS    += -Lparser -lparser -lstdc++
# Normally no need to change this
SRCDIR     = ../../src
BINDIR     = ../../bin
EOF

make veryclean
make all

[RUN]
run = mpirun --allow-run-as-root -np $(nproc) -x OMP_NUM_THREADS=1
binary = vasp_std
nodes = 1
