[SERVER]
11.11.11.11

[DOWNLOAD]
vtstcode/179 http://theory.cm.utexas.edu/code/vtstcode-179.tgz 


[DEPENDENCY]
# add gcc/mpi
module use ${JARVIS_ROOT}/software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1
./jarvis -install openblas/0.3.18 clang
module load openblas/0.3.18
./jarvis -install scalapack/2.1.0/clang clang+mpi
module load scalapack-clang/2.1.0
./jarvis -install fftw/3.3.8 clang+mpi
module load fftw/3.3.8
cd ${JARVIS_ROOT}/tmp/
tar zxvf ${JARVIS_ROOT}/downloads/vtstcode-179.tgz 

[ENV]
module use ./software/modulefiles
module purge
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
module load hmpi1/1.1.1
module load openblas/0.3.18
module load scalapack-clang/2.1.0
module load fftw/3.3.8

[APP]
app_name = VASP
build_dir = ${JARVIS_ROOT}/tmp/
binary_dir = 
case_dir = 

[BUILD]
cp vasp.5.4.4/src/chain.F vasp.5.4.4/src/chain.F_bak
cp vtstcode-179/* vasp.5.4.4/src/
sed -i "3147c\           TSIF,LATT_CUR%A,LATT_CUR%B,IO%IU6)" vasp.5.4.4/src/main.F
sed -i '71a\        bfgs.o dynmat.o instanton.o lbfgs.o sd.o cg.o dimer.o bbm.o \\' vasp.5.4.4/src/.objects
sed -i '72a\        fire.o lanczos.o neb.o qm.o opt.o \\' vasp.5.4.4/src/.objects
cd vasp.5.4.4/
cp ${JARVIS_ROOT}/templates/vasp/5.4.4/makefile.include ./
make std


[RUN]
run = 
binary = vasp_std
nodes = 1
