[SERVER]
11.11.11.11

[DEPENDENCY]
# add gcc/mpi
module use ${JARVIS_ROOT}/software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1
./jarvis -install openblas/0.3.18 clang
module load openblas/0.3.18
./jarvis -install scalapack/2.1.0/clang clang+mpi
module load scalapack-clang/2.1.0
./jarvis -install fftw/3.3.8 clang+mpi
module load fftw/3.3.8

[ENV]
module use ./software/modulefiles
module purge
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
module load hmpi1/1.1.1
module load openblas/0.3.18
module load scalapack-clang/2.1.0
module load fftw/3.3.8

[APP]
app_name = VASP
build_dir = ${JARVIS_ROOT}/tmp/vasp.5.4.4
binary_dir = 
case_dir = 

[BUILD]
cp ${JARVIS_ROOT}/templates/vasp/5.4.4/makefile.include ./
make std


[RUN]
run = 
binary = vasp_std
nodes = 1