[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install hpckit/2025.3.30 com
./jarvis -install fftw/yum com

cd ${JARVIS_TMP}
rm -rf vasp.5.4.4
tar -zxvf ${JARVIS_DOWNLOAD}/vasp.5.4.4.tar.gz

[ENV]
set -e
set -x
module purge
module use software/compiler/hpckit/25.0.0/HPCKit/25.0.0/modulefiles
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
module load bisheng/kml25.0.0/kml
module load bisheng/kml25.0.0/kblas/multi

export HPCKIT_PATH=$JARVIS_COMPILER/hpckit/25.0.0
export KML_LIB=${HPCKIT_PATH}/HPCKit/25.0.0/kml/bisheng/lib
export KML_PATH=${HPCKIT_PATH}/HPCKit/25.0.0/kml
export LD_LIBRARY_PATH=${KML_LIB}/noarch:${KML_LIB}/${kp}:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${KML_LIB}/${kp}/kblas/multi:$LD_LIBRARY_PATH

kml_path="-L${HPCKIT_PATH}/HPCKit/25.0.0t/kml/bisheng/lib/noarch -lkm -lkm_l9"
kml_inc=${HPCKIT_PATH}/HPCKit/25.0.0/kml/bisheng/include
blas_path="-L${HPCKIT_PATH}/HPCKit/25.0.0/kml/bisheng/lib/${kp}/kblas/multi -lkblas"
fftw_path="-L${HPCKIT_PATH}/HPCKit/25.0.0/kml/bisheng/lib/${kp} -lkfft -lfftw3"
scalapack_path="-L${HPCKIT_PATH}/HPCKit/25.0.0/kml/bisheng/lib/${kp}/ -lkscalapack_full -lklapack_full -lkservice"

[APP]
app_name = VASP
build_dir = ${JARVIS_TMP}/vasp.5.4.4
binary_dir = ${JARVIS_TMP}/vasp.5.4.4/bin
case_dir = 

[BUILD]
cat > makefile.include << EOF
# Default precompiler options
CPP_OPTIONS = -DHOST=\"LinuxGNU\" \\
              -DMPI -DMPI_BLOCK=8000 \\
	      -Duse_collective \\
	      -DscaLAPACK \\
              -DCACHE_SIZE=5000 \\
              -Davoidalloc \\
              -Duse_bse_te \\
              -Dtbdyn \\
              -Dfock_dblbuf

CPP         = flang -E -C -w \$*\$(FUFFIX) >\$*\$(SUFFIX) \$(CPP_OPTIONS)

FC          = mpif90
FCL         = mpif90

FREE        = -ffree-form -ffree-line-length-none

FFLAGS      = -w

OFLAG       = -O3 -ffp-contract=fast -ffpe-trap=invalid,zero,overflow
OFLAG_IN    = \$(OFLAG)
DEBUG       = -O0

LLIBS      = -L\${KML_LIB}/${kp} -lkfftf -L\${KML_LIB}/${kp}/kblas/omp -lkscalapack_full -lklapack_full -L\${KML_LIB}/${kp}/kblas/multi -lkblas -L\${KML_LIB}/noarch -lkfft -lkm
FFTW       ?= \${KML_LIB}/noarch
LLIBS      += -L\$(FFTW) -lfftw3f -lfftw3
INCS       = -I\${KML_PATH}/bisheng/include
OBJECTS     = fftmpiw.o fftmpi_map.o fftw3d.o fft3dlib.o
OBJECTS_O1 += fftw3d.o fftmpi.o fftmpiw.o
OBJECTS_O2 += fft3dlib.o

# For what used to be vasp.5.lib
CPP_LIB     = \$(CPP)
FC_LIB      = \$(FC)
CC_LIB      = clang
CFLAGS_LIB  = -O
FFLAGS_LIB  = -O3
FREE_LIB    = \$(FREE)
OBJECTS_LIB = linpack_double.o getshmem.o
# For the parser library
CXX_PARS    = clang++ -std=c++11
LIBS       += parser
LLIBS    += -Lparser -lparser -lstdc++
# Normally no need to change this
SRCDIR     = ../../src
BINDIR     = ../../bin
EOF

make std 

[CLEAN]
make veryclean

[RUN]
run = mpirun --allow-run-as-root -np 32 -x OMP_NUM_THREADS=1
binary = vasp_std 2>&1 | tee -a vasp.out
nodes = 1
