[SERVER]
11.11.11.11

[DOWNLOAD]
wannier90/1.2.0 https://github.com/wannier-developers/wannier90/archive/refs/tags/v1.2.tar.gz

[DEPENDENCY]
# add clang/mpi
module use ${JARVIS_ROOT}/software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1
./jarvis -install openblas/0.3.18 clang
module load openblas/0.3.18
./jarvis -install scalapack/2.1.0/clang clang+mpi
module load scalapack-clang/2.1.0
./jarvis -install fftw/3.3.8 clang+mpi
module load fftw/3.3.8
cd ${JARVIS_ROOT}/tmp/
tar -xvf ${JARVIS_ROOT}/downloads/v1.2.tar.gz

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
module load hmpi/1.1.1
module load openblas/0.3.18
module load scalapack-clang/2.1.0
module load fftw/3.3.8

[APP]
app_name = VASP
build_dir = ${JARVIS_ROOT}/tmp
binary_dir = 
case_dir = 

[BUILD]
cd wannier90-1.2
cp config/make.sys.gfort make.sys
sed -i "4c F90 = flang" make.sys
sed -i '$a\\LIBS = -L${SCALAPACK_CLANG_PATH}/lib -L${OPENBLAS_PATH}/lib -lscalapack -lopenblas' make.sys
make clean
make wannier lib test
cp ${JARVIS_ROOT}/templates/vasp/5.4.4/makefile.include ./
sed -i '10s/$/ \-Dtbdyn \-DVASP2WANNIER90/' makefile.include
sed -i "21s/$/ \$\{JARVIS\_ROOT}\/tmp\/wannier90-1.2\/libwannier.a/" makefile.include
make veryclean
make all

[RUN]
run = 
binary = vasp_std
nodes = 1
