[SERVER]
11.11.11.11

[DOWNLOAD]
relion/3.1.2 $JARVIS_PROXY/3dem/relion/archive/refs/tags/3.1.2.tar.gz relion-3.1.2.tar.gz 

[DEPENDENCY]
yum install -y libtiff-* fltk* fltk-devel*
module use ./software/modulefiles
module purge
./jarvis -install package/hpckit/25.1.0  any
module use ${JARVIS_ROOT}/software/module*
module add hpckit25.1.0/bisheng/compiler4.2.0.2/bishengmodule
export CC=clang CXX=clang++ FC=flang
./jarvis -install wxWidgets/3.0.5 clang
module load bisheng4.2.0.2/wxWidgets/3.0.5
./jarvis -install ctffind/4.1.14/clang clang

[ENV]
module purge
module use ${JARVIS_ROOT}/software/module*
module add hpckit25.1.0/bisheng/compiler4.2.0.2/bishengmodule hpckit25.1.0/bisheng/hmpi25.1.0/release 
module load bisheng4.2.0.2/wxWidgets/3.0.5 bisheng4.2.0.2/ctffind-clang/4.1.14
export CC=clang CXX=clang++ FC=flang

export np_per_node=128

export install_path=$JARVIS_ROOT/software/apps/relion/3.1.2
export bin_path=${install_path}/bin
export case_path=/nfs02/home/whw/new/hpcrunner/case/relion_benchmark
export case_name="relion_benchmark"
export PATH=${PATH}:${bin_path}


[APP]
app_name = relion
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
cd ${JARVIS_TMP}
rm -rf relion-3.1.2
tar -xvf ${JARVIS_DOWNLOAD}/relion-3.1.2.tar.gz
cd relion-3.1.2
mkdir build && cd build
cmake -DCUDA=OFF  -DBUILD_SHARED_LIBS=OFF -DCMAKE_BUILD_TYPE=release  -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/relion/3.1.2  ..
make -j
make install


[RUN]
run = 
binary = 
nodes = 1

[BATCH]
cd ${case_path}
mkdir -p class3d
time -p mpirun --allow-run-as-root -N $((np_per_node/4)) numactl --localalloc --cpunodebind=0,1,2,3 relion_refine_mpi --j 4  --cpu --pool 100 --dont_combine_weights_via_disc --i Particles/shiny_2sets.star --ref emd_2660.map:mrc --firstiter_cc --ini_high 60 --ctf --ctf_corrected_ref --iter 25 --tau2_fudge 4 --particle_diameter 360 --K 6 --flatten_solvent --zero_mask --oversampling 1 --healpix_order 2 --offset_range 5 --offset_step 2 --sym C1 --norm --scale --random_seed 0 --maxsig 500 --fast_subsets --o class3d/test01
