[SERVER]
11.11.11.11

[DOWNLOAD]
relion/3.1.2 https://github.com/3dem/relion/archive/refs/tags/3.1.2.tar.gz relion-3.1.2.tar.gz 

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/3.2.0-mini com
module add bisheng/3.2.0-mini
export CC=clang CXX=clang++ FC=flang
./jarvis -install wxWidgets/3.0.5 clang
module use ./software/moduledeps/bisheng3.2.0
module add wxWidgets/3.0.5
./jarvis -install ctffind/4.1.14/clang clang
./jarvis -install hmpi/2.3.0 clang

[ENV]
module purge
module use software/modulefiles
module use software/moduledeps/bisheng3.2.0
module add bisheng/3.2.0-mini
module add wxWidgets/3.0.5
module add ctffind-clang/4.1.14
module add hmpi/2.3.0
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = relion
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
cd ${JARVIS_TMP}
rm -rf relion-3.1.2
tar -xvf ${JARVIS_DOWNLOAD}/relion-3.1.2.tar.gz
cd relion-3.1.2
#sed -i "12i set(CMAKE_CXX_FLAGS \"-O3 -ffast-math -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true\")" CMakeLists.txt
#sed -i "12i set(CMAKE_C_FLAGS \"-O3 -ffast-math -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true\")" CMakeLists.txt
#sed -i "14i set(CMAKE_CXX_FLAGS_RELEASE \"-O3 -DNDEBUG\")" CMakeLists.txt
#sed -i "14i set(CMAKE_C_FLAGS_RELEASE \"-O3 -DNDEBUG\")" CMakeLists.txt

#sed -i "12i set(CMAKE_CXX_FLAGS \"-O3 -march=armv8.2-a -mcpu=tsv110 -ffast-math -g -mllvm -check-trivial-remat-reg-pressure=false -mllvm -enable-prefetch-barrier=false -mllvm -replace-sqrt-compare-by-square=true \")" CMakeLists.txt
#sed -i "12i set(CMAKE_C_FLAGS \"-O3 -march=armv8.2-a -mcpu=tsv110 -ffast-math -g -mllvm -check-trivial-remat-reg-pressure=false -mllvm -enable-prefetch-barrier=false -mllvm -replace-sqrt-compare-by-square=true \")" CMakeLists.txt
#sed -i "14i set(CMAKE_CXX_FLAGS_RELEASE \"-O3 -DNDEBUG\")" CMakeLists.txt
#sed -i "14i set(CMAKE_C_FLAGS_RELEASE \"-O3 -DNDEBUG\")" CMakeLists.txt
mkdir build && cd build
yum install -y libtiff-* fltk* fltk-devel* tbb-devel
yum -y install xorg-x11-xauth
cmake -DCUDA=OFF -DGUI=OFF  -DBUILD_SHARED_LIBS=OFF -DCMAKE_BUILD_TYPE=release -DALTCPU=ON  -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/relion/3.1.2  ..
make -j
make install


[RUN]
run = 
binary = 
nodes = 1
