[SERVER]
11.11.11.11

[DOWNLOAD]
protobuf/27.2 https://github.com/protocolbuffers/protobuf/archive/refs/tags/v27.2.tar.gz protobuf-27.2.tar.gz
jsoncpp https://github.com/open-source-parsers/jsoncpp/archive/refs/heads/master.zip jsoncpp.zip
abseil-cpp https://github.com/abseil/abseil-cpp/archive/refs/heads/lts_2023_08_02.zip abseil-cpp.zip
googletest https://github.com/google/googletest/archive/refs/heads/main.zip googletest.zip

[DEPENDENCY]
set -e
set -x
./jarvis -install bisheng/4.1.0 com
module purge 
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
yum install make cmake -y

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/protobuf-27.2/bin:$PATH

[APP]
app_name = PROTOBUF
build_dir = 
binary_dir = ${JARVIS_ROOT}/protobuf-27.2/bin
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xzvf ${JARVIS_DOWNLOAD}/protobuf-27.2.tar.gz

cd protobuf-27.2/third_party/jsoncpp
unzip ${JARVIS_DOWNLOAD}/jsoncpp.zip
mv jsoncpp-master/* ./
rm -rf jsoncpp-master

cd ../abseil-cpp
unzip ${JARVIS_DOWNLOAD}/abseil-cpp.zip
mv abseil-cpp-lts_2023_08_02/* ./
rm -rf abseil-cpp-lts_2023_08_02

cd ../googletest
unzip ${JARVIS_DOWNLOAD}/googletest.zip
mv googletest-main/* ./
rm -rf googletest-main
cd ../..

rm -rf build
mkdir build
cd build
cmake .. -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/protobuf-27.2
make -j32 VERBOSE=1
make install

[CLEAN]
make clean

[RUN]
run =
binary =
nodes = 1
