[SERVER]
11.11.11.11

[DOWNLOAD]
ncview/2.1.5 https://src.fedoraproject.org/repo/pkgs/ncview/ncview-2.1.5.tar.gz/e1f170283cb84d33a7e42747c76fccd7/ncview-2.1.5.tar.gz

[DEPENDENCY]
set -x
set -e
module purge
./jarvis -install package/hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.1.0/bishengmodule
module add bisheng/hmpi2.4.3/hmpi
module use software/moduledeps
./jarvis -install hdf5/1.10.1/clang clang+mpi
module add bisheng4.1.0-hmpi2.4.3/hdf5-clang/1.10.1
./jarvis -install pnetcdf/1.12.3 clang+mpi
module add bisheng4.1.0-hmpi2.4.3/pnetcdf/1.12.3
./jarvis -install netcdf/4.7.0/clang clang+mpi
./jarvis -install udunits/2.2.28 clang
./jarvis -install libexpat/r-2.4.7 clang

[ENV]
module purge
module use software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.1.0/bishengmodule
module add bisheng/hmpi2.4.3/hmpi
module use software/moduledeps
module add bisheng4.1.0-hmpi2.4.3/hdf5-clang/1.10.1
module add bisheng4.1.0-hmpi2.4.3/pnetcdf/1.12.3
module add bisheng4.1.0-hmpi2.4.3/netcdf-clang/4.7.0
module add bisheng4.1.0/udunits/2.2.28
module add bisheng4.1.0/libexpat/r-2.4.7
export PATH=${JARVIS_ROOT}/software/apps/bisheng/ncview/2.1.5/bin:$PATH
mkdir -p ${JARVIS_ROOT}/case/ncview

[APP]
app_name = ncview
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = ${JARVIS_ROOT}/case/ncview

[BUILD]
. $CHECK_ROOT && yum install libX11 libX11-devel libXaw libXaw-devel libpng-devel libpng curl curl-devel zlib zlib-devel libXt-devel xorg-x11-xauth xorg-x11-server-utils xorg-x11-server-Xnest libXtst -y
set -x
set -e
cd ${JARVIS_TMP}
rm -rf ncview-2.1.5
tar -xvf ${JARVIS_DOWNLOAD}/ncview-2.1.5.tar.gz
cd ncview-2.1.5
CC=mpicc CXX=mpicxx FC=mpifort ./configure LDFLAGS="-L${NETCDF_CLANG_PATH}/lib -L${HDF5_CLANG_PATH}/lib -L${PNETCDF_PATH}/lib" CPPFLAGS="-I${NETCDF_CLANG_PATH}/include -I${HDF5_CLANG_PATH}/include -I${PNETCDF_PATH}/include" --prefix=${JARVIS_ROOT}/software/apps/bisheng/ncview/2.1.5 --with-nc-config=${NETCDF_CLANG_PATH}/bin/nc-config --with-udunits2_incdir=${UDUNITS_PATH}/include --with-udunits2_libdir=${UDUNITS_PATH}/lib CFLAGS="-Wno-implicit-function-declaration -Wno-implicit-int -Wno-int-conversion"
make -j
make install
rm -rf ${JARVIS_TMP}/ncview-2.1.5

[RUN]
run = 
binary = 
nodes = 1

[BATCH]
cd ${JARVIS_ROOT}/case/ncview
if [ ! -f "ref_nccopy3_subset.nc" ];then
 tar xf ${JARVIS_DOWNLOAD}/netcdf-c-4.7.0.tar.gz
 mv netcdf-c-4.7.0/ncdump/ref_nccopy3_subset.nc .
 rm -rf netcdf-c-4.7.0
fi
ncview ref_nccopy3_subset.nc


[JOB]
#!/bin/sh
#DSUB -n ncview_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu =128
#DSUB -oo ncview_$J.out
#DSUB -eo ncview.$J.err

cd ${JARVIS_ROOT}/case/ncview
if [ ! -f "ref_nccopy3_subset.nc" ];then
 tar xf ${JARVIS_DOWNLOAD}/netcdf-c-4.7.0.tar.gz
 mv netcdf-c-4.7.0/ncdump/ref_nccopy3_subset.nc .
 rm -rf netcdf-c-4.7.0
fi

ncview ref_nccopy3_subset.nc

