[SERVER]
11.11.11.11

[DOWNLOAD]
smoke_v47.Linux2_x86_64ifort https://github.com/CEMPD/SMOKE/releases/download/SMOKEv47_Oct2019/smoke_v47.Linux2_x86_64ifort.tar.gz
smoke_v47.nctox.data https://github.com/CEMPD/SMOKE/releases/download/SMOKEv47_Oct2019/smoke_v47.nctox.data.tar.gz
smoke_install_v47.csh https://github.com/CEMPD/SMOKE/releases/download/SMOKEv47_Oct2019/smoke_install_v47.csh
ioapi/3.2 https://www.cmascenter.org/ioapi/download/ioapi-3.2.tar.gz

[DEPENDENCY]
#module purge
#module use HPCKit/latest/modulefiles
#module load bisheng/hmpi/hmpi
#module load bisheng/bisheng
./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module use ./software/moduledeps/bisheng4.0.0-hmpi2.4.1/
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.11.2 bisheng+mpi
module load pnetcdf/1.11.2
./jarvis -install netcdf/4.7.4/clang bisheng+mpi

[ENV]
#module purge
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.0.0-hmpi2.4.1/
#module use HPCKit/latest/modulefiles
#module load bisheng/hmpi/hmpi
#module load bisheng/bisheng
module load hdf5-clang/1.12.0
module load pnetcdf/1.11.2
module load netcdf-clang/4.7.4

export SMK_HOME=${JARVIS_ROOT}/SMOKE4.7
export BIN=Linux2_aarch64
export SMK_SUBSYS=$SMK_HOME/subsys
export SMKROOT=$SMK_SUBSYS/smoke
export SMKDAT=$SMK_HOME/data
export ASSIGNS=$SMKROOT/assigns
export IOAPIDIR=$SMK_SUBSYS/ioapi/$BIN

[APP]
app_name = smoke
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir = ${SMK_HOME}/subsys/smoke/scripts/run

[BUILD]
# clean old dir
cd ${JARVIS_ROOT}
rm -rf SMOKE4.7
mkdir SMOKE4.7

# cp smoke file
cd ${JARVIS_DOWNLOAD}
cp smoke_install_v47.csh ${JARVIS_ROOT}/SMOKE4.7
cp smoke_v47.Linux2_x86_64ifort.tar.gz ${JARVIS_ROOT}/SMOKE4.7
cp smoke_v47.nctox.data.tar.gz ${JARVIS_ROOT}/SMOKE4.7

# smoke.csh
cd ${JARVIS_ROOT}/SMOKE4.7
export SMK_HOME=$PWD
csh smoke_install_v47.csh
export BIN=Linux2_aarch64

# install io-api
mkdir -p subsys/ioapi
cd subsys/ioapi
tar -xvf ${JARVIS_DOWNLOAD}/ioapi-3.2.tar.gz
cp ioapi/Makeinclude.Linux2_ia64gfort ioapi/Makeinclude.Linux2_aarch64

sed -i "14c\CC   = mpicc" ioapi/Makeinclude.Linux2_aarch64
sed -i "15c\CXX  = mpicxx" ioapi/Makeinclude.Linux2_aarch64
sed -i "16c\FC   = mpif90" ioapi/Makeinclude.Linux2_aarch64
sed -i "30c\#FSFLAGS   = -save" ioapi/Makeinclude.Linux2_aarch64

sed -i "81s%\${HOME}/ioapi-3.2%\${SMK_HOME}/subsys/ioapi%" ioapi/Makefile.nocpl
sed -i "41s%\${HOME}/ioapi-3.2%\${SMK_HOME}/subsys/ioapi%" m3tools/Makefile.nocpl
cp ioapi/Makefile.nocpl ioapi/Makefile
cp m3tools/Makefile.nocpl m3tools/Makefile
sed -i "65c\LIBS = -L\${OBJDIR} -lioapi -L${NETCDF_CLANG_PATH}/lib/ -lnetcdff -lnetcdf -L${HDF5_CLANG_PATH}/lib -lhdf5_hl -lhdf5 -lz \$(OMPLIBS) \$(ARCHLIB) \$(ARCHLIBS)" m3tools/Makefile

cp Makefile.template Makefile
sed -i "138c\BIN        = Linux2_aarch64" Makefile
sed -i "139c\BASEDIR    = \${PWD}" Makefile
sed -i "140c\INSTALL    = \${HOME}" Makefile
sed -i "141c\LIBINST    = \$(INSTALL)/\$(BIN)" Makefile
sed -i "142c\BININST    = \$(INSTALL)/\$(BIN)" Makefile
sed -i "143c\CPLMODE    = nocpl" Makefile
sed -i '144c\IOAPIDEFS  = "-DIOAPI_NCF4"' Makefile
sed -i "193c\NCFLIBS    = -L${NETCDF_CLANG_PATH}/lib/ -lnetcdff -lnetcdf -L${HDF5_CLANG_PATH}/lib -lhdf5_hl -lhdf5 -lz" Makefile
export HOME=${SMK_HOME}
sed -i "47i\#include  <stdlib.h>" ${SMK_SUBSYS}/ioapi/ioapi/sortic.c
make BIN=Linux2_aarch64
# install smoke
cd $SMK_HOME/subsys/smoke/assigns/
sed -i "25c\setenv BIN Linux2_aarch64" ASSIGNS.nctox.cmaq.cb05_soa.us12-nc
cd $SMK_HOME/subsys/smoke/src
sed -i "35c\IOBASE  = \${SMK_SUBSYS}/ioapi" Makeinclude
sed -i "40c\INSTDIR = \${OBJDIR}/\${BIN}" Makeinclude
sed -i "53c\EFLAG = -ffixed-line-length-132 -fno-backslash" Makeinclude
sed -i "70c\IOLIB = -L\$\(IOBIN\) -lioapi -L${NETCDF_CLANG_PATH}/lib -lnetcdf -lnetcdff" Makeinclude

sed -i "1663c\     &              ((PROF_MON( S,NP )), NP = 1,12 )" emutil/gentpro.f
sed -i "1695c\     &                      ( (PROF_DAY( S,NP ) ), NP = 1,31 )" emutil/gentpro.f

mkdir ${SMK_HOME}/subsys/smoke/${BIN}
csh $SMK_HOME/subsys/smoke/assigns/ASSIGNS.nctox.cmaq.cb05_soa.us12-nc
make

[RUN]
run = time ./smk_rateperprofile_nctox.csh
binary =
nodes = 1
