[SERVER]
11.11.11.11

[DOWNLOAD]
augustus/3.3.3 https://github.com/Gaius-Augustus/Augustus/archive/v3.3.3.tar.gz Augustus-3.3.3.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

./jarvis -install htslib/1.11 bisheng
module load htslib/1.11-%#MYKBSVER#%

./jarvis -install bcftools/1.11 bisheng
module load bcftools/1.11-%#MYKBSVER#%

./jarvis -install samtools/1.11 bisheng
module load samtools/1.11-%#MYKBSVER#%

./jarvis -install bamtools/2.5.0 bisheng
module load bamtools/2.5.0-%#MYKBSVER#%

echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load htslib/1.11-%#MYKBSVER#%
module load bcftools/1.11-%#MYKBSVER#%
module load samtools/1.11-%#MYKBSVER#%
module load bamtools/2.5.0-%#MYKBSVER#%
module load cmake/3.28.2

[APP]
fake = 0
app_name = augustus
app_version = 3.3.3
compiler = bisheng
build_dir = ${JARVIS_APP}/augustus/3.3.3-%#MYKBSVER#%/project
binary_dir = 
case_dir = ${JARVIS_JOBSCRIPT}/augustus/3.3.3

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

set +x && build_mod_check "${BUILD_DIR}/Augustus-3.3.3/bin/augustus" "prompt" && set -x
if true; then
rm -rf ${BUILD_DIR}/Augustus-3.3.3
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/Augustus-3.3.3.tar.gz -C ${BUILD_DIR}
cd Augustus-3.3.3


find ./ -iname Makefile | xargs grep -rl "gcc" | xargs -l sed -i "s/gcc/clang/g"
find ./ -iname Makefile | xargs grep -rl "g++" | xargs -l sed -i "s/g++/clang++/g"
find ./ -iname "*.mk" | xargs grep -rl "g++" | xargs -l sed -i "s/g++/clang++/g"

sed -i "s|\/opt\/augustus|$AUGUSTUS_PATH|g" Makefile
sed -i -e "18s|.*|SAMTOOLS=${SAMTOOLS_PATH}/lib|" \
       -e "19s|.*|HTSLIB=${HTSLIB_PATH}/lib|" \
       ./auxprogs/bam2wig/Makefile

sed -i "17c\LINK.cc=clang++" auxprogs/bam2hints/Makefile

make -j VERBOSE=1 CC=clang CXX=clang++ \
      CFLAGS="-O3 -lstdc++ -I${SAMTOOLS_PATH}/include -I${BAMTOOLS_PATH}/include/bamtools -I${HTSLIB_PATH}/include -I${HTSLIB_PATH}/include/htslib -L${BAMTOOLS_PATH}/lib64  -L${HTSLIB_PATH}/lib" \
      CXXFLAGS="-O3 -std=c++17 -lstdc++ -I${SAMTOOLS_PATH}/include -I${BAMTOOLS_PATH}/include/bamtools -I${HTSLIB_PATH}/include -I${HTSLIB_PATH}/include/htslib -L${BAMTOOLS_PATH}/lib64 -L${HTSLIB_PATH}/lib" \
      LDFLAGS="-O3 -std=c++17 -lstdc++ -I${SAMTOOLS_PATH}/include -I${BAMTOOLS_PATH}/include/bamtools -I${HTSLIB_PATH}/include -I${HTSLIB_PATH}/include/htslib -L${BAMTOOLS_PATH}/lib64 -L${HTSLIB_PATH}/lib"

mkdir -p ${PATH_INSTALL}/bin
rm -f ${PATH_INSTALL}/bin/*
ln -s ${BUILD_DIR}/Augustus-3.3.3/bin/* ${PATH_INSTALL}/bin/
fi


${DOWNLOAD_TOOL} -u http://bioinf.uni-greifswald.de/augustus/datasets/sag178.gb.gz -f sag178.gb.gz

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/augustus/3.3.3
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load augustus/3.3.3-%#MYKBSVER#%" >> ${JOBDIR}/env.sh

cp ${JARVIS_DOWNLOAD}/sag178.gb.gz ${JOBDIR}/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_wrf
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=256"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.wrf
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cd job_work
{ time  mpirun \$CCS_MPI_OPTIONS -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores -x OMP_NUM_THREADS=1 -x UCX_TLS=sm augustus --species=human --UTR=on ../sag178.gb ; } 2>&1 | tee tee_jax.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd local_work
{ time  mpirun -np 1 --allow-run-as-root -x UCX_TLS=sm --bind-to cpulist:ordered --cpu-set 0-127 -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 augustus --species=human --UTR=on ../sag178.gb  ; } 2>&1 | tee tee_out.xlog
EOF

cat > ${JOBDIR}/augustus-3.3.3-run.sh << EOF
#!/bin/bash
source env.sh
if [ -f sag178.gb.gz ]; then
gzip -d sag178.gb.gz
fi
mkdir local_work job_work -p
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh

EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/augustus-3.3.3-run.sh

set +x && echo_info "Install done!!!" && set -x


[RUN]
