[SERVER]
11.11.11.11
 
[DOWNLOAD]
gromacs/2023.3 http://ftp.gromacs.org/pub/gromacs/gromacs-2023.3.tar.gz
Testcase https://repository.prace-ri.eu/ueabs/GROMACS/2.2/GROMACS_TestCaseC.tar.xz
 
[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/3.2.0 com
module load bisheng/3.2.0
./jarvis -install openblas/0.3.24 clang
./jarvis -install hmpi/2.3.0 clang
module load hmpi/2.3.0
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install fftw/3.3.10/sve clang+mpi
if [ ! -d gromacs-2023.3 ]; then
tar -xvf ${JARVIS_DOWNLOAD}/gromacs-2023.3.tar.gz
fi
 
[ENV]
module purge
module use ./software/modulefiles
module use ./software/moduledeps
module load bisheng/3.2.0
module load hmpi/2.3.0
module load fftw-sve/3.3.10
module load openblas/0.3.24
compile_dir=$(dirname $(dirname $(which clang)))
#export MEMKIND_HBW_NODES=0
export gromacs_dir=$JARVIS_ROOT/gromacs-2023.3
 
[APP]
app_name = gromacs
build_dir = $gromacs_dir
binary_dir =
case_dir = $JARVIS_ROOT/workloads/Gromacs/GROMACS_TestCaseC
 
[BUILD]
#rm -rf build
mkdir -p build
cd build
FLAGS="-mcpu=linxicore9100 -O3 -ffast-math -mllvm --aarch64-sched-inline-asm=false -mllvm -unroll-threshold-aggressive=600"
LD_FLAGS="-mcpu=linxicore9100 -O3 -lbsmath -lflang -L${compile_dir}/lib/jemalloc-64kbpage -ljemalloc"
 
CFLAGS=$FLAGS CXXFLAGS=$FLAGS LDFLAGS=$LD_FLAGS CC=mpicc CXX=mpicxx FC=mpifort cmake -DCMAKE_INSTALL_PREFIX=$JARVIS_ROOT/gromacs -DBUILD_SHARED_LIBS=on -DBUILD_TESTING=on -DREGRESSIONTEST_DOWNLOAD=off -DGMX_BUILD_OWN_FFTW=off -DGMX_SIMD=ARM_SVE -DGMX_SIMD_ARM_SVE_LENGTH=256 -DGMX_DOUBLE=off -DGMX_EXTERNAL_BLAS=on -DGMX_EXTERNAL_LAPACK=on -DGMX_FFT_LIBRARY=fftw3 -DGMX_BLAS_USER=${OPENBLAS_PATH}/lib/libopenblas.a -DGMX_LAPACK_USER=${OPENBLAS_PATH}/lib/libopenblas.a -DFFTWF_LIBRARY=$FFTW_SVE_PATH/lib/libfftw3f.so -DFFTWF_INCLUDE_DIR=$FFTW_SVE_PATH/include -DGMX_X11=off -DGMX_OPENMP=off -DGMX_MPI=on -DGMX_THREAD_MPI=off -DGMX_CYCLE_SUBCOUNTERS=off ../
 
make -j40 V=1
make install
 
#-DGMX_BLAS_USER=$openblas_path/lib/libopenblas.a #-DGMX_LAPACK_USER=$openblas_path/lib/libopenblas.a
#-DGMX_BLAS_USER=${KML_GCC_PATH}/lib/kblas/omp/libkblas.so -DGMX_LAPACK_USER=${KML_GCC_PATH}/lib/libklapack_full.so -DFFTWF_LIBRARY=$KFFT_PATH/lib/libfftw3f.so -DFFTWF_INCLUDE_DIR=$KFFT_PATH/include
 
[CLEAN]
./clean_build
 
[RUN]
run =
binary = mpirun -np 574 --allow-run-as-root -x UCX_TLS=sm --bind-to cpulist:ordered -mca pml ucx -mca btl ^vader,tcp,openib,uct ${gromacs_dir}/build/bin/gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 112 -g md_sve_0229-ucpg-bisheng-2P.log -s stmv.28M.tpr
nodes = 1

[JOB]
#!/bin/bash
#DSUB -n gmx
#DSUB --job_type cosched
#DSUB -N 1
#DSUB -R "cpu=128"
#DSUB -o gmx_%J.log
#DSUB -e gmx_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.gmx
rm -f $HOSTFILE
touch $HOSTFILE
cat ${CCSCHEDULER_ALLOC_FILE} | sort > $HOSTFILE
mpirun -np 128 --hostfile $HOSTFILE -x UCX_TLS=sm --bind-to cpulist:ordered -mca pml ucx -mca btl ^vader,tcp,openib,uct ${gromacs_dir}/build/bin/gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 8 -g 3-5-pme8-128C.log -s stmv.28M.tpr
