[SERVER]
11.11.11.11

[DOWNLOAD]
pytorch/2.5.0 https://github.com/pytorch/pytorch/releases/download/v2.5.0/pytorch-v2.5.0.tar.gz
sse2neon/1.7.0 https://github.com/DLTcollab/sse2neon/archive/refs/tags/v1.7.0.tar.gz sse2neon-v1.7.0.tar.gz
case1 https://raw.githubusercontent.com/yejianbang/alphafold2-case/refs/heads/main/run_kunpeng.py
case2 https://github.com/yejianbang/alphafold2-case/releases/download/alphafold2-case/alphafold2_case.tgz

[DEPENDENCY]
module purge 
./jarvis -install package/hpckit/25.0.0 any
./jarvis -install package/anaconda3/2024.10 any

[ENV]
module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/25.0.0/HPCKit/latest/modulefiles
module add gcc/compiler12.3.1/gccmodule 
module add gcc/kml25.0.0/kml
source ${JARVIS_ROOT}/software/utils/anaconda3/2024.10/etc/profile.d/conda.sh
export KML_LIB=$JARVIS_UTILS/hpckit/25.0.0/HPCKit/25.0.0/kml/gcc/lib/${kp}/kblas/multi

[APP]
app_name = alphafold2
build_dir = ${JARVIS_TMP}
binary_dir = 
case_dir = ${JARVIS_TMP}/open-omics-alphafold

[BUILD]
yum install numactl -y
rm -rf ${JARVIS_TMP}/sse2neon-v1.7.0
rm -rf ${JARVIS_TMP}/open-omics-alphafold
#rm -rf ${JARVIS_ROOT}/software/utils/anaconda3/2024.10/envs/af2
conda env remove --name af2 -y
cd ${JARVIS_TMP}
git clone https://github.com/IntelLabs/open-omics-alphafold.git -b v1.0
cd open-omics-alphafold
git submodule update --init --recursive


if [ ! -d ${JARVIS_TMP}/open-omics-alphafold ];then
 echo "open-omics-alphafold directory does not exists. Execute the following command to download."
 echo "git clone https://github.com/IntelLabs/open-omics-alphafold.git -b v1.0 && cd open-omics-alphafold && git submodule update --init --recursive"
 exit 1
fi

if [ -d ${JARVIS_ROOT}/software/utils/anaconda3/2024.10/envs/af2 ];then
 echo "af2 already exists. Execute the following command to remove."
 echo "rm -rf ${JARVIS_ROOT}/software/utils/anaconda3/2024.10/envs/af2"
 exit 1
fi

conda create -n af2 -y && conda activate af2

conda install pip kalign2 pdbfixer openmm absl-py biopython==1.81 chex dm-haiku dm-tree immutabledict jax jaxlib joblib ml-collections numpy pandas psutil pybind11 scipy tqdm openblas scons -c conda-forge -c bioconda -y

python3 -m pip install tensorflow jaxlib==0.4.21 jax==0.4.21 chex==0.1.84 numpy==1.26.3 --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple

cd ${JARVIS_TMP}/open-omics-alphafold
rm -rf pytorch-v2.5.0
tar xvf ${JARVIS_DOWNLOAD}/pytorch-v2.5.0.tar.gz
cd pytorch-v2.5.0
export USE_MKLDNN=0
export USE_MKLDNN_ACL=0
export USE_CUDA=0
export USE_ROCM=0
export USE_GLOO=0
export USE_BLAS=1 BLAS=OpenBLAS USE_LAPACK=0 USE_MKLDNN_CBLAS=0
export USE_NUMPY=1 USE_NUMA=0
export OpenBLAS_HOME=$(dirname $(dirname $(which python)))
export CFLAGS="-L$KML_LIB-lkblas"
export CXXFLAGS="$CXXFLAGS -Wno-nonnull"
python3 setup.py install

cd ${JARVIS_TMP}
if [ ! -d sse2neon-1.7.0 ];then
 tar xvf ${JARVIS_DOWNLOAD}/sse2neon-v1.7.0.tar.gz
fi

cd ${JARVIS_TMP}/open-omics-alphafold/tpp-pytorch-extension
if [ ! -f ./src/csrc/sse2neon.h ];then
 cp ${JARVIS_TMP}/sse2neon-1.7.0/sse2neon.h src/csrc/sse2neon.h
 sed -i "s%_rdtsc%__rdtsc%g" src/csrc/sse2neon.h
fi
sed -i "17c #include <sse2neon.h>" src/csrc/xsmm_functors.h
sed -i "453c\     cols, rows, ldi, ldo, LIBXSMM_DATATYPE_F32, LIBXSMM_DATATYPE_F32, LIBXSMM_DATATYPE_F32);" src/csrc/xsmm_functors.h
sed -i "554c\     cols, rows, ldi0, ldi1, ldo, LIBXSMM_DATATYPE_F32, LIBXSMM_DATATYPE_F32, LIBXSMM_DATATYPE_F32, LIBXSMM_DATATYPE_F32);" src/csrc/xsmm_functors.h
sed -i 's/-D_GLIBCXX_USE_CXX11_ABI=0/-D_GLIBCXX_USE_CXX11_ABI=1/g' ./parlooper/Makefile ./parlooper/samples/spgemm/Makefile ./parlooper/samples/conv/Makefile ./parlooper/samples/gemm/Makefile ./parlooper/src/Makefile
python3 setup.py install

[CLEAN]
source software/utils/anaconda3/2024.10/etc/profile.d/conda.sh
rm -rf ${JARVIS_ROOT}/software/utils/anaconda3/2024.10/envs/af2
rm -rf ${JARVIS_TMP}/sse2neon-1.7.0
rm -rf ${JARVIS_TMP}/open-omics-alphafold

[RUN]
run = time
binary =
nodes = 1


[BATCH]
source ${JARVIS_ROOT}/software/utils/anaconda3/2024.10/etc/profile.d/conda.sh
conda activate af2
LOG_FILE="alphafold2-proformance.log"
>"$LOG_FILE"
cd ${JARVIS_TMP}/open-omics-alphafold
if [ ! -d af_input ];then
 tar xvf ${JARVIS_DOWNLOAD}/alphafold2_case.tgz
fi
rm -rf run_kunpeng.py 
cp ${JARVIS_DOWNLOAD}/run_kunpeng.py .
sed -i "s%/your_open-omics-alphafold_dir%${JARVIS_TMP}/open-omics-alphafold%" run_kunpeng.py

rm -rf online_inference_baremetal_kunpeng.sh
cp online_inference_baremetal.sh online_inference_baremetal_kunpeng.sh

sed -i "32a core_per_instance=\$7" online_inference_baremetal_kunpeng.sh
sed -i "s/run_modelinfer_pytorch_jit.py/run_kunpeng.py/g" online_inference_baremetal_kunpeng.sh
sed -i "43c export LD_PRELOAD=$(dirname $(dirname $(which gcc)))/lib64/libgomp.so:$(dirname $(dirname $(which gcc)))/lib64/libjemalloc.so:\$LD_PRELOAD" online_inference_baremetal_kunpeng.sh
sed -i "s/TF_ENABLE_ONEDNN_OPTS=1/TF_ENABLE_ONEDNN_OPTS=0/g" online_inference_baremetal_kunpeng.sh
sed -i "s/USE_AVX512=1/USE_AVX512=0/g" online_inference_baremetal_kunpeng.sh
sed -i "s/IPEX_ONEDNN_LAYOUT=1/IPEX_ONEDNN_LAYOUT=0/g" online_inference_baremetal_kunpeng.sh
sed -i "s/AF2_BF16=1/AF2_BF16=0/g" online_inference_baremetal_kunpeng.sh
sed -i "s/\$script/numactl -N 0,1 -m 0,1 \$script/g" online_inference_baremetal_kunpeng.sh
sed -i "s/num_iter+1/num_iter/g" alphafold_pytorch_jit/subnets.py


export conda_env_path=$(dirname $(dirname $(which python)))
export root_home=${JARVIS_TMP}/open-omics-alphafold
export data_dir=${JARVIS_TMP}/open-omics-alphafold/af_input
export input_dir=${JARVIS_TMP}/open-omics-alphafold/fa_data
export output_dir=${JARVIS_TMP}/open-omics-alphafold/af_output
export AF2_BF16=0
export USE_TPP=1
export OMP_NUM_THREADS=64
export BLAS_NUM_THREADS=64
export ncores=64

#$RUN_TOOL "alphafold2-test" "(time -p bash online_inference_baremetal_kunpeng.sh ${conda_env_path} ${root_home} ${data_dir} ${input_dir} ${output_dir} model_1_ptm ${ncores}) 2>&1 |tee $LOG_FILE"
(time -p bash online_inference_baremetal_kunpeng.sh ${conda_env_path} ${root_home} ${data_dir} ${input_dir} ${output_dir} model_1_ptm ${ncores}) 2>&1 |tee $LOG_FILE

[JOB]
#!/bin/sh
#DSUB -n alphafold2_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo alphafold2.%J.out
#DSUB -oe alphafold2.%J.err

LOG_FILE="alphafold2-proformance.log"

>"$LOG_FILE"
source ${JARVIS_ROOT}/software/utils/anaconda3/2024.10/etc/profile.d/conda.sh
conda activate af2


