[SERVER]
11.11.11.11

[DOWNLOAD]
Code_Saturne/7.0.6 https://github.com/code-saturne/code_saturne/archive/refs/tags/v7.0.6.tar.gz


[DEPENDENCY]
yum install automake libtool -y
export CC=clang FC=flang CXX=clang++
yum install python3-qt5  patch -y

sed -i '10c  ./configure --prefix=$1 --enable-fortran --enable-static=yes --enable-parallel --enable-shared CFLAGS="-O3 -fPIC -Wno-incompatible-pointer-types-discards-qualifiers  -Wno-non-literal-null-conversion -Wno-implicit-function-declaration -Wno-implicit-int -Wno-incompatible-function-pointer-types " FCFLAGS="-O3 -fPIC" LDFLAGS="-Wl,--build-id"' package/hdf5/1.10.3/clang/install.sh
./jarvis -install package/hdf5/1.10.3/clang/ bisheng+mpi
module use /hpcrunner/software/moduledeps
module add bisheng4.0.0-hmpi2.4.1/hdf5-clang/1.10.3
export HDF5_DIR=${HDF5_CLANG_PATH}

export CC=mpicc FC=mpifort CXX=mpicxx
./jarvis -install package/med/4.0.0/ bisheng+mpi
module add bisheng4.0.0-hmpi2.4.1/med/4.0.0

sed -i '9a sed -i "6c AR              = clang" ./Make.inc/Makefile.inc.x86-64_pc_linux2.shlib' package/scotch/6.0.9/install.sh
sed -i '10a sed -i "9c CCS             = clang" ./Make.inc/Makefile.inc.x86-64_pc_linux2.shlib' package/scotch/6.0.9/install.sh
sed -i '11a sed -i "11c CCD             = clang" ./Make.inc/Makefile.inc.x86-64_pc_linux2.shlib' package/scotch/6.0.9/install.sh
./jarvis -install package/scotch/6.0.9 bisheng+mpi
module add bisheng4.0.0-hmpi2.4.1/scotch/6.0.9
echo "=========="
echo $SCOTCH_PATH
./jarvis -install package/metis/5.1.0 bisheng+mpi
module add bisheng4.0.0-hmpi2.4.1/metis/5.1.0


[ENV]
module use /hpcrunner/software/moduledeps
module add bisheng4.0.0-hmpi2.4.1/hdf5-clang/1.10.3
export HDF5_DIR=${HDF5_CLANG_PATH}
module add bisheng4.0.0-hmpi2.4.1/med/4.0.0
module add bisheng4.0.0-hmpi2.4.1/scotch/6.0.9
module add bisheng4.0.0-hmpi2.4.1/metis/5.1.0
export SCOTCH=${SCOTCH_PATH}
module unload bisheng/kml/kblas/serial-nolocking
module add bisheng/kml/kblas/omp
export PATH=/hpcrunner/software/apps/bisheng4.0.0-hmpi2.4.1/Code_Saturne/7.0.6/bin:$PATH

[APP]
app_name = Code_Saturne
build_dir = ${JARVIS_TMP}
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng4.0.0-hmpi2.4.1/Code_Saturne/7.0.6
case_dir =

[BUILD]
rm code_saturne-7.0.6 -rf
tar -xvf ${JARVIS_DOWNLOAD}/v7.0.6.tar.gz
cd code_saturne-7.0.6
cd src/comb/
patch -p0 < /hpcrunner/templates/Code_Saturne/7.0.6/cplym1.patch 
sed -i "s/#/\!#/g" cppdfr.f90
cd -
./sbin/bootstrap
CC=mpicc FC=mpifort CXX=mpicxx ./configure  --prefix=${JARVIS_ROOT}/software/apps/bisheng4.0.0-hmpi2.4.1/Code_Saturne/7.0.6 --with-blas-lib=/hpcrunner/HPCKit/latest/kml/bisheng/lib/kblas/omp --with-hdf5=${HDF5_CLANG_PATH} --with-scotch=${SCOTCH_PATH} --with-metis=${METIS_PATH} --with-med=${MED_PATH} --enable-shared --with-mpi CXXFLAGS="-O3 -std=c++11 -march=armv8.2-a" 
make -j 32
make install

[RUN]
run =
binary =
nodes = 1
