[SERVER]
11.11.11.11

[DOWNLOAD]
Code_Saturne/7.0.6 https://github.com/code-saturne/code_saturne/archive/refs/tags/v7.0.6.tar.gz


[DEPENDENCY]
yum install automake libtool xz -y
yum install python3-qt5 cmake patch -y
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=clang FC=flang CXX=clang++
./jarvis -install hmpi/1.1.1 bisheng
module use ./software/moduledeps/bisheng2.1.0
module load hmpi/1.1.1
./jarvis -install package/hdf5/1.10.3/clang/ bisheng+mpi
module use ./software/moduledeps/bisheng2.1.0-hmpi1.1.1
module load hdf5-clang/1.10.3
export HDF5_DIR=${HDF5_CLANG_PATH}
export CC=mpicc FC=mpifort CXX=mpicxx
./jarvis -install package/med/4.0.0/ bisheng+mpi
module load med/4.0.0
./jarvis -install package/scotch/6.0.9 bisheng+mpi
module load scotch/6.0.9
./jarvis -install package/metis/5.1.0 bisheng+mpi
module load metis/5.1.0
./jarvis -install kml/2.4.0/bisheng bisheng
module load kml-bisheng/2.4.0

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=clang FC=flang CXX=clang++
module use ./software/moduledeps/bisheng2.1.0
module load hmpi/1.1.1
module load kml-bisheng/2.4.0
module use ./software/moduledeps/bisheng2.1.0-hmpi1.1.1
module load hdf5-clang/1.10.3
export HDF5_DIR=${HDF5_CLANG_PATH}
export CC=mpicc FC=mpifort CXX=mpicxx
module load med/4.0.0
module load scotch/6.0.9
module load metis/5.1.0
export PATH=/hpcrunner/software/apps/bisheng4.0.0-hmpi2.4.1/Code_Saturne/7.0.6/bin:$PATH

[APP]
app_name = Code_Saturne
build_dir = ${JARVIS_TMP}
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng4.0.0-hmpi2.4.1/Code_Saturne/7.0.6
case_dir =

[BUILD]

echo "======"
echo $HDF5_CLANG_PATH
echo $SCOTCH_PATH
echo $METIS_PATH
echo $MED_PATH
echo "======"
rm code_saturne-7.0.6 -rf
tar -xvf ${JARVIS_DOWNLOAD}/v7.0.6.tar.gz
cd code_saturne-7.0.6
cd src/comb/
patch -p0 < ${JARVIS_ROOT}/templates/Code_Saturne/7.0.6/cplym1.patch
sed -i "s/#/\!#/g" cppdfr.f90
cd -
./sbin/bootstrap
CC=mpicc FC=mpifort CXX=mpicxx ./configure  --prefix=${JARVIS_ROOT}/software/apps/bisheng4.0.0-hmpi2.4.1/Code_Saturne/7.0.6 --with-blas-lib=$KML_BISHENG_PATH/lib/kblas/omp --with-hdf5=${HDF5_CLANG_PATH} --with-scotch=${SCOTCH_PATH} --with-metis=${METIS_PATH} --with-med=${MED_PATH} --enable-shared --with-mpi CXXFLAGS="-O3 -std=c++11 -march=armv8.2-a"
make -j 32
make install

[RUN]
run =
binary =
nodes = 1
