[SERVER]
11.11.11.11

[DOWNLOAD]
Code_Saturne/7.0.6 https://github.com/code-saturne/code_saturne/archive/refs/tags/v7.0.6.tar.gz


[DEPENDENCY]
yum install automake libtool xz -y
yum install python3-qt5 cmake patch -y
module purge
module use ./software/modulefiles
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule  bisheng/hmpi${HMPI_VERSION}/release
export CC=mpicc FC=mpifort CXX=mpicxx
./jarvis -install package/hdf5/1.10.3/clang/ bisheng+mpi
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load hdf5-clang/1.10.3
export HDF5_DIR=${HDF5_CLANG_PATH}
./jarvis -install package/med/4.0.0/ bisheng+mpi
module load med/4.0.0
./jarvis -install package/scotch/6.0.9 bisheng+mpi
module load scotch/6.0.9
./jarvis -install package/metis/5.1.0 bisheng+mpi
module load metis/5.1.0

[ENV]
module purge
module use ./software/modulefiles
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule  bisheng/hmpi${HMPI_VERSION}/release
export CC=clang FC=flang CXX=clang++
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load hdf5-clang/1.10.3
export HDF5_DIR=${HDF5_CLANG_PATH}
export CC=mpicc FC=mpifort CXX=mpicxx
module load med/4.0.0
module load scotch/6.0.9
module load metis/5.1.0
module load bisheng/kml${HMPI_VERSION}/kblas/multi
export PATH=/hpcrunner/software/apps/bisheng{BISHENG_VERSION}-hmpi${HMPI_VERSION}/Code_Saturne/7.0.6/bin:$PATH
export KML_BLAS_THREAD_TYPE=OMP

[APP]
app_name = Code_Saturne
build_dir = ${JARVIS_TMP}
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/Code_Saturne/7.0.6
case_dir =

[BUILD]
rm code_saturne-7.0.6 -rf
tar -xvf ${JARVIS_DOWNLOAD}/v7.0.6.tar.gz
cd code_saturne-7.0.6
cd src/comb/
patch -p0 < ${JARVIS_ROOT}/templates/Code_Saturne/7.0.6/cplym1.patch
sed -i "s/#/\!#/g" cppdfr.f90
cd -
./sbin/bootstrap
CC=mpicc FC=mpifort CXX=mpicxx ./configure  --prefix=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/Code_Saturne/7.0.6 --with-blas-lib=${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/bisheng/lib/${kp}/kblas/multi --with-hdf5=${HDF5_CLANG_PATH} --with-scotch=${SCOTCH_PATH} --with-metis=${METIS_PATH} --with-med=${MED_PATH} --enable-shared --with-mpi CXXFLAGS="-O3 -std=c++11 -march=armv8.2-a -mtune=tsv110 -mcpu=hip09  -mllvm -force-customized-pipeline=true"
make -j 32
make install

[RUN]
run =
binary =
nodes = 1
