[SERVER]
11.11.11.11

[DOWNLOAD]
bowtie2/2.4.5 $JARVIS_PROXY/BenLangmead/bowtie2/archive/refs/tags/v2.4.5.tar.gz

[DEPENDENCY]
set -e
set -x
./jarvis -install bisheng/2.1.0 com
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/v2.4.5.tar.gz -C ${JARVIS_TMP}
cd ${JARVIS_TMP}/bowtie2-2.4.5
sed -i 's/\CXXFLAGS += -std=c++11/\CXXFLAGS += -std=c++11 -stdlib=libc++/g' Makefile
wget $JARVIS_PROXY/simd-everywhere/simde/archive/refs/tags/v0.7.2.tar.gz
tar -xzf v0.7.2.tar.gz
cp -r simde-0.7.2/simde ./third_party

[ENV]
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[APP]
app_name = bowtie2
build_dir = ${JARVIS_TMP}/bowtie2-2.4.5
binary_dir =
case_dir = ${JARVIS_TMP}/bowtie2-2.4.5

[BUILD]
make -j
make static-libs -j && make STATIC_BUILD=1 -j
mkdir -p ${JARVIS_LIBS}/bisheng2.1.0/bowtie2/2.4.5/bin
cp bowtie2*  ${JARVIS_LIBS}/bisheng2.1.0/bowtie2/2.4.5/bin

[RUN]
run = make random-test
binary = 
nodes = 1