[SERVER]
11.11.11.11

[DOWNLOAD]
chaste/2019.1 https://github.com/Chaste/Chaste/archive/release_2019.1.tar.gz Chaste-release_2019.1.tar.gz
chaste/Propagation3d https://chaste.cs.ox.ac.uk/chaste/tutorials/release_3.3/UserTutorials/CardiacExecutable/Propagation3d/Propagation3d.tgz Propagation3d.tgz


[DEPENDENCY]
set -e
source ${JARVIS_LIBSHELL}
check_rpms_installed python3-numpy python3-matplotlib mesa-libGL-devel mesa-libGLU-devel libXt-devel glibc-devel valgrind-devel xerces-c xerces-c-devel libxml2-devel libxslt-devel || exit 1
set -x

module purge
module use $JARVIS_MODULES/modules

./jarvis -install python2/2.7.16/chaste any
module load python2-chaste/2.7.16

./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load gcc/hmpi25.0.0/hmpi

./jarvis -install petsc/3.6.2 gcc
module load petsc/3.6.2-kgcc12.3.1

export CC=gcc
./jarvis -install boost/1.58.0 gcc
module load boost/1.58.0-kgcc12.3.1

./jarvis -install amara/1.2.0.2 any

./jarvis -install xsd/4.0.0 gcc
module load xsd/4.0.0-kgcc12.3.1

./jarvis -install rdflib/2.4.2 any

./jarvis -install vtk/6.2.0 gcc
module load vtk/6.2.0-kgcc12.3.1

./jarvis -install lxml/3.2.1 any

./jarvis -install openblas/0.3.6 gcc
module load openblas/0.3.6-kgcc12.3.1

echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load gcc/hmpi25.0.0/hmpi
module load python2-chaste/2.7.16
module load petsc/3.6.2-kgcc12.3.1
module load boost/1.58.0-kgcc12.3.1
module load xsd/4.0.0-kgcc12.3.1
module load vtk/6.2.0-kgcc12.3.1
module load openblas/0.3.6-kgcc12.3.1

[APP]
fake = 0
app_name = chaste
app_version = 2019.1
compiler = gcc+mpi
build_dir = ${JARVIS_DEV}/chaste/2019.1-kgcc12.3.1-hmpi25.0.0
binary_dir = ${JARVIS_APP}/chaste/2019.1-kgcc12.3.1-hmpi25.0.0
case_dir = ${JARVIS_JOBSCRIPT}/chaste/2019.1

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
install_path=$1
build_mod_check "${install_path}/bin/Chaste" "prompt"
rm -f ${install_path}/bin/Chaste

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/Chaste-release_2019.1.tar.gz 

cd Chaste-release_2019.1

if [ ! -f "chaste_build/apps/Chaste" ] || true ; then
sed -i '1830s|#||1' python/pycml/translators.py
sed -i '1831s|^\([[:space:]]*\)\([a-zA-Z]\)|\1#\2|' python/pycml/translators.py
sed -i '1838s|#||1' python/pycml/translators.py
sed -i '1839s|^\([[:space:]]*\)\([a-zA-Z]\)|\1#\2|' python/pycml/translators.py

if [ -d "chaste_build" ]; then
rm -rf chaste_build
fi
mkdir chaste_build
cd chaste_build

export PETSC_DIR=${PETSC_PATH}
export HDF5_ROOT=$PETSC_DIR
export SUNDIALS_ROOT=$PETSC_DIR

cmake .. -DCMAKE_INSTALL_PREFIX=$install_path \
         -DBoost_INCLUDE_DIR=$BOOST_PATH/include \
         -DPARMETIS_LIBRARY=${PETSC_PATH}/lib/libparmetis.so \
         -DMETIS_LIBRARY=${PETSC_PATH}/lib/libmetis.so \
         -DXSD_INCLUDE_DIR=$XSD_PATH/include \
         -DXSD_EXECUTABLE=$XSD_PATH/bin/xsd \
         -DCMAKE_C_FLAGS="-Wno-old-style-declaration" \
         -DCMAKE_CXX_FLAGS="-Wno-mismatched-dealloc -Wno-nonnull -Wno-parentheses" \
         -DBOOST_ROOT=$BOOST_PATH \
         -DCMAKE_PREFIX_PATH=$BOOST_PATH

make verbose=1 -j 16 Continuous
make install


mkdir ${install_path}/bin -p
ln -sf ${BUILD_DIR}/Chaste-release_2019.1/chaste_build/apps/Chaste ${install_path}/bin/Chaste
ln -sf ${BUILD_DIR}/Chaste-release_2019.1/chaste_build/apps/MeshConvert ${install_path}/bin/MeshConvert

fi


####### build done
set +x && echo_info "build done!!!" && set -x


set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/chaste/2019.1
mkdir -p ${JOBDIR}

${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load chaste/2019.1-kgcc12.3.1-hmpi25.0.0" >> ${JOBDIR}/env.sh
cp ${JARVIS_DOWNLOAD}/Propagation3d.tgz ${JOBDIR}/ -ar
cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_chaste
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.chaste
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd Propagation3d
{ time  -p mpirun  --hostfile $HOSTFILE -np 24 mpirun --allow-run-as-root -np 96 --mca btl ^openib,tcp,vader,uct -x UCX_TLS=sm,rc -mca pml ucx Chaste ChasteParameters.xml ; } 2>&1 | tee tee_jax.xlog
EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd Propagation3d
{ mpirun --allow-run-as-root -np 24 --mca btl ^openib,tcp,vader,uct -x UCX_TLS=sm,rc -mca pml ucx Chaste ChasteParameters.xml ; } 2>&1 | tee tee_wrf.xlog
EOF


cat > ${JOBDIR}/chaste-2019.1-run.sh << EOF
source env.sh
echo "Chaste project:${BUILD_DIR}/Chaste-release_2019.1"
if [ ! -d Propagation3d ]; then
tar --no-same-owner -zxvf ./Propagation3d.tgz
fi
./local_run.sh
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/chaste-2019.1-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
