[SERVER]
11.11.11.11

[DOWNLOAD]
foldseek/10 https://mmseqs.com/foldseek/foldseek-linux-arm64.tar.gz
example/ https://raw.githubusercontent.com/steineggerlab/foldseek/refs/tags/10-941cd33/example/d1asha_

[DEPENDENCY]
set -e

mkdir -p ${JARVIS_ROOT}/software/app
tar -zxvf ${JARVIS_DOWNLOAD}/foldseek-linux-arm64.tar.gz -C ${JARVIS_ROOT}/software/app

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load hmpi/2.4.2

[APP]
app_name = foldseek
build_dir = 
binary_dir = ${JARVIS_ROOT}/software/app/foldseek/bin
case_dir = ${JARVIS_ROOT}/software/app/foldseek

[BUILD]

[CLEAN]

[RUN]
run = mkdir -p example && cp -ar ${JARVIS_DOWNLOAD}/d1asha_ ./example/ &&
binary = foldseek easy-search example/d1asha_ example/ result.html tmp --format-mode 3
#浏览器访问生成的html文件
nodes = 1
