[SERVER]
11.11.11.11

[DOWNLOAD]
CESM/2.2.2 https://github.com/ESCOMP/CESM/archive/refs/tags/release-cesm2.2.2.tar.gz

[DEPENDENCY]
set -x
set -e

./jarvis -install hpckit/2025.1.0.SPC001 any
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

./jarvis -install openblas/0.3.18/clang bisheng
./jarvis -install hdf5/1.12.0/clang bisheng+mpi

module load hdf5-clang/1.12.0-%#MYKBSVER#%-%#MYKMPIVER#%
./jarvis -install pnetcdf/1.11.2/clang bisheng+mpi
module load pnetcdf-clang/1.11.2-%#MYKBSVER#%-%#MYKMPIVER#%
./jarvis -install package/netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4-%#MYKBSVER#%-%#MYKMPIVER#%-hdf51.12.0-pnetcdf1.11.2
module load bisheng/kml25.1.0.SPC001/kml


[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load hdf5-clang/1.12.0-%#MYKBSVER#%-%#MYKMPIVER#%
module load pnetcdf/1.11.2-%#MYKBSVER#%-%#MYKMPIVER#%
module load netcdf-clang/4.7.4-%#MYKBSVER#%-%#MYKMPIVER#%-hdf51.12.0-pnetcdf1.11.2
module load bisheng/kml25.1.0.SPC001/kml

export NETCDF_PATH=${NETCDF_CLANG_PATH}
export CESM_PATH=${JARVIS_DEV}/cesm/2.2.2/CESM-release-cesm2.1.5
export CIMEROOT=$CESM_PATH/cime
export PYTHONPATH=$CIMEROOT/scripts/lib:$CIMEROOT/scripts/Tools:$PYTHONPATH
export case_name=mycase

[APP]
app_name = CESM
app_version = 2.2.2
compiler = bisheng+mpi
build_dir = ${JARVIS_DEV}/cesm/2.2.2
binary_dir = 
case_dir = $CESM_PATH/

[BUILD]
set -e
set -x
#tar -xvf  ${JARVIS_DOWNLOAD}/CESM-cesm2.2.2.tar.gz  
chmod -R a+w+x CESM-cesm2.2.2
cd CESM-cesm2.2.2

./manage_externals/checkout_externals
./manage_externals/checkout_externals -S
export CESM_VERSION=2.2.2

cp ${JARVIS_TPL}/top50/cesm/2.2.2/config_machines.xml cime/config/cesm/machines/
cp ${JARVIS_TPL}/top50/cesm/2.2.2/config_compilers.xml cime/config/cesm/machines/

cd cime/scripts

#./create_newcase --case mycase --compset X  --res f19_g16 --mach=openeuler

cd mycase
#./check_case
#./check_input_data --download
./case.setup
#修改../../src/share/util/shr_sys_mod.F90
sed -i '70s|!define CPRGNU|define CPRGNU|' ../../src/share/util/shr_sys_mod.F90
sed -i '115s|!define CPRGNU|define CPRGNU|' ../../src/share/util/shr_sys_mod.F90

./case.build
sed -i '70s|!defined CPRGNU|defined CPRGNU|'  src/share/util/shr_sys_mod.F90
sed -i '115s|!defined CPRGNU|defined CPRGNU|' src/share/util/shr_sys_mod.F90

MPI_DIR=`dirname $(dirname $(which mpirun))`
COMPLER_PATH=`dirname $(dirname $(which clang))`
LIB_MPI=$MPI_DIR/lib
sed -i "543s|.*|     SLIBS += -L${LIB_MPI}/ -lmpi -lopen-pal -L${COMPLER_PATH}/lib -lflang|" Tools/Makefile
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
./case.submit

[CLEAN]
cd cime/scripts/$case_name
#如果修改env_build.xml
#./case.build --clean
#如果修改config_machines/config_compilers
./case.build --clean-all

[RUN]
#run = rm -rf cesm_* && chmod +x run.sh && dsub -s run.sh
run = ./case.submit
binary =
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="cesm-proformance.log"

>"$LOG_FILE"

sed -i '469s|.*|     <CIME_OUTPUT_ROOT>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/scratch</CIME_OUTPUT_ROOT> |' cime/config/cesm/machines/config_machines.xml
sed -i '470s|.*|     <DIN_LOC_ROOT>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/inputdata</DIN_LOC_ROOT> |' cime/config/cesm/machines/config_machines.xml
sed -i '471s|.*|     <DIN_LOC_ROOT_CLMFORC>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/inputdata/lmwg</DIN_LOC_ROOT_CLMFORC> |' cime/config/cesm/machines/config_machines.xml
sed -i '472s|.*|     <DOUT_S_ROOT>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/archive/$CASE</DOUT_S_ROOT> |' cime/config/cesm/machines/config_machines.xml
sed -i '473s|.*|     <BASELINE_ROOT>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/cesm_baselines</BASELINE_ROOT> |' cime/config/cesm/machines/config_machines.xml
sed -i '474s|.*|     <CCSM_CPRNC>/home/ljl/cesm2.1.5/test/cesm/inputdata/cesm/tools/cime/tools/cprnc/cprnc</CCSM_CPRNC> |' cime/config/cesm/machines/config_machines.xml

cd cime/scripts
if [ ! -d $case_name ]; then
    ./create_newcase --case mycase --compset X --res f19_g16 --mach=centos7-linux --run-unsupported
fi
cd $case_name
#./xmlchange NTASKS=128
./case.setup
./check_case

sed -i '70s|!defined CPRGNU|defined CPRGNU|'  ../..//src/share/util/shr_sys_mod.F90
sed -i '115s|!defined CPRGNU|defined CPRGNU|' ../../src/share/util/shr_sys_mod.F90

MPI_DIR=`dirname $(dirname $(which mpirun))`
COMPLER_PATH=`dirname $(dirname $(which clang))`
LIB_MPI=$MPI_DIR/lib
sed -i "543s|.*|     SLIBS += -L${LIB_MPI}/ -lmpi -lopen-pal -L${COMPLER_PATH}/lib -lflang|" Tools/Makefile

#不加download表示查看所有缺失文件
#./check_input_data --download
./xmlchange STOP_OPTION=nhours,STOP_N=1
./xmlchange DOUT_S=FALSE
#./xmlchange NTASKS_ATM=208,NTASKS_CPL=208,NTASKS_OCN=208,NTASKS_WAV=208,NTASKS_GLC=208,NTASKS_ICE=208,NTASKS_ROF=208,NTASKS_LND=208,NTASKS_ESP=1
#./case.setup --reset
./case.build 

export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
./xmlchange STOP_N=300
./case.submit

