[SERVER]
11.11.11.11

[DOWNLOAD]
mopac/22.0.4 https://github.com/openmopac/mopac/archive/refs/tags/v22.0.4.tar.gz


[DEPENDENCY]
export CC=mpicc CXX=mpicxx FC=mpifort
yum install python3 -y
./jarvis -install package/lapack/3.8.0/bisheng/ bisheng
module use $JARVIS_ROOT/software/moduledeps/bisheng4.0.0
module add lapack-bisheng/3.8.0
export LAPACK_PATH=$LAPACK_BISHENG_PATH
export CFLAGS="-Wno-implicit-function-declaration"
./jarvis -install package/openblas/0.3.14/ bisheng+mpi
module use $JARVIS_ROOT/software/moduledeps/bisheng4.0.0-hmpi2.4.1
module add openblas/0.3.14

[ENV]

module use $JARVIS_ROOT/software/moduledeps/bisheng4.0.0
module add lapack-bisheng/3.8.0
export LAPACK_PATH=$LAPACK_BISHENG_PATH
export CFLAGS="-Wno-implicit-function-declaration"
module use $JARVIS_ROOT/software/moduledeps/bisheng4.0.0-hmpi2.4.1
module add openblas/0.3.14
export PATH=$JARVIS_ROOT/software/mopac/22.0.4/bin:$PATH
export LD_LIBRARY_PATH=$JARVIS_ROOT/software/mopac/22.0.4/lib64:$LD_LIBRARY_PATH


[APP]
app_name = mopac
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/software/mopac/22.0.4/bin
case_dir =

[BUILD]
rm mopac-22.0.4 -rf
tar -xf ${JARVIS_DOWNLOAD}/v22.0.4.tar.gz
cd mopac-22.0.4
mkdir build && cd build
cmake -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/mopac/22.0.4 -DCMAKE_C_FLAGS="-mcpu=linxicore9100 -mllvm -force-customized-pipeline=true" -DCMAKE_Fortran_FLAGS="-mcpu=linxicore9100 -mllvm -force-customized-pipeline=true" ..
make -j
make install



[RUN]
run =  
binary =
nodes = 1
