[SERVER]
11.11.11.11

[DOWNLOAD]
CESM/2.1.3 $JARVIS_PROXY/ESCOMP/CESM/archive/refs/tags/release-cesm2.1.3.tar.gz
map_r05_TO_g16_aave.120920.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/cpl6/map_r05_TO_g16_aave.120920.nc
map_fv1.9x2.5_TO_gland4km_aave.170429.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gland4km_aave.170429.nc
map_fv1.9x2.5_TO_gland4km_blin.170429.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gland4km_blin.170429.nc
fv1.9x2.5/map_fv1.9x2.5_TO_gx1v6_aave.130322.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gx1v6_aave.130322.nc
map_fv1.9x2.5_TO_gx1v6_blin.130322.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gx1v6_blin.130322.nc
map_fv1.9x2.5_TO_gx1v6_patc.130322.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gx1v6_patc.130322.nc
map_fv1.9x2.5_TO_ww3a_bilin_140702.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_ww3a_bilin_140702.nc

map_gland4km_TO_fv1.9x2.5_aave.170429.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/gland4km/map_gland4km_TO_fv1.9x2.5_aave.170429.nc
map_gland4km_to_gx1v6_nn_open_ocean_nnsm_e1000r300_marginal_sea_171105.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/gland4km/map_gland4km_to_gx1v6_nn_open_ocean_nnsm_e1000r300_marginal_sea_171105.nc
map_gland4km_to_gx1v6_nnsm_e1000r300_171105.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/gland4km/map_gland4km_to_gx1v6_nnsm_e1000r300_171105.nc
map_gx1v6_TO_fv1.9x2.5_aave.130322.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/gx1v6/map_gx1v6_TO_fv1.9x2.5_aave.130322.nc
map_gx1v6_TO_ww3a_splice_150428.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/gx1v6/map_gx1v6_TO_ww3a_splice_150428.nc
map_r05_to_gx1v6_nn_open_ocean_nnsm_e1000r300_marginal_sea_170503.nc  https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/r05/map_r05_to_gx1v6_nn_open_ocean_nnsm_e1000r300_marginal_sea_170503.nc

map_r05_to_gx1v6_nnsm_e1000r300_170503.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/r05/map_r05_to_gx1v6_nnsm_e1000r300_170503.nc
map_ww3a_TO_gx1v6_splice_150428.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/cpl/gridmaps/ww3a/map_ww3a_TO_gx1v6_splice_150428.nc
map_0.5x0.5_nomask_to_1.9x2.5_nomask_aave_da_c120709.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/lnd/clm2/mappingdata/maps/1.9x2.5/map_0.5x0.5_nomask_to_1.9x2.5_nomask_aave_da_c120709.nc
map_1.9x2.5_nomask_to_0.5x0.5_nomask_aave_da_c120522.nc https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/lnd/clm2/mappingdata/maps/1.9x2.5/map_1.9x2.5_nomask_to_0.5x0.5_nomask_aave_da_c120522.nc

[DEPENDENCY]
set -x
set -e
. $CHECK_ROOT && yum install -y perl-XML-LibXML
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
export CC=clang CXX=clang++ FC=flang
./jarvis -install openblas/0.3.18 clang
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}
module load openblas/0.3.18
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.12.0/clang clang+mpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load pnetcdf/1.12.1
./jarvis -install netcdf/4.8.1/clang clang+mpi
module load netcdf-clang/4.8.1
cd ${JARVIS_ROOT}/tmp
if [ -d "CESM-release-cesm2.1.3" ]; then
   rm -rf CESM-release-cesm2.1.3
   rm -rf $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/scratch/*
fi
tar -xzvf $JARVIS_DOWNLOAD/release-cesm2.1.3.tar.gz
mkdir -p $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata
mkdir -p $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/scratch

[ENV]
module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.1
module load netcdf-clang/4.8.1
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}
module load openblas/0.3.18

export CESM_PATH=$JARVIS_ROOT/tmp/CESM-release-cesm2.1.3
export case_name=test2

[APP]
app_name = CESM
build_dir = $JARVIS_ROOT/tmp/CESM-release-cesm2.1.3
binary_dir = 
case_dir = $JARVIS_ROOT/tmp/CESM-release-cesm2.1.3/cime/scripts/$case_name

[BUILD]
set -e
set -x

mkdir -p $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/cpl6
mkdir -p $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/fv1.9x2.5
mkdir -p $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/gland4km
mkdir -p $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/gx1v6
mkdir -p $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/r05
mkdir -p $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/ww3a
mkdir -p $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/lnd/clm2/mappingdata/maps/1.9x2.5

cp $JARVIS_DOWNLOAD/map_r05_TO_g16_aave.120920.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/cpl6
cp $JARVIS_DOWNLOAD/map_fv1.9x2.5_TO_gland4km_aave.170429.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/fv1.9x2.5
cp $JARVIS_DOWNLOAD/map_fv1.9x2.5_TO_gland4km_blin.170429.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/fv1.9x2.5
cp $JARVIS_DOWNLOAD/map_fv1.9x2.5_TO_gx1v6_aave.130322.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/fv1.9x2.5
cp $JARVIS_DOWNLOAD/map_fv1.9x2.5_TO_gx1v6_blin.130322.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/fv1.9x2.5
cp $JARVIS_DOWNLOAD/map_fv1.9x2.5_TO_gx1v6_patc.130322.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/fv1.9x2.5
cp $JARVIS_DOWNLOAD/map_fv1.9x2.5_TO_ww3a_bilin_140702.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/fv1.9x2.5

cp $JARVIS_DOWNLOAD/map_gland4km_TO_fv1.9x2.5_aave.170429.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/gland4km
cp $JARVIS_DOWNLOAD/map_gland4km_to_gx1v6_nn_open_ocean_nnsm_e1000r300_marginal_sea_171105.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/gland4km
cp $JARVIS_DOWNLOAD/map_gland4km_to_gx1v6_nnsm_e1000r300_171105.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/gland4km
cp $JARVIS_DOWNLOAD/map_gx1v6_TO_fv1.9x2.5_aave.130322.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/gx1v6
cp $JARVIS_DOWNLOAD/map_gx1v6_TO_ww3a_splice_150428.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/gx1v6
cp $JARVIS_DOWNLOAD/map_r05_to_gx1v6_nn_open_ocean_nnsm_e1000r300_marginal_sea_170503.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/r05
cp $JARVIS_DOWNLOAD/map_r05_to_gx1v6_nnsm_e1000r300_170503.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/r05
cp $JARVIS_DOWNLOAD/map_ww3a_TO_gx1v6_splice_150428.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/cpl/gridmaps/ww3a
cp $JARVIS_DOWNLOAD/map_0.5x0.5_nomask_to_1.9x2.5_nomask_aave_da_c120709.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/lnd/clm2/mappingdata/maps/1.9x2.5
cp $JARVIS_DOWNLOAD/map_1.9x2.5_nomask_to_0.5x0.5_nomask_aave_da_c120522.nc $JARVIS_ROOT/workloads/CESM/2.1.3/cesm/inputdata/lnd/clm2/mappingdata/maps/1.9x2.5

sed -i '2s|41|60|' Externals.cfg
./manage_externals/checkout_externals
./manage_externals/checkout_externals -S
#修改cime/config/cesm/machines/config_machines.xml
#sed -i "299{s|centos7-linux|$(hostname)|}" cime/config/cesm/machines/config_machines.xml
sed -i "304{s|^\([[:space:]]*\)<NODENAME_REGEX>.*|\1<NODENAME_REGEX>$(hostname)</NODENAME_REGEX>|}"  cime/config/cesm/machines/config_machines.xml
sed -i '308{s|^\([[:space:]]*\)<MPILIBS>.*|\1<MPILIBS>openmpi</MPILIBS>|}' cime/config/cesm/machines/config_machines.xml
CESMCase=$JARVIS_ROOT/workloads/CESM/2.1.3
sed -i "311,316{s|\$ENV{HOME}|$CESMCase|g}" cime/config/cesm/machines/config_machines.xml
sed -i "321,322{s|8|$(nproc)|}" cime/config/cesm/machines/config_machines.xml
sed -i '325{s|mpiexec|mpirun|}' cime/config/cesm/machines/config_machines.xml
sed -i '327{s|^\([[:space:]]*\)<arg name="ntasks">.*<\/arg>|\1<arg name="ntasks">--allow-run-as-root --mca btl ^openib  -np {{ total_tasks }} </arg>|}' cime/config/cesm/machines/config_machines.xml
bisheng=$JARVIS_ROOT/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/bisheng/compiler${BISHENG_VERSION}/bishengmodule
hmpi=$JARVIS_ROOT/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/bisheng/hmpi${HMPI_VERSION}/release
sed -i "343{s|^\([[:space:]]*\)<command name=\"load\">.*|\1<command name=\"load\">$bisheng</command>|}" cime/config/cesm/machines/config_machines.xml
sed -i "344{s|^\([[:space:]]*\)<command name=\"load\">.*|\1<command name=\"load\">$hmpi</command>|}" cime/config/cesm/machines/config_machines.xml
sed -i "345c\ " cime/config/cesm/machines/config_machines.xml
indent=$(sed -n '349s|^\([[:space:]]*\)<.*|\1|p' cime/config/cesm/machines/config_machines.xml)
MPI_DIR=`dirname $(dirname $(which mpirun))`
sed -i "348a\\
${indent}<env name=\"LD_LIBRARY_PATH\">${LD_LIBRARY_PATH}</env>\\
${indent}<env name=\"NETCDF_PATH\">${NETCDF_CLANG_PATH}</env>\\
${indent}<env name=\"NETCDF_FORTRAN_PATH\">${NETCDF_CLANG_PATH}</env>\\
${indent}<env name=\"NETCDF_C_PATH\">${NETCDF_CLANG_PATH}</env>\\
${indent}<env name=\"MPI_PATH\">$MPI_DIR</env>" cime/config/cesm/machines/config_machines.xml

#修改 cime/config/cesm/machines/config_compilers.xml

sed -i '109{s|^\([[:space:]]*\)<base>.*|\1<base> -O3 -mcpu=tsv110 -Hx,54,0x08 </base>|}' cime/config/cesm/machines/config_compilers.xml

sed -i "125{s|^\([[:space:]]*\)<base>.*|\1<base> -fconvert=big-endian -O3 -mcpu=tsv110 -Hx,54,0x08 -I${NETCDF_CLANG_PATH}/include -I${HDF5_CLANG_PATH}/include -I${PNETCDF_PATH}/include -I${OPENBLAS_PATH}/include</base>|}" cime/config/cesm/machines/config_compilers.xml

sed -i "146{s|^\([[:space:]]*\)<append compile_threaded=\"true\">.*|\1<append compile_threaded=\"true\"> -fopenmp -L${NETCDF_PATH}/lib -L${HDF5_CLANG_PATH}/lib -L${PNETCDF_PATH}/lib -L${OPENBLAS_PATH}/lib -lopenblas -lnetcdff -lnetcdf -lpnetcdf -lhdf5_hl -lhdf5 -lm -lz</append>|}" cime/config/cesm/machines/config_compilers.xml

sed -i "148{s|mpicc|$(which mpicc)|}" cime/config/cesm/machines/config_compilers.xml
sed -i "149{s|mpicxx|$(which mpicxx)|}" cime/config/cesm/machines/config_compilers.xml
sed -i "150{s|mpif90|$(which mpifort)|}" cime/config/cesm/machines/config_compilers.xml
sed -i "151{s|gcc|$(which clang)|}" cime/config/cesm/machines/config_compilers.xml
sed -i "152{s|g++|$(which clang++)|}" cime/config/cesm/machines/config_compilers.xml
sed -i "153{s|gfortran|$(which flang)|}" cime/config/cesm/machines/config_compilers.xml

indent2=$(sed -n '154s|^\([[:space:]]*\)<.*|\1|p' cime/config/cesm/machines/config_compilers.xml)
sed -i "154a\\
${indent2}<SLIBS>\\
${indent2}<append>-L${NETCDF_CLANG_PATH}/lib -L${HDF5_CLANG_PATH}/lib -L${PNETCDF_PATH}/lib -L${OPENBLAS_PATH}/lib -lopenblas -lnetcdff -lnetcdf -lpnetcdf -lhdf5_hl -lhdf5 -lm -lz </append>\\
${indent2}</SLIBS>" cime/config/cesm/machines/config_compilers.xml

#修改 cime/src/share/util/shr_infnan_mod.F90.in

sed -i '227{s|isnan(x)|is_nan|}' cime/src/share/util/shr_infnan_mod.F90.in
sed -i '70{s|!||}' cime/src/share/util/shr_sys_mod.F90
sed -i '115{s|!defined CPRGNU|defined CPRGNU|}' cime/src/share/util/shr_sys_mod.F90

cd $JARVIS_ROOT/tmp/CESM-release-cesm2.1.3/cime/scripts
 ./create_newcase --case $case_name --compset X --res f19_g16 --mach  centos7-linux
cd ${case_name}
./xmlchange EXTERNAL_WORKFLOW=TRUE
./case.setup
./case.build


[CLEAN]
cd $JARVIS_ROOT/tmp/CESM-release-cesm2.1.3/cime/scripts/$case_name
#如果修改env_build.xml
#./case.build --clean
#如果修改config_machines/config_compilers
./case.build --clean-all

[RUN]
run = ./case.submit
binary =
nodes = 1

[BATCH]
