[SERVER]
11.11.11.11

[DOWNLOAD]
CESM/2.1.3 $JARVIS_PROXY/ESCOMP/CESM/archive/refs/tags/release-cesm2.1.3.tar.gz

[DEPENDENCY]
set -x
set -e
. $CHECK_ROOT && yum install -y perl-XML-LibXML
./jarvis -install bisheng/2.5.0 com
module purge
module use ./software/modulefiles
module load bisheng/2.5.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install openblas/0.3.18 clang
#./jarvis -install kml/1.7.0/bisheng clang
./jarvis -install hmpi/1.2.0 bisheng
module load hmpi/1.2.0
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1/clang clang+mpi
module load hdf5-clang/1.10.1
./jarvis -install pnetcdf/1.11.2 clang+mpi
module load pnetcdf/1.11.2
if [ $HDF5_CLANG_PATH ];then
    echo $HDF5_CLANG_PATH
else
    echo "HDF5 is not exists"
    exit 1
fi
./jarvis -install netcdf/4.7.4/clang clang+mpi

if [ ! -d "CESM-release-cesm2.1.3" ]; then
    tar -xzvf $JARVIS_DOWNLOAD/release-cesm2.1.3.tar.gz
fi

[ENV]
module purge
module use /hpcrunner/software/modulefiles
module load bisheng/2.5.0
module load hmpi/1.2.0
module load hdf5-clang/1.10.1
module load pnetcdf/1.11.2
module load netcdf-clang/4.7.4
module load openblas/0.3.18
#module load kml-bisheng/1.7.0
#export LD_LIBRARY_PATH=$KML_BISHENG_PATH/lib/kblas/omp:$LD_LIBRARY_PATH
export NETCDF_PATH=${NETCDF_CLANG_PATH}
export CESM_PATH=$JARVIS_ROOT/CESM-release-cesm2.1.3
export CIMEROOT=$CESM_PATH/cime
export PYTHONPATH=$CIMEROOT/scripts/lib:$CIMEROOT/scripts/Tools:$PYTHONPATH
#ln -sf /usr/bin/python3 /usr/bin/python
export case_name=test2

[APP]
app_name = CESM
build_dir = $CESM_PATH
binary_dir = 
case_dir = $CESM_PATH/cime/scripts/$case_name

[BUILD]
set -e
set -x
#./manage_externals/checkout_externals
#./manage_externals/checkout_externals -S
cd cime/scripts
#rm -rf $case_name
if [ ! -d $case_name ]; then
    ./create_newcase --case $case_name --compset F2000climo --res f09_f09_mg17 --mach openeuler --compiler gnu
fi
cd $case_name
./xmlchange NTASKS=32,NTHRDS=1,ROOTPE=0
./case.setup
#./check_case
#不加download表示查看所有缺失文件
#./check_input_data --download
./xmlchange STOP_OPTION=nhours,STOP_N=1
./xmlchange DOUT_S=FALSE
#./xmlchange NTASKS_ATM=208,NTASKS_CPL=208,NTASKS_OCN=208,NTASKS_WAV=208,NTASKS_GLC=208,NTASKS_ICE=208,NTASKS_ROF=208,NTASKS_LND=208,NTASKS_ESP=1
#./case.setup --reset
./case.build --skip-provenance-check

[CLEAN]
cd cime/scripts/$case_name
#如果修改env_build.xml
#./case.build --clean
#如果修改config_machines/config_compilers
./case.build --clean-all

[RUN]
#run = rm -rf cesm_* && chmod +x run.sh && dsub -s run.sh
run = ./case.submit
binary =
nodes = 1

[BATCH]
#! /bin/bash
