[SERVER]
11.11.11.11

[DOWNLOAD]
CESM/2.1.3 https://github.com/ESCOMP/CESM/archive/refs/tags/release-cesm2.1.3.tar.gz

[DEPENDENCY]
set -x
set -e
#yum install perl-XML-LibXML
./jarvis -install kgcc/9.3.1 com
./jarvis -install bisheng/2.5.0 com
module purge
module use ./software/modulefiles
module load kgcc/9.3.1
./jarvis -install kml/1.6.0/gcc gcc
module load bisheng/2.5.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/1.2.0 bisheng
module load hmpi/1.2.0
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.12.0/clang clang+mpi
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load pnetcdf/1.12.1
if [ $HDF5_CLANG_PATH ];then
    echo $HDF5_CLANG_PATH
else
    echo "HDF5 is not exists"
    exit 1
fi
./jarvis -install netcdf/4.8.1/clang clang+mpi
#tar -xzvf $JARVIS_DOWNLOAD/release-cesm2.1.3.tar.gz

[ENV]
module purge
module use software/modulefiles
module use software/moduledeps
module load bisheng/2.5.0
module load hmpi/1.2.0
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.1
module load netcdf-clang/4.8.1
module load kgcc/9.3.1
module load kml-gcc/1.6.0
export NETCDF_PATH=${NETCDF_CLANG_PATH}
export case_name=fangesm14
export LD_LIBRARY_PATH=$KML_GCC_PATH/lib/kblas/omp:$LD_LIBRARY_PATH

[APP]
app_name = CESM
build_dir = $JARVIS_ROOT/CESM-release-cesm2.1.3
binary_dir =
case_dir = $JARVIS_ROOT/CESM-release-cesm2.1.3/cime/scripts

[BUILD]
set -e
set -x
#./manage_externals/checkout_externals
#./manage_externals/checkout_externals -S
cd cime/scripts

#rm -rf $case_name
./create_newcase --case $case_name --compset F2000climo --res f09_f09_mg17 --mach openeuler --compiler gnu
cd $case_name
./xmlchange NTASKS=128,NTHRDS=1,ROOTPE=0
./case.setup
#./check_case
#不加download表示查看所有缺失文件
#./check_input_data --download
#./xmlchange STOP_OPTION=nhours,STOP_N=1
#./xmlchange DOUT_S=FALSE
#./xmlchange NTASKS_ATM=208,NTASKS_CPL=208,NTASKS_OCN=208,NTASKS_WAV=208,NTASKS_GLC=208,NTASKS_ICE=208,NTASKS_ROF=208,NTASKS_LND=208,NTASKS_ESP=1
#./case.setup --reset
./case.build

[CLEAN]
cd cime/scripts/$case_name
#如果修改env_build.xml
#./case.build --clean
#如果修改config_machines/config_compilers
./case.build --clean-all

[RUN]
run = rm -rf cesm_* && chmod +x run.sh && dsub -s run.sh
#run = cd $case_name && ./case.submit
binary =
nodes = 1

[BATCH]
#! /bin/bash
