[SERVER]
11.11.11.11

[DOWNLOAD]
cp2k/7.1.0 $JARVIS_PROXY/cp2k/cp2k/archive/v7.1.0.tar.gz cp2k-7.1.0.tar.gz
dbcsr/2.0.1 $JARVIS_PROXY/cp2k/dbcsr/releases/download/v2.0.1/dbcsr-2.0.1.tar.gz

[DEPENDENCY]
set -x
set -e
./jarvis -install hpckit/2025.0.0 any
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi

export CC=clang CXX=clang++ FC=flang
./jarvis -install gmp/6.2.0 bisheng
./jarvis -install boost/1.72.0/clang bisheng 
./jarvis -install openblas/0.3.18/clang bisheng
./jarvis -install spglib/1.16.0 bisheng
./jarvis -install libxc/4.3.4 bisheng
./jarvis -install gsl/2.6 bisheng
./jarvis -install libvori/21.04.12 bisheng
./jarvis -install lapack/3.8.0/clang bisheng

module load openblas-clang/0.3.18-bisheng4.2.0
module load gsl/2.6-bisheng4.2.0
module load spglib/1.16.0-bisheng4.2.0
module load libxc/4.3.4-bisheng4.2.0
module load boost-clang/1.72.0-bisheng4.2.0 
module load libvori/21.04.12-bisheng4.2.0
module load lapack-clang/3.8.0-bisheng4.2.0 
module load gmp/6.2.0-bisheng4.2.0

export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install libint/2.6.0 bisheng+mpi
./jarvis -install fftw/3.3.8 bisheng+mpi
./jarvis -install scalapack/2.1.0/clang bisheng+mpi
./jarvis -install plumed/2.6.2 clang+mpi
module load scalapack-clang/2.1.0-bisheng4.2.0-hmpi25.0.0-lapack3.8.0
./jarvis -install elpa/2019.05.001 bisheng+mpi



[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
module load openblas-clang/0.3.18-bisheng4.2.0
module load gsl/2.6-bisheng4.2.0
module load spglib/1.16.0-bisheng4.2.0
module load libxc/4.3.4-bisheng4.2.0
module load boost-clang/1.72.0-bisheng4.2.0 
module load libvori/21.04.12-bisheng4.2.0
module load lapack-clang/3.8.0-bisheng4.2.0 
module load gmp/6.2.0-bisheng4.2.0
module load libint/2.6.0-bisheng4.2.0-hmpi25.0.0
module load fftw/3.3.8-bisheng4.2.0-hmpi25.0.0
module load scalapack-clang/2.1.0-bisheng4.2.0-hmpi25.0.0-lapack3.8.0
module load plumed/2.6.2-bisheng4.2.0-hmpi25.0.0
module load elpa/2019.05.001-bisheng4.2.0-hmpi25.0.0

[APP]
app_name = cp2k
app_version = 7.1.0
build_dir = ${JARVIS_DEV}/cp2k/7.1.0-bisheng4.2.0-hmpi25.0.0
binary_dir = ${JARVIS_DEV}/cp2k/7.1.0-bisheng4.2.0-hmpi25.0.0
case_dir = ${JARVIS_DEV}/cp2k/7.1.0/7.1/benchmarks/QS/
compiler = bisheng+mpi


[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"
export BUILD_TYPE=Linux-arm-clang

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

build_mod_check "${BUILD_DIR}/cp2k-7.1.0/exe/$BUILD_TYPE/cp2k.psmp" "prompt"
####### build start
set +x && echo_info "build start" && set -x
if true; then
rm -rf cp2k-7.1.0
if [ ! -d cp2k-7.1.0 ]; then
tar -zxvf $JARVIS_DOWNLOAD/cp2k-7.1.0.tar.gz
fi

if [ ! -f ./cp2k-7.1.0/exts/dbcsr/CMakeLists.txt ]; then
tar -zxvf $JARVIS_DOWNLOAD/dbcsr-2.0.1.tar.gz -C ./cp2k-7.1.0/exts/dbcsr --strip-components=1
fi

cd ./cp2k-7.1.0/arch
cp ${JARVIS_ROOT}/dataconfig_patches/cp2k-7.1/${BUILD_TYPE}.psmp ./

sed -i "9s%path1%${HMPI_PATH}%g" $BUILD_TYPE.psmp
sed -i "10s%path2%${BISHENG_PATH}%g" $BUILD_TYPE.psmp
cd ..

make -j 128 ARCH=Linux-arm-clang VERSION=psmp 
mkdir -p ${PATH_INSTALL}/bin
cp -rf ${BUILD_DIR}/cp2k-7.1.0/exe/$BUILD_TYPE/* ${PATH_INSTALL}/bin
fi
 
####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x

JOBDIR=${JARVIS_JOBSCRIPT}/cp2k/7.1.0
mkdir -p ${JOBDIR}

${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load cp2k/7.1.0-bisheng4.2.0-hmpi25.0.0" >> ${JOBDIR}/env.sh
cp ${BUILD_DIR}/cp2k-7.1.0/benchmarks ${JOBDIR}/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_cp2k
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 128
#DSUB -R "cpu=128"
#DSUB -o cp2k_out_%J.log
#DSUB -e cp2k_err_%J.log
#DSUB -T '2h'

export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited
cd benchmarks/QS
{ time  mpirun \$CCS_MPI_OPTIONS -np 128 -x OMP_NUM_THREADS=1 cp2k.psmp H2O-256.inp  ; } 2>&1 | tee tee_cp2k.xlog
EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

ulimit -s unlimited
cd benchmarks/QS
{ time  mpirun -np 128 -map-by socket --rank-by core  --bind-to core  --mca btl ^vader,tcp,openib,uct --mca io romio321 --mca pml ucx -x UCX_TLS=sm,self -x PATH -x LD_LIBRARY_PATH -x OMP_NUM_THREADS=1 cp2k.psmp H2O-256.inp  ; } 2>&1 | tee tee_cp2k.xlog
EOF

cat > ${JOBDIR}/cp2k-7.1.0-run.sh << EOF
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/cp2k-7.1.0-run.sh

set +x && echo_info "Install done!!!" && set -x

[CLEAN]
make -j 128 ARCH=Linux-arm-clang VERSION=psmp clean

[RUN]
run = numactl -C 0-63  mpirun --allow-run-as-root -np 64 -x OMP_NUM_THREADS=1
binary = cp2k.psmp H2O-256.inp
nodes = 1
