[SERVER]
11.11.11.11

[DOWNLOAD]
gatk/4.0.0.0 https://github.com/broadinstitute/gatk/releases/download/4.0.0.0/gatk-4.0.0.0.zip gatk-4.0.0.0.zip
case1 http://ftp.sra.ebi.ac.uk/vol1/fastq/SRR742/SRR742200/SRR742200_1.fastq.gz
case2 http://ftp.sra.ebi.ac.uk/vol1/fastq/SRR742/SRR742200/SRR742200_2.fastq.gz
case3 http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/human_g1k_v37.fasta.gz
case4 http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/dbsnp132_20101103.vcf.gz

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
./jarvis -install bishengjdk/1.8.0_452-b12 any
module load bishengjdk/1.8.0_452-b12

echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load samtools/1.10-bisheng4.2.0
module load bishengjdk/1.8.0_452-b12
module load bwa/0.7.17-bisheng4.2.0

[APP]
fake = 0
app_name = gatk
app_version = 4.0.0.0
compiler = bisheng
build_dir = ${JARVIS_APP}/gatk/4.0.0.0-bisheng4.2.0/project
binary_dir = ${JARVIS_APP}/gatk/4.0.0.0-bisheng4.2.0
case_dir = ${JARVIS_JOBSCRIPT}/gatk/4.0.0.0

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

set +x && check_install_path "${PATH_INSTALL}" && set -x
set +x && build_mod_check "${PATH_INSTALL}/bin/gatk" "prompt" && set -x
set +x && rm_file_from_base ${PATH_INSTALL}/bin gatk  && set -x
####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

install_path=$1

rm -rf gatk-4.0.0.0
unzip ${JARVIS_DOWNLOAD}/gatk-4.0.0.0.zip
cd gatk-4.0.0.0
tar --no-same-owner -xf $JARVIS_DOWNLOAD/GKL.tar.gz
jar uvf gatk-package-4.0.0.0-local.jar ./com/intel/gkl
jar uvf gatk-package-4.0.0.0-spark.jar ./com/intel/gkl


set +x && rm_file_from_base ${PATH_INSTALL}/bin com gatk-completion.sh gatk-package-4.0.0.0-local.jar gatkPythonPackageArchive.zip gatk gatkcondaenv.yml gatk-package-4.0.0.0-spark.jar && set -x
mkdir -p ${PATH_INSTALL}/bin

cp ./com ${PATH_INSTALL}/bin/ -ar
cp ./gatk-completion.sh ${PATH_INSTALL}/bin/ -ar
cp ./gatk-package-4.0.0.0-local.jar ${PATH_INSTALL}/bin/ -ar
cp ./gatkPythonPackageArchive.zip ${PATH_INSTALL}/bin/ -ar
cp ./gatk ${PATH_INSTALL}/bin/ -ar
cp ./gatkcondaenv.yml ${PATH_INSTALL}/bin/ -ar
cp ./gatk-package-4.0.0.0-spark.jar ${PATH_INSTALL}/bin/ -ar

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/gatk/4.0.0.0
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load gatk/4.0.0.0-bisheng4.2.0" >> ${JOBDIR}/env.sh

[ ! -f ${JOBDIR}/SRR742200_1.fastq.gz ] && cp $JARVIS_DOWNLOAD/SRR742200_1.fastq.gz ${JOBDIR}/ -ar
[ ! -f ${JOBDIR}/SRR742200_2.fastq.gz ] && cp $JARVIS_DOWNLOAD/SRR742200_2.fastq.gz  ${JOBDIR}/ -ar
[ ! -f ${JOBDIR}/human_g1k_v37.fasta.gz ] && cp $JARVIS_DOWNLOAD/human_g1k_v37.fasta.gz  ${JOBDIR}/ -ar
[ ! -f ${JOBDIR}/dbsnp132_20101103.vcf.gz ] && cp $JARVIS_DOWNLOAD/dbsnp132_20101103.vcf.gz  ${JOBDIR}/ -ar


cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_bma
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'
source env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source env.sh

rm -rf gatk-performance.log *.dict *.fai *.amb *.ann *.pac *.sam

# 执行每个命令并统计性能
# 1
echo "bwa index"
time -p bwa index -a bwtsw human_g1k_v37.fasta
# 2
echo "BWA MEM"
gatk CreateSequenceDictionary -R human_g1k_v37.fasta -O human_g1k_v37.dict
bwa mem -M -t 64 human_g1k_v37.fasta SRR742200_1.fastq SRR742200_2.fastq > SRR7.sam
# 3
echo "ReorderSam"
gatk ReorderSam -I SRR7.sam -O SRR7_reorder.bam -R human_g1k_v37.fasta
# 4
echo "SortSam"
gatk SortSam -I SRR7_reorder.bam -O SRR7_sorted.bam --SORT_ORDER coordinate
# 5
echo "AddOrReplaceReadGroups"
gatk AddOrReplaceReadGroups -I SRR7_sorted.bam -O SRR7_addhead.bam -LB lib1 -PL illumina -PU unit1 -SM 20
# 6
echo "MarkDuplicates"
gatk MarkDuplicates -I SRR7_addhead.bam -M test.metric -O SRR7_markdup.bam
# 7
echo "Samtools faidx"
samtools faidx human_g1k_v37.fasta > human_g1k_v37.fai
# 8
echo "ApplyBQSR"
gatk IndexFeatureFile -F dbsnp132_20101103.vcf
gatk BaseRecalibrator -I SRR7_markdup.bam --known-sites dbsnp132_20101103.vcf -O SRR7_bqsr.bam -R human_g1k_v37.fasta
gatk ApplyBQSR -bqsr SRR7_bqsr.bam -I SRR7_markdup.bam -O SRR7_aybqsr.bam
# 9
echo "HaplotypeCaller"
gatk HaplotypeCaller -I SRR7_aybqsr.bam -O SRR7_raw.vcf -R human_g1k_v37.fasta

EOF


cat > ${JOBDIR}/gatk-4.0.0-run.sh << EOF
source env.sh
if [ ! -f "human_g1k_v37.fasta" ]; then
gzip -dck ./SRR742200_1.fastq.gz > SRR742200_1.fastq
gzip -dck ./SRR742200_2.fastq.gz > SRR742200_2.fastq
gzip -dck ./human_g1k_v37.fasta.gz > human_g1k_v37.fasta
gzip -dck ./dbsnp132_20101103.vcf.gz > dbsnp132_20101103.vcf
fi

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/gatk-4.0.0-run.sh

set +x && echo_info "Install done!!!" && set -

[RUN]
