[SERVER]
11.11.11.11

[DOWNLOAD]
macs/3.0.2 https://github.com/macs3-project/MACS/archive/refs/tags/v3.0.2.tar.gz MACS-3.0.2.tar.gz
simde/0.7.0 https://github.com/simd-everywhere/simde-no-tests/archive/refs/tags/v0.7.0.tar.gz simde-no-tests-0.7.0.tar.gz

[DEPENDENCY]
set -e
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule

./jarvis -install anaconda3/2024.10 any
module load anaconda3/2024.10

./jarvis -install openblas/0.3.18 gcc
module load openblas/0.3.18-%#MYKGCCVER#%
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load anaconda3/2024.10
module load openblas/0.3.18-%#MYKGCCVER#%

[APP]
fake = 1
app_name = macs
app_version = 3.0.2
compiler = gcc
build_dir = ${JARVIS_APP}/macs/3.0.2-%#MYKGCCVER#%/project
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/macs/3.0.2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

set +x && build_mod_check "${BUILD_DIR}/MACS-3.0.2/dist/MACS3-3.0.2-cp39-cp39-linux_aarch64.whl" "prompt" && set -x
rm -f ${BUILD_DIR}/MACS-3.0.2/dist/MACS3-3.0.2-cp39-cp39-linux_aarch64.whl
set +x
source $CONDA_SH
set -x

MACS_ENV=${BUILD_DIR}/conda_env/macs
conda create  --prefix=${MACS_ENV} python=3.9
conda activate ${MACS_ENV}

pip install numpy==1.25.0  hmmlearn==0.3.2 scikit-learn==1.3 scipy==1.12 Cython==3.0 cykhash==2.0.1 pytest \
--trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/MACS-3.0.2.tar.gz
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/simde-no-tests-0.7.0.tar.gz -C ./MACS-3.0.2/MACS3/fermi-lite/lib --strip-components=1
cd MACS-3.0.2

if [ -d "build" ]; then
rm -rf build
fi

python setup.py bdist_wheel

pip uninstall MACS3

pip install dist/*.whl

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/macs/3.0.2
mkdir -p ${JOBDIR}

cat > ${JOBDIR}/macs-3.0.2-run.sh << EOF
#!/bin/bash
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load anaconda3/2024.10
module load openblas/0.3.18-%#MYKGCCVER#%

source $CONDA_SH
conda activate ${MACS_ENV}

cd ${BUILD_DIR}/MACS-3.0.2

if [ -d "temp" ]; then
rm -rf temp
fi
cd test
TAG=\$(date +%Y%m%d%H%m%S)
export OMP_NUM_THREADS=128
time ./cmdlinetest-nohmmratac \$TAG
EOF

chmod u+x ${JOBDIR}/macs-3.0.2-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
