[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
./jarvis -install bisheng/2.5.0 com
module purge
module use ./software/modulefiles
module load bisheng/2.5.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/1.2.0 clang
module load hmpi/1.2.0
#test if mpi is normal
./jarvis -bench mpi
./jarvis -install osu/1.0.0 clang+mpi
mkdir -p osu

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/2.5.0
module load hmpi/1.2.0
module load osu/1.0.0

[APP]
app_name = OSU
build_dir = ${OSU_PATH}/
binary_dir = ${OSU_PATH}/libexec/osu-micro-benchmarks/mpi/collective
case_dir = ./osu

[BUILD]

[CLEAN]
make clean

[RUN]
run = mpirun  -np 8
binary = osu_alltoallv
nodes = 1

[JOB]
#!/bin/sh
#DSUB -n osu_batch
#DSUB --job_type cosched:hmpi
#DSUB -A root.default
#DSUB -q root.default
#DSUB -N 12
#DSUB -R cpu=128
#DSUB -oo osu.%J.out
#DSUB -eo osu.%J.err

##set runtime environment variables

ulimit -s unlimited
ulimit -c unlimited
echo "========HOST FILE======"
cat $CCS_HOST_FILE
echo "========HOST FILE======"
date
> result.txt
for i in {1..8}
do
    echo "ALLREDUCE Algorithm: $i"
    mpirun -N 1 -x UCX_BUILTIN_ALLREDUCE_ALGORITHM=$i $CCS_MPI_OPTIONS $OSU_PATH/libexec/osu-micro-benchmarks/mpi/collective/osu_allreduce >> result.txt
done
date

[JOB2]
#!/bin/sh
#DSUB -n osu_single
#DSUB --job_type cosched:hmpi
#DSUB -A root.default
#DSUB -q root.default
#DSUB -N 12
#DSUB -R cpu=128
#DSUB -oo osu.%J.out
#DSUB -eo osu.%J.err

mpirun -np 12 $CCS_MPI_OPTIONS $OSU_PATH/libexec/osu-micro-benchmarks/mpi/collective/osu_allreduce