[SERVER]
11.11.11.11

[DOWNLOAD]
wrf/4.3.3 $JARVIS_PROXY/wrf-model/WRF/archive/refs/tags/v4.3.3.tar.gz wrf-4.3.3.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
module use ./software/modulefiles
./jarvis -install bisheng/3.2.0 com
module load bisheng/3.2.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install jasper/1.900.2 clang
module load jasper/1.900.2
./jarvis -install hmpi/2.3.0 clang
module load hmpi/2.3.0
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install hdf5/1.12.0/clang clang+mpi
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load pnetcdf/1.12.1
./jarvis -install netcdf/4.8.1/clang clang+mpi
module load netcdf-clang/4.8.1
./jarvis -install kml/2.4.0/bisheng clang
tar -zxvf $JARVIS_DOWNLOAD/wrf-4.3.3.tar.gz

[ENV]
#!/bin/bash
module purge
module use ./software/modulefiles
module load bisheng/3.2.0
module load jasper/1.900.2
module load hmpi/2.3.0
module load hdf5-clang/1.12.0 netcdf-clang/4.8.1 pnetcdf/1.12.1
module load kml-bisheng/2.4.0
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
export NETCDF=$NETCDF_CLANG_PATH
export HDF5=$HDF5_CLANG_PATH
export PHDF5=$HDF5
export PNETCDF=$PNETCDF_PATH
export JASPER=$JASPER_PATH
export JASPERLIB=$JASPER_PATH/lib
export JASPREINC=$$JASPER_PATH/include
export CPPFLAGS="-I$HDF5/include -I$PNETCDF/include -I$NETCDF/include"
export LDFLAGS="-L$HDF5/lib -L$PNETCDF/lib -L$NETCDF/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90 F90=mpif90
export WRF_DIR=$JARVIS_ROOT/WRF-4.3.3
export MPI_LIB="-L$MPI_LIB -lmpi -lomp"
export INCLUDE=$WRF_DIR/include:$INCLUDE
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
#移动run/目录下的初始场数据

[APP]
app_name = WRF
build_dir = ${WRF_DIR}
binary_dir =
case_dir = ${JARVIS_ROOT}/workloads/test_wrf

[BUILD]
cat << \EOF > ./arch/configure.defaults
###########################################################
#ARCH   Linux   aarch64,clang HYPERMPI#serial smpar dmpar dm+sm
DESCRIPTION     =       CLANG ($SFC/$SCC)
DMPARALLEL      =       1
OMPCPP          =       -D_OPENMP
OMP             =       -fopenmp
OMPCC           =       -fopenmp
SFC             =       flang
SCC             =       clang
CCOMP           =       clang
DM_FC           =       mpif90 -f90=$(SFC)
DM_CC           =       mpicc -cc=$(SCC) -DMPI2_SUPPORT
FC              =       CONFIGURE_FC
CC              =       CONFIGURE_CC
LD              =       $(FC) -L$(KML_BISHENG_PATH)/lib -lkm
RWORDSIZE       =       CONFIGURE_RWORDSIZE
PROMOTION       =       #-fdefault-real-8
ARCH_LOCAL      =       -DNONSTANDARD_SYSTEM_SUBR  -DWRF_USE_CLM
CFLAGS_LOCAL    =      -mcpu=native -w -O3 -c -march=armv8.2-a
LDFLAGS_LOCAL   =
CPLUSPLUSLIB    =
ESMF_LDFLAG     =      $(CPLUSPLUSLIB)
FCOPTIM         =       -O3 -march=armv8.2-a
FCREDUCEDOPT    =       $(FCOPTIM)
FCNOOPT         =       -O0
FCDEBUG         =      -g # -fbacktrace -ggdb-fcheck=bounds,do,mem,pointer -ffpe-trap=invalid,zero,overflow
FORMAT_FIXED    =       -ffixed-form
FORMAT_FREE     =       -ffree-form -ffree-line-length-0
FCSUFFIX        =
BYTESWAPIO      =       -fconvert=big-endian
FCBASEOPTS_NO_G =       -w $(FORMAT_FREE) $(BYTESWAPIO)
FCBASEOPTS      =       -mcpu=native $(OMP) $(FCBASEOPTS_NO_G)
MODULE_SRCH_FLAG =
TRADFLAG        =      -traditional
CPP             =      /lib/cpp -P
AR              =      ar
ARFLAGS         =      ru
M4              =      m4 -G
RANLIB          =      ranlib
RLFLAGS         =
CC_TOOLS        =      $(SCC)

#insert new stanza before the Fujitsu block, keep Fujitsu at the end of the list
###########################################################
#ARCH  NULL
#insert new stanza before the Fujitsu block, keep Fujitsu at the end of the list
###########################################################
#ARCH  NULL
EOF
echo 4 | ./configure
./compile -j 16 em_real 2>&1 | tee compile.log

[CLEAN]
./clean

[RUN]
run = dsub -s run.sh
binary =
nodes = 1
