[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}/release
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hypre/2.25.0 bisheng+mpi
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hypre/2.25.0
./jarvis -install metis/4.0.3 bisheng+mpi
ln -sf ${JARVIS_TMP}/hypre-2.25.0 ${JARVIS_TMP}/hypre
ln -sf ${JARVIS_TMP}/metis-4.0.3 ${JARVIS_TMP}/metis-4.0

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}/release
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hypre/2.25.0
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = mfem
build_dir = cd ${JARVIS_ROOT}
binary_dir =
case_dir = ${JARVIS_TMP}/mfem-4.4

[BUILD]
./jarvis -install mfem/4.4 bisheng+mpi
# clang not support this option
sed -i "s/-march=native/''/g" ${JARVIS_TMP}/mfem-4.4/miniapps/performance/makefile

[RUN]
run = make test OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
binary =
nodes = 1


