[SERVER]
11.11.11.11

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hypre/2.25.0 bisheng+mpi
./jarvis -install metis/4.0.3 bisheng+mpi
ln -sf ${JARVIS_ROOT}/tmp/hypre-2.25.0 ${JARVIS_ROOT}/tmp/hypre
ln -sf ${JARVIS_ROOT}/tmp/metis-4.0.3 ${JARVIS_ROOT}/tmp/metis-4.0
ln -sf ${JARVIS_ROOT}/tmp/hypre-2.25.0 ${JARVIS_ROOT}/tmp/hypre

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
module load openmpi4/4.1.2
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = mfem
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir =

[BUILD]
./jarvis -install mfem/4.4 gcc

[RUN]
run = cd ${JARVIS_ROOT}/tmp/mfem-4.4 && make test OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
binary =
nodes = 1