[SERVER]
11.11.11.11

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hypre/2.25.0 bisheng+mpi
./jarvis -install metis/4.0.3 bisheng+mpi
ln -sf ${JARVIS_TMP}/hypre-2.25.0 ${JARVIS_TMP}/hypre
ln -sf ${JARVIS_TMP}/metis-4.0.3 ${JARVIS_TMP}/metis-4.0

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
module load hmpi1/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = mfem
build_dir = ${JARVIS_TMP}/mfem-4.4
binary_dir =
case_dir = ${JARVIS_TMP}/mfem-4.4

[BUILD]
cd ${JARVIS_ROOT} && ./jarvis -install mfem/4.4 bisheng+mpi
# clang not suport this option
sed -i "s/-march=native/''/g" ${JARVIS_TMP}/mfem-4.4/miniapps/performance/makefile

[RUN]
run = make test OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
binary =
nodes = 1