[SERVER]
11.11.11.11

[DEPENDENCY]
set -e
set -x
./jarvis -install gcc/9.3.0 com
module purge
module use ./software/modulefiles
module load gcc9/9.3.0
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install hmpi/1.1.1 gcc
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hypre/2.25.0 gcc+mpi
./jarvis -install metis/4.0.3 gcc+mpi
ln -sf ${JARVIS_TMP}/hypre-2.25.0 ${JARVIS_TMP}/hypre
ln -sf ${JARVIS_TMP}/metis-4.0.3 ${JARVIS_TMP}/metis-4.0

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load gcc9/9.3.0
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = mfem
build_dir = ${JARVIS_TMP}/mfem-4.4
binary_dir =
case_dir = ${JARVIS_TMP}/mfem-4.4

[BUILD]
cd ${JARVIS_ROOT} && ./jarvis -install mfem/4.4 gcc+mpi

[RUN]
run = make test OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
binary =
nodes = 1
