[SERVER]
11.11.11.11

[DOWNLOAD]
blastz/2004-12-27 https://www.bx.psu.edu/miller_lab/dist/blastz-2004-12-27.deprecated.tar.gz
hg38/ http://hgdownload.soe.ucsc.edu/goldenPath/hg38/chromosomes/chr4.fa.gz hg38.chr4.fa.gz
galGal3/ http://hgdownload.soe.ucsc.edu/goldenPath/galGal3/chromosomes/chr4.fa.gz galGal3.chr4.fa.gz

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/modulefiles
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module load hpckit${HPCKIT_VERSION}/gcc/compiler${GCC_VERSION}/gccmodule

mkdir -p ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/blastz/2004-12-27
tar -zxvf ${JARVIS_DOWNLOAD}/blastz-2004-12-27.deprecated.tar.gz -C ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/blastz/2004-12-27

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module load hpckit${HPCKIT_VERSION}/gcc/compiler${GCC_VERSION}/gccmodule

[APP]
app_name = blastz
build_dir = ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/blastz/2004-12-27/blastz-source
binary_dir = ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/blastz/2004-12-27/blastz-source
case_dir = ${JARVIS_ROOT}/workloads/blastz/2004-12-27

[BUILD]
sed -i 's/CFLAGS= -O/CFLAGS= -O3 -march=armv8.2-a -mtune=tsv110 -flto/g' Makefile
sed -i '11c //char *argv0;' args.c
CC=`which gcc` make
${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/blastz/2004-12-27/blastz-source/blastz --help

mkdir -p ${JARVIS_ROOT}/workloads/blastz/2004-12-27
cd ${JARVIS_ROOT}/workloads/blastz/2004-12-27
cp -ar ${JARVIS_DOWNLOAD}/*.fa.gz .
gzip -d hg38.chr4.fa.gz
gzip -d galGal3.chr4.fa.gz

[CLEAN]

[RUN]
run = time
binary = blastz hg38.chr4.fa galGal3.chr4.fa C=3 T=2 Z=10 > hg38_c4-vs-galGal3_c4-kp7265.out
nodes = 1
