[SERVER]
11.11.11.11

[DOWNLOAD]
blastz/2004-12-27 https://www.bx.psu.edu/miller_lab/dist/blastz-2004-12-27.deprecated.tar.gz
hg38/ http://hgdownload.soe.ucsc.edu/goldenPath/hg38/chromosomes/chr4.fa.gz hg38.chr4.fa.gz
galGal3/ http://hgdownload.soe.ucsc.edu/goldenPath/galGal3/chromosomes/chr4.fa.gz galGal3.chr4.fa.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1

mkdir -p ${JARVIS_ROOT}/software/apps
tar -zxvf ${JARVIS_DOWNLOAD}/blastz-2004-12-27.deprecated.tar.gz -C ${JARVIS_ROOT}/software/apps/

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1

[APP]
app_name = blastz
build_dir = ${JARVIS_ROOT}/software/apps/blastz-source
binary_dir = ${JARVIS_ROOT}/software/apps/blastz-source
case_dir = ${JARVIS_ROOT}/software/apps/blastz-source/testfile

[BUILD]
sed -i 's/CFLAGS= -O/CFLAGS= -O3 -march=armv8.2-a -mtune=tsv110 -flto/g' Makefile
sed -i '11c //char *argv0;' args.c
CC=`which gcc` make
${JARVIS_ROOT}/software/apps/blastz-source/blastz --help

mkdir -p testfile
cd testfile/
cp -ar ${JARVIS_DOWNLOAD}/*.fa.gz .
gzip -d hg38.chr4.fa.gz
gzip -d galGal3.chr4.fa.gz

[CLEAN]

[RUN]
run = time
binary = blastz hg38.chr4.fa galGal3.chr4.fa C=3 T=2 Z=10 > hg38_c4-vs-galGal3_c4-kp7265.out
nodes = 1
