[SERVER]
11.11.11.11

[DOWNLOAD] 
monocle3/master ${JARVIS_PROXY}/cole-trapnell-lab/monocle3/archive/refs/heads/master.zip monocle3-master.zip

[DEPENDENCY]
yum install -y libgit2-devel freetype-devel fontconfig-devel libtiff-devel geos-devel libXext-devel harfbuzz-devel fribidi-devel libjpeg-turbo-devel
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install hmpi/2.4.2 bisheng
module load hmpi/2.4.2
./jarvis -install libjpeg/v9b bisheng+mpi
module load libjpeg/v9b
./jarvis -install libpng/1.6.37 bisheng+mpi
module load libpng/1.6.37
./jarvis -install proj/5.2.0 bisheng+mpi
module load proj/5.2.0
./jarvis -install gdal/2.2.4 bisheng+mpi
module load gdal/2.2.4
./jarvis -install udunits/2.2.28 bisheng+mpi
module load udunits/2.2.28
./jarvis -install pixman/0.38.0 bisheng+mpi
module load pixman/0.38.0
export PKG_CONFIG_PATH=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/pixman/0.38.0/lib/pkgconfig:$PKG_CONFIG_PATH
./jarvis -install cairo/1.16.0 bisheng+mpi
module load cairo/1.16.0
export PKG_CONFIG_PATH=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/cairo/1.16.0/lib/pkgconfig:$PKG_CONFIG_PATH
./jarvis -install R/4.4.3 bisheng+mpi
module load R/4.4.3

unzip ${JARVIS_DOWNLOAD}/monocle3-master.zip -d ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load hmpi/2.4.2
module load libjpeg/v9b
module load libpng/1.6.37
module load proj/5.2.0
module load gdal/2.2.4
module load udunits/2.2.28
module load pixman/0.38.0
export PKG_CONFIG_PATH=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/pixman/0.38.0/lib/pkgconfig:$PKG_CONFIG_PATH
module load cairo/1.16.0
export PKG_CONFIG_PATH=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/cairo/1.16.0/lib/pkgconfig:$PKG_CONFIG_PATH
module load R/4.4.3

[APP]
app_name = monocle3
build_dir = ${JARVIS_TMP_DOWNLOAD}/monocle3-master
binary_dir = 
case_dir = ${JARVIS_TMP_DOWNLOAD}/monocle3-master/tests

[BUILD]
R --vanilla -e 'if (!requireNamespace("BiocManager", quietly = TRUE)) install.packages("BiocManager", repos="https://cloud.r-project.org/"); q()'
R --vanilla -e 'BiocManager::install(version = "3.20", ask=FALSE, update=TRUE); q()'
R --vanilla -e 'BiocManager::install("terra", configure.args="--with-proj-include=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/proj/5.2.0/include --with-proj-lib=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/proj/5.2.0/lib"); q()'
R --vanilla -e 'BiocManager::install("units", configure.args="--with-udunits2-lib=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/udunits/2.2.28/lib --with-udunits2-include=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/udunits/2.2.28/include"); q()'
R --vanilla -e 'BiocManager::install("sf", configure.args="--with-proj-include=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/proj/5.2.0/include --with-proj-lib=${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/proj/5.2.0/lib"); q()'
R --vanilla -e 'BiocManager::install(c("BiocGenerics", "DelayedArray", "DelayedMatrixStats", "limma", "lme4", "S4Vectors", "SingleCellExperiment", "SummarizedExperiment", "batchelor", "HDF5Array", "ggrastr")); q()'
R --vanilla -e 'install.packages(c("devtools", "testthat"), repos="https://cloud.r-project.org/"); q()'
R CMD INSTALL .

[CLEAN]
detach("package:monocle3", unload = T)
remove.packages("monocle3")

[RUN]
run = R --vanilla -e "testthat::test_file(\"testthat.R\"); q()"
binary =
nodes = 1
