[SERVER]
11.11.11.11

[DOWNLOAD]
psi4/1.3.2 https://github.com/psi4/psi4/archive/v1.3.2.tar.gz

[DEPENDENCY]

./jarvis -install package/hpckit/24.0.0/ any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi 


export CC=gcc FC=gfortran CXX=g++

./jarvis -install package/python3/3.7.10 gcc
module use ${JARVIS_ROOT}/software/moduledeps/gcc12.3.1/
module add python3/3.7.10
which python3
#pip3 install numpy==1.19.4 Cython==0.29.21  -i https://pypi.mirrors.ustc.edu.cn/simple
pip3 install numpy==1.19.4 Cython==0.29.21

./jarvis -install package/openblas/0.3.14 gcc
module add openblas/0.3.14

sed -i "11c #" package/gau2grid/1.3.0/install.sh
sed -i "13c #" package/gau2grid/1.3.0/install.sh
sed -i "14c #" package/gau2grid/1.3.0/install.sh
sed -i "15c cmake ..  -DCMAKE_INSTALL_PREFIX=\$1 -DPYTHON_EXECUTABLE=`which python3`" package/gau2grid/1.3.0/install.sh
./jarvis -install package/gau2grid/1.3.0 gcc
module add gau2grid/1.3.0
./jarvis -install package/libint/1.2.0  gcc
module add libint/1.2.0
./jarvis -install package/libxc/4.3.0 gcc
module add libxc/4.3.0
sed -i "11c #" package/pybind11/2.6.2/install.sh
sed -i "12c cmake ..  -DCMAKE_INSTALL_PREFIX=\$1 -DPYTHON_EXECUTABLE=`which python3`" package/pybind11/2.6.2/install.sh
./jarvis -install package/pybind11/2.6.2 gcc
module add pybind11/2.6.2


[ENV]
module use ${JARVIS_ROOT}/software/moduledeps/gcc12.3.1
module add python3/3.7.10
module add openblas/0.3.14
module add gau2grid/1.3.0
module add libint/1.2.0 libxc/4.3.0 pybind11/2.6.2
export MATH_ROOT=$OPENBLAS_PATH
export PATH=$JARVIS_ROOT/software/apps/gcc12.3.1/psi4/bin:$PATH


[APP]
app_name = psi4
build_dir = $JARVIS_ROOT
binary_dir = $JARVIS_ROOT/software/apps/gcc12.3.1/psi4/bin
case_dir = $JARVIS_ROOT/software/apps/gcc12.3.1/psi4/share/psi4/samples/opt-multi-frozen-dimer-c2h 

[BUILD]
set -x
cd ${JARVIS_TMP}
pip3 install pint pydantic==1.10.7 deepdiff==6.3.0 -i https://pypi.mirrors.ustc.edu.cn/simple
rm psi4-1.3.2 -rf
tar -xvf ${JARVIS_DOWNLOAD}/v1.3.2.tar.gz
cd psi4-1.3.2
mkdir build 
cd build
export CC=gcc FC=gfortran CXX=g++ 
cmake .. -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=$JARVIS_ROOT/software/apps/gcc12.3.1/psi4 -Dpybind11_DIR=${PYBIND11_PATH}/share/cmake/pybind11 -Dgau2grid_DIR=${GAU2GRID_PATH}/share/cmake/gau2grid -DLibint_DIR=${LIBINT_PATH}/share/cmake/Libint -DLibxc_DIR=${LIBXC_PATH}/share/cmake/Libxc
sed -i "34a #include <iterator>" ${JARVIS_TMP}/psi4-1.3.2/psi4/src/create_new_plugin.cc
make -j
make install

[CLEAN]
cd $JARVIS_TMP/psi4-1.3.2/build
make clean

[RUN]
run =   
binary = 
nodes = 1

[BATCH]

LOG_FILE="psi4-proformance.log"

>"$LOG_FILE"

#$RUN_TOOL "psi4  input.dat"
echo $PWD
time -p psi4 input.dat

echo "ALL commands executed. Performance log saved to $LOG_FILE"


[JOB]
#!/bin/sh
#DSUB -n psi4_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo psi4.%J.out
#DSUB -oe psi4.%J.err

LOG_FILE="psi4-proformance.log"

>"$LOG_FILE"

#$RUN_TOOL "Psi4 Run" "psi4 -i input.dat" 
time -p psi4  -i input.dat 2>&1 |tee $LOG_FILE

echo "ALL commands executed. Performance log saved to $LOG_FILE"
