[SERVER]
11.11.11.11

[DOWNLOAD]
psi4/1.3.2 https://github.com/psi4/psi4/archive/v1.3.2.tar.gz

[DEPENDENCY]

export CC=clang FC=flang CXX=clang++
export CFLAGS="-Wno-implicit-function-declaration"
sed -i '9c ./configure --prefix=\$1 --with-ensurepip=yes CFLAGS="-O3 -Wno-implicit-function-declaration"' package/python3/3.7.10/install.sh
./jarvis -install package/python3/3.7.10 bisheng
module use software/moduledeps
module add bisheng4.0.0/python3/3.7.10
./jarvis -install package/openblas/0.3.14/ bisheng
module add bisheng4.0.0/openblas/0.3.14
sed -i "13c #" package/gau2grid/1.3.0/install.sh
sed -i "14c pip3 install numpy==1.19.4 Cython==0.29.21  -i https://pypi.mirrors.ustc.edu.cn/simple" package/gau2grid/1.3.0/install.sh
sed -i "15c cmake ..  -DCMAKE_INSTALL_PREFIX=\$1 -DPYTHON_EXECUTABLE=`which python3`" package/gau2grid/1.3.0/install.sh
sed -i "11c #" package/gau2grid/1.3.0/install.sh
./jarvis -install package/gau2grid/1.3.0 bisheng
module add bisheng4.0.0/gau2grid/1.3.0
./jarvis -install package/libint/1.2.0 bisheng
module add bisheng4.0.0/libint/1.2.0
./jarvis -install package/libxc/4.3.0 bisheng
module add bisheng4.0.0/libxc/4.3.0
sed -i "11c #" package/pybind11/2.6.2/install.sh
sed -i "12c cmake ..  -DCMAKE_INSTALL_PREFIX=\$1 -DPYTHON_EXECUTABLE=`which python3`" package/pybind11/2.6.2/install.sh
./jarvis -install package/pybind11/2.6.2 bisheng
module add bisheng4.0.0/pybind11/2.6.2


[ENV]

module use software/moduledeps
module add bisheng4.0.0/python3/3.7.10
module add bisheng4.0.0/openblas/0.3.14
module add bisheng4.0.0/gau2grid/1.3.0
module add bisheng4.0.0/libint/1.2.0 bisheng4.0.0/libxc/4.3.0 bisheng4.0.0/pybind11/2.6.2
export MATH_ROOT=$OPENBLAS_PATH
export LD_LIBRARY_PATH=$JARVIS_ROOT/HPCKit/latest/compiler/bisheng/lib:$LD_LIBRARY_PATH
export PATH=$JARVIS_ROOT/software/apps/bisheng4.0.0/hmpi2.4.1/psi4/bin:$PATH


[APP]
app_name = psi4
build_dir = $JARVIS_ROOT
binary_dir = $JARVIS_ROOT/software/apps/bisheng4.0.0/hmpi2.4.1/psi4
case_dir = 

[BUILD]
set -x
cd ${JARVIS_TMP}
pip3 install pint pydantic==1.10.7 deepdiff==6.3.0 -i https://pypi.mirrors.ustc.edu.cn/simple
rm psi4-1.3.2 -rf
tar -xvf ${JARVIS_DOWNLOAD}/v1.3.2.tar.gz
cd psi4-1.3.2
mkdir build install
cd build
export CC=clang FC=flang CXX=clang++ 
cmake .. -DBUILD_SHARED_LIBS=ON  -DCMAKE_INSTALL_PREFIX=$JARVIS_ROOT/software/apps/bisheng4.0.0/hmpi2.4.1/psi4 -DCMAKE_C_FLAGS="-mcpu=linxicore9100  -mllvm -force-customized-pipeline=true" -Dpybind11_DIR=${PYBIND11_PATH}/share/cmake/pybind11 -Dgau2grid_DIR=${GAU2GRID_PATH}/share/cmake/gau2grid -DLibint_DIR=${LIBINT_PATH}/share/cmake/Libint -DLibxc_DIR=${LIBXC_PATH}/share/cmake/Libxc
make -j
make install

[RUN]
run =
binary =
nodes = 1
