[SERVER]
11.11.11.11

[DOWNLOAD]
case1 https://raw.githubusercontent.com/yejianbang/tensorflow-case/refs/heads/main/tensorflow-case.py
case2 https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz

[DEPENDENCY]
set -e
set -x

yum install -y vim tar git wget
module purge
./jarvis -install package/anaconda3/2023.3 any
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/bin/activate
conda create -n tf-2.13.0 -y
conda activate tf-2.13.0
conda install python=3.11.0 -c conda-forge -y
pip install packaging requests numpy==1.24.3

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/bin/activate
conda activate tf-2.13.0

[APP]
app_name = tensorflow
build_dir = ${JARVIS_ROOT}/tmp/tensorflow-2.13.0/
binary_dir =
case_dir = ${JARVIS_ROOT}/tmp/tensorflow-2.13.0/tensorflow/examples/speech_commands/


[BUILD]
cd ${JARVIS_ROOT}
./jarvis -e
source ./env.sh
pip install tensorflow==2.13.0


[CLEAN]
conda clean --all --yes

[RUN]
run = conda activate tensorflow-2.4.1 && time python train.py
binary =
nodes = 1

[JOB]
conda activate tensorflow-2.4.1

[PERF]
perf= 
nsys=
ncu=--target-processes all

