[SERVER]
11.11.11.11

[DOWNLOAD]
eigen/3.4 https://gitlab.com/libeigen/eigen/-/archive/3.4/eigen-3.4.tar.gz

[DEPENDENCY]
yum install make cmake -y

module purge
./jarvis -install bisheng/4.1.0 com
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=clang CXX=clang++ FC=flang

cd ${JARVIS_TMP_DOWNLOAD}
rm -rf eigen-3.4
tar -xzvf ${JARVIS_DOWNLOAD}/eigen-3.4.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

[APP]
app_name = eigen
build_dir = ${JARVIS_TMP_DOWNLOAD}/eigen-3.4/
binary_dir = ${JARVIS_TMP_DOWNLOAD}/eigen-3.4/bin/
case_dir = 

[BUILD]
cd eigen-3.4
mkdir build
cd build
cmake -DCMAKE_INSTALL_PREFIX=${JARVIS_TMP_DOWNLOAD}/eigen-3.4/ ..
make -j
make install

[CLEAN]
cd build
make clean

[RUN]
run = 
binary = 
nodes = 1

[PERF]
perf=
nsys=
ncu=
