[SERVER]
11.11.11.11

[DOWNLOAD]
WPS/4.6.0 https://github.com/wrf-model/WPS/archive/refs/tags/v4.6.0.tar.gz WPS-4.6.0.tar.gz

[DEPENDENCY]
set -e
set -x
if [ ! -d "${JARVIS_ROOT}/WRF-4.2" ]; then #判断wrf是否安装
    echo "还未安装wrf，请运行以下命令安装wrf
    ./jarvis -use templates/wrf/4.2/bisheng/data.wrf.arm.cpu.config
    ./jarvis -d
    ./jarvis -dp
    ./jarvis -e
    ./jarvis -b"
fi

module purge
./jarvis -install hpckit/25.0.0 com
module use ./software/compiler/hpckit/25.0.0/HPCKit/latest/modulefiles
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
export CC="clang -Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types" CXX=clang++ FC=flang
./jarvis -install jasper/1.900.2 clang
module use ./software/moduledeps/bisheng4.2.0
module load jasper/1.900.2
export CC=mpicc CXX=mpicxx FC=mpifort
module use ./software/moduledeps/bisheng4.2.0-hmpi25.0.0
./jarvis -install hdf5/1.12.0/clang clang+mpi
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load pnetcdf/1.12.1
./jarvis -install netcdf/4.7.4/clang clang+mpi
module load netcdf-clang/4.7.4
tar -zxvf ${JARVIS_DOWNLOAD}/WPS-4.6.0.tar.gz

[ENV]
module purge
module use ${JARVIS_ROOT}//software/compiler/hpckit/25.0.0/HPCKit/latest/modulefiles
module load bisheng/compiler4.2.0/bishengmodule
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.2.0
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.2.0-hmpi25.0.0
module load jasper/1.900.2
module load bisheng/hmpi25.0.0/hmpi
module load hdf5-clang/1.12.0 pnetcdf/1.12.1 netcdf-clang/4.7.4
module load bisheng/kml25.0.0/kml
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
export NETCDF=$NETCDF_CLANG_PATH
export HDF5=$HDF5_CLANG_PATH
export PHDF5=$HDF5
export PNETCDF=$PNETCDF_PATH
export JASPER=$JASPER_PATH
export JASPERLIB=$JASPER_PATH/lib
export JASPERINC=$JASPER_PATH/include
export CPPFLAGS="-I$HDF5/include -I$PNETCDF/include -I$NETCDF/include"
export LDFLAGS="-L$HDF5/lib -L$PNETCDF/lib -L$NETCDF/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90 F90=mpif90
export WRF_DIR=$JARVIS_ROOT/WRF-4.2
export MPI_LIB="-L$JARVIS_COMPILER/hpckit/25.0.0/HPCKit/latest/hmpi/bisheng/hmpi/lib -lmpi -lomp"
export INCLUDE=$WRF_DIR/include:$INCLUDE
export KML_LIB=$JARVIS_COMPILER/hpckit/25.0.0/HPCKit/latest/kml/bisheng/lib/noarch
unset MPI MPI_DIR MPI_INC
export WRF_DIR=${JARVIS_ROOT}/WRF-4.2

[APP]
app_name = WPS
build_dir = ${JARVIS_ROOT}/WPS-4.6.0/
binary_dir = ${JARVIS_ROOT}/q-e-qe-6.4.1/bin/
case_dir = ${JARVIS_ROOT}/workloads/QE/qe-test

[BUILD]
sed -i "192c\#ARCH    Linux aarch64, flang   # serial serial_NO_GRIB2 dmpar dmpar_NO_GRIB2" arch/configure.defaults
sed -i "197c\SFC                 = flang" arch/configure.defaults
sed -i "198c\SCC                 = clang" arch/configure.defaults
sed -i "200c\DM_CC               = mpicc -DMPI2_SUPPORT" arch/configure.defaults
echo -n "3" | ./configure
sed -i "35s|.*|WRF_DIR = ${WRF_DIR}|" configure.wps
sed -i '48c\                        -L$(NETCDF)/lib -lnetcdff -lnetcdf -lomp' configure.wps
./compile

[CLEAN]
make clean

[RUN]
run = 
binary = 
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
