[SERVER]
11.11.11.11

[DOWNLOAD]
acesiii/master ${JARVIS_PROXY}/madbosun/acesiii/archive/refs/heads/master.zip acesiii-master.zip

[DEPENDENCY]
module purge
./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
module load bisheng/kml2.5.0/kml
module unload bisheng/kml2.5.0/kspblas/omp
module unload bisheng/kml2.5.0/kvml/serial

mkdir -p ${JARVIS_ROOT}/software/apps
unzip ${JARVIS_DOWNLOAD}/acesiii-master.zip -d ${JARVIS_ROOT}/software/apps/

[ENV]
module purge
module use software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
module load bisheng/hmpi2.4.3/hmpi
module load bisheng/kml2.5.0/kml
module unload bisheng/kml2.5.0/kspblas/omp
module unload bisheng/kml2.5.0/kvml/serial

[APP]
app_name = acesiii
build_dir = ${JARVIS_ROOT}/software/apps/acesiii-master/
binary_dir = ${JARVIS_ROOT}/software/apps/acesiii-master/bin/
case_dir = ${JARVIS_ROOT}/software/apps/acesiii-master/src/aces/aces_sial/simpletest

[BUILD]
sed -i 's/mktemp/mkstemp/' src/sia/sip/sip_instructions/generate_scratch_filename.c
sed -i 's/SERIAL_CPP="g++"/SERIAL_CPP=mpicxx/g' configure
./configure FCFLAGS="-D__fortran -D__fortran77 -fPIC -DMPIF2C -DMPI2 -ffast-math -march=armv8-a -mtune=tsv110 -std=f77" CFLAGS="-DMPIF2C -DMPI2 -DC_SUFFIX -DCB_SUFFIX -DMPI2 -Wno-return-type -Wno-int-conversion" CXXFLAGS="-DMPIF2C -DC_SUFFIX -DCB_SUFFIX -DMPI2" CC=mpicc CXX=mpicxx FC=mpifort
sed -i '21s/^\(\s*\).*/\1SIAL_COMPILER_LIBS= -lstdc++ -lsip1 -lsip2 -lsial -lsip_shared -lframelib -laces2 -lgeopt -lsymcor -laces2 -lerd -loed -ldup -lsip1 -lsip2 $(LIBS) -lflang -lflangmain/' src/sial_compiler/compiler/Makefile
sed -i '24c LIB_DIRS:=-L../../../lib $(LIB_DIRS) -L${JARVIS_ROOT}/software/utils/hpckit/24.0.0/HPCKit/latest/compiler/bisheng/lib' src/sial_compiler/compiler/Makefile
sed -i '16c LIBS:= -lstdc++ -lsip1 -lsip2 -lsialinst -lsip_shared -lframelib -laces2 -lgeopt -lsymcor -laces2 -lprop_ints -lerd -loed -lecp -ldup -lsip1 -lsip2 -lsialinst -lsip1 -lsip2 $(LIBS) -lflang -lflangmain -L${JARVIS_ROOT}/software/utils/hpckit/24.0.0/HPCKit/latest/compiler/bisheng/lib -L${JARVIS_ROOT}/software/utils/hpckit/24.0.0/HPCKit/24.0.0/kml/bisheng/lib/${kp} -L${JARVIS_ROOT}/software/utils/hpckit/24.0.0/HPCKit/24.0.0/kml/bisheng/lib/${kp}/kblas/pthread -lklapack_full -lkblas' src/main/Makefile
make

[CLEAN]
make clean

[RUN]
run =
binary = sial scftest_0.sial
nodes = 1
