[SERVER]
11.11.11.11

[DOWNLOAD]
NCL/6.3.0 $JARVIS_PROXY/chen-shaoheng/NCL-SOURCE/releases/download/ncl-6.3.0/ncl-6.3.0.tar.gz

[DEPENDENCY]
yum install tar byacc bison expat-devel expat libtirpc-devel libX11 libX11-devel libXmu* libXaw libXaw-devel flex flex-devel freetype-devel libpng-devel libXi libSM-devel libXi-devel libXext-devel pkgconf curl libcurl-devel zlib-devel cairo cairo-devel pixman pixman-devel patch -y

./jarvis -install package/kgcc/10.3.1 com
module use ./software/modulefiles/
module add kgcc/10.3.1

export CC=gcc CXX=g++ FC=gfortran
./jarvis -install package/hmpi/1.2.0 gcc
module add hmpi/1.2.0

export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90
./jarvis -install package/hdf5/1.8.20 gcc+mpi
module add hdf5/1.8.20

export CC=mpicc CXX=mpicxx FC=mpifort
sed -i '11c ./configure --prefix=$1 --enable-shared --enable-fortran --enable-large-file-test FFLAGS="-fallow-argument-mismatch" FCFLAGS="-fallow-argument-mismatch" ' package/pnetcdf/1.11.2/install.sh
./jarvis -install package/pnetcdf/1.11.2 gcc+mpi
module add pnetcdf/1.11.2

./jarvis -install package/netcdf/4.7.4 gcc+mpi
module add netcdf/4.7.4

export CC=gcc FC=gfortran CXX=g++
./jarvis -install package/libjpeg/v9b gcc
module add libjpeg/v9b

export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
sed -i '13c ./configure --prefix=$1 --enable-production --with-zlib=/usr/lib64 --enable-fortran --enable-hdf4-xdr --disable-shared --build=arm-linux  --with-jpeg=${LIBJPEG_PATH} --disable-netcdf CFLAGS="-fPIC -Wno-error=int-conversion" CXXFLAGS="-fPIC -Wno-error=int-conversion" FFLAGS="-fPIC -fallow-argument-mismatch -Wno-error=int-conversion" LDFLAGS="-L/usr/lib64 -ltirpc " CPPFLAGS="-I/usr/include/tirpc"' package/hdf4/4.2.15/install.sh
./jarvis -install package/hdf4/4.2.15 gcc+mpi
module add hdf4/4.2.15

export CC=gcc FC=gfortran CXX=g++
./jarvis -install package/proj/5.2.0 gcc
module add proj/5.2.0

./jarvis -install package/libpng/1.6.37 gcc
module add libpng/1.6.37

./jarvis -install package/gdal/2.2.4 gcc
module add gdal/2.2.4

./jarvis -install package/jasper/1.900.2 gcc
module add jasper/1.900.2

./jarvis -install package/g2clib/1.6.0 gcc
module add g2clib/1.6.0

sed -i '9c ./configure --prefix=$1 LDFLAGS="-L/usr/lib64" CFLAGS="-I/usr/include" ' package/udunits/2.2.28/install.sh
./jarvis -install package/udunits/2.2.28 gcc
module add udunits/2.2.28

./jarvis -install package/gsl/2.6 gcc
module add gsl/2.6

./jarvis -install package/hdf-eos2/2.20 gcc
module add hdf-eos2/2.20

./jarvis -install package/hdf-eos5/1.16 gcc
module add hdf-eos5/1.16

sed -i '12c ./configure --prefix=$1 --x-libraries=/usr/lib64 --x-include=/usr/include' package/mesa/3.1/install.sh
./jarvis -install package/mesa/3.1 gcc
module add mesa/3.1

./jarvis -install package/vis5dplus/1.3.0 gcc
module add vis5dplus/1.3.0

sed -i '9c ./configure --prefix=$1 --enable-netcdf-4  --enable-shared' package/szip/2.1.1/install.sh
./jarvis -install package/szip/2.1.1 gcc
module add szip/2.1.1

wget https://archives.openeuler.openatom.cn/openEuler-21.03/everything/aarch64/Packages/atlas-devel-3.10.3-11.oe1.aarch64.rpm --no-ch
wget https://archives.openeuler.openatom.cn/openEuler-21.03/OS/aarch64/Packages/atlas-3.10.3-11.oe1.aarch64.rpm --no-ch
rpm -ivh atlas-3.10.3-11.oe1.aarch64.rpm
rpm -ivh atlas-devel-3.10.3-11.oe1.aarch64.rpm
rm *.rpm  -rf
rm ncl_ncarg-6.3.0 -rf
tar -xvf ${JARVIS_DOWNLOAD}/ncl-6.3.0.tar.gz


[ENV]
module purge
#!/bin/bash
module use ./software/modulefiles/
module add kgcc/10.3.1
module add hmpi/1.2.0
module add hdf5/1.8.20 netcdf/4.7.4 pnetcdf/1.11.2 proj/5.2.0 hdf4/4.2.15 jasper/1.900.2 libpng/1.6.37 gdal/2.2.4 libjpeg/v9b g2clib/1.6.0 udunits/2.2.28 gsl/2.6 hdf-eos2/2.20 hdf-eos5/1.16 mesa/3.1 vis5dplus/1.3.0 szip/2.1.1
export HDF5=${HDF5_PATH}
export NETCDF=${NETCDF_PATH}
export CC=gcc FC=gfortran CXX=g++
export JARVIS_UTILS=/hpcrunner/software/utils
export PATH=$JARVIS_UTILS/ncl/6.3.0/bin:$PATH
export LD_LIBRARY_PATH=$JARVIS_UTILS/ncl/6.3.0/lib:$LD_LIBRARY_PATH
export NCARG_FONTCAPS=$JARVIS_UTILS/ncl/6.3.0/lib/ncarg/fontcaps
export NCARG_GRAPHCAPS=$JARVIS_UTILS/ncl/6.3.0/lib/ncarg/graphcaps
export NCARG_ROOT=$JARVIS_UTILS/ncl/6.3.0
export NCARG_DATABASE=$JARVIS_UTILS/ncl/6.3.0/lib/ncarg/database
export NCARG_LIB=$JARVIS_UTILS/ncl/6.3.0/lib
export NCARG_NCARG=$JARVIS_UTILS/ncl/6.3.0/lib/ncarg


[APP]
app_name = NCL
build_dir = ${JARVIS_ROOT}/ncl_ncarg-6.3.0
binary_dir =
case_dir = 

[BUILD]
echo "请确保已经执行./jarvis -dp命令解压主程序源码包。执行./jarvis -b前都应先执行./jarvis -dp命令！"
#fix sourcecode
sed -i '21c #define CCompiler   gcc' config/LINUX
sed -i '22c #define FCompiler   gfortran' config/LINUX
sed -i '23c #define CtoFLibraries   -lgfortran -lmathlib -ltirpc' config/LINUX
sed -i '24c #define CtoFLibrariesUser   -lgfortran -lmathlib -ltirpc' config/LINUX
sed -i '25c #define CcOptions      -fno-asm -fPIC -fopenmp -std=c99 -fsigned-char -Xlinker -zmuldefs -Wl,--copy-dt-needed-entries' config/LINUX
sed -i '26c #define FcOptions      -fPIC -fno-second-underscore -fno-range-check -fopenmp -fallow-argument-mismatch -Wl,--copy-dt-needed-entries' config/LINUX

sed -i '40a void _swapshort (register char *bp, register unsigned n);' ncarview/src/lib/libncarg_ras/misc.c
sed -i '41a void _swaplong (register char *bp, register unsigned n);' ncarview/src/lib/libncarg_ras/misc.c
sed -i '46c #        @$(CAT) Copyright' ncarview/src/bin/ictrans/yMakefile
sed -i "168c CC_LD           = g\\\+\\\+" ni/src/ncl/yMakefile
sed -i "170c CC_LD           = g\\\+\\\+" ni/src/ncl/yMakefile 
sed -i '61c EXCSRCS = bcopyswap.c logic32.c' common/src/libncarg_c/yMakefile
sed -i '62c EXFSRCS = gbytes.f sbytes.f' common/src/libncarg_c/yMakefile
sed -i '62a EXOBJS  = bcopyswap.o sbytes.o gbytes.o logic32.o ' common/src/libncarg_c/yMakefile
sed -i '943c                  long len1,len2,len3,len4;' ni/src/lib/hlu/Format.c
sed -i '1286c                  long len1,len2,len3,len4;' ni/src/lib/hlu/Format.c
sed -i "9660c IF ((CEX1(1:1).EQ.' ') .AND. (LCX1 .EQ. 1)) LCX1=0" ncarg2d/src/libncarg/conpack/CodeIftran
sed -i '9660s/^/        /' ncarg2d/src/libncarg/conpack/CodeIftran
sed -i "9662c IF ((CEX2(1:1).EQ.' ') .AND. (LCX2 .EQ. 1)) LCX2=0" ncarg2d/src/libncarg/conpack/CodeIftran
sed -i '9662s/^/        /' ncarg2d/src/libncarg/conpack/CodeIftran
sed -i "9664c IF ((CEX3(1:1).EQ.' ') .AND. (LCX3 .EQ. 1)) LCX3=0" ncarg2d/src/libncarg/conpack/CodeIftran
sed -i '9664s/^/        /' ncarg2d/src/libncarg/conpack/CodeIftran

sed -i "9669a DO (III=1,LBUF)\nCBUF(III:III)=' '\nEND DO" ncarg2d/src/libncarg/conpack/CodeIftran
sed -i '9670s/^/        /' ncarg2d/src/libncarg/conpack/CodeIftran
sed -i '9671s/^/        /' ncarg2d/src/libncarg/conpack/CodeIftran
sed -i '9672s/^/        /' ncarg2d/src/libncarg/conpack/CodeIftran
sed -i "9669c CBUF(1:LBUF)=' ' " ncarg2d/src/libncarg/conpack/CodeIftran
sed -i '9669s/^/        /' ncarg2d/src/libncarg/conpack/CodeIftran
sed -i "9794c CBUF(1:LBUF)='0' " ncarg2d/src/libncarg/conpack/CodeIftran
sed -i '9794s/^/            /' ncarg2d/src/libncarg/conpack/CodeIftran

sed -i "19s/\\(\=\\).*/\\1/" ncarg2d/src/libncarg_gks/bwi/argb2ci.f
sed -i "19s/\\(\=\\)/\\1 INT(Z'40000000'))/" ncarg2d/src/libncarg_gks/bwi/argb2ci.f

sed -i "20s/\\(\=\\).*/\\1/" ncarg2d/src/libncarg_gks/bwi/argb2ci.f
sed -i "20s/\\(\=\\)/\\1 INT(Z'00FF0000'))/" ncarg2d/src/libncarg_gks/bwi/argb2ci.f

sed -i "21s/\\(\=\\).*/\\1/" ncarg2d/src/libncarg_gks/bwi/argb2ci.f
sed -i "21s/\\(\=\\)/\\1 INT(Z'0000FF00'))/" ncarg2d/src/libncarg_gks/bwi/argb2ci.f

sed -i "22s/\\(\=\\).*/\\1/" ncarg2d/src/libncarg_gks/bwi/argb2ci.f
sed -i "22s/\\(\=\\)/\\1 INT(Z'000000FF'))/" ncarg2d/src/libncarg_gks/bwi/argb2ci.f

sed -i "34s/\\(\=\\).*/\\1/" ncarg2d/src/libncarg_gks/bwi/argb2ci.f
sed -i "34s/\\(\=\\)/\\1 (iand(index, RMASK) \/ INT(Z'0000FFFF')) \/ 255./" ncarg2d/src/libncarg_gks/bwi/argb2ci.f

sed -i "35s/\\(\=\\).*/\\1/" ncarg2d/src/libncarg_gks/bwi/argb2ci.f
sed -i "35s/\\(\=\\)/\\1 (iand(index, GMASK) \/ INT(Z'000000FF')) \/ 255./" ncarg2d/src/libncarg_gks/bwi/argb2ci.f


rm ./config/ymake-filter -f
echo "
======================================
请务必按照以下选项进行预编译配置！！ 请截图保留查看
"
echo "
Enter Return(default), y(yes), n(no), or q(quit) > y
Enter Return to continue, or q(quit) Enter
Build NCL (y)? y
Parent installation directory /path/to/ncl
System temp space directory /tmp Enter
Build NetCDF4 feature support (optional)? (y) y
Build HDF4 support (optional) into NCL? (y) y
Also build HDF4 support (optional) into raster library? (y) y
Did you build HDF4 with szip support? (n) n
Build Triangle support (optional) into NCL (y) n
did you enable NetCDF-4 support (y) y
Did you build NetCDF with OPeNDAP support (y) n
Build GDAL support (optional) into NCL? (n) y
Build Udunits-2 support (optional) into NCL (y) y
Build Vis5d+ support (optional) into NCL (n) y
Build HDF-EOS2 support (optional) into NCL (y) y
Build HDF5 support (optional) into NCL (y) y
Build HDF-EOS5 support (optional) into NCL (y) y
Build GRIB2 support (optional) into NCL (y) y
Enter local library search path(s) /lib64 /usr/lib64 /usr/include/X11
Enter local include search path(s) /usr/include /usr/include/freetype2 /usr/include/freetype2/freetype /usr/include/X11 /usr/include/tirpc
Go back and make more changes or review? (n) Enter
Save current configuration ? (y) Enter

======================================"
sleep 10

./Configure

rm config/Site.local -f
cp /hpcrunner/templates/ncl/6.3.0/Site.local config/ -f

sed -i "12c #define YmakeRoot $JARVIS_UTILS/ncl/6.3.0" config/Site.local
sed -i "16c #define LibSearch -L$KGCC_PATH/lib -L$KGCC_PATH/lib64 -L$HMPI_PATH/lib -L$HDF5_PATH/lib -L$PNETCDF_PATH/lib -L$NETCDF_PATH/lib -L$LIBJPEG_PATH/lib -L$HDF4_PATH/lib -L$PROJ_PATH/lib -L$LIBPNG_PATH/lib -L$GDAL_PATH/lib -L$JASPER_PATH/lib -L$G2CLIB_PATH/lib -L$UDUNITS_PATH/lib -L$GSL_PATH/lib -L$HDF_EOS2_PATH/lib -L$HDF_EOS5_PATH/lib -L$MESA_PATH/lib -L$VIS5DPLUS_PATH/lib -L$SZIP_PATH/lib -L/lib64 -L/usr/lib64" config/Site.local
sed -i "17c #define IncSearch -I$KGCC_PATH/include -I$HMPI_PATH/include -I$HDF5_PATH/include -I$PNETCDF_PATH/include -I$NETCDF_PATH/include -I$LIBJPEG_PATH/include -I$HDF4_PATH/include -I$PROJ_PATH/include -I$LIBPNG_PATH/include -I$GDAL_PATH/include -I$JASPER_PATH/include -I$JASPER_PATH/include/jasper -I$G2CLIB_PATH/include -I$UDUNITS_PATH/include -I$GSL_PATH/include -I$GSL_PATH/include/gsl -I$HDF_EOS2_PATH/include -I$HDF_EOS5_PATH/include -I$MESA_PATH/include -I$MESA_PATH/include/GL -I$VIS5DPLUS_PATH/include -I$SZIP_PATH/include -I/usr/include -I/usr/include/freetype2 -I/usr/include/freetype2/freetype -I/usr/include/X11 -I/usr/include/tirpc" config/Site.local


cat config/Site.local

make Everything 2>&1 |tee make.log
mkdir /hpcrunner/software/utils/ncl/6.3.0/clang/share/ncarg/database/rangs
ln -s /hpcrunner/software/utils/ncl/6.3.0/clang/share/ncarg/* /hpcrunner/software/utils/ncl/6.3.0/clang/lib/ncarg/
cd /hpcrunner/software/utils/ncl/6.3.0/clang/share/ncarg/database/rangs
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs\(0\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs\(1\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs\(2\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs\(3\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs\(4\).zip --no-ch

wget https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs\(0\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs\(1\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs\(2\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs\(3\).zip --no-ch
wget https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs\(4\).zip --no-ch

unzip 'gshhs(0).zip'
unzip 'gshhs(1).zip'
unzip 'gshhs(2).zip'
unzip 'gshhs(3).zip'
unzip 'gshhs(4).zip'

unzip 'rangs(0).zip'
unzip 'rangs(1).zip'
unzip 'rangs(2).zip'
unzip 'rangs(3).zip'
unzip 'rangs(4).zip'


[RUN]
run =  ncl -V 
binary = 
nodes = 1
