[SERVER]
11.11.11.11

[DOWNLOAD]
bisheng/2.1.0 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_compiler/bisheng-compiler-2.1.0-aarch64-linux.tar.gz
hucx/1.1.1 https://github.com/kunpengcompute/hucx/archive/refs/tags/v1.1.1-huawei.zip hucx-1.1.1-huawei.zip
xucg/1.1.1 https://github.com/kunpengcompute/xucg/archive/refs/tags/v1.1.1-huawei.zip xucg-1.1.1-huawei.zip
hmpi/1.1.1 https://github.com/kunpengcompute/hmpi/archive/refs/tags/v1.1.1-huawei.zip hmpi-1.1.1-huawei.zip
netcdf/4.7.0 https://codeload.github.com/Unidata/netcdf-c/tar.gz/refs/tags/v4.7.0 netcdf-c-4.7.0.tar.gz
netcdf-f/4.4.5 https://codeload.github.com/Unidata/netcdf-fortran/tar.gz/refs/tags/v4.4.5 netcdf-fortran-4.4.5.tar.gz
pnetcdf/1.11.2 http://cucis.ece.northwestern.edu/projects/PnetCDF/Release/pnetcdf-1.11.2.tar.gz
hdf5/1.10.1 https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.10/hdf5-1.10.1/src/hdf5-1.10.1.tar.gz

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 clang+mpi
./jarvis -install pnetcdf/1.11.2 bisheng+mpi

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module add bisheng2/2.1.0
module add hmpi1/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = netcdf
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
./jarvis -install netcdf/4.7.0 clang+mpi

[RUN]
run = 
binary = 
node = 1
