[SERVER]
11.11.11.11

[DOWNLOAD]
monocle3/1.4.26 https://github.com/cole-trapnell-lab/monocle3/archive/refs/tags/v1.4.26.tar.gz monocle3-1.4.26.tar.gz
BPCells/0.3.1 https://github.com/bnprks/BPCells/archive/refs/tags/v0.3.1.tar.gz BPCells-0.3.1.tar.gz

[DEPENDENCY]
set -e
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule

./jarvis -install R/4.4.1 gcc
module load R/4.4.1-%#MYKGCCVER#%

./jarvis -install udunits/2.2.28 gcc
module load udunits/2.2.28-%#MYKGCCVER#%

./jarvis -install gdal/2.2.4 gcc
module load gdal/2.2.4-%#MYKGCCVER#%

./jarvis -install proj/5.2.0 gcc
module load proj/5.2.0-%#MYKGCCVER#%

./jarvis -install hdf5/1.10.1/nompi gcc
module load hdf5-nompi/1.10.1-%#MYKGCCVER#%

echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load R/4.4.1-%#MYKGCCVER#%
module load udunits/2.2.28-%#MYKGCCVER#%
module load gdal/2.2.4-%#MYKGCCVER#%
module load proj/5.2.0-%#MYKGCCVER#%
module load hdf5-nompi/1.10.1-%#MYKGCCVER#%

[APP]
fake = 1
app_name = monocle
app_version = 3.0
compiler = gcc
build_dir = ${JARVIS_DEV}/monocle3
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/monocle3

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

set +x && check_rpms_installed libgit2-devel geos-devel freetype-devel libpng-devel libtiff-devel libwebp-devel libpng-tools || exit 1

####### build start
set +x && echo_info "build start" && set -x

cat > install.R << EOF
options(download.file.method="curl",download.file.extra = "-k")
options("repos"= c(CRAN="http://mirrors.tuna.tsinghua.edu.cn/CRAN/"))
options(BioC_mirror="http://bioconductor.posit.co/")

if (!requireNamespace("BiocManager", quietly = TRUE)) {
install.packages("BiocManager")
BiocManager::install(version = "3.20")
}

BiocManager::install(c('BiocGenerics', 'DelayedArray', 'DelayedMatrixStats',
                       'limma', 'lme4', 'S4Vectors', 'SingleCellExperiment',
                       'SummarizedExperiment', 'batchelor', 'HDF5Array',
                       'ggrastr'))

install.packages("devtools")

remotes::install_local("./BPCells-0.3.1/r/")

install.packages(c('assertthat', 'future', 'ggdist', 'ggforce', 'grr', 'leidenbase',
                   'lmtest', 'pbapply', 'pbmcapply', 'pheatmap', 'plotly', 'plyr',
                   'proxy', 'pscl', 'RANN', 'reshape2', 'rsample', 'RhpcBLASctl',
                   'RcppAnnoy', 'RcppHNSW', 'Rtsne', 'units', 'sf', 'slam', 'spdep', 'speedglm',
                   'uwot', 'viridis'))

install.packages("monocle3-1.4.26.tar.gz")
EOF

export GIT_SSL_NO_VERIFY=1
cp ${JARVIS_DOWNLOAD}/monocle3-1.4.26.tar.gz .
tar --no-same-owner -xvf ${JARVIS_DOWNLOAD}/BPCells-0.3.1.tar.gz

Rscript install.R

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/monocle3
mkdir -p ${JOBDIR}

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_bma
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'
source env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
set -e
set -x
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load R/4.4.1-%#MYKGCCVER#%
module load udunits/2.2.28-%#MYKGCCVER#%
module load gdal/2.2.4-%#MYKGCCVER#%
module load proj/5.2.0-%#MYKGCCVER#%
module load hdf5-nompi/1.10.1-%#MYKGCCVER#%

if [ -d "monocle3-1.4.26" ]; then
rm -rf monocle3-1.4.26
fi
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/monocle3-1.4.26.tar.gz
cd monocle3-1.4.26/tests

time -p Rscript testthat.R
EOF

cat > ${JOBDIR}/monocle-3.0-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/monocle-3.0-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
