[SERVER]
11.11.11.11

[DOWNLOAD]
hycom/2.3.01 https://github.com/HYCOM/HYCOM-src/releases/download/2.3.01/HYCOM-src_2.3.01.tar.gz hycom-2.3.01.tar.gz

[DEPENDENCY]
set -e
set -x

yum install -y csh

./jarvis -install bisheng/4.1.0 com
module purge 
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

./jarvis -install hmpi/2.4.2 clang
module use ./software/moduledeps
module load bisheng4.1.0/hmpi/2.4.2 
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module use ./software/moduledeps
module load bisheng4.1.0/hmpi/2.4.2

CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/hycom-2.3.01/bin:$PATH

[APP]
app_name = HYCOM
build_dir = 
binary_dir = ${JARVIS_ROOT}/hycom-2.3.01/bin
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -zxvf ${JARVIS_DOWNLOAD}/hycom-2.3.01.tar.gz
cd HYCOM-src_2.3.01

sed -i '33c setenv  ARCH  xc40-gnu-relo' Make.csh
sed -i '35c setenv  TYPE  mpi' Make.csh
sed -i '27,31d' Make.csh
sed -i 's%FC            = ftn%FC            = mpif90%g' ${JARVIS_TMP}/HYCOM-src_2.3.01/config/xc40-gnu-relo_mpi
sed -i 's%-march=native -mavx -m64%-march=armv8.2-a%g' ${JARVIS_TMP}/HYCOM-src_2.3.01/config/xc40-gnu-relo_mpi
sed -i 's%cc%mpicc%g' ${JARVIS_TMP}/HYCOM-src_2.3.01/config/xc40-gnu-relo_mpi
sed -i 's%-O -m64%-O%g' ${JARVIS_TMP}/HYCOM-src_2.3.01/config/xc40-gnu-relo_mpi

./Make.csh

mkdir -p ${JARVIS_ROOT}/hycom-2.3.01/bin
cp hycom ${JARVIS_ROOT}/hycom-2.3.01/bin

[CLEAN]

[RUN]
run =
binary =
nodes = 1
