[SERVER]
11.11.11.11

[DOWNLOAD]
hycom/2.3.01 https://github.com/HYCOM/HYCOM-src/releases/download/2.3.01/HYCOM-src_2.3.01.tar.gz hycom-2.3.01.tar.gz

[DEPENDENCY]
set -e
set -x

yum install -y csh

./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}

export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`


export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
cd ${JARVIS_ROOT}/tmp
if [-d 'HYCOM-src_2.3.01' ];then
rm -rf HYCOM-src_2.3.01
fi
tar -zxvf ${JARVIS_DOWNLOAD}/hycom-2.3.01.tar.gz
[ENV]
module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule

module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}

[APP]
app_name = HYCOM
build_dir = ${JARVIS_ROOT}/tmp/HYCOM-src_2.3.01
binary_dir = ${JARVIS_ROOT}/apps/hycom-2.3.01/bin
case_dir =

[BUILD]
sed -i '33c setenv  ARCH  xc40-gnu-relo' Make.csh
sed -i '35c setenv  TYPE  mpi' Make.csh
sed -i '27,31d' Make.csh
sed -i 's%FC            = ftn%FC            = mpif90%g' config/xc40-gnu-relo_mpi
sed -i 's%-march=native -mavx -m64%-march=armv8.2-a%g' config/xc40-gnu-relo_mpi
sed -i 's%cc%mpicc%g' config/xc40-gnu-relo_mpi
sed -i 's%-O -m64%-O%g' config/xc40-gnu-relo_mpi

./Make.csh

mkdir -p ${JARVIS_ROOT}/apps/hycom-2.3.01/bin
cp hycom ${JARVIS_ROOT}/apps/hycom-2.3.01/bin

[CLEAN]

[RUN]
run = mpirun --mca btl_openib_allow_ib true --allow-run-as-root -np $(($(nproc)-1))
binary = ./hycom
nodes = 1
