[SERVER]
11.11.11.11

[DOWNLOAD]
lammps/2024.8.29 https://github.com/lammps/lammps/archive/stable_29Aug2024_update1.tar.gz

[DEPENDENCY]
yum install -y cmake make python gcc g++
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
module load bisheng/kml${HPCKIT_VERSION}/kml

[ENV]
module purge
module use software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
module load bisheng/kml${HPCKIT_VERSION}/kml

[APP]
app_name = lammps
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir =

[BUILD]
rm -rf lammps-stable_29Aug2024_update1
tar -xvf ${JARVIS_DOWNLOAD}/stable_29Aug2024_update1.tar.gz
cd lammps-stable_29Aug2024_update1/src
make yes-kspace yes-molecule yes-manybody yes-openmp yes-mc yes-misc
make mpi -j 

#ML-POD

cd ${JARVIS_ROOT}/lammps-stable_29Aug2024_update1/lib/linalg
python Install.py -m mpi
cd ${JARVIS_ROOT}/lammps-stable_29Aug2024_update1/lib/mlpod
python Install.py -m mpi
cd ${JARVIS_ROOT}/lammps-stable_29Aug2024_update1/src
make yes-ml-pod
make mpi -j

#ML-UF3,ML-SNAP,ML-RANN.ML-IAP

cd ${JARVIS_ROOT}/lammps-stable_29Aug2024_update1/src
make yes-ml-uf3 yes-ml-snap yes-ml-rann yes-ml-iap
cp ./ML-IAP/mliap_descriptor_ace.h ./
cp ./ML-IAP/mliap_descriptor.cpp ./
make -j mpi

#ML-PACE

cd ${JARVIS_ROOT}/lammps-stable_29Aug2024_update1/lib/pace
wget https://github.com/ICAMS/lammps-user-pace/archive/refs/tags/v.2023.11.25.fix2.tar.gz
tar xvf v.2023.11.25.fix2.tar.gz
python Install.py -b -l lammps-user-pace-v.2023.11.25.fix2
make clean
make lib
cd ${JARVIS_ROOT}/lammps-stable_29Aug2024_update1/src
make yes-ml-pace
make mpi -j LMP_INC="-DMLIAP_ACE"

#ML-HDNNP

cd ${JARVIS_ROOT}/lammps-stable_29Aug2024_update1/lib/hdnnp
python Install.py -b
cd n2p2-2.2.0/src
sed -i '17c\PROJECT_CFLAGS=-O3 -march=native -std=c++11 -fPIC' makefile.gnu
cd libnnp
make clean
make -j
cd ../libnnpif
make clean
make -j

cd ${JARVIS_ROOT}/lammps-stable_29Aug2024_update1/src
make yes-ml-hdnnp
make mpi -j


[RUN]
run =
binary =
nodes = 1

