[SERVER]
11.11.11.11

[DOWNLOAD]
copasi/4.27.217 https://codeload.github.com/copasi/COPASI/tar.gz/Build-217 COPASI-Build-217.tar.gz
copasi-dependencies/v4.26.213 https://codeload.github.com/copasi/copasi-dependencies/tar.gz/v4.26.213 copasi-dependencies-4.26.213.tar.gz

[DEPENDENCY]
set -e
set -x

./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module load hpckit${HPCKIT_VERSION}/gcc/compiler${GCC_VERSION}/gccmodule 

yum install qt.aarch64 qt-devel.aarch64 cmake make -y
cd ${JARVIS_TMP}
rm -rf COPASI-Build-217
tar -vzxf ${JARVIS_DOWNLOAD}/COPASI-Build-217.tar.gz

#wget https://codeload.github.com/copasi/copasi-dependencies/tar.gz/v4.26.213
tar -xvf ${JARVIS_DOWNLOAD}/copasi-dependencies-4.26.213.tar.gz
cd copasi-dependencies-4.26.213
./createLinux.sh
cp -r ./bin/lib64/* ./bin/lib
cd ..

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module load hpckit${HPCKIT_VERSION}/gcc/compiler${GCC_VERSION}/gccmodule

[APP]
app_name = copasi
build_dir = ${JARVIS_TMP}/COPASI-Build-217/
binary_dir = ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/COPASI-Build/4.27.217/bin/
case_dir = ${JARVIS_TMP}/COPASI-Build-217/TestSuite/events

[BUILD]
mkdir build
cd build
cmake -DBUILD_GUI=OFF -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/COPASI-Build/4.27.217 -DCOPASI_DEPENDENCY_DIR=${JARVIS_TMP}/copasi-dependencies-4.26.213/bin ../
make install


[CLEAN]
make clean

[RUN]
run =
binary = CopasiSE --nologo EventTest10.cps && cat EventTest10.1.txt
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
