[SERVER]
11.11.11.11

[DOWNLOAD]
copasi/4.27.217 https://codeload.github.com/copasi/COPASI/tar.gz/Build-217 COPASI-Build-217.tar.gz
copasi-dependencies/v4.26.213 https://codeload.github.com/copasi/copasi-dependencies/tar.gz/v4.26.213 v4.26.213

[DEPENDENCY]
set -e
set -x

module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1
yum install qt.aarch64 qt-devel.aarch64 -y
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
tar -vzxf ${JARVIS_DOWNLOAD}/COPASI-Build-217.tar.gz

#wget https://codeload.github.com/copasi/copasi-dependencies/tar.gz/v4.26.213
tar -xvf v4.26.213
cd copasi-dependencies-4.26.213
./createLinux.sh
cp -r ./bin/lib64/* ./bin/lib
cd ..

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[APP]
app_name = copasi
build_dir = ${JARVIS_ROOT}/COPASI-Build-217/
binary_dir = ${JARVIS_ROOT}/COPASI-Build-217/build/bin/
case_dir = ${JARVIS_ROOT}/COPASI-Build-217/TestSuite/events

[BUILD]
mkdir build
cd build
cmake -DBUILD_GUI=OFF -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/COPASI-Build-217/build -DCOPASI_DEPENDENCY_DIR=${JARVIS_ROOT}/copasi-dependencies-4.26.213/bin ../
make install


[CLEAN]
make clean

[RUN]
run =
binary = CopasiSE --nologo EventTest10.cps && cat EventTest10.1.txt
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
