[SERVER]
11.11.11.11

[DOWNLOAD]
#git clone https://github.com/pytorch/pytorch.git -b v1.9.0
pytorch-part00/1.9.0 https://github.com/yejianbang/pytorch-1.9.0-source/releases/download/pytorch-1.9.0-part00/pytorch-1.9.0.tar.gz.part00
pytorch-part01/1.9.0 https://github.com/yejianbang/pytorch-1.9.0-source/releases/download/pytorch-1.9.0-part01/pytorch-1.9.0.tar.gz.part01
pytorch-part02/1.9.0 https://github.com/yejianbang/pytorch-1.9.0-source/releases/download/pytorch-1.9.0-part02/pytorch-1.9.0.tar.gz.part02
case https://raw.githubusercontent.com/yejianbang/pytorch-case/refs/heads/main/pytorch_benchmark.py

[DEPENDENCY]
./jarvis -install package/anaconda3/2023.3 any

[ENV]
#!/bin/bash
source $JARVIS_ROOT/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh

mkdir -p $JARVIS_ROOT/case/pytorch

[APP]
app_name = pytorch 
build_dir =
binary_dir =
case_dir = $JARVIS_ROOT/case/pytorch

[BUILD]

conda create -n pytorch -y
conda activate pytorch
conda install python=3.6 -c conda-forge -y
cd $JARVIS_ROOT/tmp
rm -rf pytorch-1.9.0 
if [ ! -f "pytorch-1.9.0.tar.gz" ];then
 cat ${JARVIS_DOWNLOAD}/pytorch-1.9.0.tar.gz.part0* > pytorch-1.9.0.tar.gz
 rm -rf pytorch-1.9.0.tar.gz.part0*
fi
tar xvf ${JARVIS_DOWNLOAD}/pytorch-1.9.0.tar.gz
cd pytorch-1.9.0
export USE_MKLDNN=0
export USE_MKLDNN_ACL=0
export USE_CUDA=0
export USE_ROCM=0
export USE_GLOO=0
export USE_BLAS=1 BLAS=OpenBLAS USE_LAPACK=0 USE_MKLDNN_CBLAS=0
export USE_NUMPY=1 USE_NUMA=0
python3 -m pip install -r requirements.txt
python3 setup.py install
conda deactivate

[CLEAN]
rm -rf $JARVIS_ROOT/software/utils/anaconda3/2023.3/env/pytorch
rm -rf $JARVIS_ROOT/tmp/pytorch-1.9.0
rm -rf $JARVIS_ROOT/tmp/pytorch-1.9.0.tar.gz
rm -rf $JARVIS_ROOT/tmp/pytorch-1.9.0.tar.gz.part0*

[RUN]
run = 
binary = 
nodes = 1

[BATCH]
conda activate pytorch
if [ ! -f "pytorch_benchmark.py" ];then
 cp ${JARVIS_DOWNLOAD}/pytorch_benchmark.py.
fi
python pytorch_benchmark.py

[JOB]
#!/bin/sh
#DSUB -n compile_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=608
#DSUB -oo pytorch.%J.out
#DSUB -eo pytorch.%J.err
