[SERVER]
11.11.11.11

[DOWNLOAD]
circos/0.69-9 http://circos.ca/distribution/circos-0.69-9.tgz circos-0.69-9.tgz

[DEPENDENCY]
set -e

module purge
./jarvis -install package/anaconda3/2023.3 any
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh
tar -xzvf ${JARVIS_DOWNLOAD}/circos-0.69-9.tgz

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/anaconda3/2023.3/etc/profile.d/conda.sh

[APP]
app_name = circos
build_dir = ${JARVIS_ROOT}/circos-0.69-9/bin/
binary_dir = ${JARVIS_ROOT}/circos-0.69-9/bin/
case_dir = ${JARVIS_ROOT}/circos-0.69-9/example/

[BUILD]
conda create -n circos -y
conda activate circos
conda install -y conda-forge::perl
conda install -y nanoporetech::perl-gd conda-forge::perl-clone bioconda::perl-config-general conda-forge::perl-svg dnachun::perl-list-moreutils nanoporetech::perl-params-validate bioconda::perl-readonly bioconda::perl-statistics-basic bioconda::perl-text-format
cpan -i Math::Bezier Math::Round Font::TTF::Font Math::VecStat Regexp:Common Set::IntSpan
./list.modules
./test.modules
./circos -modules

[CLEAN]
make clean

[RUN]
run = conda activate circos &&
binary = circos -conf ./etc/circos.conf
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all

