[SERVER]
11.11.11.11

[DOWNLOAD]
OpenMolcas/24.10 ${JARVIS_PROXY}/Molcas/OpenMolcas/archive/refs/tags/v24.10.tar.gz OpenMolcas-24.10.tar.gz

[DEPENDENCY]
set -e
module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1
./jarvis -install hmpi/2.4.2 gcc
module load hmpi/2.4.2
./jarvis -install hdf5/1.12.1 gcc+mpi
module load hdf5/1.12.1
./jarvis -install lapack/3.10.1 gcc+mpi
module load lapack/3.10.1
./jarvis -install ga/5.8.2 gcc+mpi

mkdir -p ${JARVIS_ROOT}/software/app/openmolcas
mkdir -p ${JARVIS_ROOT}/software/app/openmolcas/case
tar -zxvf ${JARVIS_DOWNLOAD}/OpenMolcas-24.10.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load hmpi/2.4.2
module load hdf5/1.12.1
module load lapack/3.10.1
export GAROOT=${JARVIS_LIBS}/kgcc10.3.1/hmpi2.4.2/ga/5.8.2
export TMPDIR=${JARVIS_ROOT}/software/app/openmolcas/case

[APP]
app_name = openmolcas
build_dir = ${JARVIS_TMP_DOWNLOAD}/OpenMolcas-24.10
binary_dir = ${JARVIS_ROOT}/software/app/openmolcas
case_dir = ${JARVIS_ROOT}/software/app/openmolcas/case

[BUILD]
pip3 install pyparsing==3.2.0
rm -rf build/
mkdir build
cd build/
CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort cmake .. -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/app/openmolcas/ -DMPI_Fortran_COMPILER=mpifort -DMPI_C_COMPILER=mpicc -DMPI_CXX_COMPILER=mpicxx -DMPI=ON -DGA=ON -DLINALG=Manual -DLINALG_LIBRARIES="-L${JARVIS_LIBS}/kgcc10.3.1/hmpi2.4.2/lapack/3.10.1/lib64 -lblas -llapack"
make -j4
make install

#测试准备部分
cp -ar ../test/ ${JARVIS_ROOT}/software/app/openmolcas/

[CLEAN]
rm -rf ./*

[RUN]
#MOLCAS_NPROCS用于指定MPI并行核数
#MOLCAS_KEEP_WORKDIR每次计算完自动清空临时文件
run = export OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 MOLCAS_NPROCS=8 MOLCAS_KEEP_WORKDIR=NO &&
binary = pymolcas verify ../test/standard/004.input
nodes = 1
