[SERVER]
11.11.11.11

[DOWNLOAD]
siesta/4.0.2 https://launchpadlibrarian.net/379220821/siesta-4.0.2.tar.gz

[DEPENDENCY]
source /root/.bashrc
yum -y install python3-devel.aarch64
ln -s /usr/bin/python3 /usr/bin/python
export CC=mpicc CXX=mpicxx FC=mpifort
export CFLAGS="-Wno-implicit-function-declaration -Wno-implicit-int"
./jarvis -install lapack/3.8.0/bisheng clang
module use /hpcrunner/software/moduledeps/bisheng4.0.0/
export LAPACK_PATH=/hpcrunner/software/libs/bisheng4.0.0/lapack-bisheng/3.8.0/lib
module load lapack-bisheng/3.8.0
./jarvis -install openblas/0.3.18 clang
module load openblas/0.3.18
./jarvis -install scalapack/2.1.0/clang/ clang
module load scalapack-clang/2.1.0


[ENV]
export CC=mpicc CXX=mpicxx FC=mpifort
export PATH=/hpcrunner/siesta-4.0.2/bs_hmpi_compiler:$PATH


[APP]
app_name = siesta
build_dir = ${JARVIS_ROOT}
binary_dir = /hpcrunner/siesta/
case_dir =

[BUILD]
cd /hpcrunner/
tar xvf ${JARVIS_DOWNLOAD}/siesta-4.0.2.tar.gz
cd siesta-4.0.2
mkdir bs_hmpi_compiler
cd bs_hmpi_compiler
bash ../Src/obj_setup.sh
../Src/configure CC=mpicc CFLAGS='-O3 -march=armv8.2-a -mtune=tsv110 -Wno-implicit-function-declaration -Wno-implicit-int ' FC=mpifort FCFLAGS='-O3 -march=armv8.2-a -mtune=tsv110' --enable-mpi --build=arm-linux --prefix=/hpcrunner/siesta-4.0.2/bs_hmpi_compiler

sed -i "34c\OPENBLAS_LIBS=${JARVIS_ROOT}/software/libs/bisheng4.0.0/openblas/0.3.18/lib/libopenblas.a" arch.make

sed -i '35c\#BLAS_LIBS=-lblas' arch.make
sed -i '36c\#LAPACK_LIBS=-llapack' arch.make

sed -i "38c\SCALAPACK_LIBS=${JARVIS_ROOT}/software/libs/bisheng4.0.0/scalapack-clang/2.1.0/lib/libscalapack.a" arch.make

sed -i "39c\MATH_LIBS= -Wl,-rpath=${JARVIS_ROOT}/software/compiler/bisheng/3.2.0/lib -lmathlib -lm" arch.make

sed -i '45c\LIBS=$(SCALAPACK_LIBS) $(BLACS_LIBS) $(OPENBLAS_LIBS) $(NETCDF_LIBS) $(MATH_LIBS)' arch.make

cd ../Src/FoX/config
mv config.guess config.guess.bak
mv config.sub config.sub.bak
wget http://savannah.gnu.org/cgi-bin/viewcvs/*checkout*/config/config/config.guess
wget http://savannah.gnu.org/cgi-bin/viewcvs/*checkout*/config/config/config.sub
chmod +x config.guess
chmod +x config.sub
cd ../../../bs_hmpi_compiler
make



[RUN]
run =
binary =
nodes = 1

