[SERVER]
11.11.11.11

[DOWNLOAD]
siesta/4.0.2 https://launchpadlibrarian.net/379220821/siesta-4.0.2.tar.gz

[DEPENDENCY]
set -x
set -e
yum install python3-devel -y
module purge
./jarvis -install kgcc/9.3.1 com
module use ./software/modulefiles
module load kgcc/9.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install cmake/3.23.1 gcc
module load cmake/3.23.1
./jarvis -install hmpi/1.1.1 gcc
module load hmpi/1.1.1
./jarvis -install openblas/0.3.18 gcc
module load openblas/0.3.18
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which gfortran`
export F77=`which mpifort`
./jarvis -install lapack/3.8.0 gcc
module load lapack/3.8.0
export LAPACK_PATH=$JARVIS_LIBS/kgcc9.3.1/lapack/3.8.0/lib/
./jarvis -install scalapack/2.1.0 gcc
module load scalapack/2.1.0
cd ${JARVIS_TMP}
rm -rf siesta-4.0.2
tar xvf ${JARVIS_DOWNLOAD}/siesta-4.0.2.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/9.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
module load cmake/3.23.1
module load hmpi/1.1.1
module load openblas/0.3.18
module load lapack/3.8.0
export LAPACK_PATH=$JARVIS_LIBS/kgcc9.3.1/lapack/3.8.0/lib/
module load scalapack/2.1.0

[APP]
app_name = siesta
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/kgcc9.3.1/siesta/4.0.2
case_dir =

[BUILD]
cd ${JARVIS_TMP}
cd siesta-4.0.2
mkdir kpgcc_hmpi_compiler
cd kpgcc_hmpi_compiler
bash ../Src/obj_setup.sh
../Src/configure CC=mpicc CFLAGS='-O3 -march=armv8.2-a -mtune=tsv110' FC=mpifort FCFLAGS='-O3 -march=armv8.2-a -mtune=tsv110' --enable-mpi --build=arm-linux --prefix=${JARVIS_ROOT}/software/apps/kgcc9.3.1/siesta/4.0.2/kpgcc_hmpi_compiler

sed -i "34c\OPENBLAS_LIBS=${JARVIS_ROOT}/software/libs/kgcc9.3.1/openblas/0.3.18/lib/libopenblas.a" arch.make

sed -i '35c\#BLAS_LIBS=-lblas' arch.make
sed -i '36c\#LAPACK_LIBS=-llapack' arch.make

sed -i "38c\SCALAPACK_LIBS=${JARVIS_ROOT}/software/libs/kgcc9.3.1/scalapack/2.1.0/lib/libscalapack.a" arch.make

sed -i "39c\MATH_LIBS= -Wl,-rpath=${JARVIS_ROOT}/software/compiler/kgcc/9.3.1/lib64/libhpc -L${JARVIS_ROOT}/software/compiler/kgcc/9.3.1/lib64/libhpc -lmathlib -lm" arch.make

sed -i '45c\LIBS=$(SCALAPACK_LIBS) $(BLACS_LIBS) $(OPENBLAS_LIBS) $(NETCDF_LIBS) $(MATH_LIBS)' arch.make

cd ../Src/FoX/config
mv config.guess config.guess.bak
mv config.sub config.sub.bak

#wget http://savannah.gnu.org/cgi-bin/viewcvs/*checkout*/config/config/config.guess
#wget http://savannah.gnu.org/cgi-bin/viewcvs/*checkout*/config/config/config.sub

wget -O config.guess "https://raw.githubusercontent.com/gcc-mirror/gcc/master/config.guess"
wget -O config.sub "https://raw.githubusercontent.com/gcc-mirror/gcc/master/config.sub"

chmod +x config.guess
chmod +x config.sub
cd ../../../kpgcc_hmpi_compiler
make

[RUN]
run =
binary =
nodes = 1

