[SERVER]
11.11.11.11
 
[DOWNLOAD]
gromacs/2024.2 http://ftp.gromacs.org/gromacs/gromacs-2024.2.tar.gz
Testcase https://repository.prace-ri.eu/ueabs/GROMACS/2.2/GROMACS_TestCaseC.tar.xz
 
[DEPENDENCY]
yum install -y cmake
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/hmpi25.1.0/release
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
./jarvis -install fftw/3.3.8 clang+mpi
module use ./software/moduledeps/bisheng4.2.0.2-hmpi25.1.0
module load fftw/3.3.8
 
[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/hmpi25.1.0/release
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
module use ./software/moduledeps/bisheng4.2.0.2-hmpi25.1.0
module load fftw/3.3.8
 
[APP]
app_name = gromacs
build_dir = $JARVIS_TMP
binary_dir =
case_dir = $JARVIS_TMP/GROMACS_TestCaseC
 
[BUILD]
cd $JARVIS_TMP
rm -rf gromacs-2024.2 GROMACS_TestCaseC
tar -xf ${JARVIS_DOWNLOAD}/gromacs-2024.2.tar.gz
tar -xf ${JARVIS_DOWNLOAD}/GROMACS_TestCaseC.tar.xz
cd gromacs-2024.2
mkdir -p build
cd build
export KML_LIB_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/bisheng/lib
FFTW_ROOT=$FFTW_PATH
cmake ../ \
  -DCMAKE_INSTALL_PREFIX=$JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/gromacs-2024.2 \
  -DCMAKE_BUILD_TYPE=Release \
  -DGMX_MPI=ON \
  -DCMAKE_C_COMPILER=clang \
  -DCMAKE_CXX_COMPILER=clang++ \
  -DMPI_C_COMPILER=mpicc \
  -DMPI_CXX_COMPILER=mpicxx \
  -DGMX_INSTALL_LEGACY_API=ON \
  -DGMX_HWLOC=ON \
  -DGMX_OPENMP=ON \
  -DGMX_SIMD_ARM_SVE_LENGTH=256 \
  -DGMX_FFT_LIBRARY=fftw3 \
  -DFFTW_INCLUDE_DIR=$FFTW_ROOT/include \
  -DFFTWF_LIBRARY=$FFTW_ROOT/lib/libfftw3f.so \
  -DFFTW_LIBRARY=$FFTW_ROOT/lib/libfftw3.so \
  -DCMAKE_PREFIX_PATH="$FFTW_ROOT;$KML_LIB_PATH"
make -j $(nproc)
make install
 
[CLEAN]
rm -rf $JARVIS_TMP/gromacs-2024.2/build/*
 
[RUN]
run = mpirun -np 8 --allow-run-as-root -x UCX_TLS=sm --bind-to core -mca pml ucx -mca btl ^vader,tcp,openib,uct $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/gromacs-2024.2/bin/gmx_mpi mdrun -v -nsteps 4000 -pin on -pinoffset 0 -ntomp 1 -npme 2 -s stmv.28M.tpr
binary = 
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="gromacs-proformance.log"
tar -xf  ${JARVIS_DOWNLOAD}/GROMACS_TestCaseC.tar.xz
cd GROMACS_TestCaseC
>"$LOG_FILE"
#$RUN_TOOL "gromacs gmx_mpi" "mpirun --allow-run-as-root -np 128 gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 40 -g md_sve_0229-ucpg-bisheng.log -s stmv.28M.tpr" $LOG_FILE
mpirun --allow-run-as-root -np 128 gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 40 -g md_sve_0229-ucpg-bisheng.log -s stmv.28M.tpr

echo "All commands executed. Performance log saved to $LOG_FILE"

[JOB]
#!/bin/bash
#DSUB -n gmx
#DSUB --job_type cosched
#DSUB -N 1
#DSUB -R "cpu=128"
#DSUB -o gmx_%J.log
#DSUB -e gmx_err_%J.log

LOG_FILE="grpmacs-proformance.log"
tar -xf  ${JARVIS_DOWNLOAD}/GROMACS_TestCaseC.tar.xz
cd GROMACS_TestCaseC

>"$LOG_FILE"
$RUN_TOOL "gromacs gmx_mpi" "mpirun --allow-run-as-root -np 128 gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 40 -g md_sve_0229-ucpg-bisheng.log -s stmv.28M.tpr" $LOG_FILE

echo "ALL commands executed. Performance log saved to $LOG_FILE"

#mpirun -np 128 -x UCX_TLS=sm --bind-to cpulist:ordered -mca pml ucx -mca btl ^vader,tcp,openib,uct $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/gromacs-2024.2/bin/gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 8 -g 3-5-pme8-128C.log -s stmv.28M.tpr



