[SERVER]
11.11.11.11
 
[DOWNLOAD]
gromacs/2024.2 http://ftp.gromacs.org/gromacs/gromacs-2024.2.tar.gz
 
[DEPENDENCY]
module purge
./jarvis -install package/hpckit/${HPCKIT_VERSION}/ any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}

./jarvis -install package/openblas/0.3.28 bisheng
module load bisheng${BISHENG_VERSION}/openblas/0.3.28
./jarvis -install package/fftw/3.3.10 bisheng+mpi
module load bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/fftw/3.3.10

 
[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}
module load bisheng${BISHENG_VERSION}/openblas/0.3.28 bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/fftw/3.3.10
export PATH=$JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/gromacs-2024.2/bin:$PATH
 
[APP]
app_name = gromacs
build_dir = $JARVIS_TMP 
binary_dir = $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/gromacs-2024.2/bin
case_dir = $JARVIS_TMP 
 
[BUILD]
cd $JARVIS_TMP
tar -xf ${JARVIS_DOWNLOAD}/gromacs-2024.2.tar.gz
cd gromacs-2024.2
mkdir -p build
cd build
export OPENBLAS_PATH=${JARVIS_ROOT}/software/libs/bisheng${BISHENG_VERSION}/openblas/0.3.28

cmake ../ -DCMAKE_INSTALL_PREFIX=$JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/gromacs-2024.2 -DCMAKE_BUILD_TYPE=Release -DGMX_MPI=ON -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DMPI_C_COMPILER=mpicc -DMPI_CXX_COMPILER=mpicxx -DGMX_INSTALL_LEGACY_API=ON -DGMX_HWLOC=ON -DGMX_EXTERNAL_LAPACK=ON -DGMX_LAPACK_USER=$OPENBLAS_PATH/lib/libopenblas.a -DGMX_EXTERNAL_BLAS=ON -DGMX_BLAS_USER=$OPENBLAS_PATH/lib/libopenblas.a -DGMX_SIMD=ARM_NEON_ASIMD -DGMX_OPENMP=ON -DGMX_FFT_LIBRARY=fftw3 -DFFTWF_LIBRARY=/nfs02/home/lj/hpcrunner/software/libs/bisheng${BISHENG_VERSION}/fftw/3.3.10/lib/libfftw3f.a -DCMAKE_CXX_FLAGS="-lflang"  -DCMAKE_VERBOSE_MAKEFILE=ON 
make -j verbose=1
make install
 
[CLEAN]
rm -rf $JARVIS_TMP/gromacs-2024.2/build/*
 
[RUN]
run =
binary = mpirun -np 128 --allow-run-as-root -x UCX_TLS=sm --bind-to cpulist:ordered -mca pml ucx -mca btl ^vader,tcp,openib,uct $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/gromacs-2024.2/bin/gmx_mpi mdrun -dlb yes -v -nsteps 4000 -noconfout -pin on -pinoffset 0 -ntomp 1 -npme 40 -g md_sve_0229-ucpg-bisheng.log -s stmv.28M.tpr
nodes = 1



