[SERVER]
11.11.11.11

[DOWNLOAD]
MITgcm/c67o http://mitgcm.org/download/other_checkpoints/MITgcm_c67o.tar.gz

[DEPENDENCY]
export CC=mpicc FC=mpifort CXX=mpicxx

sed -i '10c ./configure --prefix=$1 --enable-fortran --enable-static=yes --enable-parallel --enable-shared CFLAGS="-O3 -fPIC -Wno-incompatible-pointer-types-discards-qualifiers -Wno-non-literal-null-conversion -Wno-int-conversion -Wno-implicit-int -Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types" FCFLAGS="-O3 -fPIC" LDFLAGS="-Wl,--build-id"' package/hdf5/1.10.1/clang/install.sh
./jarvis -install package/hdf5/1.10.1/clang/ bisheng+mpi
module use /hpcrunner/software/moduledeps
module add bisheng4.0.0-hmpi2.4.1/hdf5-clang/1.10.1
./jarvis -install package/pnetcdf/1.12.3 bisheng+mpi
module add bisheng4.0.0-hmpi2.4.1/pnetcdf/1.12.3
./jarvis -install package/netcdf/4.7.4/clang/ bisheng+mpi
module add bisheng4.0.0-hmpi2.4.1/netcdf-clang/4.7.4

[ENV]
module use /hpcrunner/software/moduledeps
module add bisheng4.0.0-hmpi2.4.1/hdf5-clang/1.10.1
module add bisheng4.0.0-hmpi2.4.1/pnetcdf/1.12.3
module add bisheng4.0.0-hmpi2.4.1/netcdf-clang/4.7.4
export HMPI_PATH=/hpcrunner/HPCKit/24.6.30/hmpi/bisheng/hmpi
export HDF5_DIR=$HDF5_CLANG_PATH
export NETCDF_DIR=$NETCDF_CLANG_PATH
export PNETCDF_DIR=$PNETCDF_PATH
export PATH=/hpcrunner/MITgcm/verification/exp4/run:$PATH

[APP]
app_name = 
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/MITgcm/verification/exp4/run
case_dir =

[BUILD]

rm MITgcm -rf
tar -xvf ${JARVIS_DOWNLOAD}/MITgcm_c67o.tar.gz
cd MITgcm
sed -i '13c CFLAGS="-O3 -Wno-implicit-int -Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types -mcpu=linxicore9100  -mllvm -force-customized-pipeline=true " ' ${JARVIS_ROOT}/templates/MITGCM/c67o/linux_arm64_gfortran
cp ${JARVIS_ROOT}/templates/MITGCM/c67o/linux_arm64_gfortran tools/build_options
rm verification/exp4/code/SIZE.h -f
mv verification/exp4/code/SIZE.h_mpi verification/exp4/code/SIZE.h
cd verification/exp4/build
../../../tools/genmake2 -mods=../code -mpi -of=../../../tools/build_options/linux_arm64_gfortran
make depend
make
cp mitgcmuv  ../run/

[RUN]
run =
binary =
nodes = 1

