[SERVER]
11.11.11.11

[DOWNLOAD]
MITgcm/c67o http://mitgcm.org/download/other_checkpoints/MITgcm_c67o.tar.gz

[DEPENDENCY]
yum install -y make
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/1.1.1 bisheng
module use ./software/moduledeps/bisheng2.1.0
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install hdf5/1.10.1/clang clang+mpi
module use ./software/moduledeps/bisheng2.1.0-hmpi1.1.1
module load hdf5-clang/1.10.1
./jarvis -install pnetcdf/1.12.3 clang+mpi
module load pnetcdf/1.12.3
./jarvis -install netcdf/4.7.4/clang clang+mpi
module load netcdf-clang/4.7.4

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
module use ./software/moduledeps/bisheng2.1.0
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort
module use ./software/moduledeps/bisheng2.1.0-hmpi1.1.1
module load hdf5-clang/1.10.1
module load pnetcdf/1.12.3
module load netcdf-clang/4.7.4
export HDF5_DIR=$HDF5_CLANG_PATH
export NETCDF_DIR=$NETCDF_CLANG_PATH
export PNETCDF_DIR=$PNETCDF_PATH
export PATH=${JARVIS_ROOT}/MITgcm/verification/exp4/run:$PATH

[APP]
app_name =
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/MITgcm/verification/exp4/run
case_dir =

[BUILD]

rm -rf MITgcm
tar -xvf ${JARVIS_DOWNLOAD}/MITgcm_c67o.tar.gz
cd MITgcm
cp ${JARVIS_ROOT}/templates/MITGCM/c67o/linux_arm64_gfortran tools/build_options
rm verification/exp4/code/SIZE.h -f
mv verification/exp4/code/SIZE.h_mpi verification/exp4/code/SIZE.h
cd verification/exp4/build
../../../tools/genmake2 -mods=../code -mpi -of=../../../tools/build_options/linux_arm64_gfortran
make depend
make
cp mitgcmuv  ../run/

[RUN]
run =
binary =
nodes = 1

