[SERVER]
11.11.11.11

[DOWNLOAD]
likwid/5.2.2 https://github.com/RRZE-HPC/likwid/archive/refs/tags/v5.2.2.tar.gz likwid-5.2.2.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
tar xf ${JARVIS_DOWNLOAD}/likwid-5.2.2.tar.gz
mkdir -p LIKWID

[ENV]
module purge
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[APP]
app_name = likwid 
build_dir = ${JARVIS_ROOT}/likwid-5.2.2/
binary_dir = ${JARVIS_ROOT}/LIKWID/bin/
case_dir = ${JARVIS_ROOT}/LIKWID/bin/

[BUILD]
sed -i '11s/GCC/GCCARMv8/' config.mk
sed -i.bak "14s@/usr/local@${JARVIS_ROOT}/LIKWID@" config.mk
make -j$(nproc)
make install
export PATH=${JARVIS_ROOT}/LIKWID/bin:$PATH

[CLEAN]
make clean

[RUN]
run = likwid-perfctr
binary = 
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
