[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load bisheng/kml25.1.0.SPC001/kml
module load bisheng/kupl25.1.0.SPC001/release 
./jarvis -install openblas/0.3.18/clang clang
module load openblas-clang/0.3.18-%#MYKBSVER#%

export LAPACK_CLANG_PATH=${OPENBLAS_CLANG_PATH}
./jarvis -install scalapack/2.1.0/openblas bisheng+mpi
module load scalapack-openblas/2.1.0-%#MYKBSVER#%-%#MYKMPIVER#%

./jarvis -install fftw/3.3.8 bisheng+mpi
module load fftw/3.3.8-%#MYKBSVER#%-%#MYKMPIVER#%
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load bisheng/kml25.1.0.SPC001/kml
module load bisheng/kupl25.1.0.SPC001/release
module load openblas-clang/0.3.18-%#MYKBSVER#%
module load scalapack-openblas/2.1.0-%#MYKBSVER#%-%#MYKMPIVER#%
module load fftw/3.3.8-%#MYKBSVER#%-%#MYKMPIVER#%


[APP]
fake = 0
app_name = vasp
app_version = 6.3.2
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/vasp/6.3.2-%#MYKBSVER#%-%#MYKMPIVER#%
binary_dir = ${JARVIS_APP}/vasp/6.3.2-%#MYKBSVER#%-%#MYKMPIVER#%
case_dir = ${JARVIS_JOBSCRIPT}/vasp/6.3.2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1

####### build prepare
set +x && echo_info "build prepare!!!" && set -x


build_mod_check "${BUILD_DIR}/vasp.6.3.2/bin/vasp_std" "prompt"

####  build
echo "build start"
mkdir -p ${BUILD_DIR}/lib
mkdir -p ${BUILD_DIR}/bin
cp ${JARVIS_DOWNLOAD}/libkupl_adapter.so  ${BUILD_DIR}/lib -ar
cp ${JARVIS_DOWNLOAD}/libkubd.so  ${BUILD_DIR}/lib -ar
cp ${JARVIS_DOWNLOAD}/vasp_std_v632 ${BUILD_DIR}/bin/ -ar
chmod +x ${BUILD_DIR}/bin/vasp_std_v632

echo "build done!!!"

#### install jobsript for case test
####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/vasp/6.3.2
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load vasp/6.3.2-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOBDIR}/env.sh


cat >  ${JOBDIR}/run_hbm.sh << EOF
#!/bin/sh

memid=\$(expr \${OMPI_COMM_WORLD_LOCAL_RANK} / 1)
memid=\$(expr \$memid + 16)
numactl --all -m ${memid} vasp_std_v632
EOF

cat >  ${JOBDIR}/myrankfile_8_36 << EOF
rank 0 =localhost slots= 2-37
rank 1 =localhost slots= 40-75
rank 2 =localhost slots= 78-113
rank 3 =localhost slots= 116-151
rank 4 =localhost slots= 154-189
rank 5 =localhost slots= 192-227
rank 6 =localhost slots= 230-265
rank 7 =localhost slots= 268-303
EOF

cat > ${JOBDIR}/job_run.sh << EOF
source ./env.sh
cd job_work/ustc661
{ mpirun --allow-run-as-root -np 8 --rankfile myrankfile_8_36 -x OMP_NUM_THREADS=36 -x UCX_TLS=self,sm -x KML_BLAS_NOT_USE_HBM=1 -x KML_FFT_NOT_USE_HBM=1 -x KML_BLAS_THREAD_TYPE=OMP -x KML_FFT_THREAD_TYPE=KUPL --mca rmaps_rank_file_physical true ../run_hbm.sh ; } 2>&1 | tee tee_out.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd local_work/ustc661
{ mpirun --allow-run-as-root -np 8 --rankfile myrankfile_8_36 -x OMP_NUM_THREADS=36 -x UCX_TLS=self,sm -x KML_BLAS_NOT_USE_HBM=1 -x KML_FFT_NOT_USE_HBM=1 -x KML_BLAS_THREAD_TYPE=OMP -x KML_FFT_THREAD_TYPE=KUPL --mca rmaps_rank_file_physical true ../run_hbm.sh ; } 2>&1 | tee tee_out.xlog
EOF


cat > ${JOBDIR}/vasp-6.3.2-run.sh << EOF
#!/bin/bash
mkdir -p local_work
mkdir -p job_work
cp ${JARVIS_DOWNLOAD}/ustc661  ${JOBDIR}/local_work -ar
cp ${JARVIS_DOWNLOAD}/ustc661  ${JOBDIR}/job_work -ar
source env.sh
./local_run.sh
dsub -s job_run.sh

EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/vasp-6.3.2-run.sh

set +x && echo_info "Install done!!!" && set -x



echo "Install done!!!"

[RUN]
