[SERVER]
11.11.11.11

[DOWNLOAD]
Oatom/7a https://www.vasp.at/wiki/images/7/7a/Oatom.tgz Oatom.tgz

[DEPENDENCY]
set -e

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

./jarvis -install openblas/0.3.18/clang clang
module load openblas-clang/0.3.18-%#MYKBSVER#%

export LAPACK_CLANG_PATH=${OPENBLAS_CLANG_PATH}
./jarvis -install scalapack/2.1.0/openblas bisheng+mpi
module load scalapack-openblas/2.1.0-%#MYKBSVER#%-%#MYKMPIVER#%-openblas0.3.18

./jarvis -install fftw/3.3.8 bisheng+mpi
module load fftw/3.3.8-%#MYKBSVER#%-%#MYKMPIVER#%
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load openblas-clang/0.3.18-%#MYKBSVER#%
module load scalapack-openblas/2.1.0-%#MYKBSVER#%-%#MYKMPIVER#%-openblas0.3.18 
module load fftw/3.3.8-%#MYKBSVER#%-%#MYKMPIVER#%

[APP]
fake = 0
app_name = vasp
app_version = 6.3.2
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/vasp/6.3.2-%#MYKBSVER#%-%#MYKMPIVER#%
binary_dir = ${JARVIS_APP}/vasp/6.3.2-%#MYKBSVER#%-%#MYKMPIVER#%
case_dir = ${JARVIS_JOBSCRIPT}/vasp/6.3.2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

if true; then
build_mod_check "${BUILD_DIR}/vasp.6.3.2/bin/vasp_std" "prompt"
####### build start
set +x && echo_info "build start" && set -x

install_path=$1

if [ ! -d "$install_path/vasp.6.3.2" ]; then
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/vasp.6.3.2.tgz -C $install_path
fi

cd $install_path/vasp.6.3.2

cp ${JARVIS_ROOT}/templates/vasp/5.4.4/makefile.include ./

export OPENBLAS_PATH=${OPENBLAS_CLANG_PATH}
export SCALAPACK_CLANG_PATH=${SCALAPACK_OPENBLAS_PATH}

make std

fi
####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/vasp/6.3.2
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load vasp/6.3.2-%#MYKBSVER#%-%#MYKMPIVER#%" >> ${JOBDIR}/env.sh

cp ${JARVIS_DOWNLOAD}/Oatom.tgz ${JOBDIR}/ -ar
cp ${JARVIS_ROOT}/dataconfig_patches/vasp/6.3.2/ustc661 ${JOBDIR}/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_vasp
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o vasp_out_%J.log
#DSUB -e vasp_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.vasp
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cd job_work/ustc661
{ time  -p mpirun  --hostfile $HOSTFILE -np 128 --cpu-list 0-127 -x OMP_NUM_THREADS=1 -bind-to core --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 -x UCX_TLS=self,sm  vasp_std  ; } 2>&1 | tee tee_out.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd local_work/ustc661
{ time -p mpirun --allow-run-as-root -np 128 --cpu-list 0-127 -x OMP_NUM_THREADS=1 -bind-to core --mca coll ^ucg -mca pml ucx -mca btl ^vader,tcp,openib,uct -mca io romio321 -x UCX_TLS=self,sm  vasp_std  ; } 2>&1 | tee tee_out.xlog
EOF


cat > ${JOBDIR}/vasp-6.3.2-run.sh << EOF
#!/bin/bash
source env.sh
mkdir -p local_work
mkdir -p job_work
if [ ! -d local_work/ustc661 ]; then
cp ustc661 ./local_work -ar
fi
if [ ! -d job_work/ustc661 ]; then
cp ustc661 ./job_work -ar
fi
./local_run.sh
dsub -s job_run.sh

EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/vasp-6.3.2-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
