[SERVER]
11.11.11.11

[DOWNLOAD]
hefei-namd/master ${JARVIS_PROXY}/QijingZheng/Hefei-NAMD/archive/refs/heads/master.zip Hefei-NAMD-master.zip

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0

unzip ${JARVIS_DOWNLOAD}/Hefei-NAMD-master.zip -d ${JARVIS_TMP_DOWNLOAD}
mkdir -p ${JARVIS_ROOT}/software/apps/hefei-namd/bin

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

[APP]
app_name = hefei-namd
build_dir = ${JARVIS_TMP_DOWNLOAD}/Hefei-NAMD-master/src/dish
binary_dir = ${JARVIS_ROOT}/software/apps/hefei-namd/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/Hefei-NAMD-master/doc/training_2020/example/results/namd/

[BUILD]
sed -i '4c FC= flang' Makefile
make
cp -ar dish ${JARVIS_ROOT}/software/apps/hefei-namd/bin
cd ../namd/
sed -i '4c FC= flang -assume byterecl' Makefile
sed -i '5c FC= flang' Makefile
make
cp -ar namd ${JARVIS_ROOT}/software/apps/hefei-namd/bin
cd ../namdK/
sed -i '4c FC= flang' Makefile
sed -i '6c FFLAGS= -g -O2 -fIntel-compatibility' Makefile
make
cp -ar namdk ${JARVIS_ROOT}/software/apps/hefei-namd/bin

sed -i 's/! LCPEXT/  LCPEXT/' ../../doc/training_2020/example/results/namd/inp

[CLEAN]

[RUN]
run = time
binary = namd
nodes = 1
