[SERVER]
11.11.11.11

[DOWNLOAD]
mybayes/3.2.7 https://github.com/NBISweden/MrBayes/releases/download/v3.2.7/mrbayes-3.2.7.tar.gz develop.zip

[DEPENDENCY]
set -e
set -x
yum install readline-devel make cmake -y
module purge
./jarvis -install kgcc/10.3.1 com
module use software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
mkdir -p mybayes
tar -vzxf ${JARVIS_DOWNLOAD}/develop.zip

[ENV]
module purge
module use software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[APP]
app_name = mybayes
build_dir = ${JARVIS_ROOT}/mrbayes-3.2.7/
binary_dir = ${JARVIS_ROOT}/mybayes/bin/
case_dir = ${JARVIS_ROOT}/mybayes/bin/

[BUILD]
sed -i '43i#include <readline/readline.h>\n#include <readline/history.h>' ./src/bayes.c
./configure --prefix=${JARVIS_ROOT}/mybayes --with-readline
make
make install

[CLEAN]
make clean

[RUN]
run =
binary = mb
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all
