[SERVER]
11.11.11.11

[DOWNLOAD]
mybayes/3.2.7a https://github.com/NBISweden/MrBayes/archive/refs/heads/develop.zip

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install kgcc/10.3.1 com
module use software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
mkdir -p mybayes
unzip ${JARVIS_DOWNLOAD}/develop.zip

[ENV]
module purge
module use software/modulefiles
module load kgcc/10.3.1

[APP]
app_name = diamond
build_dir = ${JARVIS_ROOT}/MrBayes-develop/
binary_dir = ${JARVIS_ROOT}/mybayes/bin/
case_dir = ${JARVIS_ROOT}/mybayes/bin/

[BUILD]
./configure --prefix=${JARVIS_ROOT}/mybayes
make
make install

[CLEAN]
make clean

[RUN]
run =
binary = mb
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all

