[SERVER]
11.11.11.11

[DOWNLOAD]
blast/2.13.0 https://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/LATEST/ncbi-blast-2.13.0+-src.tar.gz
LMDB/0.9.24 $JARVIS_PROXY/LMDB/lmdb/archive/refs/tags/LMDB_0.9.24.tar.gz

[DEPENDENCY]
module purge
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/2.1.0
module load hmpi/1.1.1
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = blast
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/bisheng2.1.0/blast/2.13.0
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/ncbi-blast-2.13.0+-src.tar.gz
cd ncbi-blast-2.13.0+-src
export BLASE_TOP=`pwd`
tar -xvf ${JARVIS_DOWNLOAD}/LMDB_0.9.24.tar.gz
export LMDB_PATH=$BLASE_TOP/lmdb-LMDB_0.9.24
cd $BLASE_TOP/c++
./configure
cd ReleaseMT/build
make all_r -j40


[RUN]
run =
binary =
nodes = 1

