[SERVER]
11.11.11.11

[DOWNLOAD]
lammps/2023.8.2 https://download.lammps.org/tars/lammps-2Aug2023.tar.gz

[DEPENDENCY]
yum install -y cmake make
module purge
./jarvis -install bisheng/3.2.0 com
module use ./software/modulefiles
module load bisheng/3.2.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/2.3.0 bisheng
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
./jarvis -install fftw/3.3.10 bisheng
module load fftw/3.3.10
./jarvis -install kml/2.4.0/bisheng bisheng
module load kml-bisheng/2.4.0

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/3.2.0
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
module load fftw/3.3.10
module load kml-bisheng/2.4.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
export PATH=/hpcrunner/tmp/lammps-2Aug2023/src:$PATH

[APP]
app_name = lammps
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/bisheng/lammps/2023.8.2
case_dir =

[BUILD]
cd ${JARVIS_ROOT}/tmp
tar -xvf ${JARVIS_DOWNLOAD}/lammps-2Aug2023.tar.gz
cd lammps-2Aug2023/src
sed -i '10c\CCFLAGS = -g -O3 -fopenmp -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true -I${JARVIS_ROOT}/software/compiler/bisheng/3.2.0/include/c++/v1 -L${JARVIS_ROOT}/software/compiler/bisheng/3.2.0/lib -std=c++11 -stdlib=libc++ -lc++ -lc++abi'   MAKE/Makefile.mpi
sed -i '15c\LINKFLAGS =  -g -O3 -fopenmp -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true -L${JARVIS_ROOT}/software/compiler/bisheng/3.2.0/lib -std=c++11 -stdlib=libc++ -lc++ -lc++abi'   MAKE/Makefile.mpi
sed -i '53c\FFT_INC = -DFFT_FFTW -I${JARVIS_ROOT}/software/libs/bisheng3.2.0/fftw/3.3.10/include ' MAKE/Makefile.mpi
sed -i '54c\FFT_PATH = -L${JARVIS_ROOT}/software/libs/bisheng3.2.0/fftw/3.3.10/lib'  MAKE/Makefile.mpi
sed -i '55c\FFT_LIB = -lfftw3_omp -lfftw3' MAKE/Makefile.mpi
make yes-KSPACE
make yes-MPIIO
make yes-MOLECULE
make yes-MANYBODY
make mpi -j



[RUN]
run =
binary =
nodes = 1

