[SERVER]
11.11.11.11

[DOWNLOAD]
lammps/2023.8.2 https://download.lammps.org/tars/lammps-2Aug2023.tar.gz

[DEPENDENCY]
module purge
./jarvis -install package/hpckit/2025.3.30/ any
module use ${JARVIS_ROOT}/software/utils/hpckit/2025.3.30/HPCKit/latest/modulefiles
module load bisheng/compiler4.2.0/bishengmodule bisheng/hmpi25.0.0/hmpi bisheng/kml25.0.0/kml

export CC=mpicc FC=mpifort CXX=mpicxx


[ENV]
module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/2025.3.30/HPCKit/latest/modulefiles
module load bisheng/compiler4.2.0/bishengmodule bisheng/hmpi25.0.0/hmpi bisheng/kml25.0.0/kml

[APP]
app_name = lmp_mpi
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/lammps-2Aug2023/src
case_dir =

[BUILD]
cd ${JARVIS_ROOT}
mkdir -p ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/
cd ${JARVIS_ROOT}/software/apps/bisheng4.1.0-hmpi2.4.3/
tar -xvf ${JARVIS_DOWNLOAD}/lammps-2Aug2023.tar.gz
cd lammps-2Aug2023/src
HPCKIT=${JARVIS_ROOT}/software/utils/hpckit/2025.3.30/HPCKit
sed -i "10c\CCFLAGS = -g -O3 -fopenmp -mcpu=hip09 -mllvm -force-customized-pipeline=true -I${HPCKIT}/latest/compiler/bisheng/include/c++/v1 -L${JARVIS_ROOT}/software/utils/hpckit/24.0.0/HPCKit/latest/compiler/bisheng/lib -std=c++11 -stdlib=libc++ -lc++ -lc++abi"   MAKE/Makefile.mpi
sed -i "15c\LINKFLAGS =  -g -O3 -fopenmp -mcpu=hip09 -mllvm -force-customized-pipeline=true -L${HPCKIT}/latest/compiler/bisheng/lib -std=c++11 -stdlib=libc++ -lc++ -lc++abi"   MAKE/Makefile.mpi
sed -i "53c\FFT_INC = -I${HPCKIT}/latest/kml/bisheng/include" MAKE/Makefile.mpi
sed -i "54c\FFT_PATH = -L${HPCKIT}/latest/kml/bisheng/lib/${kp}"  MAKE/Makefile.mpi
sed -i '55c\FFT_LIB = -lkfft_omp -lkfft' MAKE/Makefile.mpi

make yes-KSPACE
make yes-MPIIO
make yes-MOLECULE
make yes-MANYBODY
make yes-RIGID
make yes-OPENMP
make mpi -j


[CLEAN]
rm -rf $JARVIS_ROOT/software/apps/bisheng4.1.0-hmpi2.4.3/lammps-2Aug2023

[RUN]
run =
binary = lmp_mpi
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="lammps-proformance.log"

>"$LOG_FILE"

$RUN_TOOL "lmp_mpi" "mpirun --allow-run-as-root -np 128 lmp_mpi -i XXXX" $LOG_FILE
#mpirun --allow-run-as-root -np 128 lmp_mpi -i XXXXX

echo "All commands executed. Performance log saved to $LOG_FILE"

[JOB]
#!/bin/sh
#DSUB -n lammps_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo out.%J.out
#DSUB -oe error.%J.err

LOG_FILE="lammps-proformance.log"

>"$LOG_FILE"

$RUN_TOOL "lmp_mpi" "mpirun --allow-run-as-root -np 128 lmp_mpi -i XXXX" $LOG_FILE

echo "All commands executed. Performance log saved to $LOG_FILE"


