[SERVER]
11.11.11.11

[DOWNLOAD]
lammps/2023.8.2 https://download.lammps.org/tars/lammps-2Aug2023.tar.gz

[DEPENDENCY]
yum install -y cmake make
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/latest/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install fftw/3.3.10 clang+mpi
module use software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load fftw/3.3.10

[ENV]
module purge
module use software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/latest/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module use software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load fftw/3.3.10
export PATH=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/lammps/2023.8.2/bin:$PATH

[APP]
app_name = lammps
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/lammps/2023.8.2/bin
case_dir =

[BUILD]
rm -rf lammps-2Aug2023
tar -xvf ${JARVIS_DOWNLOAD}/lammps-2Aug2023.tar.gz
cd lammps-2Aug2023
cd cmake/presets
cp basic.cmake custom.cmake
sed -i '4s/.*/set(ALL_PACKAGES KSPACE MANYBODY MOLECULE RIGID GRANULAR)/' custom.cmake
cd ../../
mkdir build
cd build
cmake -C ../cmake/presets/custom.cmake ../cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS_RELEASE="-O3 -ffp-contract=off -DNDEBUG" -DLAMMPS_MACHINE=mpi -DFFTW3_INCLUDE_DIR=${JARVIS_ROOT}/software/libs/bisheng4.2.0.2-hmpi25.1.0/fftw/3.3.10/include -DFFTW3_LIBRARY="${JARVIS_ROOT}/software/libs/bisheng4.2.0.2-hmpi25.1.0/fftw/3.3.10/lib/libfftw3.a" -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}/lammps/2023.8.2
make -j16
make install

[RUN]
run =
binary =lmp_mpi -h | cat
nodes = 1

