[SERVER]
11.11.11.11

[DOWNLOAD]
lammps/2023.8.2 https://download.lammps.org/tars/lammps-2Aug2023.tar.gz

[DEPENDENCY]
yum install -y cmake make libatomic
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
module load bisheng/kml${HPCKIT_VERSION}/kml
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install fftw/3.3.10 bisheng
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load fftw/3.3.10

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load bisheng/kml${HPCKIT_VERSION}/kml
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
export PATH=/hpcrunner/tmp/lammps-2Aug2023/src:$PATH
module load fftw/3.3.10

[APP]
app_name = lammps
build_dir = ${JARVIS_TMP}
binary_dir = ${JARVIS_TMP}/lammps-2Aug2023/src
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/lammps-2Aug2023.tar.gz
cd lammps-2Aug2023/src
sed -i '10c\CCFLAGS = -g -O3 -fopenmp -mcpu=hip09 -mllvm -force-customized-pipeline=true -I${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/compiler/bisheng/include/c++/v1 -L${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/compiler/bisheng/lib -std=c++11 -stdlib=libc++ -lc++ -lc++abi'   MAKE/Makefile.mpi
sed -i '15c\LINKFLAGS =  -g -O3 -fopenmp -mcpu=hip09 -mllvm -force-customized-pipeline=true -L${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/compiler/bisheng/lib -std=c++11 -stdlib=libc++ -lc++ -lc++abi'   MAKE/Makefile.mpi
sed -i '53c\FFT_INC = -DFFT_FFTW -I${JARVIS_ROOT}/software/libs/bisheng${BISHENG_VERSION}/fftw/3.3.10/include ' MAKE/Makefile.mpi
sed -i '54c\FFT_PATH = -L${JARVIS_ROOT}/software/libs/bisheng${BISHENG_VERSION}/fftw/3.3.10/lib'  MAKE/Makefile.mpi
sed -i '55c\FFT_LIB = -lfftw3_omp -lfftw3' MAKE/Makefile.mpi
make yes-KSPACE
make yes-MPIIO
make yes-MOLECULE
make yes-MANYBODY
make mpi -j



[RUN]
run =
binary =lmp_mpi -h | cat
nodes = 1

