[SERVER]
11.11.11.11

[DOWNLOAD]
lammps/2023.8.2 https://download.lammps.org/tars/lammps-2Aug2023.tar.gz

[DEPENDENCY]
yum install -y cmake make
module purge
./jarvis -install hpckit/2024.12.30 any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install fftw/3.3.10 gcc+mpi
module use software/moduledeps/gcc12.3.1-hmpi2.4.3
module load fftw/3.3.10

[ENV]
module purge
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
module use software/moduledeps/gcc12.3.1-hmpi2.4.3
module load fftw/3.3.10
export PATH=/hpcrunner/tmp/lammps-2Aug2023/src:$PATH

[APP]
app_name = lammps
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/bisheng/lammps/2023.8.2
case_dir =

[BUILD]
rm -rf lammps-2Aug2023
tar -xvf ${JARVIS_DOWNLOAD}/lammps-2Aug2023.tar.gz
cd lammps-2Aug2023
cd cmake/presets
cp basic.cmake custom.cmake
sed -i '4s/.*/set(ALL_PACKAGES KSPACE MANYBODY MOLECULE RIGID GRANULAR)/' custom.cmake
cd ../../
mkdir build
cd build
cmake -C ../cmake/presets/custom.cmake ../cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS_RELEASE="-O3 -ffp-contract=off -DNDEBUG" -DLAMMPS_MACHINE=mpi -DFFTW3_INCLUDE_DIR=${JARVIS_ROOT}/software/libs/gcc12.3.1/hmpi2.4.3/fftw/3.3.10/include -DFFTW3_LIBRARY="${JARVIS_ROOT}/software/libs/gcc12.3.1/hmpi2.4.3/fftw/3.3.10/lib/libfftw3.a"
make -j16
make install

[RUN]
run =
binary =
nodes = 1

