[SERVER]
11.11.11.11

[DOWNLOAD]
#dealii/9.5.2 $JARVIS_PROXY/dealii/dealii/releases/download/v9.5.2/dealii-9.5.2.tar.gz

[DEPENDENCY]
set -x
set -e

module purge
./jarvis -install package/hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.12.0/clang clang+mpi
module use ./software/moduledeps/bisheng4.1.0-hmpi24.12.30
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.14.0 clang+mpi
module load pnetcdf/1.14.0
./jarvis -install package/netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4
export NETCDFROOT=$NETCDF_CLANG_PATH

[ENV]
module purge
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
module use ./software/moduledeps/bisheng4.1.0-hmpi24.12.30
module load hdf5-clang/1.12.0
module load pnetcdf/1.14.0
module load netcdf-clang/4.7.4
export NETCDFROOT=$NETCDF_CLANG_PATH

[APP]
app_name = swan
build_dir = ${JARVIS_ROOT}/swan4131/
binary_dir = ${JARVIS_ROOT}/swan4131/
case_dir = 

[BUILD]
set -e
set -x


module list

cd ${JARVIS_TMP}
rm -rf swan
git clone https://github.com/abby-1225/swan.git
cd ${JARVIS_ROOT}
tar -xf ${JARVIS_TMP}/swan/swan4131.tar.gz
cd swan4131
sed -i '788s/\$_/"gfortran"/' platform.pl
export FC=gfortran && make config
sed -i "4s/gfortran/flang/" macros.inc
sed -i "8s/-w/-w -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true/" macros.inc
sed -i "14s/=/= \$(NETCDF_CLANG_PATH)/" macros.inc
make mpi

[RUN]
run = 
binary = 
nodes = 1 

[BATCH]
#! /bin/bash
