[SERVER]
11.11.11.11

[DOWNLOAD]
#dealii/9.5.2 $JARVIS_PROXY/dealii/dealii/releases/download/v9.5.2/dealii-9.5.2.tar.gz
refrac http://swanmodel.sourceforge.net/download/zip/refrac.tar.gz

[DEPENDENCY]
set -x
set -e
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
./jarvis -install package/hdf5/1.12.0/clang bisheng+mpi
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0
./jarvis -install package/pnetcdf/1.12.3 bisheng+mpi
module load pnetcdf/1.12.3
./jarvis -install package/netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4
export NETCDFROOT=$NETCDF_CLANG_PATH

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.3
module load netcdf-clang/4.7.4
export NETCDFROOT=$NETCDF_CLANG_PATH

[APP]
app_name = swan
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir = ${JARVIS_TMP}/SWAN/swan-testcse/refrac

[BUILD]
set -e
set -x

cd ${JARVIS_TMP}
rm -rf swan
git clone https://github.com/abby-1225/swan.git 
cd ${JARVIS_ROOT}
rm -rf swan4131
tar -xf ${JARVIS_TMP}/swan/swan4131.tar.gz
cd swan4131
sed -i '788s/\$_/"gfortran"/' platform.pl
export FC=gfortran
make config
sed -i "4s/gfortran/flang/" macros.inc
sed -i "8s/-w/-w -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true/" macros.inc
sed -i "14s/=/= \$(NETCDF_CLANG_PATH)/" macros.inc
make mpi

cd ${JARVIS_TMP}
rm -rf ${JARVIS_TMP}/SWAN/swan-testcse
mkdir -p ${JARVIS_TMP}/SWAN/swan-testcse
cd ${JARVIS_TMP}/SWAN/swan-testcse
tar -zxvf ${JARVIS_DOWNLOAD}/refrac.tar.gz
cd refrac
ln -s ${JARVIS_ROOT}/swan4131/swan.exe ./
cp a11refr.swn INPUT

[RUN]
run = mpirun --allow-run-as-root -np 8 swan.exe
binary = 
nodes = 1 

[BATCH]
#! /bin/bash

