[SERVER]
11.11.11.11

[DOWNLOAD]
cufflinks/2.2.1 $JARVIS_PROXY/cole-trapnell-lab/cufflinks/archive/refs/tags/v2.2.1.tar.gz cufflinks-2.2.1.tar.gz

[DEPENDENCY]
set -e
set -x
./jarvis -install kgcc/10.3.1 com
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

./jarvis -install boost/1.72.0 gcc
./jarvis -install samtools/1.10 gcc
./jarvis -install eigen3/3.4.0 gcc

module use ./software/modulefiles
module load boost/1.72.0
module load samtools/1.10
module load eigen3/3.4.0

rm -rf cufflinks-2.2.1
tar -xzvf ${JARVIS_DOWNLOAD}/cufflinks-2.2.1.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load boost/1.72.0
module load samtools/1.10
module load eigen3/3.4.0
cd ${JARVIS_ROOT}/software/libs/kgcc10.3.1/eigen3/3.4.0/include
cp -rf eigen3/Eigen .

[APP]
app_name = cufflinks
build_dir = ${JARVIS_ROOT}/cufflinks-2.2.1
binary_dir = 
case_dir = 

[BUILD]
sed -i '16s/^/#/' configure.ac
autoreconf --install
sed -i 's/-lbam/-lbam -lhts/g' configure
sed -i 's/#include <boost\/tr1\/unordered_map.hpp>/#include<boost\/unordered_map.hpp>/g' src/biascorrection.h
sed -i 's/hash\[pos\].hash/(hash\[pos\].hash)/g' src/GHash.hh
sed -i '70s/return;/return *this;/;72s/return;/return *this;/' src/lemon/error.h
sed -i 's/curwin/curwins/g' src/locfit/c_plot.c
./configure --with-boost=${BOOST_PATH} --with-eigen=${EIGEN3_PATH} --with-bam=${SAMTOOLS_PATH}
make
make install

[CLEAN]
make clean

[RUN]
run = 
binary = 
nodes = 1


