[SERVER]
11.11.11.11

[DOWNLOAD]
miniGhost/v1.0 https://github.com/Mantevo/miniGhost/archive/refs/heads/master.zip miniGhost-master.zip

[DEPENDENCY]
set -e
set -x

./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
unzip ${JARVIS_DOWNLOAD}/miniGhost-master.zip
cd ./miniGhost-master/ref
mv Makefile Makefile.bak
cp makefile.mpi.gnu Makefile
sed -i '36,$d' Makefile

echo ' 

PROTOCOL = -D_MG_MPI
MPI_LOC = '"${JARVIS_ROOT}"'/software/utils/hpckit/24.0.0/HPCKit/24.12.30/hmpi/gcc/hmpi
MPI_INCLUDE = -I$(MPI_LOC)/include
# State precision: -D_REAL4 and/or -D_REAL8.
REAL_PRECISION = -D_MG_REAL8
# Integer precision: -D_INT4 and/or -D_INT8.
INT_PRECISION = -D_MG_INT4
# Compilers
FC=$(MPI_LOC)/bin/mpif90
CC=$(MPI_LOC)/bin/mpicc
CFLAGS = $(PROTOCOL) $(REAL_PRECISION) $(INT_PRECISION)
# C main calling Fortran subroutine:
CFLAGS += -Df2c_ -fsigned-char
CFLAGS += $(MPI_INCLUDE)
FFLAGS = $(PROTOCOL) $(REAL_PRECISION) $(INT_PRECISION) -fallow-argument-mismatch
# Optimization
OPT_F =-O3
FFLAGS += $(OPT_F)
#FFLAGS += $(MPI_INCLUDE)
# Free-form Fortran source code:
FFLAGS += -ffree-form -ffree-line-length-none
# Array bounds checking: (expensive!)
#FFLAGS += -fbounds-check
# Compile to include checkpointing capability.
FFLAGS += -D_MG_CHECKPT
NCPATH=
LNCDF=-L$(NCPATH)/lib
LD=$(FC)
LDFLAGS=$(CFLAGS) $(FFLAGS) -L'"${JARVIS_ROOT}"'/software/utils/hpckit/24.0.0/HPCKit/24.12.30/hmpi/gcc/hmpi -lmpi_mpifh
#LDFLAGS=$(CFLAGS) $(FFLAGS)
#LDFLAGS=$(FFLAGS)
LIBS=
include make_targets

' >> Makefile

[ENV]
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi

[APP]
app_name = miniGhost
build_dir = ${JARVIS_ROOT}/miniGhost-master/ref
binary_dir = ${JARVIS_ROOT}/miniGhost-master/ref
case_dir = ${JARVIS_ROOT}/miniGhost-master/ref

[BUILD]
make

[CLEAN]
make clean

[RUN]
run = mpirun -mca btl ^openib -x LD_LIBRARY_PATH --allow-run-as-root -np 8 ./miniGhost.x
binary = 
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
