[SERVER]
11.11.11.11

[DOWNLOAD]
modeller/10.6 https://salilab.org/modeller/10.6/modeller-10.6.tar.gz
soap_protein_od.hdf5/modeller>9.13  https://salilab.org/SOAP/soap_protein_od.hdf5

[DEPENDENCY]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule  
module load hpckit${HPCKIT_VERSION}/bisheng/hmpi${HMPI_VERSION}/release
./jarvis -install hdf5/1.10.7/clang bisheng+mpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.10.7
tar -zxvf ${JARVIS_DOWNLOAD}/modeller-10.6.tar.gz -C ${JARVIS_TMP}
rm -rf ${JARVIS_ROOT}/software/app/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/modeller/10.6
mkdir -p ${JARVIS_ROOT}/software/app/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/modeller/10.6

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load hpckit${HPCKIT_VERSION}/bisheng/hmpi${HMPI_VERSION}/release
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load hdf5-clang/1.10.7
export PATH=${JARVIS_ROOT}/software/app/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/modeller/10.6/bin:$PATH

[APP]
app_name = modeller
build_dir = ${JARVIS_TMP}/modeller-10.6/
binary_dir = 
case_dir = ${JARVIS_ROOT}/software/app/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/modeller/10.6/examples/

[BUILD]
./Install <<EOF
5
${JARVIS_ROOT}/software/app/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/modeller/10.6
\n
\n
\n
\n
EOF
cp -ar ${JARVIS_DOWNLOAD}/soap_protein_od.hdf5 ${JARVIS_ROOT}/software/app/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/modeller/10.6

echo -e '\033[0;31mPlease https://salilab.org/modeller/ register,to obtain and modify the MODELLER license key!\033[0m'
echo -e 'sed -i "/^license/c\license = 'license key'" ${JARVIS_ROOT}/software/app/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/modeller/10.6/modlib/modeller/config.py'
#sed -i "/^license/c\license = 'license key'" ${JARVIS_ROOT}/software/app/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/modeller/10.6/modlib/modeller/config.py

[CLEAN]

[RUN]
run = ls ${JARVIS_ROOT}/software/app/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/modeller/10.6/bin ${JARVIS_ROOT}/software/app/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}/modeller/10.6/lib
binary = #./run_tests
nodes = 1
