[SERVER]
11.11.11.11

[DOWNLOAD]
modeller/10.6 https://salilab.org/modeller/10.6/modeller-10.6.tar.gz
soap_protein_od.hdf5/modeller>9.13  https://salilab.org/SOAP/soap_protein_od.hdf5

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install hmpi/2.4.2 bisheng
module load hmpi/2.4.2
./jarvis -install hdf5/1.10.7/clang bisheng+mpi
module load hdf5-clang/1.10.7
tar -zxvf ${JARVIS_DOWNLOAD}/modeller-10.6.tar.gz -C ${JARVIS_TMP_DOWNLOAD}
mkdir -p ${JARVIS_ROOT}/software/app/modeller

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load hmpi/2.4.2
module load hdf5-clang/1.10.7
export PATH=${JARVIS_ROOT}/software/app/modeller/bin:$PATH

[APP]
app_name = modeller
build_dir = ${JARVIS_TMP_DOWNLOAD}/modeller-10.6/
binary_dir = 
case_dir = ${JARVIS_ROOT}/software/app/modeller/examples/

[BUILD]
./Install <<EOF
5
${JARVIS_ROOT}/software/app/modeller
\n
\n
\n
\n
EOF
cp -ar ${JARVIS_DOWNLOAD}/soap_protein_od.hdf5 ${JARVIS_ROOT}/software/app/modeller/modlib/

echo -e '\033[0;31mPlease https://salilab.org/modeller/ register,to obtain and modify the MODELLER license key!\033[0m'
#sed -i "/^license/c\license = 'license key'" ${JARVIS_ROOT}/software/app/modeller/modlib/modeller/config.py

[CLEAN]

[RUN]
run = 
binary = ./run_tests
nodes = 1
