[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.4 $JARVIS_PROXY/QEF/q-e/archive/refs/tags/qe-6.4.1.tar.gz q-e-qe-6.4.1.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.3.30 any
module load hpckit/2025.3.30
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
cd $JARVIS_DEV
[ ! -d q-e-qe-6.4.1 ] && tar -xzvf ${JARVIS_DOWNLOAD}/q-e-qe-6.4.1.tar.gz
exit 0

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.3.30
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
export QE_ROOT=${JARVIS_DEV}/q-e-qe-6.4.1/

[APP]
app_name = QE
app_version = 6.4.1
compiler = bisheng+mpi
build_dir = ${JARVIS_DEV}/q-e-qe-6.4.1/
binary_dir = ${JARVIS_DEV}/q-e-qe-6.4.1/bin/
case_dir = ${JARVIS_JOBSCRIPT}/QE/6.4.1/

[BUILD]
set -e
set -x
#$PATCH_TOOL $JARVIS_TPL/top50/qe/6.4.1/opt.patch 
./configure F90=flang F77=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp --prefix=$1
make -j pw
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 8
binary = pw.x -input test_3.in
nodes = 1

[BATCH]
mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 8 $QE_ROOT/bin/pw.x -input test_3.in

[JOB]
#!/bin/sh
#DSUB -n qe_test
#DSUB --job_type cosched:hmpi
#DSUB -A root.default
#DSUB -q root.default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo qe.%J.out
#DSUB -eo qe.%J.err

##set runtime environment variables
module load QE
ulimit -s unlimited
ulimit -c unlimited
echo "----HOSTFILE generated---"
cat $CCS_HOST_FILE
echo "-------------------------"
EXEC_CMD="time -p mpirun $CCS_MPI_OPTIONS -n 32 -x OMP_NUM_THREADS=1 -mca pml ucx -mca btl ^vader,tcp,openib,uct -x UCX_TLS=self,sm,rc pw.x -input test_3.in"
echo "$EXEC_CMD"
date
$EXEC_CMD
date

