[SERVER]
11.11.11.11

[DOWNLOAD]
megahit/1.2.9 https://codeload.github.com/voutcn/megahit/tar.gz/v1.2.9 megahit-1.2.9.tar.gz
sse2neon/1.5.0 https://codeload.github.com/DLTcollab/sse2neon/tar.gz/refs/tags/v1.5.0 sse2neon-1.5.0.tar.gz
SRR1976948 https://s3-us-west-1.amazonaws.com/dib-training.ucdavis.edu/metagenomics-scripps-2016-10-12/SRR1976948.abundtrim.subset.pe.fq.gz
SRR1977249 https://s3-us-west-1.amazonaws.com/dib-training.ucdavis.edu/metagenomics-scripps-2016-10-12/SRR1977249.abundtrim.subset.pe.fq.gz
KunpengTrans.h https://raw.githubusercontent.com/xiaotao-star/KunpengTrans.h/refs/heads/main/KunpengTrans.h

[DEPENDENCY]
set -e
set -x
yum install -y cmake gzip zlib bzip2
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
cd ${JARVIS_TMP}
rm -rf MEGAHIT
mkdir -p MEGAHIT
cd MEGAHIT
tar -xzvf ${JARVIS_DOWNLOAD}/megahit-1.2.9.tar.gz
tar -xzvf ${JARVIS_DOWNLOAD}/sse2neon-1.5.0.tar.gz
mkdir -p ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hnpi${HMPI_VERSION}/MEGAHIT/1.2.9/bin

[ENV]
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
export F77=`which mpifort`
export PATH=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hnpi${HMPI_VERSION}/MEGAHIT/1.2.9/bin:$PATH


[APP]
app_name = megahit
build_dir = ${JARVIS_TMP}/MEGAHIT/megahit-1.2.9
binary_dir = 
case_dir = ${JARVIS_TMP}/MEGAHIT/testcase

[BUILD]

cd ${JARVIS_TMP}/MEGAHIT/megahit-1.2.9
sed -i '6s/-std=c++11/& -march=armv8.2-a/' CMakeLists.txt
sed -i '76s/-mbmi2 -DUSE_BMI2 -mpopcnt//g' CMakeLists.txt
sed -i '77s/-mpopcnt//g' CMakeLists.txt
cd ./src/utils/
cp ${JARVIS_DOWNLOAD}/KunpengTrans.h ./
sed -i '4i\#if defined(__aarch64__)\n  #include "KunpengTrans.h"\n#endif' cpu_dispatch.h
sed -i '18i\#if defined(__x86_64__)' cpu_dispatch.h
sed -i '22i\#elif defined(__aarch64__)\n  {\n    eax = 1;\n    GetSupportedCPUID(&eax,&ebx,&ecx,&edx);\n  }\n#endif' cpu_dispatch.h
sed -i '39i\#if defined(__x86_64__)' cpu_dispatch.h
sed -i '43i\#elif defined(__aarch64__)\n  {\n    eax = 7;\n    ecx = 0;\n    GetSupportedCPUID(&eax,&ebx,&ecx,&edx);\n  }\n#endif' cpu_dispatch.h
cd ../kmlib/
sed -i 's/<x86intrin.h>/<sse2neon.h>/g' kmrns.h
cd ../
cp ${JARVIS_TMP}/MEGAHIT/sse2neon-1.5.0/sse2neon.h ./
cd ../
rm -rf build
mkdir -p build
cd build
CC=`which gcc` CXX=`which g++` cmake -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hnpi${HMPI_VERSION}/MEGAHIT/1.2.9 -DCMAKE_BUILD_TYPE=Release ../
make -j 16
make install
export PATH=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hnpi${HMPI_VERSION}/MEGAHIT/1.2.9/bin:$PATH

cd ${JARVIS_TMP}/MEGAHIT/
rm -rf testcase
mkdir testcase && cd testcase
cp ${JARVIS_DOWNLOAD}/SRR1976948.abundtrim.subset.pe.fq.gz ./
cp ${JARVIS_DOWNLOAD}/SRR1977249.abundtrim.subset.pe.fq.gz ./


[CLEAN]
make clean

[RUN]
run = megahit -t 128 --12 SRR1976948.abundtrim.subset.pe.fq.gz SRR1977249.abundtrim.subset.pe.fq.gz > megahit.log
binary =
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all

