[SERVER]
11.11.11.11

[DOWNLOAD]
augustus/3.5.0 https://github.com/Gaius-Augustus/Augustus/archive/refs/tags/v3.5.0.tar.gz Augustus-3.5.0.tar.gz

[DEPENDENCY]
set -x
set -e
module purge
module use ./software/modulefiles

./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install boost-clang/1.72.0 clang
./jarvis -install htslib/1.15 clang
./jarvis -install samtools/1.15 clang
./jarvis -install bamtools/2.5.0 clang

module load hmpi/2.4.2
export CC=mpicc CXX=mpicxx FC=mpifort

tar -zxvf $JARVIS_DOWNLOAD/Augustus-3.5.0.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load boost-clang/1.72.0
module load htslib/1.15
module load samtools/1.15
module load bamtools/2.5.0
#module load hmpi/2.4.2

[APP]
app_name = Augustus
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/Augustus-3.5.0/install-3.5.0/bin
case_dir = ${JARVIS_ROOT}/Augustus-3.5.0/run

[BUILD]
yum install mysql-devel sqlite* -y
rm -rf Augustus-3.5.0
tar -zxvf $JARVIS_DOWNLOAD/Augustus-3.5.0.tar.gz
cd Augustus-3.5.0

mkdir run
AUGUSTUS_PATH=$(realpath ./install)

sed -i 's|3\.4\.0|3\.5\.0|g' ./common.mk ./doxygen.conf
sed -i "s|\/opt\/augustus|$AUGUSTUS_PATH|g" Makefile
sed -i "15iMYSQL = false\nCOMPGENEPRED = false" common.mk

make -j CC=clang CXX=clang++ \
      CFLAGS="-g -I${BAMTOOLS_PATH}/include/bamtools -I${BOOST_CLANG_PATH}/include -I${HTSLIB_PATH}/include/htslib -L${BAMTOOLS_PATH}/lib64 -L${BOOST_CLANG_PATH}/lib -L${HTSLIB_PATH}/lib" \
      CXXFLAGS="-g -std=c++17 -lstdc++ -I${BAMTOOLS_PATH}/include/bamtools -I${BOOST_CLANG_PATH}/include -I${HTSLIB_PATH}/include/htslib -L${BAMTOOLS_PATH}/lib64 -L${BOOST_CLANG_PATH}/lib -L${HTSLIB_PATH}/lib"
make install
cd ./run
wget http://bioinf.uni-greifswald.de/augustus/datasets/sag178.gb.gz --no-check-certificate
gzip -d sag178.gb.gz

[CLEAN]
make clean

[RUN]
run = time -p
binary = augustus --species=human --UTR=on sag178.gb
nodes = 1
