[SERVER]
11.11.11.11

[DOWNLOAD]
refs/3.16 https://github.com/petsc/petsc/archive/refs/heads/release-3.16.zip

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
rm -rf petsc-release-3.16
unzip ${JARVIS_DOWNLOAD}/release-3.16.zip

[ENV]
module purge
module use ./software/compiler/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

[APP]
app_name = petsc
build_dir = ${JARVIS_ROOT}/petsc-release-3.16
binary_dir =
case_dir = ${JARVIS_ROOT}/petsc-release-3.16

[BUILD]
./configure CC=mpicc CXX=mpicxx FC=mpifort --download-fblaslapack=1
make all

[RUN]
run = make check
binary =
nodes = 1

