[SERVER]
11.11.11.11

[DOWNLOAD]
true

[DEPENDENCY]
set -e

module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
./jarvis -install openblas/0.3.18/clang  bisheng
module load openblas-clang/0.3.18-bisheng4.2.0

./jarvis -install lapack/3.8.0/clang bisheng

module load lapack-clang/3.8.0-bisheng4.2.0

./jarvis -install scalapack/2.0.2/clang bisheng+mpi
module load scalapack-clang/2.0.2-bisheng4.2.0-hmpi25.0.0-lapack3.8.0

cd $JARVIS_DEV
mkdir scalapack/2.0.2 -p
cp ${JARVIS_ROOT}/dataconfig_patches/scalapack_samples01/kscalapack_pdgetrf.cpp scalapack/2.0.2/ -ar
cp ${JARVIS_ROOT}/dataconfig_patches/scalapack_samples01/Makefile scalapack/2.0.2/ -ar
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load cmake/3.28.2
module load hpckit/2025.0.0
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
module load openblas-clang/0.3.18-bisheng4.2.0
module load lapack-clang/3.8.0-bisheng4.2.0
module load scalapack-clang/2.0.2-bisheng4.2.0-hmpi25.0.0-lapack3.8.0

[APP]
fake = 1
app_name = casescalapack
app_version = 2.0.2
compiler = bisheng+mpi
build_dir = ${JARVIS_DEV}/scalapack/2.0.2
binary_dir = ${JARVIS_DEV}/scalapack/2.0.2
case_dir = ${JARVIS_JOBSCRIPT}/scalapack/2.0.2/

[BUILD]
set -e
set -x

####  build
echo "build start"
cd ${JARVIS_DEV}/scalapack/2.0.2
make clean
make all SCALAPACK_PATH=${SCALAPACK_CLANG_PATH} HPCKIT_DIR=${HPCKIT_PATH}/HPCKit/latest
echo "build done!!!"

#### install jobsript for case test
echo "Install start"
JOB_DIR="${JARVIS_JOBSCRIPT}/scalapack/2.0.2"
mkdir -p ${JOB_DIR}
${JARVIS_DEV}/scalapack/2.0.2/env.sh_gen.sh ${JOB_DIR}/env.sh

cp ${JARVIS_ROOT}/dataconfig_patches/scalapack_samples01/kscalapack_pdgetrf.cpp ${JOB_DIR}/ -ar
cat > ${JOB_DIR}/Makefile << EOF
all:
	mpic++ -o kscalapack_pdgetrf_cpp_open kscalapack_pdgetrf.cpp -L\${SCALAPACK_PATH}/lib -lscalapack  -fopenmp
clean:
	rm -rf *.o kscalapack_pdgetrf_cpp_open
EOF

cp ${JARVIS_ROOT}/dataconfig_patches/scalapack_samples01/run_open_job.sh ${JOB_DIR}/job_run.sh -ar
cp ${JARVIS_ROOT}/dataconfig_patches/scalapack_samples01/run_open.sh ${JOB_DIR}/local_run.sh -ar

cat > ${JOB_DIR}/scalapack-2.0.2-run.sh << EOF
#!/bin/bash
source ./env.sh
make clean
make all SCALAPACK_PATH=${SCALAPACK_CLANG_PATH} HPCKIT_DIR=${HPCKIT_PATH}/HPCKit/latest
./local_run.sh
dsub -s job_run.sh
EOF   

chmod u+x ${JOB_DIR}/env.sh
chmod u+x ${JOB_DIR}/job_run.sh
chmod u+x ${JOB_DIR}/local_run.sh
chmod u+x ${JOB_DIR}/scalapack-2.0.2-run.sh

echo "Install done!!!"


[CLEAN]
echo "make clean"

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 8
binary = pw.x -input test_3.in
nodes = 1

[BATCH]
mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 8 $QE_ROOT/bin/pw.x -input test_3.in

[JOB]
#!/bin/bash
#DSUB -n case_scalapack
#DSUB --job_type cosched:hmpi
#DSUB -N 128
#DSUB -nn 1
#DSUB -rpn 128
#DSUB -R "cpu=128"
#DSUB -o pdgetrf_out_%J.log
#DSUB -e pdgetrf_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.gmx
rm -f $HOSTFILE
touch $HOSTFILE
cat ${CCSCHEDULER_ALLOC_FILE} | sort > $HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

#### for 920B 128CORE-4NUMA
#{ time  -p mpirun  --hostfile $HOSTFILE -np 16 --allow-run-as-root --map-by ppr:4:numa:pe=8 -x OMP_PROC_BIND=close -x OMP_PLACES=cores -x KML_BLAS_THREAD_TYPE=OMP -x KML_BLAS_NOT_USE_HBM=1 -x OMP_NUM_THREADS=8 -x UCX_TLS=sm ./kscalapack_pdgetrf_cpp_open -nb 512 -grid 1x16 -size 120000 ; } 2>&1 | tee tee_kscalapack_pdgetrf_cpp_open.xlog


{ time  -p mpirun  --hostfile $HOSTFILE -np 16 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=8 -x UCX_TLS=sm ./kscalapack_pdgetrf_cpp_open -nb 512 -grid 1x16 -size 120000 ; } 2>&1 | tee tee_kscalapack_pdgetrf_cpp_open.xlog

