[SERVER]
11.11.11.11

[DOWNLOAD]
gatk/4.0.0.0 https://github.com/broadinstitute/gatk/releases/download/4.0.0.0/gatk-4.0.0.0.zip gatk-4.0.0.0.zip
scales https://cran.r-project.org/src/contrib/Archive/scales/scales_1.3.0.tar.gz
ggplot2 https://cran.r-project.org/src/contrib/Archive/ggplot2/ggplot2_3.5.2.tar.gz
gtable https://cran.r-project.org/src/contrib/Archive/gtable/gtable_0.3.5.tar.gz
case1 http://ftp.sra.ebi.ac.uk/vol1/fastq/SRR742/SRR742200/SRR742200_1.fastq.gz
case2 http://ftp.sra.ebi.ac.uk/vol1/fastq/SRR742/SRR742200/SRR742200_2.fastq.gz
case3 http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/human_g1k_v37.fasta.gz
case4 http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/dbsnp132_20101103.vcf.gz
case/5 https://storage.googleapis.com/gcp-public-data--broad-references/Homo_sapiens_assembly19_1000genomes_decoy/Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf
case/6 https://storage.googleapis.com/gcp-public-data--broad-references/Homo_sapiens_assembly19_1000genomes_decoy/Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf.idx
case/7 http://hgdownload.soe.ucsc.edu/goldenPath/hg19/liftOver/hg19ToHg38.over.chain.gz

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
./jarvis -install bishengjdk/1.8.0_452-b12 any
module load bishengjdk/1.8.0_452-b12

module load gcc/compiler12.3.1/gccmodule
./jarvis -install R/3.6.3 gcc
module load R/3.6.3-%#MYKGCCVER#%
#install R packages
cd ${JARVIS_DOWNLOAD}
Rscript -e 'options(download.file.extra = "--insecure");install.packages(c("farver", "labeling", "munsell", "R6", "RColorBrewer", "viridisLite"), repos="http://cran.us.r-project.org")'
Rscript -e 'options(download.file.extra = "--insecure");install.packages(c("cli","glue","lifecycle","rlang"), repos="http://cran.us.r-project.org")'
Rscript -e 'options(download.file.extra = "--insecure");install.packages("scales_1.3.0.tar.gz")'
Rscript -e 'options(download.file.extra = "--insecure");install.packages(c("gtable", "isoband", "tibble", "vctrs", "withr"), repos="http://cran.us.r-project.org")'
Rscript -e 'options(download.file.extra = "--insecure");install.packages("gtable_0.3.5.tar.gz")'
Rscript -e 'options(download.file.extra = "--insecure");install.packages("ggplot2_3.5.2.tar.gz")'
Rscript -e 'options(download.file.extra = "--insecure");install.packages(c("ggplot2", "gplots", "reshape", "gsalib"), repos="http://cran.us.r-project.org")'

echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load samtools/1.10-%#MYKBSVER#%
module load bishengjdk/1.8.0_452-b12
module load bwa/0.7.17-%#MYKBSVER#%
module load gcc/compiler12.3.1/gccmodule
module load R/3.6.3-%#MYKGCCVER#%

[APP]
fake = 0
app_name = gatk
app_version = 4.0.0.0
compiler = bisheng
build_dir = ${JARVIS_APP}/gatk/4.0.0.0-%#MYKBSVER#%/project
binary_dir = ${JARVIS_APP}/gatk/4.0.0.0-%#MYKBSVER#%
case_dir = ${JARVIS_JOBSCRIPT}/gatk/4.0.0.0

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

set +x && check_install_path "${PATH_INSTALL}" && set -x
set +x && build_mod_check "${PATH_INSTALL}/bin/gatk" "prompt" && set -x
set +x && rm_file_from_base ${PATH_INSTALL}/bin gatk  && set -x
####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

install_path=$1

rm -rf gatk-4.0.0.0
unzip ${JARVIS_DOWNLOAD}/gatk-4.0.0.0.zip
cd gatk-4.0.0.0
tar --no-same-owner -xf $JARVIS_DOWNLOAD/GKL.tar.gz
jar uvf gatk-package-4.0.0.0-local.jar ./com/intel/gkl
jar uvf gatk-package-4.0.0.0-spark.jar ./com/intel/gkl


set +x && rm_file_from_base ${PATH_INSTALL}/bin com gatk-completion.sh gatk-package-4.0.0.0-local.jar gatkPythonPackageArchive.zip gatk gatkcondaenv.yml gatk-package-4.0.0.0-spark.jar && set -x
mkdir -p ${PATH_INSTALL}/bin

cp ./com ${PATH_INSTALL}/bin/ -ar
cp ./gatk-completion.sh ${PATH_INSTALL}/bin/ -ar
cp ./gatk-package-4.0.0.0-local.jar ${PATH_INSTALL}/bin/ -ar
cp ./gatkPythonPackageArchive.zip ${PATH_INSTALL}/bin/ -ar
cp ./gatk ${PATH_INSTALL}/bin/ -ar
cp ./gatkcondaenv.yml ${PATH_INSTALL}/bin/ -ar
cp ./gatk-package-4.0.0.0-spark.jar ${PATH_INSTALL}/bin/ -ar

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/gatk/4.0.0.0
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load gatk/4.0.0.0-%#MYKBSVER#%" >> ${JOBDIR}/env.sh

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_bma
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'
source env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

EOF

cat << 'EOF' > ${JOBDIR}/local_run.sh
#!/bin/bash
set -e
set -x
source env.sh

#运行测试
{ time -p bwa index -a bwtsw human_g1k_v37.fasta; } 2>&1 |tee index.log
#output:
#human_g1k_v37.fasta.amb
#human_g1k_v37.fasta.ann
#human_g1k_v37.fasta.bwt
#human_g1k_v37.fasta.pac
#human_g1k_v37.fasta.sa

{ time -p gatk CreateSequenceDictionary -R human_g1k_v37.fasta -O human_g1k_v37.dict; } 2>&1 |tee CreateSequenceDictionary.log
#output:
#human_g1k_v37.dict

{ time -p bwa mem -M -t 128 human_g1k_v37.fasta SRR742200_1.fastq SRR742200_2.fastq > SRR7.sam; } 2>&1 |tee mem.log
#output:
#SRR7.sam

{ time -p gatk ReorderSam -I SRR7.sam -O SRR7_reorder.bam -R human_g1k_v37.fasta; } 2>&1 |tee ReorderSam.log
#output
#SRR7_reorder.bam

{ time -p gatk SortSam -I SRR7_reorder.bam -O SRR7_sorted.bam --SORT_ORDER coordinate; } 2>&1 |tee SortSam.log
#output
#SRR7_sorted.bam

{ time -p gatk AddOrReplaceReadGroups -I SRR7_sorted.bam -O SRR7_addhead.bam -LB lib1 -PL illumina -PU unit1 -SM 20; } 2>&1 |tee AddOrReplaceReadGroups.log
#output
#SRR7_addhead.bam

{ time -p gatk MarkDuplicates -I SRR7_addhead.bam -M test.metric -O SRR7_markdup.bam; } 2>&1 |tee MarkDuplicates.log
#output
#test.metric
#SRR7_markdup.bam

{ time -p samtools faidx human_g1k_v37.fasta > human_g1k_v37.fai; } 2>&1 |tee faidx.log
#output
#human_g1k_v37.fai

{ time -p gatk IndexFeatureFile -F dbsnp132_20101103.vcf; } 2>&1 |tee IndexFeatureFile.log
#output
#dbsnp132_20101103.vcf.idx

{ time -p gatk BaseRecalibrator -I SRR7_markdup.bam --known-sites dbsnp132_20101103.vcf -O SRR7_bqsr.bam -R human_g1k_v37.fasta; } 2>&1 |tee BaseRecalibrator.log
#output
#SRR7_bqsr.bam

{ time -p gatk ApplyBQSR -bqsr SRR7_bqsr.bam -I SRR7_markdup.bam -O SRR7_aybqsr.bam; } 2>&1 |tee ApplyBQSR.log
#output
#SRR7_aybqsr.bai
#SRR7_aybqsr.bam

export OMP_PROC_BIND=true
export OMP_PLACES=cores
export OMP_NUM_THREADS=38
export SLICES=16
#export SLICES=4

{ time -p gatk --java-options "-Xmx4g" SplitIntervals -R human_g1k_v37.fasta -scatter $SLICES -O ./intervals --subdivision-mode BALANCING_WITHOUT_INTERVAL_SUBDIVISION; } 2>&1 |tee SplitIntervals.log
#output
#intervals

{ time -p seq 0 $(($SLICES-1)) | xargs -I {} -P $SLICES bash -c ' \
interval=$(printf "./intervals/%04d-scattered.intervals" $1); \
numactl --cpunodebind=$1 --localalloc gatk --java-options "-Dsamjdk.use_async_io_read_samtools=true -Xmx16G -XX:+UseParallelGC -XX:ParallelGCThreads=4" HaplotypeCaller -I SRR7_aybqsr.bam -L $interval -pairHMM AVX_LOGLESS_CACHING_OMP --native-pair-hmm-threads 16 -O SRR7_raw_$1.vcf -R human_g1k_v37.fasta \
' _ {}; } 2>&1 |tee HaplotypeCaller.log
#output
#SRR7_raw_0.vcf
#SRR7_raw_0.vcf.idx
#SRR7_raw_1.vcf
#SRR7_raw_1.vcf.idx
#SRR7_raw_2.vcf
#SRR7_raw_2.vcf.idx
#SRR7_raw_3.vcf
#SRR7_raw_3.vcf.idx

{ time -p gatk MergeVcfs $(for i in $(seq 0 $(($SLICES-1))); do echo "-I SRR7_raw_${i}.vcf"; done) -O SRR7_raw_final.vcf; } 2>&1 |tee MergeVcfs.log
#output
#SRR7_raw_final.vcf
#SRR7_raw_final.vcf.idx
EOF

#补充功能验证测试
cat << 'EOF' > ${JOBDIR}/gatk-otherfunctionaltest.sh
#!/bin/bash
set -e
set -x

#校验算例

if [ ! -f "SRR7_aybqsr.bam" ];then
    echo "Please prioritize ensuring that gatk-run.sh can run successfully"
    exit 1
fi

export REF=human_g1k_v37.fasta
export BAM=SRR7_aybqsr.bam
export DBSNP=dbsnp132_20101103.vcf
export INDELS=Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf

#{ time -p gatk CreateSequenceDictionary -R human_g1k_v37.fasta -O human_g1k_v37.dict; } 2>&1 |tee CreateSequenceDictionary.log
#output:
#human_g1k_v37.dict

#{ time -p bwa mem -M -t 128 human_g1k_v37.fasta SRR742200_1.fastq SRR742200_2.fastq > SRR7.sam; } 2>&1 |tee mem.log
#output:
#SRR7.sam

#{ time -p gatk ReorderSam -I SRR7.sam -O SRR7_reorder.bam -R human_g1k_v37.fasta; } 2>&1 |tee ReorderSam.log
#output
#SRR7_reorder.bam

#{ time -p gatk SortSam -I SRR7_reorder.bam -O SRR7_sorted.bam --SORT_ORDER coordinate; } 2>&1 |tee SortSam.log
#output
#SRR7_sorted.bam

#{ time -p gatk AddOrReplaceReadGroups -I SRR7_sorted.bam -O SRR7_addhead.bam -LB lib1 -PL illumina -PU unit1 -SM 20; } 2>&1 |tee AddOrReplaceReadGroups.log
#output
#SRR7_addhead.bam

#{ time -p gatk MarkDuplicates -I SRR7_addhead.bam -M test.metric -O SRR7_markdup.bam; } 2>&1 |tee MarkDuplicates.log
#output
#test.metric
#SRR7_markdup.bam

#{ time -p samtools faidx human_g1k_v37.fasta > human_g1k_v37.fai; } 2>&1 |tee faidx.log
#output
#human_g1k_v37.fai

#{ time -p gatk IndexFeatureFile -F dbsnp132_20101103.vcf; } 2>&1 |tee IndexFeatureFile.log
#output
#dbsnp132_20101103.vcf.idx

#{ time -p gatk BaseRecalibrator -I SRR7_markdup.bam --known-sites dbsnp132_20101103.vcf -O SRR7_bqsr.bam -R human_g1k_v37.fasta; } 2>&1 |tee BaseRecalibrator.log
#output
#SRR7_bqsr.bam

#{ time -p gatk ApplyBQSR -bqsr SRR7_bqsr.bam -I SRR7_markdup.bam -O SRR7_aybqsr.bam; } 2>&1 |tee ApplyBQSR.log
#output
#SRR7_aybqsr.bai
#SRR7_aybqsr.bam

# 1. ValidateSamFile
gatk ValidateSamFile -I SRR7_aybqsr.bam --MODE SUMMARY
#no output

# 2. PrintReads (测试解码功能)
gatk PrintReads -I SRR7_aybqsr.bam -R human_g1k_v37.fasta -O tmp.printed.bam
#output
#tmp.printed.bam
#tmp.printed.bai

# 4. BuildBamIndex
gatk BuildBamIndex -I SRR7_markdup.bam
#output
#SRR7_markdup.bai

# 5. CollectAlignmentSummaryMetrics
gatk CollectAlignmentSummaryMetrics -R human_g1k_v37.fasta -I SRR7_markdup.bam -O alignment.metrics.txt
#output
#alignment.metrics.txt


# 6. CollectInsertSizeMetrics
gatk CollectInsertSizeMetrics -I SRR7_markdup.bam -O insert_metrics.txt -H insert_histogram.pdf
#output
#insert_histogram.pdf
#insert_metrics.txt
  
  
# 7. BaseRecalibrator
gatk BaseRecalibrator -R human_g1k_v37.fasta -I SRR7_markdup.bam  --known-sites $DBSNP --known-sites $INDELS -O recal_data.table
#output
#recal_data.table

# 8. AnalyzeCovariates (需要安装R语言和部分R包)
gatk AnalyzeCovariates  -before recal_data.table -after recal_data.table -plots recalibration_plots.pdf
#output
#recalibration_plots.pdf

# 9. ApplyBQSR
gatk ApplyBQSR -R $REF -I SRR7_markdup.bam --bqsr-recal-file recal_data.table -O recal.bam
#output
#recal.bam
#recal.bai


# 10. HaplotypeCaller - gVCF 模式
gatk HaplotypeCaller -R human_g1k_v37.fasta -I recal.bam -O raw_variants.g.vcf.gz -ERC GVCF
#output
#raw_variants.g.vcf.gz
#raw_variants.g.vcf.gz.tbi

# 11. GenotypeGVCFs
gatk GenotypeGVCFs -R human_g1k_v37.fasta -V raw_variants.g.vcf.gz -O raw_variants.vcf.gz
#output
#raw_variants.vcf.gz
#raw_variants.vcf.gz.tbi

# 12. VariantFiltration
gatk VariantFiltration -R human_g1k_v37.fasta -V raw_variants.vcf.gz -O filtered_variants.vcf.gz --filter-expression "QD < 2.0" --filter-name "LowQD"
#output
#filtered_variants.vcf.gz
#filtered_variants.vcf.gz.tbi

# 13. SelectVariants
gatk SelectVariants -R human_g1k_v37.fasta -V filtered_variants.vcf.gz --select-type-to-include SNP -O selected_snps.vcf
#output
#selected_snps.vcf
#selected_snps.vcf.idx

# 14. VariantsToTable
gatk VariantsToTable -V selected_snps.vcf -F CHROM -F POS -F TYPE -F QUAL -O variants_table.txt
#output
#variants_table.txt

# 15. LiftoverVcf (需要一个chain文件测试liftover功能)
gatk LiftoverVcf -R human_g1k_v37.fasta -I selected_snps.vcf -O lifted.vcf -CHAIN hg19ToHg38.over.chain --REJECT rejected.vcf
#output
#lifted.vcf
#lifted.vcf.idx


# SelectVariants
gatk SelectVariants -V raw_variants.vcf.gz -O snps.vcf --select-type-to-include SNP
#output
#snps.vcf
#snps.vcf.idx

gatk SelectVariants -V raw_variants.vcf.gz -O indels.vcf --select-type-to-include INDEL
#output
#indels.vcf
#indels.vcf.idx

# 19. ValidateVariants
gatk ValidateVariants -V snps.vcf -R human_g1k_v37.fasta
#output
#

# 20. SortVcf（模拟一个无序 VCF）
gatk SortVcf -I snps.vcf -O snps.sorted.vcf -SEQUENCE_DICTIONARY human_g1k_v37.dict
#output
#snps.sorted.vcf
#snps.sorted.vcf.idx

EOF

cat > ${JOBDIR}/gatk-4.0.0-run.sh << EOF
source env.sh
#校验算例
if [ ! -f "human_g1k_v37.fasta" ];then
    gzip -dck $JARVIS_DOWNLOAD/SRR742200_1.fastq.gz > SRR742200_1.fastq
    gzip -dck $JARVIS_DOWNLOAD/SRR742200_2.fastq.gz > SRR742200_2.fastq
    gzip -dck $JARVIS_DOWNLOAD/human_g1k_v37.fasta.gz > human_g1k_v37.fasta
    gzip -dck $JARVIS_DOWNLOAD/dbsnp132_20101103.vcf.gz > dbsnp132_20101103.vcf
fi

if [ ! -f "Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf" ];then
    cp $JARVIS_DOWNLOAD/Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf .
    cp $JARVIS_DOWNLOAD/Homo_sapiens_assembly19_1000genomes_decoy.known_indels.vcf.idx . 
    cp $JARVIS_DOWNLOAD/hg19ToHg38.over.chain.gz .
    gunzip hg19ToHg38.over.chain.gz
fi

./local_run.sh 2>&1 | tee tee_local_run.xlog
./gatk-otherfunctionaltest.sh
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/gatk-otherfunctionaltest.sh
chmod u+x ${JOBDIR}/gatk-4.0.0-run.sh

set +x && echo_info "Install done!!!" && set -

[RUN]
