[SERVER]
11.11.11.11

[DOWNLOAD]
openfoam/v1906 https://sourceforge.net/projects/openfoam/files/v1906/OpenFOAM-v1906.tgz
ThirdParty/v1906 https://sourceforge.net/projects/openfoam/files/v1906/ThirdParty-v1906.tgz

[DEPENDENCY]
set -x
set -e
module purge
module use ./software/modulefiles
./jarvis -install kgcc/9.3.1 com
module load kgcc9/9.3.1
./jarvis -install hmpi/1.1.1 gcc
#release zip files
tar -xzvf $JARVIS_DOWNLOAD/OpenFOAM-v1906.tgz
tar -zxvf $JARVIS_DOWNLOAD/ThirdParty-v1906.tgz

[ENV]
# add kgcc/mpi
module purge
module use ./software/modulefiles
module load kgcc9/9.3.1
module load hmpi1/1.1.1
source $JARVIS_ROOT/OpenFOAM-v1906/etc/bashrc

[APP]
app_name = OpenFOAM
build_dir = $JARVIS_ROOT/OpenFOAM-v1906/
binary_dir = 
case_dir = $JARVIS_ROOT/OpenFOAM-v1906/tutorials/incompressible/pisoFoam/LES/motorBike/motorBike/

[BUILD]
./Allwmake -j 64

[CLEAN]
rm -rf build

[RUN]
run = 
binary = ./Allrun
nodes = 1