[SERVER]
11.11.11.11

[DOWNLOAD]
openfoam/v1906 https://sourceforge.net/projects/openfoam/files/v1906/OpenFOAM-v1906.tgz
ThirdParty/v1906 https://sourceforge.net/projects/openfoam/files/v1906/ThirdParty-v1906.tgz

[DEPENDENCY]
set -x
set -e
module purge
module use ./software/modulefiles
./jarvis -install bisheng/3.2.0-mini com
module load bisheng/3.2.0-mini
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/2.3.0 clang
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0 
#release zip files
tar -xzvf $JARVIS_DOWNLOAD/OpenFOAM-v1906.tgz
tar -zxvf $JARVIS_DOWNLOAD/ThirdParty-v1906.tgz


[ENV]
# add kgcc/mpi
module purge
module use ./software/modulefiles
module load bisheng/3.2.0-mini
module use ./software/moduledeps 
module load bisheng3.2.0/hmpi/2.3.0

export PATH=${JARVIS_ROOT}/OpenFOAM-v1906/platforms/linuxARM64ClangDPInt32Opt/bin:$PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/OpenFOAM-v1906/platforms/linuxARM64ClangDPInt32Opt/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/OpenFOAM-v1906/platforms/linuxARM64ClangDPInt32Opt/lib/dummy:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/OpenFOAM-v1906/platforms/linuxARM64ClangDPInt32Opt/lib/openmpi-system:$LD_LIBRARY_PATH


export LD_LIBRARY_PATH=${JARVIS_ROOT}/ThirdParty-v1906/platforms/linuxARM64Clang/fftw-3.3.7/lib64:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/ThirdParty-v1906/platforms/linuxARM64Clang/boost_1_64_0/lib64:$LD_LIBRARY_PATH

export LD_LIBRARY_PATH=${JARVIS_ROOT}/ThirdParty-v1906/platforms/linuxARM64ClangDPInt32/lib:$LD_LIBRARY_PATH

export LD_LIBRARY_PATH=${JARVIS_ROOT}/ThirdParty-v1906/platforms/linuxARM64ClangDPInt32/lib/openmpi-system:$LD_LIBRARY_PATH

[APP]
app_name = OpenFOAM
build_dir = OpenFOAM-v1906/
binary_dir = 
case_dir = OpenFOAM-v1906/tutorials/incompressible/pisoFoam/LES/motorBike/motorBike/

[BUILD]
sed -i "s|export WM_COMPILER=Gcc|export WM_COMPILER=Clang|g" ./etc/bashrc
sed -i '2c cOPT        = -O3 -lm -mllvm -unroll-indirect-loads-threshold=2 -mllvm -unroll-indirect-loads-default-runtime-unroll-count=8 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true -fno-range-check -fveclib=MATHLIB -lmathlib -finline-functions -ftree-vectorize -falign-functions -march=armv8-a -mllvm -min-prefetch-stride=2' ./wmake/rules/linuxARM64Clang/cOpt
sed -i '2c c++OPT        = -O3 -lm -mllvm -unroll-indirect-loads-threshold=2 -mllvm -unroll-indirect-loads-default-runtime-unroll-count=8 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true -fno-range-check -fveclib=MATHLIB -lmathlib -finline-functions -ftree-vectorize -falign-functions -march=armv8-a -mllvm -min-prefetch-stride=2' ./wmake/rules/linuxARM64Clang/c++Opt
patch -p1 < ../List.H.patch
patch -p1 < ../IListStream.H.patch
source ./etc/bashrc
./Allwmake -j -k

[CLEAN]
rm -rf build

[RUN]
run = 
binary = 
nodes = 1
