[SERVER]
11.11.11.11

[DOWNLOAD]
openfoam/v1906 https://sourceforge.net/projects/openfoam/files/v1906/OpenFOAM-v1906.tgz
ThirdParty/v1906 https://sourceforge.net/projects/openfoam/files/v1906/ThirdParty-v1906.tgz

[DEPENDENCY]
./jarvis -install bisheng/2.5.0 com
module use ./software/modulefiles
module load bisheng/2.5.0
./jarvis -install hmpi/1.2.0 clang
module load hmpi/1.2.0
#release zip files
tar -xzvf $JARVIS_DOWNLOAD/OpenFOAM-v1906.tgz
tar -zxvf $JARVIS_DOWNLOAD/ThirdParty-v1906.tgz

[ENV]
module use ./software/modulefiles
module load bisheng/2.5.0
module load hmpi/1.2.0
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = OpenFOAM
build_dir = $JARVIS_ROOT/OpenFOAM-v1906/
binary_dir = 
case_dir = $JARVIS_ROOT/OpenFOAM-v1906/tutorials/incompressible/pisoFoam/LES/motorBike/motorBike/
#case_dir = $JARVIS_ROOT/workloads/openfoam/audi/

[BUILD]
sed -i "s|export WM_COMPILER=Gcc|export WM_COMPILER=Clang|g" ./etc/bashrc
sed -i '2c cOPT        = -O3 -lm -mllvm -unroll-indirect-loads-threshold=2 -mllvm -unroll-indirect-loads-default-runtime-unroll-count=8 -mcpu=tsv110 -fno-range-check -fveclib=MATHLIB -lmathlib -finline-functions -ftree-vectorize -falign-functions -march=armv8-a -mllvm -min-prefetch-stride=2' ./wmake/rules/linuxARM64Clang/cOpt
sed -i '2c c++OPT        = -O3 -lm -mllvm -unroll-indirect-loads-threshold=2 -mllvm -unroll-indirect-loads-default-runtime-unroll-count=8 -mcpu=tsv110 -fno-range-check -fveclib=MATHLIB -lmathlib -finline-functions -ftree-vectorize -falign-functions -march=armv8-a -mllvm -min-prefetch-stride=2' ./wmake/rules/linuxARM64Clang/c++Opt
sed -i "/wmake $targetType/a\export WM_COMPILER_OPTION=Opt" ./src/OSspecific/POSIX/Allwmake
#openFoam代码写错了，需要修正以适配clang
sed -i "s| List<char>\&\& buffer,| ::Foam::List<char>\&\& buffer,|g" ./src/OpenFOAM/db/IOstreams/memory/IListStream.H
source ./etc/bashrc
./Allwmake -j 16 >&1 |tee -a build.log

[CLEAN]
source ./etc/bashrc
./Allwmake clean

[RUN]
run = source $JARVIS_ROOT/OpenFOAM-v1906/etc/bashrc && ./Allclean && ./Allrun
#run = mpirun --allow-run-as-root -x PATH -x LD_LIBRARY_PATH -x WM_PROJECT_DIR -x WM_PROJECT_USER_DIR -np 128
#binary = pisoFoam –parallel
binary = 
nodes = 1
