[SERVER]
11.11.11.11

[DOWNLOAD]
BiocManager/1.30.18 https://cran.r-project.org/src/contrib/Archive/BiocManager/BiocManager_1.30.18.tar.gz
fastcluster/1.3.0 https://mirrors.zju.edu.cn/CRAN/src/contrib/fastcluster_1.3.0.tar.gz
bitops/1.0-6 https://mirrors.huaweicloud.com/CRAN/src/contrib/bitops_1.0-6.tar.gz
RCurl/1.98-1.10 https://cran.r-project.org/src/contrib/Archive/RCurl/RCurl_1.98-1.10.tar.gz
stringi/1.8.7 https://mirrors.zju.edu.cn/CRAN/src/contrib/stringi_1.8.7.tar.gz
data.table/1.17.8 https://mirrors.zju.edu.cn/CRAN/src/contrib/data.table_1.17.8.tar.gz
isoband/0.2.6 https://cran.r-project.org/src/contrib/Archive/isoband/isoband_0.2.6.tar.gz
colorspace/2.0-0 https://mirrors.huaweicloud.com/CRAN/src/contrib/colorspace_2.0-0.tar.gz
cli/2.4.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/cli_2.4.0.tar.gz
crayon/1.4.1 https://mirrors.huaweicloud.com/CRAN/src/contrib/crayon_1.4.1.tar.gz
utf8/1.2.1 https://mirrors.huaweicloud.com/CRAN/src/contrib/utf8_1.2.1.tar.gz
farver/2.1.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/farver_2.1.0.tar.gz
labeling/0.4.2 https://mirrors.huaweicloud.com/CRAN/src/contrib/labeling_0.4.2.tar.gz
lifecycle/1.0.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/lifecycle_1.0.0.tar.gz
munsell/0.5.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/munsell_0.5.0.tar.gz
R6/2.5.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/R6_2.5.0.tar.gz
ellipsis/0.3.1 https://mirrors.huaweicloud.com/CRAN/src/contrib/ellipsis_0.3.1.tar.gz
fansi/0.4.2 https://mirrors.huaweicloud.com/CRAN/src/contrib/fansi_0.4.2.tar.gz
pillar/1.6.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/pillar_1.6.0.tar.gz
pkgconfig/2.0.3 https://mirrors.huaweicloud.com/CRAN/src/contrib/pkgconfig_2.0.3.tar.gz
vctrs/0.3.7 https://mirrors.huaweicloud.com/CRAN/src/contrib/vctrs_0.3.7.tar.gz
backports/1.2.1 https://mirrors.huaweicloud.com/CRAN/src/contrib/backports_1.2.1.tar.gz
scales/1.1.1 https://mirrors.huaweicloud.com/CRAN/src/contrib/scales_1.1.1.tar.gz
tibble/3.1.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/tibble_3.1.0.tar.gz
withr/2.4.1 https://mirrors.huaweicloud.com/CRAN/src/contrib/withr_2.4.1.tar.gz
png/0.1-7 https://mirrors.huaweicloud.com/CRAN/src/contrib/png_0.1-7.tar.gz
jpeg/0.1-8.1 https://mirrors.huaweicloud.com/CRAN/src/contrib/jpeg_0.1-8.1.tar.gz
RColorBrewer/1.1-2 https://mirrors.huaweicloud.com/CRAN/src/contrib/RColorBrewer_1.1-2.tar.gz
checkmate/2.0.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/checkmate_2.0.0.tar.gz
htmlwidgets/1.5.3 https://mirrors.huaweicloud.com/CRAN/src/contrib/htmlwidgets_1.5.3.tar.gz
rstudioapi/0.13 https://mirrors.huaweicloud.com/CRAN/src/contrib/rstudioapi_0.13.tar.gz
viridisLite/0.4.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/viridisLite_0.4.0.tar.gz
Formula/1.2-4 https://mirrors.huaweicloud.com/CRAN/src/contrib/Formula_1.2-4.tar.gz
ggplot2/3.3.3 https://mirrors.huaweicloud.com/CRAN/src/contrib/ggplot2_3.3.3.tar.gz
latticeExtra/0.6-29 https://mirrors.huaweicloud.com/CRAN/src/contrib/latticeExtra_0.6-29.tar.gz
gtable/0.3.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/gtable_0.3.0.tar.gz
gridExtra/2.3 https://mirrors.huaweicloud.com/CRAN/src/contrib/gridExtra_2.3.tar.gz
htmlTable/2.1.0 https://mirrors.huaweicloud.com/CRAN/src/contrib/htmlTable_2.1.0.tar.gz
viridis/0.5.1 https://mirrors.huaweicloud.com/CRAN/src/contrib/viridis_0.5.1.tar.gz
Hmisc/5.2-4 https://mirrors.zju.edu.cn/CRAN/src/contrib/Hmisc_5.2-4.tar.gz
case/1.0 https://raw.githubusercontent.com/yejianbang/WGCNA-case/refs/heads/main/full_wgcna_analysis_script_final_stable_V4.R


[DEPENDENCY]
./jarvis -install package/hpckit/25.0.0 any
module use $JARVIS_ROOT/software/utils/hpckit/25.0.0/HPCKit/latest/modulefiles
module add gcc/compiler12.3.1/gccmodule
echo "start add R mirror"
cat << EOF > ~/.Rprofile
options("repos" = c(CRAN="https://mirrors.huaweicloud.com/CRAN/"))
options(BioC_mirror="https://mirrors.westlake.edu.cn/bioconductor/")
EOF

./jarvis -install package/R/4.2.0 gcc

[ENV]
#!/bin/bash
module use $JARVIS_ROOT/software/utils/hpckit/25.0.0/HPCKit/latest/modulefiles
module add gcc/compiler12.3.1/gccmodule

module use $JARVIS_ROOT/software/moduledeps
module add gcc12.3.1/R/4.2.0

mkdir -p $JARVIS_ROOT/case/WGCNA


[APP]
app_name = WGCNA
build_dir =
binary_dir =
case_dir = $JARVIS_ROOT/case/WGCNA

[BUILD]
cd $JARVIS_TMP
R CMD INSTALL $JARVIS_DOWNLOAD/BiocManager_1.30.18.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/fastcluster_1.3.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/bitops_1.0-6.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/RCurl_1.98-1.10.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/stringi_1.8.7.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/data.table_1.17.8.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/isoband_0.2.6.tar.gz
Rscript -e 'install.packages("rmarkdown")'
R CMD INSTALL $JARVIS_DOWNLOAD/backports_1.2.1.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/checkmate_2.0.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/cli_2.4.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/colorspace_2.0-0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/crayon_1.4.1.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/ellipsis_0.3.1.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/fansi_0.4.2.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/farver_2.1.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/Formula_1.2-4.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/gtable_0.3.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/gridExtra_2.3.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/rstudioapi_0.13.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/htmlwidgets_1.5.3.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/htmlTable_2.1.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/jpeg_0.1-8.1.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/labeling_0.4.2.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/png_0.1-7.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/RColorBrewer_1.1-2.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/latticeExtra_0.6-29.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/lifecycle_1.0.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/munsell_0.5.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/utf8_1.2.1.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/vctrs_0.3.7.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/pillar_1.6.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/pkgconfig_2.0.3.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/R6_2.5.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/viridisLite_0.4.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/scales_1.1.1.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/tibble_3.1.0.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/withr_2.4.1.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/ggplot2_3.3.3.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/viridis_0.5.1.tar.gz
R CMD INSTALL $JARVIS_DOWNLOAD/Hmisc_5.2-4.tar.gz
Rscript -e 'BiocManager::install("WGCNA")'

[CLEAN]
rm -rf $JARVIS_ROOT/software/libs/gcc12.3.1/R/4.2.0

[RUN]
run =
binary =
nodes = 1

[BATCH]
cd $JARVIS_ROOT/case/WGCNA
rm -rf full_wgcna_analysis_script_final_stable_V4.R
cp $JARVIS_DOWNLOAD/full_wgcna_analysis_script_final_stable_V4.R .
Rscript full_wgcna_analysis_script_final_stable_V4.R

[JOB]
#!/bin/sh
#DSUB -n compile_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=608
#DSUB -oo WGCNA.%J.out
#DSUB -eo WGCNA.%J.err
cd $JARVIS_ROOT/case/WGCNA
rm -rf full_wgcna_analysis_script_final_stable_V4.R
cp $JARVIS_DOWNLOAD/full_wgcna_analysis_script_final_stable_V4.R .
Rscript full_wgcna_analysis_script_final_stable_V4.R


