[SERVER]
11.11.11.11

[DOWNLOAD]
brpc/1.9.0 https://github.com/apache/brpc/archive/refs/tags/1.9.0.tar.gz brpc-1.9.0.tar.gz


[DEPENDENCY]
set -e
set -x

yum install protobuf-compiler protobuf-devel gflags-devel leveldb-devel make cmake gcc g++ openssl openssl-devel -y

./jarvis -install bisheng/4.1.0 com
module purge 
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/brpc-1.9.0/bin:$PATH

[APP]
app_name = BRPC
build_dir = 
binary_dir = ${JARVIS_ROOT}/brpc-1.9.0/bin
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -zxvf ${JARVIS_DOWNLOAD}/brpc-1.9.0.tar.gz
cd brpc-1.9.0 

mkdir build
cd build
cmake .. -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/brpc-1.9.0
make -j32
make install

[CLEAN]
make clean

[RUN]
run =
binary =
nodes = 1
