[SERVER]
11.11.11.11


[DOWNLOAD]
RSEM/1.3.3 https://github.com/deweylab/RSEM/archive/refs/tags/v1.3.3.tar.gz RSEM-v1.3.3.tar.gz 
RSEM/case https://ftp.ensembl.org/pub/release-104/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz
RSEM/case https://ftp.ensembl.org/pub/release-104/gtf/homo_sapiens/Homo_sapiens.GRCh38.104.gtf.gz


[DEPENDENCY]
set -e
set -x
module purge 

./jarvis -install hpckit/2024.12.30 any
source software/utils/hpckit/2024.12.30/HPCKit/latest/setvars.sh --use-bisheng --force
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

echo "Check the source code"
if [ -d RSEM-1.3.3 ]; then
	rm -rf RSEM-1.3.3
fi
if [ -d workloads/RSEM ]; then
	rm -rf workloads/RSEM
fi

tar -xvzf ${JARVIS_DOWNLOAD}/RSEM-v1.3.3.tar.gz
cp RSEM-1.3.3/Makefile RSEM-1.3.3/Makefile.bak
mkdir -p RSEM-1.3.3/RSEM

mkdir -p workloads/RSEM/rsem-test
cd workloads/RSEM/rsem-test
cp ${JARVIS_DOWNLOAD}/Homo_sapiens.GRCh38.104.gtf.gz .
cp ${JARVIS_DOWNLOAD}/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz .
gunzip -k Homo_sapiens.GRCh38.104.gtf.gz
gunzip -k Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz

echo "Check the execution dependency “STAR” of the example "
if command -v STAR; then
	echo "Already install the execution dependency “STAR”."
else 
	echo "Please install the execution dependency “STAR” in ${JARVIS_ROOT} or configure the STAR executable file environment variables after installation."
fi


[ENV]
set -e
set -x
module purge
./jarvis -install hpckit/2024.12.30 any
source software/utils/hpckit/2024.12.30/HPCKit/latest/setvars.sh --use-bisheng --force
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

export PATH=${JARVIS_ROOT}/RSEM-1.3.3/RSEM/bin:$PATH
export PATH=${JARVIS_ROOT}/STAR-2.7.1a/source:$PATH


[APP]
app_name = RSEM
build_dir = ${JARVIS_ROOT}/RSEM-1.3.3
binary_dir =
case_dir = ${JARVIS_ROOT}/workloads/RSEM/rsem-test


[BUILD]
set -e
set -x

sed -i '14s|CXX = g++|CXX = clang++|' Makefile
sed -i "28s|prefix ?= \/usr/local|prefix ?=${JARVIS_ROOT}/RSEM-1.3.3/RSEM|" Makefile

make -j
make install


[CLEAN]
set -e
set -x
make clean


[RUN]
run = rsem-prepare-reference --gtf Homo_sapiens.GRCh38.104.gtf --star Homo_sapiens.GRCh38.dna.primary_assembly.fa ./rsem_ref
binary =
nodes = 1


[PERF]
perf=
nsys=
ncu=--target-processes all

