[SERVER]
11.11.11.11

[ENV]
# add gcc/mpi
module use /opt/modulefile/
module load openmpi-4.1.1

[APP]
app_name = VASP
build_dir = /home/HPCRunner/vasp.5.4.4/
binary_dir = /home/HPCRunner/vasp.5.4.4/bin/
case_dir = /home/HPCRunner/vasp_normal

[BUILD]
make std

[CLEAN]
make veryclean

[RUN]
run = mpirun -mca pml ucx -mca btl ^vader,tcp,openib,uct -np 128
binary = vasp_std
nodes = 1