[SERVER]
11.11.11.11

[ENV]
# add gcc/mpi
export BLAS_LIBS="-I/home/HPCRunner-master/software/arm/gcc/openblas-0.3.18/include -L/home/HPCRunner-master/software/arm/gcc/openblas-0.3.18/lib/ -lopenblas"
export LAPACK_LIBS="-L/home/HPCRunner-master/software/arm/gcc/openblas-0.3.18/lib/ -lopenblas"
#export SCALAPACK_LIBS="-lgfortran -L/home/HPCRunner-master/software/arm/gcc/scalapack-2.1.0/ -lscalapack"
export FFT_LIBS="-I/home/HPCRunner-master/software/arm/gcc/fftw-3.3.8/FFTW/include/ -L/home/HPCRunner-master/software/arm/gcc/fftw-3.3.8/FFTW/lib/ -lfftw3 -lfftw3_omp"
export LD_LIBRARY_PATH=/home/HPCRunner-master/software/arm/gcc/openblas-0.3.18/lib/:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/opt/nvidia/hpc_sdk/Linux_aarch64/21.9/comm_libs/openmpi4/openmpi-4.0.5/lib/:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/opt/nvidia/hpc_sdk/Linux_aarch64/21.9/compilers/lib/:$LD_LIBRARY_PATH
module purge
module use modules
module load compiler/kgcc

module use /opt/nvidia/hpc_sdk/modulefiles/
module load nvhpc/21.9

[APP]
app_name = QE
build_dir = /home/HPCRunner-master/q-e-qe-6.8/
binary_dir = /home/HPCRunner-master/q-e-qe-6.8/bin/
case_dir = /home/HPCRunner-master/jiancong/

[BUILD]
./configure --with-cuda=yes --with-cuda-runtime=11.4 --with-cuda-cc=80  --enable-openmp --with-scalapack=no
echo DFLAGS += -D__GPU_MPI -D__FFTW3 >> make.inc
echo LD_LIBS += -lcurand >> make.inc
make pw -j 64

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -mca btl ^vader,tcp,openib,uct -np 4 -x OMP_NUM_THREADS=1
binary = pw.x -nk 4 -input ausurf.in
nodes = 1