[SERVER]
11.11.11.11

[ENV]
# add gcc ompi
module use /opt/modulefile
module add gcc-9.3.1 openmpi-4.1.1
# add cuda
export CUDA_INCLUDE_DIRS=/usr/local/cuda/include
export CUDA_CUDART_LIBRARY=/usr/local/cuda/lib64/libcudart.so
export CUDA_HOME=/usr/local/cuda
export PATH=$CUDA_HOME/bin:$PATH
export LD_LIBRARY_PATH=$CUDA_HOME/lib64:$LD_LIBRARY_PATH
export C_INCLUDE_PATH=$CUDA_HOME/include:$C_INCLUDE_PATH
export LIBRARY_PATH=$CUDA_HOME/lib64:$LIBRARY_PATH

[APP]
app_name = Amber
build_dir = /home/amber20_src/build/
binary_dir = /home/amber20/bin/
case_dir = /home/amber_case/

[BUILD]
./run_cmake
make -j 96 install

[CLEAN]
./clean_build

[RUN]
run = mpirun -mca btl ^vader,tcp,openib,uct -np 2
binary = pmemd.cuda_SPFP.MPI -O -i mdinOPT.GPU -o mdout -p Cellulose.prmtop -c Cellulose.inpcrd && cat mdout
nodes = 1