[SERVER]
11.11.11.11

[ENV]
# add gcc/mpi
module use modules
module load compiler/kgcc-9.3
module load gcc/openmpi

[APP]
app_name = OpenFOAM
build_dir = /home/HPCRunner/OpenFOAM-v1906/
binary_dir = 
case_dir = /home/HPCRunner/OpenFOAM-v1906/tutorials/incompressible/pisoFoam/LES/motorBike/motorBike/

[BUILD]
source /home/HPCRunner/OpenFOAM-v1906/etc/bashrc
./Allwmake -j 64

[CLEAN]
rm -rf build

[RUN]
run = 
binary = ./Allrun
nodes = 1