[SERVER]
11.11.11.11

[DOWNLOAD]
true

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2

./jarvis -install openblas/0.3.25/clang bisheng
module load openblas-clang/0.3.25-%#MYKBSVER#%

./jarvis -install anaconda3/2024.10 any
module load anaconda3/2024.10
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load cmake/3.28.2
module load openblas-clang/0.3.25-%#MYKBSVER#%
module load anaconda3/2024.10

[APP]
fake = 1
app_name = alphafold
app_version = 2
compiler = bisheng
build_dir = ${JARVIS_APP}/alphafold/2-%#MYKBSVER#%/project
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/alphafold2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1

####  build
echo "build start"

set +x
source $CONDA_SH
set -x

AF_ENV=${BUILD_DIR}/conda_env/af2
conda create  --prefix=${AF_ENV} python=3.11
conda activate ${AF_ENV}

conda install -c conda-forge gmp mpfr mpc -y

pip install ninja pybind11==2.11.1 absl-py==2.0.0 biopython==1.81 chex==0.1.84 dm-haiku==0.0.10 dm-tree==0.1.8 \
    immutabledict==3.0.0 ml-collections==0.1.1 numpy==1.26.4 scipy==1.11.3 tensorflow==2.14.0 pandas==2.1.1 psutil==5.9.6 \
    tqdm==4.65.0 joblib==1.3.2 pragzip==0.6.0 jax==0.4.21 jaxlib==0.4.21 --trusted-host mirrors.huaweicloud.com \
    -i https://mirrors.huaweicloud.com/repository/pypi/simple

#install hmpi 5.0.1
if [ ! -d "hmpi-5.0.1" ]; then
unzip ${JARVIS_DOWNLOAD}/hmpi-5.0.1.zip
fi
export PATH=$BUILD_DIR/hmpi-5.0.1/hmpi-5.0.1/bin:$PATH
export PATH=$BUILD_DIR/hmpi-5.0.1/openucx-1.10.1/bin:$PATH
export PATH=$BUILD_DIR/hmpi-5.0.1/openxucg-1.3.1/bin:$PATH

export LD_LIBRARY_PATH=$BUILD_DIR/hmpi-5.0.1/hmpi-5.0.1/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$BUILD_DIR/hmpi-5.0.1/openucx-1.10.1/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$BUILD_DIR/hmpi-5.0.1/openxucg-1.3.1/lib:$LD_LIBRARY_PATH

export OPAL_PREFIX=$BUILD_DIR/hmpi-5.0.1/hmpi-5.0.1

#install kml kblas
if [ ! -d "kblas_psi_20240627-bgemm_optim" ]; then
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/kblas_psi_20240627-bgemm_optim.tar.gz
fi
cd kblas_psi_20240627-bgemm_optim/blas
if [ ! -d "out/release/kplblas" ]; then
IS_BISHENG=enable ./build/build.sh all multi release arm64 KP1636SME
fi
cd ../..

#install pytorch
if [ ! -d "pytorch-kpex-hbm" ]; then
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/pytorch-kpex-hbm.tar.gz
fi
cd pytorch-kpex-hbm
pip uninstall torch -y

if [ ! -f "dist/torch-2.1.0a0+gitunknown-cp311-cp311-linux_aarch64.whl" ]; then
if [ -d "build" ]; then
rm -rf build
python setup.py clean
fi

sed -i "5c\numpy==1.26.4" requirements.txt
pip install -r requirements.txt --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple

CFLAGS="-L${BUILD_DIR}/hmpi-5.0.1/hmpi-5.0.1/lib -lmpi -stdlib=libc++ -lc++ -lc++abi" \
SVE_VECBITS=512 DEBUG=0 USE_MKLDNN=0 USE_CUDA=0 BUILD_TEST=0 USE_FBGEMM=0 USE_NNPACK=0 \
USE_QNNPACK=0 USE_XNNPACK=0 \
KML_HOME=${BUILD_DIR}/kblas_psi_20240627-bgemm_optim/blas/out/release/kplblas \
USE_HBM=0 BLAS=KML python setup.py bdist_wheel
fi
pip install dist/torch-2.1.0a0+gitunknown-cp311-cp311-linux_aarch64.whl
cd ..

#instakk kpex
cd pytorch-kpex-hbm/third_party/kunpeng-pytorch-extension
pip uninstall kunpeng-pytorch-extension -y

if [ ! -f "dist/kunpeng_pytorch_extension-0.0.1-cp311-cp311-linux_aarch64.whl" ]; then
if [ -d "build" ]; then
rm build -rf
fi

CFLAGS="-stdlib=libc++ -lc++ -lc++abi" KPEX_BUILD_TYPE=release KPEX_TARGET=KP1636 \
HMPI_ROOT=$BUILD_DIR/hmpi-5.0.1/hmpi-5.0.1 python setup.py bdist_wheel
fi
pip install dist/kunpeng_pytorch_extension-0.0.1-cp311-cp311-linux_aarch64.whl
cd ../../..

#install alphafold
if [ ! -d "open-omics-alphafold-arm_distributed" ]; then
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/open-omics-alphafold-arm_distributed.tar.gz
fi
cd open-omics-alphafold-arm_distributed

sed -i "37c\#kunpeng-pytorch-extention" requirements.txt
sed -i "46c\numpy==1.26.4" requirements.txt
sed -i "48c\#OpenMM==8.0.0" requirements.txt
sed -i "52c\#pdbfixer" requirements.txt
pip install -r requirements.txt --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple

sed -i "4c\bisheng_path=\$(dirname \$(dirname \$(which clang)))" psi_run_af2.sh
sed -i "5c\kml_path=${BUILD_DIR}/kblas_psi_20240627-bgemm_optim" psi_run_af2.sh
sed -i "41c\thread=36" psi_run_af2.sh
sed -i "42c\rankfile=rankfile0" psi_run_af2.sh
sed -i "43c\rank_num=8" psi_run_af2.sh

cat > rankfile0 << EOF
rank 0=localhost slot=0-35
rank 1=localhost slot=38-73
rank 2=localhost slot=76-111
rank 3=localhost slot=114-149
rank 4=localhost slot=152-187
rank 5=localhost slot=190-225
rank 6=localhost slot=228-263
rank 7=localhost slot=266-301
EOF

echo "build done!!!"

#### install jobsript for case test
echo "Install start"

cat > ${JARVIS_JOBSCRIPT}/alphafold-2-run.sh << EOF
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load openblas-clang/0.3.25-%#MYKBSVER#%
module load anaconda3/2024.10

source $CONDA_SH
conda activate ${AF_ENV}

export PATH=$BUILD_DIR/hmpi-5.0.1/hmpi-5.0.1/bin:$PATH
export PATH=$BUILD_DIR/hmpi-5.0.1/openucx-1.10.1/bin:$PATH
export PATH=$BUILD_DIR/hmpi-5.0.1/openxucg-1.3.1/bin:$PATH

export LD_LIBRARY_PATH=$BUILD_DIR/hmpi-5.0.1/hmpi-5.0.1/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$BUILD_DIR/hmpi-5.0.1/openucx-1.10.1/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$BUILD_DIR/hmpi-5.0.1/openxucg-1.3.1/lib:$LD_LIBRARY_PATH

export OPAL_PREFIX=$BUILD_DIR/hmpi-5.0.1/hmpi-5.0.1

cd ${BUILD_DIR}/open-omics-alphafold-arm_distributed

if [ ! -f "../af_input/casp14/T1050/deepmind/intermediates/processed_features.npz" ]; then
mkdir -p ../af_input/casp14/T1050/deepmind/intermediates
cp ${JARVIS_DOWNLOAD}/processed_features.npz ../af_input/casp14/T1050/deepmind/intermediates
cd ../af_input/casp14/T1050
tar -zxvf ${JARVIS_DOWNLOAD}/af2.tar.gz af2/af_output/T1050/T1050_ref.pdb --strip-components=3
cd ${BUILD_DIR}/open-omics-alphafold-arm_distributed
fi

if [ ! -d "../af_input/weights/extracted/model_1" ]; then
mkdir -p ../af_input/weights/extracted
cd ../af_input/weights/extracted
tar -zxvf ${JARVIS_DOWNLOAD}/af2.tar.gz af2/af_output/weights/extracted/model_1 --strip-components=4
cd ${BUILD_DIR}/open-omics-alphafold-arm_distributed
fi

export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
bash ./psi_run_af2.sh
EOF
echo "Install done!!!"

[RUN]

