[SERVER]
11.11.11.11

[DOWNLOAD]
alphafold/2 https://github.com/IntelLabs/open-omics-alphafold/releases/download/v1.0/source_code_with_submodules.tar.gz Open-omics-alphafold-v1.0.tar.gz

[DEPENDENCY]
set -e

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule

./jarvis -install anaconda3/2024.10 any
module load anaconda3/2024.10

source ${CONDA_SH}
if [ "$(conda env list | grep iaf2 | awk '{print $1}')" != "iaf2" ]; then
conda create -n iaf2 python=3.11 -y
fi
conda activate iaf2

pip install ninja torch==2.1.0 pybind11==2.11.1 absl-py==2.0.0 biopython==1.81 chex==0.1.84 dm-haiku==0.0.10 dm-tree==0.1.8 \
    immutabledict==3.0.0 ml-collections==0.1.1 numpy==1.26.1 scipy==1.11.3 tensorflow==2.14.0 pandas==2.1.1 psutil==5.9.6 \
    tqdm==4.65.0 joblib==1.3.2 pragzip==0.6.0 jax==0.4.21 jaxlib==0.4.21 --trusted-host mirrors.huaweicloud.com \
    -i https://mirrors.huaweicloud.com/repository/pypi/simple
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load anaconda3/2024.10

[APP]
fake = 0
app_name = alphafold
app_version = 2
compiler = gcc
build_dir = ${JARVIS_APP}/alphafold/2-%#MYKGCCVER#%
binary_dir = ${JARVIS_APP}/alphafold/2-%#MYKGCCVER#%
case_dir = ${JARVIS_JOBSCRIPT}/alphafold/2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x


install_path=$1

source ${CONDA_SH}
conda activate iaf2

export GIT_NO_SSL_CERTIFY=1

if [ ! -d "open-omics-alphafold" ]; then
git clone https://github.com/IntelLabs/open-omics-alphafold.git
fi

cd open-omics-alphafold
git checkout 8475c78
git submodule update --init --recursive

cd tpp-pytorch-extension
git checkout .
git checkout ./parlooper

####### build start
set +x && echo_info "build start" && set -x

cp ${JARVIS_ROOT}/dataconfig_patches/alphafold/2/sse2neon.h src/csrc
sed -i "9380s%_rdtsc%__rdtsc%g" src/csrc/sse2neon.h
sed -i "16a #include <sse2neon.h>" src/csrc/xsmm_functors.h
sed -i "470c\     cols, rows, ldi, ldo, LIBXSMM_DATATYPE_F32, LIBXSMM_DATATYPE_F32, LIBXSMM_DATATYPE_F32);" src/csrc/xsmm_functors.h
sed -i "571c\     cols, rows, ldi0, ldi1, ldo, LIBXSMM_DATATYPE_F32, LIBXSMM_DATATYPE_F32, LIBXSMM_DATATYPE_F32, LIBXSMM_DATATYPE_F32);" src/csrc/xsmm_functors.h
sed -i 's/-D_GLIBCXX_USE_CXX11_ABI=0/-D_GLIBCXX_USE_CXX11_ABI=1/g' ./parlooper/Makefile ./parlooper/samples/spgemm/Makefile ./parlooper/samples/conv/Makefile ./parlooper/samples/gemm/Makefile ./parlooper/src/Makefile
python3 setup.py install


####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/alphafold/2
mkdir -p ${JOBDIR}

${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load alphafold/2-%#MYKGCCVER#%" >> ${JOBDIR}/env.sh
cp ${JARVIS_ROOT}/dataconfig_patches/alphafold/2/run_920.py ${JOBDIR}/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_alphafold2
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o out_%J.log
#DSUB -e err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.alphafold2
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source env.sh
source ${CONDA_SH}
conda activate iaf2
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
WORK_DIR=\$(pwd)

cd \${ALPHAFOLD_PATH}/open-omics-alphafold
tar --no-same-owner -xf ${JARVIS_DOWNLOAD}/alphafold2_case.tgz

git checkout online_inference_baremetal.sh

sed -i "32a core_per_instance=\\\$7" online_inference_baremetal.sh
sed -i "s/run_modelinfer_pytorch_jit.py/run_920.py/g" online_inference_baremetal.sh
sed -i "43c export LD_PRELOAD=$(dirname $(dirname $(which gcc)))/lib64/libgomp.so:$(dirname $(dirname $(which gcc)))/lib64/libjemalloc.so:\$LD_PRELOAD" online_inference_baremetal.sh
sed -i "s/TF_ENABLE_ONEDNN_OPTS=1/TF_ENABLE_ONEDNN_OPTS=0/g" online_inference_baremetal.sh
sed -i "s/USE_AVX512=1/USE_AVX512=0/g" online_inference_baremetal.sh
sed -i "s/IPEX_ONEDNN_LAYOUT=1/IPEX_ONEDNN_LAYOUT=0/g" online_inference_baremetal.sh
sed -i "s/AF2_BF16=1/AF2_BF16=0/g" online_inference_baremetal.sh
sed -i  "s/\\\$script/numactl -N 0,1 -m 0,1 \\\$script/g" online_inference_baremetal.sh
sed -i "s/num_iter+1/num_iter/g" alphafold_pytorch_jit/subnets.py

# ready the runscript
cp \${WORK_DIR}/run_920.py .
export conda_env_path=$(dirname $(dirname $(which python)))
export root_home=\${ALPHAFOLD_PATH}/open-omics-alphafold
export data_dir=\${ALPHAFOLD_PATH}/open-omics-alphafold/af_input
export input_dir=\${ALPHAFOLD_PATH}/open-omics-alphafold/fa_data
export output_dir=\${ALPHAFOLD_PATH}/open-omics-alphafold/af_output
export AF2_BF16=0
export USE_TPP=1
export OMP_NUM_THREADS=64
export BLAS_NUM_THREADS=64
export ncores=64
time -p (bash online_inference_baremetal.sh \${conda_env_path} \${root_home} \${data_dir} \${input_dir} \${output_dir} model_1_ptm \${ncores})
EOF

cat > ${JOBDIR}/alphafold-2-run.sh << EOF
#!/bin/bash

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/alphafold-2-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
