[SERVER]
11.11.11.11

[DOWNLOAD]
snappy/1.2.0 https://github.com/google/snappy/archive/refs/tags/1.2.0.zip snappy-1.2.0.zip
googletest https://github.com/google/googletest/archive/refs/heads/main.zip googletest-main.zip
benchmark https://github.com/google/benchmark/archive/refs/tags/v1.7.1.zip benchmark-v1.7.1.zip

[DEPENDENCY]
set -e
set -x
./jarvis -install bisheng/4.1.0 com
module purge 
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0

cd /home/liuqian/hpcrunner
CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/snappy-1.2.0/bin:$PATH

[APP]
app_name = SNAPPY 
build_dir = 
binary_dir = ${JARVIS_ROOT}/snappy-1.2.0/bin
case_dir =

[BUILD]
cd ${JARVIS_TMP}
unzip ${JARVIS_DOWNLOAD}/snappy-1.2.0.zip
cd snappy-1.2.0/third_party/googletest
unzip ${JARVIS_DOWNLOAD}/googletest-main.zip
mv googletest-main/* ./
rm -rf googletest-main
cd ../benchmark
unzip ${JARVIS_DOWNLOAD}/benchmark-v1.7.1.zip
mv benchmark-1.7.1/* ./
rm -rf benchmark-1.7.1
cd ../..

rm -rf build
mkdir build
cd build
cmake .. -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/snappy-1.2.0 -DCMAKE_BUILD_TYPE=Rlease -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++
make -j32
make install

[CLEAN]
make clean

[RUN]
run =
binary =
nodes = 1
