[SERVER]
11.11.11.11

[DOWNLOAD]
star/2.7.1a https://github.com/alexdobin/STAR/archive/refs/tags/2.7.1a.tar.gz STAR-2.7.1a.tar.gz
case1 http://ftp.ensembl.org/pub/release-97/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.2.fa.gz
case2 http://ftp.ensembl.org/pub/release-86/gtf/homo_sapiens/Homo_sapiens.GRCh38.86.chr.gtf.gz
case3 https://raw.githubusercontent.com/yejianbang/TG_r1-r2/refs/heads/main/TG_r1.fastq.gz
case4 https://raw.githubusercontent.com/yejianbang/TG_r1-r2/refs/heads/main/TG_r2.fastq.gz

[DEPENDENCY]
set -e
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/STAR-2.7.1a.tar.gz -C ${JARVIS_DEV}
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

[APP]
fake = 0
app_name = star
app_version = 2.7.1a
compiler = bisheng
build_dir = ${JARVIS_DEV}/STAR-2.7.1a
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/star/2.7.1a

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

set +x && check_install_path "${PATH_INSTALL}" && set -x
set +x && build_mod_check "${PATH_INSTALL}/bin/STAR" "prompt" && set -x
set +x && rm_file_from_base ${PATH_INSTALL}/bin STAR  && set -x
####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

sed -i "8c\LDFLAGSextra ?= -flto -march=native -mcpu=tsv110" source/Makefile
sed -i "9c\CXXFLAGSextra ?= -flto -march=native -mcpu=tsv110" source/Makefile
cd source
make STAR

if [ ! -d "${PATH_INSTALL}/bin/" ]; then
mkdir -p ${PATH_INSTALL}/bin/
fi
cp STAR ${PATH_INSTALL}/bin/

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/star/2.7.1a
mkdir -p ${JOBDIR}

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_bma
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'
source env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
module purge
module use $JARVIS_MODULES/modules
module load star/2.7.1a-%#MYKBSVER#%

if [ -d "test" ]; then
rm -rf test
fi
mkdir test
cd test

cp ${JARVIS_DOWNLOAD}/TG_r1.fastq.gz .
cp ${JARVIS_DOWNLOAD}/TG_r2.fastq.gz .
gzip -dck ${JARVIS_DOWNLOAD}/Homo_sapiens.GRCh38.dna.chromosome.2.fa.gz > Homo_sapiens.GRCh38.dna.chromosome.2.fa
gzip -dck ${JARVIS_DOWNLOAD}/Homo_sapiens.GRCh38.86.chr.gtf.gz > Homo_sapiens.GRCh38.86.chr.gtf

mkdir chr1_hg38_index
{ time STAR --runThreadN 96 --genomeSAindexNbases 12 --runMode genomeGenerate --genomeDir chr1_hg38_index --genomeFastaFiles Homo_sapiens.GRCh38.dna.chromosome.2.fa --sjdbGTFfile Homo_sapiens.GRCh38.86.chr.gtf --sjdbOverhang 99 ; } 2>&1 |tee genome-index.log

{ time STAR --runMode alignReads --outSAMtype BAM Unsorted --readFilesCommand zcat --genomeDir chr1_hg38_index/ --outFileNamePrefix Homo_sapiens.GRCh38 --readFilesIn TG_r1.fastq.gz TG_r2.fastq.gz ; } 2>&1 |tee Mapping.log
EOF

cat > ${JOBDIR}/star-2.7.1a-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}

./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/star-2.7.1a-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
