[SERVER]
11.11.11.11

[DOWNLOAD]
velvet/1.2.10 ${JARVIS_PROXY}/dzerbino/velvet/archive/refs/tags/v1.2.10.tar.gz velvet-1.2.10.tgz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1
./jarvis -install hmpi/2.4.2 gcc
module load hmpi/2.4.2

tar -zxvf ${JARVIS_DOWNLOAD}/velvet-1.2.10.tgz -C ${JARVIS_TMP_DOWNLOAD}
mkdir -p ${JARVIS_ROOT}/software/apps/velvet/bin

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load hmpi/2.4.2
export OMP_NUM_THREADS=96
export OMP_THREAD_LIMIT=95

[APP]
app_name = velvet
build_dir = ${JARVIS_TMP_DOWNLOAD}/velvet-1.2.10
binary_dir = ${JARVIS_ROOT}/software/apps/velvet/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/velvet-1.2.10

[BUILD]
sed -ri 's/\-m64/\-mabi=lp64/g' Makefile
sed -ri 's/CC = gcc/CC = mpicc/g' Makefile
sed -ri 's/CC = gcc/CC = mpicc/g' contrib/MetaVelvet-v0.3.1/Makefile
make 'GATEGORIES=10' 'MAXKMERLENGTH=57' 'LONGSEQUENCES=1' 'OPENMP=1' 'BUNDLEDZLIB=1'
cp -ar velveth velvetg ${JARVIS_ROOT}/software/apps/velvet/bin
mkdir -p ${JARVIS_TMP_DOWNLOAD}/velvet-1.2.10/output

[CLEAN]

[RUN]
run = ${JARVIS_ROOT}/software/apps/velvet/bin/velveth output 31 -shortPaired -fastq.gz tests/read1.fq.gz -shortPaired -fastq.gz tests/read2.fq.gz &&
binary = velvetg output -min_contig_lgth 100 -cov_cutoff 9
nodes = 1
