[SERVER]
11.11.11.11

[DOWNLOAD]
qmcpack/3.14.0 ${JARVIS_PROXY}/QMCPACK/qmcpack/archive/refs/tags/v3.14.0.tar.gz

[DEPENDENCY]
set -e
set -x
yum install -y cmake
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
export CC=clang CXX=clang++ FC=flang
export CFLAGS="-Wno-implicit-function-declaration -Wno-enum-constexpr-conversion -Wno-int-conversion"
./jarvis -install openblas/0.3.14 clang
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module add openblas/0.3.14
./jarvis -install boost/1.72.0/clang clang
module load boost-clang/1.72.0
./jarvis -install zlib/1.2.11 clang
module load zlib/1.2.11
./jarvis -install libxml2/2.10.1 clang
module load libxml2/2.10.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install fftw/3.3.8 clang+mpi
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load fftw/3.3.8
./jarvis -install hdf5/1.10.1/clang clang+mpi
module load hdf5-clang/1.10.1
cd ${JARVIS_ROOT}
rm qmcpack-3.14.0 -rf
tar -xvf ${JARVIS_DOWNLOAD}/v3.14.0.tar.gz

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
export CFLAGS="-Wno-implicit-function-declaration -Wno-enum-constexpr-conversion -Wno-int-conversion"
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module add openblas/0.3.14
module load boost-clang/1.72.0
module load zlib/1.2.11
module load libxml2/2.10.1
module use ./software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HPCKIT_VERSION}
module load fftw/3.3.8
module load hdf5-clang/1.10.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
export PATH=${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/qmcpack/3.14.0/bin:$PATH
export PYTHONPATH=${JARVIS_ROOT}/qmcpack-3.14.0/nexus/lib:$PYTHONPATH

[APP]
app_name = qmcpack
build_dir = ${JARVIS_ROOT}/qmcpack-3.14.0/build
binary_dir = ${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/qmcpack/3.14.0/bin
case_dir = ${JARVIS_ROOT}/qmcpack-3.14.0/build

[BUILD]
export BLAS="-L${OPENBLAS_PATH}/lib -lblas"
export CFLAGS="-Wno-implicit-function-declaration -Wno-enum-constexpr-conversion -Wno-int-conversion"
cmake \
-DCMAKE_BUILD_TYPE=Release \
-DCMAKE_INSTALL_PREFIX=${JARVIS_LIBS}/bisheng4.0.0/hmpi2.4.1/qmcpack/3.14.0 \
-DLIBXML2_LIBRARY=${LIBXML2_PATH}/lib/libxml2.so \
-DZLIB_LIBRARY=${ZLIB_PATH}/lib/libz.so \
-DFFTW_HOME=${FFTW_PATH} \
-DBOOST_ROOT=${BOOST_CLANG_PATH} \
../
sed -i '130c         struct hash_base : std::unary_function<T, std::size_t> {};' ${BOOST_CLANG_PATH}/include/boost/container_hash/hash.hpp
make -j
make install

[RUN]
run = export OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 && ctest -R unit && ctest -R deterministic -LE unstable
binary =
nodes = 1

