[SERVER]
11.11.11.11

[DOWNLOAD]
qmcpack/3.14.0 $JARVIS_PROXY/QMCPACK/qmcpack/archive/refs/tags/v3.14.0.tar.gz

[DEPENDENCY]
set -e
set -x
export CC=clang CXX=clang++ FC=flang
export CFLAGS="-Wno-implicit-function-declaration -Wno-enum-constexpr-conversion -Wno-int-conversion"
./jarvis -install openblas/0.3.14 clang
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.0.0
module add openblas/0.3.14
sed -i "8a sed -i '130c         struct hash_base : std::__unary_function<T, std::size_t> {};' ./boost/container_hash/hash.hpp" package/boost/1.72.0/clang/install.sh
sed -i '11c ./b2 toolset=clang cxxflags="-stdlib=libc++ -Wno-enum-constexpr-conversion" linkflags="-stdlib=libc++" install --prefix=\$1 ' package/boost/1.72.0/clang/install.sh
./jarvis -install boost/1.72.0/clang clang
module load boost-clang/1.72.0
./jarvis -install zlib/1.2.11 clang
module load zlib/1.2.11
./jarvis -install libxml2/2.10.1 clang
module load libxml2/2.10.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install fftw/3.3.8 clang+mpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.0.0-hmpi2.4.1
module load fftw/3.3.8
sed -i '10c ./configure --prefix=$1 --enable-fortran --enable-static=yes --enable-parallel --enable-shared CFLAGS="-O3 -fPIC -Wno-incompatible-pointer-types-discards-qualifiers -Wno-non-literal-null-conversion -Wno-int-conversion -Wno-implicit-function-declaration" FCFLAGS="-O3 -fPIC" LDFLAGS="-Wl,--build-id"' package/hdf5/1.10.1/clang/install.sh
./jarvis -install hdf5/1.10.1/clang clang+mpi
module load hdf5-clang/1.10.1
cd ${JARVIS_ROOT}
rm qmcpack-3.14.0 -rf
tar -xvf ${JARVIS_DOWNLOAD}/v3.14.0.tar.gz

[ENV]
export JARVIS_ROOT=/hpcrunner
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.0.0
module add boost-clang/1.72.0 zlib/1.2.11 libxml2/2.10.1
module load openblas/0.3.14
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.0.0-hmpi2.4.1/
module load hdf5-clang/1.10.1 fftw/3.3.8
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
export PATH=${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/qmcpack/3.14.0/bin:$PATH
export PYTHONPATH=${JARVIS_ROOT}/qmcpack-3.14.0/nexus/lib:$PYTHONPATH


[APP]
app_name = qmcpack
build_dir = ${JARVIS_ROOT}/qmcpack-3.14.0/build
binary_dir = ${JARVIS_ROOT}/software/libs/bisheng4.0.0/hmpi2.4.1/qmcpack/3.14.0/bin
case_dir = 

[BUILD]

export BLAS="-L${JARVIS_ROOT}/software/libs/bisheng4.0.0/openblas/0.3.14/lib -lblas"
export CFLAGS="-Wno-implicit-function-declaration -Wno-enum-constexpr-conversion -Wno-int-conversion -mcpu=linxicore9100  -mllvm -force-customized-pipeline=true"
export FCFLAGS="-mcpu=linxicore9100  -mllvm -force-customized-pipeline=true"
cmake \
-DCMAKE_BUILD_TYPE=Release                                              \
-DCMAKE_INSTALL_PREFIX=${JARVIS_LIBS}/bisheng4.0.0/hmpi2.4.1/qmcpack/3.14.0                    \
-DLIBXML2_LIBRARY=${JARVIS_LIBS}/bisheng4.0.0/libxml2/2.10.1/lib/libxml2.so \
-DZLIB_LIBRARY=${JARVIS_LIBS}/bisheng4.0.0/zlib/1.2.11/lib/libz.so          \
-DFFTW_HOME=${JARVIS_LIBS}/bisheng4.0.0/hmpi2.4.1/fftw/3.3.8                    \
-DBOOST_ROOT=${JARVIS_LIBS}/bisheng4.0.0/boost-clang/1.72.0                 \
../
sed -i '130c         struct hash_base : std::unary_function<T, std::size_t> {};' ${JARVIS_ROOT}/software/libs/bisheng4.0.0/boost-clang/1.72.0/include/boost/container_hash/hash.hpp
make -j
make install

[RUN]
#run = export OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 && ctest -R unit && ctest -R deterministic -LE unstable
run =
binary =
nodes = 1
