[SERVER]
11.11.11.11

# https://pypi.org/project/flit/3.12.0/
[DOWNLOAD]
flit/3.12.0 https://files.pythonhosted.org/packages/50/9c/0608c91a5b6c013c63548515ae31cff6399cd9ce891bd9daee8c103da09b/flit-3.12.0.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install python3/3.9.9 bisheng
module load python3/3.9.9

tar -zxvf ${JARVIS_DOWNLOAD}/flit-3.12.0.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load python3/3.9.9
#测试准备
export FLIT_ROOT_INSTALL=1

[APP]
app_name = flit
build_dir = ${JARVIS_TMP_DOWNLOAD}/flit-3.12.0
binary_dir =
case_dir = ${JARVIS_TMP_DOWNLOAD}/flit-3.12.0

[BUILD]
python3 bootstrap_dev.py
pip3 install .

#测试准备(git clone获取源码时,不用执行以下第一条命令)
sed -i 's/not which/which/g' tests/test_sdist.py
sed -i '368s/False/True/g' tests/test_install.py

[CLEAN]
pip3 uninstall flit -y
pip3 uninstall flit_core -y

[RUN]
run = 
binary = pytest
nodes = 1
