[SERVER]
11.11.11.11

[DOWNLOAD]
cp2k/7.1 https://github.com/cp2k/cp2k/archive/v7.1.0.tar.gz cp2k-7.1.tar.gz
dbcsr/2.0.1 https://github.com/cp2k/dbcsr/releases/download/v2.0.1/dbcsr-2.0.1.tar.gz

[DEPENDENCY]
set -x
set -e
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0 com

module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang

./jarvis -install hmpi/1.1.1 clang

./jarvis -install gmp/6.2.0 clang
./jarvis -install boost/1.72.0 clang
./jarvis -install openblas/0.3.18 clang
./jarvis -install spglib/1.16.0 clang
./jarvis -install libxc/4.3.4 clang
./jarvis -install gsl/2.6 clang
./jarvis -install libvori/21.04.12 clang
./jarvis -install lapack/3.8.0/bisheng clang

module load openblas/0.3.18
module load gsl/2.6
module load hmpi/1.1.1
module load gmp/6.2.0
module load boost/1.72.0 

export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install libint/2.6.0 clang+mpi
./jarvis -install fftw/3.3.8 clang+mpi
./jarvis -install scalapack/2.1.0/lapack-bisheng clang+mpi
./jarvis -install plumed/2.6.2 clang+mpi
module load scalapack-lapack-bisheng/2.1.0 openblas/0.3.18
./jarvis -install elpa/2019.05.001 clang+mpi

tar -zxvf $JARVIS_DOWNLOAD/cp2k-7.1.tar.gz
tar -zxvf $JARVIS_DOWNLOAD/dbcsr-2.0.1.tar.gz -C ${JARVIS_ROOT}/cp2k-7.1.0/exts/dbcsr --strip-components=1

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
module load hmpi/1.1.1
module load gsl/2.6

[APP]
app_name = CP2K
build_dir = ${JARVIS_ROOT}/cp2k-7.1.0
binary_dir = ${JARVIS_ROOT}/cp2k-7.1.0/exe/Linux-arm-clang/
case_dir = ${JARVIS_ROOT}/cp2k-7.1.0/benchmarks/QS/

[BUILD]
cd ./arch
cp ${JARVIS_ROOT}/templates/CP2K/7.1/bisheng/Linux-arm-clang.psmp ./
sed -i "10s%path1%${JARVIS_ROOT}/software/libs/bisheng2.1.0/hmpi1.1.11%g" Linux-arm-clang.psmp
sed -i "11s%path2%${JARVIS_ROOT}/software/libs/bisheng2%g" Linux-arm-clang.psmp
cd ..
 
make -j 128 ARCH=Linux-arm-clang VERSION=psmp

[CLEAN]
make -j 128 ARCH=Linux-arm-clang VERSION=psmp clean

[RUN]
run = numactl -C 0-63  mpirun --allow-run-as-root -np 64 -x OMP_NUM_THREADS=1
binary = cp2k.psmp H2O-256.inp
nodes = 1

