[SERVER]
11.11.11.11

[DOWNLOAD]
cp2k/7.1 https://github.com/cp2k/cp2k/archive/v7.1.0.tar.gz cp2k-7.1.tar.gz
dbcsr/2.0.1 https://github.com/cp2k/dbcsr/releases/download/v2.0.1/dbcsr-2.0.1.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang

#./jarvis -install kgcc/9.3.1 com
#module load kgcc9/9.3.1
#export CC=gcc CXX=g++ FC=gfortran

./jarvis -install hmpi/1.1.1 clang
./jarvis -install gmp/6.2.0 clang
./jarvis -install boost/1.72.0 clang
./jarvis -install openblas/0.3.18 clang
./jarvis -install spglib/1.16.0 clang
./jarvis -install libxc/4.3.4 clang
./jarvis -install gsl/2.6 clang
./jarvis -install libvori/21.04.12 clang
./jarvis -install lapack/3.8.0/bisheng clang
#./jarvis -install fftw/3.3.8 clang
module load openblas/0.3.18
module load gsl/2.6
module load hmpi1/1.1.1
module load gmp/6.2.0
module load boost/1.72.0 

export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install libint/2.6.0 clang+mpi
./jarvis -install fftw/3.3.8 clang+mpi
./jarvis -install scalapack/2.1.0/lapack-bisheng clang+mpi
./jarvis -install plumed/2.6.2 clang+mpi
module load scalapack-lapack-bisheng/2.1.0 openblas/0.3.18
./jarvis -install elpa/2019.05.001 clang+mpi

[ENV]
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
#module load kgcc9/9.3.1
module load hmpi1/1.1.1
module load gsl/2.6

[APP]
app_name = CP2K
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng2/hmpi1/cp2k-7.1/exe/local-cuda/
case_dir = ${JARVIS_ROOT}/software/apps/bisheng2/hmpi1/cp2k-7.1/benchmarks/QS/

[BUILD]
cd ${JARVIS_TMP}
rm -rf cp2k-7.1.0
tar -zxvf $JARVIS_DOWNLOAD/cp2k-7.1.tar.gz
cd cp2k-7.1.0
cd exts/dbcsr
cp $JARVIS_DOWNLOAD/dbcsr-2.0.1.tar.gz ./
tar -xvf dbcsr-2.0.1.tar.gz
cd dbcsr-2.0.1
mv * ../
cd ../../../arch
mv Linux-arm-clang.psmp Linux-arm-clang.psmp.bak
cp ${JARVIS_ROOT}/templates/CP2K/8.2/bisheng/Linux-arm-clang.psmp ./
sed -i "10s%path1%${JARVIS_ROOT}/software/libs/bisheng2/hmpi1%g" Linux-arm-clang.psmp
sed -i "11s%path2%${JARVIS_ROOT}/software/libs/bisheng2%g" Linux-arm-clang.psmp
cd ..
 
make -j ARCH=Linux-arm-clang VERSION=psmp

[CLEAN]
cd $JARVIS_TMP
tar -jxvf $JARVIS_DOWNLOAD/cp2k-7.1.tar.gz
make -j 128 ARCH=local-cuda VERSION=psmp clean

[RUN]
run = numactl -C 0-63  mpirun --allow-run-as-root -x CUDA_VISIBLE_DEVICES=0,1 -np 64 -x OMP_NUM_THREADS=1
binary = cp2k.psmp H2O-256.inp
nodes = 1

