[SERVER]
11.11.11.11

[DOWNLOAD]
qmcpack/3.13.0 https://github.com/QMCPACK/qmcpack/archive/refs/tags/v3.13.0.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1
./jarvis -install cmake/3.23.1 clang
module load cmake/3.23.1
./jarvis -install openblas/0.3.18 clang
./jarvis -install boost/1.72.0/clang clang
module load boost-clang/1.72.0
./jarvis -install zlib/1.2.12 clang
module load zlib/1.2.12
./jarvis -install libxml2/2.10.1 clang
module load libxml2/2.10.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install fftw/3.3.8 clang+mpi
module load fftw/3.3.8
./jarvis -install hdf5/1.10.1/clang clang+mpi
module load hdf5-clang/1.10.1
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/v3.13.0.tar.gz

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load bisheng/2.1.0
module load hmpi/1.1.1
module load cmake/3.23.1 openblas/0.3.18 libxml2/2.10.1
module load hdf5-clang/1.10.1 fftw/3.3.8 zlib/1.2.12
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = qmcpack
build_dir = ${JARVIS_TMP}/qmcpack-3.13.0/build
binary_dir = ${JARVIS_LIBS}/qmcpack-3.13.0/build/bin
case_dir = ${JARVIS_TMP}/qmcpack-3.13.0/build

[BUILD]
cmake \
-DCMAKE_BUILD_TYPE=Release                                              \
-DCMAKE_INSTALL_PREFIX=${JARVIS_LIBS}/qmcpack-3.13.0                    \
-DLIBXML2_LIBRARY=${JARVIS_LIBS}/bisheng2.1.0/libxml2/2.10.1/lib/libxml2.so \
-DZLIB_LIBRARY=${JARVIS_LIBS}/bisheng2.1.0/zlib/1.2.12/lib/libz.so          \
-DFFTW_HOME=${JARVIS_LIBS}/bisheng2.1.0/hmpi1.1.1/fftw/3.3.8                    \
-DBOOST_ROOT=${JARVIS_LIBS}/bisheng2.1.0/boost-clang/1.72.0                 \
../
make -j
make install

[RUN]
run = export OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 && ctest -R unit && ctest -R deterministic -LE unstable
binary =
nodes = 1