[SERVER]
11.11.11.11

[DOWNLOAD]
PWDFT/master ${JARVIS_PROXY}/ebylaska/PWDFT/archive/refs/heads/master.zip PWDFT-master.zip

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}
rm -rf ${JARVIS_ROOT}/software/apps/pwdft/bin
mkdir -p ${JARVIS_ROOT}/software/apps/pwdft/bin
rm -rf ${JARVIS_TMP_DOWNLOAD}/PWDFT-master
unzip ${JARVIS_DOWNLOAD}/PWDFT-master.zip -d ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}

[APP]
app_name = pwdft
build_dir = ${JARVIS_TMP_DOWNLOAD}/PWDFT-master/
binary_dir = ${JARVIS_ROOT}/software/apps/pwdft/bin/
case_dir = ${JARVIS_TMP_DOWNLOAD}/PWDFT-master/test

[BUILD]
sed -ri 's/\-m64/\-mabi=lp64/g' Nwpw/CMakeLists.txt
sed -ri 's/\-mfpmath=sse//g' Nwpw/CMakeLists.txt
cmake -H. -Bbuild -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_C_COMPILER=mpicc -DCMAKE_Fortran_COMPILER=mpifort ./Nwpw
cd build/
sed -i -e '105s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '183s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '184s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '191s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '191s/::std::size_t/size_t/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '192s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '195s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '199s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '355s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '358s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '359s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '504s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '645s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '138s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '219s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '563s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '564s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '566s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '567s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
make
cp -ar pwdft ${JARVIS_ROOT}/software/apps/pwdft/bin/

[CLEAN]
rm -rf build

[RUN]
run = mpirun --allow-run-as-root -np $(nproc) --mca btl ^openib
binary = pwdft eric0.nw
nodes = 1

