[SERVER]
11.11.11.11

[DOWNLOAD]
PWDFT/master ${JARVIS_PROXY}/ebylaska/PWDFT/archive/refs/heads/master.zip PWDFT-master.zip

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install hmpi/2.4.2 bisheng
module load hmpi/2.4.2

mkdir -p ${JARVIS_ROOT}/software/apps/pwdft/bin
unzip ${JARVIS_DOWNLOAD}/PWDFT-master.zip -d ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load hmpi/2.4.2

[APP]
app_name = pwdft
build_dir = ${JARVIS_TMP_DOWNLOAD}/PWDFT-master
binary_dir = ${JARVIS_ROOT}/software/apps/pwdft/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/PWDFT-master/test

[BUILD]
sed -ri 's/\-m64/\-mabi=lp64/g' Nwpw/CMakeLists.txt
sed -ri 's/\-mfpmath=sse//g' Nwpw/CMakeLists.txt
cmake -H. -Bbuild -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_C_COMPILER=mpicc -DCMAKE_Fortran_COMPILER=mpifort ./Nwpw
cd build/
make
cp -ar pwdft ${JARVIS_ROOT}/software/apps/pwdft/bin/

[CLEAN]
rm -rf build

[RUN]
run = mpirun --allow-run-as-root -np $(nproc) --mca btl ^openib
binary = pwdft eric0.nw
nodes = 1
