[SERVER]
11.11.11.11

[DOWNLOAD]
PWDFT/master ${JARVIS_PROXY}/ebylaska/PWDFT/archive/refs/heads/master.zip PWDFT-master.zip

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}
rm -rf ${JARVIS_ROOT}/software/apps/pwdft/bin
mkdir -p ${JARVIS_ROOT}/software/apps/pwdft/bin
rm -rf ${JARVIS_TMP_DOWNLOAD}/PWDFT-master
unzip ${JARVIS_DOWNLOAD}/PWDFT-master.zip -d ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}

[APP]
app_name = pwdft
build_dir = ${JARVIS_TMP_DOWNLOAD}/PWDFT-master/
binary_dir = ${JARVIS_ROOT}/software/apps/pwdft/bin/
case_dir = ${JARVIS_TMP_DOWNLOAD}/PWDFT-master/test

[BUILD]
sed -ri 's/\-m64/\-mabi=lp64/g' Nwpw/CMakeLists.txt
sed -ri 's/\-mfpmath=sse//g' Nwpw/CMakeLists.txt
cmake -H. -Bbuild -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_C_COMPILER=mpicc -DCMAKE_Fortran_COMPILER=mpifort ./Nwpw
cd build/
sed -i -e '105s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '183s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '184s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '191s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '191s/::std::size_t/size_t/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '192s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '195s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '199s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '355s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '358s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '359s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '504s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '645s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '138s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '219s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '563s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '564s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '566s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '567s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '656s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '674s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '675s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '677s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '678s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '679s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '680s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '681s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '683s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '684s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '685s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '686s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '687s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '688s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '689s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '796s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i -e '797s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp
sed -i '712s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/pspw/lib/vdw-DF/vdw_DF.cpp

sed -i -e '140s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i -e '260s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i -e '261s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i -e '268s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '268s/::std::size_t/size_t/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '269s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '272s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '276s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '514s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '517s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '518s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '737s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '884s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '895s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '913s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '914s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '916s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '917s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '918s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '919s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '920s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '922s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '923s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '924s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '925s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '926s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '927s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '928s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '1079s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '1080s/\bstd\b/::std/g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '178s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '296s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '796s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '797s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '799s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '800s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp
sed -i '951s/std:://g' /root/hpcrunner/tmp/PWDFT-master/Nwpw/band/lib/cvdw-DF/cvdw_DF.cpp

make
cp -ar pwdft ${JARVIS_ROOT}/software/apps/pwdft/bin/

[CLEAN]
rm -rf build

[RUN]
run = mpirun --allow-run-as-root -np $(nproc) --mca btl ^openib
binary = pwdft eric0.nw
nodes = 1


