[SERVER]
11.11.11.11


[DOWNLOAD]
deeptools/3.5.1 https://github.com/deeptools/deepTools/archive/refs/tags/3.5.1.tar.gz deepTools-3.5.1.tar.gz


[DEPENDENCY]
set -e
set -x
module purge 
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install python3/3.9.9 clang
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load python3/3.9.9
echo "Check the source code"
if [ -d deepTools-3.5.1 ];then
        rm -rf deepTools-3.5.1
fi
tar -xvzf ${JARVIS_DOWNLOAD}/deepTools-3.5.1.tar.gz

[ENV]
set -e
set -x
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load python3/3.9.9

[APP]
app_name = deeptools
build_dir = ${JARVIS_ROOT}/deepTools-3.5.1
binary_dir =
case_dir = ${JARVIS_ROOT}/deepTools-3.5.1


[BUILD]
set -e
set -x
python3 setup.py install


[CLEAN]


[RUN]
run = deeptools --version
binary =
nodes = 1


[PERF]
perf=
nsys=
ncu=--target-processes all


