[SERVER]
11.11.11.11


[DOWNLOAD]
bcftools/1.10.2 https://github.com/samtools/bcftools/releases/download/1.10.2/bcftools-1.10.2.tar.bz2


[DEPENDENCY]
set -e
set -x
module purge

yum install bzip2 bzip2-devel xz-devel libcurl-devel -y

./jarvis -install bisheng/4.1.0 com
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

echo "Check the source code."
if [ -d bcftools-1.10.2 ]; then
	echo "The source code already exists, it will be deleted and re extracted."
	rm -rf bcftools-1.10.2
fi
tar -jxvf ${JARVIS_DOWNLOAD}/bcftools-1.10.2.tar.bz2
mkdir -p bcftools-1.10.2/Install


[ENV]
set -e
set -x
module purge
module use software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`


[APP]
app_name = bcftools
build_dir = ${JARVIS_ROOT}/bcftools-1.10.2
binary_dir = ${JARVIS_ROOT}/bcftools-1.10.2/Install/bin 
case_dir = ${JARVIS_ROOT}/bcftools-1.10.2


[BUILD]
set -e
set -x
./configure --prefix=${JARVIS_ROOT}/bcftools-1.10.2/Install CFLAGS="-O3 -march=armv8.2-a"
make -j
make install


[CLEAN]
set -e
set -x
make clean


[RUN]
run = make test
binary = 
nodes = 1


[PERF]
perf=
nsys=
ncu=--target-processes all
                            
