[SERVER]
11.11.11.11

[DOWNLOAD]
deeptools/3.5.1 https://github.com/deeptools/deepTools/archive/refs/tags/3.5.1.tar.gz deepTools-3.5.1.tar.gz

[DEPENDENCY]
set -e
set -x
module use $JARVIS_MODULES/modules

./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

./jarvis -install anaconda3/2024.10 any
source ${JARVIS_UTILS}/anaconda3/2024.10/etc/profile.d/conda.sh
if [ "$(conda env list | grep deeptools-3.5.1 | awk '{print $1}')" != "deeptools-3.5.1" ]; then
conda create -n deeptools-3.5.1 python=3.8 -y
fi
conda activate deeptools-3.5.1

tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/deepTools-3.5.1.tar.gz -C ${JARVIS_DEV}
pip install -r ${JARVIS_DEV}/deeptools-3.5.1/requirements.txt --trusted-host mirrors.huaweicloud.com -i https://mirrors.huaweicloud.com/repository/pypi/simple

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
source ${JARVIS_UTILS}/anaconda3/2024.10/etc/profile.d/conda.sh
conda activate deeptools-3.5.1

[APP]
app_name = deeptools
app_version = 3.5.1
compiler = bisheng
build_dir = ${JARVIS_DEV}/deepTools-3.5.1
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/deepTools/3.5.1

[BUILD]
set -e
set -x

####### build prepare
install_path=$1
JOBDIR=${JARVIS_JOBSCRIPT}/deepTools/3.5.1

####### build start

found=$(pip list | grep "deepTools " | awk '{print $1}')

if [ "$found" != "deepTools" ]; then
cd ${JARVIS_DEV}/deepTools-3.5.1
python3 setup.py install
fi

####### build done

####### Install jobscript

if [ ! -d "${JOBDIR}" ]; then
mkdir -p ${JOBDIR}
fi

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ${JARVIS_UTILS}/anaconda3/2024.10/etc/profile.d/conda.sh
conda activate deeptools-3.5.1

if [ -d "test_run" ]; then
rm -rf test_run
fi
mkdir test_run
cd test_run
cp ${JARVIS_DOWNLOAD}/mb_SRR1164383.sort.bam .
cp ${JARVIS_DOWNLOAD}/mb_SRR1164383.sort.bam.bai .
time bamCoverage -b mb_SRR1164383.sort.bam -o mb_SRR1164383.sort.bw -p 16
time plotFingerprint -b mb_SRR1164383.sort.bam \
    --plotFile fingerprint.png \
    --outRawCounts fingerprint.tab \
    -p 16 \
    --minMappingQuality 30 --skipZeros \
    --numberOfSamples 50000
EOF

cat > ${JOBDIR}/deeptools-3.5.1-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/deeptools-3.5.1-run.sh

[RUN]
