[SERVER]
11.11.11.11

[DOWNLOAD]
lammps/2021.5.27 https://download.lammps.org/tars/lammps-27May2021.tar.gz

[DEPENDENCY]
module purge
./jarvis -install nvhpc/11.4 any
tar -xvf ${JARVIS_DOWNLOAD}/lammps-27May2021.tar.gz

[ENV]
module use ./software/modulefiles
module purge
module load /opt/nvidia/hpc_sdk/modulefiles/nvhpc/21.9

[APP]
app_name = lammps
build_dir = ${JARVIS_ROOT}/lammps-27May2021/src
binary_dir = ${JARVIS_ROOT}/lammps-27May2021/src
case_dir = ${JARVIS_ROOT}/workloads/lammps/p2p

[BUILD]
#install voronoi
make lib-voronoi args="-b"
sed -i '13c\CCFLAGS = -g -O3 -fopenmp -DNDEBUG -Xcudafe --diag_suppress=unrecognized_pragma' MAKE/OPTIONS/Makefile.kokkos_cuda_mpi
sed -i '18c\LINKFLAGS =  -g -O3 -fopenmp' MAKE/OPTIONS/Makefile.kokkos_cuda_mpi
sed -i '26c\KOKKOS_ARCH = Ampere80' MAKE/OPTIONS/Makefile.kokkos_cuda_mpi
make clean-all
make clean-machine
make no-all
make no-lib
make yes-manybody yes-molecule yes-replica yes-kspace yes-asphere yes-rigid yes-misc yes-openmp yes-reaxff
make yes-voronoi
make yes-kokkos
make kokkos_cuda_mpi -j

[RUN]
#run= ucx_info -d | grep 'Component:' 
run = mpirun --allow-run-as-root -np 2 --bind-to core -x UCX_TLS=sm,cuda_copy
binary = lmp_kokkos_cuda_mpi -k on g 2 -sf kk -pk kokkos cuda/aware on neigh full comm device binsize 2.8  -in in.lj.txt
nodes = 1