[SERVER]
11.11.11.11

[ENV]
# add gcc/mpi
export LD_LIBRARY_PATH=/home/HPCRunner/software/arm/gcc/fftw-3.3.8/FFTW/lib:$LD_LIBRARY_PATH
module use /opt/nvidia/hpc_sdk/modulefiles/
module load nvhpc/21.9
source /opt/intel/oneapi/setvars.sh

[APP]
app_name = VASP
build_dir = /home/HPCRunner/vasp.6.1.0/
binary_dir = /home/HPCRunner/vasp.6.1.0/bin/
case_dir = /home/HPCRunner/VASP-std-GPU/

[BUILD]
make std

[CLEAN]
make veryclean

[RUN]
run = mpirun --allow-run-as-root -n 4
binary = vasp_std
nodes = 1

[BATCH]
mpirun --allow-run-as-root -n 4 /home/HPCRunner/vasp.6.1.0/bin/vasp_std >> vasp.log
mpirun --allow-run-as-root -n 2 /home/HPCRunner/vasp.6.1.0/bin/vasp_std >> vasp.log
mpirun --allow-run-as-root -n 1 /home/HPCRunner/vasp.6.1.0/bin/vasp_std >> vasp.log