[SERVER]
11.11.11.11

[DOWNLOAD]
openfoam/v2106 https://sourceforge.net/projects/openfoam/files/v2106/OpenFOAM-v2106.tgz
ThirdParty/v2106 https://sourceforge.net/projects/openfoam/files/v2106/ThirdParty-v2106.tgz

[DEPENDENCY]
set -x
set -e
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng

mkdir -p  $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/
tar -xzvf $JARVIS_DOWNLOAD/OpenFOAM-v2106.tgz   -C $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/
tar -zxvf $JARVIS_DOWNLOAD/ThirdParty-v2106.tgz -C $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/


[ENV]
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng
source $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/OpenFOAM-v2106/etc/bashrc


[APP]
app_name = OpenFOAM
build_dir = $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/OpenFOAM-v2106/
binary_dir = 
case_dir = $JARVIS_ROOT/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/OpenFOAM-v2106/tutorials/incompressible/pisoFoam/LES/motorBike/motorBike/

[BUILD]
sed -i "s|export WM_COMPILER=Gcc|export WM_COMPILER=Clang|g" ./etc/bashrc
sed -i '2c cOPT        = -O3 -lm -mllvm -unroll-indirect-loads-threshold=2 -mllvm -unroll-indirect-loads-default-runtime-unroll-count=8 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true -fno-range-check -fveclib=MATHLIB -lmathlib -finline-functions -ftree-vectorize -falign-functions -march=armv8-a -mllvm -min-prefetch-stride=2' ./wmake/rules/linuxARM64Clang/cOpt
sed -i '2c c++OPT        = -O3 -lm -mllvm -unroll-indirect-loads-threshold=2 -mllvm -unroll-indirect-loads-default-runtime-unroll-count=8 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true -fno-range-check -fveclib=MATHLIB -lmathlib -finline-functions -ftree-vectorize -falign-functions -march=armv8-a -mllvm -min-prefetch-stride=2' ./wmake/rules/linuxARM64Clang/c++Opt
source ./etc/bashrc
./Allwmake -j -k

[CLEAN]
rm -rf build

[RUN]
run = 
binary = 
nodes = 1
