[SERVER]
11.11.11.11

[DOWNLOAD]
fasta/36.3.8 https://github.com/wrpearson/fasta36/archive/v36.3.8h_04-May-2020.tar.gz fasta36-36.3.8h_04-May-2020.tar.gz 
sse2neon/master https://github.com/DLTcollab/sse2neon/archive/refs/heads/master.zip sse2neon-master.zip


[DEPENDENCY]
set -e
set -x
yum install -y make cmake
module purge 

./jarvis -install kgcc/10.3.1 com
module use software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

#./jarvis -install cmake/3.28.2 any
#module load cmake/3.28.2

./jarvis -install hmpi/2.4.2 gcc
module use ./software/moduledeps/kgcc10.3.1
module load hmpi/2.4.2

echo "Check the source code"
if [ -d fasta36-36.3.8h_04-May-2020 ];then
	rm -rf fasta36-36.3.8h_04-May-2020
fi
if [ -d sse2neon-master ];then
        rm -rf sse2neon-master
fi

tar -xvzf ${JARVIS_DOWNLOAD}/fasta36-36.3.8h_04-May-2020.tar.gz
unzip ${JARVIS_DOWNLOAD}/sse2neon-master.zip

cp sse2neon-master/sse2neon.h fasta36-36.3.8h_04-May-2020/src/

cd fasta36-36.3.8h_04-May-2020/make
cp Makefile.linux64_sse2 Makefile.linux64_sse2.bak
sed -i "15s/.*/CC = gcc -g -O2 -march=armv8.2-a/" Makefile.linux64_sse2
sed -i "29s/$/ -I. /" Makefile.linux64_sse2

cd ../src
cp smith_waterman_sse2.c smith_waterman_sse2.c-bak
cp global_sse2.c global_sse2.c-bak
cp glocal_sse2.c glocal_sse2.c-bak
sed -i '23s/<emmintrin.h>/"sse2neon.h"/' smith_waterman_sse2.c
sed -i '22s/<emmintrin.h>/"sse2neon.h"/' global_sse2.c
sed -i '22s/<emmintrin.h>/"sse2neon.h"/' glocal_sse2.c


[ENV]
set -e
set -x

module use software/modulefiles
module load kgcc/10.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

module use ./software/moduledeps/kgcc10.3.1
module load hmpi/2.4.2

export PATH=${JARVIS_ROOT}/fasta36-36.3.8h_04-May-2020/bin:$PATH

[APP]
app_name = fasta
build_dir = ${JARVIS_ROOT}/fasta36-36.3.8h_04-May-2020/src
binary_dir =
case_dir = ${JARVIS_ROOT}/fasta36-36.3.8h_04-May-2020/data


[BUILD]
set -e
set -x
make -f ../make/Makefile.linux64_sse2


[CLEAN]
set -e
set -x


[RUN]
run = mpirun --allow-run-as-root -np 12 ../bin/fasta36 -q ../seq/titin_hum.seq ../seq/prot_test.lseg
#run = ../bin/fasta36 -q ../seq/titin_hum.seq ../seq/prot_test.lseg
binary = 
nodes = 1


[PERF]
perf=
nsys=
ncu=--target-processes all

