[SERVER]
11.11.11.11

[DOWNLOAD]
wxWidgets/3.0.5 $JARVIS_PROXY/wxWidgets/wxWidgets/archive/refs/tags/v3.0.5.tar.gz wxWidgets-3.0.5.tar.gz

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[APP]
app_name = wxWidgets
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/software/libs/bisheng${BISHENG_VERSION}/wxWidgets/3.0.5/bin
case_dir =

[BUILD]
./jarvis -install wxWidgets/3.0.5 clang

[RUN]
run =
binary = wx-config --version
nodes = 1

