[SERVER]
11.11.11.11

[DOWNLOAD]
nemo/4.2.2 https://forge.nemo-ocean.eu/nemo/nemo/-/archive/4.2.2/nemo-4.2.2.tar.gz nemo-4.2.2.tar.gz

[DEPENDENCY]
set -e
#set -x

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi


./jarvis -install boost/1.72.0/clang bisheng
module load boost-clang/1.72.0-bisheng4.2.0

./jarvis -install package/blitz/1.0.1 bisheng
module load blitz/1.0.1-bisheng4.2.0

./jarvis -install hdf5/1.12.0/clang bisheng+mpi
module load hdf5-clang/1.12.0-bisheng4.2.0-hmpi25.0.0

./jarvis -install pnetcdf/1.11.2/clang bisheng+mpi
module load pnetcdf-clang/1.11.2-bisheng4.2.0-hmpi25.0.0

./jarvis -install netcdf/4.7.4/clang bisheng+mpi
module load netcdf-clang/4.7.4-bisheng4.2.0-hmpi25.0.0-hdf51.12.0-pnetcdf1.11.2


export BOOST_PATH=${BOOST_CLANG_PATH}
./jarvis -install xios/1.0/clang bisheng+mpi
module load xios-clang/1.0-bisheng4.2.0-hmpi25.0.0
echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
module load hdf5-clang/1.12.0-bisheng4.2.0-hmpi25.0.0
module load pnetcdf-clang/1.11.2-bisheng4.2.0-hmpi25.0.0
module load netcdf-clang/4.7.4-bisheng4.2.0-hmpi25.0.0-hdf51.12.0-pnetcdf1.11.2
module load xios-clang/1.0-bisheng4.2.0-hmpi25.0.0

[APP]
fake = 0
app_name = nemo
app_version = 4.2.2
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/nemo/4.2.2-bisheng4.2.0-hmpi25.0.0
binary_dir = ${JARVIS_APP}/nemo/4.2.2-bisheng4.2.0-hmpi25.0.0
mod_exc_dir = nemo-4.2.2;nemo-4.2.2_bisheng
case_dir = ${JARVIS_JOBSCRIPT}/nemo/4.2.2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

install_path=$1
cd ${install_path}

build_mod_check "${PATH_INSTALL}/nemo-4.2.2/cfgs/MY_GYRE/EXP00/nemo" "prompt"
####### build start
set +x && echo_info "build start" && set -x


if true; then
rm -rf nemo-4.2.2
if [ ! -d "nemo-4.2.2" ]; then
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/nemo-4.2.2.tar.gz -C ${install_path}
fi
cd nemo-4.2.2
#cp ${JARVIS_ROOT}/dataconfig_patches/nemo-4.2.2/src.patch ./ -ar
#patch -p1 < src.patch

export NETCDF_DIR=${NETCDF_CLANG_PATH}
export HDF_DIR=${HDF5_CLANG_PATH}
export XIOS_DIR=${XIOS_CLANG_PATH}

cat << \EOF > arch/arch-aarch64_gnu.fcm
%NCDF_PREFIX         $NETCDF_DIR
%HDF5_PREFIX         $HDF_DIR
%XIOS_PREFIX         $XIOS_DIR
%OASIS_PREFIX        notdef

%NCDF_INC            -I%NCDF_PREFIX/include -I%HDF5_PREFIX/include
%NCDF_LIB            -L%HDF5_PREFIX/lib -L%NCDF_PREFIX/lib -lnetcdf -lnetcdff
%XIOS_INC            -I%XIOS_PREFIX/inc
%XIOS_LIB            -L%XIOS_PREFIX/lib -lxios
%OASIS_INC
%OASIS_LIB

%CPP                 cpp -Dkey_nosignedzero
%FC                  mpif90 -c -cpp
%FCFLAGS             -O3 -fdefault-real-8 -fdefault-double-8  -mcpu=hip09 -ffast-math
%FFLAGS              %FCFLAGS
%LD                  mpif90
%LDFLAGS             -lstdc++ -fopenmp -O3
%FPPFLAGS            -P -traditional
%AR                  ar
%ARFLAGS             rs
%MK                  gmake
%USER_INC            %XIOS_INC %OASIS_INC %NCDF_INC
%USER_LIB            %XIOS_LIB %OASIS_LIB %NCDF_LIB

%CC                  clang
%CFLAGS              -O0 -fcommon
EOF

if [ -d "./cfgs/MY_GYRE" ]; then
rm -rf ./cfgs/MY_GYRE
fi

./makenemo -m aarch64_gnu -j 32 -r GYRE_PISCES -n 'MY_GYRE' del_key 'key_xios'

cd ${BUILD_DIR}
mkdir -p bin
cd bin
rm -f nemo
ln -s ../nemo-4.2.2/cfgs/MY_GYRE/EXP00/nemo nemo
cd ${BUILD_DIR}
fi

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/nemo/4.2.2
mkdir -p ${JOBDIR}

${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "module load nemo/4.2.2-bisheng4.2.0-hmpi25.0.0" >> ${JOBDIR}/env.sh

cp ${BUILD_DIR}/nemo-4.2.2/cfgs/MY_GYRE/EXP00 ${JOBDIR}/ -Lr
rm -f ${JOBDIR}/EXP00/nemo
cp ${JARVIS_ROOT}/dataconfig_patches/nemo-4.2.2/cfgs/MY_GYRE/EXP00/namelist_ref ${JOBDIR}/EXP00/ -ar
cp ${JARVIS_ROOT}/dataconfig_patches/nemo-4.2.2/cfgs/MY_GYRE/EXP00/namelist_cfg ${JOBDIR}/EXP00/ -ar

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_nemo
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=128"
#DSUB -o pytorch_out_%J.log
#DSUB -e pytorch_err_%J.log
#DSUB -T '2h'

export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cd EXP00
{ time   mpirun \$CCS_MPI_OPTIONS -np 128 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores
 -x OMP_NUM_THREADS=1 -x UCX_TLS=sm nemo ; } 2>&1 | tee tee_out.xlog
EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source ./env.sh
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
cd EXP00
{ time  mpirun -np 128 -map-by socket --rank-by core  --bind-to core  --mca btl ^vader,tcp,openib,uct --mca io romio321 --mca pml ucx -x UCX_TLS=sm,self -x PATH -x LD_LIBRARY_PATH nemo ; } 2>&1 | tee tee_out.xlog
EOF

cat > ${JOBDIR}/nemo-4.2.2-run.sh << EOF
#!/bin/bash
source env.sh
./local_run.sh
dsub -s job_run.sh

#time mpirun --allow-run-as-root -np 16 --mca btl ^openib,tcp,vader ./nemo

EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/nemo-4.2.2-run.sh

echo "Install done!!!"

[RUN]
