[SERVER]
11.11.11.11

[DOWNLOAD]
NCL/6.6.2 $JARVIS_PROXY/chen-shaoheng/NCL-SOURCE/releases/download/ncl-6.6.2/ncl-6.6.2.tar.gz ncl-6.6.2.tar.gz
triangle/1.6 http://www.netlib.org/voronoi/triangle.zip

[DEPENDENCY]
set -e
source ${JARVIS_LIBSHELL}
check_rpms_installed tar byacc bison expat-devel expat libtirpc-devel libX11 libX11-devel libXmu libXmu-devel libXaw libXaw-devel flex flex-devel freetype-devel libpng-devel libpng libjpeg-turbo-devel libjpeg-turbo  libXi libSM-devel libXi-devel libXext-devel pkgconf curl libcurl-devel zlib-devel cairo cairo-devel pixman pixman-devel patch || exit 1
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load gcc/compiler12.3.1
module load gcc/hmpi25.0.0

export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90
./jarvis -install hdf5/1.10.1 gcc+mpi
module load hdf5/1.10.1-kgcc12.3.1-hmpi25.0.0

export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install pnetcdf/1.11.2 gcc+mpi
module add pnetcdf/1.11.2-kgcc12.3.1-hmpi25.0.0

./jarvis -install netcdf/4.7.4  gcc+mpi
module add netcdf/4.7.4-kgcc12.3.1-hmpi25.0.0-hdf51.10.1-pnetcdf1.11.2

export CC=gcc FC=gfortran CXX=g++
./jarvis -install libjpeg/v9b gcc
module add libjpeg/v9b-kgcc12.3.1

export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf4/4.2.15 gcc+mpi
module add hdf4/4.2.15-kgcc12.3.1-hmpi25.0.0

export CC=gcc FC=gfortran CXX=g++
./jarvis -install proj/5.2.0 gcc
module add proj/5.2.0-kgcc12.3.1

./jarvis -install libpng/1.6.37 gcc
module add libpng/1.6.37-kgcc12.3.1
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install gdal/2.2.4 gcc
module add gdal/2.2.4-kgcc12.3.1
 
export CC="gcc -std=c89 -Wno-incompatible-function-pointer-types"  FC=gfortran CXX=g++
./jarvis -install jasper/1.900.2 gcc
module add jasper/1.900.2-kgcc12.3.1

./jarvis -install package/g2clib/1.6.0 gcc
module add g2clib/1.6.0-kgcc12.3.1
export CC=mpicc CXX=mpicxx FC=mpifort

./jarvis -install udunits/2.2.28 gcc
module add udunits/2.2.28-kgcc12.3.1

./jarvis -install gsl/2.6 gcc
module add gsl/2.6-kgcc12.3.1
export CC=mpicc  CXX=mpicxx FC=mpifort
./jarvis -install hdf-eos2/2.20 gcc
module add hdf-eos2/2.20-kgcc12.3.1

./jarvis -install hdf-eos5/1.16 gcc
module add hdf-eos5/1.16-kgcc12.3.1

export CFLAGS="-std=c89 -Wall" 
export CC=gcc FC=gfortran CXX=g++

./jarvis -install package/mesa/3.1 gcc
module add mesa/3.1-kgcc12.3.1

export CC=gcc FC=gfortran CXX=g++ 
./jarvis -install vis5dplus/1.3.0 gcc
module add vis5dplus/1.3.0-kgcc12.3.1

./jarvis -install package/szip/2.1.1 gcc
module add szip/2.1.1-kgcc12.3.1

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load gcc/compiler12.3.1
module load gcc/hmpi25.0.0
module load hdf5/1.10.1-kgcc12.3.1-hmpi25.0.0
module add pnetcdf/1.11.2-kgcc12.3.1-hmpi25.0.0
module add netcdf/4.7.4-kgcc12.3.1-hmpi25.0.0-hdf51.10.1-pnetcdf1.11.2
module add proj/5.2.0-kgcc12.3.1
module add hdf4/4.2.15-kgcc12.3.1-hmpi25.0.0
module add jasper/1.900.2-kgcc12.3.1
module add libpng/1.6.37-kgcc12.3.1
module add gdal/2.2.4-kgcc12.3.1
module add jasper/1.900.2-kgcc12.3.1
module add g2clib/1.6.0-kgcc12.3.1
module add udunits/2.2.28-kgcc12.3.1
module add gsl/2.6-kgcc12.3.1
module add hdf-eos2/2.20-kgcc12.3.1
module add hdf-eos5/1.16-kgcc12.3.1
module add mesa/3.1-kgcc12.3.1
module add vis5dplus/1.3.0-kgcc12.3.1
module add szip/2.1.1-kgcc12.3.1
module add libjpeg/v9b-kgcc12.3.1

[APP]
app_name = ncl
app_version = 6.6.2
compiler = gcc+mpi
build_dir = ${JARVIS_APP}/ncl/6.6.2-kgcc12.3.1-hmpi25.0.0/project
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/ncl/6.6.2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/ncl/6.6.2

if true; then
set -x && build_mod_check "${PATH_INSTALL}/bin/ncl" "prompt" && set +x

rm -rf triangle
unzip -o ${JARVIS_DOWNLOAD}/triangle.zip -d triangle

rm -rf ncl-6.6.2
tar -xvf ${JARVIS_DOWNLOAD}/ncl-6.6.2.tar.gz
cd ncl-6.6.2
export CC=gcc FC=gfortran CXX=g++
export GCC_PATH=${HPCKIT_COM_KGCC} HMPI_PATH=${HPCKIT_HMPI}/gcc/hmpi

cp  ../triangle/triangle.c ni/src/lib/hlu
cp  ../triangle/triangle.h ni/src/lib/hlu
sed -i '21c #define CCompiler   gcc' config/LINUX
sed -i '22c #define FCompiler   gfortran' config/LINUX
sed -i '23c #define CtoFLibraries   -lgfortran -lmathlib -ltirpc' config/LINUX
sed -i '24c #define CtoFLibrariesUser   -lgfortran -lmathlib -ltirpc' config/LINUX
sed -i '25c #define CcOptions      -ansi -fPIC -fopenmp -std=c99 -fsigned-char -Xlinker -zmuldefs  -Wl,--copy-dt-needed-entries' config/LINUX
sed -i '26c #define FcOptions      -fPIC -fno-second-underscore -fno-range-check -fopenmp -fallow-argument-mismatch -Wl,--copy-dt-needed-entries' config/LINUX
sed -i '22a #define CxxCompiler   g++' config/LINUX
#sed -i '23a #define COptimizeFlag        -O0 -g' config/LINUX
#sed -i '24a #define FOptimizeFlag        -O0 -g' config/LINUX

sed -i '40a void _swapshort (register char *bp, register unsigned n);' ncarview/src/lib/libncarg_ras/misc.c
sed -i '41a void _swaplong (register char *bp, register unsigned n);' ncarview/src/lib/libncarg_ras/misc.c
sed -i '46c #        @$(CAT) Copyright' ncarview/src/bin/ictrans/yMakefile

sed -i '61c EXCSRCS = bcopyswap.c logic32.c' common/src/libncarg_c/yMakefile
sed -i '62c EXFSRCS = gbytes.f sbytes.f' common/src/libncarg_c/yMakefile
sed -i '62a EXOBJS  = bcopyswap.o sbytes.o gbytes.o logic32.o ' common/src/libncarg_c/yMakefile

cd ${BUILD_DIR}/ncl-6.6.2/ni/src/lib/hlu
patch -p0 < ${JARVIS_ROOT}/dataconfig_patches/ncl/6.6.2/Format.c.patch
cd ${BUILD_DIR}/ncl-6.6.2/ncarg2d/src/libncarg/conpack
patch -p0 < ${JARVIS_ROOT}/dataconfig_patches/ncl/6.6.2/CodeIftran.patch
cd ${BUILD_DIR}/ncl-6.6.2
patch -p1 < ${JARVIS_ROOT}/dataconfig_patches/ncl/6.6.2/writematrix.patch
rm ./config/ymake-filter -f

printf "%s\n" "y" "" "y" "$JARVIS_UTILS/ncl/6.6.2/gcc" "" "y" "y" "y" "n" "y" "y" "y" "y" "y" "y" "y" "y" "y" "y" "/lib64 /usr/lib64 /usr/include/X11" "/usr/include /usr/include/freetype2 /usr/include/freetype2/freetype /usr/include/X11 /usr/include/tirpc" "" "" |while read -r line; do echo $line; sleep 1; done | ./Configure

rm config/Site.local -f
cp ${JARVIS_ROOT}/dataconfig_patches/ncl/6.6.2/Site.local config/ -f

sed -i "12c #define YmakeRoot ${PATH_INSTALL}" config/Site.local
sed -i "16c #define LibSearch -L$GCC_PATH/lib -L$GCC_PATH/lib64_public -L$GCC_PATH/lib64 -L$HMPI_PATH/lib -L$HDF5_PATH/lib -L$PNETCDF_PATH/lib -L$NETCDF_PATH/lib -L$HDF4_PATH/lib -L$PROJ_PATH/lib -L$SZIP_PATH/lib -L$GDAL_PATH/lib -L$JASPER_PATH/lib -L$G2CLIB_PATH/lib -L$UDUNITS_PATH/lib -L$GSL_PATH/lib -L$HDF_EOS2_PATH/lib -L$HDF_EOS5_PATH/lib -L$MESA_PATH/lib -L$VIS5DPLUS_PATH/lib -L/usr/lib64" config/Site.local
sed -i "17c #define IncSearch -I$GCC_PATH/include -I$HMPI_PATH/include -I$HDF5_PATH/include -I$PNETCDF_PATH/include -I$NETCDF_PATH/include -I$HDF4_PATH/include -I$PROJ_PATH/include -I$GDAL_PATH/include -I$JASPER_PATH/include -I$JASPER_PATH/include/jasper -I$G2CLIB_PATH/include -I$UDUNITS_PATH/include -I$GSL_PATH/include -I$GSL_PATH/include/gsl -I$HDF_EOS2_PATH/include -I$HDF_EOS5_PATH/include -I$MESA_PATH/include -I$MESA_PATH/include/GL -I$VIS5DPLUS_PATH/include -I$SZIP_PATH/include -I/usr/include -I/usr/include/freetype2 -I/usr/include/freetype2/freetype -I/usr/include/X11 -I/usr/include/tirpc" config/Site.local
sed -i "s/g++/g\\\+\\\+/g" Makefile
sed -i "s/\$(CXX)/g\\\+\\\+/g" ni/src/ncl/yMakefile
fi

if true; then

make Everything 2>&1 |tee make.log

sed -i "385s/\-m{\$nbits}//" ${PATH_INSTALL}/bin/WRAPIT
sed -i "599s/\-m{\$nbits}//" ${PATH_INSTALL}/bin/WRAPIT
sed -i "784s/\-m{\$nbits}//" ${PATH_INSTALL}/bin/WRAPIT


ln -sf ${PATH_INSTALL}/share/ncarg/* ${PATH_INSTALL}/lib/ncarg/
fi

if true; then
mkdir ${PATH_INSTALL}/lib/ncarg/database/rangs -p
cd ${PATH_INSTALL}/lib/ncarg/database/rangs
${DOWNLOAD_TOOL} -t wget -u "https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs(0).zip" -f 'rangs(0).zip'
${DOWNLOAD_TOOL} -t wget -u "https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs(1).zip" -f 'rangs(1).zip'
${DOWNLOAD_TOOL} -t wget -u "https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs(2).zip" -f 'rangs(2).zip'
${DOWNLOAD_TOOL} -t wget -u "https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs(3).zip" -f 'rangs(3).zip'
${DOWNLOAD_TOOL} -t wget -u "https://www.io-warnemuende.de/files/staff/rfeistel/download/rangs(4).zip" -f 'rangs(4).zip'

${DOWNLOAD_TOOL} -t wget -u "https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs(0).zip" -f 'gshhs(0).zip'
${DOWNLOAD_TOOL} -t wget -u "https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs(1).zip" -f 'gshhs(1).zip'
${DOWNLOAD_TOOL} -t wget -u "https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs(2).zip" -f 'gshhs(2).zip'
${DOWNLOAD_TOOL} -t wget -u "https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs(3).zip" -f 'gshhs(3).zip'
${DOWNLOAD_TOOL} -t wget -u "https://www.io-warnemuende.de/files/staff/rfeistel/download/gshhs(4).zip" -f 'gshhs(4).zip'


unzip -o "${JARVIS_DOWNLOAD}/gshhs(0).zip" -d ${PATH_INSTALL}/lib/ncarg/database/rangs
unzip -o "${JARVIS_DOWNLOAD}/gshhs(1).zip" -d ${PATH_INSTALL}/lib/ncarg/database/rangs
unzip -o "${JARVIS_DOWNLOAD}/gshhs(2).zip" -d ${PATH_INSTALL}/lib/ncarg/database/rangs
unzip -o "${JARVIS_DOWNLOAD}/gshhs(3).zip" -d ${PATH_INSTALL}/lib/ncarg/database/rangs
unzip -o "${JARVIS_DOWNLOAD}/gshhs(4).zip" -d ${PATH_INSTALL}/lib/ncarg/database/rangs

unzip -o "${JARVIS_DOWNLOAD}/rangs(0).zip" -d ${PATH_INSTALL}/lib/ncarg/database/rangs
unzip -o "${JARVIS_DOWNLOAD}/rangs(1).zip" -d ${PATH_INSTALL}/lib/ncarg/database/rangs
unzip -o "${JARVIS_DOWNLOAD}/rangs(2).zip" -d ${PATH_INSTALL}/lib/ncarg/database/rangs
unzip -o "${JARVIS_DOWNLOAD}/rangs(3).zip" -d ${PATH_INSTALL}/lib/ncarg/database/rangs
unzip -o "${JARVIS_DOWNLOAD}/rangs(4).zip" -d ${PATH_INSTALL}/lib/ncarg/database/rangs
fi

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF
prepend-path PATH ${PATH_INSTALL}/bin
setenv NCARG_FONTCAPS ${PATH_INSTALL}/lib/ncarg/fontcaps
setenv NCARG_GRAPHCAPS ${PATH_INSTALL}/lib/ncarg/graphcaps
setenv NCARG_ROOT ${PATH_INSTALL}
setenv NCARG_DATABASE ${PATH_INSTALL}/lib/ncarg/database
setenv NCARG_LIB ${PATH_INSTALL}/lib
setenv NCARG_NCARG ${PATH_INSTALL}/lib/ncarg
setenv NCL_RESFILE_PATH ${PATH_INSTALL}/lib/ncarg/resfiles
EOF

echo "Creating job script directory: ${JOBDIR}"
mkdir -p ${JOBDIR}

echo "Copying files to job script directory..."
cp ${JARVIS_DOWNLOAD}/writeCLM.ncl ${JOBDIR}/writeCLM.ncl
cp ${JARVIS_DOWNLOAD}/FY4A-_AGRI--_N_DISK_1047E_L2-_CLM-_MULT_NOM_20230924000000_20230924001459_4000M_V0001.NC ${JOBDIR}/FY4A-_AGRI--_N_DISK_1047E_L2-_CLM-_MULT_NOM_20230924000000_20230924001459_4000M_V0001.NC
cp ${BUILD_DIR}/ncl-6.6.2/ni/src/examples/xyplot/xy01n.ncl ${JOBDIR}/ -ar

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "Appending module load to env.sh..."
echo "module load NCL/6.6.2-kgcc12.3.1-hmpi25.0.0" >> ${JOBDIR}/env.sh
cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_ncl
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o ncl_out_%J.log
#DSUB -e ncl_err_%J.log
#DSUB -T '2h'

export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

EOF

cat > ${JOBDIR}/local_run.sh << EOF
source env.sh
export CLM_filename=FY4A-_AGRI--_N_DISK_1047E_L2-_CLM-_MULT_NOM_20230924000000_20230924001459_4000M_V0001.NC
export CLM_nc2bin_filename=FY4A_CLM_20230924_01.dat
ncl writeCLM.ncl


ng4ex xy01n -W png
rm xy01n.png -f
sed -i '58c wks_type = "png"' xy01n.ncl
time -p ncl xy01n.ncl
EOF

cat > ${JOBDIR}/ncl-6.6.2-run.sh << EOF
./local_run.sh 2>&1 | tee tee_local_run.xlog
#dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/ncl-6.6.2-run.sh

set +x && echo_info "Install done!!!" && set -x

[BATCH]
mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1 test.sh

[RUN]
run = mpirun -v --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1  ${JARVIS_JOBSCRIPT}/NCL/6.6.2/test.sh
binary = 
nodes = 1

[JOB]
#!/bin/bash
#DSUB -n case_ncl
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o ncl_out_%J.log
#DSUB -e ncl_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.ncl
rm -f $HOSTFILE
touch $HOSTFILE
cat ${CCSCHEDULER_ALLOC_FILE} | sort > $HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm sh tast.sh ; } 2>&1 | tee tee_ncl.xlog

