[SERVER]
11.11.11.11

[DOWNLOAD]
NCL/6.6.2 $JARVIS_PROXY/chen-shaoheng/NCL-SOURCE/releases/download/ncl-6.6.2/ncl-6.6.2.tar.gz

[DEPENDENCY]
source package/common/libshell.sh
yum_install_system_rpms tar byacc bison expat-devel expat libtirpc-devel libX11 libX11-devel libXmu* libXaw libXaw-devel flex flex-devel freetype-devel libpng-devel libXi libSM-devel libXi-devel libXext-devel pkgconf curl libcurl-devel zlib-devel cairo cairo-devel pixman pixman-devel patch -y

module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.0.0 any
module load hpckit/2025.0.0
module load gcc/compiler12.3.1
module load gcc/hmpi25.0.0

export CC=mpicc CXX=mpicxx FC=mpif90 F77=mpif90
./jarvis -install hdf5/1.10.1 gcc+mpi
module load hdf5/1.10.1-kgcc12.3.1-hmpi25.0.0

export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install pnetcdf/1.11.2 gcc+mpi
module add pnetcdf/1.11.2-kgcc12.3.1-hmpi25.0.0

./jarvis -install netcdf/4.7.4  gcc+mpi
module add netcdf/4.7.4-kgcc12.3.1-hmpi25.0.0

export CC=gcc FC=gfortran CXX=g++
./jarvis -install libjpeg/v9b gcc
module add libjpeg/v9b-kgcc12.3.1

export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf4/4.2.15 gcc+mpi
module add hdf4/4.2.15-kgcc12.3.1-hmpi25.0.0

export CC=gcc FC=gfortran CXX=g++
./jarvis -install proj/5.2.0 gcc
module add proj/5.2.0-kgcc12.3.1

./jarvis -install libpng/1.6.37 gcc
module add libpng/1.6.37-kgcc12.3.1
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install gdal/2.2.4 gcc
module add gdal/2.2.4-kgcc12.3.1
 
export CC="gcc -std=c89 -Wno-incompatible-function-pointer-types"  FC=gfortran CXX=g++
./jarvis -install jasper/1.900.2 gcc
module add jasper/1.900.2-kgcc12.3.1

./jarvis -install package/g2clib/1.6.0 gcc
module add g2clib/1.6.0-kgcc12.3.1
export CC=mpicc CXX=mpicxx FC=mpifort

./jarvis -install udunits/2.2.28 gcc
module add udunits/2.2.28-kgcc12.3.1

./jarvis -install gsl/2.6 gcc
module add gsl/2.6-kgcc12.3.1
export CC=mpicc  CXX=mpicxx FC=mpifort
./jarvis -install hdf-eos2/2.20 gcc
module add hdf-eos2/2.20-kgcc12.3.1


./jarvis -install hdf-eos5/1.16 gcc
module add hdf-eos5/1.16-kgcc12.3.1

export CFLAGS="-std=c89 -Wall" 
export CC=gcc FC=gfortran CXX=g++

./jarvis -install package/mesa/3.1 gcc
module add mesa/3.1-kgcc12.3.1

export CC=gcc FC=gfortran CXX=g++ 
./jarvis -install vis5dplus/1.3.0 gcc
module add vis5dplus/1.3.0-kgcc12.3.1


./jarvis -install package/szip/2.1.1 gcc
module add szip/2.1.1-kgcc12.3.1


rm ncl-6.6.2 -rf
cd ${JARVIS_DEV}
tar -xvf ${JARVIS_DOWNLOAD}/ncl-6.6.2.tar.gz


[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.0.0
module load gcc/compiler12.3.1
module load gcc/hmpi25.0.0
echo $LD_LIBRARY_PATH
module load hdf5/1.10.1-kgcc12.3.1-hmpi25.0.0
module add netcdf/4.7.4-kgcc12.3.1-hmpi25.0.0
module add pnetcdf/1.11.2-kgcc12.3.1-hmpi25.0.0
module add proj/5.2.0-kgcc12.3.1
module add hdf4/4.2.15-kgcc12.3.1-hmpi25.0.0
module add jasper/1.900.2-kgcc12.3.1
module add libpng/1.6.37-kgcc12.3.1
module add gdal/2.2.4-kgcc12.3.1
module add jasper/1.900.2-kgcc12.3.1
module add g2clib/1.6.0-kgcc12.3.1
module add udunits/2.2.28-kgcc12.3.1
module add gsl/2.6-kgcc12.3.1
module add hdf-eos2/2.20-kgcc12.3.1
module add hdf-eos5/1.16-kgcc12.3.1
module add mesa/3.1-kgcc12.3.1
module add vis5dplus/1.3.0-kgcc12.3.1
module add szip/2.1.1-kgcc12.3.1
module add libjpeg/v9b-kgcc12.3.1


[APP]
app_name = NCL
app_version = 6.6.2
compiler = gcc+mpi
build_dir = ${JARVIS_DEV}/ncl-6.6.2
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/NCL/6.6.2

[BUILD]

export CC=gcc FC=gfortran CXX=g++
echo "请确保已经执行./jarvis -dp命令解压主程序源码包。执行./jarvis -b前都应先执行./jarvis -dp命令！"
#fix sourcecode
sed -i '21c #define CCompiler   gcc' config/LINUX
sed -i '22c #define FCompiler   gfortran' config/LINUX
sed -i '22a #define CxxCompiler   gfortran' config/LINUX
sed -i '23c #define CtoFLibraries   -lgfortran -lgomp -lmathlib -ltirpc'  config/LINUX
sed -i '24c #define CtoFLibrariesUser   -lgfortran -lmathlib -lgomp -ltirpc' config/LINUX
sed -i '25c #define CcOptions      -ansi -fPIC -fopenmp -lgomp -std=c99 -fsigned-char -Xlinker -zmuldefs -Wno-error=int-conversion -Wno-implicit-function-declaration -Wl,--copy-dt-needed-entries' config/LINUX
sed -i '26c #define FcOptions      -fPIC -lgomp -fno-second-underscore -fno-range-check -fopenmp -fallow-argument-mismatch -Wl,--copy-dt-needed-entries' config/LINUX
sed -i '40a void _swapshort (register char *bp, register unsigned n);' ncarview/src/lib/libncarg_ras/misc.c
sed -i '41a void _swaplong (register char *bp, register unsigned n);' ncarview/src/lib/libncarg_ras/misc.c
sed -i '46c #        @$(CAT) Copyright' ncarview/src/bin/ictrans/yMakefile
sed -i "31a #else\nMORE_LIBS      = -lm" ncarview/src/bin/ictrans/yMakefile


rm ./config/ymake-filter -f

./Configure

rm config/Site.local -f
cp ${JARVIS_ROOT}/templates/top50/ncl/6.6.2/Site.local config/ -f

cat config/Site.local

make Everything 2>&1 |tee make.log
ln -s $JARVIS_APP/NCL/6.6.2-gcc12.3.1-hmpi25.0.0/share/ncarg/* $JARVIS_APP/NCL/6.6.2-gcc12.3.1-hmpi25.0.0/lib/ncarg/


cat > ${PREFIX}/module_tail.modulefile << EOF
prepend-path PATH ${PREFIX}/bin
setenv NCARG_FONTCAPS ${PREFIX}/lib/ncarg/fontcaps
setenv NCARG_GRAPHCAPS ${PREFIX}/lib/ncarg/graphcaps
setenv NCARG_ROOT ${PREFIX}
setenv NCARG_DATABASE ${PREFIX}/lib/ncarg/database
setenv NCARG_LIB ${PREFIX}/lib
setenv NCARG_NCARG ${PREFIX}/ncarg
setenv NCL_RESFILE_PATH ${PREFIX}lib/ncarg/resfiles
EOF

echo "Creating job script directory: ${JARVIS_JOBSCRIPT}/NCL/6.6.2/"
mkdir -p ${JARVIS_JOBSCRIPT}/NCL/6.6.2/

echo "Copying files to job script directory..."
cp ${JARVIS_DOWNLOAD}/writeCLM.ncl ${JARVIS_JOBSCRIPT}/NCL/6.6.2/writeCLM.ncl
cp ${JARVIS_DOWNLOAD}/tesh.sh ${JARVIS_JOBSCRIPT}/NCL/6.6.2/tesh.sh
cp ${JARVIS_DOWNLOAD}/FY4A-_AGRI--_N_DISK_1047E_L2-_CLM-_MULT_NOM_20230924000000_20230924001459_4000M_V0001.NC ${JARVIS_JOBSCRIPT}/NCL/6.6.2/FY4A-_AGRI--_N_DISK_1047E_L2-_CLM-_MULT_NOM_20230924000000_20230924001459_4000M_V0001.NC

echo "Generating environment script..."
 ${JARVIS_DEV}/ncl-6.6.2/env.sh_gen.sh ${JARVIS_JOBSCRIPT}/NCL/6.6.2/env.sh

echo "Appending module load to env.sh..."
echo "module load NCL/6.6.2-gcc12.3.1-hmpi25.0.0" >> ${JARVIS_JOBSCRIPT}/NCL/6.6.2/env.sh
if [ $? -ne 0 ]; then
    echo "Error: Failed to append module load to env.sh."
    exit 1
fi
cat > ${JARVIS_JOBSCRIPT}/NCL/6.6.2/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_ncl
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o ncl_out_%J.log
#DSUB -e ncl_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.ncl
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm sh test.sh; } 2>&1 | tee tee_ncl.xlog
EOF

cat > ${JARVIS_JOBSCRIPT}/NCL/6.6.2/local_run.sh << EOF
source env.sh
{ time  -p mpirun  -np 1 --allow-run-as-root sh test.sh ; } 2>&1 | tee tee_ncl.xlog
EOF

cat > ${JARVIS_JOBSCRIPT}/NCL/6.6.2/ncl-6.6.2-run.sh << EOF
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JARVIS_JOBSCRIPT}/NCL/6.6.2/env.sh
chmod u+x ${JARVIS_JOBSCRIPT}/NCL/6.6.2/job_run.sh
chmod u+x ${JARVIS_JOBSCRIPT}/NCL/6.6.2/local_run.sh
chmod u+x ${JARVIS_JOBSCRIPT}/NCL/6.6.2/ncl-6.6.2-run.sh

echo "Install done!!!"

[BATCH]
mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1 test.sh

[RUN]
run = mpirun -v --allow-run-as-root -x OMP_NUM_THREADS=1 -np 1  ${JARVIS_JOBSCRIPT}/NCL/6.6.2/test.sh
binary = 
nodes = 1

[JOB]
#!/bin/bash
#DSUB -n case_ncl
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o ncl_out_%J.log
#DSUB -e ncl_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.ncl
rm -f $HOSTFILE
touch $HOSTFILE
cat ${CCSCHEDULER_ALLOC_FILE} | sort > $HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited

{ time  -p mpirun  --hostfile $HOSTFILE -np 1 --allow-run-as-root --bind-to cpulist:ordered -x OMP_PROC_BIND=close -x OMP_PLACES=cores  -x OMP_NUM_THREADS=1 -x UCX_TLS=sm sh tast.sh ; } 2>&1 | tee tee_ncl.xlog

