[SERVER]
11.11.11.11

[DOWNLOAD]
duns/2.7.1 https://sourceforge.net/projects/duns/files/duns/duns-2.7.1/duns-2.7.1-src.tar.bz2
duns_test/2.7.1 https://sourceforge.net/projects/duns/files/duns/duns-2.7.1/duns-2.7.1-test.tar.bz2


[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules

./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

if [ ! -d "${JARVIS_MODULES}/app/duns" ]; then
mkdir -p ${JARVIS_MODULES}/app/duns
fi
cat > ${JARVIS_MODULES}/app/duns/2.7.1-%#MYKBSVER#%-deps << EOF
#%Module1.0
setenv DUNSARCH linux
setenv DUNSPATH27 ${JARVIS_APP}/duns/2.7.1-%#MYKBSVER#%/duns-2.7.1
EOF
module load duns/2.7.1-%#MYKBSVER#%-deps

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load duns/2.7.1-%#MYKBSVER#%-deps

[APP]
app_name = duns
app_version = 2.7.1
compiler = bisheng
build_dir = ${JARVIS_APP}/duns/2.7.1-%#MYKBSVER#%
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/duns/2.7.1

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
install_path=$1
JOBDIR=${JARVIS_JOBSCRIPT}/duns/2.7.1

####### build start

if [ ! -d "duns-2.7.1" ]; then
tar --no-same-owner -jxvf ${JARVIS_DOWNLOAD}/duns-2.7.1-src.tar.bz2
fi
cd duns-2.7.1

if [ ! -f "duns-3d-all/duns.e" ]; then
export PATH=$DUNSPATH27/util:$PATH
export BSLIB=$(dirname $(dirname $(which clang)))/lib

sed -i '10s/g77/flang/' makesystem/Makesystem_linux
sed -i '11s/gcc/clang/' makesystem/Makesystem_linux
sed -i '12s/g++/clang++/' makesystem/Makesystem_linux
sed -i '13s/gcc/clang/' makesystem/Makesystem_linux
sed -i '14s/gcc/clang/' makesystem/Makesystem_linux
sed -i "23c CFLAGS   = -O2 -Wno-implicit-function-declaration -Wno-implicit-int" makesystem/Makesystem_linux
sed -i "28s#.*#SYSLIBS   = -L${BSLIB} -Wl,-Bdynamic -lgcc_s -lm -lflang -lpgmath#" makesystem/Makesystem_linux
sed -i '29s#.*#GRAFLIBS  = -lmbgrafic -lgrafic -L/lib64 -Wl,-Bdynamic -lX11 -lflang#' makesystem/Makesystem_linux
sed -i '38c\VERSN   = 2.7.1' makesystem/Makesystem_linux
sed -i '339s/help()/help(0)/' src/main.cpp
sed -i '345s/help()/help(0)/' src/main.cpp
sed -i '349s/help()/help(0)/' src/main.cpp
sed -i 's/getline/getline1/g' `grep getline -rl --include="*" ./`

cd lib
make
make install
cd ..
dunssource 3d all
cd duns-3d-all
make
fi
####### build done

####### Install jobscript

if [ ! -d "${JOBDIR}" ]; then
mkdir -p ${JOBDIR}
fi

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_abyss
#DSUB --mpi hmpi
#DSUB -N 96
#DSUB -nn 1
#DSUB -rpn 96
#DSUB -o abyss_out_%J.log
#DSUB -e abyss_err_%J.log

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
module use $JARVIS_MODULES/modules
module load duns/2.7.1-%#MYKBSVER#%

if [ -d "duns-2.7.1" ]; then
rm -rf duns-2.7.1
fi
tar --no-same-owner -jxvf ${JARVIS_DOWNLOAD}/duns-2.7.1-test.tar.bz2
cd duns-2.7.1/test/serial/cduct
sed -i "15c\        time ./duns-3d/duns-opt.e -nv" testscript
./testscript run
EOF

cat > ${JOBDIR}/duns-2.7.1-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF


chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/duns-2.7.1-run.sh

[RUN]
