[SERVER]
11.11.11.11

[DOWNLOAD]
kallisto/0.51.1 https://github.com/pachterlab/kallisto/archive/refs/tags/v0.51.1.tar.gz kallisto-0.51.1.tar.gz

[DEPENDENCY]
set -e
set -x
yum install -y make cmake
yum install -y autoconf automake libtool
yum -y install xz-devel
yum install libarchive -y
module purge
./jarvis -install hpckit/2024.12.30 any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install htslib/1.11 gcc
module use software/moduledeps/gcc12.3.1
module load htslib/1.11
tar -xzvf ${JARVIS_DOWNLOAD}/kallisto-0.51.1.tar.gz

[ENV]
module purge
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
module use software/moduledeps/gcc12.3.1
module load htslib/1.11

[APP]
app_name = QE
build_dir = ${JARVIS_ROOT}/kallisto-0.51.1/
binary_dir =
case_dir = ${JARVIS_ROOT}/kallisto-0.51.1/

[BUILD]
mkdir build
cd build
cmake ..
make
make install

[CLEAN]
make clean

[RUN]
run = kallisto
binary =
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all
