[SERVER]
11.11.11.11

[DOWNLOAD]
kallisto/0.51.1 ${JARVIS_PROXY}/pachterlab/kallisto/archive/refs/tags/v0.51.1.tar.gz kallisto-0.51.1.tar.gz

[DEPENDENCY]
set -e
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install hmpi/2.4.2 bisheng
module load hmpi/2.4.2
./jarvis -install hdf5/1.12.1/clang bisheng+mpi
module load hdf5-clang/1.12.1

mkdir -p ${JARVIS_ROOT}/software/apps/kallisto
tar -zxf ${JARVIS_DOWNLOAD}/kallisto-0.51.1.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load hmpi/2.4.2
module load hdf5-clang/1.12.1

[APP]
app_name = kallisto
build_dir = ${JARVIS_TMP_DOWNLOAD}/kallisto-0.51.1
binary_dir = ${JARVIS_ROOT}/software/apps/kallisto/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/kallisto-0.51.1/test

[BUILD]
mkdir build
cd build/
sed -i '/--disable-libcurl/s/$/\ CPPFLAGS=-foverflow-shift-alt-behavior/' ../CMakeLists.txt
cmake .. -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/kallisto -DUSE_HDF5=ON -DUSE_BAM=ON
make
make install

[CLEAN]
make clean

[RUN]
run = ${JARVIS_ROOT}/software/apps/kallisto/bin/kallisto index -i transcripts.idx transcripts.fasta.gz &&
binary = kallisto quant -i transcripts.idx -o reads-ouput -b 100 reads_1.fastq.gz reads_2.fastq.gz && head -n 20 reads-ouput/abundance.tsv
nodes = 1
