[SERVER]
11.11.11.11

[DOWNLOAD]
octopus/11.4 https://octopus-code.org/download/11.4/octopus-11.4.tar.gz octopus-11.4.tar.gz

[DEPENDENCY]
module purge
./jarvis -install bisheng/3.2.0-mini com
module use ./software/modulefiles
module load bisheng/3.2.0-mini
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/2.3.0 clang
./jarvis -install gsl/2.6 clang
./jarvis -install lapack/3.8.0 clang
./jarvis -install libxc/4.3.4 clang
./jarvis -install blas/3.10.0  clang
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which mpifort`
./jarvis -install fftw/3.3.8 clang+mpi
tar -xvf ${JARVIS_DOWNLOAD}/octopus-11.4.tar.gz

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/3.2.0-mini
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
module load blas/3.10.0
module load lapack/3.8.0
module load gsl/2.6
module load libxc/4.3.4 fftw/3.3.8
export PATH=/hpcrunner/software/apps/bisheng3.2.0/octopus/11.4/bin:$PATH


[APP]
app_name = octopus
build_dir = ${JARVIS_ROOT}/octopus-11.4
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng3.2.0/octopus/11.4
case_dir =

[BUILD]
./configure  --prefix=${JARVIS_ROOT}/software/apps/bisheng3.2.0/octopus/11.4  CFLAGS='-O3 -march=armv8.2-a -mtune=tsv110 '  FCFLAGS='-O3 -march=armv8.2-a -mtune=tsv110 '  --with-gsl-prefix=${JARVIS_LIBS}/bisheng3.2.0/gsl/2.6 --with-libxc-prefix=${JARVIS_LIBS}/bisheng3.2.0/libxc/4.3.4 --with-fftw-prefix=${JARVIS_LIBS}/bisheng3.2.0/hmpi2.3.0/fftw/3.3.8 --with-blas=${JARVIS_LIBS}/bisheng3.2.0/lapack/3.8.0/lib/libblas.so --with-lapack=${JARVIS_LIBS}/bisheng3.2.0/lapack/3.8.0/lib/liblapack.so  --enable-mpi

patch -p0 < /hpcrunner/templates/octopus/11.4/cuda.F90.patch
patch -p0 < /hpcrunner/templates/octopus/11.4/run.F90.patch
patch -p0 < /hpcrunner/templates/octopus/11.4/accel_inc.F90.patch

make -j
make install

[RUN]
run =
binary =
nodes = 1

