[SERVER]
11.11.11.11

[DOWNLOAD]
bwa/0.7.17 https://sourceforge.net/projects/bio-bwa/files/bwa-0.7.17.tar.bz2
SSE2NONE.h/1.0 https://raw.githubusercontent.com/jratcliff63367/sse2neon/refs/heads/master/SSE2NEON.h
#case1 https://ftp.sra.ebi.ac.uk/vol1/fastq/ERR104/008/ERR1044518/ERR1044518_1.fastq.gz
#case2 https://ftp.sra.ebi.ac.uk/vol1/fastq/ERR104/008/ERR1044518/ERR1044518_2.fastq.gz
#case3 https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/GCA_000001405.15_GRCh38_full_analysis_set.fna.gz

[DEPENDENCY]
set -e 
set -x
module purge
./jarvis -install package/hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.1.0/bishengmodule

[ENV]
module purge
module use software/utils/hpckit/24.0.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.1.0/bishengmodule
export PATH=$JARVIS_ROOT/software/apps/bisheng/bwa/0.7.17:$PATH
mkdir -p ${JARVIS_ROOT}/case

[APP]
app_name = bwa
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = ${JARVIS_TMP}/bwa

[BUILD]
cd ${JARVIS_TMP}
rm -rf bwa-0.7.17
tar  -xvf ${JARVIS_DOWNLOAD}/bwa-0.7.17.tar.bz2
cd bwa-0.7.17
cp ${JARVIS_DOWNLOAD}/SSE2NEON.h .
sed -i "1s/gcc/clang/g" Makefile
sed -i "3s/$/ -Xlinker -zmuldefs/g" Makefile
sed -i "14s%$%-I.%g" Makefile
sed -i "29s/<emmintrin.h>/<SSE2NEON.h>/g" ksw.c
make
rm -rf $JARVIS_ROOT/software/apps/bisheng/bwa/0.7.17
mkdir -p $JARVIS_ROOT/software/apps/bisheng/bwa/0.7.17 
cp -r *.pl bwa $JARVIS_ROOT/software/apps/bisheng/bwa/0.7.17
rm -rf ${JARVIS_TMP}/bwa-0.7.17

cd ${JARVIS_TMP}
mkdir -p bwa
cd bwa
# 创建参考基因组
cat > mini_ref.fa <<EOF
>chr1
ACGTACGTACGTACGT
>chr2
TTCCGGAACCGGTTAC
EOF

# 创建测序数据
cat > mini_reads.fq <<EOF
@read1
ACGTACGT
+
IIIIIIII
@read2
TTCCGGAA
+
IIIIIIII
EOF


[RUN]
run = 
binary = $JARVIS_ROOT/software/apps/bisheng/bwa/0.7.17/bwa index mini_ref.fa && $JARVIS_ROOT/software/apps/bisheng/bwa/0.7.17/bwa mem mini_ref.fa mini_reads.fq > mini_output.sam && cat mini_output.sam
nodes = 1

[BATCH]
#定义日志文件
LOG_FILE="bwa-performance.log"

#清空日志文件
> "$LOG_FILE"

#执行命令并统计性能
#待补充

[JOB]
#!/bin/sh
#DSUB -n bwa_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu =128
#DSUB -oo bwa_$J.out
#DSUB -eo bwa.$J.err

#生成算例
cd ${JARVIS_ROOT}/case
if [ ! -f "ERR1044518_1.fastq" ];then
 gzip -d ${JARVIS_DOWNLOAD}/ERR1044518_1.fastq.gz
 gzip -d ${JARVIS_DOWNLOAD}/ERR1044518_1.fastq.gz
 gzip -d ${JARVIS_DOWNLOAD}/GCA_000001405.15_GRCh38_full_analysis_set.fna.gz
 mv GCA_000001405.15_GRCh38_full_analysis_set.fna hs38DH.fasta
fi

#运行
#待补充
#bwa index -a bwtsw hs38DH.fasta
#bwa mem -t 128 hs38DH.fasta ERR1044518_1.fastq ERR1044518_2.fastq > bwa.sam 2>&1 |tee  bwa_log
