[SERVER]
11.11.11.11

[DOWNLOAD]
bwa/0.7.17 https://sourceforge.net/projects/bio-bwa/files/bwa-0.7.17.tar.bz2
SSE2NEON/1.0 https://raw.githubusercontent.com/jratcliff63367/sse2neon/refs/heads/master/SSE2NEON.h
case1 https://ftp.sra.ebi.ac.uk/vol1/fastq/ERR104/008/ERR1044518/ERR1044518_1.fastq.gz
case2 https://ftp.sra.ebi.ac.uk/vol1/fastq/ERR104/008/ERR1044518/ERR1044518_2.fastq.gz
case3 https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/GCA_000001405.15_GRCh38_full_analysis_set.fna.gz


[DEPENDENCY]
set -e
set -x
./jarvis -install hpckit/24.12.30 any
module use software/utils/HPCKit/latest/modulefiles
module load bisheng/compiler4.1.0/bishengmodule
./jarvis -install libdivsufsort/2.0.1 clang
export PKG_CONFIG_PATH=$LIBDIVSUFSORT_PATH/lib/pkgconfig:$PKG_CONFIG_PATH

BWA_SRC=bwa-0.7.17
if [ ! -d "$BWA_SRC" ];then
     tar xf $JARVIS_DOWNLOAD/$BWA_SRC.tar.bz2
fi

[ENV]
#!/bin/bash
export BWA_DIR=$JARVIS_ROOT/bwa-0.7.17
module use software/utils/HPCKit/latest/modulefiles
module use software/moduledeps/bisheng4.1.0/
module load bisheng/compiler4.1.0/bishengmodule
module load libdivsufsort/2.0.1
export PKG_CONFIG_PATH=$LIBDIVSUFSORT_PATH/lib/pkgconfig:$PKG_CONFIG_PATH
export PATH=$JARVIS_ROOT/bwa-0.7.17:$PATH

[APP]
app_name = BWA
build_dir = ${BWA_DIR}
binary_dir = 
case_dir = ./workload/bwa

[BUILD]
cp -rf $JARVIS_DOWNLOAD/SSE2NEON.h ./
sed -i '29c #include "SSE2NEON.h"' ksw.c
sed -i "1s/gcc/clang/g" Makefile
sed -i "/CFLAGS=/s/-g -Wall -Wno-unused-function -O2/-Wall -Wno-unused-function -O3 -ffast-math -fcommon -fvectorize -funroll-loops -march=armv8-a -mcpu=tsv110 -fuse-ld=lld -flto=full/g" Makefile
sed -i "/INCLUDES=/s%$%-I$LIBDIVSUFSORT_PATH/include -I.%g" Makefile
sed -i "/LIBS=/s%$% -L$LIBDIVSUFSORT_PATH/lib -ldivsufsort64%g" Makefile
make

[CLEAN]
./clean -a

[RUN]
run = 
binary = 
nodes = 1

[BATCH]
# 定义日志文件
LOG_FILE="bwa-performance.log"

# 清空日志文件
> "$LOG_FILE"

# 执行每个命令并统计性能
#$RUN_TOOL "BWA Index" "bwa index -a bwtsw hs38DH.fasta" $LOG_FILE
$RUN_TOOL "BWA mem" "bwa mem -t 128 hs38DH.fasta ERR1044518_1.fastq ERR1044518_2.fastq > bwa.sam" $LOG_FILE
echo "All commands executed. Performance log saved to $LOG_FILE"

[JOB]
#!/bin/sh
#DSUB -n bwa_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=608
#DSUB -oo bwa.%J.out
#DSUB -eo bwa.%J.err
#生成算例
if [ ! -f "ERR1044518_1.fastq" ];then
    mkdir -p case
    gzip -d $JARVIS_DOWNLOAD/ERR1044518_1.fastq.gz
    gzip -d $JARVIS_DOWNLOAD/ERR1044518_2.fastq.gz
    gzip -d $JARVIS_DOWNLOAD/GCA_000001405.15_GRCh38_full_analysis_set.fna.gz
    mv GCA_000001405.15_GRCh38_full_analysis_set.fna hs38DH.fasta
fi
# 定义日志文件
LOG_FILE="bwa-performance.log"

# 清空日志文件
> "$LOG_FILE"

# 执行每个命令并统计性能
#$RUN_TOOL "BWA Index" "bwa index -a bwtsw hs38DH.fasta"
$RUN_TOOL "BWA mem" "bwa mem -t 128 hs38DH.fasta ERR1044518_1.fastq ERR1044518_2.fastq > bwa.sam"
echo "All commands executed. Performance log saved to $LOG_FILE"
