[SERVER]
11.11.11.11

[DOWNLOAD]
bwa/0.7.17 https://sourceforge.net/projects/bio-bwa/files/bwa-0.7.17.tar.bz2
sse2nenon/master https://www.github.com/jratcliff63367/sse2neon/archive/refs/heads/master.zip sse2neon.zip

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com


[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module add bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = bwa
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
#./jarvis -install bwa/0.7.17/clang clang
cd ${JARVIS_TMP}
rm -rf bwa-0.7.17  sse2neon-master
tar  -xvf ${JARVIS_DOWNLOAD}/bwa-0.7.17.tar.bz2
unzip ${JARVIS_DOWNLOAD}/sse2neon.zip
cd bwa-0.7.17
bisheng_includedir=`which clang`
bisheng_includedir=${bisheng_includedir%/*/*}/include
cp ${JARVIS_TMP}/sse2neon-master/SSE2NEON.h ${bisheng_includedir}
sed -i "1s/gcc/clang/g" Makefile
sed -i "14s%$%-I${bisheng_includedir}%g" Makefile
sed -i "29s/<emmintrin.h>/<SSE2NEON.h>/g" ksw.c
sed -i "33s%^%//%g" rle.h
make
mkdir -p $JARVIS_ROOT/software/apps/bisheng/bwa/0.7.17 
cp -r ../bwa-0.7.17/* $JARVIS_ROOT/software/apps/bisheng/bwa/0.7.17
rm -rf ${bisheng_includedir}/SSE2NEON.h

[RUN]
run = 
binary = 
nodes = 1
