[SERVER]
11.11.11.11

[DOWNLOAD]
IRVSP-master https://github.com/zjwang11/IRVSP/archive/refs/heads/master.zip IRVSP-master.zip

[DEPENDENCY]
module purge
./jarvis -install bisheng/4.1.0 com
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=clang CXX=clang++ FC=flang

./jarvis -install hmpi/2.4.0 clang
module use ${JARVIS_ROOT}/software/moduledeps/
module load bisheng4.1.0/hmpi/2.4.0

./jarvis -install kml/2.4.0/bisheng clang
module load bisheng4.1.0/kml-bisheng/2.4.0

unzip ${JARVIS_DOWNLOAD}/IRVSP-master.zip
tar -xzvf ${JARVIS_ROOT}/IRVSP-master/lib_irrep_bcs.tar.gz
tar -xzvf ${JARVIS_ROOT}/IRVSP-master/src_irvsp_v2.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module use ./software/moduledeps/
module load bisheng4.1.0/kml-bisheng/2.4.0

[APP]
app_name = ir2tb
build_dir = ${JARVIS_ROOT}/src_irvsp_v2_release/
binary_dir = ${JARVIS_ROOT}/src_irvsp_v2_release/bin/
case_dir =

[BUILD]
cd ${JARVIS_ROOT}/lib_irrep_bcs
sed -i '191s/^\(\s*\).*/\1real(dp), parameter :: sqr38 = -dsqrt(0.375d0)/' lib_comms.f90
sed -i "192a real(dp), parameter :: nsqr58 = -sqr58" lib_comms.f90
sed -i "198,203s/-sqr38/sqr38/" lib_comms.f90
sed -i "198,203s/-sqr58/nsqr58/" lib_comms.f90
sed -i '195s/^\(\s*\).*/\1IF(ikt/=Numk) STOP “ERROR in little groups of k-points”/' lib_bilbao.f90
sed -i '236s/^\(\s*\).*/\1if(IsGene(ir).eqv..true.) then/' addsign.f90
sed -i '243s/^\(\s*\).*/\1if (ByGene(irtmp) .eqv. .true.) exit/' addsign.f90
sed -i '692c rot_mat_tb(1+startorb_j:norb_j+startorb_j, 1+startorb_i:norb_i+startorb_i, litt_group(irot)) = &' irrep_bcs.f90
sed -i "64s/zsqrt/sqrt/" lib_chrct.f90
sed -i "7s/^\(\s*\).*/\1F90 = flang/" Makefile
sed -i "8s/^\(\s*\).*/\1FLAGS = -O3 -ffree-line-length-none -cpp/" Makefile
make clean
make
cd ${JARVIS_ROOT}/src_irvsp_v2_release
sed -i '395s/^\(\s*\).*/\1IF(ikt/=Numk) STOP "ERROR in little groups of k-points"/' nonsymm.f90
sed -i '819s/.not. IR/IR /= 0/' nonsymm.f90
sed -i '820s/ IR/IR == 0/' nonsymm.f90
sed -i '821s/.not. IR/IR /= 0/' nonsymm.f90
sed -i '822s/ IR/IR == 0/' nonsymm.f90
sed -i '171s/==/.eqv./' addsign.f90
sed -i '178s/==/.eqv./' addsign.f90
sed -i "37s/zsqrt/sqrt/" chrct.f90
sed -i '2s/^\(\s*\).*/\1F90 = flang/' Makefile
sed -i '4s/^\(\s*\).*/\1FLAGS = -O3 -ffree-line-length-none/' Makefile
sed -i '24s/^\(\s*\).*/\1$(F90) -c $(FLAGS) -cpp -DIRVSPDATA $*.f90/' Makefile
sed -i '34s/^\(\s*\).*/\1flang -O3 -c $*.f90/' Makefile
sed -i '38s/^\(\s*\).*/\1$(F90) -c -ffree-form $*.f/' Makefile
cp ${JARVIS_ROOT}/lib_irrep_bcs/irrep_bcs.a .
make clean
make

[CLEAN]
make clean
cd ${JARVIS_ROOT}/lib_irrep_bcs
make clean

[RUN]
run =
binary =
nodes = 1

[PERF]
perf=
nsys=
ncu=

