[SERVER]
11.11.11.11

[DOWNLOAD]
STAR/2.7.1a https://gitee.com/kp-hpc-mod/hpc-src/raw/master/STAR-2.7.1a.tar.gz STAR-2.7.1a.tar.gz

[DOWNLOADORI]
STAR/2.7.1a https://github.com/alexdobin/STAR/archive/refs/tags/2.7.1a.tar.gz STAR-2.7.1a.tar.gz

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install kgcc/9.3.1 com
module load kgcc/9.3.1



[ENV]
module use ./software/modulefiles
module purge
module load kgcc/9.3.1

[APP]
app_name = STAR
build_dir = $JARVIS_ROOT
binary_dir = 
case_dir = 



[BUILD]
set -x
set -e
module use ./software/modulefiles
module purge
module load kgcc/9.3.1


cd ${JARVIS_TMP}
rm -rf STAR-2.7.1a
tar -zxvf $JARVIS_DOWNLOAD/STAR-2.7.1a.tar.gz
cd ${JARVIS_TMP}/STAR-2.7.1a
cd source
sed -i 's/\?\=/\?= \-flto \-march=native \-mcpu=tsv110/g' Makefile
make STAR


[CLEAN]
./clean_build

[RUN]
run =
binary =
nodes = 1
