[SERVER]
11.11.11.11

[DOWNLOAD]
sambamba/0.8.2 https://github.com/biod/sambamba/archive/refs/tags/v0.8.2.tar.gz sambamba-0.8.2.tar.gz
ldc/1.29.0 https://github.com/ldc-developers/ldc/releases/download/v1.29.0/ldc2-1.29.0-linux-aarch64.tar.xz ldc2-1.29.0-linux-aarch64.tar.xz
chrom20 http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/phase3/data/HG00100/alignment/HG00100.chrom20.ILLUMINA.bwa.GBR.low_coverage.20130415.bam

[DEPENDENCY]
set -e
set -x

./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
sudo dnf install zlib-devel lz4-devel
tar -xzvf ${JARVIS_DOWNLOAD}/sambamba-0.8.2.tar.gz
tar xf ${JARVIS_DOWNLOAD}/ldc2-1.29.0-linux-aarch64.tar.xz
mkdir -p ldc
mkdir -p CASE
cp ${JARVIS_DOWNLOAD}/HG00100.chrom20.ILLUMINA.bwa.GBR.low_coverage.20130415.bam ./CASE
mv ldc2-1.29.0-linux-aarch64 ldc
export PATH=${JARVIS_ROOT}/ldc/ldc2-1.29.0-linux-aarch64/bin:$PATH
export LIBRARY_PATH=${JARVIS_ROOT}/ldc/ldc2-1.29.0-linux-aarch64/lib:$LIBRARY_PATH

[ENV]
./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
export PATH=${JARVIS_ROOT}/ldc/ldc2-1.29.0-linux-aarch64/bin:$PATH
export LIBRARY_PATH=${JARVIS_ROOT}/ldc/ldc2-1.29.0-linux-aarch64/lib:$LIBRARY_PATH

[APP]
app_name = sambamba
build_dir = ${JARVIS_ROOT}/sambamba-0.8.2/
binary_dir = ${JARVIS_ROOT}/sambamba-0.8.2/bin/
case_dir = ${JARVIS_ROOT}/CASE

[BUILD]
make

[CLEAN]
make clean

[RUN]
run = time
binary = sambamba-0.8.2 sort HG00100.chrom20.ILLUMINA.bwa.GBR.low_coverage.20130415.bam
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
