[SERVER]
11.11.11.11

[DOWNLOAD]
bcc-esm/4.0 http://forecast.bcccsm.ncc-cma.net/web/

[DEPENDENCY]
set -x
set -e
./jarvis -install kml/1.6.0/gcc any
./jarvis -install openblas/0.3.18 any
./jarvis -install bisheng/2.1.0 com
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=`which clang` CXX=`which clang++` FC=`which flang`
./jarvis -install hmpi/1.1.1 bisheng
module load hmpi/1.1.1
./jarvis -bench mpi
./jarvis -install fftw/3.3.8 bisheng
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 clang+mpi
./jarvis -install pnetcdf/1.11.2 clang+mpi
./jarvis -install netcdf/4.7.0 clang+mpi
unzip ${JARVIS_DOWNLOAD}/esm.zip

[ENV]
module purge
module use ./software/moduledeps
module use software/modulefiles
module load bisheng/2.1.0
module load hmpi/1.1.1
module load openblas/0.3.18
module load kml-gcc/1.6.0
export LIBS_DIR=/workspace/public/software/libs
export NETCDF_DIR=${NETCDF_PATH}
export PNETCDF_DIR=${PNETCDF_PATH}
export FFTW_DIR=${FFTW_PATH}
export MPI_DIR=${HMPI_PATH}
export USER_CC=mpicc
export USER_FC=mpifort
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
export MODEL_PATH=$JARVIS_ROOT/esm
export DATA_PATH=$JARVIS_ROOT/INIDATA/data
export CSMDATA=$JARVIS_ROOT/INIDATA
export WORK_PATH=$MODEL_PATH/T382L70p25
export KML_LIB=${KML_GCC_PATH}/lib

[APP]
app_name = BCCESM
build_dir = $WORK_PATH
binary_dir =
case_dir = $WORK_PATH

[BUILD]
rm -rf output/atm/atm
rm -rf output/lnd/lnd
rm -rf output/ocn/ocn
rm -rf output/cpl/cpl
rm -rf output/ice/ice
csh -f build.csh 1

[CLEAN]
rm -rf OBJ

[RUN]
#run = ./build.csh 2 2>&1 | tee run.log
run = ./build.csh 2
binary = 
nodes = 1

[BATCH]
#! /bin/bash
# kehu (1728  80  144  800  16)
# THREAD (   4     4   1     1     1  )

time1=$(date "+%Y-%m-%d");
perfdir="perf-data/${time1}-28n-AJ-IJ-CPL8t-2day-8min"
mkdir $perfdir
cp output/atm/atm.log.* $perfdir/atm.log
cp output/atm/timing.0 $perfdir/timing.atm.log
cp output/cpl/cpl.log.* $perfdir/cpl.log
cp output/ice/ice.log.* $perfdir/ice.log
cp output/lnd/lnd.log.* $perfdir/lnd.log
cp output/lnd/timing.0 $perfdir/timing.lnd.log
cp output/ocn/ocn.log.* $perfdir/ocn.log
echo "All of the data has archived under $perfdir"

# PRECT_GPCP(gpcp_vars) SST_HADISST  TS_NCEP
exit 0
outputdir="job10-12M"
export MSS_testpath=/share/output/atm
export WKDIR=$JARVIS_ROOT/diag-ncl/fang/$outputdir/
image_dir=$WKDIR/${outputdir}-obs
export test_prefix=$outputdir
cd $MSS_testpath
echo "COMPUTE TEST CASE CLIMATOLOGY..."
cur_var=""
for n in {1..12}; do
    if [ $n -lt 10 ]; then
        cur_var="$cur_var historical.cam2.h0.2001-0$n.nc"
    else
        cur_var="$cur_var historical.cam2.h0.2001-$n.nc"
    fi
done
echo "handing $cur_var"
ncea -4 -O $cur_var ${test_prefix}_ANN_climo.nc
ncatted -O -a yrs_averaged,global,c,c,2001 ${test_prefix}_ANN_climo.nc
echo "Image generate..."
cd $JARVIS_ROOT/diag-ncl
./year_mean.csh
mkdir $outputdir
cd $outputdir
cp $image_dir/set5_6/set5_ANN_TS_NCEP_obsc.gif ./
cp $image_dir/set5_6/set5_ANN_SST_HADISST_obsc.gif ./
cp $image_dir/set5_6/set5_ANN_PRECT_GPCP_obsc.gif ./
cp $image_dir/set7/set7_ANN_ICEFRAC_HADISST_NP_obsc.gif ./