[SERVER]
11.11.11.11

[DOWNLOAD]
bcc-agcm/4.0 http://forecast.bcccsm.ncc-cma.net/web/?down_id=350 agcm.tar.gz

[DEPENDENCY]
set -x
set -e
./jarvis -install bisheng/2.1.0 com
module purge
module use ./software/modulefiles
./jarvis -install openblas/0.3.18 any
module load bisheng/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install kml/1.6.0/bisheng clang
./jarvis -install hmpi/1.2.0 clang
module load hmpi/1.2.0
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.12.0/clang clang+mpi
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load pnetcdf/1.12.1
./jarvis -install netcdf/4.7.4/clang clang+mpi

[ENV]
module purge
module use software/modulefiles
module load bisheng/2.1.0
module load hmpi/1.2.0
module load openblas/0.3.18
#module load kml-bisheng/1.6.0
module load hdf5-clang/1.12.0
module load pnetcdf/1.12.1
module load netcdf-clang/4.7.4
export NETCDF_DIR=${NETCDF_CLANG_PATH}
export PNETCDF_DIR=${PNETCDF_PATH}
export MPI_DIR=${HMPI_PATH}
#export KML_LIB=$KML_BISHENG_PATH/lib
export USER_CC=mpicc
export USER_FC=mpifort
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
export CSMDATA=/share/BCC_ESM-T382/INIDATA
export DATA_PATH=$CSMDATA/data
export MODEL_PATH=$JARVIS_ROOT/esm
export WORK_PATH=$MODEL_PATH/T382L70p25
export EXEROOT=$WORK_PATH/output

export COMMON_PRECISE_OPT="-g -ffp-contract=off -mllvm -disable-sincos-opt -faarch64-pow-alt-precision=18 -mllvm -enable-alt-precision-math-functions -Hx,124,0xc00000 -Mflushz"
export LD_KML="-L${KML_LIB} -lkm_l9"
export ATM_PRECISE=$COMMON_PRECISE_OPT
export ICE_PRECISE=$COMMON_PRECISE_OPT
chmod +x -R $MODEL_PATH/tools
chmod +x -R $WORK_PATH/*.csh
chmod +x -R $MODEL_PATH/models

[APP]
app_name = BCCESM
build_dir = $WORK_PATH
binary_dir =
case_dir = $WORK_PATH

[BUILD]
#rm -rf output/atm/atm
#rm -rf output/lnd/lnd
#rm -rf output/ocn/ocn
#rm -rf output/cpl/cpl
#rm -rf output/ice/ice
csh -f build.csh 1

[CLEAN]
rm -rf OBJ
rm -rf output

[RUN]
run = ./build.csh 2 2>&1 | tee run.log
binary =
nodes = 1

[BATCH]
#! /bin/bash
time1=$(date "+%Y-%m-%d");
perfdir="perf-data/${time1}-BS"
mkdir -p $perfdir
cp -rf output/atm/atm.log.* $perfdir/
cp -rf output/atm/timing.0 $perfdir/timing.0.atm
cp -rf output/cpl/cpl.log.* $perfdir/
cp -rf output/ice/ice.log.* $perfdir/
cp -rf output/lnd/lnd.log.* $perfdir/
cp -rf output/lnd/timing.0 $perfdir/timing.0.lnd
cp -rf output/ocn/ocn.log.* $perfdir/
cp -rf output/esm_* $perfdir/
echo "All of the data has archived under $perfdir"
exit 0

outputdir="esm-output"
export MSS_testpath=/share/esm/T382L70p25/output/atm
export WKDIR=$JARVIS_ROOT/diag-ncl/$outputdir/
image_dir=$WKDIR/${outputdir}-obs
export test_prefix=$outputdir
cd $MSS_testpath
echo "COMPUTE TEST CASE CLIMATOLOGY..."
cur_var=""
for n in {1..12}; do
if [ $n -lt 10 ]; then
cur_var="$cur_var historical.cam2.h0.2001-0$n.nc"
else
cur_var="$cur_var historical.cam2.h0.2001-$n.nc"
fi
done
echo "handing $cur_var"
ncea -4 -O $cur_var ${test_prefix}_ANN_climo.nc
ncatted -O -a yrs_averaged,global,c,c,2001 ${test_prefix}_ANN_climo.nc
echo "Image generate..."
cd $JARVIS_ROOT/diag-ncl
./year_mean.csh
mkdir $outputdir
cd $outputdir
cp $image_dir/set5_6/set5_ANN_TS_NCEP_obsc.gif ./
cp $image_dir/set5_6/set5_ANN_SST_HADISST_obsc.gif ./
cp $image_dir/set5_6/set5_ANN_PRECT_GPCP_obsc.gif ./
cp $image_dir/set7/set7_ANN_ICEFRAC_HADISST_NP_obsc.gif ./
