[SERVER]
11.11.11.11

[DOWNLOAD]
hpl/2.3 https://netlib.org/benchmark/hpl/hpl-2.3.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1
export CC=gcc CXX=g++ FC=gfortran
./jarvis -install openblas/0.3.18 gcc
./jarvis -install hmpi/1.2.0 gcc
if [ ! -d "hpl-2.3" ]; then
   tar -xzvf $JARVIS_DOWNLOADS/hpl-2.3.tar.gz
   cp setup/Make.Linux_PII_FBLAS Make.aarch64
fi

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load hmpi/1.2.0
module load openblas/0.3.18
export HPL_HOME= $JARVIS_ROOT/hpl-2.3

[APP]
app_name = hpl
build_dir = $HPL_HOME
binary_dir = $HPL_HOME/bin/aarch64
case_dir = $HPL_HOME/bin/aarch64

[BUILD]
sed -i "64i ARCH         = aarch64" make.aarch64
sed -i "70i TOPdir       = $(HPL_HOME)" make.aarch64
sed -i "84i MPdir        =" make.aarch64
sed -i "85i MPinc        =" make.aarch64
sed -i "86i MPlib        =" make.aarch64
sed -i "95i LAdir        = $(OPENBLAS_PATH)" make.aarch64
sed -i "97i LAlib        = $(LAdir)/lib/libopenblas.a" make.aarch64
sed -i "169i CC           = mpicc" make.aarch64
sed -i "171i CCFLAGS      = $(HPL_DEFS) -fomit-frame-pointer -O3 -fopenmp -funroll-loops -W -Wall" make.aarch64
make arch=aarch64 -j
echo "check if SVE exists"
objdump -d bin/aarch64/xhpl | grep p0
cd bin/aarch64
#modify HPL.dat
sed -i "6i 100000 Ns" HPL.dat
sed -i "8i 256 NBs" HPL.dat
sed -i "11i 4Ps" HPL.dat
sed -i "12i 8Qs" HPL.dat

[CLEAN]
make arch=aarch64 clean

[RUN]
run = mpirun --allow-run-as-root -np 32 
binary = xhpl
nodes = 1 
