[SERVER]
11.11.11.11

[DOWNLOAD]


[DEPENDENCY]
set -e
set -x
module purge
git clone https://github.com/wannier-developers/wannier90.git tmp/wannier90
./jarvis -install kgcc/10.3.1 com
module use ./software/modulefiles
module load kgcc10
./jarvis -install blas/3.10.0 gcc
sed -i '10,12d ' package/lapack/3.8.0/install.sh
sed -i '$a mkdir build && cd build && cmake .. -DCMAKE_BUILD_TYPE=RELEASE -DBUILD_SHARED_LIBS=ON && make && make install && export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib64' package/lapack/3.8.0/install.sh
./jarvis -install lapack/3.8.0 gcc
./jarvis -install hmpi/1.2.0 gcc
module load hmpi1


[ENV]
module purge
module use ./software/modulefiles
module load kgcc10
module load hmpi1


[APP]
app_name = wannier90
build_dir = ${JARVIS_TMP}/wannier90
binary_dir = ${JARVIS_LIBS}/kgcc10/wannier90
case_dir = ${JARVIS_LIBS}/kgcc10/wannier90

[BUILD]

cp config/make.inc.gfort make.inc
sed -i '4c F90 = gfortran' make.inc
sed -i '8c MPIF90 = mpif90'  make.inc
sed -i '7c COMMS= mpi' make.inc
sed -i '14c FCOPTS = -fstrict-aliasing  -fno-omit-frame-pointer -fno-realloc-lhs -fcheck=bounds,do,recursion,pointer -ffree-form -Wall -Waliasing -Wsurprising -Wline-truncation -Wno-tabs -Wno-uninitialized -Wno-unused-dummy-argument -Wno-unused -Wno-character-truncation -O1 -g -fbacktrace' make.inc
sed -i '15c LDOPTS = -fstrict-aliasing  -fno-omit-frame-pointer -fno-realloc-lhs -fcheck=bounds,do,recursion,pointer -ffree-form -Wall -Waliasing -Wsurprising -Wline-truncation -Wno-tabs -Wno-uninitialized -Wno-unused-dummy-argument -Wno-unused -Wno-character-truncation -O1 -g -fbacktrace' make.inc
#sed -i '16c FCOPTS += -fallow-argument-mismatch' make.inc
make
make install
cp -r ${JARVIS_TMP}/wannier90 ${JARVIS_LIBS}/kgcc10/
[RUN]
run = export OMPI_ALLOW_RUN_AS_ROOT=1 && export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 && make tests
binary = 
nodes = 1
