[SERVER]
11.11.11.11

[DOWNLOAD]


[DEPENDENCY]
set -e
set -x
module purge
git clone https://github.com/wannier-developers/wannier90.git tmp/wannier90
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
#./jarvis -install blas/3.10.0/clang bisheng
./jarvis -install openblas/0.3.18 bisheng
module load openblas/0.3.18
sed -i '$a mkdir build && cd build && cmake .. -DCMAKE_BUILD_TYPE=RELEASE -DBUILD_SHARED_LIBS=ON && make && cp lib/* /usr/local/lib' package/lapack/3.8.0/bisheng/install.sh
./jarvis -install lapack/3.8.0/bisheng bisheng
module load blas-clang
module load lapack-bisheng
./jarvis -install hmpi/1.2.0 bisheng
module load hmpi1


[ENV]
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
#module load blas-clang

module load lapack-bisheng
module load hmpi1
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[APP]
app_name = wannier90
build_dir = ${JARVIS_TMP}/wannier90
binary_dir = ${JARVIS_LIBS}/bisheng2/wannier90
case_dir = ${JARVIS_LIBS}/bisheng2/wannier90

[BUILD]

cp config/make.inc.gfort make.inc
sed -i '4c F90 = flang' make.inc
sed -i '8c MPIF90 = mpif90'  make.inc
sed -i '7c COMMS= mpi' make.inc
sed -i '14c FCOPTS = -fstrict-aliasing  -fno-omit-frame-pointer -fno-realloc-lhs  -ffree-form -Wall -Wno-uninitialized  -Wno-unused -O1 -g' make.inc
sed -i '15c LDOPTS = -fstrict-aliasing  -fno-omit-frame-pointer -fno-realloc-lhs  -ffree-form -Wall -Wno-uninitialized  -Wno-unused -O1 -g' make.inc
#sed -i '16c FCOPTS += -fallow-argument-mismatch' make.inc
make
make install
cp -r ${JARVIS_TMP}/wannier90 ${JARVIS_LIBS}/bisheng2/
[RUN]
run = export OMPI_ALLOW_RUN_AS_ROOT=1 && export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 &&  make test-serial && make test-parallel
binary = 
nodes = 1
