[SERVER]
11.11.11.11

[DOWNLOAD]
wannier90/3.1.0 https://github.com/wannier-developers/wannier90/archive/refs/tags/v3.1.0.tar.gz wannier90-v3.1.0.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load gcc/compiler12.3.1/gccmodule
module load gcc/hmpi${HMPI_VERSION}/release

./jarvis -install blas/3.10.0 gcc
./jarvis -install lapack/3.10.1 gcc
tar -xvf ${JARVIS_DOWNLOAD}/wannier90-v3.1.0.tar.gz -C ${JARVIS_TMP}/


[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load gcc/compiler12.3.1/gccmodule
module load gcc/hmpi${HMPI_VERSION}/release

module use software/moduledeps/gcc12.3.1
module load blas/3.10.0
module load lapack/3.10.1

[APP]
app_name = wannier90.x
build_dir = ${JARVIS_TMP}/wannier90-3.1.0
binary_dir = ${JARVIS_ROOT}/software/apps/gcc12.3.1-hmpi${HMPI_VERSION}/wannier90-3.1.0
case_dir = ${JARVIS_ROOT}/software/apps/gcc12.3.1-hmpi${HMPI_VERSION}/wannier90-3.1.0

[BUILD]

cp config/make.inc.gfort make.inc
sed -i '4c F90 = gfortran' make.inc
sed -i '8c MPIF90 = mpif90'  make.inc
sed -i '7c COMMS= mpi' make.inc
sed -i '14c FCOPTS = -fstrict-aliasing  -fno-omit-frame-pointer -fno-realloc-lhs -fcheck=bounds,do,recursion,pointer -ffree-form -Wall -Waliasing -Wsurprising -Wline-truncation -Wno-tabs -Wno-uninitialized -Wno-unused-dummy-argument -Wno-unused -Wno-character-truncation -O1 -g -fbacktrace -fallow-argument-mismatch' make.inc
sed -i '15c LDOPTS = -fstrict-aliasing  -fno-omit-frame-pointer -fno-realloc-lhs -fcheck=bounds,do,recursion,pointer -ffree-form -Wall -Waliasing -Wsurprising -Wline-truncation -Wno-tabs -Wno-uninitialized -Wno-unused-dummy-argument -Wno-unused -Wno-character-truncation -O1 -g -fbacktrace' make.inc
sed -i "37c LIBS = -L${BLAS_PATH}/lib -L${LAPACK_PATH}/lib -llapack -lblas " make.inc
make
make install
mkdir -p ${JARVIS_ROOT}/software/apps/gcc12.3.1-hmpi${HMPI_VERSION}
cp -r ${JARVIS_TMP}/wannier90-3.1.0 ${JARVIS_ROOT}/software/apps/gcc12.3.1-hmpi${HMPI_VERSION}
[RUN]
run = export OMPI_ALLOW_RUN_AS_ROOT=1 && export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 && make tests
binary = 
nodes = 1
