[SERVER]
11.11.11.11

[DOWNLOAD]
wannier90/3.1.0 https://github.com/wannier-developers/wannier90/archive/refs/tags/v3.1.0.tar.gz wannier90-v3.1.0.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any

source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install blas/3.10.0 bisheng
./jarvis -install lapack/3.10.1 bisheng
rm -rf ${JARVIS_ROOT}/tmp/wannier90-3.1.0
tar -xvf ${JARVIS_DOWNLOAD}/wannier90-v3.1.0.tar.gz -C  ${JARVIS_ROOT}/tmp/
rm -rf ${JARVIS_TMP}/wannier90-3.1.0
cp -r ${JARVIS_ROOT}/tmp/wannier90-3.1.0 ${JARVIS_TMP}/

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng
module use  software/moduledeps/bisheng${BISHENG_VERSION}
module load blas/3.10.0
module load lapack/3.10.1

[APP]
app_name = wannier90
build_dir = ${JARVIS_TMP}/wannier90-3.1.0
binary_dir =
case_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/wannier90-3.1.0/examples/example03

[BUILD]

cp config/make.inc.gfort make.inc
sed -i '4c F90 = mpif90' make.inc
sed -i '8c MPIF90 = mpif90'  make.inc
sed -i '7c COMMS= mpi' make.inc
sed -i '14c FCOPTS = -fstrict-aliasing  -fno-omit-frame-pointer -fno-realloc-lhs  -ffree-form -Wall -Wno-uninitialized  -Wno-unused -O1 -g' make.inc
sed -i '15c LDOPTS = -fstrict-aliasing  -fno-omit-frame-pointer -fno-realloc-lhs  -ffree-form -Wall -Wno-uninitialized  -Wno-unused -O1 -g' make.inc
sed -i "37c LIBS = -L${BLAS_PATH}/lib -L${LAPACK_PATH}/lib -llapack -lblas " make.inc
make
make install
mkdir -p ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/
cp -r ${JARVIS_TMP}/wannier90-3.1.0 ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/

[RUN]
run = time -p mpirun -np 8 --allow-run-as-root -mca pml ucx -mca btl ^vader,tcp,openib,uct -x UCX_TLS=self,sm --bind-to core --map-by socket --rank-by core -x UCX_BUILTIN_ALLREDUCE_ALGORITHM=8 ../../wannier90.x silicon
binary = && tail -n 20 silicon.wout
nodes = 1


