[SERVER]
11.11.11.11

[DOWNLOAD]
spack/1.0.0 https://github.com/spack/spack/archive/refs/tags/v1.0.0-alpha.4.tar.gz spack-1.0.0.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install hpckit/2024.12.30 any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add bisheng/compiler4.1.0/bishengmodule
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
tar -xzvf ${JARVIS_DOWNLOAD}/spack-1.0.0.tar.gz
mv spack-1.0.0-alpha.4 spack

[ENV]
module purge
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add bisheng/compiler4.1.0/bishengmodule
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`


[APP]
app_name = memkind
build_dir = ${JARVIS_ROOT}/spack/
binary_dir = ${JARVIS_ROOT}/spack/
case_dir = ${JARVIS_ROOT}/spack/

[BUILD]
source ./share/spack/setup-env.sh
spack -V
spack compiler find
spack compilers
spack -k install memkind%clang

[CLEAN]
make clean

[RUN]
run = source ./share/spack/setup-env.sh && spack -V && spack load memkind && man memkind
binary =
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
