[SERVER]
11.11.11.11

[DOWNLOAD]
jasper/1.900.2 https://www.ece.uvic.ca/~frodo/jasper/software/jasper-1.900.2.tar.gz

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[APP]
app_name = jasper
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir = ${JARVIS_TMP}/jasper-1.900.2

[BUILD]
./jarvis -install jasper/1.900.2 clang

[RUN]
run = make check
binary =
nodes = 1

