[SERVER]
11.11.11.11

[DOWNLOAD]
rmaps-now/4.0 https://www.ium.cn/index.php/Home/Product/view/id/858.html

[DEPENDENCY]
set -x
set -e
module purge
module use ./software/modulefiles
./jarvis -install zlib/1.2.12 gcc
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang F77=flang
./jarvis -install szip/2.1.1 clang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.8.12/clang clang+mpi
./jarvis -install pnetcdf/1.11.2 clang+mpi
./jarvis -install netcdf/4.7.4/clang clang+mpi

[ENV]
module purge
module use ./software/modulefiles
module use ./software/moduledeps/
export OMP_NUM_THREADS=1
export I_MPI_CC=clang
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
module load bisheng2/2.1.0
module load hmpi1/1.1.1
module load hdf5-clang/1.8.12
module load netcdf-clang/4.7.4
module load pnetcdf/1.11.2
module load szip/2.1.1
module load gcc7/zlib/1.2.12

[APP]
app_name = rmaps-now
build_dir = $JARVIS_ROOT/v2020-bak
binary_dir = $JARVIS_ROOT/v2020-bak
case_dir = $JARVIS_ROOT/NOW3km-040300/

[BUILD]
./configure
make -j

[CLEAN]
make clean

[RUN]
#run = mpirun -np 32 -mca pml ucx -mca btl ^vader,tcp,openib,uct
#binary = rmapsnow-all.exe
run = ./run-2020.csh
binary = 
nodes = 1
