[SERVER]
11.11.11.11

[DOWNLOAD]
rmaps-now/4.0 http://forecast.bcccsm.ncc-cma.net/web/?down_id=350

[DEPENDENCY]
set -x
set -e
module purge
./jarvis -install oneapi/2021.1.0 com
source /opt/intel/oneapi/setvars.sh
export CC=icc CXX=icpc FC=ifort F77=ifort
./jarvis -install szip/2.1.1 icc
./jarvis -install zlib/1.2.12 icc
export CC=mpiicc CXX=mpiicpc FC=mpiifort F77=mpiifort
./jarvis -install hdf5/1.8.12 icc
./jarvis -install pnetcdf/1.11.2 icc
./jarvis -install netcdf/4.7.4 icc

[ENV]
module purge
source source /opt/intel/oneapi/setvars.sh
module use software/modulefiles
module use software/moduledeps/icc11
export OMP_NUM_THREADS=1
export I_MPI_CC=icc
module load hdf5/1.8.12
module load netcdf/4.7.4
module load pnetcdf/1.11.2
module load szip/2.1.1
module load zlib/1.2.12

[APP]
app_name = rmaps-now
build_dir = $JARVIS_ROOT/v2020_b1
binary_dir = $JARVIS_ROOT/v2020_b1
case_dir = $JARVIS_ROOT/NOW3km-040300/

[BUILD]
./configure
make -j

[CLEAN]
make clean

[RUN]
#run = mpirun -np 16 
#binary = rmapsnow-all.exe
run = ./run-2020-x86.csh
binary = 
nodes = 1
