[SERVER]
11.11.11.11


[DOWNLOAD]
homer/4.11 http://homer.ucsd.edu/homer/configureHomer.pl
homer/case https://phoenixnap.dl.sourceforge.net/project/rseqc/BED/Human_Homo_sapiens/hg19_RefSeq.bed.gz


[DEPENDENCY]
set -e
set -x
module purge

./jarvis -install hpckit/24.0.0 any
source software/utils/hpckit/24.0.0/HPCKit/latest/setvars.sh --force
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

echo "Check the source code"
if [ -d homer-4.11 ];then
        rm -rf homer-4.11
fi
if [ -d ${JARVIS_ROOT}/workloads/homer ];then
        rm -rf ${JARVIS_ROOT}/workloads/homer
fi

mkdir -p homer-4.11
cp ${JARVIS_DOWNLOAD}/configureHomer.pl homer-4.11/

mkdir -p ${JARVIS_ROOT}/workloads/homer/homer-test
gzip -dk ${JARVIS_DOWNLOAD}/hg19_RefSeq.bed.gz -c > ${JARVIS_ROOT}/workloads/homer/homer-test/hg19_RefSeq.bed


[ENV]
set -e
set -x
module purge
source software/utils/hpckit/24.0.0/HPCKit/latest/setvars.sh --force
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
export PATH=${JARVIS_ROOT}/homer-4.11/bin:${PATH}


[APP]
app_name = homer
build_dir = ${JARVIS_ROOT}/homer-4.11/
binary_dir = ${JARVIS_ROOT}/homer-4.11/bin
case_dir = ${JARVIS_ROOT}/workloads/homer/homer-test/


[BUILD]
set -e
set -x
perl configureHomer.pl -install
perl configureHomer.pl -install hg19


[CLEAN]
ls | grep -v '^configureHomer.pl$' | xargs rm -rf


[RUN]
run = 
binary = findMotifsGenome.pl hg19_RefSeq.bed hg19 H3K4Me3_motif -len 8,10,12 
nodes = 1


[PERF]
perf= 
nsys=
ncu=--target-processes all
