[SERVER]
11.11.11.11

[DOWNLOAD]
xla/test_653994136 https://github.com/openxla/xla/archive/refs/heads/test_653994136.zip xla-test_653994136.tar.gz

[DEPENDENCY]
set -x
set -e
module purge
module use $JARVIS_MODULES/modules
./jarvis -install anaconda3/2024.10 any
module load anaconda3/2024.10

./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2

./jarvis -install hpckit/2025.1.0.SPC001 any
set +x
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
set -x

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load anaconda3/2024.10
module load cmake/3.28.2
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1/gccmodule
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release

[APP]
app_name = xla
app_version = test_653994136
compiler = bisheng
build_dir = ${JARVIS_APP}/xla/test_653994136-%#MYKBSVER#%/project
binary_dir =
mod_exc_dir = project;conda_env
case_dir = ${JARVIS_JOBSCRIPT}/xla/test_653994136

[BUILD]
set -x
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1

#### prepare
set +x && echo_info "build prepare!!!" && set -x

set +x && build_mod_check_dir "${BUILD_DIR}/conda_env" "prompt" && set -x
rm -rf ${BUILD_DIR}/conda_env

#### build
set +x && echo_info "build start..." && set -x

source ${CONDA_SH}
XLA_ENV=${PATH_INSTALL}/project/conda_env/test_653994136
if true; then
conda create --prefix=${XLA_ENV} bazel numpy python=3.11
set +x
conda activate ${XLA_ENV}
set -x
set +e


pip config set global.index-url https://mirrors.aliyun.com/pypi/simple
pip config set global.timeout 1000
pip config set install.trusted-host mirrors.aliyun.com
pip install tensorflow==2.13.0
fi

cat > ${PATH_INSTALL}/module_tail.modulefile << EOF

EOF

set +x && echo_info "build done!!!" && set -x

### install
set +x && echo_info "install..." && set -x
JOB_DIR="${JARVIS_JOBSCRIPT}/xla/test_653994136"
mkdir -p ${JOB_DIR}
${BUILD_DIR}/env.sh_gen.sh ${JOB_DIR}/env.sh
echo "module load xla/test_653994136-%#MYKBSVER#%" >> ${JOB_DIR}/env.sh

cp ${JARVIS_JOBSCRIPT_LIBSHELL} ${JOB_DIR}/ -ar

cp ${JARVIS_ROOT}/dataconfig_patches/xla.py ${JOB_DIR}/ -ar
cat > ${JOB_DIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_xla
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 600
#DSUB -R "cpu=600"
#DSUB -o xla_out_%J.log
#DSUB -e xla_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.xla
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh

ulimit -s unlimited
source ./bash-com-kit.sh

source $CONDA_SH
conda activate ${XLA_ENV}

{
time -p numactl -C 304-607 python xla.py ;
} 2>&1 | tee tee_xla.xlog

conda deactivate
EOF

cat > ${JOB_DIR}/local_run.sh << EOF
#!/bin/bash
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
ulimit -s unlimited
source ./bash-com-kit.sh

source $CONDA_SH
conda activate ${XLA_ENV}


{
time -p numactl -C 304-607 python xla.py ;
} 2>&1 | tee tee_local_xla.xlog

conda deactivate
EOF

cat > ${JOB_DIR}/xla-test_653994136-run.sh << EOF
#!/bin/bash
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOB_DIR}/env.sh
chmod u+x ${JOB_DIR}/job_run.sh
chmod u+x ${JOB_DIR}/local_run.sh
chmod u+x ${JOB_DIR}/xla-test_653994136-run.sh
chmod u+x ${JOB_DIR}/*.sh


set +x && echo_info "install done!!!" && set -x

set +x
exit 0

[RUN]
run =
binary =
nodes = 1
~
