[SERVER]
11.11.11.11

[DOWNLOAD]
CNVnator/0.4.1 ${JARVIS_PROXY}/abyzovlab/CNVnator/releases/download/v0.4.1/CNVnator_v0.4.1.zip

[DEPENDENCY]
set -e
yum install -y readline-devel bzip2-devel xz xz-devel libjpeg-turbo libjpeg-turbo-devel
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`

./jarvis -install samtools/1.10 gcc+mpi
module use  ${JARVIS_ROOT}/software/moduledeps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}
module load samtools/1.10
./jarvis -install cern_root/6.26.02 gcc+mpi
module load cern_root/6.26.02

mkdir -p ${JARVIS_ROOT}/software/apps/cnvnator/bin
cd ${JARVIS_TMP}
unzip ${JARVIS_DOWNLOAD}/CNVnator_v0.4.1.zip

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module use ${JARVIS_ROOT}/software/moduledeps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}
module load cern_root/6.26.02
#export INCLUDE=${SAMTOOLS_PATH}/include/htslib:${INCLUDE}
#export CPLUS_INCLUDE_PATH=${SAMTOOLS_PATH}/include/htslib:${CPLUS_INCLUDE_PATH}

[APP]
app_name = cnvnator
build_dir = ${JARVIS_TMP}/CNVnator_v0.4.1/src
binary_dir = ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}/cnvnator/0.4.1/bin
case_dir = ${JARVIS_TMP}/CNVnator_v0.4.1/ExampleData

[BUILD]
make clean
ln -s ${JARVIS_LIBS}/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}/cern_root/6.26.02 cern_root
ln -s ${JARVIS_LIBS}/gcc{GCC_VERSION}-hmpi${HMPI_VERSION}/samtools/1.10 samtools
sed -i '3a ROOTSYS = cern_root' Makefile
sed -i "42s%c++11%c++17%g" Makefile
sed -i "3c #include <set> " IO.cpp
sed -i 's|-I\$(SAMDIR)|-I\$(SAMDIR)/include/bam|' Makefile
sed -i 's|^SAMLIB =.*|SAMLIB = \$(SAMDIR)/lib/libbam.a -lz -llzma -lbz2 -lreadline -lcurl|' Makefile
sed -i 's|^HTSDIR =.*|HTSDIR = \$(wildcard \$(SAMDIR)/include)|' Makefile
sed -i 's|\$(HTSDIR)/libhts\.a|\$(SAMDIR)/lib/libhts\.a|' Makefile
sed -i 's/g++/mpicxx/' Makefile
make LIBS="-lcrypto" OMP=yes -j

cp -ar cnvnator cnvnator2VCF.pl ${JARVIS_ROOT}/software/apps/cnvnator/bin

[CLEAN]
make clean

[RUN]
run = cp -ar ${JARVIS_ROOT}/templates/CNVnator/0.4.1/cnvnator_test.sh . && bash cnvnator_test.sh
binary =
nodes = 1
