[SERVER]
11.11.11.11

[DOWNLOAD]
CNVnator/0.4.1 ${JARVIS_PROXY}/abyzovlab/CNVnator/releases/download/v0.4.1/CNVnator_v0.4.1.zip
samtools/1.10 ${JARVIS_PROXY}/samtools/samtools/releases/download/1.10/samtools-1.10.tar.bz2

[DEPENDENCY]
set -e
yum install -y readline-devel libcurl-devel bzip2-devel
module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load kgcc/10.3.1
./jarvis -install hmpi/2.4.2 gcc
module load hmpi/2.4.2
./jarvis -install cern_root/6.18.04 gcc+mpi
module load cern_root/6.18.04

mkdir -p ${JARVIS_ROOT}/software/app/cnvnator/bin
unzip ${JARVIS_DOWNLOAD}/CNVnator_v0.4.1.zip -d ${JARVIS_TMP_DOWNLOAD}
mkdir -p ${JARVIS_TMP_DOWNLOAD}/CNVnator_v0.4.1/src/samtools
cd ${JARVIS_TMP_DOWNLOAD}/CNVnator_v0.4.1/src/samtools
tar xvf ${JARVIS_DOWNLOAD}/samtools-1.10.tar.bz2 --strip-components=1
./configure --prefix=$(pwd)
make all all-htslib -j4
make install install-htslib
cp -a *.h $(pwd)/include
cp -a *.a $(pwd)/lib

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load hmpi/2.4.2
module load cern_root/6.18.04

[APP]
app_name = cnvnator
build_dir = ${JARVIS_TMP_DOWNLOAD}/CNVnator_v0.4.1/src
binary_dir = 
case_dir = ${JARVIS_TMP_DOWNLOAD}/CNVnator_v0.4.1/ExampleData

[BUILD]
ln -s ${JARVIS_LIBS}/kgcc10.3.1/hmpi2.4.2/cern_root/6.18.04 cern_root
sed -i '3a ROOTSYS = cern_root' Makefile
sed -i '/^SAMLIB = .*/s/$/\ -lz -llzma -lbz2 -lreadline -lcurl/' Makefile
sed -i 's/g++/mpicxx/' Makefile
make LIBS="-lcrypto" OMP=yes -j

cp -ar cnvnator cnvnator2VCF.pl ${JARVIS_ROOT}/software/app/cnvnator/bin/

[CLEAN]
make clean

[RUN]
run = cp -ar ${JARVIS_ROOT}/templates/CNVnator/0.4.1/cnvnator_test.sh . && bash cnvnator_test.sh
binary = 
nodes = 1
