[SERVER]
11.11.11.11

[DOWNLOAD]
root/6.20 https://root.cern/download/root_v6.20.00.source.tar.gz root_v6.20.00.source.tar.gz
openssl http://lcgpackages.web.cern.ch/lcgpackages/tarFiles/sources/openssl-1.0.2s.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
module use $JARVIS_MODULES/modules
./jarvis -install cmake/3.28.2 any
module load cmake/3.28.2
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

./jarvis -install zstd/1.5.0/clang clang
module load zstd-clang/1.5.0-%#MYKBSVER#%

./jarvis -install anaconda3/2024.10 any
source ${JARVIS_UTILS}/anaconda3/2024.10/etc/profile.d/conda.sh
if [ "$(conda env list | grep root-6.20 | awk '{print $1}')" != "root-6.20" ]; then
conda create -n root-6.20 python=3.9 -y
fi
conda activate root-6.20
pip install numpy==1.24.0 \
    --trusted-host mirrors.huaweicloud.com \
    -i https://mirrors.huaweicloud.com/repository/pypi/simple


tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/root_v6.20.00.source.tar.gz -C ${JARVIS_DEV}

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load cmake/3.28.2
module load zstd-clang/1.5.0-%#MYKBSVER#%

[APP]
app_name = root
app_version = 6.20
compiler = bisheng
build_dir = ${JARVIS_DEV}/root-6.20.00
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/root/6.20

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x

####### build start
install_path=$1

if [ ! -f "$install_path/bin/root" ]; then
source ${JARVIS_UTILS}/anaconda3/2024.10/etc/profile.d/conda.sh
conda activate root-6.20

#yum_install_system_rpms libX11 libX11-devel libXpm libXpm-devel libXft libXft-devel libXext libXext-devel

cd ${JARVIS_DEV}/root-6.20.00
if [ -d "obj" ]; then
rm -rf obj
fi

sed -i "81c\AR              = ar qc" graf2d/asimage/src/libAfterImage/Makefile.in
sed -i "17s|http://lcgpackages.web.cern.ch/lcgpackages/tarFiles/sources|file://${JARVIS_DOWNLOAD}|" builtins/openssl/CMakeLists.txt

patch_cmd=$(sed -n "41p" builtins/openssl/CMakeLists.txt | grep -o PATCH_COMMAND")
if [ "$patch_cmd" != "PATCH_COMMAND" ]; then
sed -i "40a\  PATCH_COMMAND patch -p0 < ${JARVIS_ROOT}/templates/top50/root/6.20/sha1-armv8.pl.patch" builtins/openssl/CMakeLists.txt
fi

mkdir obj
cd obj

export GIT_SSL_NO_VERIFY=1

cmake .. -DCMAKE_INSTALL_PREFIX=$install_path -DCMAKE_BUILD_TYPE=Release -DENABLE_PERL=FALSE \
         -DCMAKE_POLICY_DEFAULT_CMP0153=OLD -DCMAKE_POLICY_DEFAULT_CMP0135=OLD -DCMAKE_POLICY_DEFAULT_CMP0148=OLD \
         -DCMAKE_PREFIX_PATH=$ZSTD_CLANG_PATH -DCMAKE_CXX_FLAGS="-Wno-enum-constexpr-conversion"

make VERBOSE=1 -j16
make install
fi
####### build done

####### Install jobscript

if [ ! -d "${JARVIS_JOBSCRIPT}/root-6.20" ]; then
mkdir -p ${JARVIS_JOBSCRIPT}/root-6.20
fi

cat > ${JARVIS_JOBSCRIPT}/root-6.20/job_run.sh << EOF
#!/bin/bash

EOF

cat >${JARVIS_JOBSCRIPT}/root-6.20/local_run.sh << EOF
#!/bin/bash
module use $JARVIS_MODULES/modules
module load root/6.20-%#MYKBSVER#%

source ${JARVIS_UTILS}/anaconda3/2024.10/etc/profile.d/conda.sh
conda activate root-6.20

cd ${JARVIS_DEV}/root-6.20.00/obj/tutorials/legacy
root -q benchmarks.C
EOF

cat > ${JARVIS_JOBSCRIPT}/root-6.20/root-6.20-run.sh << EOF
#!/bin/bash
cd ${JARVIS_JOBSCRIPT}/root-6.20

./local_run.sh 2>&1 | tee tee_local_run.xlog
EOF

chmod u+x ${JARVIS_JOBSCRIPT}/root-6.20/job_run.sh
chmod u+x ${JARVIS_JOBSCRIPT}/root-6.20/local_run.sh
chmod u+x ${JARVIS_JOBSCRIPT}/root-6.20/root-6.20-run.sh

[RUN]
