[SERVER]
11.11.11.11


[DOWNLOAD]
fastp/0.20.1 https://github.com/OpenGene/fastp/archive/v0.20.1.tar.gz fastp-0.20.1.tar.gz
fastp/case1 http://ftp.sra.ebi.ac.uk/vol1/fastq/ERR104/008/ERR1044518/ERR1044518_1.fastq.gz
fastp/case2 http://ftp.sra.ebi.ac.uk/vol1/fastq/ERR104/008/ERR1044518/ERR1044518_2.fastq.gz


[DEPENDENCY]
set -e
set -x
module purge 
./jarvis -install bisheng/4.1.0 com
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

echo "Check the source code"
if [ -d fastp-0.20.1 ];then
        rm -rf fastp-0.20.1
fi
if [ -d ${JARVIS_ROOT}/workloads/fastp ];then
        rm -rf ${JARVIS_ROOT}/workloads/fastp
fi

tar -xvzf ${JARVIS_DOWNLOAD}/fastp-0.20.1.tar.gz

mkdir -p ${JARVIS_ROOT}/workloads/fastp/fastp-test
cd ${JARVIS_ROOT}/workloads/fastp/fastp-test
cp ${JARVIS_DOWNLOAD}/ERR1044518_1.fastq.gz .
cp ${JARVIS_DOWNLOAD}/ERR1044518_2.fastq.gz .
gunzip -k ERR1044518_1.fastq.gz
gunzip -k ERR1044518_2.fastq.gz


[ENV]
set -e
set -x
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`


[APP]
app_name = fastp
build_dir = ${JARVIS_ROOT}/fastp-0.20.1
binary_dir = ${JARVIS_ROOT}/fastp-0.20.1
case_dir = ${JARVIS_ROOT}/workloads/fastp/fastp-test


[BUILD]
set -e
set -x
make -j


[CLEAN]
set -e
set -x
make clean


[RUN]
run = 
binary = fastp -i ERR1044518_1.fastq -I ERR1044518_2.fastq -w 16
nodes = 1


[PERF]
perf=
nsys=
ncu=--target-processes all

