[SERVER]
11.11.11.11

[DOWNLOAD]


[DEPENDENCY]
set -e
set -x
# basic system components
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} com
module use ./software/compiler/hpckit/${HPCKIT_VERSION}/HPCKit/latest/modulefiles
module load bisheng/compiler4.2.0/bishengmodule
module load bisheng/hmpi25.0.0/hmpi
export CC="clang -Wno-implicit-function-declaration -Wno-incompatible-function-pointer-types" CXX=clang++ FC=flang
module use ./software/moduledeps/bisheng4.2.0
export CC=mpicc CXX=mpicxx FC=mpifort
module use ./software/moduledeps/bisheng4.2.0-hmpi25.0.0
./jarvis -install hdf5/1.12.0/clang clang+mpi
module load hdf5-clang/1.12.0
./jarvis -install pnetcdf/1.12.1 clang+mpi
module load pnetcdf/1.12.1
./jarvis -install netcdf/4.7.4/clang clang+mpi
module load netcdf-clang/4.7.4
tar -zxvf ${JARVIS_DOWNLOAD}/COAWST-x86.tar.gz

[ENV]
#!/bin/bash
module purge
module use ${JARVIS_ROOT}/software/compiler/hpckit/${HPCKIT_VERSION}/HPCKit/latest/modulefiles
module load bisheng/compiler4.2.0/bishengmodule
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.2.0
module use ${JARVIS_ROOT}/software/moduledeps/bisheng4.2.0-hmpi25.0.0
module load bisheng/hmpi25.0.0/hmpi
module load hdf5-clang/1.12.0 pnetcdf/1.12.1 netcdf-clang/4.7.4
module load bisheng/kml25.0.0/kml

export BISHENG_INSTALL_PATH=`which clang`
export BISHENG_INSTALL_PATH=${ BISHENG_INSTALL_PATH %/*/*}

export HDF5_INSTALL_PATH=`which h5diff`
export HDF5_INSTALL_PATH=${ HDF5_INSTALL_PATH %/*/*}
export HDF5_PATH=${ HDF5_INSTALL_PATH }

export PNETCDF_INSTALL_PATH=`pnetcdf-config --prefix`
export PNETCDF_PATH=${PNETCDF_INSTALL_PATH}

export HMPI_INSTALL_PATH=`which mpirun`
export HMPI_INSTALL_PATH=${HMPI_INSTALL_PATH%/*/*}

export COAWST_INSTALL_PATH=`pwd`

export MCT_LIBDIR= ${COAWST_INSTALL_PATH}/Lib/tool_libs/lib
export MCT_INCDIR= ${COAWST_INSTALL_PATH}/Lib/tool_libs/include

export NETCDF_FLIBS=`nc-config --flibs`
export KML_NOARCH=software/compiler/hpckit/${HPCKIT_VERSION}/HPCkit/${HPCKIT_VERSION}/kml/bisheng/lib/noarch

COAWST_DIR=${JARVIS_ROOT}/COAWST-x86

[APP]
app_name = COAWST
build_dir = ${COAWST_DIR}
binary_dir = ${COAWST_DIR}
case_dir = ${COAWST_DIR}/casefile_72h

[BUILD]
cd ${COAWST_DIR}
find -name *.a -delete
find -name *.o -delete
find -name *.mod -delete

cd ${COAWST_DIR}/Lib/MCT
make && make install

cd ${COAWST_DIR}/Lib/ARPACK
make all
cp *.a ../tool_libs

cd ${COAWST_DIR}

sed -i '/^[[:space:]]*wrfclean:/,/^[[:space:]]*endif/ { /\.\/configure;[[:space:]]*\\[[:space:]]*$/ s/^/# / }' makefile
sed -i '/^[[:space:]]*wrf:/,/^[[:space:]]*endif/ { s/\.\/compile[[:space:]]\+em_real;[[:space:]]*\(\\\)\?/.\/compile -j 20 em_real; \1/ }' makefile

./coawst.bash -j 20 2>&1|tee build.log

[CLEAN]


[RUN]
run = mpirun --allow-run-as-root -n 32 -x OMP_NUM_THREADS=1 -bind-to core ./coawstM
binary = 
nodes = 1

[JOB]
