[SERVER]
11.11.11.11

[DOWNLOAD]
stream/5.10 https://github.com/jeffhammond/STREAM/archive/refs/heads/master.zip STREAM.zip

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.5.0 com
module load bisheng/2.5.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
if [ ! -d "STREAM-master" ]; then
   unzip ./downloads/STREAM.zip
fi

[ENV]
module purge
module use /hpcrunner/software/modulefiles
module load bisheng/2.5.0
export STREAM_HOME=$JARVIS_ROOT/STREAM-master
export OMP_PROC_BIND=true
export OMP_NUM_THREADS=1
echo 3 > /proc/sys/vm/drop_caches

[APP]
app_name = STREAM
build_dir = $STREAM_HOME
binary_dir = $STREAM_HOME
case_dir = $STREAM_HOME

[BUILD]
cat << \EOF > Makefile
CC = clang
CFLAGS = -O3 -fopenmp -mcpu=tsv110 -mllvm -unroll-count=2

FC = flang
FFLAGS = -O2 -fopenmp

all: stream_f.exe stream_c.exe

stream_f.exe: stream.f mysecond.o
	$(CC) $(CFLAGS) -c mysecond.c
	$(FC) $(FFLAGS) -c stream.f
	$(FC) $(FFLAGS) stream.o mysecond.o -o stream_f.exe

stream_c.exe: stream.c
	$(CC) $(CFLAGS) stream.c -o stream_c.exe

clean:
	rm -f stream_f.exe stream_c.exe *.o
EOF
# high-throughput mode
# tuned-adm profile throughput-performance
# close transparent hugepage
# echo never > /sys/kernel/mm/transparent_hugepage/enabled
# echo never > /sys/kernel/mm/transparent_hugepage/defrag
make stream_c.exe > compiler.log

[CLEAN]
make clean

[RUN]
run = 
binary = stream_c.exe 2>&1 >> stream.output.log  
nodes = 1 

[BATCH]
for core_num in 1 2 4 8 16 32 64 128
do
   echo 3 > /proc/sys/vm/drop_caches
   export OMP_NUM_THREADS=$core_num
   ./stream_c.exe >> stream.output.log
done