[SERVER]
11.11.11.11


[DOWNLOAD]
towhee/8.2.3 https://sourceforge.net/projects/towhee/files/towhee/towhee-8.2.3.tar.gz


[DEPENDENCY]
set -e
set -x
module purge

./jarvis -install hpckit/24.0.0 any
source software/utils/hpckit/24.0.0/HPCKit/latest/setvars.sh --force
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

echo "Check the source code"
if [ -d towhee-8.2.3 ]; then
	rm -rf towhee-8.2.3
fi

tar --no-same-owner -xvzf ${JARVIS_DOWNLOAD}/towhee-8.2.3.tar.gz

[ENV]
set -e
set -x
module purge
./jarvis -install hpckit/24.0.0 any
source software/utils/hpckit/24.0.0/HPCKit/latest/setvars.sh --force
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
export PATH=${JARVIS_ROOT}/towhee-8.2.3/bin:$PATH

[APP]
app_name = towhee
build_dir = ${JARVIS_ROOT}/towhee-8.2.3
binary_dir = 
case_dir = ${JARVIS_ROOT}/towhee-8.2.3/Examples

[BUILD]
set -e
set -x

./configure --prefix=${JARVIS_ROOT}/towhee-8.2.3
cd ${JARVIS_ROOT}/towhee-8.2.3/Source
make towhee
make install

cd ${JARVIS_ROOT}/towhee-8.2.3/Examples

echo "Check the Examples"
if [ -f "do_test.bak" ]; then
	mv do_test.bak do_test
fi
if [ -f "Convert/do_convert.bak" ]; then
	mv Convert/do_convert.bak Convert/do_convert
fi
cp do_test do_test.bak
cp Convert/do_convert Convert/do_convert.bak

sed -i "3c time towhee > answer_new" do_test
sed -i "3c towhee > middle" Convert/do_convert
sed -i "6c ../../do_test" Convert/do_convert

[CLEAN]
cd Source
make clean


[RUN]
run = ./run_serial_test
binary = 
nodes = 1


[PERF]
perf=
nsys=
ncu=--target-processes all
                            
