[SERVER]
11.11.11.11

[DOWNLOAD]
gptl/8.1.1 https://github.com/jmrosinski/GPTL/archive/refs/tags/v8.1.1.tar.gz GPTL-8.1.1.tar.gz

[DEPENDENCY]
set -e
set -x
yum install libunwind libunwind-devel cmake make autoconf automake libtool -y
module purge
./jarvis -install hpckit/2024.12.30 any
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
tar xf ${JARVIS_DOWNLOAD}/GPTL-8.1.1.tar.gz
mkdir -p GPTL

[ENV]
module purge
module use software/utils/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule gcc/hmpi2.4.3/hmpi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[APP]
app_name = gptl
build_dir = ${JARVIS_ROOT}/GPTL-8.1.1/
binary_dir = ${JARVIS_ROOT}/GPTL/bin/
case_dir = ${JARVIS_ROOT}/GPTL-8.1.1/tests/

[BUILD]
autoreconf -f -i
./configure --enable-debug --enable-libunwind --prefix=${JARVIS_ROOT}/GPTL
make
make install


[CLEAN]
make clean

[RUN]
run =
binary = gran_overhead
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
