[SERVER]
11.11.11.11

[DOWNLOAD]
hmmer/3.3.2 $JARVIS_PROXY/EddyRivasLab/hmmer/archive/refs/heads/h3-arm.zip hmmer-h3-arm.zip
master $JARVIS_PROXY/EddyRivasLab/easel/archive/refs/heads/master.zip master.zip

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install bisheng/4.1.0 com
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/2.4.2 clang
module use ./software/moduledeps/bisheng4.1.0
module load hmpi/2.4.2
yum install -y environment-modules csh time patch libatomic perl-Data-Dumper autoconf automake libtool numactl binutils systemd-devel valgrind flex wget
mkdir -p hmmer
unzip ${JARVIS_DOWNLOAD}/hmmer-h3-arm.zip
mv hmmer-h3-arm/ hmmer-3.3.2/
cd hmmer-3.3.2/
#wget https://github.com/EddyRivasLab/easel/archive/refs/heads/master.zip
unzip ${JARVIS_DOWNLOAD}/master.zip
mv easel-master/ easel/
cd ..

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module use ./software/moduledeps/bisheng4.1.0
module load hmpi/2.4.2

[APP]
app_name = diamond
build_dir = ${JARVIS_ROOT}/hmmer-3.3.2/
binary_dir = ${JARVIS_ROOT}/hmmer/bin/
case_dir = ${JARVIS_ROOT}/hmmer-3.3.2/tutorial/

[BUILD]
autoconf
./configure --prefix=${JARVIS_ROOT}/hmmer --enable-mpi --enable-neon CC=$MPICC CXX=$MPICXX FC=$MPIFC F77=$MPIFC
make -j
make check
make -j install
cd easel/
make install

[CLEAN]
make clean

[RUN]
run =
binary = hmmbuild globins4.hmm globins4.sto
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
