[SERVER]
11.11.11.11

[DOWNLOAD]
gromacs/2022.5 http://ftp.gromacs.org/pub/gromacs/gromacs-2022.5.tar.gz

[DEPENDENCY]
#set -e
#set -x
yum install -y cmake make
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install openblas/0.3.18 bisheng
module load openblas/0.3.18
./jarvis -install hmpi/1.1.1 bisheng
module use software/moduledeps/bisheng2.1.0
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install fftw/3.3.8 clang+mpi
module use software/moduledeps/bisheng2.1.0-hmpi1.1.1
module load fftw/3.3.8
mkdir -p gromacs
if [ ! -d gromacs-2022.5 ]; then
 rm -rf gromacs-2022.5
 tar -xvf ${JARVIS_DOWNLOAD}/gromacs-2022.5.tar.gz
fi

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
module load openblas/0.3.18
module use software/moduledeps/bisheng2.1.0
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort
module use software/moduledeps/bisheng2.1.0-hmpi1.1.1
module load fftw/3.3.8

[APP]
app_name = gromacs
build_dir = ${JARVIS_ROOT}/gromacs-2022.5/
binary_dir = 
case_dir = ${JARVIS_ROOT}/workloads/gromacs/water-cut1.0_GMX50_bare/0768/

[BUILD]
rm -rf build
mkdir -p build
cd build
openblas_path=$JARVIS_LIBS/bisheng2.1.0/openblas/0.3.18
fftw_path=$JARVIS_LIBS/bisheng2.1.0/hmpi1.1.1/fftw/3.3.8

FLAGS="-mcpu=tsv110"; CFLAGS=$FLAGS CXXFLAGS=$FLAGS LDFLAGS="-lflang -fuse-ld=lld" CC=mpicc CXX=mpicxx \
cmake \
-DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/gromacs \
-DBUILD_SHARED_LIBS=on \
-DBUILD_TESTING=on \
-DREGRESSIONTEST_DOWNLOAD=off \
-DGMX_BUILD_OWN_FFTW=off \
-DGMX_SIMD=ARM_NEON_ASIMD \
-DGMX_DOUBLE=off \
-DGMX_EXTERNAL_BLAS=on \
-DGMX_EXTERNAL_LAPACK=on \
-DGMX_FFT_LIBRARY=fftw3 \
-DGMX_BLAS_USER=$openblas_path/lib/libopenblas.a \
-DGMX_LAPACK_USER=$openblas_path/lib/libopenblas.a \
-DFFTWF_LIBRARY=$fftw_path/lib/libfftw3f.so \
-DFFTWF_INCLUDE_DIR=$fftw_path/include \
-DGMX_GPU=off \
-DGMX_MPI=on \
-DGMX_OPENMP=on \
-DGMX_X11=off \
../

make -j
make install

[CLEAN]
./clean_build

[RUN]
run =
binary =
nodes = 1

