[SERVER]
11.11.11.11

[DOWNLOAD]
gromacs/2022.3 http://ftp.gromacs.org/pub/gromacs/gromacs-2022.5.tar.gz

[DEPENDENCY]
#set -e
#set -x
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.5.0 com
module load bisheng/2.5.0
./jarvis -install openblas/0.3.18 clang
./jarvis -install hmpi/1.2.0 clang
module load hmpi/1.2.0
export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install fftw/3.3.8 clang+mpi
if [ ! -d gromacs-2022.5 ]; then
 tar -xvf ${JARVIS_DOWNLOAD}/gromacs-2022.5.tar.gz
fi

[ENV]
module purge
module use ./software/modulefiles
module use ./software/moduledeps
module load bisheng/2.5.0
module load hmpi/1.2.0
module load fftw/3.3.8
module load openblas/0.3.18
export CC=mpicc CXX=mpicxx FC=mpifort
export GMX_FORCE_UPDATE_DEFAULT_GPU=true
export GMX_GPU_PME_PP_COMMS=true
export GMX_GPU_DD_COMMS=true
export PATH=/usr/local/cuda/bin:$PATH

[APP]
app_name = gromacs
build_dir = $JARVIS_ROOT/gromacs-2022.5
binary_dir = 
case_dir = $JARVIS_ROOT/workloads/gromacs/water-cut1.0_GMX50_bare/0768/

[BUILD]
sed -i '204s/return fftw_version;/return 0;/g' src/gromacs/utility/binaryinformation.cpp
sed -i '206s/return fftwf_version;/return 0;/g' src/gromacs/utility/binaryinformation.cpp
sed -i '505s/int fftwflags = FFTW_DESTROY_INPUT;/int fftwflags = 0;/g' src/gromacs/fft/fft5d.cpp
rm -rf build
mkdir -p build
cd build
FLAGS="-mcpu=tsv110 -O3 -lgfortran"; CFLAGS=$FLAGS CXXFLAGS="-mcpu=tsv110 -O3 -lgfortran" CC=mpicc CXX=mpicxx FC=mpifort cmake -DCMAKE_INSTALL_PREFIX=$JARVIS_ROOT/gromacs-kml -DBUILD_SHARED_LIBS=on -DBUILD_TESTING=on -DREGRESSIONTEST_DOWNLOAD=off -DGMX_BUILD_OWN_FFTW=off -DGMX_SIMD=ARM_NEON_ASIMD -DGMX_DOUBLE=off -DGMX_EXTERNAL_BLAS=on -DGMX_EXTERNAL_LAPACK=on -DGMX_FFT_LIBRARY=fftw3 -DGMX_BLAS_USER=${OPEBLAS_PATH}/lib/libopenblas.a -DGMX_LAPACK_USER=${OPEBLAS_PATH}/lib/libopenblas.a -DFFTWF_LIBRARY=$FFTW_PATH/lib/libfftw3f.so -DFFTWF_INCLUDE_DIR=$FFTW_PATH/include -DGMX_GPU=CUDA -DGMX_MPI=off -DGMX_OPENMP=on -DGMX_X11=off -DCUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda ../

make -j40 V=1
make install

#-DGMX_BLAS_USER=$openblas_path/lib/libopenblas.a #-DGMX_LAPACK_USER=$openblas_path/lib/libopenblas.a 
#-DGMX_BLAS_USER=${KML_GCC_PATH}/lib/kblas/omp/libkblas.so -DGMX_LAPACK_USER=${KML_GCC_PATH}/lib/libklapack_full.so -DFFTWF_LIBRARY=$KFFT_PATH/lib/libfftw3f.so -DFFTWF_INCLUDE_DIR=$KFFT_PATH/include

[CLEAN]
./clean_build

[RUN]
run = chmod +x run.sh && dsub -s run.sh
# binary = gmx grompp -f pme.mdp
binary = gmx mdrun -dlb yes -pin on -pinoffset 0 -pinstride 1  -ntmpi 1  -ntomp 48 -v -nsteps 100000  -resetstep 80000 -noconfout -nb gpu -bonded cpu -pme gpu -nstlist 400 -s ./topol.tpr
binary =
nodes = 1
