[SERVER]
11.11.11.11

[DOWNLOAD]
gromacs/2022.5 http://ftp.gromacs.org/pub/gromacs/gromacs-2022.5.tar.gz

[DEPENDENCY]
module purge
./jarvis -install bisheng/3.2.0-mini com
module use ./software/modulefiles
module load bisheng/3.2.0-mini
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/2.3.0 clang
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
./jarvis -install kml/2.2.0/bisheng bisheng
module load kml-bisheng/2.2.0

[ENV]
module purge
module use ./software/modulefiles
module purge
module load bisheng/3.2.0-mini
module use ./software/moduledeps/bisheng3.2.0
module load kml-bisheng/2.2.0
module load hmpi/2.3.0
export CC=mpicc CXX=mpicxx FC=mpifort
export PMIX_INSTALL_PREFIX=${OPAL_PREFIX}
cd /hpcrunner
CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/gromacs-2022.5-kml/bin:$PATH

[APP]
app_name = gromacs
build_dir = $JARVIS_TMP/gromacs-2022.5
binary_dir = $JARVIS_ROOT/gromacs-2022.5-kml/bin 
case_dir =

[BUILD]
cd ${JARVIS_TMP}
rm -rf gromacs-2022.5
tar -xf ${JARVIS_DOWNLOAD}/gromacs-2022.5.tar.gz
cd gromacs-2022.5

sed -i '204s/return fftw_version;/return 0;/g' src/gromacs/utility/binaryinformation.cpp
sed -i '206s/return fftwf_version;/return 0;/g' src/gromacs/utility/binaryinformation.cpp
sed -i '505s/int fftwflags = FFTW_DESTROY_INPUT;/int fftwflags = 0;/g' src/gromacs/fft/fft5d.cpp
rm -rf build
mkdir -p build
cd build
FLAGS="-mcpu=tsv110 -O3 -lgfortran"; CFLAGS=$FLAGS CXXFLAGS="-mcpu=tsv110 -O3 -lgfortran" CC=mpicc CXX=mpicxx FC=mpifort cmake -DCMAKE_INSTALL_PREFIX=$JARVIS_ROOT/gromacs-2022.5-kml -DBUILD_SHARED_LIBS=on -DBUILD_TESTING=on -DREGRESSIONTEST_DOWNLOAD=off -DGMX_BUILD_OWN_FFTW=off -DGMX_SIMD=ARM_NEON_ASIMD -DGMX_DOUBLE=off -DGMX_EXTERNAL_BLAS=on -DGMX_EXTERNAL_LAPACK=on -DGMX_FFT_LIBRARY=fftw3 -DGMX_BLAS_USER=${KML_BISHENG_PATH}/lib/kblas/omp/libkblas.so -DGMX_LAPACK_USER=${KML_BISHENG_PATH}/lib/libklapack_full.so -DFFTWF_LIBRARY=${KML_BISHENG_PATH}/lib/libkfftf.so -DFFTWF_INCLUDE_DIR=${KML_BISHENG_PATH}/include -DGMX_GPU=off -DGMX_MPI=on -DGMX_OPENMP=on -DGMX_X11=off ../

make -j40 V=1
make install

[CLEAN]
./clean_build

[RUN]
run =
binary =
nodes = 1

