[SERVER]
11.11.11.11

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install kgcc/9.3.1 com
module load kgcc9/9.3.1
./jarvis -install hmpi/1.2.1 gcc
module load hmpi1/1.2.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1 gcc+mpi
./jarvis -install pnetcdf/1.11.2 gcc+mpi
./jarvis -install netcdf/4.7.0 gcc+mpi
./jarvis -install kml/1.7.0/gcc gcc

#tar -zxvf $JARVIS_DOWNLOAD/lib_HCC.tar.gz
#tar -zxvf $JARVIS_DOWNLOAD/global_fcst.fd.tar.gz
tar -xvf $JARVIS_DOWNLOAD/CRA.2024121218_gdas_fcst.tar

[ENV]
module purge
module use ./software/modulefiles
module load kgcc9/9.3.1
module load hmpi1/1.2.1
module load netcdf/4.7.0
module load kml-gcc/1.7.0
export NETCDF_DIR=$JARVIS_ROOT/software/libs/kgcc9/hmpi1/netcdf/4.7.0
export KML_DIR=$JARVIS_ROOT/software/libs/kgcc9/kml-gcc/1.7.0
export TOP=$JARVIS_ROOT/global_fcst.fd/NEMS/src
export LIBDIR=$JARVIS_ROOT/lib_KUNPENG920
export LD_LIBRARY_PATH=$JARVIS_ROOT/lib_KUNPENG920/esmf-ESMF_7_0_1/lib/libO/Linux.gfortran.32.openmpi.default:$KML_DIR/lib/kblas/nolocking:$LD_LIBRARY_PATH

[APP]
app_name = gfs
build_dir = $JARVIS_ROOT/global_fcst.fd
binary_dir = $JARVIS_ROOT/global_fcst.fd/NEMS/exe
case_dir = $JARVIS_ROOT/CRA.2024121218_gdas_fcst

[BUILD]
sh build.sh 2>&1 | tee build.log

[CLEAN]

[RUN]
run = mpirun --allow-run-as-root -np 80 --map-by socket --rank-by core -x LD_LIBRARY_PATH -x PATH -x OMP_NUM_THREADS=1
binary = NEMS.x
nodes = 1
