[SERVER]
11.11.11.11

[DOWNLOAD]
eccodes/2.18.0 http://confluence.ecmwf.int/download/attachments/45757960/Eccodes-2.18.0-Source.tar.gz eccodes-2.18.0-Source.tar.gz

[DEPENDENCY]
set -e
set -x

./jarvis -install hpckit/${HPCKIT_VERSION} any
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng

export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install hdf5/1.10.1/clang clang+mpi
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load hdf5-clang/1.10.1
./jarvis -install pnetcdf/1.11.2 bisheng+mpi
module load pnetcdf/1.11.2
./jarvis -install netcdf/4.7.0/clang clang+mpi
module load netcdf-clang/4.7.0

rm -rf ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/eccodes-2.18.0-Source
mkdir -p ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
tar -xvf ${JARVIS_DOWNLOAD}/eccodes-2.18.0-Source.tar.gz -C ${JARVIS_ROOT}/tmp

[ENV]
module purge
source ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/setvars.sh  --force --use-bisheng
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
module use ${JARVIS_ROOT}/software/moduledeps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}
module load hdf5-clang/1.10.1 netcdf-clang/4.7.0 pnetcdf/1.11.2
export PATH=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/eccodes-2.18.0/bin:$PATH

[APP]
app_name = grib_info
build_dir = ${JARVIS_ROOT}/tmp/eccodes-2.18.0-Source
binary_dir = ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/eccodes-2.18.0/bin
case_dir = 

[BUILD]
mkdir -p build
cd build
cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/eccodes-2.18.0
make
make install

[RUN]
run = 
binary = codes_info
nodes = 1
