[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module purge
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release

[ENV]
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module purge
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release

[APP]
app_name = udunits
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_ROOT}/software/libs/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/udunits/2.2.28/bin
case_dir =

[BUILD]
./jarvis -install udunits/2.2.28 clang+mpi

[RUN]
run =
binary = udunits2 -h
nodes = 1

