[SERVER]
11.11.11.11

[DEPENDENCY]
module purge
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1

[ENV]
module use ./software/modulefiles
module purge
module load bisheng2/2.1.0
module load hmpi1/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = udunits
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir =

[BUILD]
./jarvis -install udunits/2.2.28 clang+mpi

[RUN]
run =
binary =
node = 1

