[SERVER]
11.11.11.11

[DOWNLOAD]
udunits/2.2.28 https://artifacts.unidata.ucar.edu/repository/downloads-udunits/2.2.28/udunits-2.2.28.tar.gz
hucx/1.1.1 https://github.com/kunpengcompute/hucx/archive/refs/tags/v1.1.1-huawei.tar.gz hucx-1.1.1-huawei.tar.gz
xucg/1.1.1 https://github.com/kunpengcompute/xucg/archive/refs/tags/v1.1.1-huawei.tar.gz xucg-1.1.1-huawei.tar.gz
hmpi/1.1.1 https://github.com/kunpengcompute/hmpi/archive/refs/tags/v1.1.1-huawei.tar.gz hmpi-1.1.1-huawei.tar.gz
bisheng/2.1.0 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_compiler/bisheng-compiler-2.1.0-aarch64-linux.tar.gz

[DEPENDENCY]
module purge
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1

[ENV]
module use ./software/modulefiles
module purge
module load bisheng2/2.1.0
module load hmpi1/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = udunits
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir =

[BUILD]
./jarvis -install udunits/2.2.28 clang+mpi

[RUN]
run =
binary =
node = 1

