[SERVER]
11.11.11.11

[DOWNLOAD]
dl_poly/1.1 https://gitlab.com/DL_POLY_Classic/dl_poly/-/archive/RELEASE-1-10/dl_poly-RELEASE-1-10.tar.gz dl_poly-RELEASE-1-10.tar.gz
TEST41 https://gitlab.com/DL_POLY_Classic/tests/-/raw/master/TEST41.tar.gz TEST41.tar.gz

[DEPENDENCY]
set -e
set -x

module purge
./jarvis -install bisheng/4.1.0 com
module use ./software/modulefiles
module load bisheng/4.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/2.4.2 clang
module use ./software/moduledeps/bisheng4.1.0
module load hmpi/2.4.2
tar -vzxf ${JARVIS_DOWNLOAD}/dl_poly-RELEASE-1-10.tar.gz
tar -vzxf ${JARVIS_DOWNLOAD}/TEST41.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module use ./software/moduledeps/bisheng4.1.0
module load hmpi/2.4.2
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[APP]
app_name = diamond
build_dir = ${JARVIS_ROOT}/dl_poly-RELEASE-1-10/source/
binary_dir = ${JARVIS_ROOT}/dl_poly-RELEASE-1-10/execute
case_dir = ${JARVIS_ROOT}/TEST41/NHC/

[BUILD]
cp ../build/MakePAR ./Makefile
sed -i '65c\        FC=mpif90 FFLAGS="-c -O3 -march=armv8.2-a -mtune=tsv110" \\' Makefile
make dlpoly

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -np 8 -mca btl ^openib
binary = DLPOLY.X
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all
