[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
./jarvis -install hpckit/${HPCKIT_VERSION} any
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule

[APP]
app_name = zlib
build_dir = ${JARVIS_ROOT}
binary_dir =
case_dir = ${JARVIS_TMP}/zlib-1.2.11

[BUILD]
./jarvis -install zlib/1.2.11 clang

[RUN]
run = make check
binary =
nodes = 1

