[SERVER]
11.11.11.11

[DOWNLOAD]
zlib/1.2.11 https://nchc.dl.sourceforge.net/project/libpng/zlib/1.2.11/zlib-1.2.11.tar.gz
bisheng/2.1.0 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_compiler/bisheng-compiler-2.1.0-aarch64-linux.tar.gz


[DEPENDENCY]
./jarvis -install bisheng/2.1.0 com

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module add bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = zlib
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
./jarvis -install zlib/1.2.11 clang

[RUN]
run = 
binary = 
node = 1
