[SERVER]
11.11.11.11

[DEPENDENCY]
./jarvis -install bisheng/2.1.0 com

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module add bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = zlib
build_dir = ${JARVIS_ROOT}
binary_dir = 
case_dir = 

[BUILD]
./jarvis -install zlib/1.2.11 clang

[RUN]
run = 
binary = 
nodes = 1
