[SERVER]
11.11.11.11

[DOWNLOAD]
cactus/2.9.2 https://github.com/ComparativeGenomicsToolkit/cactus/releases/download/v2.9.2/cactus-v2.9.2.tar.gz
case1 https://raw.githubusercontent.com/ComparativeGenomicsToolkit/cactusTestData/master/T2T_primate_PAR/mPanTro3_XY_1_5000000.fa
case2 https://raw.githubusercontent.com/ComparativeGenomicsToolkit/cactusTestData/master/T2T_primate_PAR/mPanPan1_XY_1_5000000.fa

[DEPENDENCY]
set -e
module purge
module use $JARVIS_MODULES/modules
./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule

./jarvis -install anaconda3/2024.10 any
module load anaconda3/2024.10

./jarvis -install hdf5/1.10.1/cplus bisheng
module load hdf5-cplus/1.10.1-%#MYKBSVER#%

echo "done"

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load anaconda3/2024.10
module load hdf5-cplus/1.10.1-%#MYKBSVER#%

[APP]
fake = 1
app_name = cactus
app_version = 2.9.2
compiler = bisheng
build_dir = ${JARVIS_APP}/cactus/2.9.2-%#MYKBSVER#%/project
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/cactus/2.9.2

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build start
set +x && echo_info "build start" && set -x

set +x
source $CONDA_SH
set -x

CACTUS_ENV=${BUILD_DIR}/conda_env/
conda create  --prefix=${CACTUS_ENV} python=3.8 -y
conda activate ${CACTUS_ENV}

if [ -d "cactus-v2.9.2" ]; then
rm -rf cactus-v2.9.2
fi
tar --no-same-owner -zxvf ${JARVIS_DOWNLOAD}/cactus-v2.9.2.tar.gz
cd cactus-v2.9.2

pip install -U setuptools pip wheel \
--trusted-host mirrors.huaweicloud.com \
-i https://mirrors.huaweicloud.com/repository/pypi/simple

pip install -U . \
--trusted-host mirrors.huaweicloud.com \
-i https://mirrors.huaweicloud.com/repository/pypi/simple

pip install -U -r ./toil-requirement.txt \
--trusted-host mirrors.huaweicloud.com \
-i https://mirrors.huaweicloud.com/repository/pypi/simple

CFLAGS=-Wno-implicit-function-declaration make

####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/cactus/2.9.2
mkdir -p ${JOBDIR}
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
echo "source \$CONDA_SH" >> ${JOBDIR}/env.sh

cat > ${JOBDIR}/cactus-2.9.2-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}

source env.sh
conda activate ${CACTUS_ENV}

if [ -d "test" ]; then
rm -rf test
fi
mkdir test
cd test
cp ${JARVIS_DOWNLOAD}/mPanTro3_XY_1_5000000.fa .
cp ${JARVIS_DOWNLOAD}/mPanPan1_XY_1_5000000.fa .
cp ${BUILD_DIR}/cactus-v2.9.2/examples/par1_cb.txt .

sed -i "3c\Pan_troglodytes mPanTro3_XY_1_5000000.fa" par1_cb.txt
sed -i "4c\Pan_paniscus mPanPan1_XY_1_5000000.fa" par1_cb.txt

export PATH=${BUILD_DIR}/cactus-v2.9.2/bin:$PATH

mkdir tmp
cactus ./output par1_cb.txt ./outputhal --binariesMode local --workDir ./tmp
EOF

chmod u+x ${JOBDIR}/cactus-2.9.2-run.sh

set +x && echo_info "Install done!!!" && set -x

[RUN]
