[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
yum install -y cmake
module purge
./jarvis -install hpckit/2025.3.30 any
module use software/utils/hpckit/2025.3.30/HPCKit/25.0.0/modulefiles
module load gcc/compiler12.3.1/gccmodule gcc/hmpi25.0.0/hmpi gcc/kml25.0.0/kblas/multi gcc/kml25.0.0/kml
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
rm -rf HONPAS
git clone https://github.com/xmqin/HONPAS.git

[ENV]
module purge
module use software/utils/hpckit/2025.3.30/HPCKit/25.0.0/modulefiles
module load gcc/compiler12.3.1/gccmodule gcc/hmpi25.0.0/hmpi gcc/kml25.0.0/kblas/multi gcc/kml25.0.0/kml
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

[APP]
app_name = HONPAS
build_dir = ${JARVIS_ROOT}/HONPAS/Obj/
binary_dir =
case_dir = ${JARVIS_ROOT}/HONPAS/HONPAS_Examples/Tests/Sibulk/64

[BUILD]

sh ../Src/obj_setup.sh
cp ../libint-1.1.5.tar.gz .
tar -xvzf libint-1.1.5.tar.gz
mkdir libint_install
cd libint-1.1.5
./configure --prefix="$PWD/../libint_install"  CC=gcc CXX=g++ F77=gfortran
make -j8
make install
cd ..
rm -rf arch.make
ln -s ../ARCH-HONPAS/honpas-gnu-openmpi.make arch.make
sed -i '18s/.*/SIESTA_ARCH = aarch64/' arch.make
sed -i '27s/.*/FFLAGS = -O2 -fPIC  -ftree-vectorize -fallow-argument-mismatch/' arch.make
sed -i "42s|.*|BLAS_LIBS = -L${JARVIS_ROOT}/software/utils/hpckit/2025.3.30/HPCKit/25.0.0/kml/gcc/lib/${kp}/kblas/multi -lkblas|" arch.make
sed -i "43s|.*|LAPACK_LIBS = -L${JARVIS_ROOT}/software/utils/hpckit/2025.3.30/HPCKit/25.0.0/kml/gcc/lib/${kp} -lklapack_full|" arch.make
sed -i "44s|.*|SCALAPACK_LIBS= -L${JARVIS_ROOT}/software/utils/hpckit/2025.3.30/HPCKit/25.0.0/kml/gcc/lib/${kp} -lkscalapack_full|" arch.make
make -j8

[CLEAN]
make clean

[RUN]
run = mpirun -allow-run-as-root -n 32 ${JARVIS_ROOT}/HONPAS/Obj/honpas <Sibulk.fdf> Sibulk_new.out
binary =
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all

