[SERVER]
11.11.11.11

[DOWNLOAD]
randfold/2016 https://gitee.com/kp-hpc-mod/hpc-src/raw/master/randfold-2016.tar.gz

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install kgcc/9.3.1 com
module load kgcc/9.3.1



[ENV]
module use ./software/modulefiles
module purge
module load kgcc/9.3.1

[APP]
app_name = randfold
build_dir = $JARVIS_ROOT
binary_dir = 
case_dir = 



[BUILD]
set -x
set -e

module use ./software/modulefiles
module purge
module load kgcc/9.3.1

cd ${JARVIS_TMP}
rm -rf randfold
tar -zxvf $JARVIS_DOWNLOAD/randfold-2016.tar.gz
cd ${JARVIS_TMP}/randfold/src/squid-1.9g
./configure && make
cd ${JARVIS_TMP}/randfold/src
make



[CLEAN]
./clean_build

[RUN]
run =
binary =
nodes = 1
