[SERVER]
11.11.11.11

[DOWNLOAD]
palabos/2.1 https://gitlab.com/unigespc/palabos/-/archive/v2.1r0/palabos-v2.1r0.zip palabos-v2.1r0.zip


[DEPENDENCY]
module purge
./jarvis -install bisheng/3.2.0-mini com
module use ./software/modulefiles
module load bisheng/3.2.0-mini
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/2.3.0 clang
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
./jarvis -install cmake/3.23.1 clang
module load cmake/3.23.1

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/3.2.0-mini
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
export CC=clang CXX=clang++ FC=flang
export PMIX_INSTALL_PREFIX=${OPAL_PREFIX}
cd /hpcrunner
CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_TMP}/palabos-v2.1r0/examples/showCases/cavity2d:$PATH
export PATH=${JARVIS_TMP}/palabos-v2.1r0/examples/showCases/boussinesqThermal3d:$PATH

[APP]
app_name = palabos
build_dir = ${JARVIS_ROOT}
binary_dir = ${JARVIS_TMP}/palabos-v2.1r0/
case_dir =

[BUILD]
cd ${JARVIS_TMP}
unzip ${JARVIS_DOWNLOAD}/palabos-v2.1r0.zip
cd palabos-v2.1r0
cd examples/showCases/cavity2d
make -j
cd ${JARVIS_TMP}/palabos-v2.1r0/examples/showCases/boussinesqThermal3d
make -j

[RUN]
run =  
binary =
nodes = 1
