[SERVER]
11.11.11.11

[DOWNLOAD]
palabos/2.1 https://gitlab.com/unigespc/palabos/-/archive/v2.1r0/palabos-v2.1r0.zip palabos-v2.1r0.zip


[DEPENDENCY]
./jarvis -install package/hpckit/24.0.0/ any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi

export CC=clang CXX=clang++ FC=flang
./jarvis -install cmake/3.23.1 clang
module use software/moduledeps/bisheng4.1.0
module load cmake/3.23.1
yum install ImageMagick -y

./jarvis -install package/python3/3.6.8 clang 
module add python3/3.6.8

[ENV]
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi
module use software/moduledeps/bisheng4.1.0
module load cmake/3.23.1
module add python3/3.6.8
export CC=clang CXX=clang++ FC=flang

export PATH=${JARVIS_LIBS}/bisheng4.1.0/palabos-v2.1r0/examples/showCases/cavity2d:$PATH
export PATH=${JARVIS_LIBS}/bisheng4.1.0/palabos-v2.1r0/examples/showCases/boussinesqThermal3d:$PATH
export PATH=${JARVIS_LIBS}/bisheng4.1.0/palabos-v2.1r0/examples/benchmarks/cavity3d:$PATH

[APP]
app_name = palabos
build_dir = ${JARVIS_LIBS}/bisheng4.1.0
binary_dir = ${JARVIS_LIBS}/bisheng4.1.0/palabos-v2.1r0
case_dir = ${JARVIS_LIBS}/bisheng4.1.0/palabos-v2.1r0/examples/showCases

[BUILD]
rm palabos-v2.1r0 -rf
unzip ${JARVIS_DOWNLOAD}/palabos-v2.1r0.zip
cd palabos-v2.1r0
cd examples/showCases/cavity2d
make -j 2>&1 |tee make.log
cd ${JARVIS_LIBS}/bisheng4.1.0/palabos-v2.1r0/examples/showCases/boussinesqThermal3d
make -j 2>&1 |tee make.log
cd ${JARVIS_LIBS}/bisheng4.1.0/palabos-v2.1r0/examples/benchmarks/cavity3d
sed -n "s|sed::max( (plint)3|std:max( (plint)1000|p" ./cavity3d.cpp
sed -i "s|sed::max( (plint)3|std:max( (plint)1000|" ./cavity3d.cpp
make -j128 2>&1 |tee make128.log
make -j1 2>&1 |tee make1.log


[RUN]
run =  
binary =
nodes = 1


[BATCH]

LOG_FILE="palabos-proformance.log"

>"$LOG_FILE"

#$RUN_TOOL "palabos cavity2d" "time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 cavity2d "
#$RUN_TOOL "palabos rayleighBenard3D" "time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 rayleighBenard3D  1"
#$RUN_TOOL "palabos cavity3d" "time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 cavity3d  600"
#( time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 cavity2d ) 2>&1 |tee $LOG_FILE
#( time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 rayleighBenard3D  1 ) 2>&1 |tee $LOG_FILE
( time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 cavity3d 600 ) 2>&1 |tee $LOG_FILE
echo "ALL commands executed. Performance log saved to $LOG_FILE"


[JOB]
#!/bin/sh
#DSUB -n palabos_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo palabos.%J.out
#DSUB -oe palabos.%J.err

LOG_FILE="palabos-proformance.log"

>"$LOG_FILE"

#$RUN_TOOL "palabos cavity2d" "time -p mpirun --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 -x $PATH -x $LD_LIBRARY_PATH  cavity2d "
#$RUN_TOOL "palabos rayleighBenard3D" "time -p mpirun --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 -x $PATH -x $LD_LIBRARY_PATH  rayleighBenard3D  1"
#$RUN_TOOL "palabos cavity3d" "time -p mpirun  --allow-run-as-root -np 128 -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -x $PATH -x $LD_LIBRARY_PATH  cavity3d  600"

#( time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 -x $PATH -x $LD_LIBRARY_PATH  cavity2d ) 2>&1 |tee $LOG_FILE
#( time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 -x $PATH -x $LD_LIBRARY_PATH rayleighBenard3D  1 ) 2>&1 |tee $LOG_FILE
( time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 -x $PATH -x $LD_LIBRARY_PATH  cavity3d 600 ) 2>&1 |tee $LOG_FILE
echo "ALL commands executed. Performance log saved to $LOG_FILE"
