[SERVER]
11.11.11.11

[DOWNLOAD]
openlb/1.4 https://www.openlb.net/wp-content/uploads/2020/11/olb-1.4r0.tgz

[DEPENDENCY]
set -e
set -x
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1
rm -rf ${JARVIS_TMP}/olb-1.4r0
tar -xvf ${JARVIS_DOWNLOAD}/olb-1.4r0.tgz -C ${JARVIS_TMP}

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load bisheng/2.1.0
module load hmpi/1.1.1
export CC=`which mpicc`
export CXX=`which mpicxx`

[APP]
app_name = openlb
build_dir = ${JARVIS_TMP}/openlb-1.4
binary_dir =
case_dir = ${JARVIS_TMP}/openlb-1.4/examples

[BUILD]
cd ${JARVIS_TMP}/olb-1.4r0
patch -p0 config.mk ${JARVIS_ROOT}/tunning/openlb/hmpi-bisheng-default-hybrid.patch
make samples -j

[CLEAN]
make clean

[RUN]
run = 
binary =
nodes = 1