[SERVER]
11.11.11.11

[DOWNLOAD]
openlb/1.4 https://www.openlb.net/wp-content/uploads/2020/11/olb-1.4r0.tgz

[DEPENDENCY]
set -e
set -x
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0 com
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort
./jarvis -install openblas/0.3.18 bisheng
./jarvis -install kml/1.6.0/bisheng bisheng
./jarvis -install IPM/2.0.6 bisheng
rm -rf ${JARVIS_TMP}/olb-1.4r0
tar -xvf ${JARVIS_DOWNLOAD}/olb-1.4r0.tgz -C ${JARVIS_TMP}

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load bisheng/2.1.0
module load hmpi/1.1.1
module load openblas/0.3.18
module load kml1/1.6.0
export CC=`which mpicc`
export CXX=`which mpicxx` 

[APP]
app_name = openlb
build_dir = ${JARVIS_TMP}/openlb-1.4
binary_dir = 
case_dir = ${JARVIS_TMP}/openlb-1.4/examples

[BUILD]
cd ${JARVIS_TMP}/olb-1.4r0
patch -p0 global.mk ${JARVIS_ROOT}/tunning/openlb/global-openblas.patch
patch -p0 config.mk ${JARVIS_ROOT}/tunning/openlb/hmpi-bisheng-opt-hybrid.patch
sed -i 's/MTUNE_PARAM/tsv110/g' config.mk
sed -i 's/MARCH_PARAM/armv8-a+crc/g' config.mk
sed -i "s/BISHENG_INCLUDE/${JARVIS_COMPILER}\/bisheng\/include/g" config.mk
sed -i "s/KML_INCLUDE/\/usr\/local\/kml\/include/g" config.mk
sed -i "s/OPENBLAS_INCLUDE/${JARVIS_LIBS}\/bisheng2\/openblas\/include/g" config.mk
sed -i "s/OPENBLAS_LIB/${JARVIS_LIBS}\/bisheng2\/openblas\/lib/g" config.mk
sed -i "s/KML_LIB/\/usr\/local\/kml\/lib/g" config.mk
sed -i "s/BISHENG_LIB/${JARVIS_COMPILER}\/bisheng\/lib/g" config.mk
sed -i "s/IPM_LIB/${JARVIS_LIBS}\/bisheng2\/IPM\/lib/g" config.mk
make samples -j

[CLEAN]
make clean

[RUN]
run = 
binary =
nodes = 1