[SERVER]
11.11.11.11

[DOWNLOAD]
openlb/1.4 https://www.openlb.net/wp-content/uploads/2020/11/olb-1.4r0.tgz

[DEPENDENCY]
set -e
set -x
sudo yum install gnuplot -y
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/modulefiles
module load hpckit${HPCKIT_VERSION}/bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load hpckit${HPCKIT_VERSION}/bisheng/hmpi${HMPI_VERSION}/release
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
rm -rf ${JARVIS_TMP}/olb-1.4r0
tar -xvf ${JARVIS_DOWNLOAD}/olb-1.4r0.tgz -C ${JARVIS_TMP}

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HMPI_VERSION}/release
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[APP]
app_name = openlb
build_dir = ${JARVIS_TMP}
binary_dir =
case_dir = ${JARVIS_TMP}/olb-1.4r0/examples/laminar/cylinder2d

[BUILD]
cd ${JARVIS_TMP}/olb-1.4r0
patch -p0 config.mk ${JARVIS_ROOT}/tunning/openlb/hmpi-bisheng-default-hybrid.patch
make samples -j
mkdir -p ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/openlb/1.4
cp -r ${JARVIS_TMP}/olb-1.4r0/* ${JARVIS_ROOT}/software/apps/bisheng${BISHENG_VERSION}-hmpi${HMPI_VERSION}/openlb/1.4

[CLEAN]
make clean

[RUN]
run = make && ./cylinder2d
binary =
nodes = 1
