[SERVER]
11.11.11.11

[ENV]
source /home/kpgcc-ompi.env
export LIBRARY_PATH=/home/cp2k/EXTRA/gsl/lib:$LIBRARY_PATH
export LD_LIBRARY_PATH=/home/cp2k/EXTRA/gsl/lib:$LD_LIBRARY_PATH
export CPATH=/usr/local/cuda/include:$CPATH

[APP]
app_name = CP2K
build_dir = /home/cp2k/CP2K/cp2k-8.2/
binary_dir = /home/cp2k/CP2K/cp2k-8.2/exe/local-cpu/
case_dir = /home/cp2k/CP2K/cp2k-8.2/benchmarks/QS/

[BUILD]
make -j 128 ARCH=local-cpu VERSION=psmp

[CLEAN]
make -j 128 ARCH=local-cpu VERSION=psmp clean

[RUN]
run = numactl -C 0-63  mpirun --allow-run-as-root -np 64 -map-by ppr:64:node:pe=1 -bind-to core -x OMP_NUM_THREADS=1 
binary = cp2k.psmp H2O-256.inp
nodes = 1

[BATCH]
#!/bin/bash

logfile=cp2k.H2O-256.inp.log

nvidia-smi -pm 1
nvidia-smi -ac 1215,1410

echo 3 > /proc/sys/vm/drop_caches
echo "===run 32C*GPU===" >> $logfile
mpirun -np 32 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1

echo 3 > /proc/sys/vm/drop_caches
echo "===run 32C*2GPU===" >> $logfile
mpirun -np 32 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0,1 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1


echo 3 > /proc/sys/vm/drop_caches
echo "===run 64C*GPU===" >> $logfile
mpirun -np 64 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1

echo 3 > /proc/sys/vm/drop_caches
echo "===run 64C*2GPU===" >> $logfile
mpirun -np 32 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0,1 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1


echo 3 > /proc/sys/vm/drop_caches
echo "===run 128C*GPU===" >> $logfile
mpirun -np 128 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1

echo 3 > /proc/sys/vm/drop_caches
echo "===run 128C*2GPU===" >> $logfile
mpirun -np 128 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0,1 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1







