[SERVER]
11.11.11.11

[ENV]
export LD_LIBRARY_PATH=/opt/cp2k/cp2k-8.2.0/tools/toolchain/install/SpFFT-0.9.13/lib/:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/usr/local/gcc/lib64/:$LD_LIBRARY_PATH
export CPATH=/opt/software/cp2k-8.2.0/tools/toolchain/install/libxsmm-1.16.2/include:$CPATH
source /opt/intel/oneapi/setvars.sh

[APP]
app_name = CP2K
build_dir = /opt/software/cp2k-8.2.0/
binary_dir = /opt/software/cp2k-8.2.0/exe/Linux-x86-64-intel/
#case_dir = /opt/software/cp2k-8.2.0/benchmarks/QS/
case_dir = /opt/software/cp2k-8.2.0/benchmarks/QS_DM_LS/

[BUILD]
make -j 48 ARCH=local-cpu VERSION=psmp

[CLEAN]
make -j 48 ARCH=local-cpu VERSION=psmp clean

[RUN]
run = mpirun -genv CUDA_VISIBLE_DEVICES=0,1 -np 48 -x OMP_NUM_THREADS=1
binary = cp2k.psmp H2O-dft-ls.NREP2.inp
nodes = 1

[BATCH]
#!/bin/bash

logfile=cp2k.H2O-256.inp.log

nvidia-smi -pm 1
nvidia-smi -ac 1215,1410

echo 3 > /proc/sys/vm/drop_caches
echo "===run 32C*GPU===" >> $logfile
mpirun -np 32 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1

echo 3 > /proc/sys/vm/drop_caches
echo "===run 32C*2GPU===" >> $logfile
mpirun -np 32 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0,1 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1


echo 3 > /proc/sys/vm/drop_caches
echo "===run 64C*GPU===" >> $logfile
mpirun -np 64 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1

echo 3 > /proc/sys/vm/drop_caches
echo "===run 64C*2GPU===" >> $logfile
mpirun -np 32 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0,1 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1


echo 3 > /proc/sys/vm/drop_caches
echo "===run 128C*GPU===" >> $logfile
mpirun -np 128 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1

echo 3 > /proc/sys/vm/drop_caches
echo "===run 128C*2GPU===" >> $logfile
mpirun -np 128 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0,1 exe/local-cuda/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1







