[SERVER]
11.11.11.11

[DOWNLOAD]
cp2k/8.2 https://github.com/cp2k/cp2k/archive/refs/tags/v8.2.0.tar.gz cp2k-8.2.tar.gz
dbcsr/2.0.1 https://github.com/cp2k/dbcsr/releases/download/v2.0.1/dbcsr-2.0.1.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang

./jarvis -install hmpi/1.1.1 clang
./jarvis -install gmp/6.2.0 clang
./jarvis -install boost/1.72.0 clang
./jarvis -install openblas/0.3.18 clang
./jarvis -install spglib/1.16.0 clang
./jarvis -install libxc/4.3.4 clang
./jarvis -install gsl/2.6 clang
./jarvis -install libvori/21.04.12 clang
./jarvis -install lapack/3.8.0/bisheng clang
#./jarvis -install fftw/3.3.8 clang
module load openblas/0.3.18
module load gsl/2.6
module load hmpi1/1.1.1
module load gmp/6.2.0
module load boost/1.72.0 

export CC=mpicc CXX=mpicxx FC=mpifort
./jarvis -install libint/2.6.0 clang+mpi
./jarvis -install fftw/3.3.8 clang+mpi
./jarvis -install scalapack/2.1.0/lapack-bisheng clang+mpi
./jarvis -install plumed/2.6.2 clang+mpi
module load scalapack-lapack-bisheng/2.1.0 openblas/0.3.18
./jarvis -install elpa/2019.05.001 clang+mpi
tar -zxvf $JARVIS_DOWNLOAD/cp2k-8.2.tar.gz
tar -zxvf $JARVIS_DOWNLOAD/dbcsr-2.0.1.tar.gz -C ${JARVIS_ROOT}/cp2k-8.2.0/exts/dbcsr

[ENV]
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
module load hmpi1/1.1.1
module load gsl/2.6

[APP]
app_name = CP2K
build_dir = ${JARVIS_ROOT}/cp2k-8.2.0
binary_dir = ${JARVIS_ROOT}/cp2k-8.2.0/exe/Linux-arm-clang/
case_dir = ${JARVIS_ROOT}/cp2k-8.2.0/benchmarks/QS/

[BUILD]
cd ./arch
cp ${JARVIS_ROOT}/templates/CP2K/8.2/Linux-arm-clang.psmp ./
sed -i "10s%path1%${JARVIS_ROOT}/software/libs/bisheng2/hmpi1%g" Linux-arm-clang.psmp
sed -i "11s%path2%${JARVIS_ROOT}/software/libs/bisheng2%g" Linux-arm-clang.psmp
cd ..
make -j ARCH=Linux-arm-clang.psmp VERSION=psmp

[CLEAN]
make -j 128 ARCH=Linux-arm-clang VERSION=psmp clean

[RUN]
run = numactl -C 0-63  mpirun --allow-run-as-root -np 64 -map-by ppr:64:node:pe=1 -bind-to core -x OMP_NUM_THREADS=1 
binary = cp2k.psmp H2O-256.inp
nodes = 1

[BATCH]
#!/bin/bash

logfile=cp2k.H2O-256.inp.log

nvidia-smi -pm 1
nvidia-smi -ac 1215,1410

echo 3 > /proc/sys/vm/drop_caches
echo "===run 32C*GPU===" >> $logfile
mpirun -np 32 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0 exe/Linux-arm-clang/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1

echo 3 > /proc/sys/vm/drop_caches
echo "===run 32C*2GPU===" >> $logfile
mpirun -np 32 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0,1 exe/Linux-arm-clang/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1


echo 3 > /proc/sys/vm/drop_caches
echo "===run 64C*GPU===" >> $logfile
mpirun -np 64 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0 exe/Linux-arm-clang/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1

echo 3 > /proc/sys/vm/drop_caches
echo "===run 64C*2GPU===" >> $logfile
mpirun -np 32 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0,1 exe/Linux-arm-clang/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1


echo 3 > /proc/sys/vm/drop_caches
echo "===run 128C*GPU===" >> $logfile
mpirun -np 128 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0 exe/Linux-arm-clang/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1

echo 3 > /proc/sys/vm/drop_caches
echo "===run 128C*2GPU===" >> $logfile
mpirun -np 128 -genv OMP_NUM_THREADS=1 -genv CUDA_VISIBLE_DEVICES=0,1 exe/Linux-arm-clang/cp2k.psmp benchmarks/QS/H2O-256.inp > cp2k.H2O-256.inp.log  >> $logfile 2>&1
