[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install gcc/9.3.0 com
module use ./software/modulefiles
module load gcc/9.3.0
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install hmpi/1.2.0 gcc
module load hmpi/1.2.0
./jarvis -install cmake/3.23.1 gcc
module load cmake/3.23.1
./jarvis -install openblas/0.3.18 gcc
sed -i '10,12d ' package/lapack/3.8.0/install.sh
sed -i '$a mkdir build && cd build && cmake .. -DCMAKE_INSTALL_PREFIX=$1 -DCMAKE_BUILD_TYPE=RELEASE -DBUILD_SHARED_LIBS=ON && make -j && make install -j ' package/lapack/3.8.0/install.sh
./jarvis -install lapack/3.8.0 gcc
./jarvis -install python3/3.7.10 gcc

[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
module load gcc/9.3.0
module load hmpi/1.2.0 lapack/3.8.0
module load python3/3.7.10 openblas/0.3.18
export CC=mpicc CXX=mpicxx FC=mpifort F77=mpifort

[APP]
app_name = petsc
build_dir = ${JARVIS_TMP}/petsc-3.18.1
binary_dir = 
case_dir = ${JARVIS_TMP}/petsc-3.18.1

[BUILD]
cd ${JARVIS_ROOT} && ./jarvis -install petsc/3.18.1 gcc+mpi

[RUN]
run = export OMPI_ALLOW_RUN_AS_ROOT=1 OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 && make test
binary = 
nodes = 1