[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install openblas/0.3.18 gcc
./jarvis -install kgcc/9.3.1 com
module load kgcc/9.3.1
export CC=gcc CXX=g++ FC=gfortran
if [ ! -d "./amber22_src_kgcc" ];then
    mkdir amber22_src_kgcc
    tar -xvf $JARVIS_DOWNLOAD/Amber22.tar.bz2 -C amber22_src_kgcc
    tar -xvf $JARVIS_DOWNLOAD/AmberTools22.tar.bz2 -C amber22_src_kgcc
fi

[ENV]
module use ./software/modulefiles
module use ./software/moduledeps
module purge
module load kgcc/9.3.1
#module load gcc7.3.0/openblas/0.3.18
module load kml-gcc/1.6.0

[APP]
app_name = Amber
build_dir = $JARVIS_ROOT/amber22_src_kgcc/amber22_src/
binary_dir = $JARVIS_ROOT/amber22_kgcc/bin
case_dir = $JARVIS_ROOT/workloads/amber/PME/STMV_production_NPT_4fs
#binary_dir = 
#case_dir = $JARVIS_ROOT/workloads/amber/PME/JAC_production_NPT_4fs

[BUILD]
content='cmake $AMBER_PREFIX/amber22_src  -DCMAKE_INSTALL_PREFIX='$JARVIS_ROOT'/amber22_kgcc -DCOMPILER=GNU -DBUILD_PYTHON=FALSE -DMPI=FALSE -DCUDA=TRUE -DINSTALL_TESTS=FALSE -DDOWNLOAD_MINICONDA=FALSE -DMINICONDA_USE_PY3=FALSE -DBLAS_LIBRARIES='$KML_GCC_PATH'/lib/kblas/omp/libkblas.so -DLAPACK_LIBRARIES='$KML_GCC_PATH'/lib/libklapack_full.so -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_C_FLAGS="-O3 -march=armv8.2-a -mcpu=tsv110" -DCMAKE_CXX_FLAGS="-O3 -march=armv8.2-a -mcpu=tsv110" -DCMAKE_Fortran_FLAGS="-O3 -march=armv8.2-a -mcpu=tsv110"  2>&1 | tee  cmake.log' 
cd build
sed -i "40d" run_cmake 
sed -i "39a $content" run_cmake
# may stuck at Running updater..., just retry...
#./run_cmake
#This may have  error at 49%, just retry...
make -j install

[CLEAN]
cd build
./clean_build

[RUN]
#run = dsub -s run.sh
run = numactl -C 0,1,2,3
binary = pmemd.cuda -O -i mdinOPT.GPU -o mdout-kgcc -p ../Topologies/STMV.prmtop -c ../Coordinates/STMV.inpcrd && cat mdout-kgcc
#binary = pmemd.cuda -O -i mdinOPT.GPU -o mdout-kgcc -p ../Topologies/JAC.prmtop -c ../Coordinates/JAC.inpcrd && cat mdout-kgcc
#binary =
nodes = 1
