[SERVER]
11.11.11.11

[DOWNLOAD]
wannier90/3.10 https://codeload.github.com/wannier-developers/wannier90/tar.gz/refs/tags/v3.1.0 wannier90-3.1.0.tar.gz

[DEPENDENCY]
set -e
set -x
module purge
./jarvis -install hpckit/2025.1.0.SPC001 any
module use $JARVIS_MODULES/modules
set +x
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1
module load gcc/%#MYKMPIVER#%/release
set -x
./jarvis -install blas/3.10.0 gcc
./jarvis -install lapack/3.8.0 gcc
set +x
module load lapack/3.8.0-%#MYKGCCVER#%
module load blas/3.10.0-%#MYKGCCVER#%
set -x

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load gcc/compiler12.3.1
module load gcc/%#MYKMPIVER#%/release
module load lapack/3.8.0-%#MYKGCCVER#%
module load blas/3.10.0-%#MYKGCCVER#%

[APP]
app_name = wannier90
app_version = 3.10
compiler = gcc+mpi
build_dir = ${JARVIS_APP}/wannier90/3.1.0-%#MYKBSVER#%-%#MYKMPIVER#%/project
binary_dir =${JARVIS_JOBSCRIPT}/wannier90/3.1.0
case_dir = ${JARVIS_JOBSCRIPT}/wannier90/3.1.0

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

#rm -rf wannier90-3.1.0
#tar -xf ${JARVIS_DOWNLOAD}/wannier90-3.1.0.tar.gz

####### build start
set +x && echo_info "build start" && set -x

cd wannier90-3.1.0
cp config/make.inc.gfort make.inc
sed -i '8c MPIF90 = mpif90'  make.inc
sed -i '7c COMMS= mpi' make.inc
sed -i '14c FCOPTS = -fstrict-aliasing  -fno-omit-frame-pointer -fno-realloc-lhs -fcheck=bounds,do,recursion,pointer -ffree-form -Wall -Waliasing -Wsurprising -Wline-truncation -Wno-tabs -Wno-uninitialized -Wno-unused-dummy-argument -Wno-unused -Wno-character-truncation -O1 -g -fbacktrace' make.inc
sed -i '15c LDOPTS = -fstrict-aliasing  -fno-omit-frame-pointer -fno-realloc-lhs -fcheck=bounds,do,recursion,pointer -ffree-form -Wall -Waliasing -Wsurprising -Wline-truncation -Wno-tabs -Wno-uninitialized -Wno-unused-dummy-argument -Wno-unused -Wno-character-truncation -O1 -g -fbacktrace' make.inc
sed -i '16c FCOPTS += -fallow-argument-mismatch' make.inc
sed -i "37c LIBS = -L${LAPACK_PATH}/lib -llapack -L${BLAS_PATH}/lib -lblas" make.inc
make 
make install PREFIX=${PATH_INSTALL}



####### build done
set +x && echo_info "build done!!!" && set -x

####### Install jobscript
set +x && echo_info "Install jobscript!!!" && set -x
JOBDIR=${JARVIS_JOBSCRIPT}/wannier90/3.1.0
mkdir -p ${JOBDIR}

echo "Generating environment script..."
${BUILD_DIR}/env.sh_gen.sh ${JOBDIR}/env.sh
cp -r ${BUILD_DIR}/wannier90-3.1.0 ${JOBDIR}

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_ncl
#DSUB --job_type cosched:hmpi
#DSUB -N 1
#DSUB -nn 1
#DSUB -rpn 1
#DSUB -R "cpu=1"
#DSUB -o ncl_out_%J.log
#DSUB -e ncl_err_%J.log
#DSUB -T '2h'

export HOSTFILE=hostfile.palabos
rm -f \$HOSTFILE
touch \$HOSTFILE
cat \${CCSCHEDULER_ALLOC_FILE} | sort > \$HOSTFILE
export OMPI_ALLOW_RUN_AS_ROOT=1
export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1
source ./env.sh
cd wannier90-3.1.0/examples/example03
ulimit -s unlimited
{ time -p mpirun -np 8 --allow-run-as-root -np 4 -mca pml ob1 -mca btl ^openib  ../../wannier90.x silicon.win ; } 2>&1 | tee tee_wannier90.xlog
EOF

cat > ${JOBDIR}/local_run.sh << EOF
#!/bin/bash
source env.sh
cd wannier90-3.1.0/examples/example03
{ time -p mpirun -np 8 --allow-run-as-root -np 4 -mca pml ob1 -mca btl ^openib  ../../wannier90.x silicon.win ; } 2>&1 | tee tee_wannier90.xlog
EOF

cat > ${JOBDIR}/wannier90-3.1.0-run.sh << EOF
#!/bin/bash
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/env.sh
chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/wannier90-3.1.0-run.sh

set +x && echo_info "Install done!!!" && set -x
[RUN]
run = export OMPI_ALLOW_RUN_AS_ROOT=1 && export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 && make tests
binary = 
nodes = 1
