[SERVER]
11.11.11.11

[DOWNLOAD]
git/2.35.1 https://github.com/git/git/archive/refs/tags/v2.35.1.tar.gz git-2.35.1.tar.gz
bisheng/2.1.0 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_compiler/bisheng-compiler-2.1.0-aarch64-linux.tar.gz

[DEPENDENCY]
./jarvis -install bisheng/2.1.0 com

[ENV]
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[APP]
app_name = git
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =

[BUILD]
./jarvis -install git/2.35.1 clang


[RUN]
run =
binary =
node = 1
