[SERVER]
11.11.11.11

[DOWNLOAD]
scalapack/2.1.0 http://www.netlib.org/scalapack/scalapack-2.1.0.tgz
hucx/1.1.1 https://github.com/kunpengcompute/hucx/archive/refs/tags/v1.1.1-huawei.tar.gz hucx-1.1.1-huawei.tar.gz
xucg/1.1.1 https://github.com/kunpengcompute/xucg/archive/refs/tags/v1.1.1-huawei.tar.gz xucg-1.1.1-huawei.tar.gz
hmpi/1.1.1 https://github.com/kunpengcompute/hmpi/archive/refs/tags/v1.1.1-huawei.tar.gz hmpi-1.1.1-huawei.tar.gz
bisheng/2.1.0 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_compiler/bisheng-compiler-2.1.0-aarch64-linux.tar.gz

[DEPENDENCY]
module use ./software/modulefiles
module purge
./jarvis -install bisheng/2.1.0 com
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1
./jarvis -install lapack/3.8.0/bisheng clang

[ENV]
module use ./software/modulefiles
module purge
module load bisheng2/2.1.0
module load hmpi1/1.1.1
export CC=mpicc CXX=mpicxx FC=mpifort

[APP]
app_name = scalacack
build_dir = $JARVIS_ROOT
binary_dir =
case_dir =

[BUILD]
./jarvis -install scalapack/2.1.0/lapack-bisheng clang+mpi

[RUN]
run =
binary =
node = 1 
