[SERVER]
11.11.11.11

[DOWNLOAD]
aces/iii https://github.com/madbosun/acesiii/archive/refs/heads/master.zip acesiii-master.zip

[DEPENDENCY]
set -e
set -x

module purge
module use $JARVIS_MODULES/modules

./jarvis -install hpckit/2025.1.0.SPC001 any
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load bisheng/kml25.1.0.SPC001/kml

[ENV]
module purge
module use $JARVIS_MODULES/modules
module load hpckit/2025.1.0.SPC001
module load bisheng/compiler4.2.0.2/bishengmodule
module load bisheng/%#MYKMPIVER#%/release
module load bisheng/kml25.1.0.SPC001/kml

[APP]
app_name = aces
app_version = iii
compiler = bisheng+mpi
build_dir = ${JARVIS_APP}/aces/iii-%#MYKBSVER#%-%#MYKMPIVER#%
binary_dir =
case_dir = ${JARVIS_JOBSCRIPT}/aces/iii

[BUILD]
set -e
source ${JARVIS_LIBSHELL}
set -x
key=$2
bmod="${key#*=}"
BUILD_DIR=$(pwd)
PATH_INSTALL=$1
echo "CURRENT SHELL:$SHELL"

####### build prepare
set +x && echo_info "build prepare!!!" && set -x

####### build prepare
install_path=$1
JOBDIR=${JARVIS_JOBSCRIPT}/aces/iii

####### build start

if [ ! -d "acesiii-master" ]; then
unzip ${JARVIS_DOWNLOAD}/acesiii-master.zip
fi

cd acesiii-master

if [ ! -f "bin/sial" ]; then
export MPIHOME=$OPAL_PREFIX

sed -i '3217c\if test x"$GNULIBS" = x; then' configure
sed -i '3223c\if test x"$GNUFLAGS" = x; then' configure
sed -i '3229c\SERIAL_CPP="clang++"' configure
sed -i '3231c\if test x"$SIAL_COMPILER_LIBS" = x; then' configure

./configure --enable-gnu --prefix=$install_path \
   GNULIBS="-lklapack_full -lkblas" \
   GNUFLAGS="-L${HPCKIT_KML}/bisheng/lib/sve/kblas/multi -L${HPCKIT_KML}/bisheng/lib/sve512" \
   SIAL_COMPILER_LIBS="-lsial -lsip_shared -laces2 -ldl -lsip1 -lsip2 -lflang -lflangmain" \
   FCFLAGS="-D__fortran -D__fortran77 -fPIC -DMPIF2C -DMPI2 -ffast-math -march=armv8-a -mtune=tsv110 -std=f77" \
   FFLAGS="-D__fortran -D__fortran77 -fPIC -DMPIF2C -DMPI2 -ffast-math -march=armv8-a -mtune=tsv110 -std=f77" \
   CFLAGS="-DMPIF2C -DMPI2 -DC_SUFFIX -DCB_SUFFIX -DMPI2 -Wno-return-type -Wno-int-conversion" \
   CXXFLAGS="-DMPIF2C -DC_SUFFIX -DCB_SUFFIX -DMPI2" \
   CC=mpicc CXX=mpicxx FC=mpifort

make
fi
####### build done

####### Install jobscript

if [ ! -d "${JOBDIR}" ]; then
mkdir -p ${JOBDIR}
fi

cat > ${JOBDIR}/job_run.sh << EOF
#!/bin/bash
#DSUB -n case_abyss
#DSUB --mpi hmpi
#DSUB -N 96
#DSUB -nn 1
#DSUB -rpn 96
#DSUB -o abyss_out_%J.log
#DSUB -e abyss_err_%J.log

EOF

cat >${JOBDIR}/local_run.sh << EOF
#!/bin/bash
module use $JARVIS_MODULES/modules
module load aces/iii-%#MYKBSVER#%-%#MYKMPIVER#%

if [ -d "test" ]; then
rm -rf test
fi
mkdir test
cd test
cp ${BUILD_DIR}/acesiii-master/src/aces/aces_sial/simpletest/scftest_0.sial .
time sial scftest_0.sial

export ACES_EXE_PATH=${BUILD_DIR}/acesiii-master/bin
export WORKDIR=${JOBDIR}
cd ${BUILD_DIR}/acesiii-master/tests
make

cd ${JOBDIR}/ACESIII_TESTS/1.1.1.1
time mpirun --allow-run-as-root -np 4 -mca btl ^openib,tcp,vader -x UCX_TLS=self,sm ./xaces3
EOF

cat > ${JOBDIR}/aces-iii-run.sh << EOF
#!/bin/bash
cd ${JOBDIR}
./local_run.sh 2>&1 | tee tee_local_run.xlog
dsub -s job_run.sh
EOF

chmod u+x ${JOBDIR}/job_run.sh
chmod u+x ${JOBDIR}/local_run.sh
chmod u+x ${JOBDIR}/aces-iii-run.sh

[RUN]
