[SERVER]
11.11.11.11

[DOWNLOAD]
conus12km https://www2.mmm.ucar.edu/wrf/src/conus12km.tar.gz

[DEPENDENCY]
yum install tcsh time -y
module purge
module use ./software/modulefiles
./jarvis -install kgcc/10.3.1 com
module load ./software/modulefiles/kgcc/10.3.1
export CC=gcc CXX=g++ FC=gfortran
./jarvis -install hmpi/1.1.1 gcc
module load ./software/moduledeps/kgcc10.3.1/hmpi/1.1.1
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which gfortran`
export F77=`which mpifort`
./jarvis -install hdf5/1.10.1 gcc+mpi
./jarvis -install package/pnetcdf/1.9.0 gcc+mpi
module load hdf5/1.10.1
module load ./software/moduledeps/gcc10.3.1-hmpi1.1.1/pnetcdf/1.9.0
./jarvis -install package/netcdf/4.7.4 gcc+mpi
module load netcdf/4.7.4
./jarvis -install optimized-routines/20.02 gcc
module load optimized-routines/20.02
tar -vxf ${JARVIS_DOWNLOAD}/conus12km.tar.gz
cd ${JARVIS_TMP}
git clone https://github.com/wrf-model/WRF.git
cd WRF
git checkout tags/v4.6.1 -b wrf-4.6.1
git submodule update --init --recursive

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/10.3.1
module load hmpi/1.1.1
module load hdf5/1.10.1
module load pnetcdf/1.9.0
module load netcdf/4.7.4
module load optimized-routines/20.02
export CC=`which mpicc`
export CXX=`which mpicxx`
export FC=`which gfortran`
export F77=`which mpifort`

[APP]
app_name = WRF
build_dir = ${WRF_DIR}
binary_dir = 
case_dir = ${JARVIS_ROOT}/conus12km

[BUILD]
cd ${JARVIS_TMP}
cd WRF
export HDF5=`which h5diff`
export HDF5=${HDF5%/*/*}
export NETCDF=`nc-config --prefix`
export PNETCDF=`pnetcdf-config --prefix`
export CPPFLAGS="-I$HDF5/include -I$PNETCDF/include -I$NETCDF/include"
export LDFLAGS="-L$HDF5/lib -L$PNETCDF/lib -L$NETCDF/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
sed -i $((`sed -n '$=' arch/configure.defaults`-2)),$((`sed -n '$=' arch/configure.defaults`))d arch/configure.defaults
mathlib_path=$JARVIS_ROOT/software/compiler/kgcc/10.3.1/lib64/libhpc
cat >> arch/configure.defaults <<EOF
################################################## #########
#ARCH   Linux   aarch64,gnu OpenMPI #serial smpar dmpar dm+sm
DESCRIPTION     =       GNU (\$SFC/\$SCC)
DMPARALLEL      =        1
OMPCPP          =        -D_OPENMP
OMP             =        -fopenmp
OMPCC           =        -fopenmp
SFC             =       gfortran
SCC             =       gcc
CCOMP           =       gcc
DM_FC           =       mpif90 -f90=\$(SFC)
DM_CC           =       mpicc -cc=\$(SCC) -DMPI2_SUPPORT
FC              =       CONFIGURE_FC
CC              =       CONFIGURE_CC
LD              =       \$(FC)
RWORDSIZE       =       CONFIGURE_RWORDSIZE
PROMOTION       =       #-fdefault-real-8
ARCH_LOCAL      =       -DNONSTANDARD_SYSTEM_SUBR  -DWRF_USE_CLM
CFLAGS_LOCAL    =       -w -O3 -c -march=armv8.2-a -L$mathlib_path -lmathlib
LDFLAGS_LOCAL   =
CPLUSPLUSLIB    =
ESMF_LDFLAG     =      \$(CPLUSPLUSLIB)
FCOPTIM         =       -O3 -ftree-vectorize -funroll-loops -mcpu=tsv110 -march=armv8.2-a -L$mathlib_path -lmathlib
FCREDUCEDOPT    =       \$(FCOPTIM)
FCNOOPT         =       -O0
FCDEBUG         =       # -g \$(FCNOOPT)  # -fbacktrace -ggdb-fcheck=bounds,do,mem,pointer -ffpe-trap=invalid,zero,overflow
FORMAT_FIXED    =       -ffixed-form
FORMAT_FREE     =       -ffree-form -ffree-line-length-none
FCSUFFIX        =
BYTESWAPIO      =       -fconvert=big-endian -frecord-marker=4
FCBASEOPTS_NO_G =       -w \$(FORMAT_FREE) \$(BYTESWAPIO)
FCBASEOPTS      =       \$(FCBASEOPTS_NO_G) \$(FCDEBUG)
MODULE_SRCH_FLAG =
TRADFLAG        =      -traditional
CPP             =      /lib/cpp -P
AR              =      ar
ARFLAGS         =      ru
M4              =      m4 -G
RANLIB          =      ranlib
RLFLAGS         =
CC_TOOLS        =      \$(SCC)

###########################################################
#ARCH  NULL
EOF

echo 4 | ./configure
./compile em_real 2>&1 | tee -a compile.log 

cd ${JARVIS_ROOT}
cp -r ${JARVIS_ROOT}/WRF/run/* conus12km
yes no | cp -ri ${JARVIS_ROOT}/WRF/run/* conus12km
cd conus12km
ln -sf ${JARVIS_ROOT}/WRF/main/*.exe ./

[CLEAN]
./clean

[RUN]
run = time mpirun --allow-run-as-root -np 8 ./wrf.exe && less rsl.out.0000
binary = 
nodes = 1
