[SERVER]
11.11.11.11

[DOWNLOAD]
conus12km https://www2.mmm.ucar.edu/wrf/src/conus12km.tar.gz
wrf/4.6.1 https://github.com/wrf-model/WRF/releases/download/v4.6.1/v4.6.1.tar.gz

[DEPENDENCY]
yum install tcsh time -y
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
GCC_VERSION=`ls ${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module load gcc/compiler${GCC_VERSION}/gccmodule gcc/hmpi${HMPI_VERSION}/release

./jarvis -install hdf5/1.10.1 gcc+mpi
module use ./software/moduledeps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}
module load hdf5/1.10.1
./jarvis -install package/pnetcdf/1.11.2 gcc+mpi
module load pnetcdf/1.11.2
./jarvis -install package/netcdf/4.7.0 gcc+mpi
module load netcdf/4.7.0
./jarvis -install optimized-routines/20.02 gcc+mpi
module load optimized-routines/20.02
cd ${JARVIS_TMP}
rm -rf WRF
tar -xvf ${JARVIS_DOWNLOAD}/wrf-v4.6.1.tar.gz
cd WRFV4.6.1

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
GCC_VERSION=`ls ${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module load gcc/compiler${GCC_VERSION}/gccmodule gcc/hmpi${HMPI_VERSION}/release
module use ./software/moduledeps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}
module load hdf5/1.10.1
module load pnetcdf/1.11.2
module load netcdf/4.7.0
module load optimized-routines/20.02
export LD_LIBRARY_PATH=${JARVIS_UTILS}/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/compiler/gcc/lib64_public:$LD_LIBRARY_PATH

[APP]
app_name = WRF
build_dir = ${JARVIS_TMP}/WRF
binary_dir =
case_dir = ${JARVIS_ROOT}/conus12km

[BUILD]
export HDF5=`which h5diff`
export HDF5=${HDF5%/*/*}
export NETCDF=`nc-config --prefix`
export PNETCDF=`pnetcdf-config --prefix`
export CPPFLAGS="-I$HDF5/include -I$PNETCDF/include -I$NETCDF/include"
export LDFLAGS="-L$HDF5/lib -L$PNETCDF/lib -L$NETCDF/lib -lnetcdf -lnetcdff -lpnetcdf -lhdf5_hl -lhdf5 -lz"
export WRFIO_NCD_LARGE_FILE_SUPPORT=1
sed -i $((`sed -n '$=' arch/configure.defaults`-2)),$((`sed -n '$=' arch/configure.defaults`))d arch/configure.defaults
mathlib_path=$JARVIS_ROOT/software/compiler/kgcc/10.3.1/lib64/libhpc
cat >> arch/configure.defaults <<EOF
################################################## #########
#ARCH   Linux   aarch64,gnu OpenMPI #serial smpar dmpar dm+sm
DESCRIPTION     =       GNU (\$SFC/\$SCC)
DMPARALLEL      =        1
OMPCPP          =        -D_OPENMP
OMP             =        -fopenmp
OMPCC           =        -fopenmp
SFC             =       gfortran
SCC             =       gcc
CCOMP           =       gcc
DM_FC           =       mpif90 -f90=\$(SFC)
DM_CC           =       mpicc -cc=\$(SCC) -DMPI2_SUPPORT
FC              =       CONFIGURE_FC
CC              =       CONFIGURE_CC
LD              =       \$(FC)
RWORDSIZE       =       CONFIGURE_RWORDSIZE
PROMOTION       =       #-fdefault-real-8
ARCH_LOCAL      =       -DNONSTANDARD_SYSTEM_SUBR  -DWRF_USE_CLM
CFLAGS_LOCAL    =       -w -O3 -c -march=armv8.2-a -L$mathlib_path -lmathlib
LDFLAGS_LOCAL   =
CPLUSPLUSLIB    =
ESMF_LDFLAG     =      \$(CPLUSPLUSLIB)
FCOPTIM         =       -O3 -ftree-vectorize -funroll-loops -mcpu=tsv110 -march=armv8.2-a -L$mathlib_path -lmathlib
FCREDUCEDOPT    =       \$(FCOPTIM)
FCNOOPT         =       -O0
FCDEBUG         =       # -g \$(FCNOOPT)  # -fbacktrace -ggdb-fcheck=bounds,do,mem,pointer -ffpe-trap=invalid,zero,overflow
FORMAT_FIXED    =       -ffixed-form
FORMAT_FREE     =       -ffree-form -ffree-line-length-none
FCSUFFIX        =
BYTESWAPIO      =       -fconvert=big-endian -frecord-marker=4
FCBASEOPTS_NO_G =       -w \$(FORMAT_FREE) \$(BYTESWAPIO)
FCBASEOPTS      =       \$(FCBASEOPTS_NO_G) \$(FCDEBUG)
MODULE_SRCH_FLAG =
TRADFLAG        =      -traditional
CPP             =      /lib/cpp -P
AR              =      ar
ARFLAGS         =      ru
M4              =      m4 -G
RANLIB          =      ranlib
RLFLAGS         =
CC_TOOLS        =      \$(SCC)

###########################################################
#ARCH  NULL
EOF

echo 4 | ./configure
./compile em_real 2>&1 | tee -a compile.log

cd ${JARVIS_ROOT}
rm -rf conus12km
tar -vxf ${JARVIS_DOWNLOAD}/conus12km.tar.gz
yes no | cp -ri ${JARVIS_TMP}/WRF/run/* conus12km
cd conus12km
ln -sf ${JARVIS_TMP}/WRF/main/*.exe ./

[CLEAN]
./clean

[RUN]
run = time mpirun --allow-run-as-root -np $(nproc) ./wrf.exe && less rsl.out.0000
binary =
nodes = 1

