[SERVER]
11.11.11.11

[DOWNLOAD]
jax/0.4.30 https://github.com/jax-ml/jax/archive/refs/tags/jax-v0.4.30.tar.gz

[DEPENDENCY]
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
./jarvis -install python3/3.9.9 bisheng
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load python3/3.9.9
rm -rf ${JARVIS_TMP_DOWNLOAD}/jax-v0.4.30
tar -zxvf ${JARVIS_DOWNLOAD}/jax-v0.4.30.tar.gz -C ${JARVIS_TMP_DOWNLOAD}

[ENV]
module purge
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module load bisheng/compiler${BISHENG_VERSION}/bishengmodule
module load bisheng/hmpi${HPCKIT_VERSION}/release
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load python3/3.9.9

[APP]
app_name = jax
build_dir = ${JARVIS_TMP_DOWNLOAD}/jax-jax-v0.4.30
binary_dir = 
case_dir = ${JARVIS_TMP_DOWNLOAD}/jax-jax-v0.4.30/tests

[BUILD]
pip3 install .
pip3 install absl-py

[CLEAN]
pip3 uninstall jax -y

[RUN]
run = python3
binary = jax_jit_test.py
nodes = 1

