[SERVER]
11.11.11.11

[DOWNLOAD]
qe/7.3 $JARVIS_PROXY/QEF/q-e/archive/refs/tags/qe-7.3.tar.gz
bench/master $JARVIS_PROXY/QEF/benchmarks/archive/refs/heads/master.zip

[DEPENDENCY]
module purge 
./jarvis -install package/hpckit/24.0.0/ any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi


[ENV]
module purge
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add bisheng/compiler4.1.0/bishengmodule bisheng/hmpi2.4.3/hmpi

export KML_LIB=$JARVIS_UTILS/hpckit/24.0.0/HPCKit/24.12.30/kml/bisheng/lib
export BLAS_PATH=$KML_LIB/sve/kblas/omp
export LAPACK_PATH=$KML_LIB/sve
export KM_LIB=$KML_LIB/noarch

export BLAS_LIBS="-L$BLAS_PATH -lkblas"
export LAPACK_LIBS="-L$LAPACK_PATH -L$KM_LIB -lkm -lkscalapack_full -lklapack_full"

export PATH=${JARVIS_LIBS}/bisheng4.1.0/qe/7.3/bin:$PATH
export LD_LIBRARY_PATH=$LAPACK_PATH:$KM_LIB:$BLAS_PATH:$LD_LIBRARY_PATH


[APP]
app_name = QE
build_dir = ${JARVIS_TMP}
binary_dir = ${JARVIS_LIBS}/bisheng4.1.0/qe/7.3/bin
case_dir = ${JARVIS_ROOT}/workloads/benchmarks-master

[BUILD]
rm q-e-qe-7.3 -rf
tar -xvf ${JARVIS_DOWNLOAD}/qe-7.3.tar.gz
cd q-e-qe-7.3

./configure F90=flang F77=flang FC=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true" CFLAGS="-O3 -mcpu=linxicore9100 -mllvm -force-customized-pipeline=true" --with-scalapack=yes --enable-openmp --prefix=$JARVIS_LIBS/bisheng4.1.0/qe/7.3
sed -i 's/gfortran/flang/g' make.inc
make -j pwall
make install

cd ${JARVIS_ROOT}/workloads
rm benchmarks-master -rf
unzip  ${JARVIS_DOWNLOAD}/master.zip

[CLEAN]
make clean

[RUN]
run =
binary =
nodes = 1


[BATCH]

LOG_FILE="qe-proformance.log"
>"$LOG_FILE"
cd ${JARVIS_ROOT}/workloads/benchmarks-master/other-inputs/water/

#$RUN_TOOL "qe pw.x" "time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 -x OMP_NUM_THREADS=1 -np pw.x -input pw.in "

( time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 pw.x -input pw.in ) 2>&1 |tee $LOG_FILE

[JOB]
#!/bin/sh
#DSUB -n qe_test
#DSUB --mpi hmpi
#DSUB -q default
#DSUB -N 1
#DSUB -R cpu=128
#DSUB -oo qe.%J.out
#DSUB -oe qe.%J.err

LOG_FILE="qe-proformance.log"

>"$LOG_FILE"
cd ${JARVIS_ROOT}/workloads/benchmarks-master/other-inputs/water/

#$RUN_TOOL "qe pw.x" "time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 -x OMP_NUM_THREADS=1 -np pw.x -input pw.in "

( time -p mpirun  --allow-run-as-root -mca pml ucx -mca btl tcp -x UCX_TLS=sm,tcp -np 128 -input pw.in ) 2>&1 |tee $LOG_FILE
