[SERVER]
11.11.11.11

[DOWNLOAD]
qe/7.3 https://gitlab.com/QEF/q-e/-/archive/qe-7.3/q-e-qe-7.3.tar

[DEPENDENCY]
module purge 
./jarvis -install bisheng/3.2.0-mini com
module use ./software/modulefiles
module load bisheng/3.2.0-mini
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/2.3.0 bisheng
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
./jarvis -install kml/1.7.0/bisheng bisheng
module load kml-bisheng/1.7.0


[ENV]
module purge
module use ./software/modulefiles
module load bisheng/3.2.0-mini
module use ./software/moduledeps/bisheng3.2.0
module load hmpi/2.3.0
module load kml-bisheng/2.2.0

export BLAS_LIBS="-L${JARVIS_ROOT}/software/libs/bisheng3.2.0/kml-bisheng/1.7.0/lib/kblas/omp -lkblas"
export LAPACK_LIBS="-L${JARVIS_ROOT}/software/libs/bisheng3.2.0/kml-bisheng/1.7.0/lib -lklapack_full"

cd /hpcrunner
CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/q-e-qe-7.3-kml/bin:$PATH


[APP]
app_name = QE
build_dir = ${JARVIS_TMP}/q-e-qe-7.3
binary_dir = ${JARVIS_ROOT}/q-e-qe-7.3-kml/bin
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xf ${JARVIS_DOWNLOAD}/q-e-qe-7.3.tar
cd q-e-qe-7.3

./configure F90=flang F77=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3 -mcpu=native" CFLAGS="-O3 -mcpu=native" --with-scalapack=no --enable-openmp --prefix=$JARVIS_ROOT/q-e-qe-7.3-kml
sed -i 's/gfortran/flang/g' make.inc
make -j pwall
make install

[CLEAN]
make clean

[RUN]
run =
binary =
nodes = 1
