[SERVER]
11.11.11.11

[DOWNLOAD]
qe/7.3 https://gitlab.com/QEF/q-e/-/archive/qe-7.3/q-e-qe-7.3.tar

[DEPENDENCY]
module purge 
./jarvis -install hpckit/25.1.0 any
module use software/utils/hpckit/25.1.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.2.0.2/bishengmodule bisheng/hmpi25.1.0/release bisheng/kml25.1.0/kml
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`

[ENV]
module purge
module use software/utils/hpckit/25.1.0/HPCKit/latest/modulefiles
module add bisheng/compiler4.2.0.2/bishengmodule bisheng/hmpi25.1.0/release bisheng/kml25.1.0/kml

export BLAS_LIBS="-L${JARVIS_ROOT}/software/utils/hpckit/25.1.0/HPCKit/25.1.0/kml/bisheng/lib/neon/kblas/locking/ -lkblas"
export LAPACK_LIBS="-L${JARVIS_ROOT}/software/utils/hpckit/25.1.0/HPCKit/25.1.0/kml/bisheng/lib/neon/ -lklapack_full"

cd $JARVIS_ROOT
CUR_PATH=$(pwd)
export JARVIS_ROOT=${CUR_PATH}
export JARVIS_TMP=${CUR_PATH}/tmp
export PATH=${JARVIS_ROOT}/q-e-qe-7.3-kml/bin:$PATH


[APP]
app_name = QE
build_dir = ${JARVIS_TMP}/q-e-qe-7.3
binary_dir = ${JARVIS_ROOT}/q-e-qe-7.3-kml/bin
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xf ${JARVIS_DOWNLOAD}/q-e-qe-7.3.tar
cd q-e-qe-7.3

./configure F90=flang F77=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3 -mcpu=native" CFLAGS="-O3 -mcpu=native" --with-scalapack=no --enable-openmp --prefix=$JARVIS_ROOT/q-e-qe-7.3-kml
sed -i 's/gfortran/flang/g' make.inc
make -j pwall
make install

[CLEAN]
make clean

[RUN]
run =
binary =
nodes = 1
