[SERVER]
11.11.11.11

[DOWNLOAD]
plink/1.9 https://github.com/chrchang/plink-ng/archive/refs/heads/master.zip plink-master.zip

[DEPENDENCY]
yum install make cmake gcc g++ -y
dnf install openblas-devel -y

module purge
./jarvis -install hpckit/2024.12.30 com
module use ./software/compiler/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module load gcc/compiler12.3.1/gccmodule
module load gcc/kml2.5.0/kml

cd ${JARVIS_TMP_DOWNLOAD}
rm -rf plink-ng-master
unzip ${JARVIS_DOWNLOAD}/plink-master.zip

[ENV]
module purge
module use ./software/compiler/hpckit/2024.12.30/HPCKit/24.12.30/modulefiles
module load gcc/compiler12.3.1/gccmodule
module load gcc/kml2.5.0/kml

[APP]
app_name = plink
build_dir = ${JARVIS_TMP_DOWNLOAD}/plink-ng-master
binary_dir = ${JARVIS_TMP_DOWNLOAD}/plink-ng-master/bin
case_dir = 

[BUILD]

grep -rl "\-llapack -lblas -lcblas -latlas" | xargs sed -i 's%\-llapack -lblas -lcblas -latlas%-L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/kml/gcc/lib/neon/kblas/pthread -L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/kml/gcc/lib/neon -lkblas -lklapack_full -fopenmp%g'
grep -rl "\-llapack -lcblas -lblas" | xargs sed -i 's%\-llapack -lcblas -lblas%\-L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/kml/gcc/lib/neon/kblas/pthread -L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/kml/gcc/lib/neon -lkblas -lklapack_full -fopenmp%g'
grep -rl "\-llapack -lf77blas -latlas" | xargs sed -i 's%\-llapack -lf77blas -latlas%\-L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/kml/gcc/lib/neon/kblas/pthread -L\${JARVIS_COMPILER}/hpckit/2024.12.30/HPCKit/24.12.30/kml/gcc/lib/neon -lkblas -lklapack_full -fopenmp%g'
sed -i 's%cblas.h%kblas.h%g' 1.9/plink_matrix.h
sed -i 's%cblas.h%kblas.h%g' 2.0/plink2_matrix.h
cd 1.9/
./plink_first_compile
cd ../2.0
./build.sh

[CLEAN]
make clean

[RUN]
run = 
binary = 
nodes = 1

[PERF]
perf=
nsys=
ncu=
