[SERVER]
11.11.11.11

[DOWNLOAD]
plink/1.9 https://github.com/chrchang/plink-ng/archive/refs/heads/master.zip plink-master.zip

[DEPENDENCY]
dnf install openblas-devel zstd-devel cmake -y
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/modulefiles
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module load hpckit${HPCKIT_VERSION}/gcc/compiler${GCC_VERSION}/gccmodule  hpckit${HPCKIT_VERSION}/gcc/hmpi${HMPI_VERSION}/release  hpckit${HPCKIT_VERSION}/gcc/kml${HPCKIT_VERSION}/kblas/multi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

cd ${JARVIS_TMP}
rm -rf plink-ng-master
unzip ${JARVIS_DOWNLOAD}/plink-master.zip
cd ${JARVIS_TMP}/plink-ng-master
[ENV]
module purge
module use ${JARVIS_ROOT}/software/modulefiles
GCC_VERSION=`ls software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles/gcc|grep compiler|awk -F "compiler" '{print $2}'`
module load hpckit${HPCKIT_VERSION}/gcc/compiler${GCC_VERSION}/gccmodule  hpckit${HPCKIT_VERSION}/gcc/hmpi${HMPI_VERSION}/release  hpckit${HPCKIT_VERSION}/gcc/kml${HPCKIT_VERSION}/kblas/multi
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
export LD_LIBRARY_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/kml/gcc/lib/noarch:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${JARVIS_ROOT}/software/utils/hpckit/25.1.0/HPCKit/25.1.0/kml/gcc/lib/${kp}:$LD_LIBRARY_PATH
export KBLAS_PATH=${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/kml/gcc/lib/${kp}
export PATH=$PATH:${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}/plink/1.9/bin

[APP]
app_name = plink
build_dir = ${JARVIS_TMP}/plink-ng-master
binary_dir = ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}/plink/1.9/bin
case_dir = ${JARVIS_TMP}/plink-ng-master/1.9/tests

[BUILD]
grep -rl "\-llapack -lblas -lcblas -latlas" | xargs sed -i 's%\-llapack -lblas -lcblas -latlas%-L\${KBLAS_PATH}/kblas/multi -L\${KBLAS_PATH} -lkblas -lklapack_full -fopenmp%g'
grep -rl "\-llapack -lcblas -lblas" | xargs sed -i 's%\-llapack -lcblas -lblas%\-L\${KBLAS_PATH}/kblas/multi -L\${KBLAS_PATH} -lkblas -lklapack_full -fopenmp%g'
grep -rl "\-llapack -lf77blas -latlas" | xargs sed -i 's%\-llapack -lf77blas -latlas%\-L\${KBLAS_PATH}/kblas/multi -L\${KBLAS_PATH} -lkblas -lklapack_full -fopenmp%g'
sed -i 's%cblas.h%kblas.h%g' 1.9/plink_matrix.h
sed -i 's%cblas.h%kblas.h%g' 2.0/plink2_matrix.h
cd 1.9/
sed -i "39c PREFIX ?= ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}/plink/1.9" 	Makefile
sed -i "40c DESTDIR ?= "										Makefile
./plink_first_compile
make install
cd ../2.0
sed -i "41c PREFIX ?= ${JARVIS_ROOT}/software/apps/gcc${GCC_VERSION}-hmpi${HMPI_VERSION}/plink/2.0" 	Makefile
sed -i "42c DESTDIR ?= "                                                                                Makefile
./build.sh
make install

[CLEAN]
make clean

[RUN]
run = ./test_setup.sh && plink --version
binary = 
nodes = 1

[PERF]
perf=
nsys=
ncu=

