[SERVER]
11.11.11.11

[DOWNLOAD]
SU2/7.0.4 https://github.com/su2code/SU2/archive/v7.0.4.tar.gz SU2-7.0.4.tar.gz 

[DEPENDENCY]
module purge
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi1/1.1.1

[ENV]
module use ./software/modulefiles
module purge
module load bisheng2/2.1.0
module load hmpi1/1.1.1
export CC=clang CXX=clang++ FC=flang

[APP]
app_name = SU2
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/bisheng2/SU2/7.0.4
case_dir =

[BUILD]
cd ${JARVIS_TMP}
tar -xvf ${JARVIS_DOWNLOAD}/SU2-7.0.4.tar.gz
cd SU2-7.0.4
./bootstrap
mkdir build
cd build
../configure --prefix=${JARVIS_ROOT}/software/apps/bisheng2/SU2/7.0.4  CXXFLAGS="-O3 -std=c++11 -march=armv8.2-a -mtune=tsv110" --enable-mpi --with-cc=mpicc --with-cxx=mpicxx
make -j
make install

[RUN]
run =
binary =
node = 1

