[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
./jarvis -install hpckit/24.0.0 any
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module purge
module add gcc/compiler12.3.1/gccmodule
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install spack/1.0.0 gcc
mkdir -p ReMPI
cd ReMPI
mkdir test

[ENV]
module purge
module use software/utils/hpckit/24.0.0/HPCKit/24.12.30/modulefiles
module add gcc/compiler12.3.1/gccmodule
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
source ${JARVIS_ROOT}/spack/share/spack/setup-env.sh

[APP]
app_name = ReMPI
build_dir = ${JARVIS_ROOT}/spack/
binary_dir = ${JARVIS_ROOT}/spack/
case_dir = ${JARVIS_ROOT}/ReMPI/test/

[BUILD]
spack compiler find
spack compilers
spack -k fetch -D rempi
spack install rempi %gcc@12.3.1


[CLEAN]
make clean

[RUN]
run = source ${JARVIS_ROOT}/spack/share/spack/setup-env.sh && spack load rempi && export REMPI_MODE=0 && export REMPI_DIR=./rempi_record && LD_PRELOAD=${JARVIS_ROOT}/spack/opt/spack/linux-aarch64/rempi-1.1.0-wpclq3lb5a4gowtezvt3lq245d4tnouv/lib/librempi.so mpirun --allow-run-as-root -n 8 ${JARVIS_ROOT}/spack/opt/spack/linux-aarch64/rempi-1.1.0-wpclq3lb5a4gowtezvt3lq245d4tnouv/bin/example1 matching
binary =
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all

