[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module purge
module add gcc/compiler12.3.1/gccmodule
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install spack/1.0.0 any
mkdir -p ${JARVIS_ROOT}/software/apps/gcc12.3.1/ReMPI
cd ${JARVIS_ROOT}/software/apps/gcc12.3.1/ReMPI
mkdir test

[ENV]
module purge
module use ${JARVIS_ROOT}/software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add gcc/compiler12.3.1/gccmodule
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
source ${JARVIS_ROOT}/software/utils/spack/1.0.0/share/spack/setup-env.sh

[APP]
app_name = ReMPI
build_dir = ${JARVIS_ROOT}/software/utils/spack/1.0.0
binary_dir =
case_dir = ${JARVIS_ROOT}/software/apps/gcc12.3.1/ReMPI/test/

[BUILD]
spack compiler find
spack compilers
spack -k fetch -D rempi
spack install rempi %gcc@12.3.1


[CLEAN]
make clean

[RUN]
run = spack load rempi && export REMPI_MODE=0 && mpirun --allow-run-as-root -n $(nproc) example1 matching
binary =
nodes = 1

[PERF]
perf=
nsys=
ncu=--target-processes all