[SERVER]
11.11.11.11

[DOWNLOAD]
bisheng/2.1.0 https://mirrors.huaweicloud.com/kunpeng/archive/compiler/bisheng_compiler/bisheng-compiler-2.1.0-aarch64-linux.tar.gz
hmpi/1.1.1 https://github.com/kunpengcompute/hucx/archive/refs/tags/v1.1.1-huawei.zip hucx-1.1.1-huawei.zip
hmpi/1.1.1 https://github.com/kunpengcompute/hmpi/archive/refs/tags/v1.1.1-huawei.zip hmpi-1.1.1-huawei.zip
hmpi/1.1.1 https://github.com/kunpengcompute/xucg/archive/refs/tags/v1.1.1-huawei.zip xucg-1.1.1-huawei.zip
openblas/0.3.18 https://github.com/xianyi/OpenBLAS/releases/download/v0.3.18/OpenBLAS-0.3.18.tar.gz

[DEPENDENCY]
set -x
set -e
./jarvis -install bisheng/2.1.0 com
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/1.1.1 bisheng
module load hmpi1/1.1.1
./jarvis -bench mpi
./jarvis -install openblas/0.3.18 bisheng

[ENV]
source /etc/profile
module purge
module use ./software/modulefiles
module load bisheng2/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module load hmpi1/1.1.1
module load openblas/0.3.18
export BLAS_LIBS="-L${JARVIS_LIBS}/bisheng2/openblas/0.3.18/lib -lopenblas"
export LAPACK_LIBS="-L${JARVIS_LIBS}/bisheng2/openblas/0.3.18/lib -lopenblas"

[APP]
app_name = QE
build_dir = /hpcrunner/q-e-qe-6.4.1/
binary_dir = /hpcrunner/q-e-qe-6.4.1/bin/
case_dir = /hpcrunner/workloads/QE/qe-test

[BUILD]
./configure F90=flang F77=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j 96 pwall
make install

[CLEAN]
make clean

[RUN]
#container-run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 96 singularity exec xx.sif /hpcrunner/q-e-qe-6.4.1/bin pw.x -input /hpcrunner/workloads/QE/qe-test/test_3.in
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 96
binary = pw.x -input test_3.in
nodes = 1