[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.4 https://github.com/QEF/q-e/archive/refs/tags/qe-6.4.1.tar.gz q-e-qe-6.4.1.tar.gz

[DEPENDENCY]
set -e
set -x
./jarvis -install kgcc/9.3.1 com
module purge
module use ./software/modulefiles
module load kgcc/9.3.1
export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`
./jarvis -install openmpi/4.1.2 gcc
module load openmpi/4.1.2
#test if mpi is normal
./jarvis -bench mpi
tar -xzvf ${JARVIS_DOWNLOAD}/q-e-qe-6.4.1.tar.gz

[ENV]
module purge
module use ./software/modulefiles
module load kgcc/9.3.1
module load openmpi/4.1.2

[APP]
app_name = QE
build_dir = ${JARVIS_ROOT}/q-e-qe-6.4.1/
binary_dir = ${JARVIS_ROOT}/q-e-qe-6.4.1/bin/
case_dir = ${JARVIS_ROOT}/workloads/QE/qe-test

[BUILD]
./configure F90=gfortran F77=gfortran MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j pw
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 8
binary = pw.x -input test_3.in
nodes = 1

[PERF]
perf= 
nsys=
ncu=--target-processes all