[SERVER]
11.11.11.11

[DOWNLOAD]
qe/6.4 https://github.com/QEF/q-e/archive/refs/tags/qe-6.4.1.tar.gz q-e-qe-6.4.1.tar.gz

[DEPENDENCY]
set -x
set -e
./jarvis -install bisheng/2.1.0 com
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/1.1.1 bisheng
module load hmpi/1.1.1
./jarvis -bench mpi
./jarvis -install openblas/0.3.18 bisheng
tar -xzvf ${JARVIS_DOWNLOAD}/q-e-qe-6.4.1.tar.gz

[ENV]
source /etc/profile
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module load hmpi/1.1.1
module load openblas/0.3.18
export BLAS_LIBS="-L${JARVIS_LIBS}/bisheng2.1.0/openblas/0.3.18/lib -lopenblas"
export LAPACK_LIBS="-L${JARVIS_LIBS}/bisheng2.1.0/openblas/0.3.18/lib -lopenblas"

[APP]
app_name = QE
build_dir = $JARVIS_ROOT/q-e-qe-6.4.1/
binary_dir = $JARVIS_ROOT/q-e-qe-6.4.1/bin/
case_dir = $JARVIS_ROOT/workloads/QE/qe-test/

[BUILD]
./configure F90=flang F77=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=no --enable-openmp
make -j pwall
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 128
binary = pw.x -input test_3.in
nodes = 1
