[SERVER]
11.11.11.11

[DEPENDENCY]
./jarvis -install bisheng/2.1.0 com
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
./jarvis -install hmpi/1.1.1 bisheng
module load hmpi/1.1.1
./jarvis -install cmake/3.20.5 bisheng
module load cmake/3.20.5
./jarvis -install kml/1.4.0/bisheng bisheng
./jarvis -install scalapack/2.1.0/kml bisheng
./jarvis -install fftw/3.3.10 bisheng
module load fftw/3.3.10 scalapack/2.1.0 cmake/3.20.5
#修改fortran_single的CMakeLists.txt，第10行，第74行，第75行
./jarvis -install block-davidson/3.14 bisheng
module load block-davidson/3.14

[ENV]
source /etc/profile
module purge
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=`which clang`
export CXX=`which clang++`
export FC=`which flang`
module load hmpi/1.1.1
module load fftw/3.3.10 scalapack/2.1.0 block-davidson/3.14
export BLAS_LIBS="-L/usr/local/kml/lib/kblas/omp -lkblas"
export LAPACK_LIBS="-L/usr/local/kml/lib -lklapack_full"
export SCALAPACK_LIBS="-L/home/fang/HT1/HPCRunner-master/software/libs/bisheng/scalapack/2.1.0/lib/ -lscalapack"

[APP]
app_name = QE
build_dir = /home/fang/HT1/HPCRunner-master/q-e-qe-6.4.1/
binary_dir = /home/fang/HT1/HPCRunner-master/q-e-qe-6.4.1/bin
case_dir = /home/fang/HT1/HPCRunner-master/workload/QE/GRIR443/

[BUILD]
# add tunning/QE/6.4/q-e-6.4.blockmesh.patch here
./configure F90=flang F77=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=yes --enable-openmp
make -j 96 pw
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np 128
binary = pw.x -input grir443.in
nodes = 1
