[SERVER]
11.11.11.11
[DOWNLOAD]
qe/6.4 $JARVIS_PROXY/QEF/q-e/archive/refs/tags/qe-6.4.1.tar.gz q-e-qe-6.4.1.tar.gz

[DEPENDENCY]
module purge
yum install -y libatomic
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
module load bisheng/kml${HPCKIT_VERSION}/kml
module load bisheng/kml${HPCKIT_VERSION}/kblas/multi
./jarvis -install cmake/3.20.5 bisheng
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load cmake/3.20.5
./jarvis -install fftw/3.3.10 bisheng
module load fftw/3.3.10  cmake/3.20.5
#修改fortran_single的CMakeLists.txt，第10行，第74行，第75行
./jarvis -install block-davidson/3.14 bisheng
module load block-davidson/3.14
rm -rf q-e-qe-6.4.1
tar -xvf ${JARVIS_DOWNLOAD}/q-e-qe-6.4.1.tar.gz
[ENV]
source /etc/profile
module purge
./jarvis -install hpckit/${HPCKIT_VERSION} any
module use ./software/utils/hpckit/${HPCKIT_VERSION}/HPCKit/${HPCKIT_VERSION}/modulefiles
module add bisheng/compiler${BISHENG_VERSION}/bishengmodule bisheng/hmpi${HMPI_VERSION}/release
module use ./software/moduledeps/bisheng${BISHENG_VERSION}
module load fftw/3.3.10  block-davidson/3.14

module load bisheng/kml${HPCKIT_VERSION}/kml
module load bisheng/kml${HPCKIT_VERSION}/kblas/multi

export KML_LIB=$JARVIS_UTILS/hpckit/${HPCKIT_VERSION}/HPCKit/latest/kml/bisheng/lib
export BLAS_PATH=$KML_LIB/${kp}/kblas/multi
export LAPACK_PATH=$KML_LIB/${kp}
export KM_LIB=$KML_LIB/noarch

export BLAS_LIBS="-L$BLAS_PATH -lkblas"
export LAPACK_LIBS="-L$LAPACK_PATH -L$KM_LIB -lkm -lkscalapack_full -lklapack_full"


[APP]
app_name = QE
build_dir = $JARVIS_ROOT/q-e-qe-6.4.1/
binary_dir = $JARVIS_ROOT/q-e-qe-6.4.1/bin/
case_dir = $JARVIS_ROOT/workloads/QE/qe-test

[BUILD]
# add tunning/QE/6.4/q-e-6.4.blockmesh.patch here
./configure F90=flang F77=flang MPIF90=mpifort MPIF77=mpifort CC=mpicc FCFLAGS="-O3" CFLAGS="-O3" --with-scalapack=yes --enable-openmp
make -j $(nproc) pw
make install

[CLEAN]
make clean

[RUN]
run = mpirun --allow-run-as-root -x OMP_NUM_THREADS=1 -np $(nproc)
binary = pw.x -input test_3.in
nodes = 1
