[SERVER]
11.11.11.11

[DOWNLOAD]
canu/1.8 ${JARVIS_PROXY}/marbl/canu/archive/refs/tags/v1.8.tar.gz canu-1.8.tar.gz

[DEPENDENCY]
module purge
module use ./software/modulefiles
./jarvis -install bisheng/4.1.0 com
module load bisheng/4.1.0
./jarvis -install hmpi/2.4.2 bisheng
module load hmpi/2.4.2
./jarvis -install boost/1.72.0/clang bisheng+mpi
module load boost-clang/1.72.0

tar -zxvf ${JARVIS_DOWNLOAD}/canu-1.8.tar.gz -C ${JARVIS_TMP_DOWNLOAD}
mkdir -p ${JARVIS_ROOT}/software/apps/canu

[ENV]
module purge
module use ./software/modulefiles
module load bisheng/4.1.0
module load hmpi/2.4.2
module load boost-clang/1.72.0

[APP]
app_name = canu
build_dir = ${JARVIS_TMP_DOWNLOAD}/canu-1.8/src
binary_dir = ${JARVIS_ROOT}/software/apps/canu/bin
case_dir = ${JARVIS_TMP_DOWNLOAD}/canu-1.8/src/canu_test

[BUILD]
sed -i '383c \ \ CXXFLAGS  += -D_GLIBCXX_PARALLEL -pthread -fopenmp -fPIC -stdlib=libc++ -std=c++14' Makefile
sed -i '384c \ \ LDFLAGS   += -D_GLIBCXX_PARALLEL -pthread -fopenmp -lm -stdlib=libc++ -std=c++14' Makefile
sed -i 's/-O4/-O3/g' Makefile
rm -rf utgcns/libboost/boost/
cp -ar ${JARVIS_LIBS}/bisheng4.1.0/hmpi2.4.2/boost-clang/1.72.0/include/boost/ utgcns/libboost/
if [ ! -f "/usr/include/sys/sysctl.h" ];then
  if [ -f "/usr/include/linux/sysctl.h" ];then
    sed -i 's%sys/sysctl.h%linux/sysctl.h%g' utility/system.C
  fi
  else echo "fatal error: 'sys/sysctl.h' file not found"
fi
make -j4
cp -ar ../Linux-aarch64/* ${JARVIS_ROOT}/software/apps/canu/

mkdir -p canu_test
cd canu_test/
curl -L -o oxford.fastq http://gembox.cbcb.umd.edu/mhap/raw/ecoli_p6_25x.filtered.fastq

[CLEAN]

[RUN]
run = dnf install -y gnuplot java-1.8.0-openjdk-devel && time
binary = canu -p ecoli -d ecoli-pacbio genomeSize=4.8m corPartitions=$(expr $(nproc) \* 4) corMemory=3 corPartitionMin=1000 corThreads=1 useGrid=false obtovlThreads=$(nproc) obtOvlHashBlockLength=682496000 utgOvlHashBlockLength=682496000 utgovlThreads=$(nproc) gridEngineMemoryOption="-l vf=MEMORY" -nanopore-raw oxford.fastq
nodes = 1
