[SERVER]
11.11.11.11

[DOWNLOAD]
calculix/2.19.0 https://github.com/precice/calculix-adapter/archive/refs/heads/master.tar.gz calculix-adapter-master.tar.gz
ccx/2.19 http://www.dhondt.de/ccx_2.19.src.tar.bz2

[DEPENDENCY]
module purge
./jarvis -install bisheng/2.1.0 com
module use ./software/modulefiles
module load bisheng/2.1.0
export CC=clang CXX=clang++ FC=flang
./jarvis -install hmpi/1.1.1 clang
module load hmpi/1.1.1
./jarvis -install spooles/2.2/clang clang
./jarvis -install arpack/96/clang clang
./jarvis -install yaml-cpp/0.6.2 clang
./jarvis -install eigen3/3.4.0 clang
./jarvis -install precice/2.3.0 clang
cd ${JARVIS_TMP}
tar xvf ${JARVIS_DOWNLOAD}/ccx_2.19.src.tar.bz2
tar xvf ${JARVIS_DOWNLOAD}/calculix-adapter-master.tar.gz

[ENV]
module use ./software/modulefiles
module purge
module load bisheng/2.1.0
module load hmpi/1.1.1
export CC=clang CXX=clang++ FC=flang
module load yaml-cpp/0.6.2
module load precice/2.3.0
export Eigen3_ROOT=${JARVIS_ROOT}/software/libs/bisheng2.1.0/eigen3/3.4.0
export PKG_CONFIG_PATH=${JARVIS_ROOT}/software/libs/bisheng2.1.0/precice/2.3.0/lib64/pkgconfig:$PKG_CONFIG_PATH
export CPATH=${JARVIS_ROOT}/software/libs/bisheng2.1.0/precice/2.3.0/include:$CPATH

[APP]
app_name = calculix
build_dir = ${JARVIS_ROOT}
binary_dir = ./software/apps/bisheng/calculix/2.19.0
case_dir =

[BUILD]
cd ${JARVIS_TMP}/calculix-adapter-master
sed -i "6c\CCX = ${JARVIS_TMP}/CalculiX/ccx_2.19/src" Makefile
sed -i "10c\SPOOLES_INCLUDE = -I/${JARVIS_TMP}/SPOOLES.2.2" Makefile
sed -i "12c\SPOOLES_LIBS = ${JARVIS_TMP}/SPOOLES.2.2/spooles.a" Makefile
sed -i "15c\ARPACK_INCLUDE = -I/${JARVIS_TMP}/ARPACK" Makefile
sed -i "17c\ARPACK_LIBS = ${JARVIS_TMP}/ARPACK/libarpack_INTEL.a" Makefile
sed -i "20c\YAML_INCLUDE = -I/${JARVIS_TMP}/yaml-cpp-yaml-cpp-0.6.2/include" Makefile
sed -i "22c\YAML_LIBS = -L/${JARVIS_TMP}/yaml-cpp-yaml-cpp-0.6.2/build -lyaml-cpp" Makefile
sed -i '55c\CFLAGS = -Wall -O3 -fopenmp $(INCLUDES) -DARCH="Linux" -DSPOOLES -DARPACK -DMATRIXSTORAGE' Makefile
sed -i '60c\CC = clang' Makefile
sed -i '62c\CC = clang' Makefile
sed -i '67c\FC = flang' Makefile


make clean
make -j

[RUN]
run =
binary =
nodes = 1

